/* ==========================================================================
   Global Footer
   ========================================================================== */

.global-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin: rem($pageOffset/2) 0 0;
    background-color: $c-neutral8;

    @include mq(mobileLandscape) {
        margin-top: rem($pageOffset);
    }
}
.global-footer__primary {
    position: relative;
    overflow: hidden;
    background-color: darken($mem-brandBlue, 5%);
}
.global-footer__brand {
    @include clearfix;
    background-color: $mem-brandBlue;
    padding-left: rem($gs-gutter / 4);
    padding-right: rem($gs-gutter / 4);

    @include mq(mobileLandscape) {
        padding-left: rem($gs-gutter / 2);
        padding-right: rem($gs-gutter / 2);
    }
}
.global-footer__top {
    float: left;
    height: rem(48px);
    padding-top: rem($gs-baseline / 2);
    padding-bottom: rem($gs-baseline / 2);
}
.global-footer__logo {
    margin-top: rem($gs-baseline * .75);
    float: right;
    line-height: 0;
}
.global-footer__secondary {
    @include box-sizing(border-box);
    @include font($f-sans-serif-text, normal, 13, 19);
    color: $c-neutral1;
    padding-right: rem($gs-gutter / 2);
    padding-left: rem($gs-gutter / 2);

    a {
        color: $c-neutral1;
    }

    @include mq(tablet) {
        padding-right: rem($gs-gutter);
        padding-left: rem($gs-gutter);
    }
}
.global-footer__misc {
    padding-top: rem($gs-baseline / 2);
    padding-bottom: rem($gs-baseline * 1.5);
    border-top: 1px solid $c-neutral4;
}

/* Footer - Colophon
   ========================================================================== */

.colophon {
    @include fs-bodyHeading(1);
    list-style: none;
    margin: 0;
    padding-top: rem($gs-baseline * 2);
    padding-bottom: rem($gs-baseline / 2);

    @include columns(2);

    @include mq(tablet) {
        @include columns(3);
    }

    @include mq(wide) {
        @include columns(4);
    }

    a {
        display: inline-block;
        padding-bottom: rem($gs-baseline / 2);
    }
}
.colophon__item {
    @include box-sizing(border-box);
}

.really-serious-copyright {
    margin-bottom: rem($gs-baseline / 3);
}
