$tabletFooterCols:  4;
$desktopFooterCols: 6;
$wideFooterCols:    9;

footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $c-neutral8;
    @include rem((
        min-height: 100px
    ));

    @include mq(tablet) {
        bottom: 0;
    }
    .copy {
        @include fs-data(6);
        text-align: center;
        margin: 48px 0 0;
    }
}

/* Elements modifiers specific to the footer
   ========================================================================== */

.guardian-logo-footer {
    margin-top: $gs-baseline * .75;
    float: right;
    line-height: 0;
}

/* Footer
   ========================================================================== */

.l-footer {
    @include rem((
        padding: 0 0 ($gs-baseline/3)*4
    ));
    background: $c-neutral6;
    z-index: 1; // Above side margins

    .hide-in-footer {
        display: none !important;
    }

    .gs-container {
        @include box-sizing(border-box);

        @include mq(desktop) {
            @include rem((
                width: gs-span(12)+$gs-gutter*2
            ));
        }

        @include mq(mem-full) {
            @include rem((
                width: gs-span(14)+$gs-gutter*2
            ));
        }
    }

    .control__info {
        color: #ffffff;
        display: inline-block;

        @include rem((
            padding-left: $gs-gutter/2
        ));
    }
}

.l-footer__primary {
    background: #ffffff;
}

.l-footer__banner {
    border-top: 2px solid $c-brandBlue;
    @include rem((
        margin-bottom: ($gs-baseline/3)*2
    ));
}

@include mq(tablet) {
    .js-on .l-footer__navigation-wrapper {
        display: none;
    }
}

.l-footer__primary {
    position: relative;
    overflow: hidden;
    background-color: darken($mem-blue, 12%);
}

.l-footer__secondary {
    @include font($sans-serif, normal, 13, 19);
    color: lighten($c-neutral2, 15%);
    @include rem((
        padding: ($gs-baseline/3)*5 $gs-gutter/2 ($gs-baseline/3)
    ));

    @include mq(mobileLandscape) {
        @include rem((
            padding-left: $gs-gutter,
            padding-right: $gs-gutter
        ));
    }
    @include mq(tablet) {
        @include rem((
            padding-top: ($gs-baseline/3)*2
        ));
    }

    a {
        color: darken($c-neutral2, 3%); // Enhance contrast on non-white background
    }
}

.colophon {
    list-style: none;
    @include rem((
        margin: 0 0 $gs-baseline
    ));

    @include mq(tablet) {
        float: right;
        @include rem((
            width: gs-span($tabletFooterCols),
            margin-left: gs-span(1)
        ));
    }
    @include mq(desktop) {
        @include rem((
            width: gs-span($desktopFooterCols)
        ));
    }
    @include mq(wide) {
        @include rem((
            width: gs-span($wideFooterCols)
        ));
    }

    a {
        @include rem((
            margin-bottom: 6px
        ));
        display: block;
    }
}

.colophon__item {
    float: left;
    width: 50%;
    @include box-sizing(border-box);

    @include mq($from: tablet) {
        @include rem((
            margin-right: $gs-gutter
        ));
    }

    @include mq(tablet, desktop) {
        @include rem((
            width: gs-span($tabletFooterCols/2),
        ));
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include mq(desktop, wide) {
        @include rem((
            width: gs-span($desktopFooterCols/3),
        ));
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @include mq(wide) {
        @include rem((
            width: gs-span($wideFooterCols/3),
        ));
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.l-footer__misc {
    border-top: 1px solid lighten($c-neutral2, 40%);
    @include rem((
        padding-top: $gs-baseline/3 - 1
    ));

    @include mq(tablet) {
        padding-top: 0;
        border-top: 0;
    }
}

.really-serious-copyright {
    @include rem((
        margin-bottom: $gs-baseline/3
    ));
}
