/* ==========================================================================
   Global Footer
   ========================================================================== */

.l-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin: rem($pageOffset/2) 0 0;
    background-color: $c-neutral8;

    @include mq(mobileLandscape) {
        margin-top: rem($pageOffset);
    }

    // TODO: Review layout container styles. Can these be abstracted
    .gs-container {
        @include mq(desktop) {
            max-width: rem(gs-span(12) + $gs-gutter * 2);
        }

        @include mq(mem-full) {
            max-width: rem(gs-span(14) + $gs-gutter * 2);
        }
    }
}
.l-footer__banner {
    border-top: rem(2px) solid $c-brandBlue;
    margin-bottom: rem(($gs-baseline / 3) * 2);
}
.l-footer__primary {
    position: relative;
    overflow: hidden;
    background-color: darken($mem-blue, 12%);
}
.l-footer__secondary {
    @include box-sizing(border-box);
    @include font($f-sans-serif-text, normal, 13, 19);
    padding-right: rem($gs-gutter / 2);
    padding-left: rem($gs-gutter / 2);
    color: $c-neutral1;

    @include mq(tablet) {
        padding-right: rem($gs-gutter);
        padding-left: rem($gs-gutter);
    }

    a {
        color: $c-neutral1;
    }
}
.l-footer__misc {
    padding-top: rem($gs-baseline / 2);
    padding-bottom: rem($gs-baseline * 1.5);
    border-top: 1px solid $c-neutral4;
}

.guardian-logo-footer {
    margin-top: rem($gs-baseline * .75);
    float: right;
    line-height: 0;
}

.colophon {
    @include fs-bodyHeading(1);
    list-style: none;
    margin: 0;
    padding-top: rem($gs-baseline * 2);
    padding-bottom: rem($gs-baseline / 2);

    @include columns(2);

    @include mq(tablet) {
        @include columns(3);
    }

    @include mq(wide) {
        @include columns(4);
    }

    a {
        display: inline-block;
        padding-bottom: rem($gs-baseline / 2);
    }
}
.colophon__item {
    @include box-sizing(border-box);
}

.really-serious-copyright {
    margin-bottom: rem($gs-baseline / 3);
}
