/* ==========================================================================
   Global Footer
   ========================================================================== */

.global-footer {
    width: 100%;
    margin: rem($gs-baseline) 0 0;
    background-color: $c-neutral8;
    position: relative;
    z-index: 2;

    @include mq(mobileLandscape) {
        margin-top: rem($gs-baseline * 3);
    }
}
.global-footer__primary {
    position: relative;
    overflow: hidden;
    background-color: darken($mem-brandBlue, 5%);
}
.global-footer__brand {
    @include clearfix;
    background-color: $mem-brandBlue;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 4);

    @include mq(mobileLandscape) {
        padding-left: rem($gs-gutter / 2);
        padding-right: rem($gs-gutter / 2);
    }
}
.global-footer__logo {
    float: right;
    line-height: 0;
    width: 250px;
}
.global-footer__secondary {
    @include box-sizing(border-box);
    @include font($f-sans-serif-text, normal, 13, 19);
    color: $c-neutral1;
    padding-right: rem($gs-gutter / 2);
    padding-left: rem($gs-gutter / 2);

    a {
        color: $c-neutral1;
    }

    @include mq(tablet) {
        padding-right: rem($gs-gutter);
        padding-left: rem($gs-gutter);
    }
}
.global-footer__misc {
    padding-top: rem($gs-baseline / 2);
    padding-bottom: rem($gs-baseline * 1.5);
    border-top: 1px solid $c-neutral4;
}

/**
 * Back to top
 */
.to-top {
    display: table;
}
.to-top__item {
    display: table-cell;
    vertical-align: middle;
}
.to-top__label {
    @include fs-bodyHeading(1);
    color: $black;
    padding-left: rem($gs-gutter / 4);
    text-transform: lowercase;
}

/* Footer - Colophon
   ========================================================================== */

.colophon {
    @include clearfix();
    @include fs-bodyHeading(1);
    list-style: none;
    margin: 0;
    padding-top: rem($gs-baseline * 2);
    padding-bottom: rem($gs-baseline / 2);

    @include mq(desktop) {
        max-width: 75%;
    }

    a {
        display: inline-block;
        padding-bottom: rem($gs-baseline / 2);
    }
}
.colophon__item {
    box-sizing: border-box;
    float: left;
    display: block;
    width: 50%;

    @include mq(tablet) {
        width: 33.333%;
    }
}

.really-serious-copyright {
    margin-bottom: rem($gs-baseline / 3);
}
