$header-padding: 20px;
$header-margin: 36px;

.header {
    @include rem((
        margin-bottom: $header-margin
    ));
    .header__inner--popup {
        padding: 0;
        position: relative;
    }
    .header__branding {
        // move the logo area above side margins
        z-index: 2;
        position: relative;
        background-color: transparentize($mem-blue, .2);
        @include rem((
            padding-top: 10px,
            padding-bottom: 5px
        ));
        @include mq($from: desktop) {
            @include side-margins-calc('padding-left');
            @include side-margins-calc('padding-right');
        }
    }
    .header__primary {
        @include rem((
            margin-left: $header-padding
        ));
        float: left;
    }
    .header__secondary {
        @include rem((
            margin-right: $header-padding
        ));
        float: right;
        width: 200px;
        i {
            background-size: 200px;
        }

        @include mq(mobileLandscape) {
            width: 320px;
            i {
                background-size: 320px;
            }
        }

        @include mq(desktop) {
            width: auto;
            i {
                background-size: auto;
            }
        }
    }
    .header__menu {
        display: none;
    }

    .header__logo {
        clear: right;
    }
}

.menu-item {
    float: left;
    @include rem((
        padding-top: 0,
        margin-right: 15px
    ));
    @include mq(tablet) {
        @include rem((
            padding-top: 8px
        ));
    }

    &:hover {
        color: $white;
    }
}

.menu-item--large {
    @include rem((
        padding-top: 3px
    ));
}

.menu-item--last {
    border: 0;
    margin: 0;
}

.menu-item--active {
    // for text underlines
    color: $white;

    .icon-sprite-user-black {
        @extend %icon-sprite-user-white;
        color: $white !important;
    }
    .control {
        border: 1px solid $white !important;
    }
    .control__info {
        color: $white !important;
    }
}

.menu-hamburger--active {
    border-color: $white;
    .icon-sprite-menu-black {
        @extend %icon-sprite-menu-white;
    }
}

.menu-cta {
    @include rem((
        padding: 8px 35px,
        border: 1px solid $white
    ));
    color: $white;
    display: block;
    &:hover {
        color: $black;
        color: $black-trans;
        background-color: $white;
    }
}

.identity__notice {
    @include fs-data(4);
}

/* Media Queries
   ========================================================================== */
@include mq(tablet) {
    .header {
        .i-logo {
            @include rem((
                margin-top: $gs-gutter/2,
                margin-bottom: $gs-gutter/2
            ));
        }
    }
}
