%section-header {
    background-color: $white;
}

.section-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(8);
    }

    border-top: rem(20px) solid $mem-blue;
    display: inline-block;
    padding-top: rem($gs-baseline / 3);
    margin-bottom: rem($gs-baseline * 4);
}

.section-headline--no-border {
    padding-top: rem($gs-baseline);
    border-top: 0;
}

.section-sub-headline {
    @extend %section-header;
    @include fs-headline(4);
    padding-top: rem($gs-baseline / 2);
}

.section-body-headline {
    @extend %section-header;
    @include fs-headline(4);
}

.section-sub-body-headline {
    @extend %section-header;
    @include fs-bodyHeading(4);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include fs-headline(2);
}

.header-bar {
    padding-left: rem($gs-gutter / 2);

    .header-bar__title {
        @include fs-headline(4);
        padding: rem($gs-gutter / 2) 0 rem(55px);
        max-width: rem(gs-span(8));
    }

    &.header-bar--guardian-live {
        position: relative;
        background-color: transparentize($mem-live-accent, .1);
        padding-right: rem($gs-gutter / 2);

        .header-bar__title {
            color: $white;
        }

        .header-bar__guardian-live-logo {
            position: absolute;
            right: rem($gs-gutter / 2);
            top: rem(150px);
        }

        i {
            background-size: 100%;
            width: rem(31px);
            height: rem(45px);
        }
    }

    @include mq(tablet) {
        min-height: rem(132px);
        padding-left: rem($gs-gutter);

        .header-bar__title {
            @include fs-headline(6);
            padding: rem($gs-gutter) 0;
        }
        &.header-bar--guardian-live {
            .header-bar__guardian-live-logo {
                right: rem($gs-gutter);
                top: rem($gs-gutter * 2);
            }
            i {
                width: rem(62px);
                height: rem(90px);
                background-size: 100%;
            }
        }
    }

    @include mq(desktop) {
        &.header-bar--guardian-live {
            padding-right: rem(102px);
            .header-bar__guardian-live-logo {
                right: rem($gs-gutter);
                top: rem($gs-gutter * 2 + $gs-baseline);
            }
        }
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter * 2); // 180
        .header-bar__title {
            @include fs-headline(7);
        }
    }
}

