/* ==========================================================================
   Headings
   ========================================================================== */
// TODO: Merge with text helpers in _type.scss?

%section-header {
    background-color: $white;
}

.section-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(7);
    }

    display: inline-block;
    padding-top: rem($gs-baseline - 2);
    margin-bottom: rem($gs-baseline * 4);
}

.section-headline--no-margin {
    padding-top: rem(4px);
    border-top: 0;
    margin-bottom: 0;
}

.section-headline--padding-left {
    border-top: 0;

    @include mq(desktop) {
        padding-left: rem(gs-span(2));
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter);
    }
}

.section-intro {
    @include fs-bodyCopy(2);

    @include mq(desktop) {
        @include fs-bodyCopy(3);
    }
}

.section-sub-headline {
    @extend %section-header;
    @include fs-headline(4);
    padding-top: rem($gs-baseline / 2);
}

.section-body-headline {
    @extend %section-header;
    @include fs-headline(4);
}
