%section-header {
    background-color: $white;
}

.section-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(7);
    }

    display: inline-block;
    padding-top: rem($gs-baseline - 2);
    margin-bottom: rem($gs-baseline * 4);
}

.section-headline--no-margin {
    padding-top: rem(4px);
    border-top: 0;
    margin-bottom: 0;
}

.section-headline--padding-left {
    border-top: 0;

    @include mq(desktop) {
        padding-left: rem(gs-span(2));
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter);
    }
}

.section-intro {
    @include fs-bodyCopy(2);

    @include mq(desktop) {
        @include fs-bodyCopy(3);
    }
}

.section-sub-headline {
    @extend %section-header;
    @include fs-headline(4);
    padding-top: rem($gs-baseline / 2);

    &--top-border {
        @include fs-headline(2);
        border-top: 1px solid $c-neutral3;
        padding: rem(5px) 0 rem($gs-gutter + 5);
    }
}

.section-body-headline {
    @extend %section-header;
    @include fs-headline(4);
}

/* ==========================================================================
   Header Bar
   ========================================================================== */

.header-bar {
    position: relative;
    padding-left: rem($gs-gutter / 2);
    padding-right: rem($gs-gutter / 2);

    .header-bar__title {
        @include fs-headline(4);
        padding: rem($gs-gutter / 2) 0 rem(55px);
        max-width: rem(gs-span(8));
    }

    @include mq(tablet) {
        min-height: rem(132px);
        padding-left: rem($gs-gutter);

        .header-bar__title {
            @include fs-headline(6);
            padding: rem($gs-gutter) 0;
        }
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter * 2); // 180
        .header-bar__title {
            @include fs-headline(7);
        }
    }
}
