/* ==========================================================================
   Global Header
   ========================================================================== */

.header {
    position: relative;
    margin-bottom: rem($gs-baseline);

    .header__inner--popup {
        padding: 0;
        position: relative;
    }
    .header__branding {
        background-color: transparentize($mem-brandBlue, .1);
        padding-top: rem($gs-gutter / 4);
        padding-bottom: rem($gs-gutter / 4);
        height: rem(48px);

        @include mq(tablet) {
            height: auto;
        }

        @include mq($from: desktop) {
            @include side-margins-calc('padding-left');
            @include side-margins-calc('padding-right');
        }
    }
    .header__primary {
        float: left;
        padding-left: rem($gs-gutter / 2);
        padding-right: 0;
        @include mq(mobileLandscape) {
            padding-right: rem($gs-gutter / 2);
        }
    }

    .header__secondary {
        float: right;
        width: auto;
        margin-right: rem($gs-gutter / 2);

        @include mq(mobile) {
            margin-right: rem($gs-gutter / 2);
        }
    }

    .header__logo {
        clear: right;
        width: rem(243px);
        float: right;
        margin-right: rem($gs-gutter / 2);
        height: rem(25px);

        @include mq(tablet) {
            width: auto;
            margin-bottom: rem($gs-gutter);
            height: rem(50px);
        }
    }
}

.identity__tier {

    &:before {
        vertical-align: top;
        content: '(';
    }

    &:after {
        vertical-align: top;
        content: ')';
    }
}

.menu-item {
    float: left;
    padding-top: 0;

    @include mq(tablet) {
        margin-right: rem(15px);
        padding-top: rem(3px);
    }

    &:hover {
        color: $white;
    }
}

.menu-item--last {
    border: 0;
    margin: 0;
}

.menu-item--active {
    // for text underlines
    color: $white;

    .icon-user-black {
        @extend %icon-user-white;
        color: $white !important;
    }
}

.close-icon-white--active {
    border-color: $white;
    .icon-menu-white {
        @extend %icon-close-icon-white;
    }
}

.identity__notice {
    @include fs-data(4);
}

/* Media Queries
   ========================================================================== */
@include mq(tablet) {
    .header {
        .i-logo {
            margin-top: rem($gs-gutter / 2);
            margin-bottom: rem($gs-gutter / 2);
        }
    }
}
