/* ==========================================================================
   Global Header
   ========================================================================== */

.global-header {
    background-color: color(brand-main);
    position: relative;
    z-index: 2;
}
.global-header__inner {
    @include brand-background();
    padding-bottom: $global-toggle-height;

    @include mq(tablet) {
        padding-bottom: 0;
    }
}
.global-header__branding {
    @include clearfix();
    padding: ($gs-gutter / 4) $gs-gutter;
    height: 48px;

    @include mq(tablet) {
        height: auto;
    }
}
.global-header__primary {
    float: left;
    padding-left: ($gs-gutter / 2);
    padding-right: 0;

    @include mq(mobileLandscape) {
        padding-right: ($gs-gutter / 2);
    }
}
.global-header__logo {
    float: right;
    width: auto;
    margin: ($gs-gutter / 2) 0;
}
.global-header__logo__image {
    height: 50px;
    width: auto;

    @include mq(tablet) {
        height: 70px;
    }
}
.global-header__logo__link {
    display: block;
}
