//TODO the patron page and the about page have new designs coming to align the layout of these pages with the
//TODO homepage. When the designs are ready then would be a good time to refactor this work.

/*

    .home-slice containers display site brochure content wether full width or cropped to breakpoint with
    modifiers for content oriented blocks (.home-slice--content) or hero style blocks (.home-slice--epic).

    Responsiveness is a little scrappy right now but works well - could do with a refactor.

     - Chris Finch, 04/09/14

*/

.home-slice {

    position: relative;

    // White backing for homeslice containers (layered with images)
    &:before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -2;
        display: block;
        background-color: $white;
        width: 100%;
        height: 100%;
    }

    // Background images for homeslice containers (can be full with with modifier)
    &:after {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        display: block;
        width: 100%;

        padding-bottom: -webkit-calc((100% / 5) * 3);
        padding-bottom: -moz-calc((100% / 5) * 3);
        padding-bottom: -o-calc((100% / 5) * 3);
        padding-bottom: calc((100% / 5) * 3);

        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-position: top center;
        background-image: url(/assets/images/mem-bg-events.jpg);
        background-size: contain;

        @include mq(tablet) {
            content: '';
            position: absolute;
            top: 0;
            z-index: -1;
            display: block;
            width: 100%;
            padding-bottom: 0;
            height: rem(560px);

            background-repeat: no-repeat;
            background-position: center center;
            background-position-x: center;
            background-position-y: center;
            background-image: url(/assets/images/mem-bg-events.jpg);
            background-size: cover;
        }

        @include mq(desktop) {
            left: 50%;
            margin-left: rem(-#{(gs-span(12) + $gs-gutter * 2) / 2});
            width: rem(gs-span(12) + $gs-gutter * 2);
        }

        @include mq(mem-full) {
            margin-left: rem(-#{(gs-span(14) + $gs-gutter * 2) / 2});
            width: rem(gs-span(14) + $gs-gutter * 2);
        }
    }

    // Per-homeslice images ================================================ //

    &.home-slice--home-two:after {
        background-image: url(/assets/images/homeslice/740-Russell-Brand.jpg);
        @include mq(tablet) {
            background-image: url(/assets/images/homeslice/1140-Russell-Brand.jpg);
        }
    }

    &.home-slice--home-four:after {
        background-image: url(/assets/images/homeslice/740-Midland-goods-shed.jpg);
        @include mq(tablet) {
            background-image: url(/assets/images/homeslice/1140-Midland-goods-shed.jpg);
        }
    }

    &.home-slice--patron-two:after {
        background-image: url(/assets/images/homeslice/patrons/740-Alan-profile.jpg);
        @include mq(tablet) {
            background-image: url(/assets/images/homeslice/patrons/1140-Alan-profile.jpg);
        }
    }

    &.home-slice--patron-four:after {
        background-image: url(/assets/images/homeslice/patrons/740-Get-involved.jpg);
        @include mq(tablet) {
            background-image: url(/assets/images/homeslice/patrons/1140-Get-involved.jpg);
        }
    }

    // Inner container set to breakpoint width for content
    .home-slice__inner {
        position: relative;
        width: 100%;
        padding-bottom: rem($gs-gutter);

        .home-slice__headline-block {
            width: 100%;
            min-height: rem(104px);
            padding: rem($gs-gutter) rem($gs-gutter / 2);
            background-color: transparentize($mem-brandBlue, .1);

            margin-top: -webkit-calc(((100%/5)*3) - #{$gs-gutter/2});
            margin-top: -moz-calc(((100%/5)*3) - #{$gs-gutter/2});
            margin-top: -o-calc(((100%/5)*3) - #{$gs-gutter/2});
            margin-top: calc(((100%/5)*3) - #{$gs-gutter/2});

            @include mq(tablet) {
                float: left;
                position: absolute;
                margin-top: 0;
                width: rem(320px);
                min-height: rem(160px);
                padding: rem($gs-gutter);
            }

            @include mq(mem-full) {
                position: static;
                width: rem(480px);
                padding: rem($gs-gutter);
            }
        }

        .home-slice__headline {
            @include fs-headline(5);
            color: $black;
            @include mq(tablet) {
                @include fs-headline(7);
            }
            .headline-highlight {
                color: $white;
            }
        }

        .home-slice__copy-block {
            width: 100%;
            background-color: $white;
            padding: rem($gs-gutter / 2);

            @include mq(tablet) {
                float: right;
                margin-top: rem(400px); // 560-160
                padding: rem($gs-gutter);
                width: rem(660px);
            }

            .home-slice__copy {
                @include fs-headline(3);
                font-weight: 100;
                margin-bottom: rem(17px);

                @include mq(tablet) {
                    @include fs-headline(5);

                    & + .action {
                        margin-top: 0;
                    }
                }
            }

            .action {
                margin: 0 0 rem(17px);

                @include mq(tablet) {
                    margin: rem(13px) 0 rem(17px);

                    & + .action {
                        margin-left: $gs-gutter / 2;
                    }
                }
            }
        }
    }

    // Title block colour modifiers ======================================== //

    &.home-slice--red .home-slice__headline-block {
        background-color: transparentize($c-tone-live-accent, .1);
        .home-slice__headline {
            color: $white;
        }
    }

    &.home-slice--green .home-slice__headline-block {
        background-color: transparentize($mem-green, .1);
    }

    // Type modifiers ====================================================== //

    &.home-slice--content {
        background-color: $white;
        &:before,
        &:after {
            display: none;
        }

        .home-slice__headline-block {
            width: 100%;
            background-color: transparentize($mem-brandBlue, .1);
            position: relative;
            z-index: 2;
            margin-top: rem(-$gs-gutter/2);

            @include mq(tablet) {
                margin: 0;
                position: absolute;
                float: none;
                z-index: 2;
                right: 0;
                top: 0;
                width: rem(320px);
                min-height: rem(160px);
            }

            @include mq(mem-full) {
                width: rem(500px);
            }
        }

        .home-slice__copy-block {
            z-index: 1;
            margin-top: 0;
            width: 100%;
            padding: 0;

            @include mq(tablet) {
                padding: 0 rem($gs-gutter) rem($gs-gutter);
            }

            @include mq(desktop) {
                float: left;
                width: rem(800px);
                padding: 0 0 rem($gs-gutter) rem($gs-gutter);
            }

            .home-slice__media {
                width: 100%;
                overflow: hidden;
                font-size: 0;

                @include mq(tablet) {
                    position: static;
                    max-width: rem(460px);
                    max-height: rem(276px);
                }

                @include mq(desktop) {
                    float: left;
                    max-width: rem(700px);
                    max-height: rem(420px);
                }
            }
            .home-slice__offset-copy {
                display: block;
                width: 100%;
                padding: rem($gs-gutter) rem($gs-gutter / 2) rem($gs-gutter / 2);

                @include mq(desktop) {
                    float: right;
                    width: rem(620px);
                }

                .home-slice__copy--quote {
                    display: block;
                    @include fs-headline(3);
                    @include mq(tablet) {
                        @include fs-headline(6);
                    }
                }
                .home-slice__copy--cite {
                    display: block;
                    @include fs-headline(2);
                    font-style: normal;
                    font-weight: lighter;
                    margin-bottom: rem(17px);
                    @include mq(tablet) {
                        @include fs-headline(3);
                    }
                }
            }
        }
    }

    &.home-slice--epic {
        padding-top: rem(224px);

        &:before {
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            z-index: -2;
            display: block;
            background-color: $white;
            width: 100%;

            height: -webkit-calc(100% - 234px);
            height: -moz-calc(100% - 234px);
            height: -o-calc(100% - 234px);
            height: calc(100% - 234px);
        }

        @include mq(tablet) {
            padding-top: rem(164px); // 200 - 36 header margin
            &:before {
                height: -webkit-calc(100% - 560px);
                height: -moz-calc(100% - 560px);
                height: -o-calc(100% - 560px);
                height: calc(100% - 560px);
            }
        }

        &:after {
            display: none;
            background-image: none;
        }

        .home-slice__headline-block {
            padding-right: rem($gs-gutter * 3);

            @include mq($until: tablet) {
                margin-top: 0;
            }

            @include mq(tablet) {
                position: absolute;
                top: 0;
                right: 0;
                left: auto;
                width: rem(660px);
            }

            @include mq(mem-full) {
                left: 0;
                right: auto;
                width: rem(480px);
            }
        }

        .home-slice__copy-block {
            @include mq(tablet) {
                margin-top: rem(250px);
            }
        }

        &.home-slice--epic-home-page {
            @include mq(tablet) {
                .home-slice__inner {
                    height: rem(754px);
                }
            }

            .home-slice__headline-block {
                @include mq(tablet) {
                    position: absolute;
                    top: auto;
                    bottom: rem(398px);
                }
            }
            .home-slice__copy-block {
                @include mq(tablet) {
                    margin-top: rem(396px); // 560-200-160
                }
            }
        }

    }

    &.home-slice--join-today {
        background-color: $c-neutral6;

        .home-slice__headline {
            padding: rem($gs-gutter / 2);

            @include mq(tablet) {
                padding: rem($gs-gutter);
                padding-bottom: rem($gs-gutter * 4);
            }
        }

    }

    /* Media Queries
       ================================================================= */

    @include mq(tablet) {
        .home-slice__inner {
            width: 100%;
            margin: 0 auto;
        }
    }

    @include mq(desktop) {
        .home-slice__inner {
            width: rem(gs-span(12) + $gs-gutter * 2);
        }

        &.home-slice--content .home-slice__inner .home-slice__headline-block {
            width: rem(340px);
        }


    }

    @include mq(mem-full) {
        .home-slice__inner {
            width: rem(gs-span(14) + $gs-gutter * 2);
        }

        &.home-slice--content .home-slice__inner .home-slice__headline-block {
            width: rem(500px);
        }

        &.home-slice--join-today .join-today__join-boxes {
            padding-left: rem(180px);
        }
    }

}


/* Join Today Boxes
   ================================================================= */

.join-today__join-boxes {
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-gutter);
    }

    @include mq($from: mobile, $until: desktop) {
        display: block;
    }
}

.join-today__join-box {
    position: relative;
    margin-bottom: rem($gs-gutter);
    padding: rem(68px) rem($gs-gutter / 2) rem($gs-gutter / 2);

    @include mq(tablet) {
        width: rem(gs-span(3));
        margin-right: rem($gs-gutter);
    }

    @include mq($from: tablet, $until: desktop) {
        width: 100%;
        padding: 68px+$gs-gutter*2 $gs-gutter $gs-gutter*2;
    }

    @include mq(desktop) {
        width: rem(gs-span(4));
        margin-right: rem($gs-gutter);
        padding: rem(68px) rem($gs-gutter) rem($gs-gutter);
        min-height: rem(400px);
    }

    &:last-child {
        margin-right: 0;
    }

    .action {
        width: 100%;
        margin: 0;
        &:after {
            margin-left: 0;
        }

        @include mq($until: tablet) {
            width: 100%;
            margin: 0;
            min-width: 0;
            .action__text {
                max-width: 67%;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
            }
        }

        @include mq($from: tablet, $until: desktop) {
            width: auto;
            min-width: rem(260px);
        }
        @include mq(desktop) {
            position: absolute;
            bottom: $gs-gutter;
            left: $gs-gutter;
            margin: 0;
            width: -webkit-calc(100% - #{$gs-gutter*2});
            width: -moz-calc(100% - #{$gs-gutter*2});
            width: -o-calc(100% - #{$gs-gutter*2});
            width: calc(100% - #{$gs-gutter*2});
            .action__text {
                max-width: 76%;
            }
        }
    }

    &.join-today__join-box--stripped-down-standalone {
        padding: 0;
        border: 0;
        height: auto;
        min-height: 0;

        .join-today__join-box--header {
            display: none;
        }

        .action {
            position: static;
            width: 100%;
            margin: $gs-gutter 0 0 !important;
        }
    }
}

.join-today__join-box--header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include fs-headline(3);
    padding: rem($gs-gutter) rem($gs-gutter) rem($gs-gutter) rem(65px);

    &:before {
        @extend %icon-g-white-36;
        content: '';
        display: block;
        position: absolute;
        left: rem($gs-gutter);
        top: rem(15px);
    }

    &.join-today__join-box--header--friends {
        background-color: $c-neutral1;
        color: $white;
    }

    &.join-today__join-box--header--partner {
        background-color: $c-tone-partner;
        color: $black;
    }

    &.join-today__join-box--header--patron {
        background-color: $c-tone-patron;
        color: $white;
    }
}

@include mq($from: tablet, $until: desktop) {
    .join-today__teaser {
        display: inline-block;
        width: 55%;
        vertical-align: top;
    }
}
