html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;

    @include mq(tablet) {
        background: url(/assets/images/mem-bg-events.jpg) repeat-y center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.events-bg,
    &.about-membership {
        background-attachment: fixed;
        background-repeat: repeat-y;
        background-position-x: left;
        background-position-y: center;

        @include mq(tablet) {
            background-image: url(/assets/images/mem-bg-events.jpg);
            background-position-x: center; // this image has white at the top center so on mobile it looks as though no image has loaded - left aligning on mobile as a temp fix.
        }
    }

    &.home-page {

        background: url(/assets/images/backgrounds/400-Home-hero.jpg) no-repeat top center fixed;

        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background: url(/assets/images/backgrounds/400-Home-hero-2x.jpg) no-repeat top center fixed;
            background-size: rem(400px) rem(444px);
        }

        @include mq(400px) {
            background: url(/assets/images/backgrounds/740-Home-hero.jpg) no-repeat top center fixed;
            background-size: auto auto;
        }

        @include mq(tablet) {
            background: url(/assets/images/backgrounds/1920-Home-hero.jpg) no-repeat top center fixed;
            background-size: auto auto;
        }
    }

    &.about-membership {
        background: url(/assets/images/backgrounds/740-About-hero.jpg) no-repeat top center fixed;
        @include mq(tablet) {
            background: url(/assets/images/backgrounds/1920-About-hero.jpg) no-repeat top center fixed;
        }
    }

    &.patron-page {
        background: url(/assets/images/backgrounds/740-Patrons-hero.jpg) no-repeat top center fixed;
        @include mq(tablet) {
            background: url(/assets/images/backgrounds/1920-Patrons-hero.jpg) no-repeat top center fixed;
        }
    }

}

body {
    min-height: 100%;
    margin-bottom: rem(252px); // Magic numbers refer to footer height

    @include mq(tablet) {
        margin-bottom: rem(218px);
    }

    @include mq(wide) {
        margin-bottom: rem(220px);
    }
}

.header {
    position: relative;
}

// note: the max-widths set here
// are duplicated in mixins.scss
// for the side-margins function
// please duplicate your changes
// this alignment is too perfect
.page-container {
    background-color: $white;
    padding: 0 rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: 0 $gs-gutter;
        max-width: gs-span(12)+($gs-gutter*2);
    }

    @include clearfix;
    position: relative;
    margin: 0 auto;

    @include mq(desktop) {
        padding: 0;
    }

    @include mq(mem-full) {
        max-width: gs-span(14)+($gs-gutter*2);
    }

    &.page-container--with-padding {
        background-color: $white;
        @include mq(tablet) {
            padding: 0 rem($gs-gutter * 4) rem($gs-gutter * 8);
        }
    }
}

.page-container__inner {
    @include mq(desktop) {
        margin: 0 rem($gs-gutter);
    }
}

.l-row__item {
    padding-bottom: rem($gs-gutter * 2);
}

// Two thirds section

.section-two-thirds {
    width: 100%;
    margin: 0 auto;
    padding: 0 rem($gs-gutter / 2);
    @include fs-headline(2);
    position: relative;

    @include mq(desktop) {
        @include fs-headline(5);
    }

    .two-thirds {

        @include mq(tablet) {
            padding-left: $gs-gutter;
            width: rem(gs-span(8));
        }

        @include mq(mem-full) {
            width: rem(gs-span(8) + $gs-gutter);
        }
    }

    .one-third {
        margin-bottom: rem($gs-gutter);

        @include mq(tablet) {
            width: rem(gs-span(3));
            padding-left: rem($gs-gutter);
        }

        @include mq(mem-full) {
            width: rem(gs-span(4) + $gs-gutter);
        }
    }

}

// Info - help and feedback containers

.info-container {

    @include mq(desktop) {
        margin: 0 rem(gs-span(1)) 0 rem(gs-span(2));
    }

    @include mq(mem-full) {
        margin: 0 rem(gs-span(1)) 0 rem(gs-span(3));
    }

}

// Flexbox

%flexbox-container-justify {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/* ==========================================================================
   Page layout
   //TODO potentially use these styles once design is aligned across site
   //TODO I have separated this out in an aim to start cleaning this benefit work up
   //TODO potentially rename these
   ========================================================================== */

.page-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(7);
    }
}

.page-intro {
    color: $c-neutral2;
    @include fs-headline(2);

    @include mq(tablet) {
        @include font-size(18px, 22px);
    }
}

.page-section {
    padding: rem($gutter / 2) 0 rem($gs-baseline * 3);
    border-bottom: 1px solid $mem-blue;
    @include clearfix;
    display: table;
    width: 100%;
}

.page-section__row {
    display: table-row;
    vertical-align: top;
}

.page-section__primary {

    @include mq(desktop) {
        float: left;
        width: rem(gs-span(3));
        display: table-cell;
        vertical-align: top;
        margin-right: $gs-gutter;
    }
}

.page-section__secondary {

    @include mq(desktop) {
        width: rem(gs-span(9));
        display: table-cell;
        vertical-align: top;
        padding-right: $gs-gutter * 4;
    }
}

.page-section-headline {
    @include fs-header(3);
    padding-bottom: rem($gs-gutter * 1.6);
}
