/* ==========================================================================
   Layout
   ========================================================================== */

html {
    position: relative;
    min-height: 100%;
    background-color: $c-background;
}

/**
 * Use flexbox for sticky footer
 * @see http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-global {
    flex: 1 1 auto;
}

/* Layout Helpers
   ========================================================================== */

.l-constrained {
    @include constrain-layout();
}

/* Side Margins
   ========================================================================== */

.l-side-margins,
.page-side-margins {
    &:before,
    &:after {
        background: $c-background-transparent;
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        height: 100%;
        width: 0;
        @include side-margins-calc('width');
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

/* Containers
   ========================================================================== */

.page-container {
    @include constrain-layout();
    @include clearfix();
    position: relative;
}

.page-content {
    @include clearfix;
    background-color: $c-background;
    padding: 0 ($gs-gutter / 2);
    position: relative;

    @include mq(mobileLandscape) {
        padding: 0 ($gs-gutter);
    }
}
.page-content--padded {
    @include mq(tablet) {
        padding: 0 ($gs-gutter * 4) ($gs-gutter * 8);
    }
}
