/* ==========================================================================
   Layout
   ========================================================================== */

html {
    position: relative;
    min-height: 100%;
    background-color: $c-background;
}
// TODO: REMOVE
html.no-background {
    background-image: none;
}

/**
 * Use flexbox for sticky footer
 * @see http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-global {
    flex: 1 1 auto;
}

/* Layout Helpers
   ========================================================================== */

// Constrained layout helper
// Breakpoints are mirrored in mixins/_mixins-layout.scss
.l-constrained {
    $offset: ($gs-gutter * 2);
    margin: 0 auto;

    @include mq(tablet) {
        max-width: map-get($max-widths, max-tablet) + $offset;
    }
    @include mq(mem-full) {
        max-width: map-get($max-widths, max-desktop) + $offset;
    }
}

.l-inset {
    padding: $gs-baseline ($gs-gutter / 2) ($gs-baseline * 2);

    @include mq(tablet) {
        padding-left: ($gs-gutter);
        padding-right: ($gs-gutter);
    }
}

.l-pad-vertical {
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
}

.l-pad-top {
    margin-top: ($gs-baseline / 2);
}
.l-pad-bottom {
    margin-bottom: ($gs-baseline / 2);
}

.l-pad-left {
    @include mq(tablet) {
        padding-left: (gs-span(1) + $gs-gutter);
    }
}

.l-pad-right {
    @include mq(tablet) {
        padding-right: (gs-span(1) + $gs-gutter);
    }
}

/* Side Margins
   ========================================================================== */

.l-side-margins,
.page-side-margins {
    &:before,
    &:after {
        background: $c-background-transparent;
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        height: 100%;
        width: 0;
        @include side-margins-calc('width');
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

/* Containers
   ========================================================================== */

.page-container {
    @extend .l-constrained;
    @include clearfix;
    position: relative;
}

.page-content {
    @include clearfix;
    background-color: $c-background;
    padding: 0 ($gs-gutter / 2);
    position: relative;

    @include mq(mobileLandscape) {
        padding: 0 ($gs-gutter);
    }
}
.page-content--padded {
    @include mq(tablet) {
        padding: 0 ($gs-gutter * 4) ($gs-gutter * 8);
    }
}
