//calculates position of where to place side margins
@mixin side-margins-position() {
    &:before,
    &:after {
        @include side-margins-calc('width')
    }
}

.page-side-margins {
    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        background: rgba(51, 51, 51, .05);
        // magic number: we shift these margins up to skip the header gap
        //               and the (fixed) height of the nav bar
        margin-top: -$header-margin*2;
        height: 100%;
        width: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }

    @include mq(wide) {
        @include side-margins-position();
    }
}

