@mixin side-margins-position($container-width) {
    &:before,
    &:after {
        width: -webkit-calc((100% - #{rem($container-width + $gs-gutter * 2)}) / 2);
        width: calc((100% - #{rem($container-width + $gs-gutter * 2)}) / 2);
    }
}

.page-side-margins {
    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        background: rgba(51, 51, 51, .05);
        top: 0;
        height: 100%;
        width: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }

    @include mq(wide) {
        @include side-margins-position(gs-span(14));
    }
}

