@import configuration.Config

<header>
    @if(Config.membershipHide){
        <a class="header__logo masterclasses" href="/"><img src="@routes.Assets.at("images/masterclasses_mobile.jpg")" alt="" /></a>
    }else{
        <a class="header__logo" href="/"><img src="@routes.Assets.at("images/membership_mobile.png")" alt="" /></a>
    }

    <div class="header__identity">
        <span class="i-action"><span class="i-profile"></span></span>
        <span class="identity__notice"><a href="@Config.idWebAppSigninUrl">Sign in</a></span>
        <span class="identity__avatar u-h"></span>
        <span class="identity__account u-h"></span>
        <span class="identity__tier u-h"></span>
    </div>
</header>