@(heading: String, note: String, formType: String, isVisible: Boolean)

@import model.Countries

<fieldset class="fieldset address-fieldset js-@(formType)-fieldset @if(!isVisible){u-h}">

    <div class="fieldset__heading">
        <h2 class="form__heading">@heading</h2>
        <div class="form__note">@note</div>
    </div>

    <div class="fieldset__fields">

        <div class="form-field address-fieldset__street">
            <label class="label" for="street">Street
                <input type="text" name="@(formType).street" id="street" class="text-input text-input--block" />
            </label>
        </div>

        <div class="form-field address-fieldset__city-post-code">
            <label class="label label--inline label--half" for="city">City
                <input type="text" name="@(formType).city" id="city" class="text-input text-input--block" />
            </label>@*
                == Inline block whitespace ==
            *@<label class="label label--inline label--half" for="postCode">Post code
                <input type="text" name="@(formType).postCode" id="postCode" class="text-input text-input--block" />
            </label>
        </div>

        <div class="form-field address-fieldset__country">
            <label class="label" for="country">Country</label>
            <div class="input">
                <select name="@(formType).country" id="country">
                    @for(country <- Countries.all) {
                    <option value="@country">@country</option>
                    }
                </select>
            </div>
        </div>

    </div>

</fieldset>