.action {
    margin: $gs-baseline 0;
    display: inline-block;
    text-align: center;
    padding: $gutter/2 $gutter;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.action--disabled {
    background-color: #CCCCCC;
    border: none;
}

.action--wide {
    min-width: 12em;
}

.action--inline-text {
    margin: $gs-baseline;
}

.action--join,
.action--logged-out {
    background-color: $mem-brandBlue;
    &:visited,
    &:active,
    &:focus {
        background-color: $mem-brandBlue;
    }
    &:hover {
        background-color: darken($mem-brandBlue, 15%);
    }
}

.action--logged-in {
    background-color: $mem-brandOrange;
    &:visited,
    &:active,
    &:focus {
        background-color: $mem-brandOrange;
    }
    &:hover {
        background-color: darken($mem-brandOrange, 15%);
    }
}

.i-wait {
    display: none;
    img {
        margin-top: 9px;
    }
}

.actions.js-waiting .i-wait {
    display: inline-block;
    vertical-align: top;
}

.ticket-button {
    position: relative;
    z-index: 1;
    &:before, &:after {
        content: " ";
        position: absolute;
        z-index: 2;
        height: 10px;
        width: 10px;
        display: block;
        border-radius: 50px;
        background-color: #ffffff;
        top: 50%;
        margin-top: -5px;
    }

    &:before {
        left: -5px;
    }

    &:after {
        right: -5px;
    }
}
