.breadcrumb {
    margin: $gutter auto;
    height: 24px;
    display: none;
    @include clearfix;
    position: relative;
    @include rem((
        max-width: 1140px
    ));

    @include mq(tablet) {
        display: block;
    }

    .crumb {
        position: relative;
        float: left;
        height: 24px;
        @include fs-bodyCopy(3);
        background-color: #FFFFFF;
        padding-right: $gutter/4;
        margin: 0 21px 0 0;

        a, span {
            position: relative;
            z-index: 1;
        }

        a {
            color: $mem-brandOrange;
        }

        &:before {
            z-index: 0;
            left: -18px;
            top: 50%;
            border: solid #FFFFFF;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: #FFFFFF;
            border-left-color: transparent;
            border-width: 12px;
            margin-top: -12px;
        }

        &:after {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: none;
            border-left-color: #FFFFFF;
            border-width: 12px;
            margin-top: -12px;
        }

        &:first-child {
            padding-left: $gutter/4;
            &:before {
                content: none;
            }
        }
    }
}