.i {
    background-repeat: no-repeat;
    display: inline-block;
    @include rem((
        text-indent: -9999px,
        width: 18px,
        height: 18px
    ));
}

.i-menu {
    background: url("/assets/images/header/menu.png");
}

.svg .i-menu {
    background: url("/assets/images/header/menu.svg");
}

.i-user {
    background: url("/assets/images/header/user.png");
}

.menu-item--active {
    .i-user {
        background: url("/assets/images/header/user_active.png");
    }
}

.svg {
    .i-user {
        background: url("/assets/images/header/user.svg");
    }
    .menu-item--active {
        .i-user {
            background: url("/assets/images/header/user_active.svg");
        }
    }
}

.i-logo {
    display: block;
    @include rem((
        width: 217px,
        height: 20px
    ));
    background: url("/assets/images/header/logo_mobile.png") no-repeat center top;

    @include mq(mobileLandscape) {
        background: url("/assets/images/header/logo_tablet.png") no-repeat center top;
        @include rem((
            width: 375px,
            height: 34px
        ));
    }

    @include mq(tablet) {
        background: url("/assets/images/header/logo.png") no-repeat center top;
        @include rem((
            width: 520px,
            height: 48px,
        ));
    }
}

.svg .i-logo {
    background: url("/assets/images/header/logo.svg") no-repeat center top;
    @include background-size(cover);
}

.icon-wrapper {
    display: block;
}
