@(membersOnlyContent: Seq[model.ContentItemOffer])

@main("Offers & Competitions") {
    <main role="main" class="l-constrained">
        <section class="listing-header">
            <h1 class="listing-headline">Offers and competitions</h1>
        </section>
        <section class="listing listing--padded">
            <div class="listing__lead-in">
                <h3 class="h-intro">most recent</h3>
            </div>
            <div class="listing__content">
            @if(membersOnlyContent.isEmpty) {
                <div class="listing__empty">Sorry, no matching items were found.</div>
            } else {
                <ul class="grid grid--bordered grid--3up">
                @for(memberContent <- membersOnlyContent) {
                    <li class="grid__item">
                        <a href="@memberContent.content.webUrl" class="article-front">
                            <div class="article-front__media">
                            @for(img <- memberContent.imgOpt) {
                                <img class="responsive-img"
                                    src="@img.defaultImage"
                                    sizes="(min-width: 739px) 33.3vw, (min-width: 479px) 50vw, 100vw"
                                    srcset="@img.srcset"
                                    alt="@img.altText"
                                />
                            }
                            </div>
                            <div class="article-front__content">
                                <div class="article-front__meta">
                                    <h4 class="article-front__title">
                                        <span class="link-outbound">
                                        @fragments.inlineIcon("outbound-link", Seq("icon-inline--brand-dark"))
                                            @for(tagTitle <- memberContent.tagTitleOpt.headOption) {
                                                <span class="link-outbound__highlight">@tagTitle</span>
                                                <span class="link-outbound__separator"> / </span>
                                            }
                                            <span>@memberContent.content.webTitle</span>
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                </ul>
            }
            </div>
        </section>

        @fragments.tier.joinListing()

    </main>
}
