@import configuration.Config

@if(Config.stage == "PROD") {
    <!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Guardian Membership - About
    URL of the webpage where the tag is expected to be placed: https://membership.theguardian.com/about
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 03/06/2015
    -->
    <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
            document.write('<iframe src="//397647.fls.doubleclick.net/activityi;src=397647;type=membe0;cat=guard0;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
        <iframe src="//397647.fls.doubleclick.net/activityi;src=397647;type=membe0;cat=guard0;ord=1;num=1?"
                width="1"
                height="1"
                frameborder="0"
                style="display:none"></iframe>
    </noscript>
    <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
}
