@(groupedEvents: scala.collection.SortedMap[org.joda.time.LocalDate, scala.collection.SortedMap[org.joda.time.LocalDate, Seq[model.RichEvent.RichEvent]]], pageInfo: model.PageInfo)

@dateListing(date: org.joda.time.LocalDate, events: Seq[model.RichEvent.RichEvent], classes: Seq[String] = Nil) = {
    <section class="date-listing @classes.mkString(" ")">
        <div class="date-listing__lead-in">
            <h3 class="date-listing__title">@date.toString("d")</h3>
            <p class="date-listing__subtitle">@date.toString("EEEE")</p>
        </div>
        <div class="date-listing__content">
            <ul class="u-unstyled">
            @for(event <- events) {
                <li>
                    @fragments.event.itemList(event)
                </li>
            }
            </ul>
        </div>
    </section>
}

@main("Calendar | List View | What's On", pageInfo) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Calendar", None)

        <div class="filter-bar">
            <a class="action action--no-icon" href="@routes.WhatsOn.calendarGrid" aria-title="View events as a grid" title="View events as a grid">
                @fragments.actionIcon("grid-view", leftIcon=true)
                Grid view
            </a>
        </div>

        @for(monthGroup <- groupedEvents) {
            <h2 class="month-header">@monthGroup._1.toString("MMMM Y")</h2>
            @for(dayGroup <- monthGroup._2) {
                @dateListing(dayGroup._1, dayGroup._2)
            }
        }

    </main>

}
