@(groupedEvents: scala.collection.SortedMap[org.joda.time.LocalDate, model.EventGroup], pageInfo: model.PageInfo)

@dateGroup(title: String, events: Seq[model.RichEvent.RichEvent], classes: Seq[String] = Nil) = {
    <section class="date-listing @classes.mkString(" ")">
        <div class="date-listing__lead-in">
            <h3 class="date-listing__title">@title</h3>
        </div>
        <div class="date-listing__content">
            <ul class="grid grid--3up grid--bordered">
            @for(event <- events) {
                <li class="grid__item">
                    @fragments.event.item(event, showPrice=false)
                </li>
            }
            </ul>
        </div>
    </section>
}

@main("Calendar | What's On", pageInfo) {
    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Calendar", None)

        <div class="view-switch-group">
            <a href="#" class="view-switch view-switch--list" aria-title="View events as a list">
                @fragments.inlineIcon("list-view", List("view-switch__icon"))
            </a>
        </div>

        @for(group <- groupedEvents.headOption) {
            @dateGroup(group._2.sequenceTitle, group._2.events, List("date-listing--lead"))
        }
        @for(group <- groupedEvents.drop(1)) {
            @dateGroup(group._2.sequenceTitle, group._2.events)
        }

    </main>
}
