@(pageInfo: model.PageInfo, eventPortfolio: model.EventCollections, membershipFrontArticles: Seq[model.ContentItem])

@main("What's On", pageInfo=pageInfo) {
    <main role="main" class="l-constrained">

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">Trending</h3>
            @fragments.event.eventCollection(eventPortfolio.trending, 4)
        </section>

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">This week</h3>
            @fragments.event.eventCollection(eventPortfolio.thisWeek, 4)
        </section>

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">Next Week</h3>
            @fragments.event.eventCollection(eventPortfolio.nextWeek, 4)
        </section>

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">What's Hot</h3>
            @fragments.event.eventCollection(eventPortfolio.topSelling, 4)
        </section>

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">Just Added</h3>
            @fragments.event.eventCollection(eventPortfolio.recentlyCreated, 4)
        </section>

        <section class="page-slice l-inset">
            <h3 class="h-section h-section--lead">Available to Members</h3>
            @fragments.event.eventCollection(eventPortfolio.partnersOnly, 4)
        </section>

        <section class="page-slice l-inset">
            <ul class="grid grid--2up grid--bordered grid--single-row">
                <li class="grid__item">
                    <h3 class="h-section h-section--lead">Latest news</h3>
                    <ul class="u-unstyled">
                    @for(article <- membershipFrontArticles.take(5)) {
                        <li class="l-pad-bottom">
                            <a href="@article.content.webUrl" class="event-item  event-item--card">
                                @for(img <- article.imgOpt) {
                                    <div class="event-item__media">
                                        <img src="@img.defaultImage" srcset="@img.srcset" sizes="20vw" alt="@img.altText" class="responsive-img" />
                                    </div>
                                }
                            <div class="event-item__content">
                                <div class="event-item__meta">
                                    <h4 class="event-item__title">@article.content.webTitle</h4>
                                </div>
                            </div>
                            </a>
                        </li>
                    }
                    </ul>
                </li>
                <li class="grid__item">
                    <h3 class="h-section h-section--lead">Twitter</h3>
                    <a class="twitter-timeline" href="https://twitter.com/gdnmembership" data-widget-id="586480706009886720">Tweets by @@gdnmembership</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
            </ul>

        </section>

        @for(eventGroup <- eventPortfolio.programmingPartnerEvents) {
            <section class="page-slice l-inset">
                <h3 class="h-section h-section--lead">Events and courses from institutions we admire</h3>
                <ul class="grid grid--2up grid--bordered">
                @for(event <- eventGroup.events.take(4)) {
                    <li class="grid__item">
                    @fragments.event.itemMinimal(event, isCard=true)
                    </li>
                }
                </ul>
            </section>
        }

    </main>
}
