.home-hero-description-container {
    padding-top: rem(40px);
    z-index: 100;
    background-color: $white;

    @include mq(tablet) {
        padding: rem(20px) rem(30px) 0 rem(20px);
        width: 51%;
        float: right;
        position: relative;
        margin-top: rem(-108px);
    }
}

.home-hero-description {
    font-family: $f-serif-headline;
    font-size: rem(28px);
    line-height: rem(32px);
    font-weight: normal;
}

.home-hero-description-highlight {
    color: $mem-buttonBlue;
}

.slide-show {
    position: relative;
}

.slide-show__element {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.slide-show__element--with-document-flow {
    position: relative;
}

.slide-show__img {
    background-size: cover;
}

.slide-show-detail {
    position: absolute;
    bottom: 0;
    padding: rem(20px) 0 rem(20px) rem(20px);
    width: 100%;
    color: $white;
    z-index: 2;

    @include mq(tablet) {
        width: 50%;
    }
}

.slide-show-detail__description {
    @include fs-textSans(1);
    font-weight: normal;
}

.progress-indicator {
    font-size: 0;
}

.progress-indicator__separator,
.progress-indicator__index {
    @include fs-textSans(1);
}

.progress-indicator__index {
    width: rem(10px);
    display: inline-block;
}

.progress-indicator__count {
    @include fs-textSans(1);
}

.gradient-text-highlighter {
    width: 100%;
    @include simple-gradient(transparent, rgba(0, 0, 0, .8));
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(108px);
    z-index: 1;

    @include mq(tablet) {
        width: 49%;
    }
}

.home-promo-list-container {
    padding-right: rem(20px);
}

.home-promo-list {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 0 rem(20px);
    margin: rem(20px) 0;

    @include mq(tablet) {
        margin: rem(40px) 0 rem(64px);
    }
}

.home-promo {
    padding-bottom: rem(20px);

    @include mq(tablet) {
        padding-left: rem(20px);
        padding-bottom: 0;
        display: table-cell;
        vertical-align: top;
    }
}

.home-promo-cta {
    display: block;
}

.home-promo__description {
    font-family: $f-serif-headline;
    font-size: rem(18px);
    line-height: rem(22px);
    margin-top: rem(10px);
    color: $black;
    font-weight: normal;
}

.home-promo__img {
    background-size: cover;
}


/* 6 images displayed for 6 seconds each */
.slide-show figure:nth-child(1) {
    @include animation(crossFade 36s 30s infinite);
}

.slide-show figure:nth-child(2) {
    @include animation(crossFade 36s 24s infinite);
}

.slide-show figure:nth-child(3) {
    @include animation(crossFade 36s 18s infinite);
}

.slide-show figure:nth-child(4) {
    @include animation(crossFade 36s 12s infinite);
}

.slide-show figure:nth-child(5) {
    @include animation(crossFade 36s 6s infinite);
}

.slide-show figure:nth-child(6) {
    @include animation(crossFade 36s 0 infinite);
}

/* 100/6 = 16.6666667 */
@include keyframes(crossFade) {
    0% { opacity: 1; }
    12% { opacity: 1; }
    16.6666667% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 1; }
}
