@(event: model.RichEvent.RichEvent)

@import views.support.Asset
@import views.support.Dates.prettyShortDateWithTimeAndDayName

@cardUrl = @{ event.memUrl + "?INTCMP=MEM_EVENT_CARD_" + event.id }

@for(embedCss <- Asset.inlineResource("stylesheets/event-card.css")) {
    <style>
        @Html(embedCss)
    </style>
}
<figure class="membership-event">
    <a href="@cardUrl" class="membership-event__link">
        <div class="membership-event__header">
            <div class="membership-event__icon">
                @for(icon <- Asset.inlineSvg("g-mark")) {
                    @icon
                }
            </div>
            <h4 class="membership-event__brand">
                <span class="membership__hidden">The Guardian</span> Live
            </h4>
        </div>
        @for(img <- event.imgOpt) {
            <div class="membership-event__media">
                <img src="@img.smallestImage" alt="@img.altText">
            </div>
        }
        <div class="membership-event__body">
            <h3 class="membership-event__title">@event.name.text</h3>
            <div class="membership-event__meta">
                <div class="membership-event__date">
                    <time datetime="@event.start">@prettyShortDateWithTimeAndDayName(event.start)</time>
                </div>
                @if(event.venue.venueWithCity.nonEmpty) {
                    <div class="membership-event__location">@event.venue.venueWithCity</div>
                }
                @for(ticketing <- event.internalTicketing) {
                    <div class="membership-event__price">
                        @ticketing.generalReleaseTicketOpt.map(_.priceText)
                    </div>
                }
            </div>
        </div>
    </a>
    <div class="membership-event__action">
        <a href="@cardUrl" class="membership-event__button">
            Book Now
            @for(icon <- Asset.inlineSvg("arrow-right")) {
                @icon
            }
        </a>
    </div>
</figure>
