@(event: model.EBEvent)
@import views.Crumb
@import views.Dates._
@import org.joda.time.Instant

@main("Membership") {

    @partials.crumb(Seq(Crumb("Home", "/"), Crumb("Events", "/events"), Crumb(event.name.text, s"/event/${event.id}")))

    <div class="event">
        <div class="event__content page-inner-container">
            <h1 class="event__name section-header page-header">@event.name.text</h1>

            <div class="event__image">
                <img src="@event.logo_url" alt="Event Image" />
            </div>

            <div class="event__meta">
                <p class="event__location"><span class="icon location--icon"></span>
                    <span class="event__venue-name">@event.venue.name</span>,
                    <span class="event__address">
                        @if(!event.addressOne.isEmpty){ <span>@event.addressOne</span>, }
                        @if(!event.addressTwo.isEmpty){ <span>@event.addressTwo</span>, }
                        @if(!event.city.isEmpty){ <span>@event.city</span>, }
                        @if(!event.region.isEmpty){ <span>@event.region</span>, }
                        @if(!event.countryName.isEmpty){ <span>@event.countryName</span> }
                    </span>
                </p>
                <p class="event__time"><span class="icon time--icon"></span>@event.start.pretty</p>
            </div>

            <div class="event__tickets">
                <div class="js-datetime-enhance">
                    <span class="event__sale_ends_note js-datetime-enhance-note">Sales end at </span>
                    <span class="event__sale_ends_time js-datetime-enhance-time" datetime="@event.ticket_classes.getOrElse(Seq(model.EBTickets(None, None, None, None, None, None, None))).head.sales_end.getOrElse("")">@event.ticket_classes.getOrElse(Seq(model.EBTickets(None, None, None, None, None, None, None))).head.sales_end.getOrElse(RichInstant(new Instant()).pretty)</span>
                </div>

                <span class="event__price">@event.ticket_classes.getOrElse(Seq(model.EBTickets(None, None, None, None, None, None, None))).head.cost.getOrElse(model.EBPricing("GBP", "Free", 0)).display</span>
                <span class="event__price-note"> per ticket.</span>
            </div>

            <a class="button sign-in no-underline" href="/event/@event.id/buy">Sign In to attend</a>

            <div class="event__description">@Html(event.description.getOrElse(model.EBRichText("foobar", "foobarhtml")).html)</div>

            <a class="button sign-in no-underline" href="/event/@event.id/buy">Sign In to attend</a>

        </div>
    </div>

}
