@(tier: com.gu.membership.salesforce.Tier.Tier)

@import views.support.Asset

    @main("Payment | " + tier) {

        <section>

            @fragments.layout.sectionHeader("Billing")

            @fragments.tickets.ticketsFunnel(3)

            <form action="" method="POST" id="payment-form" class="form form-primary-container js-stripe-form">

                <input type="hidden" name="tier" class="js-tier-field" value="@tier"/>

                <fieldset class="fieldset">

                    <div class="fieldset__heading">
                        <h2 class="form__heading">Where shall we send your welcome pack?</h2>
                        <div class="payment__flyer-image">
                            <img src="@Asset.at("images/welcome_pack.jpg")" alt=""/>
                        </div>
                    </div>

                    <div class="fieldset__fields">
                        <p>Once you’ve joined Guardian membership we’ll send you a welcome pack in the post.</p>
                        <p>Each pack contains all the information you need to discover the benefits of becoming a Guardian Membership
                            partner.</p>
                    </div>


                </fieldset>

                @fragments.form.errorMessageDisplay()
                @fragments.form.nameDetail()
                @fragments.form.addressDetail("Delivery address", "Where shall we send your welcome pack", "deliveryAddress", true)
                @fragments.form.paymentOptions(tier)
                @fragments.form.billingAddressCTA()
                @fragments.form.addressDetail("Billing address", "The billing address for your card", "billingAddress", true)
                @fragments.form.cardDetail()
                @fragments.form.submit("Join now")
            </form>

        </section>

    }
