<div>
    <ul>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
        <li>
            <img src="" alt=""/>
            <span></span>
        </li>
    </ul>
    <div>
        <p></p>
        <a href="/join/partner/payment">Join</a>
    </div>
</div>
