@(benefits: model.Benefits.Benefits)

<div class="price-info">
    @benefits.pricing.fold {
        <div class="price-info__container-inner price-info__container-inner--full-width">
            <div class="price-info__detail price-info__detail--right">Free</div>
        </div>
    } { pricing =>
        <div class="price-info__container-inner">
            <div class="price-info__sub-detail">Save £@pricing.yearlySaving/year</div>
            <div class="price-info__detail">£@pricing.yearly<span class="price-info__detail--sm-date">/year</span></div>
        </div>
        <div class="price-info__container-inner price-info__container-inner--last">
            <div class="price-info__detail price-info__detail--right">£@pricing.monthly<span class="price-info__detail--sm-date">/month</span></div>
        </div>
    }
</div>