@(benefits: model.Benefits.Benefits)

<div class="price-info">
    @benefits.pricing.fold {
        <div class="price-info__container-inner price-info__container-inner--no-border">
            <div class="price-info__detail">Free</div>
        </div>
    } { pricing =>
        <div class="price-info__container-inner">
            <div class="price-info__detail">£@pricing.yearly/yr</div>
            <div class="price-info__sub-detail">Save £@pricing.yearlySaving/yr</div>
        </div>
        <div class="price-info__container-inner price-info__container-inner--last">
            <div class="price-info__detail">£@pricing.monthly/mo</div>
        </div>
    }
</div>