node_modules
app/npm-debug.log

logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
public/javascripts
public/stylesheets
common/app/assets/javascripts/components
common/app/assets/stylesheets/components
common/app/assets/javascripts/libs/bower-components/