.DS_Store
.history
.bundle
.idea
.idea_modules
*.iml
node_modules
npm-debug.log
app/npm-debug.log
Gemfile.lock

membership.sublime-project
membership.sublime-workspace

dev
dist
logs
out
project/project
project/target
target
tmp

*/public/javascripts
*/public/stylesheets
*/assets/stylesheets/components/bower-components/
*/assets/javascripts/lib/bower-components/

frontend/conf/keys.conf
frontend/conf/assets.map

frontend/assets/images/inline-svgs/*.svg
frontend/assets/images/svg-sprite.svg
frontend/public/
frontend/test/js/coverage/
