node_modules
app/npm-debug.log
.DS_Store

logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
*/public/javascripts
*/public/stylesheets
*/assets/stylesheets/components/bower-components/
*/assets/javascripts/lib/bower-components/

.bundle
Gemfile.lock
dev

frontend/conf/keys.conf
frontend/conf/assets.map
membership.sublime-project
membership.sublime-workspace

frontend/assets/stylesheets/icons.scss
frontend/public/

npm-debug.log
