@import com.gu.i18n.CountryGroup
@import configuration.Videos
@import com.gu.memsub.subsv2.{CatalogPlan, MonthYearPlans}
@import views.support.PageInfo
@import tracking.AppnexusPixel
@import com.gu.salesforce.Tier.Supporter

@import abtests.BundleVariant
@(  heroImage: model.OrientatedImages,
    supporterPlans: MonthYearPlans[CatalogPlan.Supporter],
    pageInfo: PageInfo,
    whySupportImage: model.OrientatedImages,
    bundleVariant: BundleVariant)(implicit token: play.filters.csrf.CSRF.Token)

@main("Supporters", pageInfo=pageInfo) {

    @* ===== First part ===== *@
    @fragments.bundle.bundleHeader(
        heroImage,
        Html("Support<br/>the Guardian"),
        Html("We\'re introducing <strong>new ways</strong> to support the&nbsp;Guardian\'s quality journalism and independent voice"),
        Html("Our most important relationship is with our readers. Please help to fund our journalism by becoming a Supporter, and together we can keep the world informed. You can do this by signing up to our Digital or Paper packages or through a one-off payment.")
    )

    @* ===== Offerings ===== *@
    @fragments.bundle.bundleOfferingsB(bundleVariant)

    @* ===== Why do we need supporters? ===== *@
    @fragments.bundle.bundleSupportUs(whySupportImage, bundleVariant,
        Html("<p>Like many other media organisations, the Guardian is operating in an incredibly challenging financial climate. Our advertising revenues are falling fast. We have huge numbers of readers, and we are increasingly reliant upon their financial support.</p>" +
            "<p>We don't have a wealthy owner pulling the strings. No shareholders, advertisers or billionaire owners can edit our editor.</p>" +
            "<p>Our owner, the Scott Trust, safeguards our editorial independence from commercial or political interference. It reinvests revenue into our journalism, as opposed to into shareholders' pockets.</p>" +
            "<p>But while the Scott Trust ensures our independence, we need our Supporters, now more than ever before, to help secure our future.</p>" +
            "<p>We know that not everyone is in a position to become a Supporter. But if you can, you'll be an integral part of our mission to make the world a better, fairer place, for everyone.</p>"),
        Html("<p>Give to the Guardian on your terms. Become a Supporter by making a one-off contribution to help support our journalism</p>"), bVariant = true);
}
