@import model.Header.GuardianHeader
@import model.Footer.SimpleFooter
@import views.support.PageInfo
@import configuration.Videos
@import com.gu.memsub.images.ResponsiveImageGroup

@(
	pageInfo: PageInfo,
	mainImage: ResponsiveImageGroup,
	mainImageWide: ResponsiveImageGroup,
	patronsImage: ResponsiveImageGroup,
	eventsImage: ResponsiveImageGroup
)

@main(
	"Support The Guardian",
	pageInfo=pageInfo,
	header=GuardianHeader,
	footer=SimpleFooter,
	margins=false,
	titleOverride=Some("Support the Guardian")
) {

	<section class="introduction">
		<div class="introduction__content">
			<h1 class="introduction__heading-one">support the guardian</h1>
			<p>Our quality journalism takes time and money to produce. But ad revenues are falling, so we need your help to</p>
			<h1 class="introduction__heading-two">secure our future</h1>
			<p><span class="introduction__wrap-line">Subscribe or make a regular or one-off contribution </span>today and together we can</p>
			<h1 class="introduction__heading-three">hold power to account</h1>
			<p><span class="introduction__wrap-line">As an independent voice, our most important </span>relationship is with our readers</p>
		</div>
	</section>

	<section class="bundles">
		<div class="bundles__content">
			<div class="bundles__divider"></div>
			<div class="bundles__bundle bundles__bundle--contribution">
				<div class="bundles__bundle-content">
					<div class="bundles__top">
						<h1 class="bundles__heading">From £5/month</h1>
						<h2 class="bundles__subheading"><span class="bundles__wrap-line">Make a </span>contribution</h2>
						<p class="bundles__copy bundles__copy--top">Support the Guardian. Every penny of your contribution goes to support our fearless, quality journalism.</p>
					</div>
					<div class="bundles__bottom">
						<div class="contribution-fields">
							<button class="contribution-fields__type js-contribution-monthly contribution-fields__field--selected">Monthly</button>
							<button class="contribution-fields__type js-contribution-oneoff">One-off</button>
							<button class="contribution-fields__amount js-contribution-one contribution-fields__field--selected">£5</button>
							<button class="contribution-fields__amount js-contribution-two">£10</button>
							<button class="contribution-fields__amount js-contribution-three">£20</button>
							<input type="text" class="contribution-fields__other-amount js-contribution-other" placeholder="Other amount (£)">
						</div>
						<div class="contribution-error js-contribution-error"></div>
						<div>
							<p class="bundles__copy bundles__copy--bottom">Support the Guardian. Every penny of your contribution goes to support our fearless, quality journalism.</p>
							<a class="bundles__cta js-contrib-link" href="/monthly-contribution?contributionValue=5">Contribute with credit/debit card @fragments.inlineIcon("arrow-right-straight")</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bundles__divider"></div>
			<div class="bundles__bundle bundles__bundle--digital">
				<div class="bundles__bundle-content">
					<div class="bundles__top">
						<h1 class="bundles__heading">£12/month</h1>
						<h2 class="bundles__subheading"><span class="bundles__wrap-line">Become a </span>digital subscriber</h2>
						<p class="bundles__copy bundles__copy--top">Support the Guardian and enjoy a subscription to our digital Daily Edition and the premium tier of our app.</p>
					</div>
					<div class="bundles__bottom">
						<ul class="bundles__features">
							<li>
								<h3>Ad-free mobile app</h3>
								<p>Faster pages and a clearer reading experience</p>
							</li>
							<li>
								<h3>Daily tablet edition</h3>
								<p>Daily newspaper optimised for tablet; available on Apple, Android and Kindle Fire</p>
							</li>
							<li>
								<h3>Free trial</h3>
								<p>For 14 days, enjoy on up to 10 devices</p>
							</li>
						</ul>
						<div>
							<p class="bundles__copy bundles__copy--bottom js-digital-details">Support the Guardian and enjoy a subscription to our digital Daily Edition and the premium tier of our app.</p>
							<div class="bundles__more-details js-digital-more"><button>@fragments.inlineIcon("cross-upright")</button> More details</div>
							<a class="bundles__cta js-digi-link" href="https://subscribe.theguardian.com/uk/digital">Become a digital subscriber @fragments.inlineIcon("arrow-right-straight")</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bundles__divider"></div>
			<div class="bundles__bundle bundles__bundle--print">
				<div class="bundles__bundle-content">
					<div class="bundles__top">
						<h1 class="bundles__heading">From £20/month</h1>
						<h2 class="bundles__subheading"><span class="bundles__wrap-line">Become a </span>paper subscriber</h2>
						<p class="bundles__copy bundles__copy--top">Support the Guardian and enjoy a subscription to the Guardian and the Observer newspapers.</p>
					</div>
					<div class="bundles__bottom">
						<div class="bundles__print-selection">
							<div class="print-fields">
								<button class="print-fields__type js-print-paper-digital print-fields__field--selected">Paper + digital</button>
								<button class="print-fields__type js-print-paper">Paper only</button>
							</div>
							<ul class="bundles__features">
								<li>
									<h3>Newspaper</h3>
									<p>Choose the package you want: Everyday+, Sixday+, Weekend+ and Sunday+</p>
								</li>
								<li class="js-digital-benefits">
									<h3>Digital</h3>
									<p>All the benefits of the digital subscription</p>
								</li>
								<li>
									<h3>Save money</h3>
									<p>Up to 36% off the retail price</p>
								</li>
							</ul>
						</div>
						<div>
							<p class="bundles__copy bundles__copy--bottom js-print-details">Support the Guardian and enjoy a subscription to the Guardian and the Observer newspapers.</p>
							<div class="bundles__more-details js-print-more"><button>@fragments.inlineIcon("cross-upright")</button> More details</div>
							<a class="bundles__cta js-print-link" href="https://subscribe.theguardian.com/collection/paper-digital">Become a paper subscriber @fragments.inlineIcon("arrow-right-straight")</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="why-support">
		<div class="why-support__image">
			<picture>
				<source media="(max-width: 740px)" srcset="@mainImage.srcset" />
				<img alt="Guardian supporters" sizes="360px" />
			</picture>
		</div>
		<div class="why-support__content">
			<div class="why-support__top-content">
				<div class="why-support__top-copy">
					<h1><span class="why-support__wrap-line">why </span>do we need your support?</h1>
					<div class="why-support__top-right-copy">
						<p>Like many other media organisations, the Guardian is operating in an incredibly challenging financial climate. Our advertising revenues are falling fast. We have huge numbers of readers, and we are increasingly reliant upon their financial support.</p>
						<p>We don’t have a wealthy owner pulling the strings. No shareholders, advertisers or billionaire owners can edit our editor.</p>
					</div>
				</div>
			    <div class="why-support__video-preview">
			        <div class="why-support__video">
			            @fragments.media.videoPlayer(Videos.scottTrustExplained)
			        </div>
			    </div>
			</div>
		    <div class="why-support__bottom-content">
		    	<p class="why-support__video-caption">@fragments.inlineIcon("video", List("icon-inline--scale"))Katharine Viner, editor-in-chief, explains the Guardian's unique ownership model</p>
		    	<div class="why-support__bottom-copy">
					<p>Our owner, the Scott Trust, safeguards our editorial independence from commercial or political interference. It reinvests revenue into our journalism, as opposed to into shareholders' pockets.</p>
					<p>But while the Scott Trust ensures our independence, we need our readers, now more than ever before, to help secure our future.</p>
					<p>We know that not everyone is in a position to fund our journalism. But if you can, you’ll be an integral part of our mission to make the world a better, fairer place, for everyone.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="other-ways">
		<div class="other-ways__content">
			<div class="other-ways__heading">
				<h1>other ways you can support us</h1>
			</div>
			<div class="other-ways__way">
				<picture>
					<source srcset="@patronsImage.srcset" />
					<img src="@patronsImage.defaultImage" alt="the Guardian and the Observer" />
				</picture>
				<h2>Patrons</h2>
				<p>The Patrons tier is for those who care deeply about the Guardian's journalism and the impact it has on the world</p>
				<a class="other-ways__cta other-ways__cta--patron" href="/patrons"><button>@fragments.inlineIcon("arrow-right-straight")</button><span>Become a Patron</span></a>
			</div>
			<div class="other-ways__way other-ways__way--burnt-yellow">
				<picture>
					<source srcset="@eventsImage.srcset" />
					<img src="@eventsImage.defaultImage" alt="live event" />
				</picture>
				<h2>Guardian Live events</h2>
				<p>Events, discussions, debates, interviews, festivals, dinners and private views exclusively for Guardian members</p>
				<a class="other-ways__cta" href="/events"><button>@fragments.inlineIcon("arrow-right-straight")</button><span>Find out about events</span></a>
			</div>
		</div>
	</section>

	<script type="text/javascript">guardian.membership.bundlesLanding = true;</script>

}
