@import com.gu.i18n.CountryGroup
@import configuration.Videos
@import com.gu.memsub.subsv2.{CatalogPlan, MonthYearPlans}
@import views.support.PageInfo
@import tracking.AppnexusPixel
@import com.gu.salesforce.Tier.Supporter

@import abtests.BundleVariant
@(  heroImage: model.OrientatedImages,
    supporterPlans: MonthYearPlans[CatalogPlan.Supporter],
    pageInfo: PageInfo,
    detailImage: model.OrientatedImages,
    bundleVariant: BundleVariant)(implicit token: play.filters.csrf.CSRF.Token)

@main("Supporters", pageInfo=pageInfo) {


    @* ===== First part ===== *@
    @fragments.bundle.bundleHeader(
        heroImage,
        Html("Support<br/>the Guardian"),
        Html("We\'re introducing <strong>new ways</strong> to support the&nbsp;Guardian\'s quality journalism and independent voice"),
        Html("We want to use our independent, truthful  journalism to make the world a better, fairer place. Which is why our most important relationship is with our readers. If you value our independent journalism, please help to fund it by becoming a Supporter.")
    )

    @* ===== Offerings ===== *@
    @fragments.bundle.bundleOfferings(bundleVariant)


    @* ===== Why do we need supporters? ===== *@

}
