@import com.gu.i18n.CountryGroup
@import configuration.Videos
@import com.gu.memsub.subsv2.CatalogPlan
@import views.support.PageInfo
@import tracking.AppnexusPixel
@import com.gu.salesforce.Tier.Supporter

@import abtests.BundleVariant
@(  pageInfo: PageInfo,
    bundleVariant: BundleVariant,
    selectedOption: String,
    heroImage: model.OrientatedImages,
    returnUrl: Option[String] = None)(implicit token: play.filters.csrf.CSRF.Token)

@main("Supporters", pageInfo=pageInfo) {
    @* ===== First part ===== *@
    @fragments.bundle.bundleHeader(
        heroImage,
        Html("Thank you for<br/>your interest"),
        Html("We are currently evaluating the feasibility of this product, and as such, it isn’t available at this time"),
        Html("Your participation in this test has helped us with this evaluation, and from now on you won't be directed here again.<br><br>Thank you.</p>")
    )
    <div class="l-constrained">
        @fragments.bundle.bundleButton("Return to comments", returnUrl.getOrElse("https://www.theguardian.com"))
    </div>
}
