/* ==========================================================================
   Event List
   ========================================================================== */
.events__list {
    text-align: center;
}

/* ==========================================================================
   An Event List item
   ========================================================================== */
li.event {
    text-align: left;
    display: block;
    margin-bottom: $gs-gutter;
    background-color: #FFFFFF;
    padding: .125em;
    @include border-radius(.2em);

    &:hover {
        background-color: #FFFFFF;
    }

    .event__image {
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .event__meta {
        padding: $gutter/2;
        @include rem((
            height: 130px
        ));
        width: auto;
        overflow: hidden;
    }

    .event__name {
        @include fs-headline(2);
        @include rem((
            margin-top: $gs-baseline/2,
            margin-bottom: $gs-baseline
        ));
    }

    .event__location,
    .event__time {
        @include fs-textsans(2);
        display: block;
    }

    @include mq(tablet) {
        width: gs-span(5);
        margin-right: $gs-gutter;
        display: inline-block;

        .event__image {
            width: auto;
            img {
                width: auto;
            }
        }
    }

}

/* ==========================================================================
   An event on an event page
   ========================================================================== */
.container {
    padding: $gutter;
    background-color: $mem-trans-white;
}

div.event {
    .event__content {

        .event__location,
        .event__time {
            @include fs-textsans(4);
            display: block;
        }

        .event__description {
            @include fs-bodyCopy(3);
        }

    }

    .event__related {
        margin-top: gs-height(1);

        .event__related--content {
            background-color: $mem-trans-white;
        }
    }

    @include mq(desktop) {
        .event__content {
            float: left;
            width: gs-span(10);
            margin-right: $gs-gutter;
        }
        .event__related {
            margin: 0;
            float: left;
            width: gs-span(4);
            min-height: 600px;
        }
    }

}