@charset "UTF-8";

@import "head.common";

html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

.wrapper {
    padding: gs-height(1) 0;
}

body {
    margin-bottom: 100px;
}

.section-header {
    display: inline-block;
    @include fs-headline(5);
    @include rem((
        margin-bottom: $gs-baseline*2,
        padding: $gs-baseline/3
    ));
    background-color: #FFFFFF;
}