@(ex: Throwable)
@main("Internal Server Error") {
    <main role="main" class="page-content l-constrained">
        @fragments.page.pageHeader("Error 500 – Internal server error")
        <section class="page-section">
            <div class="page-section__content copy">
                <p>
                    Sorry, there was an error on this page. We're aware of the problem. If this error persists, please contact
                    support on <a href="mailto:membershipsupport@@theguardian.com">membershipsupport@@theguardian.com</a>.
                </p>
                @ex match { case err: play.api.UsefulException =>
                    <p>Please provide the following error code to help identify the issue.</p>
                    <pre>Error code: @err.id</pre>
                }
            </div>
        </section>
    </main>
}
