@()(implicit token: play.filters.csrf.CSRF.Token)

@import views.support.Asset

@slideShowElement(position: Int, imgSrc: String, description: String, imageClass: String, hasDocumentFlow: Boolean = false) = {
    <figure class="slide-show__element@if(hasDocumentFlow == true){ slide-show__element--with-document-flow}">
        <figcaption class="slide-show-detail">
            <div class="progress-indicator">
                <span class="progress-indicator__index">@position</span>
                <span class="progress-indicator__separator">/ </span>
                <span class="progress-indicator__count">6</span>
            </div>
            <h2 class="slide-show-detail__description">@description</h2>
        </figcaption>
        <div class="gradient-text-highlighter"></div>
        <div class="delayed-home-image-load" data-src="@Asset.at("images/noAssetHash/home/hero/" + imgSrc + "{width}{pixel_ratio}.jpg")" data-alt="@description" data-class="responsive-img"></div>
    </figure>
}

@promoElement(imgSrc: String, description: String, anchorHref: String, fileType: String = "jpg") = {
    <li class="home-promo">
        <a class="home-promo-cta" href="@anchorHref">
            <div class="delayed-home-promo-image-load" data-src="@Asset.at("images/noAssetHash/home/promo/" + imgSrc + "{width}{pixel_ratio}." + fileType)" data-alt="@description" data-class="responsive-img"></div>
            <h3 class="home-promo__description">@description</h3>
        </a>
    </li>
}

@main("Home Page a-b", noIndex=true) {
    <div class="slide-show">
        @slideShowElement(6, "viv_west_", "Guardian Live event: Vivienne Westwood", "six")
        @slideShowElement(5, "tin_temp_", "Observer Ideas - Stories that inspire: Tinie Tempah", "five")
        @slideShowElement(4, "women_", "Guardian Live event: Russell Brand", "four")
        @slideShowElement(3, "jim_page_", "A life in music: Jimmy Page", "three")
        @slideShowElement(2, "pussy_riot_", "Guardian Live event: Pussy Riot - art, sex and disobedience", "two")
        @slideShowElement(1, "man_aud_", "Guardian Live with Russell Brand", "one", true)
    </div>
    <section class="page-content u-cf">
        <div class="home-hero-description-container">
                <h1 class="home-hero-description">We're bringing the Guardian to life through live events and meet-ups. <a class="home-hero-description-highlight" href="/join">Join and be part of the conversations that matter.</a></h1>
            <a class="action action--no-bottom-margin" href="/join">Join today</a>
        </div>
        <div class="home-promo-list-container">
            <ul class="home-promo-list u-unstyled">
                @promoElement("whats-included-", "Discover what's included with Guardian Membership", "/about", "png")
                @promoElement("events-", "Browse our events and book your tickets now", "/events")
                @promoElement("compare-tiers-", "Compare the three tiers of Guardian Membership", "/join")
                @promoElement("become_patron_", "Become a Patron and support the Guardian's future", "/patrons")
            </ul>
        </div>
    </section>

}
