@(
    pageImages: Seq[model.ResponsiveImageGroup],
    midlandGoodsShedImages: Seq[model.ResponsiveImageGroup],
    eventCollection: model.EventBrandCollection
)

@import com.gu.membership.salesforce.Tier
@import com.gu.membership.salesforce.Tier.{Supporter, Partner}
@import views.support.Links.BasicLink
@import views.support.Asset

@main("") {

    <div class="hero-banner" style="background-image: url(@Asset.at("images/join-challenger/event-grid.jpg"))">
        <div class="hero-banner__inner">
            <div class="l-constrained">
                <div class="hero-banner__content">
                    <h1 class="hero-banner__title">Become a Guardian&nbsp;Member</h1>
                    <p class="hero-banner__description">
                        Join Guardian Members to support our journalism,
                        and enjoy a programme of fantastic member events
                    </p>
                    <div class="hero-banner__action">
                        @fragments.common.jumpLink("Learn more", "#introducing-members")
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* =========================================== *@
    @* 1. Introducing Guardian Members             *@
    @* =========================================== *@
    <section class="page-slice page-slice--listing u-sticky-offset" id="introducing-members">

        @fragments.page.navSections(Seq(
            BasicLink("#introducing-members", "Introducing Guardian Members"),
            BasicLink("#why-join", "Why join"),
            BasicLink("#join-now", "Join now")
        ))

        <div class="listing listing--bordered listing--padded l-constrained" id="introducing-members">
            <div class="listing__lead-in">
                <h3 class="h-intro">
                    <span class="o-counter">1</span>
                    Introducing Guardian Members
                </h3>
            </div>
            <div class="listing__content">
                @fragments.media.videoPreview(
                    configuration.Videos.whatIsMembershipAlt,
                    "Alan Rusbridger, Polly Toynbee, Jonathan Freedland, Owen Jones and Zoe Williams introduce Guardian Members."
                )
                @fragments.common.jumpLink("Benefits of membership", "#why-join")
            </div>
        </div>

    </section>


    @* =========================================== *@
    @* 2. Why join                                 *@
    @* =========================================== *@
    <section class="page-slice page-slice--listing u-padding-top" id="why-join">
        <div class="listing listing--bordered listing--padded l-constrained">
            <div class="listing__lead-in">
                <h3 class="h-intro">
                    <span class="o-counter">2</span>
                    Why join
                </h3>
            </div>
            <div class="listing__content">

                <div class="u-capped-two-thirds">
                    <h4 class="h-intro h-intro--brand">
                        Support Guardian journalism
                    </h4>
                    <p class="text-intro">
                        For 200 years, the Guardian has been fearless and independent.
                        Our website is free of charge. By becoming a member,
                        your financial contribution will help keep it this way,
                        and ensure quality journalism is available to all.
                    </p>
                </div>

                <h4 class="h-intro h-intro--brand h-intro--section">Recent Guardian initiatives</h4>

                <ul class="grid grid--4up grid--bordered grid--stretch grid--single-row">
                    <li class="grid__item">
                        @fragments.promos.panel(
                            "Keep it in the ground",
                            """Join us and more than 226,000 others in urging the world’s
                                | two biggest charitable funds to move their money out of fossil fuels""".stripMargin,
                            "http://www.theguardian.com/environment/ng-interactive/2015/mar/16/keep-it-in-the-ground-guardian-climate-change-campaign",
                            Asset.at("images/promo/promo-keep-it-in-the-ground.jpg")
                        )
                    </li>
                    <li class="grid__item">
                        @fragments.promos.panel(
                            "End FGM Guardian Global Media Campaign",
                            """The Guardian’s campaign has amplified the grassroots work of campaigners
                                | against Female Genital Mutilation in the UK, the US, Kenya and the Gambia""".stripMargin,
                            "http://www.theguardian.com/society/female-genital-mutilation",
                            Asset.at("images/promo/promo-end-fgm-campaign.jpg")
                        )
                    </li>
                    <li class="grid__item">
                        @fragments.promos.panel(
                            "NSA files: decoded",
                            "Edward Snowden’s surveillance revelations explained",
                            "http://www.theguardian.com/world/interactive/2013/nov/01/snowden-nsa-files-surveillance-revelations-decoded",
                            Asset.at("images/promo/promo-nsa-files.jpg")
                        )
                    </li>
                    <li class="grid__item">
                        @fragments.promos.panel(
                            "The Counted",
                            """A project by the Guardian – and you – working to count the number of people killed
                                | by police and other law enforcement agencies in the United States throughout 2015""".stripMargin,
                            "http://www.theguardian.com/us-news/ng-interactive/2015/jun/01/the-counted-police-killings-us-database",
                            Asset.at("images/promo/promo-the-counted.jpg")
                        )
                    </li>
                </ul>

                @fragments.common.jumpLink("Experience the Guardian", "#experience")

                @* ===== Experience the Guardian ===== *@
                <div id="experience">

                    <h4 class="h-intro h-intro--brand h-intro--section">Experience the Guardian in real life</h4>
                    <div class="text-intro">
                        <p class="u-no-bottom-margin">
                            You’re invited to a range of live discussions and local member events:
                        </p>
                        <ul class="o-bulleted-list">
                            <li>Meet the people behind the Guardian – journalists, columnists
                            and editors</li>
                            <li>Watch – and join – the debates that shape our stories</li>
                            <li>Hear first-hand from people in the news – and those who create the culture we admire</li>
                            <li>Come together around the food, art and culture worth sharing</li>
                        </ul>
                    </div>

                    <ul class="grid grid--3up-stacked grid--single-row">
                        <li class="grid__item">
                            @fragments.promos.brandPanel(
                                "Guardian Live",
                                """Entertaining discussions, debates and interviews with
                                    | Guardian journalists and prominent cultural figures""".stripMargin,
                                eventCollection.live,
                                Some(BasicLink(routes.Event.eventsList.url, "All upcoming events"))
                            )
                        </li>
                        <li class="grid__item">
                            @fragments.promos.brandPanel(
                                "Guardian Local",
                                "Smaller events celebrating local art, food and culture featured in the Guardian",
                                eventCollection.local,
                                Some(BasicLink(routes.Event.eventsList.url, "All upcoming events"))
                            )
                        </li>
                        <li class="grid__item">
                            @fragments.promos.brandPanel(
                                "Guardian Masterclasses",
                                "A range of courses and workshops taught by award-winning professionals",
                                eventCollection.masterclasses,
                                Some(BasicLink(routes.Event.masterclassesList.url, "All upcoming masterclasses"))
                            )
                        </li>
                    </ul>
                </div>

                @fragments.common.jumpLink("A home for Guardian Members", "#big-ideas")

                @* ===== A home for big ideas ===== *@
                <div id="big-ideas">
                    @fragments.promos.promoTertiary(
                        "A home for Guardian members",
                        """In 2016, the Guardian is opening the Midland Goods Shed at
                            | King’s Cross as a new civic space. It features a bar and restaurant,
                            | and will host events, festivals and courses from the Guardian and
                            | other organisations we admire.""".stripMargin,
                        midlandGoodsShedImages,
                        None
                    )
                </div>

                @fragments.common.jumpLink("Join today", "#join-now")
            </div>
        </div>
    </section>

    @* =========================================== *@
    @* 3. Join Now                                 *@
    @* =========================================== *@
    <section class="page-slice page-slice--listing u-padding-top" id="join-now">
        <div class="listing listing--bordered listing--padded l-constrained">
            <div class="listing__lead-in">
                <h3 class="h-intro">
                    <span class="o-counter">3</span>
                    Join now
                </h3>
            </div>
            <div class="listing__content">
                <h4 class="h-intro h-intro--brand u-margin-bottom">Member levels</h4>

                <ul class="grid grid--2up-stacked">
                    @for(tier <- Seq(Supporter, Partner)) {
                        <li class="grid__item">
                            @fragments.tier.packagePromo(tier, extraClasses=List("package-promo--lead"))
                        </li>
                    }
                </ul>
                @fragments.common.jumpLink("Compare member levels", "#compare-membership")

                <div id="compare-membership">
                    <h4 class="h-intro h-intro--brand">What's Included</h4>
                    @fragments.tier.comparisonTable()
                </div>

                @for(image <- pageImages.find(_.name.contains("patrons"))) {
                    @fragments.promos.promoTertiary(
                        "Become a Patron",
                        "Patrons play a vital role to keep the Guardian fearless, progressive and free from interference",
                        Seq(image),
                        Some(BasicLink(routes.Info.patron.url, "Learn more about Patrons", Some("qa-learn-patron")))
                    )
                }
            </div>
        </div>
    </section>

}
