@(pageImages: Seq[model.ResponsiveImageGroup])

@import configuration.Links

@main("Home Page") {

<main role="main" class="l-constrained">

    @* ===== Slideshow ===== *@
    <section class="slideshow js-slideshow" data-slideshow-duration="6000">
        @for(imgGroup <- pageImages) {
            @fragments.media.slideshowItem(imgGroup, imgGroup.altText)
        }
    </section>

    @* ===== Introduction ===== *@
    <section class="block-description block-description--right block-description--pull tier-hidden">
        <p class="block-description__text">
            <a class="text-highlight" href="@routes.Joiner.tierList">Join the Guardian.</a>
            Support open, independent journalism and experience it brought to life.
        </p>
        <a class="action" href="@routes.Joiner.tierList" id="qa-join">Join today</a>
    </section>

    <section class="block-description block-description--padded block-description--right block-description--pull tier-required">
        <p class="block-description__lead">Hello <span class="js-user-firstName"></span></p>
        <p class="block-description__text">Welcome back to Guardian Membership</p>
    </section>

    @* ===== Feature panels ===== *@
    <section class="page-content">
        <div class="section-features tier-hidden">
            <ul class="grid grid--bordered grid--4up">
                <li class="grid__item">
                    @fragments.page.featurePanel(
                        imgSrc="images/promo/promo-what-is-guardian-membership.jpg",
                        description="If you believe in Guardian journalism, become a Guardian Member",
                        anchorHref=routes.Info.about + "#what-is-guardian-membership",
                        isVideo=true
                    )
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel(
                        imgSrc="images/promo/promo-compare.jpg",
                        description="Compare the three tiers of Guardian Membership",
                        anchorHref=routes.Joiner.tierList.toString
                    )
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel(
                        imgSrc="images/promo/promo-discount.jpg",
                        description="Partners and Patrons save 50% until 30 June.<br>See all events.",
                        anchorHref=routes.Event.list.toString
                    )
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel(
                        imgSrc="images/promo/promo-ewen-macaskill.jpg",
                        description="Ewen MacAskill: 'Become a Guardian Member and support fearless investigative journalism'",
                        anchorHref=Links.membershipInvestigativeJournalismArticle
                    )
                </li>
            </ul>
        </div>

        <div class="section-features tier-required">
            <ul class="grid grid--bordered grid--4up">
                <li class="grid__item">
                    @fragments.page.featurePanel("images/promo/promo-events.jpg", "Browse our events programme and book tickets now", routes.Event.list.toString)
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel("images/promo/promo-masterclasses.jpg", "Learn something new with Guardian Masterclasses", routes.Event.masterclasses.toString)
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel("images/promo/promo-members.png", "Visit our members area on theguardian.com", Links.membershipFront)
                </li>
                <li class="grid__item">
                    @fragments.page.featurePanel("images/promo/promo-space.jpg", "Transforming the Midland Goods Shed into a new space for debate, culture and curiosity", Links.membershipBuilding)
                </li>
            </ul>
        </div>
    </section>

</main>

}
