@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @import views.Config
        @if(!Config.hideMem){
        <!--

             /'\_/`\                   /\ \                          /\ \      __
            /\      \     __    ___ ___\ \ \____     __   _ __   ____\ \ \___ /\_\  _____
            \ \ \__\ \  /'__`\/' __` __`\ \ '__`\  /'__`\/\`'__\/',__\\ \  _ `\/\ \/\ '__`\
             \ \ \_/\ \/\  __//\ \/\ \/\ \ \ \L\ \/\  __/\ \ \//\__, `\\ \ \ \ \ \ \ \ \L\ \
              \ \_\\ \_\ \____\ \_\ \_\ \_\ \_,__/\ \____\\ \_\\/\____/ \ \_\ \_\ \_\ \ ,__/
               \/_/ \/_/\/____/\/_/\/_/\/_/\/___/  \/____/ \/_/ \/___/   \/_/\/_/\/_/\ \ \/
                                                                                      \ \_\
                                                                                       \/_/
        -->
        }
        <meta charset="utf-8">
        <meta name="viewport"                       content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="HandheldFriendly"               content="true"/>
        <meta name="apple-touch-fullscreen"         content="yes" />
        <meta name="apple-mobile-web-app-capable"   content="yes">
        <meta name="author"                         content=""/>
        <meta name="description"                    content=""/>
        <meta name="keywords"                       content=""/>
        <meta name="copyright"                      content=""/>
        <meta name="rating"                         content="general"/>
        <meta http-equiv="imagetoolbar"             content="no"/>
        <meta name="Rating"                         content="general"/>
        <meta name="Distribution"                   content="Global"/>

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/requirejs/require.js")" data-main="@routes.Assets.at("javascripts/main")"></script>

    </head>
    <body>

        @partials.header()

        @content

        @partials.footer()

    </body>
</html>
