@(
    title: String,
    pageInfo: model.PageInfo = model.PageInfo.default
)(content: Html)

@import configuration.Config
@import views.support.Asset

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        @fragments.meta.mobile()
        <title>@(title + " | " + Config.siteTitle)</title>

        <link rel="stylesheet" media="all" href="@Asset.at("stylesheets/tools.css")">
    </head>
    <body>
        <div>
            @content
        </div>
    </body>
    <script>
        var curl = {
            apiName: 'require'
        };
    </script>
    <script src='@Asset.at("javascripts/lib/curl/curl.js")'></script>
    <script src="@Asset.at("javascripts/tools.js")"></script>
</html>
