@import views.Crumb

@main("Membership") {

@partials.crumb(Seq(Crumb("Home", "/"), Crumb("Become a member", "/join"), Crumb("Become a Partner", "/join/partner")))


<div class="container">

    <h1 class="section-header">Partner Tier</h1>

    <div>
        <ul>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
        </ul>
    </div>

    <div>
        <ul>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
            <li>
                <img src="" alt=""/>
                <span></span>
            </li>
        </ul>
        <div>
            <p></p>
            <a href="/join/partner/payment">Join</a>
        </div>
    </div>


</div>

}