/* ==========================================================================
   Results
   ========================================================================== */
.results {
    background-color: $white;
    margin: 0 rem(20px) rem(20px);
    min-height: rem(120px);
    padding: rem(10px);
}

.result-section {
    color: $c-neutral2;
}
