@(ebIFrameDetail: Option[(String, Int)], event: Option[model.Eventbrite.EBEvent])

@if(event) {
    <section class="content__container content__container--border-blue">
        <h2 class="section-sub-headline">Complete your ticket purchase</h2>
        <p>We're currently improving our ticket purchasing system, in the meantime you will have to enter some details again. We'll have a much smoother solution soon.</p>
    </section>

    @for(event <- event) {
        @fragments.event.itemSummary(event)
    }

    @for((eventIFrameUrl, eventIFrameTicketQty) <- ebIFrameDetail) {
        @fragments.form.eventBriteIFrame(eventIFrameUrl, eventIFrameTicketQty)
    }
} else {
    <a class="action action--join" href="/events">Get Started</a>
}
