@(ebIFrameDetail: Option[(String, Int)], event: Option[model.Eventbrite.EBEvent])

@import configuration.Config

@if(event) {
    <section class="content__container content__container--slim">
        <h2 class="content__headline">Complete your ticket purchase</h2>
        <p>We're currently improving our ticket purchasing system, in the meantime you will have to enter some details again.</p>

        @for(event <- event) {
            @fragments.event.itemSummary(event)
        }

        @for((eventIFrameUrl, eventIFrameTicketQty) <- ebIFrameDetail) {
            @fragments.form.eventBriteIFrame(eventIFrameUrl, eventIFrameTicketQty)
        }
    </section>
} else {
    <section class="content__container content__container--slim">
        <h2 class="content__headline">Tell your friends</h2>
        @fragments.social("I've just joined Guardian Membership", "The Guardian is coming to life through live events and meet-ups. I've joined to take part in the conversations and experiences that matter.\n\nCheck it out:\n" + Config.membershipUrl, Config.membershipUrl, "With @" + Config.twitterUsername + ", the Guardian is coming to life through events and meet-ups. I've just joined. Check it out.", Config.membershipUrl, true)
    </section>
    <section class="content__container content__container--slim">
        <h2 class="content__headline">Find Guardian Live events</h2>
        <a class="action" href="/events">Get started</a>
    </section>
}
