@import views.support.IdentityUser
@(user: IdentityUser, returnUri: String, inline: Boolean = false)

@import configuration.Config.idWebAppSignOutThenRegisterUrl

@for(displayName <- user.publicFields.displayName) {
    <p class="text-note">
        You're signed in as <strong class="qa-user-displayname">@displayName</strong>.
    @if(!inline) {
        </p>
        <p class="text-note">
    }
        <a href="@idWebAppSignOutThenRegisterUrl(returnUri)" class="text-link">Sign out</a>
    </p>
}
