@import configuration.Config.googleSigninUrl
@import configuration.Config.facebookSigninUrl
@(returnUri: String)

<div class="text-note">
<p >Create a new Guardian account, or sign-in</p>

<div class="action-group">
    <a class="action action--slim action--no-icon signin-facebook" href="@facebookSigninUrl(returnUri)">
        Facebook
        @fragments.actionIcon("share-facebook")
    </a>
    <a class="action action--slim action--no-icon signin-gplus" href="@googleSigninUrl(returnUri)">
        Google
        @fragments.actionIcon("share-gplus")
    </a>
</div>
</div>
