@import abtests.CheckoutFlowVariant

@(returnUri: String, inline: Boolean = false, switchUser: Boolean = false, flowVariant: CheckoutFlowVariant = CheckoutFlowVariant.A)

@import configuration.Config.{idWebAppSignOutThenInUrl,idWebAppSignOutThenRegisterUrl}

<p class="text-note">
    You're signed in as <strong class="js-user-displayname"></strong>.
@if(!inline) {
	</p>
	<p class="text-note">
}
    @if(switchUser) {
        <a href="@idWebAppSignOutThenRegisterUrl(returnUri, flowVariant)" class="text-link">Sign out</a>
    } else {
        <a href="@idWebAppSignOutThenInUrl(returnUri)" class="text-link">Sign out</a>
    }
</p>
