@(staffEmail: model.StaffEmails, displayName: Option[String], avatarUrl: Option[String], error: Option[String])(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import configuration.Config
@import helper._
@import play.twirl.api.Html
@import model.Faq

@signPostItem(btnText: String, btnSrc: String)(description: Html) = {
    <li class="signpost-item signpost-item--sign">
        <p class="signpost-item__description">@description</p>
        <div class="signpost__cta">
            <a class="action action--no-bottom-margin" href="@btnSrc">@btnText</a>
        </div>
    </li>
}

@main("Staff Membership", containerPadding=false) {

    <main class="page-container__inner">
        @fragments.notifications.flashMessage(error)
        <section class="page-header">
            <h1 class="page-headline">Guardian Staff Membership</h1>
            <p class="page-intro">All permanent Guardian staff can sign up to the Partner tier of Guardian membership for free (equivalent to £15/month)</p>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Join Guardian Staff Membership now</h2>
            </div>
            <div class="page-section__content">
                @staffEmail.identityEmail.fold {
                    <p>
                        To join Guardian Staff Membership you must have a Guardian Identity account set up using
                        your work email address ending @@theguardian.com (@@guardian.co.uk will work too).
                    </p>

                    <ul class="signpost u-unstyled">
                        @signPostItem("Create account", Config.idWebAppRegisterUrl(routes.Joiner.staff.url)){
                            Set up a <strong>new</strong> Guardian Identity account
                        }
                        <li class="signpost-item signpost-item--divider">or</li>
                        @signPostItem("Sign in", Config.idWebAppSigninUrl(routes.Joiner.staff.url)){
                            Use an <strong>existing</strong> Guardian Identity account
                        }
                    </ul>
                } { identityEmail =>
                    <div class="u-cf">
                        @for(srcUrl <- avatarUrl){
                            <img class="user-img" src="@srcUrl" alt="User Image"/>
                        }
                        <p>
                            @for(name <- displayName){
                                Hello <strong>@displayName</strong>.
                            }
                            Glad to see you've decided to join Guardian Staff Membership.
                        </p>
                    </div>

                    @if(staffEmail.emailsMatch) {
                        <a class="action action--no-bottom-margin" href="@routes.Joiner.enterStaffDetails">Join</a>
                    } else {
                        <p>
                            Currently your account is set up with <strong>@identityEmail</strong>. To join Guardian
                            Staff Membership you must have a Guardian Identity account set up using your work email
                            address ending @@theguardian.com (@@guardian.co.uk will work too).
                        </p>

                        <ul class="signpost u-unstyled">
                            <li class="signpost-item signpost-item--sign">
                                <p class="signpost-item__description">Change email address to <strong> @staffEmail.googleEmail </strong> Guardian Identity account</p>
                                <div class="signpost__cta">
                                    <form action="@routes.Joiner.updateEmailStaff" method="POST">
                                        @CSRF.formField
                                        <button class="action action--no-bottom-margin" type="submit">Change email and Join now</button>
                                    </form>
                                </div>
                            </li>
                            <li class="signpost-item signpost-item--divider">or</li>
                            @signPostItem("Create new account", Config.idWebAppRegisterUrl(routes.Joiner.staff.url)){
                                Set up a <strong>new</strong> Guardian Identity account
                            }
                        </ul>
                    }
                }
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Partner benefits</h2>
            </div>
            <div class="page-section__content">
                @fragments.benefits.detail(Tier.Partner)
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Questions</h2>
            </div>
            <div class="page-section__content copy">
            @for(faq <- Faq.help){
                <div class="help-faqs">
                    <h3 class="help-faqs__headline">@faq.question</h3>
                    <p>@faq.answer</p>
                </div>
            }
            </div>
        </section>
    </main>
}
