@(
  staffEmail: model.StaffEmails,
  displayName: Option[String],
  avatarUrl: Option[String],
  flashMessage: Option[model.FlashMessage]
)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import configuration.Config
@import helper._
@import play.twirl.api.Html
@import model.Benefits
@import model.Faq

@signPostItem(btnText: String, btnSrc: String, title: String = "")(description: Html) = {
    <li class="signpost-item">
        @if(title){
            <h4 class="signpost-item__title">@title</h4>
        }
        <p class="signpost-item__description">@description</p>
        <div class="signpost__cta">
            <a class="action u-no-bottom-margin" href="@btnSrc">@btnText</a>
        </div>
    </li>
}

@main("Staff Membership") {

    <main class="page-content l-constrained" role="main">

        @for(flashMsg <- flashMessage) {
            @fragments.notifications.flashMessage(flashMsg)
        }

        @fragments.page.pageHeader("Guardian Staff Membership",
            Some("All permanent Guardian staff can sign up to the Partner tier of Guardian Membership for free (equivalent to £15/month)"))

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Join</h2>
            </div>
            <div class="page-section__content">
                @staffEmail.identityEmail.fold {
                    <p>Before joining you must have a profile on <strong>theguardian.com</strong> set up with your work email address.</p>

                    <ul class="signpost u-unstyled">
                        @signPostItem("Create account", Config.idWebAppRegisterUrl(routes.Joiner.staff.url)){
                            Create a profile on <strong>theguardian.com</strong> with your work email address
                        }
                        @signPostItem("Sign in", Config.idWebAppSigninUrl(routes.Joiner.staff.url)){
                            Sign in to <strong>theguardian.com</strong> with your work email address
                        }
                    </ul>

                } { identityEmail =>

                    <div class="user-welcome u-cf copy">
                        @for(srcUrl <- avatarUrl){
                            <img class="user-welcome__image user-img" src="@srcUrl" alt="User Image"/>
                        }
                        <div class="user-welcome__content">
                            @for(name <- displayName){
                                <h3 class="user-welcome__title text-body">Hello <strong>@displayName</strong>. Not you? <a href="@Config.idWebAppUrl/signout">Sign out</a></h3>
                            }
                            <div class="user-welcome__info">
                                <p>Glad to see you've decided to join Guardian Staff Membership.</p>
                            </div>
                        </div>
                    </div>

                    @if(staffEmail.emailsMatch) {
                        <p>Join Guardian Staff Membership as <strong>@identityEmail</strong></p>
                        <div class="action-group">
                            <a class="action u-no-bottom-margin" href="@routes.Joiner.enterStaffDetails">Join</a>
                            <a class="action action--secondary u-no-bottom-margin" href="@Config.idWebAppUrl/signout">
                                Sign out
                                @fragments.actionIcon("arrow-right")
                            </a>
                        </div>
                    } else {
                        <p>Before joining you must have a profile on <strong>theguardian.com</strong> set up using your work email address <strong>(@staffEmail.googleEmail)</strong></p>

                        <p>You're signed in to <strong>theguardian.com</strong> as <strong>@identityEmail</strong>, unfortunately this isn't a valid email address for Guardian Staff Membership.</p>
                        <p>You have two options to join:</p>

                        <div class="modal-container u-cf">
                            @fragments.modal.staffChangeEmail(identityEmail, staffEmail.googleEmail)
                            <ul class="signpost u-unstyled">
                                <li class="signpost-item">
                                    <h4 class="signpost-item__title">Option 1</h4>
                                    <p class="signpost-item__description">
                                        Allow Guardian membership to change your Guardian Identity email address from <strong>@identityEmail</strong> to <strong>@staffEmail.googleEmail</strong
                                    </p>
                                    <div class="signpost__cta">
                                        <form action="@routes.Joiner.updateEmailStaff" method="POST">
                                            @CSRF.formField
                                            <button class="action u-no-bottom-margin js-modal-cta" data-modal="js-change-email-modal" type="submit">Change email for me</button>
                                        </form>
                                    </div>
                                </li>
                                @signPostItem("Register Now", Config.idWebAppRegisterUrl(routes.Joiner.staff.url), "Option 2"){
                                    Register for a new profile on <strong>theguardian.com</strong> with your work email address <strong>@staffEmail.googleEmail</strong>
                                }
                            </ul>
                        </div>
                    }
                }
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Benefits</h2>
            </div>
            <div class="page-section__content">
                <ul class="grid grid--3up">
                    @for(benefit <- Benefits.details(Tier.Partner).list) {
                        <li class="grid__item">
                            @fragments.benefits.item(benefit=benefit)
                        </li>
                    }
                </ul>
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Questions</h2>
            </div>
            <div class="page-section__content">
                @fragments.faq.answers(Faq.staff)
            </div>
        </section>
    </main>
}
