@(member: com.gu.membership.salesforce.Member, paymentSummary: model.Zuora.PaymentSummary,
    cardOpt: Option[com.gu.membership.stripe.Stripe.Card], eventDetailsOpt: Option[(model.RichEvent.RichEvent, String)], upgrade: Boolean)

@import views.support.Dates._
@import views.support.Prices._
@import views.support.Social.joinThankyou

@iframeHeight(event: model.RichEvent.RichEvent) = @{
    val ticketHeight = 60
    val iframeChrome = 560
    event.ticket_classes.length * ticketHeight + iframeChrome
}

@title = @{ if (upgrade) "Thank you for upgrading" else "Thank you | " + member.tier.name }

@pageHeader = @{
    if(upgrade) {
        "All done! Thanks for upgrading"
    } else {
        for(firstName <- member.firstName) {
            "Hello " + firstName + "<br/>"
        }
        "Welcome to Guardian Membership"
    }
}

@main(title) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader(pageHeader, Some("You're the newest " + member.tier + " of the Guardian and we're thrilled to have you on board. We've sent confirmation of your membership to " + member.email))

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Your membership summary</h2>
            </div>
            <div class="page-section__content">
                <table class="table table--responsive-font table--striped" role="grid">
                    <tr role="row">
                        <th role="rowheader">Tier</th>
                        <td id="qa-joiner-summary-tier">@member.tier</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Start date</th>
                        <td id="qa-joiner-summary-start">@paymentSummary.current.serviceStartDate.pretty</td>
                    </tr>
                    @for(card <- cardOpt) {
                        <tr role="row">
                            <th role="rowheader">Amount paid today</th>
                            <td id="qa-joiner-summary-today">@paymentSummary.totalPrice.pretty</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">
                                @if(paymentSummary.current.annual) { Annual } else { Monthly } payment
                            </th>
                            <td id="qa-joiner-summary-recurring">@paymentSummary.current.price.pretty</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">Next payment</th>
                            <td id="qa-joiner-summary-next">@paymentSummary.current.nextPaymentDate.pretty</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">Card</th>
                            <td id="qa-joiner-summary-card">•••• •••• •••• •••• @card.last4</td>
                        </tr>
                    }
                </table>
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Tell your friends</h2>
            </div>
            <div class="page-section__content">
                @fragments.social(joinThankyou)
            </div>
        </section>

        @eventDetailsOpt match {
            case Some((event, iframeUrl)) => {

                <section class="page-section page-section--bordered">
                    <div class="page-section__lead-in">
                        <h2 class="page-section__headline">Complete your ticket purchase</h2>
                    </div>
                    <div class="page-section__content">
                        <p>
                           We're currently improving our ticket purchasing system, in the meantime you will have to enter
                           some details again.
                        </p>
                        <iframe src="@iframeUrl" width="100%" height="@iframeHeight(event)" frameborder="0" vspace="0"
                        hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                    </div>
                </section>
            }

            case None => {

                <section class="page-section page-section--bordered">
                    <div class="page-section__lead-in">
                        <h2 class="page-section__headline">Get Started</h2>
                    </div>
                    <div class="page-section__content">
                        <p>This season of events is packed with discussions, debates and interviews you’ll love.  We’ll send you a welcome email shortly to help you get the most from your membership. Why not take a few moments to find out the latest from membership</p>
                        <a class="action" href="@routes.Event.list">Get started</a>
                    </div>
                </section>
            }
        }

    </main>

    @fragments.analytics.googleJoinerConversion(member.tier)
    @fragments.analytics.facebookJoinerConversion(member.tier)
    @fragments.analytics.membershipJoinerConversion()
}
