@import com.gu.memsub.subsv2.SubscriptionPlan.Contributor
@import play.twirl.api.Html
@import views.support.Dates._
@import model.Header.SimpleHeader
@import views.support.Social.joinThankyou
@import views.support.ThankYouMonthlySummary
@import com.gu.memsub.{PaymentCard, PayPalMethod}
@(contributor: Contributor,

    summary: ThankYouMonthlySummary,
    touchpointBackendResolution: services.TouchpointBackend.Resolution
)

@title = @{s"Thank you for your support"}

@pageHeader = @{
    "Thank you!"
}


@getStarted(title: String)(content: Html) = {
    <section class="page-section page-section--bordered">
        <div class="page-section__lead-in">
            <h2 class="page-section__headline">@title</h2>
        </div>
        <div class="page-section__content">
        @content
        </div>
    </section>
}

@paymentRow(title : String, message: String) = {
    <tr role="row">
        <th role="rowheader">@title</th>
        <td id="qa-joiner-summary-card">@message</td>
    </tr>
}

@main(
    title,
    touchpointBackendResolutionOpt = Some(touchpointBackendResolution),
    header = SimpleHeader
) {
    <script type="text/javascript">
        guardian.productData = {
            tier: 'Monthly Contribution',
            paymentMethod: '@{summary.paymentMethod match{
         case Some(_ :PaymentCard) => "CreditCard"
         case Some(_ :PayPalMethod) => "PayPal"
         case _ =>
       }}'
        };
    </script>
    <main role="main" class="page-content l-constrained">

        @{
            //TODO: //fragments.analytics.appNexusPixel("id", AppnexusPixel.thankYouPageIds.get(member.subscription.plan.tier))
        }

        @fragments.page.pageHeader(
            pageHeader,
            Some(s"You’ve made a vital monthly contribution that will help us maintain our independent, investigative journalism.")
        )

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Your contribution summary</h2>
            </div>
            <div class="page-section__content">
                <table class="table table--striped" role="grid">
                    <tr role="row">
                        <th role="rowheader">Your monthly contribution</th>
                        <td id="qa-joiner-summary-today">@summary.amountPaidToday.pretty</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">First contribution date</th>
                        <td id="qa-joiner-summary-start">@summary.startDate.pretty</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Your monthly contribution will be taken on or around the </th>
                        <td id="qa-joiner-summary-start">@summary.startDate.pretty</td>
                    </tr>
                </table>
            </div>
        </section>


        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Tell your friends</h2>
            </div>
            <div class="page-section__content">
            @fragments.social(joinThankyou)
            </div>
        </section>

    </main>

        @{
            //TODO: fragments.analytics.googleJoinerConversion(member.subscription.plan.tier)
            //TODO: fragments.analytics.facebookJoinerConversion(member.subscription.plan.tier)
            //TODO: fragments.analytics.videoCampaignPHD.thankyouPage(regNumberOrFree, summary.amountPaidToday.pretty)
        }
    )
}
