@import com.gu.membership.salesforce.Member
@import com.gu.membership.salesforce.Contact
@(
    member: Contact[Member, _],
    summary: model.MembershipSummary,
    cardOpt: Option[com.gu.membership.stripe.Stripe.Card],
    returnDestinationOpt: Option[model.Destination],
    upgrade: Boolean
)

@import play.twirl.api.Html
@import com.gu.membership.salesforce.Tier
@import configuration.{Config, Links}
@import views.support.Dates._
@import views.support.Prices._
@import views.support.Social.joinThankyou

@title = @{
    if(upgrade) {
        s"Thank you for upgrading | ${member.memberStatus.tier.name}"
    } else {
        s"Thank you | ${member.memberStatus.tier.name}"
    }
}

@pageHeader = @{
    if(upgrade) {
        "All done! Thanks for upgrading"
    } else {
        for(firstName <- member.firstName) {
            "Hello " + firstName + "<br/>"
        }
        "Welcome to Guardian Members"
    }
}

@getStarted(title: String)(content: Html) = {
    <section class="page-section page-section--bordered">
        <div class="page-section__lead-in">
            <h2 class="page-section__headline">@title</h2>
        </div>
        <div class="page-section__content">
            @content
        </div>
    </section>
}

@main(title) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader(pageHeader, Some("You're the newest " + member.memberStatus.tier + " of the Guardian and we're thrilled to have you on board. We've sent confirmation of your membership to " + member.email))

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Your membership summary</h2>
            </div>
            <div class="page-section__content">
                <table class="table table--striped" role="grid">
                    <tr role="row">
                        <th role="rowheader">Tier</th>
                        <td id="qa-joiner-summary-tier">@member.memberStatus.tier</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Start date</th>
                        <td id="qa-joiner-summary-start">@summary.startDate.pretty</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Amount paid today</th>
                        <td id="qa-joiner-summary-today">@summary.amountPaidToday.getOrElse(0f).pretty</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Next payment</th>
                        <td id="qa-joiner-summary-next">
                            @if(summary.initialFreePeriodOffer) {
                                @summary.nextPaymentPrice.pretty (@summary.nextPaymentDate.pretty)
                            } else { @summary.nextPaymentDate.pretty }
                        </td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">
                            @if(summary.annual) { Annual } else { Monthly } payment
                        </th>
                        <td id="qa-joiner-summary-recurring">@summary.planAmount.pretty</td>
                    </tr>
                    @if(summary.annual && summary.initialFreePeriodOffer) {
                        <tr role="row">
                            <th role="rowheader">
                                Next Annual payment
                            </th>
                            <td id="qa-joiner-summary-annual-date">@summary.renewalDate.pretty</td>
                        </tr>
                    }

                    @for(card <- cardOpt) {

                    <tr role="row">
                        <th role="rowheader">Card</th>
                        <td id="qa-joiner-summary-card">•••• •••• •••• •••• @card.last4</td>
                    </tr>
                    }
                </table>
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Tell your friends</h2>
            </div>
            <div class="page-section__content">
                @fragments.social(joinThankyou)
            </div>
        </section>

        @returnDestinationOpt.fold{ 
            @getStarted("Get started") {
                @member.memberStatus.tier match {
                    case Tier.Supporter => {
                        <p>Visit the Members area of theguardian.com, see all the latest news and highlights from our membership programme.</p>
                        <a class="action" href="@Links.membershipFront">Get started</a>
                    }
                    case _ => {
                        <p>This season of events is packed with discussions, debates and interviews you’ll love.  We’ll send you a welcome email shortly to help you get the most from your membership. Why not take a few moments to find out the latest from membership</p>
                        <a class="action" href="@routes.WhatsOn.list">Get started</a>
                    }
                }
            }
        }{ destination => @destination match {
                case eventDestination: model.EventDestination => {
                    @getStarted("Complete your ticket purchase") {
                        <p>You will be redirected to the Eventbrite website to complete your ticket purchase.</p>
                        <iframe src="@eventDestination.iframeUrl" width="100%" height="@eventDestination.iframeHeight" frameborder="0" vspace="0"
                        hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                    }
  }
                case contentDestination: model.ContentDestination => {
                    @getStarted("Go to article") {
                        @fragments.content.articleSnapshot(contentDestination.item)
                        <a class="action" href="@contentDestination.item.content.webUrl">View now</a>
                    }
                }
            }
        }
    </main>

    @fragments.analytics.googleJoinerConversion(member.memberStatus.tier)
    @fragments.analytics.facebookJoinerConversion(member.memberStatus.tier)
    @fragments.analytics.videoCampaignPHD.thankyouPage(
        member.memberStatus.regNumber.getOrElse("free"),
        summary.amountPaidToday.fold("free")( paid => "%.2f".format(paid))
    )
}
