@(pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._
@import model.Benefits
@import com.gu.membership.salesforce.Tier

@main("Join", pageInfo=pageInfo, containerPadding = false, htmlClass = "join") {

    <section>

        @fragments.layout.sectionHeader("Become a member")

        <div class="package-list">
            @fragments.tier.benefits(currentTier=None, tier=Tier.Friend, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Partner, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Patron, showBenefitDetails=true, mode="promo")
        </div>

    </section>

    @fragments.analytics.membershipTracking()
}
