@import com.gu.membership.model.Currency
@import com.gu.membership.salesforce.Tier._
@import model.MembershipCatalog

@(catalog: MembershipCatalog,
  pageInfo: model.PageInfo,
  eventOpt: Option[model.RichEvent.RichEvent],
  accessOpt: Option[model.MembershipAccess],
  signInUrl: String
)(implicit token: play.filters.csrf.CSRF.Token, currency: Currency)

@pageHeaderTitle = @{
    val default = "Choose a membership tier"
    accessOpt.fold {
        eventOpt.fold(default)(_.metadata.chooseTier.title)
    } { access => default }
}

@sectionTitle = @{
    val defaultTitle = "Choose a membership tier to continue"
    accessOpt.map {
        case i if i.isMembersOnly => "You need to be a Guardian member to view this page"
        case i if i.isPaidMembersOnly => "You need to be a Partner or a Patron to view this page"
        case _ => defaultTitle
    }.getOrElse(eventOpt.fold(defaultTitle)(_.metadata.chooseTier.sectionTitle))
}

@main("Join Choose Tier", pageInfo=pageInfo) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader(pageHeaderTitle, Some("Join as an annual Partner or Patron Member and get 2 months free"), Seq.empty)

        <section class="page-section page-section--no-padding">
            <div class="page-section__lead-in">
                <p class="text-note copy tier-hidden">Already a member? <a href="@signInUrl">Please sign in</a></p>
            </div>
            <div class="page-section__content">
                <h2 class="h-section h-section--lead">
                    @sectionTitle
                </h2>
                <ul class="grid grid--equal-heights grid--bordered grid--3up-stacked">
                    <li class="grid__item">
                        @fragments.tier.packagePromo(catalog.friend, Some("#package-benefits-friend"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(catalog.supporter, Some("#package-benefits-supporter"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(catalog.partner, Some("#package-benefits-partner"))
                    </li>
                </ul>
                @if(!accessOpt.exists(_.isPaidMembersOnly)) {
                    @fragments.tier.friendTeaser(catalog)
                }
            </div>
            @for(event <- eventOpt if accessOpt.isEmpty) {
                <div class="page-section__supplementary">
                    <div class="aside aside--section">
                        <h4 class="aside__intro">You're buying tickets for:</h4>
                        @fragments.event.itemSnapshot(event, isStacked=true)
                    </div>
                </div>
            }
        </section>

        <section class="page-section">
            <div class="page-section__content">
                <h3 class="h-section">What's included</h3>
                <div id="package-benefits-friend">
                    @fragments.tier.packageStack(Friend)
                </div>
                <div id="package-benefits-supporter">
                    @fragments.tier.packageStack(Supporter, Some(Friend))
                </div>
                <div id="package-benefits-partner">
                    @fragments.tier.packageStack(Partner)
                </div>
                <div id="package-benefits-patron">
                    @fragments.tier.packageStack(Patron)
                </div>
            </div>
        </section>

    </main>
}
