@()(implicit token: play.filters.csrf.CSRF.Token)
@import helper._
@import model.Benefits
@import com.gu.membership.salesforce.Tier

@main("Join") {

    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border ">

        @fragments.layout.sectionHeader("Become a member")

        <div class="package-list package-list--bordered">
            @fragments.tier.benefits(currentTier=None, tier=Tier.Friend, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Partner, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Patron, showBenefitDetails=true, mode="promo")
        </div>

    </section>

}
