@(pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._
@import model.Benefits
@import com.gu.membership.salesforce.Tier

@main("Join", pageInfo=pageInfo, containerPadding = false, htmlClass = "join") {

    <section class="become-a-member">

    	<header class="section__heading u-cf">
    	    <h1 class="section-headline section-headline--no-margin">Become a member</h1>
    	</header>
    	<div class="section-intro">Join as a founding Partner or Patron and the price you pay today will never rise</div>

        <div class="package-list package-list--flex-box js-benefit-container">
            @fragments.tier.benefits(currentTier=None, tier=Tier.Friend, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Partner, showBenefitDetails=true, mode="promo")
            @fragments.tier.benefits(currentTier=None, tier=Tier.Patron, showBenefitDetails=true, mode="promo")
        </div>

    </section>

    @fragments.analytics.membershipTracking()
}
