@(
    pageInfo: model.PageInfo,
    eventOpt: Option[model.RichEvent.RichEvent],
    accessOpt: Option[model.MembershipAccess],
    signInUrl: String
)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier

@pageHeaderTitle = @{
    val default = "Choose a membership tier"
    accessOpt.fold {
        eventOpt.fold(default)(_.metadata.chooseTier.title)
    } { access => default }
}

@sectionTitle = @{
    val defaultTitle = "Choose a membership tier to continue"
    accessOpt.map {
        case i if i.isMembersOnly => "You need to be a Guardian member to view this page"
        case i if i.isPaidMembersOnly => "You need to be a Partner or a Patron to view this page"
        case _ => defaultTitle
    }.getOrElse(eventOpt.fold(defaultTitle)(_.metadata.chooseTier.sectionTitle))
}

@main("Join Choose Tier", pageInfo=pageInfo) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader(pageHeaderTitle, None)

        <section class="page-section page-section--no-padding">
            <div class="page-section__lead-in">
                <p class="text-note copy tier-hidden">Already a member? <a href="@signInUrl">Please sign in</a></p>
            </div>
            <div class="page-section__content">
                <h2 class="h-section h-section--lead">
                    @sectionTitle
                </h2>
                <ul class="grid grid--bordered grid--3up-stacked">
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Supporter, Some("#package-benefits-supporter"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Partner, Some("#package-benefits-partner"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Patron, Some("#package-benefits-patron"))
                    </li>
                </ul>
                @if(!accessOpt.exists(_.isPaidMembersOnly)) {
                    @fragments.tier.friendTeaser()
                }
            </div>
            @for(event <- eventOpt if accessOpt.isEmpty) {
                <div class="page-section__supplementary">
                    <div class="aside aside--section">
                        <h4 class="aside__intro">You're buying tickets for:</h4>
                        @fragments.event.itemSnapshot(event, isStacked=true)
                    </div>
                </div>
            }
        </section>

        <section class="page-section">
            <div class="page-section__content">
                <h3 class="h-section">What's included</h3>
                <div id="package-benefits-supporter">
                    @fragments.tier.packageStack(Tier.Supporter)
                </div>
                <div id="package-benefits-partner">
                    @fragments.tier.packageStack(Tier.Partner)
                </div>
                <div id="package-benefits-patron">
                    @fragments.tier.packageStack(Tier.Patron)
                </div>
            </div>
        </section>

    </main>
}
