@main("Unsupported browser") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Your browser doesn't seem up-to-date...")

        <section class="page-section">
            <div class="page-section__content">
                <div class="copy">
                    <div class="text-intro">
                        <p>
                            To join Guardian Membership, you'll need a modern browser
                            that can run Javascript - without that we can't take your payment.
                            Unfortunately, it looks like you'll need to upgrade
                            your browser:
                        </p>
                    </div>
                </div>
                <div class="action-group">
                    <a class="action" href="http://www.whatbrowser.org/intl/en_uk/">Check your browser version</a>
                </div>
            </div>
        </section>

    </main>
}
