@(userFields: model.PrivateFields)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import helper._

@main("Address Details") {

    @fragments.layout.sectionHeader(Config.siteTitle + " events in your area")

    @fragments.tickets.ticketsFunnel(3, StepThree= "Enter location details", StepFour = "")

    <form action="" method="POST" id="payment-form" class="form form-primary-container js-address-form">
        @CSRF.formField
        @fragments.form.errorMessageDisplay()
        @fragments.form.nameDetail(userFields.firstName, userFields.secondName)
        @fragments.form.addressDetail("Delivery address", "Where shall we send your welcome pack", "deliveryAddress", false,
        userFields.address1, userFields.address2, userFields.address3, userFields.postcode, userFields.address4)
        @fragments.form.submit("Join now")
    </form>

}
