@()(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import helper._

@main("Address Details") {

    @fragments.layout.sectionHeader(Config.siteTitle + " events in your area")

    @fragments.tickets.ticketsFunnel(3, StepOne = "", StepTwo = "", StepThree= "Location", StepFour = "")

    <form action="" method="POST" id="payment-form" class="form form-primary-container js-address-form">
        @CSRF.formField
        @fragments.form.errorMessageDisplay()
        @fragments.form.nameDetail()
        @fragments.form.addressDetail("Delivery address", "Where shall we send your welcome pack", "deliveryAddress", false)
        @fragments.form.submit("Join now")
    </form>

}
