@(userFields: model.PrivateFields, marketingChoices: model.StatusFields,
passwordExists: Boolean)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import helper._

@main("Address Details") {

    @fragments.tickets.ticketsFunnel(3, StepOne = "", StepTwo = "", StepThree= "Location", StepFour = "")

    <form action="" method="POST" id="payment-form" class="form form-primary-container js-address-form">
        @CSRF.formField
        @fragments.form.errorMessageDisplay()
        @fragments.form.sectionHeading("Guardian membership events in your area")
        @fragments.form.nameDetail(userFields.firstName, userFields.secondName)
        @fragments.form.addressDetail("Delivery address", "Where shall we send your welcome pack", "deliveryAddress", false,
        userFields.address1, userFields.address2, userFields.address3, userFields.postcode, userFields.address4, userFields.country)
        @fragments.form.marketingChoices(marketingChoices.receiveGnmMarketing, marketingChoices.receive3rdPartyMarketing)

        @if(!passwordExists) {
            @fragments.form.passwordDetail()
        }

        @fragments.form.submit("Join now")
    </form>

}
