/* Control icon
   ========================================================================== */
.control-container {

    &:hover {
        color: $white;

        .control {
            border-color: $white;
        }
        .control__info {
            color: $white;
        }
        .icon-user-black {
            @extend %icon-user-white;
        }
        .icon-g-black {
            @extend %icon-g-white;
        }
    }
}

.control {
    @extend %icon-holder-circle;
    font-family: $f-serif-text;
    font-size: rem(13px);
    cursor: pointer;
    outline: none;
}

.control--faq {
    width: rem($gs-gutter + ($gs-baseline / 2));
    height: rem($gs-gutter + ($gs-baseline / 2));
    border-color: $mem-blue;
    position: absolute;

    .control__icon {
        padding-top: rem(3px);
    }
}

.control--no-border {
    border: 0;
}

.control--active {
    border-color: $white;
    .control__info {
        color: $white;
    }
}

.control--cancel {
    border: 1px solid $c-neutral3;

    .control__icon {
        padding-top: rem(4px);
        opacity: .2;
    }

    &:hover {
        border: 1px solid $c-neutral1;

        .control__icon {
            opacity: 1;
        }
    }
}

.control__info {
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-family: $f-serif-text;
    font-size: rem(13px);
    font-weight: bold;
    line-height: rem($gs-gutter * 1.75);
    max-width: rem($gs-gutter * 10);
    padding-left: rem($gs-gutter / 4);
    height: rem($gs-gutter * 1.75);
    color: $black;
}

.control__icon {
    display: block;
    text-align: center;
    height: rem($gs-baseline * 2);
    padding-top: rem($gs-baseline / 2);
}
