/* ==========================================================================
   Nav object
   ========================================================================== */

/**
 *
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 *
 * The root component nav and >li>a selectors should not be modified directly,
 * instead use modifier classes such as "nav--columns"
 */

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100; //To ensure it sits above anything else

    > li,
    > li > a {
        display: inline-block;
        zoom: 1;
    }

}

.nav--global {
    clear: both;
    display: block;
    @include fs-headline(2);
    font-weight: normal;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-feature-settings: "kern" 1;
    padding: rem($gs-baseline / 2 0);
    height: rem($gs-gutter * 2 + 4);

    .nav__item {
        float: left;
    }

    .nav__link {
        position: relative;
        color: $black;
        display: block;
        margin: 0 rem($gs-gutter) 0 0;
        padding: rem(5px) 0 rem(6px);

        @include mq(tablet) {
            margin-right: rem(26px);
        }
    }

    .nav__link {

        &:focus,
        &:active {
            text-decoration: underline;
            color: $white;
        }

        @include mq(desktop) {
            &,
            &:active {
                text-decoration: none;
                color: $black;
            }

            &:focus,
            &:hover {
                text-decoration: underline;
                color: $white;
            }
        }
    }

    .nav__link--last {
        margin-right: 0 !important;
    }

    .navigation__scroll {
        width: rem(580px);
        margin: 0 rem($gs-gutter / 2);

        @include mq(tablet) {
            width: 100%;
        }
    }
}

/* ==========================================================================
   Nav Modifiers
   ========================================================================== */

.nav--global--header {
    overflow: hidden;
    overflow-x: scroll;
    background-color: darken($mem-blue, 10%);
    height: $header-margin;
    @include side-margins-calc('padding-left');
    @include side-margins-calc('padding-right');
    padding-top: rem(3px);
    padding-bottom: 0;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    @include mq(tablet) {
        overflow-x: hidden;
    }
}

.nav-global--mini {
    display: none;
    text-align: right;
    font-size: rem(14px);
    padding-top: rem(6px); // magic number, aligns with left icons

    > li:last-child .nav__link {
        margin-right: 0;
    }

    @include mq($from: tablet) {
        display: block;
    }
}

/* Columns
   ========================================================================== */

.nav--columns {

    > .nav__item {
        @include box-sizing(border-box);
        width: 100%;
        display: block;

        @include mq(tablet) {
            border-right: 0;
        }
    }

    .nav__link {
        @include fs-bodyHeading(1);
        border-top: rem(1px) solid $mem-blue-border;
        display: block;
        background-color: transparent;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: none;
        padding: rem($gs-baseline / 2) 0 rem($gs-baseline) rem($gs-baseline);

        &,
        &:active,
        &:focus {
            color: $black;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }

        @include mq(tablet) {
            border-top: 0;
        }
    }
}

.mobile-menu {
    position: absolute;
    right: 0;
    background-color: lighten($black, 20%);
    z-index: 3;
    top: rem(43px);

    a.mobile-menu__button {
        color: $white;
        display: block;
        text-decoration: none;
        padding: rem(3px) rem(9px) rem(9px);
        box-shadow: rem(-3px) 0 rem(4px) 0 rgba(50, 50, 50, .30);
    }

    .mobile-menu__button i {
        border-top: rem(2px) solid rgba(255, 255, 255, .9);
        display: block;
        width: rem(20px);
        margin-top: rem(3px);
        @include transform-origin(60%);
        -webkit-transition: opacity .1s, -webkit-transform .1s ease-in;
        transition: opacity .1s, transform .1s ease-in;
    }

    .close-icon-white--active i {
        @include transform-origin(43%);

        &:nth-child(1) {
            @include transform(translateY(rem(4px)) rotate(45deg));
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            @include transform(translateY(rem(-4px)) rotate(-45deg));
        }
    }

}

