@()

@main("Join | Partner") {

    <section class="content-section">
        <h1 class="section-headline u-text-hyphenate">Purpose/Value</h1>

        <div class="action-inline-combo">
            <h2 class="section-sub-headline u-text-hyphenate">Partner £15</h2>
            <a class="action action--inline-text action--join" href="/join/partner/payment">Join</a>
        </div>
    </section>

    <section class="joiner-navigation hidden-mobile">
        <ul class="u-unstyled">
            <li class="joiner-navigation__tab inline-list__item">
                <a href="#digital" class="joiner-navigation__btn">Digital</a>
            </li>
            <li class="joiner-navigation__tab inline-list__item">
                <a href="#community" class="joiner-navigation__btn">Community</a>
            </li>
            <li class="joiner-navigation__tab inline-list__item">
                <a href="#live" class="joiner-navigation__btn">Live</a>
            </li>
        </ul>
    </section>

    <div class="separator"></div>
    <section id="digital" class="joiner-section">
        <h2 class="section-body-headline">Digital Benefits</h2>
    </section>

    <section id="community" class="joiner-section">
        <h2 class="section-body-headline">Community Benefits</h2>
    </section>

    <section id="live" class="joiner-section joiner-section--no-border">
        <h2 class="section-body-headline">Live Benefits</h2>
    </section>

    <div class="separator"></div>
    <section id="whats-included">
        <h2>Whats Included</h2>
        <ul class="benefits u-unstyled l-row l-row--items-4">
            <li class="benefits-list l-row__item">
                <span class="benefits-list__item">Digital</span>
            </li>
            <li class="benefits-list l-row__item">
                <span class="benefits-list__item">Community</span>
            </li>
            <li class="benefits-list l-row__item">
                <span class="benefits-list__item">Live</span>
            </li>
            <li class="benefits-list l-row__item">
                <span class="benefits-list__item action-inline-combo action-inline-combo--nomargin">Partner £15
                    <a class="action action--join" href="/join/partner/payment">Join</a>
                </span>
            </li>
        </ul>
    </section>

}
