/* ==========================================================================
   About Membership page
   ========================================================================== */


h2.about-block-title {
    @include fs-headline(4);
    @include rem((
       padding: $gs-baseline $gs-gutter 0 $gs-gutter
    ));
    @include mq(tablet) {
        @include fs-headline(6);
    }
}

.about-membership {

    .home-slice--join-today {
        background-color: $white;
    }

    .benefits-title {
        @include fs-bodyHeading(1);
        border-top: 1px solid $c-neutral5;
        @include rem((
            padding: $gs-gutter/2 0
        ));
    }

    .package {
        background-color: $c-neutral8;
    }

    .package__description {
        @include mq(desktop) {
            @include rem((
                min-height: 120px
            ));
        }
    }

    .package__list-benefits-element {
        margin: 0;
        padding: 0;
        &:before {
            content: '';
            display: none;
        }
    }
}

.benefits-container {
    background-color: $white;

    .benefits-inner {
        background-color: $c-neutral6;
        width: 100%;

        @include mq(desktop) {
            @include rem((
                width: gs-span(12)+$gs-gutter*2,
                margin: 0 auto
            ));
        }

        @include mq(mem-full) {
            @include rem((
                width: gs-span(14)+$gs-gutter*2
            ));
        }
    }

    .benefits__list {
        @include rem((
            margin: $gs-gutter
        ));

        @include mq(tablet) {
            @include rem((
                width: gs-span(9),
                margin: 80px $gs-gutter 0 gs-span(1),
                padding-bottom: $gs-gutter+10
            ));
        }

        @include mq(desktop) {
            @include rem((
                width: gs-span(11),
                margin: 80px $gs-gutter 0
            ));
        }

        @include mq(mem-full) {
            @include rem((
                width: gs-span(12),
                margin: 80px $gs-gutter 0 gs-span(2)+$gs-gutter*2
            ));
        }
    }

    .benefits__list--items {
        float: left;
        @include fs-bodyCopy(2);
        @include rem((
            width: gs-span(4),
            height: 130px
        ));

        &:nth-child(4),
        &:nth-child(8) {
            border-right: 0;
        }

        @include mq(tablet) {
            @include fs-bodyCopy(3);
            @include rem((
                width: gs-span(3),
                padding: 0 $gs-gutter/2,
                height: 220px
            ));
        }

        @include mq(desktop) {
            border-right: 1px solid $c-neutral3;
            @include rem((
                width: gs-span(3)-10,
                height: 220px,
                margin-bottom: 50px
            ));
        }

        @include mq(mem-full) {
            @include rem((
                width: gs-span(3),
                height: 190px
            ));
        }

        .icon-sprite__left {
            float: left;
            @include rem((
                margin: 0 $gs-gutter $gs-gutter*2 0
            ));

            @include mq(tablet) {
                float: none;
                @include rem((
                    margin: 0 $gs-gutter 0 0
                ));
            }
        }
    }

    .benefits__list--header {
        @include fs-bodyHeading(3);
        display: block;
    }
}

.about-slice--join-today {
    background-color: $white;
}

