/* ==========================================================================
   An event on an event page
   ========================================================================== */

div.event {
    background-color: $white;
    .event__content {

        .event__price-amount {
            @include fs-headline(2);
        }

        .event__sale-ends {
            padding-bottom: 20px;
        }

        .event__content__masthead {
            background-color: #f5f5f5;
        }

        .event__content-body {
            @include rem((
                max-width: 620px,
                padding-top: $gs-baseline
            ));
            margin: 0 auto;
        }

        .event__meta > div {
            display: inline-block;
            margin: 0 12px 10px 0;
        }

        .event__location,
        .event__time,
        .event__trail {
            @include fs-textsans(4);
            display: block;
        }

        .event__price-note,
        .event__sale_ends_note,
        .event__sale_ends_time {
            @include fs-textsans(4);
            display: inline-block;
        }
    }
}

.event__description {
    h2 {
        @include fs-headline(2);
        margin: 8px 0 16px;
    }
    p, li {
        @include fs-bodyCopy(3);
    }
    ol,
    ul {
        list-style-position: inside;
        padding: 0;
        margin: 0 0 8px;
    }

    blockquote {
        @include rem((
            padding-left: 14px
        ));

        border-left: 2px solid #cfcfcd;
        font-style: italic;
        margin: 0 0 16px;
    }

    blockquote p {
        margin: 0;
    }
}

/* ==========================================================================
   Temp events hacky stuff (this needs a revisit once design has been confirmed)
   ========================================================================== */

.old-price {
    display: block;
}

.event__content__inner {
    background-color: #f1f1f1;
}

.event__content__inner--sub {
    background-color: #e1e1e1;
    margin-bottom: 20px;
}

.event__masthead {
    position: relative;
    .event__name {
        padding: 40px 40px 20px 0;
    }
}

.item__meta {
    position: relative;
    overflow: hidden;
}

.inner-container {
    float: right;
    width: 100%;
}

.icon {
    background-image: url('/assets/images/icons.png');
    width: 34px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
}

.location--icon {
    background-position: 0 0;
}

.time--icon {
    background-position: -33px 0;
}

.event__location {
    margin-bottom: .4em;
}

.container--people .facia-slice-wrapper--position-1 .item__title {
    min-height: 0;
}

.item__meta .item__timestamp {
    padding-left: 0;
}

.event {
    background-color: $white;
    width: 100%;
    overflow: hidden;
}

.event__image {
    background-color: $mem-brandBlue;
    img {
        width: 100%;
    }
}

.event-status {
    position: absolute;
    right: 1em;
    top: 0;
    padding: 8px 14px;
    text-align: center;
    color: $white;
}

.event-status--sold-out {
    background-color: $mem-brandOrange;
}

.js-off .booking-dates {
    display: none;
}

.tooltip {
    position: relative;
}

.tooltip__cta {
    @include border-radius(20px);
    color: #0096c9;
    background-color: $white;
    @include rem((
        padding: 3px 8px,
        border: 1px solid #0096c9
    ));
    vertical-align: middle;
    cursor: pointer;
    z-index: 10000;
    position: relative;
}

.tooltip__detail {
    position: absolute;
    display: block;
    background-color: $white;
    @include rem((
        min-width: 200px,
        bottom: 32px,
        left: -27px,
        z-index: 1000,
        padding: 20px
    ));
    @include border-radius(10px);
}

.tooltip__stem {
    border-color: $white transparent transparent;
    border-style: solid;
    position: absolute;
    @include rem((
        border-width: 15px,
        left: 22px,
        bottom: -30px
    ));
    height: 0;
    width: 0;
    z-index: 1;
    font-size: 0;
    line-height: 0;
}

.ticket-info {
    @include fs-textsans(1);
    color: #878787;
    @include rem((
        margin-top: 8px
    ));
}

.event-blocks {
    .event-block {
        position: relative;
        background-color: $white;
        border-top: 1px solid $mem-live-accent;

        @include rem((
            padding: $gs-gutter/2 $gs-gutter/2 $gs-gutter $gs-gutter/2
        ));

        .events-title-container {
            display: block;
            @include rem((
                padding: 0 0 $gs-baseline
            ));
        }

        @include mq(tablet) {

            @include guss-row('.events-list');

            @include rem((
                padding: $gs-gutter $gs-gutter $gs-gutter*2 $gs-gutter
            ));

            .events-list__item {
                margin: 10px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include mq(desktop) {

            .events-list-container {
                display: block;
                @include rem((
                    width: gs-span(12)
                ));
                margin: 0 auto;
            }

        }

        @include mq(mem-full) {
            font-size: 0; // Inline-block white space
            .events-title-container {
                display: inline-block;
                vertical-align: top;
                @include rem((
                    width: gs-span(2)+$gs-gutter
                ));
            }
            .events-list-container {
                display: inline-block;
                vertical-align: top;
                @include rem((
                    width: gs-span(12)
                ));
            }
        }

        &:first-child {
            border-top: 0;
        }

        .event-block-title {
            @include fs-header(4);
        }

        .events-list__item {
            @include mq(tablet) {
                @include rem((
                    height: 420px
                ));
            }
        }

    }
}

/* ==========================================================================
   An Event List item
   ========================================================================== */

.event-item {
    position: relative;
    width: 100%;

    background-color: $c-neutral7;

    .event-item__media {
        a, img {
            vertical-align: text-bottom; // remove descenders
            display: block;
        }
    }

    .event-item__meta {
        @include rem((
            padding: $gs-baseline $gs-gutter/2
        ));

        .event-item__title {
            @include fs-headline(1);
            color: $black;
            @include rem((
                margin-bottom: $gs-baseline
            ));
        }
        .event-item__time {
            @include fs-data(4);
            color: $black;
        }
        .event-item__location {
            @include fs-data(3);
            color: $c-neutral2;
        }

        .event-item__description {
            @include fs-bodyCopy(1);
            @include rem((
                padding: $gs-baseline 0 0
            ));
            color: $black;
        }

        .event-item__cta {
            width: 100%;
            padding: $gs-baseline 0 0;
            .event-item__price-amount {
                display: block;
                @include fs-header(4);
                color: $black;
            }

            .event-item__price-amout-discount {
                display: block;
                @include fs-data(3);
                color: $c-neutral2;
            }

            .event-item__action {
                position: absolute;
                @include rem((
                    bottom: $gs-gutter,
                    right: $gs-gutter,
                    width: 36px,
                    height: 36px,
                    padding: 0 8px 0 0
                ));
                background-color: $mem-live-accent;
                @include border-radius(50px);
                border: 0;
                &:focus {
                    outline: 0;
                }

                &:after {
                    @extend .icon-sprite-arrow-right-white;
                    content: '';
                    fill: $black;
                    float: right;
                }
            }
        }

        @include mq(tablet) {
            @include rem((
                padding: $gs-baseline $gs-gutter
            ));
            height: auto;

            .event-item__title {
                @include fs-headline(2);
            }

            .event-item__cta {
                position: absolute;
                @include rem((
                    bottom: 0,
                    left: 0,
                    right: 0,
                    padding: 0 $gs-gutter $gs-gutter
                ));
            }
        }

        @include mq(desktop) {
            .event-item__description {
                @include fs-headline(1);
                @include rem((
                    padding: $gs-baseline*2 0 0
                ));
            }
        }
    }

    @include guss-row('&.event-item--hero');

    &.event-item--hero {
        @include rem((
            margin-bottom: $gs-gutter/2
        ));
        width: 100%;

        @include mq(tablet) {
            @include rem((
                margin-bottom: $gs-gutter/2
            ));
            height: auto;
            overflow: hidden;

            .event-item__media {
                display: inline-block;
                vertical-align: top;
                @include flex(1, 0, percentage(gs-span(8)/gs-span(12)))
            }

            .event-item__meta {
                display: inline-block;
                vertical-align: top;
                position: relative;
                @include flex();
            }
        }

        @include mq(desktop) {
            .event-item__title {
                @include fs-headline(4);
            }

            .event-item__time {
                @include fs-headline(1);
            }
        }

    }

    *:hover, &:hover {
        text-decoration: none;
        background-color: $c-neutral5;
        .event-item__title {
            text-decoration: underline;
        }
    }

    &.event-item--standalone {
        .event-item__cta {
            position: static;
            @include rem((
                padding: $gs-baseline*2 0 0
            ));
        }
    }
}
