/* ==========================================================================
   An event on an event page
   ========================================================================== */

div.event {
    background-color: $white;
    .event__content {

        .event__price-amount {
            @include fs-headline(2);
        }

        .event__sale-ends {
            padding: rem($gs-baseline) 0 rem(20px);
        }

        .event__content__masthead {
            background-color: #f5f5f5;
        }

        .event__content-body {
            max-width: rem(620px);
            padding: rem($gs-gutter/2);

            @include mq(tablet) {
                padding: rem($gs-gutter);
            }
            margin: 0 auto;
        }

        .event__meta > div {
            display: block;
            margin: 0 0 rem($gs-gutter);
        }

        .event__time {
            @include fs-data(5);
            color: $black;
        }

        .event__location {
            font-size: 0; /** space between inline block elements **/
            color: $c-neutral2;
        }

        .event__venue-name,
        .event__address {
            @include fs-data(4);
        }

        .event__trail {
            @include fs-textSans(4);
            display: block;
        }

        .event__price-note,
        .event__sale_ends_note,
        .event__sale_ends_time {
            @include fs-textSans(4);
            display: inline-block;
        }
    }
}

.event__description {
    h2 {
        @include fs-headline(1);
        margin: rem(8px) 0 rem(16px);
    }
    p, li {
        @include fs-bodyCopy(3);
    }
    ol,
    ul {
        list-style-position: inside;
        padding: 0;
        margin: 0 0 rem(8px);
    }
    .no-style-list {
        list-style: none;
    }
    .section-header {
        @include fs-headline(3);
        font-weight: 900;
        margin: rem(27px) 0 rem(10px);
    }

    blockquote {
        padding-left: rem(14px);
        border-left: rem(2px) solid #cfcfcd;
        font-style: italic;
        margin: 0 0 rem(16px);
    }

    blockquote p {
        margin: 0;
    }
}

/* ==========================================================================
   Temp events hacky stuff (this needs a revisit once design has been confirmed)
   ========================================================================== */

.old-price {
    display: block;
}

.event__content__inner {
    background-color: #f1f1f1;
}

.event__content__inner--sub {
    background-color: #e1e1e1;
    margin-bottom: rem(20px);
}

.event__masthead {
    position: relative;
    .event__name {
        padding: rem(40px) rem(40px) rem(20px) 0;
    }
}

.item__meta {
    position: relative;
    overflow: hidden;
}

.inner-container {
    float: right;
    width: 100%;
}

.event__location {
    margin-bottom: .4em;
}

.container--people .facia-slice-wrapper--position-1 .item__title {
    min-height: 0;
}

.item__meta .item__timestamp {
    padding-left: 0;
}

.event {
    background-color: $white;
    width: 100%;
    overflow: hidden;
}

.event__image {
    background-color: $mem-brandBlue;
    img {
        width: 100%;
    }
}

.ticket-info {
    @include fs-textSans(1);
    color: #878787;
}

.ticket-info__header {
    @include fs-textSans(4);
    color: #878787;
}

.ticket-info__item {
    margin: rem(4px) 0;
}

.terms-info,
.ticket-info {
    @include fs-textSans(1);
    color: #878787;
    padding-top: rem($gs-baseline/2);
}

.events-list {
    &.u-unstyled {
        &:first-child {
            margin-top: rem(-10px);
        }
    }
}

.event-blocks {
    .event-block {
        position: relative;
        background-color: $white;
        border-top: rem(1px) solid $mem-live-accent;
        padding: rem($gs-gutter / 2) 0 rem($gs-gutter);

        .events-title-container {
            display: block;
            padding: 0 0 rem($gs-baseline);
        }

        .events-list__item {
            margin-bottom: rem($gs-baseline);
        }

        @include mq(tablet) {

            @include guss-row('.events-list');

            padding: rem($gs-baseline) 0 rem($gs-baseline * 2);

            .events-list__item {
                margin: rem(10px);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include mq(desktop) {

            padding: rem($gs-baseline) rem($gs-gutter) rem($gs-baseline * 2);

            .events-list-container {
                display: block;
                width: rem(gs-span(12));
                margin: 0 auto;
            }

        }

        @include mq(mem-full) {
            font-size: 0; // Inline-block white space
            .events-title-container {
                display: inline-block;
                vertical-align: top;
                width: rem(gs-span(2) + $gs-gutter);
            }
            .events-list-container {
                display: inline-block;
                vertical-align: top;
                width: rem(gs-span(12));
            }
        }

        &:first-child {
            border-top: 0;
        }

        .event-block-title {
            @include fs-header(4);
        }

        .events-list__item {
            @include mq(tablet) {
                height: rem(420px);
            }
        }

        .events-list__hero-descendant {
            .events-list__item {
                @include mq(tablet) {
                    height: rem(450px);
                }
            }
        }

    }
}

/* ==========================================================================
   An Event List item
   ========================================================================== */

.event-item {
    position: relative;
    width: 100%;

    background-color: $c-neutral7;

    .event-item__media {
        a, img {
            vertical-align: text-bottom; // remove descenders
            display: block;
        }
    }

    .event-item__meta {
        padding: rem($gs-gutter / 2);

        .event-item__title {
            @include fs-headline(2);
            color: $black;
            margin-bottom: rem($gs-baseline);
            position: relative;
        }
        .event-status--sold-out {
            display: inline-block;
            color: $white;
            background-color: $mem-live-accent;
            @include fs-data(2);
            position: relative;
            top: rem(-3px);
            padding: rem(1px) rem(3px);
            margin-right: rem(4px);
        }
        .event-item__time {
            @include fs-data(4);
            color: $black;
        }

        .event-item__location {
            font-size: 0; /** space between inline block elements **/
            color: $c-neutral2;
        }

        .event-item__location-name,
        .event-item__location-address {
            @include fs-data(3);
        }

        .event-item__description {
            @include fs-bodyCopy(1);
            padding: rem($gs-baseline) 0 0;
            color: $black;
        }

        .event-item__cta {
            width: 100%;
            padding: $gs-baseline 0 0;
            .event-item__price-amount {
                display: block;
                @include fs-header(4);
                color: $black;
            }

            .event-item__price-amout-discount {
                display: block;
                @include fs-data(3);
                color: $c-neutral2;
            }

            .event-item__action {
                position: absolute;
                bottom: rem($gs-gutter / 2);
                right: rem($gs-gutter / 2);
                width: rem(36px);
                height: rem(36px);
                padding: 0 rem(8px) 0 0;

                @include mq(desktop) {
                    bottom: rem($gs-gutter);
                    right: rem($gs-gutter);
                }
                background-color: $mem-live-accent;
                @include border-radius(50px);
                border: 0;
                &:focus {
                    outline: 0;
                }

                &:after {
                    @extend .icon-sprite-arrow-right-white;
                    content: '';
                    fill: $black;
                    float: right;
                }
            }
        }

        @include mq(tablet) {
            padding: rem($gs-baseline) rem($gs-gutter / 2);
            height: auto;

            .event-item__title {
                @include fs-headline(3);
            }

            .event-item__cta {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 rem($gs-gutter / 2) rem($gs-gutter / 2);
            }
        }

        @include mq(desktop) {
            padding: rem($gs-gutter);
            .event-item__description {
                @include fs-headline(2);
                padding: rem($gs-baseline * 2) 0 0;
            }

            .event-item__cta {
                padding: 0 rem($gs-gutter) rem($gs-gutter);
            }
        }
    }

    @include guss-row('&.event-item--hero');

    &.event-item--hero {
        margin-bottom: rem($gs-gutter / 2);
        width: 100%;

        @include mq(tablet) {
            margin-bottom: rem($gs-gutter / 2);
            height: auto;
            overflow: hidden;

            .event-item__media {
                display: inline-block;
                vertical-align: top;
                @include flex(1, 0, percentage(gs-span(8)/gs-span(12)));
                .no-flexbox & {
                    width: 60%;
                    display: inline-block;
                }
            }

            .event-item__meta {
                display: inline-block;
                vertical-align: top;
                position: relative;
                @include flex();
                .no-flexbox & {
                    width: 40%;
                    .event-item__cta {
                        position: static;
                    }
                }
            }

            .event-item__description {
                display: none;
            }
        }

        @include mq(desktop) {
            .event-item__title {
                @include fs-headline(5);
            }

            .event-item__time {
                @include fs-headline(2);
            }

            .event-item__description {
                display: block;
            }
        }

    }

    &:hover {
        text-decoration: none;
        background-color: $c-neutral5;
        .event-item__title {
            text-decoration: underline;
        }
    }

    *:hover {
        text-decoration: none;
    }

    &.event-item--standalone {
        .event-item__cta {
            position: static;
            padding: rem($gs-baseline * 2) 0 0;
        }

        *:hover, &:hover {
            background-color: $c-neutral7;
            .event-item__title {
                text-decoration: none;
            }
        }
    }

    &.event-item--blank {
        display: none;
        @include mq(tablet) {
            display: block;
        }
        *:hover, &:hover {
            background-color: $c-neutral7;
        }
    }
}

.event-summary {
    @include clearfix;
    margin: rem($gs-baseline * 2) 0;

    .event-item__media {
        @include mq(tablet) {
            float: left;
            width: rem(gs-span(3));
        }
    }

    .event-item__title {
        @include f-header;
        @include font-size(rem(18px), rem(22px));
        margin-bottom: rem($gs-baseline * 2);
    }

    .event-status--sold-out {
        display: inline-block;
        color: $white;
        background-color: $mem-live-accent;
        @include fs-data(2);
        position: relative;
        top: rem(-3px);
        padding: rem(1px) rem(3px);
        margin-right: rem(4px);
    }

    .event-item__meta {
        @include f-data;
        @include font-size(rem(14px), rem(22px));

        @include mq(tablet) {
            border-top: rem(1px) dotted $c-neutral3;
            margin-left: rem(gs-span(3) + $gs-gutter);
            padding-top: rem($gs-baseline / 2);
        }
    }

    .event-item__detail {
        border-top: rem(1px) dotted $c-neutral3;
        padding: rem($gs-baseline / 2) 0 rem($gs-baseline / 2) rem($gs-gutter * 2);
    }

    .event-item__location {
        line-height: rem(18px);
    }

    .event-item__location-detail {
        display: block;
    }

    .event-item__icon {
        background-size: rem(25px);
        float: left;
        margin-left: rem(-$gs-gutter * 2);
        height: rem(25px);
        width: rem(25px);
    }

    .icon-sprite-eventbrite {
        margin-top: rem(8px);
    }

    .icon-sprite-early_booking-grey {
        margin-top: rem(-2px);
    }
}
