/* ==========================================================================
   Event Detail
   ========================================================================== */

.event-header {
    @include clearfix;
}
.event-header--unavailable {
    color: $white;
    background-color: $c-neutral1;
}

.event-header__container {
    margin: 0 auto;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2) rem($gs-gutter + $gs-baseline);
    background-color: transparent;

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-gutter + $gs-baseline);
    }

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }
}

.event-header__container--details {
    padding: rem($gs-gutter / 2);
    position: relative;
    min-height: rem(75px);

    @include mq(tablet) {
        padding: rem($gs-gutter / 2) rem($gs-gutter);
        min-height: rem(120px);
    }

    @include mq(mem-full) {
        padding: rem($gs-gutter / 2) rem($gs-gutter);
        padding-left: rem(gs-span(2) + $gs-gutter * 3);
    }
}

.event-header__container--unavailable {
    min-height: 0;
    overflow: auto;
}

.event-masthead {
    position: relative;

    .event-masthead__name {
        max-width: rem(gs-span(8));
        @include fs-headline(5);
        padding-top: rem($gs-baseline / 2);


        @include mq(tablet) {
            padding-top: rem($gs-baseline);
            @include fs-headline(7);
        }

        @include mq(mem-full) {
            float: left;
            padding-top: 0;
        }
    }
    .event-masthead__title {
        @include fs-header(1);
        border-bottom: 1px dotted rgba(255, 255, 255, .29);
        padding-bottom: rem(5px);

        @include mq(tablet) {
            @include fs-header(4);
            padding: 0 rem($gs-gutter) 0 0;
        }

        @include mq(mem-full) {
            @include fs-header(5);
            width: rem(gs-span(2) + $gs-gutter * 2);
            border-bottom: 0;
            float: left;
        }
    }
}

.event-details {

    .event-details__time {
        max-width: rem(gs-span(8));
        @include fs-headline(2);

        @include mq(tablet) {
            @include fs-headline(4);
        }
    }

    .event-details__time__part {
        white-space: nowrap;
    }

    .event-details__location {
        @include fs-data(4);
        .event-location {
            color: inherit;
        }
    }
}

/* ==========================================================================
   Event Ticket
   ========================================================================== */

.event-ticket {
    padding-top: rem($gs-gutter);
    @include mq(tablet) {
        display: table;
    }
}
.event-ticket__details,
.event-ticket__action {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: bottom;
    }
}
.event-ticket__details {
    @include mq(tablet) {
        padding-right: rem($gs-gutter);
        // Tweak for optical alignment (over actual alignment)
        padding-bottom: rem(3px);
    }
}

// Free event modifier
.event-ticket--free {
    @include mq(tablet) {
        .event-ticket__details,
        .event-ticket__action {
            vertical-align: middle;
        }
        .event-ticket__details {
            padding-bottom: 0;
        }
    }
}

/* Status extras
   ========================================================================== */
// TODO: Document and refactor

.event-ticket__details__status {
    @include fs-textSans(1);
    font-weight: bold;

    @include mq(tablet) {
        @include fs-header(5);
        -webkit-font-smoothing: antialiased;
    }
}

.event-ticket__details__blurb {
    @include fs-textSans(1);
}

.event-ticket__price-amount {
    @include fs-header(5);
    -webkit-font-smoothing: antialiased;
}

.event-ticket__trail {
    @include fs-textSans(1);
}

// TODO: This has too much layout / colour code in for a root component
.terms-info {
    @include fs-textSans(1);

    @include mq(tablet) {
        max-width: rem(gs-span(3) + $gs-gutter * 2);
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: inherit;
        padding-bottom: rem(2px);
        border-bottom: 1px solid;
        border-color: inherit;
    }
}


.event__picture-byline {
    clear: both;
    @include fs-textSans(1);
    color: $c-neutral2;
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        padding: rem(8px) rem($gs-gutter) rem($gs-gutter * 2 - 4) rem(gs-span(2) + $gs-gutter * 2);
        margin-bottom: 0;
    }
}

.event-content {
    padding: 0;
    background-color: $white;

    @include mq(desktop) {
        background-color: transparent;
    }
}

.event-content__image {
    margin: 0 auto;

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }

    img {
        width: 100%;
    }
}

.event-content__container {
    background-color: $white;
    padding: rem($gs-gutter) rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-gutter * 3) 0;
    }
}

.event-content__container,
.event-content__sticky.is-sticky {
    @include mq(tablet) {
        width: rem(gs-span(9) + $gs-gutter * 2);
        margin: 0 auto;
    }

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }
}

@mixin event-content__body-width($property) {
    @include mq(tablet) {
        #{$property}: rem(gs-span(5) + $gs-gutter * 3);
    }

    @include mq(desktop) {
        #{$property}: rem(gs-span(8) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        #{$property}: rem(gs-span(10) + $gs-gutter * 2);
    }
}

.event-content__sticky.is-sticky {
    @include mq(tablet) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        .event-content__tickets {
            display: none;
        }
    }

    @include mq(desktop) {
        padding-right: rem($gs-gutter);
    }

    @include event-content__body-width('padding-left');
}

.event-content__body {
    position: relative;

    @include mq(tablet) {
        float: left;
        padding: 0 rem($gs-gutter) 0 0;
    }

    @include mq(desktop) {
        padding: 0 rem($gs-gutter);
    }

    @include event-content__body-width('width');
}

.event__price-note,
.event__sale_ends_note,
.event__sale_ends_time {
    @include fs-textSans(4);
    display: inline-block;
}

.event__description {
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        width: rem(gs-span(8) - $gs-gutter);
        float: right;
    }

    .section-header {
        @include fs-headline(3);
        font-weight: 900;
        margin: rem(27px) 0 rem(10px);
    }

    img {
        max-width: 100%;
    }
}

.event__social {
    width: rem(gs-span(2) + $gs-gutter);
    margin-bottom: rem($gs-gutter * 2);

    @include mq(tablet) {
        float: left;
    }
}

.event__social-header {
    @include fs-textSans(1);
    border-top: rem(1px) solid $c-neutral6;
    padding-bottom: rem($gs-baseline / 2);
    padding-top: rem(3px);
}

.event-content__sidebar {
    margin-bottom: rem($gs-gutter);

    @include mq(tablet) {
        float: left;
        width: gs-span(4);
    }
}

.event-content__info__inner {
    padding: rem($gs-gutter);
}

.event-content__info__header {
    background-color: $c-neutral1;
    padding: rem($gs-gutter);
    color: $white;
}

.event-content__info__header__status {
    @include fs-header(1);
}

.event-content__info__header__blurb {
    @include fs-textSans(3);
}

.event-content__info {
    background-color: $c-neutral7;
    overflow: hidden;
    @include fs-textSans(3);

    &--no-padding {
        padding: 0;
        background-color: transparent;
    }

    .event-content__name {
        @include fs-header(2);
        padding-bottom: rem($gs-gutter + 8px);
    }

    .event-content__price {
        padding-bottom: 0;
        @include fs-header(5);
    }

    .event-content__sale-dates {

        .sale-dates__header {
            @include fs-textSans(3);
            font-weight: bold;
            display: inline;
        }

        .sale-dates__list {
            &:last-child {
                padding-bottom: rem(5px);
            }
        }

        .sale-dates__item {
            @include fs-textSans(3);
            text-align: right;

            .sale-dates__item--left {
                float: left;
            }
        }
    }

    .event-content__sale-ends {
        padding: 0 0 rem(5px) rem($gs-gutter * 2);
    }

    .event-content__trail {
        @include fs-textSans(1);
        display: block;
    }

    .event-content__first {
        float: left;
        width: rem($gs-gutter * 2);
    }

    .event-content__second {
        float: left;
        width: rem(220px);
        position: relative;
        .event-item__location-name {
            @include fs-textSans(3);
            color: $c-neutral1;
        }
    }

    .terms-info {
        @include fs-textSans(1);
        padding-top: rem($gs-baseline/2);
    }

}

.event-content__info--unavailable {
    .event-content__item {
        color: $c-neutral2;
    }
}

.event-content--line-divider {
    border-top: 1px dotted $c-neutral3;
    padding: rem(5px) 0;
}

.sales-dates__toggle {
    padding: rem($gs-baseline/2) rem($gs-baseline);
    margin-top: -#{rem($gs-baseline/2)};
    margin-right: -#{rem($gs-baseline)};
    right: 0;
    position: absolute;
}
