/* ==========================================================================
   An event on an event page
   ========================================================================== */

.event-header {
    .theme--masterclass & {
        background-color: $mem-mc-top;
    }

    .theme--guardian-live & {
        color: $white;
        background-color: $mem-live-top;
    }
}

.event-header--shade {
    .theme--masterclass & {
        background-color: $mem-mc-accent;
    }

    .theme--guardian-live & {
        background-color: $mem-live-accent;
    }
}

.event-header__container {
    margin: 0 auto;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2) rem($gs-gutter + $gs-baseline);
    background-color: transparent;

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-gutter + $gs-baseline);
    }

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }
}

.event-header__container--details {
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2) rem($gs-gutter);
    position: relative;
    min-height: rem(75px);

    @include mq(tablet) {
        padding: rem($gs-gutter);
        min-height: rem(120px);
    }

    @include mq(mem-full) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-gutter) rem(gs-span(2) + $gs-gutter * 3);
    }
}

.event-masthead {
    position: relative;

    .event-masthead__name {
        max-width: rem(gs-span(8));
        @include fs-headline(5);
        padding-top: rem($gs-baseline / 2);


        @include mq(tablet) {
            padding-top: rem($gs-baseline);
            @include fs-headline(7);
        }

        @include mq(mem-full) {
            float: left;
            padding-top: 0;
        }
    }
    .event-masthead__title {
        @include fs-header(1);
        border-bottom: rem(1px) dotted $border-bottom-color;
        padding-bottom: rem(5px);

        @include mq(tablet) {
            @include fs-header(4);
            padding: 0 rem($gs-gutter) 0 0;
        }

        @include mq(mem-full) {
            @include fs-header(5);
            width: rem(gs-span(2) + $gs-gutter * 2);
            border-bottom: 0;
            float: left;
        }
    }
}

.guardian-live-logo {
    position: absolute;
    bottom: rem($gs-gutter / 2 + 2);
    right: rem($gs-gutter / 2);

    @include mq(tablet) {
        right: rem($gs-gutter);
    }
}

.event-details {

    .event-details__time {
        @include fs-headline(2);

        @include mq(tablet) {
            @include fs-headline(4);
        }
    }

    .event-details__location {
        font-size: 0; /** space between inline block elements **/

        .event-details__venue-name,
        .event-details__address {
            @include fs-data(4);
        }
    }
}

.event-ticket {
    padding-top: rem($gs-gutter);

    .event-ticket__details {

        @include mq(tablet) {
            float: left;
            padding-right: rem($gs-gutter);
        }

        .event-ticket__price-amount {
            @include fs-header(5);
            -webkit-font-smoothing: antialiased;
        }

        .event-ticket__trail {
            @include fs-textSans(1);
        }
    }

    .action,
    .action--disabled {
        @include mq(tablet) {
            float: left;
            margin: rem(6px $gs-gutter 0 0);
        }
    }

    .action {
        background-color: $black;

        &:hover {
            background-color: $mem-event-button-hover;
        }
    }

    .terms-info {
        @include fs-textSans(1);
        padding-top: rem(12px);

        @include mq(tablet) {
            width: rem(gs-span(3) + $gs-gutter * 2);
            float: left;
        }

        a {
            color: $white;
            padding-bottom: rem(2px);
            border-bottom: rem(1px) solid $mem-underline-white-trans;

            &:hover {
                text-decoration: none;
                border-bottom: rem(1px) solid $white;
            }
        }
    }
}

.event__picture-byline {
    clear: both;
    @include fs-textSans(1);
    color: $c-neutral2;
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        padding: rem(8px) rem($gs-gutter) rem($gs-gutter * 2 - 4) rem(gs-span(2) + $gs-gutter * 2);
        margin-bottom: 0;
    }
}

.event-content {
    padding: 0;
    background-color: $white;

    @include mq(desktop) {
        background-color: transparent;
    }

    .event-content__image {
        margin: 0 auto;

        @include mq(mem-full) {
            width: rem(gs-span(14) + $gs-gutter * 2);
        }

        img {
            width: 100%;
        }

        .theme--masterclass & {
            display: none;
        }
    }

    .event-content__container {
        padding: rem($gs-gutter) rem($gs-gutter / 2);
        background-color: $white;

        @include mq(tablet) {
            width: rem(gs-span(9) + $gs-gutter * 2);
            padding: rem($gs-gutter * 3) 0;
            margin: 0 auto;
        }

        @include mq(desktop) {
            width: rem(gs-span(12) + $gs-gutter * 2);
        }

        @include mq(mem-full) {
            width: rem(gs-span(14) + $gs-gutter * 2);
        }

        .event-content__body {
            position: relative;

            @include mq(tablet) {
                float: left;
                padding: 0 rem($gs-gutter) 0 0;
                width: rem(gs-span(5) + $gs-gutter * 3);
            }

            @include mq(desktop) {
                width: rem(gs-span(8) + $gs-gutter * 2);
                padding: 0 rem($gs-gutter);
            }

            @include mq(mem-full) {
                width: rem(gs-span(10) + $gs-gutter * 2);
            }
        }
    }
}

.event__price-note,
.event__sale_ends_note,
.event__sale_ends_time {
    @include fs-textSans(4);
    display: inline-block;
}

.event__description {
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        width: rem(gs-span(8) - $gs-gutter);
        float: right;
    }

    h2 {
        @include fs-header(2);

        @include mq(tablet) {
            @include fs-header(3, true);
        }
    }

    ol,
    ul {
        list-style-position: inside;
        padding: 0;
        margin: 0 0 rem(8px);
    }
    .no-style-list {
        list-style: none;
    }
    .section-header {
        @include fs-headline(3);
        font-weight: 900;
        margin: rem(27px) 0 rem(10px);
    }

    blockquote {
        padding-left: rem(14px);
        border-left: rem(2px) solid #cfcfcd;
        font-style: italic;
        margin: 0 0 rem(16px);
    }

    blockquote p {
        margin: 0;
    }
}

.event__social {
    width: rem(gs-span(2) + $gs-gutter);
    margin-bottom: rem($gs-gutter * 2);

    @include mq(tablet) {
        float: left;
    }
}

.event__social-header {
    @include fs-textSans(1);
    border-top: rem(1px) solid $c-neutral6;
    padding-bottom: rem($gs-baseline / 2);
    padding-top: rem(3px);
}

.event-content__info {
    background-color: $c-neutral7;
    margin-bottom: rem($gs-gutter);
    padding: rem($gs-gutter);

    @include mq(tablet) {
        float: left;
        width: gs-span(4);
    }

    .event-content__name {
        @include fs-header(2);
        padding-bottom: rem($gs-gutter + 8px);
    }

    .event-content__time,
    .event-content__location,
    .event-content__tickets,
    .event-content__price {
        @include fs-textSans(3);
    }

    .event-content__price {
        padding-bottom: 0;

        .event-content__price-amount {
            @include fs-header(5);
        }
    }

    .event-content__sale-dates {

        .sale-dates__header {
            @include fs-textSans(3);
            font-weight: bold;
        }

        .sale-dates__list {
            &:last-child {
                padding-bottom: rem(5px);
            }
        }

        .sale-dates__item {
            @include fs-textSans(3);
            text-align: right;

            .sale-dates__item--left {
                float: left;
            }
        }
    }

    .event-content__sale-ends {
        padding: 0 0 rem(5px) rem($gs-gutter * 2);
    }

    .event-content__trail {
        @include fs-textSans(1);
        display: block;
    }

    .event-content__first {
        float: left;
        width: rem($gs-gutter * 2);
    }

    .event-content__second {
        float: left;
        width: rem(220px);
    }

    .action {
        margin-right: rem($gs-gutter);
        margin-right: 0;
        min-width: 100%;

        .theme--guardian-live & {
            background-color: $mem-live-accent;

            &:hover {
                background-color: darken($mem-live-accent, 5%);
            }
        }

    }

    .terms-info {
        @include fs-textSans(1);
        padding-top: rem($gs-baseline/2);
    }

}

.event-content--line-divider {
    border-top: rem(1px) dotted $c-neutral3;
    padding: rem(5px) 0;
}

/* ==========================================================================
   Temp events hacky stuff (this needs a revisit once design has been confirmed)
   ========================================================================== */

.events-list {
    &.u-unstyled {
        &:first-child {
            margin-top: rem(-10px);
        }
    }
}

.event-blocks {
    .event-block {
        position: relative;
        background-color: $white;
        border-top: rem(1px) solid $mem-live-accent;
        padding: rem($gs-gutter / 2) 0 rem($gs-gutter);

        .events-title-container {
            display: block;
            padding: 0 0 rem($gs-baseline);
        }

        .events-list__item {
            margin-bottom: rem($gs-baseline);
        }

        @include mq(tablet) {

            @include guss-row('.events-list');

            padding: rem($gs-baseline) 0 rem($gs-baseline * 2);

            .events-list__item {
                margin: rem(10px);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include mq(desktop) {

            padding: rem($gs-baseline) rem($gs-gutter) rem($gs-baseline * 2);

            .events-list-container {
                display: block;
                width: rem(gs-span(12));
                margin: 0 auto;
            }

        }

        @include mq(mem-full) {
            font-size: 0; // Inline-block white space
            .events-title-container {
                display: inline-block;
                vertical-align: top;
                width: rem(gs-span(2) + $gs-gutter);
            }
            .events-list-container {
                display: inline-block;
                vertical-align: top;
                width: rem(gs-span(12));
            }
        }

        &:first-child {
            border-top: 0;
        }

        .event-block-title {
            @include fs-header(4);
        }

        .events-list__item {
            @include mq(tablet) {
                height: rem(420px);
            }
        }

        .events-list__hero-descendant {
            .events-list__item {
                @include mq(tablet) {
                    height: rem(450px);
                }
            }
        }

    }
}

/* ==========================================================================
   An Event List item
   ========================================================================== */

.event-item {
    position: relative;
    width: 100%;
    background-color: $c-neutral7;

    .event-item__media {
        a, img {
            vertical-align: text-bottom; // remove descenders
            display: block;
        }
    }

    .event-item__meta {
        padding: rem($gs-gutter / 2);

        .event-item__title {
            @include fs-headline(2);
            color: $black;
            margin-bottom: rem($gs-baseline);
            position: relative;
        }
        .event-status--sold-out {
            display: inline-block;
            color: $white;
            background-color: $mem-live-accent;
            @include fs-data(2);
            position: relative;
            top: rem(-3px);
            padding: rem(1px) rem(3px);
            margin-right: rem(4px);
        }
        .event-item__time {
            @include fs-data(4);
            color: $black;
        }

        .event-item__location {
            font-size: 0; /** space between inline block elements **/
            color: $c-neutral2;
        }

        .event-item__location-name,
        .event-item__location-address {
            @include fs-data(3);
        }

        .event-item__description {
            @include fs-bodyCopy(1);
            padding: rem($gs-baseline) 0 0;
            color: $black;
        }

        .event-item__cta {
            width: 100%;
            padding: $gs-baseline 0 0;
            .event-item__price-amount {
                display: block;
                @include fs-header(4);
                color: $black;
            }

            .event-item__price-amout-discount {
                display: block;
                @include fs-data(3);
                color: $c-neutral2;
            }

            .event-item__action {
                position: absolute;
                bottom: rem($gs-gutter / 2);
                right: rem($gs-gutter / 2);
                width: rem(36px);
                height: rem(36px);
                padding: 0 rem(8px) 0 0;

                @include mq(desktop) {
                    bottom: rem($gs-gutter);
                    right: rem($gs-gutter);
                }
                background-color: $mem-live-accent;
                @include border-radius(50px);
                border: 0;
                &:focus {
                    outline: 0;
                }

                &:after {
                    @extend .icon-sprite-arrow-right-white;
                    content: '';
                    fill: $black;
                    float: right;
                }
            }
        }

        @include mq(tablet) {
            padding: rem($gs-baseline) rem($gs-gutter / 2);
            height: auto;

            .event-item__title {
                @include fs-headline(3);
            }

            .event-item__cta {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 rem($gs-gutter / 2) rem($gs-gutter / 2);
            }
        }

        @include mq(desktop) {
            padding: rem($gs-gutter);
            .event-item__description {
                @include fs-headline(2);
                padding: rem($gs-baseline * 2) 0 0;
            }

            .event-item__cta {
                padding: 0 rem($gs-gutter) rem($gs-gutter);
            }
        }
    }

    @include guss-row('&.event-item--hero');

    &.event-item--hero {
        margin-bottom: rem($gs-gutter / 2);
        width: 100%;

        @include mq(tablet) {
            margin-bottom: rem($gs-gutter / 2);
            height: auto;
            overflow: hidden;

            .event-item__media {
                display: inline-block;
                vertical-align: top;
                @include flex(1, 0, percentage(gs-span(8)/gs-span(12)));
                .no-flexbox & {
                    width: 60%;
                    display: inline-block;
                }
            }

            .event-item__meta {
                display: inline-block;
                vertical-align: top;
                position: relative;
                @include flex();
                .no-flexbox & {
                    width: 40%;
                    .event-item__cta {
                        position: static;
                    }
                }
            }

            .event-item__description {
                display: none;
            }
        }

        @include mq(desktop) {
            .event-item__title {
                @include fs-headline(5);
            }

            .event-item__time {
                @include fs-headline(2);
            }

            .event-item__description {
                display: block;
            }
        }

    }

    &:hover {
        text-decoration: none;
        background-color: $c-neutral5;
        .event-item__title {
            text-decoration: underline;
        }
    }

    *:hover {
        text-decoration: none;
    }

    &.event-item--standalone {
        .event-item__cta {
            position: static;
            padding: rem($gs-baseline * 2) 0 0;
        }

        .event-item__location-name,
        .event-item__location-detail {
            @include fs-data(3);
            display: block;
        }

        .event-item__location-name {
            float: left;
        }

        *:hover, &:hover {
            background-color: $c-neutral7;
            .event-item__title {
                text-decoration: none;
            }
        }
    }

    &.event-item--blank {
        display: none;
        @include mq(tablet) {
            display: block;
        }
        *:hover, &:hover {
            background-color: $c-neutral7;
        }
    }
}

.event-summary {
    @include clearfix;
    margin: rem($gs-baseline * 2) 0;

    .event-item__media {
        @include mq(tablet) {
            float: left;
            width: rem(gs-span(3));
        }
    }

    .event-item__title {
        @include f-header;
        @include font-size(rem(18px), rem(22px));
        margin-bottom: rem($gs-baseline * 2);
    }

    .event-status--sold-out {
        display: inline-block;
        color: $white;
        background-color: $mem-live-accent;
        @include fs-data(2);
        position: relative;
        top: rem(-3px);
        padding: rem(1px) rem(3px);
        margin-right: rem(4px);
    }

    .event-item__meta {
        @include f-data;
        @include font-size(rem(14px), rem(22px));

        @include mq(tablet) {
            border-top: rem(1px) dotted $c-neutral3;
            margin-left: rem(gs-span(3) + $gs-gutter);
            padding-top: rem($gs-baseline / 2);
        }
    }

    .event-item__detail {
        border-top: rem(1px) dotted $c-neutral3;
        padding: rem($gs-baseline / 2) 0 rem($gs-baseline / 2) rem($gs-gutter * 2);

        &:last-child,
        p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .event-item__location {
        line-height: rem(18px);
    }

    .event-item__location-detail {
        display: block;
    }

    .event-item__icon {
        background-size: rem(25px);
        float: left;
        margin-left: rem(-$gs-gutter * 2);
        height: rem(25px);
        width: rem(25px);
    }

    .icon-sprite-eventbrite {
        margin-top: rem(3px);
    }

    .icon-sprite-early_booking-grey {
        margin-top: rem(-2px);
    }
}
