/* ==========================================================================
   Help page
   ========================================================================== */
.help {

    .help-intro {
        padding-bottom: rem($gs-gutter * 2);
    }

    .help-list li {
        padding: 0 0 rem(5px);
    }

    .help-faqs {
        padding: rem($gs-gutter) 0;
    }

}

