$small-card: 32px;
$large-card: 35px;

/* ==========================================================================
   Joiner
   ========================================================================== */

.joiner-section--left-aligned {
    text-align: left;
}

.joiner-section--no-border {
    border: 0;
}

.joiner-navigation {
    @include clearfix;
}

.joiner-navigation__tab {
    text-align: center;
    border: 1px solid #dfdfdf;
    display: table;
    float: left;
    width: 33.3%;
}

.joiner-navigation__btn {
    @include fs-bodyCopy(4);
    background-color: #eaeaea;
    height: gs-height(2);
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    &:hover {
        background-color: darken(#eaeaea, 15%);
    }
}

/* ==========================================================================
   Tier List
   ========================================================================== */

.tier-list {
    padding: $gs-gutter;
}

/* ==========================================================================
   Tier
   ========================================================================== */

.benefits-list {
    text-align: center;
    padding: $gs-gutter;
    border-bottom: 1px solid #dfdfdf;
}

.benefits-list--left-aligned {
    border: 0;
}

/* ==========================================================================
   Payment Form
   ========================================================================== */

.form-primary-container {
    width: 100%;
}

.form-secondary-container {
    border-top: 1px solid #f1f1f1;
    width: 100%;
    padding-top: $gutter;
}

.form__error {
    margin-bottom: $gutter/2;
}

.form-detail__item {
    margin-top: $gutter/2;
}

.fieldset {
    border: 0;
}

.form-terms {
    @include fs-bodyCopy(1);
}

.form-padlock {
    @include rem((
        width: 18px,
        height: 18px
    ));
}

/* ==========================================================================
   Stripe credit card types
   ========================================================================== */
.credit-card-container {
    position: relative;
}

.credit-card {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 54px;
    height: $large-card;
    visibility: hidden;
    background: url('/assets/images/card_types_large.png') right top no-repeat;

    &[data-card-type] {
        visibility: visible;
    }

    &[data-card-type='unknown'] {
        visibility: hidden;
    }

    @include credit-card-images($large-card);
}

.credit-card--inline-block {
    visibility: visible;
    vertical-align: middle;
    position: static;
    display: inline-block;
    margin-right: $gutter / 2;
}

@include mq(tablet) {

    .credit-card {
        width: 49px;
        height: $small-card;
        background: url('/assets/images/card_types_small.png') right top no-repeat;

        @include credit-card-images($small-card);
    }
}

/* ==========================================================================
   Thank You
   ========================================================================== */

.questions {
    @include clearfix;
}

.questions__list {
    width: 100%;
    padding: $gs-gutter/4 $gs-gutter $gs-gutter 0;
}

.benefits {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@include mq(tablet) {

    .benefits-list {
        border: 1px solid #dfdfdf;
        height: gs-height(3);

        flex-grow: 0;
        flex-basis: 22%;
        flex-direction: column;

        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;
    }

    .form-primary-container {
        float: left;
        width: 63%;
        margin-right: 2%;
    }

    .benefits-list--left-aligned {
        text-align: left;
    }

    .benefits-list__item {
        display: table-cell;
        vertical-align: middle;
    }

    .form-secondary-container {
        border-top: 0;
        border-left: 1px solid #f1f1f1;
        padding: $gutter 0 0 $gutter*3;
        float: left;
        width: 35%;
    }

    .questions__list {
        width: 50%;
        float: left;
    }
}

