$small-card: 32px;
$large-card: 35px;
$card-icon-offset: 2px;

/* ==========================================================================
   Payment Form
   ========================================================================== */

.form-primary-container {
    width: 100%;
}

.form-secondary-container {
    border-top: 1px solid $c-neutral7;
    width: 100%;
    padding-top: rem($gutter);
}

.form__error {
    margin-bottom: rem($gutter / 2);
}

.form-detail__item {
    margin-top: rem($gutter / 2);
}

.form-padlock {
    width: rem(18px);
    height: rem(18px);
}

.form-padlock-text {
    @include fs-textSans(1);
}

/* ==========================================================================
   Stripe credit card types
   ========================================================================== */
.credit-card-container {
    position: relative;
    .credit-card-container-list__item {
        vertical-align: middle;
    }
}

.credit-card {
    width: rem(54px);
    height: $large-card;

    &.credit-card--form-field-note {
        background-size: rem(35px) rem(23px);
        width: rem(35px);
        height: rem(23px);
        padding-right: rem(3px);
    }
}

.credit-card--input-representation {
    position: absolute;
    right: rem($card-icon-offset);
    top: rem($card-icon-offset);
}

.credit-card-note {
    color: $c-neutral2;
    .credit-card-note__header {
        @include fs-textSans(3);
        color: $c-neutral1;
        display: block;
    }
}

.credit-card-input {
    // bit messy but needs to account for outline plus icon offset
    height: rem($large-card + $card-icon-offset + 2px);
}

/* ==========================================================================
   Thank You
   ========================================================================== */


@include mq(tablet) {
    .form-secondary-container {
        border-top: 0;
        border-left: 1px solid $c-neutral7;
        padding: rem($gutter) 0 0 rem($gutter * 3);
        float: left;
        width: 35%;
    }
}
