$small-card: 32px;
$large-card: 35px;
$card-icon-offset: 2px;

/* ==========================================================================
   Joiner
   ========================================================================== */

.joiner-section--left-aligned {
    text-align: left;
}

.joiner-section--no-border {
    border: 0;
}

.joiner-navigation {
    @include clearfix;
}

.joiner-navigation__tab {
    text-align: center;
    border: rem(1px) solid #dfdfdf;
    display: table;
    float: left;
    width: 33.3%;
}

.joiner-navigation__btn {
    @include fs-bodyCopy(3);
    background-color: #eaeaea;
    height: gs-height(2);
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    &:hover {
        background-color: darken(#eaeaea, 15%);
    }
}

/* ==========================================================================
   Tier List
   ========================================================================== */

.tier-list {
    padding: $gs-gutter;
}

/* ==========================================================================
   Tier
   ========================================================================== */

.benefits-list {
    text-align: center;
    padding: $gs-gutter;
    border-bottom: rem(1px) solid #dfdfdf;

    @include mq(tablet) {
        border: rem(1px) solid #dfdfdf;
        height: gs-height(3);

        flex-grow: 0;
        flex-basis: 22%;
        flex-direction: column;

        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;
    }
}

.benefits-list--left-aligned {
    border: 0;

    @include mq(tablet) {
        text-align: left;
    }
}

/* ==========================================================================
   Payment Form
   ========================================================================== */

.form-primary-container {
    width: 100%;
}

.form-secondary-container {
    border-top: rem(1px) solid #f1f1f1;
    width: 100%;
    padding-top: $gutter;
}

.form__error {
    margin-bottom: $gutter/2;
}

.form-detail__item {
    margin-top: $gutter/2;
}

.fieldset {
    border-width: rem(2px);
}

.form-terms {
    @include fs-bodyCopy(1);
}

.form-padlock {
    width: rem(18px);
    height: rem(18px);
}

/* ==========================================================================
   Stripe credit card types
   ========================================================================== */
.credit-card-container {
    position: relative;
    .credit-card-container-list__item {
        vertical-align: middle;
    }
}

.credit-card {
    width: rem(54px);
    height: $large-card;

    &.credit-card--form-field-note {
        background-size: rem(35px) rem(23px);
        width: rem(35px);
        height: rem(23px);
        padding-right: rem(3px);
    }

    &.credit-card--input-representation {
        position: absolute;
        right: rem($card-icon-offset);
        top: rem($card-icon-offset);
    }

    &.icon-sprite-card-unknown {
        visibility: hidden;
    }
}

.credit-card-note {
    color: $mem-darkGrey;
    .credit-card-note__header {
        color: $black;
    }
}

.credit-card-input {
    // bit messy but needs to account for outline plus icon offset
    height: rem($large-card + $card-icon-offset + 2px);
}

.credit-card--inline-block {
    visibility: visible;
    vertical-align: middle;
    position: static;
    display: inline-block;
    margin-right: $gutter / 2;
}

/* ==========================================================================
   Thank You
   ========================================================================== */

.questions {
    @include clearfix;
}

.questions__list {
    width: 100%;
    padding: $gs-gutter/4 $gs-gutter $gs-gutter 0;
}

.benefits {
    @extend %flexbox-container-justify;
}

@include mq(tablet) {
    .benefits-list__item {
        display: table-cell;
        vertical-align: middle;
        .action {
            width: 100%;
        }
    }

    .form-secondary-container {
        border-top: 0;
        border-left: rem(1px) solid #f1f1f1;
        padding: $gutter 0 0 $gutter*3;
        float: left;
        width: 35%;
    }

    .questions__list {
        width: 50%;
        float: left;
    }
}
