/* ==========================================================================
   Login
   ========================================================================== */

// TODO: Can be deleted once form refactoring is completed
.section-payment {
    background-color: $white;
    margin: 0 auto;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2) rem($gs-gutter + $gs-baseline);

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-gutter + $gs-baseline);
    }

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }

    // TODO: Refactor out when signin and payment use functional page layout
    // Only contains reamaining status styles
    .steps {
        display: block;
        position: absolute;
        top: rem($gs-baseline);
        right: 0;

        @include mq(tablet) {
            top: rem($gs-baseline);
            right: 0;
        }

        @include mq(desktop) {
            position: static;
            width: rem(gs-span(1) + $gs-gutter * 3);
            float: left;
        }

        @include mq(mem-full) {
            width: rem(gs-span(2));
        }
    }

    .signin__actions {
        display: inline-block;

        @include mq(desktop) {
            width: rem(gs-span(8));
            padding: 0 rem($gs-gutter);
        }

        @include mq(mem-full) {
            width: rem(gs-span(10));
            padding: 0 rem($gs-gutter);
        }

        .signin__action-prompt {
            @include fs-bodyHeading(4);
        }

        .signin__login,
        .signin__register {
            padding: rem(3px) 0 rem($gs-baseline * 2);
            border-top: rem(1px) solid $c-neutral3;
        }
    }
}
