.section-signin {
    text-align: center;

    .signin__actions {
        display: inline-block;
        text-align: center;
        .signin__action-prompt {
            @include fs-bodyHeading(4);
            font-weight: 100;
        }

        .signin__login,
        .signin__register {
            @include rem((
                padding: $gs-baseline*2 0
            ));
        }

        .signin__login {
            @include rem((
                border-bottom: 1px solid #000000
            ));
        }
    }
}
