.section-signin {
    text-align: center;
    .signin__jumbotron {
        width: 100%;
        text-align: center;
        padding-bottom: $gs-baseline*3;
        margin-bottom: $gs-baseline*3;
        border-bottom: 1px solid #000000;
        h1 {
            @include fs-headline(7);
        }
        h2 {
            @include fs-bodyHeading(5);
            font-weight: 100;
        }
    }

    .signin__actions {
        display: inline-block;
        text-align: center;
        width: 40%;
        h3 {
            @include fs-bodyHeading(5);
            font-weight: 100;
        }

        > div {
            padding: $gs-baseline*2 0;
        }

        .signin__login {
            border-bottom: 1px solid #000000;
        }
    }
}
