$current-indicator: rem(47px);

.secondary-content {
    flex-basis: 16em;
    order: 2;
    @if $old-ie {
        float: left;
    }
}

.right-align {
    float: right;
}

.package-container {
    background-color: #f2f2f2;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: rem($gs-gutter);
}

.package-container__header {
    @include rem((
        padding-bottom: $gs-gutter,
    ));
    @include mq(tablet) {
        @include rem((
            margin-bottom: 40px
        ));
    }
    border-bottom: 1px dotted #333333;
}

.package-list {
    @include mq(desktop) {
        display: table;
        margin: 0 auto;
        border-spacing: rem($gs-gutter);
        padding-top: $current-indicator;
    }
}

.package {
    vertical-align: top;

    @include rem((
        margin: 30px $gs-gutter $gs-gutter
    ));

    @include mq(desktop) {
        display: table-cell;
        max-width: 330px;
    }
}

.package__current-indicator {
    color: #ffffff;
    background-color: #9c9c9c;
    text-align: center;
    @include rem((
        padding: $gs-baseline,
        margin: 0 $gs-baseline/2 0
    ));
    @include mq(desktop) {
        margin-top: -$current-indicator;
    }
}

.package__inner {
    @include rem((
        padding: $gs-gutter
    ));
    @include border-radius(4px);
    background-color: #ffffff;
}

.package--current .package__inner {
    border: 1px solid #9c9c9c;
}

.package__title {
    position: relative;
    @include rem((
        padding-bottom: $gs-baseline,
        margin-bottom: $gs-baseline * 2
    ));
    @include fs-headline(1, true);
    word-wrap: break-word;
    @include f-headline;
    border-bottom: 1px dotted #dcdcdc;
}

.package__list-element {
    @include fs-bodyCopy(1);
    @include rem((
        padding: $gs-gutter/2 0 $gs-gutter
    ));
    > li {
        list-style-position: inside;
        list-style: none;
        @include rem((
            margin: $gs-baseline 0
        ));
        @include faux-bullet-point(#333333, $right-space: 4px);

    }
}

.package__price {
    @include fs-headline(6);
}

.package__pcm {
    @include fs-headline(1);
}

/* Upgrade
======================================================================= */

.upgrade__payment-label {
    display: block;
    position: relative;
    border: 1px solid #cccccc;
    padding: $gs-baseline/2 $gs-baseline $gs-baseline/2 $gs-baseline*2;
    @include border-radius(5px);

    span {
        display: block;
        @include fs-textsans(4);
        margin: 0 0 $gs-baseline;
        &.payment-label__title {
            @include fs-headline(2);
        }
    }

    input[type=radio] {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10px;
        left: 6px;
    }

    input[type=radio]:checked + .payment-label__title {
        font-weight: bold;
    }

    &:hover {
        background-color: #eeeeee;
    }
}
