@(subscription: model.Stripe.Subscription, card: model.Stripe.Card)

@import views.support.Dates._
@import views.support.Format._

<table class="table table--responsive-font table--striped">
    <tr class="table__headline" role="row">
        <td class="summary-table__cell" role="scope">
            Package
        </td>
        <td class="summary-table__cell" role="scope">
            @subscription.plan.name
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            End Date
        </td>
        <td class="summary-table__cell">
            @dateWithoutTime(subscription.current_period_end)
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Monthly Payment
        </td>
        <td class="summary-table__cell">
            @formatPence(subscription.plan.amount)
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Last Payment
        </td>
        <td class="summary-table__cell">
            @dateWithoutTime(subscription.current_period_start)
        </td>
    </tr>
</table>