@()

@import views.Dates._
@import views.Format._

<table class="table table--responsive-font table--striped">
    <tr class="table__headline" role="row">
        <td class="summary-table__cell" role="scope">

        </td>
        <td class="summary-table__cell" role="scope">

        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Start Date
        </td>
        <td class="summary-table__cell">

        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Amount Paid Today
        </td>
        <td class="summary-table__cell">

        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Monthly Payment
        </td>
        <td class="summary-table__cell">

        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Next Payment
        </td>
        <td class="summary-table__cell">

        </td>
    </tr>
</table>