@(tier: model.Tier.Tier, amount: Int)

@import views.Dates._
@import views.Format._

<aside class="form-secondary-container">
    <ul class="form-detail u-unstyled">
        <li class="form-detail__item">
            <h2 class="form__heading">What's included</h2>
            <ul>
                @* Benefits List per tier *@

                @tier match {
                    case model.Tier.Friend => {
                        <li>Book Live event tickets</li>
                        <li>Watch highlights of Live events</li>
                        <li>Watch stream of Flagship events</li>
                        <li>Early booking for Live events</li>
                        <li>20% discount on tickets and plus ones</li>
                        <li>20% discount on Masterclasses</li>
                    }
                    case model.Tier.Partner => {
                        <li>Book Live event tickets</li>
                        <li>Watch highlights of Live events</li>
                        <li>Watch stream of Flagship events</li>
                        <li>Early booking for Live events</li>
                        <li>20% discount on tickets and plus ones</li>
                        <li>20% discount on Masterclasses</li>
                    }
                    case model.Tier.Patron => {
                        <li>Book Live event tickets</li>
                        <li>Watch highlights of Live events</li>
                        <li>Watch stream of Flagship events</li>
                        <li>Early booking for Live events</li>
                        <li>20% discount on tickets and plus ones</li>
                        <li>20% discount on Masterclasses</li>
                    }
                }
            </ul>
        </li>
        <li class="form-detail__item">
            <h2 class="form__heading">Payments</h2>
            <p><strong>First payment</strong> will be taken today under the name Guardian Membership.</p>
            <p><strong>Ongoing payments</strong> Your card will be charged @Html(formatPounds(amount)) every month. Payments will taken on or shortly after the @Html(dayInMonthWithSuffix()) of every month. You can change the payment date at any time.</p>
        </li>
        <li class="form-detail__item">
            <h2 class="form__heading">Changed you mind?</h2>
            <p>You can cancel your membership at any time by calling our customer support on <a href="tel:080012345678">0800 1234 5678</a></p>
        </li>
    </ul>
</aside>
