.container {
    position: relative;
    overflow: hidden;
    @include rem((
        margin-top: $gs-baseline
    ));

    @include mq(tablet) {
        @include rem((
            margin-top: $gs-baseline*2
        ));
    }
}

.container__header {
    position: relative;
}

.container__toggle,
.item__live-indicator,
.item__meta,
.collection__show-more {
    @include f-data;
}

.item {
    @include rem((
        padding-bottom: $gs-gutter
    ));
    position: relative;
    @include mq(tablet) {
        @include rem((
            padding-left: $gs-gutter/2,
            padding-right: $gs-gutter/2,
            padding-bottom: 18px
        ));
        display: inline-block;
        vertical-align: top;
        @include vertical-item-separator;
    }
}

.item__link--no-border {
    border-width: 0;
}

.item__image-container {
    margin-top: 4px;

    .js-off & {
        display: none;
    }
}

.item__title {
    position: relative;
    @include rem((
        padding-bottom: $gs-baseline
    ));
    @include fs-headline(1, true);
    word-wrap: break-word;
    @include f-headline;
}

.item__list-element {
    @include fs-bodyCopy(1);
    list-style: none;
    > li {
        margin: $gs-baseline 0;
        @include faux-bullet-point(#333333, $right-space: 4px);
    }
}

.item__byline {
    @include fs-headline(2);
    @include rem((
        margin-bottom: $gs-baseline/3
    ));
}

.item__standfirst,
.item__meta {
    color: $c-neutral2;
}

.item__meta {
    position: absolute;
    bottom: 0;
    @include fs-data(2, $size-only: true);

    @include mq(tablet) {
        @include fs-data(3, $size-only: true);
    }

    .item__timestamp,
    .trail__count {
        position: relative;
        float: left;

        i {
            margin: 0;
            position: absolute;
        }
    }
    .item__timestamp {
        @include rem((
            min-width: 50px - $gs-gutter/2 - 14px,
            padding-right: $gs-gutter/2,
            padding-left: 14px
        ));

        i {
            left: 0;
            @include rem((
                top: 3px
            ));
            @include mq(tablet) {
                @include rem((
                    top: 2px
                ));
            }
        }
    }
    .trail__count {
        @include rem((
            padding-left: 18px
        ));
        top: 0;

        a {
            line-height: inherit;
            color: inherit;
        }
        i {
            @include rem((
                top: 3px,
                left: 0
            ));
        }
    }
}
