a,
.u-fauxlink {
    overflow: hidden;
    color: $c-newsDefault;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:active {
        color: $c-newsAccent;
        text-decoration: none;
    }
}

.no-underline {
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.icon-wrapper {
    display: block;
}