*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body:after {
    content: 'mobile';
    @include u-h;

    @include mq(tablet) {
        content: 'tablet';
    }
    @include mq(desktop) {
        content: 'desktop';
    }
    @include mq(wide) {
        content: 'wide';
    }
}

ol,
ul {
    list-style-position: inside;
}
