/* ==========================================================================
   Helpers
   ========================================================================== */

%u-h,
.u-h {
    @include u-h;
}

.is-hidden,
[hidden] {
    display: none !important;
}

.u-cf {
    @include clearfix;
}

.u-align-left {
    float: left;
}

.u-align-right {
    float: right;
}

.block-level {
    display: block;
}
