/* ==========================================================================
   Helpers
   ========================================================================== */

%u-h,
.u-h {
    @include u-h;
}

.is-hidden,
[hidden] {
    display: none !important;
}

.u-cf {
    @include clearfix;
}

.u-align-left {
    float: left;
}

.u-align-right {
    float: right;
}

.u-fullwidth {
    width: 100%;
}

.u-no-margin {
    margin: 0 !important;
}
.u-no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.u-no-top-margin {
    margin-top: 0 !important;
}
.u-no-bottom-margin {
    margin-bottom: 0 !important;
}

.block-level {
    display: block;
}
