/* ==========================================================================
   Helpers
   ========================================================================== */

.is-hidden,
[hidden] {
    display: none !important;
}

.u-h {
    @include u-h;
}

.u-cf {
    @include clearfix;
}

.u-fullwidth {
    width: 100%;
}
.u-capped-half {
    display: block;

    @include mq(tablet) {
        width: 50% - ($gutter-width-fluid / 2);
    }
}
.u-capped-half-wide {
    @include mq(mem-full) {
        width: 50% - ($gutter-width-fluid / 2);
    }
}
.u-capped-one-third {
    display: block;

    @include mq(tablet) {
        width: 33.3%;
        // margin-bottom: rem($gs-gutter);
    }
}
.u-capped-two-thirds {
    display: block;

    @include mq(tablet) {
        width: 66%;
        // margin-bottom: rem($gs-gutter);
    }
}

.u-align-left {
    float: left;
}
.u-align-right {
    float: right;
}
.u-align-middle {
    vertical-align: middle;
}

.u-no-margin {
    margin: 0 !important;
}
.u-no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.u-no-top-margin {
    margin-top: 0 !important;
}
.u-no-bottom-margin {
    margin-bottom: 0 !important;
}

.u-underline {
    text-decoration: underline;
}

.u-anchor {
    @include mq($until: mem-full) {
        position: absolute;
        right: $gs-gutter / 2;
        top: $gs-gutter / 2;
    }
}

.u-sticky-offset {
    padding-top: 0;

    @include mq(tablet) {
        padding-top: rem(($gs-baseline * 2) + 64px); // magic number, height of sections nav
    }
}

.u-divider {
    padding-top: $gs-baseline / 2;
    border-top: 1px solid $c-border-brand;
}
.u-divider-neutral {
    padding-top: $gs-baseline / 2;
    border-top: 1px solid $c-border-neutral;
}
.u-divider-dotted {
    padding-top: $gs-baseline / 2;
    border-top: 1px dotted $c-neutral3;
}

.u-button-reset {
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.u-parentheses {
    &:before { content: '('; }
    &:after { content: ')'; }
}

.supports-clippath-shapes {
    .u-thumbnail-clip {
        position: relative;

        &::after {
            @include clip-overlay();
        }
    }
    .u-thumbnail-clip--a::after,
    .u-thumbnail-clip--0::after {
        @include clip-path-shape('thumbnail-a');
    }
    .u-thumbnail-clip--b::after,
    .u-thumbnail-clip--1::after {
        @include clip-path-shape('thumbnail-b');
    }
    .u-thumbnail-clip--c::after,
    .u-thumbnail-clip--2::after {
        @include clip-path-shape('thumbnail-c');
    }
}
