/* ==========================================================================
   Helpers
   ========================================================================== */

.is-hidden,
[hidden] {
    display: none !important;
}

.u-h {
    @include u-h;
}

.u-cf {
    @include clearfix;
}

.u-fullwidth {
    width: 100%;
}

.u-align-left {
    float: left;
}
.u-align-right {
    float: right;
}
.u-align-middle {
    vertical-align: middle;
}

.u-no-margin {
    margin: 0 !important;
}
.u-no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.u-no-top-margin {
    margin-top: 0 !important;
}
.u-no-bottom-margin {
    margin-bottom: 0 !important;
}

.u-divider {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;
}
.u-divider-neutral {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-neutral;
}

.u-pad-top {
    margin-top: rem($gs-baseline / 2);
}
.u-pad-bottom {
    margin-bottom: rem($gs-baseline / 2);
}

.u-button-reset {
    padding: 0;
    border: 0;
    background: transparent;
}

.u-parentheses {
    &:before { content: '('; }
    &:after { content: ')'; }
}
