/* ==========================================================================
   Images
   ========================================================================== */

img {
    background-color: transparent;
}

.responsive-img {
    display: block;
    height: auto;
    width: 100%;
}

.stamped-image {
    position: relative;
}
.stamped-image__container {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    padding: rem($gs-gutter) rem($gs-gutter / 2);
    background-image: -webkit-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, .6) 100%);
    background-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, .6) 100%);
}
.stamped-image__stamp {
    height: rem($gs-gutter * 2);
}

/* Inline SVGs
   http://nicolasgallagher.com/canvas-fix-svg-scaling-in-internet-explorer/
   ========================================================================== */

.inline-svg {
    display: inline-block;
    position: relative;
    user-select: none;
}
.inline-svg__canvas {
    display: block;
    height: 100% !important;
    visibility: hidden;
}
.inline-svg__image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
