img {
    background-color: transparent;
}

.responsive-img {
    display: block;
    height: auto;
    width: 100%;
}

.stamped-image {
    position: relative;
}
.stamped-image__container {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    padding: rem($gs-gutter) rem($gs-gutter / 2);
    background-image: -webkit-linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, .6) 100%);
    background-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, .6) 100%);
}
.stamped-image__stamp {
    height: rem($gs-gutter * 2);
}
