/* ==========================================================================
   Links
   ========================================================================== */

a,
.fake-link {
    overflow: hidden;
    color: $c-link;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:active {
        color: $c-link;
        text-decoration: none;
    }
}

// transforms buttons into link-like elements
.fake-link {
    display: inline;
    padding: 0;
    background: none;
    border: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

.minimal-link {
    color: inherit;
}

.no-underline {
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    // useful for disabling underline on images inside links
    // but enabling it for text nodes inside those links
    &:hover .no-underline--override {
        text-decoration: underline;
    }
}

// Skip to main content link
// Needs to override .u-h
// hence the !important declarations
.skip:focus, .skip:active {
    display: block;
    color: $black;
    background-color: $c-neutral8;
    @include fs-data(3);
    text-decoration: none;
    position: static !important;
    width: 100% !important;
    height: auto !important;
    padding: rem($gs-gutter/2) 0 !important;
    text-align: center;
    outline: none;
}
