a,
.fake-link {
    overflow: hidden;
    color: $c-newsDefault;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &:active {
        color: $c-newsAccent;
        text-decoration: none;
    }
}

// transforms buttons into link-like elements
.fake-link {
    display: inline;
    padding: 0;
    background: none;
    border: none;
}

.no-underline {
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    // useful for disabling underline on images inside links
    // but enabling it for text nodes inside those links
    &:hover .no-underline--override {
        text-decoration: underline;
    }

}
