/* ==========================================================================
   Lists
   ========================================================================== */

dt {
    font-weight: bold;
}

menu,
ol,
ul {
    padding: 0;
}

// Remove margin and bullets from lists.
.u-unstyled,
%u-unstyled {
    margin: 0;
    list-style: none;
}

// List of inline items
.inline-list {
    margin: 0;
    list-style: none;
}
.inline-list__item {
    @include fs-data(4);
    display: inline-block; // Prevent linebreak within an item
    margin-right: $gutter-width-fluid;

    &:last-child {
        margin-right: 0;
    }
}
.inline-list--bordered {
    margin-top: rem($gs-baseline * 2);
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;
}

.list-stack {
    margin: 0 0 rem($gs-baseline);
    list-style: none;

    li {
        border-bottom: 1px dotted $c-border-neutral;
        padding-bottom: rem($gs-baseline / 2);
        margin-bottom: rem($gs-baseline / 2);
    }
    li:last-child {
        border-bottom: 0 none;
        margin-bottom: 0;
    }
}
.list-stack__title {
    @include fs-bodyCopy(2);
    font-weight: bold;
    margin-top: rem($gs-baseline);
    padding: rem($gs-baseline / 2) 0;
    border-top: dotted $c-border-neutral;
    border-width: 1px 0;
}
.list-stack--bordered {
    border-top: 1px dotted $c-border-neutral;
    padding-top: rem($gs-baseline / 2);
}
