/* ==========================================================================
   Tables
   ========================================================================== */

.table {
    color: $c-neutral1;
    background-color: $c-neutral8;
    margin-bottom: rem($gs-baseline);

    th,
    td {
        @include fs-data(3);
        line-height: rem(18px);
        padding: rem(16px) rem(10px) rem(15px);
        vertical-align: top;
    }

    th,
    thead td {
        color: $c-neutral1;
        font-weight: 800;
    }

    tbody th {
        @include mq($from: tablet) {
            width: rem(gs-span(3));
        }
    }

    td {
        border-top: 1px solid darken($c-neutral8, 4%);
    }

    abbr {
        border-bottom: 1px dotted $c-neutral8;
    }

    @include mq($from: desktop) {
        th,
        td,
        thead td {
            @include fs-textSans(4);
            padding: rem(14px) rem($gs-baseline) rem(13px);
        }
    }
}

.table--striped {
    th,
    td {
        border-top: 0;
    }

    tr:nth-child(even) > th,
    tr:nth-child(even) > td {
        background-color: darken($c-neutral8, 4%);
    }
}

.table--offer {

    color: inherit;
    background-color: $white;

    th,
    td {
        @include fs-bodyCopy(2);
        vertical-align: top;
        padding: rem($gs-baseline / 2) rem($gs-baseline);
    }

    th,
    thead {
        font-weight: bold;
    }

    tbody td {
        padding-bottom: rem($gs-baseline * 2);
    }

    td {
        border-right: 1px solid  $c-neutral7;
    }
    td:last-child {
        border-right: 0 none;
    }

    th,
    thead td {
        color: $white;
        background-color: $c-neutral2;
    }
}
