$table-breakpoint-importance-1: tablet;
$table-breakpoint-importance-2: mobile;
$table-breakpoint-importance-3: 220px;

table {
    width: 100%;
}

th,
td {
    text-align: left;
}

.table {
    background: $c-neutral8;
    color: $c-neutral1;
    margin-bottom: rem($gs-baseline);

    th,
    td {
        @include fs-data(3);
        line-height: rem(18px);
        padding: rem(16px) rem(10px) rem(15px);
        vertical-align: top;
    }

    th,
    thead td {
        color: $c-neutral1;
        font-weight: 800;
    }

    tbody th {
        @include mq($from: tablet) {
            width: rem(gs-span(3));
        }
    }

    td {
        border-top: 1px solid darken($c-neutral8, 4%);
    }

    abbr {
        border-bottom: 1px dotted $c-neutral8;
    }

}

.table--responsive-font {
    @include mq($from: desktop) {
        th,
        td,
        thead td {
            font-size: rem(14px);
            line-height: rem(22px);
            padding: rem(14px) rem(12px) rem(13px);
        }
    }
}

.table--striped {
    th,
    td {
        border-top: 0;
    }

    tr:nth-child(even) > th,
    tr:nth-child(even) > td {
        background-color: darken($c-neutral8, 4%);
    }
}

.table-column--sub {
    color: $c-neutral2;
}

.table-column--main {
    width: 100%;
}

.table-row--highlight td {
    font-weight: bold;
}

.table-row--divider td {
    border-top: 1px dashed $c-neutral1;
}

.table__headline {
    @include fs-bodyHeading(2);
    border-top: 1px dotted $c-neutral5;
    padding: rem($gs-baseline / 2) 0 rem($gs-baseline);
}

