@import model.EventsByStatus
@import model.RichEvent._
@(guLiveEvents: EventsByStatus, localEvents: EventsByStatus, masterclassEvents: EventsByStatus)
@import views.support.Asset

@eventListItem(event: RichEvent) = {
    <li class="event-list__item"><a href="eventbrite/@event.id">@event.name.text</a></li>
}

@listOfEvents(events: Seq[RichEvent], title: String) = {
    @if(events.length > 0) {
        <div class="tool-list__pane">
            <h2>@title events (@events.length items)</h2>
            <ul class="event-list event-list--scroll">
                @for(event <- events) {
                    @eventListItem(event)
                }
            </ul>
        </div>
    }
}

@tabPane(paneId: String, eventList: EventsByStatus, isActive: Boolean = false) = {
    <div class="tabs__content@if(isActive){ tabs__content--active}" id="@paneId">
        <div class="tool-list">
            @listOfEvents(eventList.live, "Live")
            @listOfEvents(eventList.draft, "Draft")
            @listOfEvents(eventList.past, "Past")
        </div>
    </div>
}

@staff.admin.template("EventHawk") {
    <div class="container">
        <div class="pane pane--nav">
            <img src="@Asset.at("images/admin/logo.png")" class="logo" />
            <ul class="nav">
                <li class="nav__item nav__item--selected"><a href="#">Membership</a></li>
                <li class="nav__item"><a href="#">EventBrite</a></li>
                <li class="nav__item"><a href="#">Dashboard</a></li>
                <li class="nav__item"><a href="#">The Grid</a></li>
            </ul>

            <aside class="padded">
                <h2>Quick links</h2>
                <ul class="option-list u-list-unstyled">
                    <li class="option-list__item"><a href="#" class="cta">Create a new event</a></li>
                    <li class="option-list__item"><a href="#" class="cta">Edit hero events</a></li>
                    <li class="option-list__item"><a href="#" class="cta">Bulk edit events</a></li>
                </ul>
            </aside>

            <p class="tagline">For a bird's eye view of events &bull; v0.1</p>
        </div>

        <div class="pane pane--tools">

            <h2>Event list</h2>

            <ul class="tabs js-tabs" data-tab-pane="events-holder">
                <li><a href="#eventtab1" class="js-tabs__tab tabs__tab tabs__tab--active">Guardian Live</a></li>
                <li><a href="#eventtab2" class="js-tabs__tab tabs__tab">Local</a></li>
                <li><a href="#eventtab3" class="js-tabs__tab tabs__tab">Masterclasses</a></li>
            </ul>

            <div id="events-holder">
                @tabPane("eventtab1", guLiveEvents, true)
                @tabPane("eventtab2", localEvents)
                @tabPane("eventtab3", masterclassEvents)
            </div>

        </div>

        <div class="pane pane--main">
            <h3>Essentials of pigeon grooming with Will Franklin</h3>
            <div class="row m-b-l u-margin-bottom">

                <div class="col-md-6">
                    <h2>Tags</h2>
                    <ul class="tag-list u-list-unstyled">
                        <li>Will <span class="tag-list__remove">x</span></li>
                        <li>Pigeons <span class="tag-list__remove">x</span></li>
                        <li>Grooming <span class="tag-list__remove">x</span></li>
                        <li>Self-help <span class="tag-list__remove">x</span></li>
                        <li>Something else<span class="tag-list__remove">x</span></li>
                        <li>A tag goes here<span class="tag-list__remove">x</span></li>
                        <li>This is a long name which will go onto a new line<span class="tag-list__remove">x</span></li>
                    </ul>
                    <a href="#" class="cta cta--primary">Add a new tag...</a>
                </div>

                <div class="col-md-6">
                    <h2>Event main photo</h2>
                    <div class="row m-b-l">
                        <div class="col-md-4">
                        <img src="@Asset.at("images/admin/pigeon.jpg")" class="photo" />
                        </div>
                        <div class="col-md-8">
                            <label>Caption</label>
                            <input type="text" />
                            <label>Photographer</label>
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row m-b-l">
                        <div class="col-md-4">
                            <a href="#" class="cta cta--secondary">Change photo?</a>
                        </div>
                        <div class="col-md-8">
                            <a href="#" class="cta cta--primary">Update caption/photographer</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-b-l u-margin-bottom">
                <div class="col-md-6">
                    <h2>Partner</h2>
                    <select>
                        <option>None</option>
                        <option>Birkbeck</option>
                        <option>Central St. Martin's</option>
                        <option>Idler Academy</option>
                    </select>
                    <a href="#" class="cta cta--primary u-margin-right">Save</a>
                    <a href="#" class="cta cta--secondary">Add a new partner...</a>
                </div>
                <div class="col-md-6">
                    <h2>Custom description</h2>
                    <textarea rows="10"></textarea>
                    <a href="#" class="cta cta--primary">Save</a>
                </div>
            </div>
        </div>

    </div>
}
