// An event list item
li.event {
  display: block;
  margin-bottom: $gs-gutter;
  background-color: $c-neutral6;

  &:hover {
    background-color: $c-neutral4;
  }

  .event__image {
    height: gs-span(3);
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .event__meta {
    padding: $gutter/2;
    height: 100px;
    width: gs-span(3) - 2*($gutter/2);
    overflow: hidden;
  }

  .event__name {
    @include fs-headline(2);
    @include rem((
            margin-bottom: $gs-baseline/4
    ));
  }

  .event__location,
  .event__time {
    @include fs-textsans(2);
    display: block;
  }

  @include mq(tablet) {
    width: gs-span(3);
    margin-right: $gs-gutter;
    display: inline-block;

    .event__image {
      width: gs-span(3);
      img {
        width: auto;
      }
    }
  }

}

// An event on an event page
div.event {
  .event__content {

    .event__location,
    .event__time {
      @include fs-textsans(4);
      display: block;
    }

    .event__description {
      @include fs-bodyCopy(3);
    }

  }

  .event__related {
    margin-top: gs-height(1);

    .event__related--content {
      background-color: $c-neutral8;
    }
  }

  @include mq(desktop) {
    .event__content {
      display: table-cell;
      vertical-align: top;
      width: gs-span(12);
      padding-right: $gs-gutter;
    }
    .event__related {
      margin: 0;
      display: table-cell;
      vertical-align: top;
      width: gs-span(4);
      min-height: 600px;
    }
  }

}