@charset "UTF-8";

@import "_head.common";

.wrapper {
  padding: 48px 0;
}

header {
  height: 90px;
  border-bottom: 1px solid $c-neutral6;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: $c-neutral8;
  .copy {
    text-align: center;
    margin: 48px 0 0 0;
  }
}

.events {

  // An event list item
  .event {
    display: inline-block;
    width: 200px;
    margin: 6px;
    background-color: $c-neutral6;

     .event__image {
       height: 200px;
       width: 200px;
       overflow: hidden;
     }

    .event__meta {
      padding: 6px;
      height: 100px;
      width: auto;
    }

    .event__name {
      font-size: 16px;
    }

  }
  
}

.actions {
  margin: $gs-row-height 0 0 0;

  .action {
    float: left;
    margin: 0 $gutter 0 0;
  }

  .sign-in {
    background-color: $c-brandBlue;
    color: #FFFFFF;
    padding: $gutter/2;
    &:hover {
      background-color: darken($c-brandBlue, 15%);
      text-decoration: none;
    }
  }
}