@charset "UTF-8";

@import "_head.common";

@import "_events";

.wrapper {
  padding: 48px 0;
}

header {
  height: 90px;
  border-bottom: 1px solid $c-neutral6;

  .identity {
    position: absolute;
    top: gs-height(1)/2;
    right: $gs-gutter;
    span {
      @include fs-data(2);
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: $c-neutral8;
  .copy {
    @include fs-data(6);
    text-align: center;
    margin: 48px 0 0 0;
  }
}

.section-header {
  @include fs-headline(5);
  @include rem((
          margin-bottom: $gs-baseline*2,
          padding-top: $gs-baseline/3
  ));
}

.actions {
  margin: $gs-row-height 0 0 0;

  .action {
    display: inline-block;
    margin: 0 $gutter 0 0;
  }

  .sign-in {
    background-color: $c-brandBlue;
    color: #FFFFFF;
    padding: $gutter/2;
    &:hover {
      background-color: darken($c-brandBlue, 15%);
      text-decoration: none;
    }
  }
}