/* ==========================================================================
   Event List
   ========================================================================== */
.events__list {
    text-align: center;
}

.events-list {
    width: 100%;
}

.events-list__item {
    display: inline-block;
    width: 100%;
    margin-right: 2%;
}

.item__image-container img {
    width: 100%;
}

/* ==========================================================================
   An Event List item
   ========================================================================== */

li.event {
    text-align: left;
    display: block;
    margin-bottom: $gs-gutter;
    background-color: #FFFFFF;
    padding: .125em;
    @include border-radius(.2em);

    &:hover {
        background-color: #FFFFFF;
    }

    .event__image {
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .event__meta {
        padding: $gutter/2;
        @include rem((
            height: 130px
        ));
        width: auto;
        overflow: hidden;
    }

    .event__name {
        @include fs-headline(2);
        @include rem((
            margin-top: $gs-baseline/2,
            margin-bottom: $gs-baseline
        ));
    }

    .event__location,
    .event__time {
        @include fs-textsans(2);
        display: block;
    }
}

/* ==========================================================================
   An event on an event page
   ========================================================================== */

div.event {
    .event__content {

        .event__location,
        .event__time {
            @include fs-textsans(4);
            display: block;
        }

        .event__description {
            ol,
            ul {
              list-style-position: inside;
            }
        }

    }

    .event__related {
        margin-top: gs-height(1);

        .event__related--content {
            background-color: $mem-trans-white;
        }
    }

    @include mq(desktop) {
        .event__content {
            float: left;
            width: gs-span(10);
            margin-right: $gs-gutter;
        }
        .event__related {
            margin: 0;
            float: left;
            width: gs-span(4);
            min-height: 600px;
        }
    }

}

/* ==========================================================================
   Temp events hacky stuff (this needs a revisit once design has been confirmed)
   ========================================================================== */

.item__meta {
    position: relative;
    overflow: hidden;
    bottom: -10px;
}

.inner-container {
    float: right;
    width: 100%;
}

.icon {
    background-image: url('../images/icons.png');
    width: 34px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
}

.location--icon {
    background-position: 0 0;
}

.time--icon {
    background-position: -33px 0;
}

.event__location {
    margin-bottom: .4em;
}

.container--people .facia-slice-wrapper--position-1 .item__title {
    min-height: 0;
}

.item__meta .item__timestamp {
    padding-left: 0;
}

.event {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}

.event__image img {
    width: 780px;
}

.event__meta {
    padding-top: 1.2em;
}

.event__content.container {
    padding-left: 240px;
}

.facia-slice__item:before,
.events-list__item {
    @include mq($to:tablet) {
        border-left: 1px solid #ffffff !important;
    }
}

.facia-slice__item:nth-of-type(3n+1):before,
.events-list__item:nth-of-type(3n+1) {
    border-left: 1px solid #ffffff;
}

@include mq(tablet) {

    .events-sidebar {
        width: 5%;
        float: left;
        overflow: hidden;
    }

    .events-list {
        width: 95%;
        float: right;
    }

    .events-list__item {
        width: 30%;
    }

    li.event {
        width: gs-span(5);
        margin-right: $gs-gutter;
        display: inline-block;

        .event__image {
            width: auto;
            img {
                width: auto;
            }
        }
    }
}