/* ==========================================================================
   Event List
   ========================================================================== */
.events__list {
    text-align: center;
}

.events-list {
    width: 100%;
}

.events-list__item {
    display: inline-block;
    width: 100%;
    margin-right: 2%;
}

.item__image-container img {
    width: 100%;
}

/* ==========================================================================
   An Event List item
   ========================================================================== */

li.event {
    text-align: left;
    display: block;
    margin-bottom: $gs-gutter;
    background-color: #FFFFFF;
    padding: .125em;
    @include border-radius(.2em);

    &:hover {
        background-color: #FFFFFF;
    }

    .event__image {
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .event__meta {
        padding: $gutter/2;
        @include rem((
            height: 130px
        ));
        width: auto;
        overflow: hidden;
    }

    .event__name {
        @include fs-headline(2);
        @include rem((
            margin-top: $gs-baseline/2,
            margin-bottom: $gs-baseline
        ));
    }

    .event__location,
    .event__time {
        @include fs-textsans(2);
        display: block;
    }
}

/* ==========================================================================
   An event on an event page
   ========================================================================== */

div.event {
    .event__content {

        .event__price-amount {
            @include fs-headline(2);
        }

        .event__sale-ends {
            padding-bottom: 20px;
        }

        .event__content__masthead {
            background-color: #f5f5f5;
        }

        .event__content-body {
            @include rem((
                max-width: 620px
            ));
            margin: 0 auto;
        }

        .event__meta > div {
            display: inline-block;
            margin: 0 12px 10px 0;
        }

        .event__location,
        .event__time {
            @include fs-textsans(4);
            display: block;
        }

        .event__price-note,
        .event__sale_ends_note,
        .event__sale_ends_time{
            @include fs-textsans(4);
            display: inline-block;
        }

        .event__description {
            h2 {
                @include fs-headline(2);
                margin: 8px 0 16px 0;
            }
            p, li {
                @include fs-bodyCopy(3);
            }
            ol,
            ul {
              list-style-position: inside;
                padding: 0;
                margin: 0 0 8px 0;
            }

            blockquote {
                p {
                    margin: 0;
                }
                @include rem((
                    padding-left: 14px
                ));
                border-left: 2px solid #cfcfcd;
                font-style: italic;
                margin: 0 0 16px 0;
            }
        }
    }
}

/* ==========================================================================
   Temp events hacky stuff (this needs a revisit once design has been confirmed)
   ========================================================================== */

.old-price {
    display: block;
}

.event__content__inner {
    background-color: #F1F1F1;
}

.event__content__inner--sub {
    background-color: #E1E1E1;
    margin-bottom: 20px;
}

.event__masthead {
    position: relative;
    .event__name {
        padding: 40px 40px 20px 0;
    }
}

.item__meta {
    position: relative;
    overflow: hidden;
    bottom: -10px;
}

.inner-container {
    float: right;
    width: 100%;
}

.icon {
    background-image: url('../images/icons.png');
    width: 34px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
}

.location--icon {
    background-position: 0 0;
}

.time--icon {
    background-position: -33px 0;
}

.event__location {
    margin-bottom: .4em;
}

.container--people .facia-slice-wrapper--position-1 .item__title {
    min-height: 0;
}

.item__meta .item__timestamp {
    padding-left: 0;
}

.event {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
}

.event__image {
    background-color: $mem-brandBlue;
    img {
        width: 100%;
    }
}

.event__meta {
    padding-top: 1.2em;
}

.event__content.container {
    padding-left: 240px;
}

.facia-slice__item:before,
.events-list__item {
    @include mq($to:tablet) {
        border-left: 1px solid #ffffff !important;
    }
}

.facia-slice__item:nth-of-type(3n+1):before,
.events-list__item:nth-of-type(3n+1) {
    border-left: 1px solid #ffffff;
}

@include mq(tablet) {

    .events-sidebar {
        width: 5%;
        float: left;
        overflow: hidden;
    }

    .events-list {
        width: 95%;
        float: right;
    }

    .events-list__item {
        width: 30%;
    }

    li.event {
        width: gs-span(5);
        margin-right: $gs-gutter;
        display: inline-block;

        .event__image {
            width: auto;
            img {
                width: auto;
            }
        }
    }
}

.event-image-container {
    position: relative;
}

.event-status {
    position: absolute;
    right: 1em;
    top: 0;
    padding: 8px 14px;
    text-align: center;
    color: #FFFFFF;
}

.event-status--sold-out {
    background-color: $mem-brandOrange;
}