/* ==========================================================================
   Joiner
   ========================================================================== */

.joiner-section {
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
    margin: $gs-gutter;
    padding: $gs-gutter/2;
    text-align: center;
}

.joiner-section--left-aligned {
    text-align: left;
}

.joiner-section--no-border {
    border: none;
}

.joiner-navigation {
    @include clearfix;
}

.joiner-navigation__tab {
    width: 100%;
    text-align: center;
    border: 1px solid #DFDFDF;
    display: table;
    float: left;
    width: 33.3%;
}

.joiner-navigation__btn {
    @include fs-bodyCopy(4);
    background-color: #EAEAEA;
    height: gs-height(2);
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    &:hover {
        background-color: darken(#EAEAEA, 15%);
    }
}

/* ==========================================================================
   Tier List
   ========================================================================== */

.tier-list {
    padding: $gs-gutter;
}

/* ==========================================================================
   Tier
   ========================================================================== */

.benefits {
    @include clearfix;
}

.benefits-list {
    display: table;
    width: 100%;
    text-align: center;
    padding: $gs-gutter;
    border-bottom: 1px solid #DFDFDF;
}

.benefits-list--left-aligned {
    border: none;
}

/* ==========================================================================
   Payment Form
   ========================================================================== */


.form-primary-container {
    width: 100%;
}

.form-secondary-container {
    border-top: 1px solid #F1F1F1;
    width: 100%;
    padding-top: $gutter;
}


.form__error {
    margin-bottom: $gutter/2;
}

.form-detail__item {
    margin-top: $gutter/2;
}

.fieldset {
    border: none;
}

.form-terms {
    @include fs-bodyCopy(1);
}

.form-padlock {
    @include rem((
        width: 18px,
        height: 18px
    ));
}

/* ==========================================================================
   Stripe credit card types
   ========================================================================== */
.credit-card-container {
    position: relative;
}

.credit-card {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 54px;
    height: 35px;
    visibility: hidden;
    background: url("/assets/images/card_types_large.png") right top no-repeat;
}

.credit-card--inline-block {
    visibility: visible;
    vertical-align: middle;
    position: static;
    display: inline-block;
    margin-right: $gutter / 2;
}

[data-card-type] {
    visibility: visible;
}

[data-card-type="unknown"] {
    visibility: hidden;
}

[data-card-type="visa"] {
    background-position: 0 0;
}

[data-card-type="mastercard"] {
    background-position: 0 -35px;
}

[data-card-type="american-express"] {
    background-position: 0 -70px;
}

[data-card-type="discover"] {
    background-position: 0 -105px;
}

[data-card-type="diners-club"] {
    background-position: 0 -140px;
}

[data-card-type="jcb"] {
    background-position: 0 -175px;
}

@include mq(tablet){

    .credit-card {
        width: 49px;
        height: 32px;
        background: url("/assets/images/card_types_small.png") right top no-repeat;
    }

    [data-card-type="visa"] {
        background-position: 0 0;
    }

    [data-card-type="mastercard"] {
        background-position: 0 -32px;
    }

    [data-card-type="american-express"] {
        background-position: 0 -64px;
    }

    [data-card-type="discover"] {
        background-position: 0 -96px;
    }

    [data-card-type="diners-club"] {
        background-position: 0 -128px;
    }

    [data-card-type="jcb"] {
        background-position: 0 -160px;
    }
}


/* ==========================================================================
   Thank You
   ========================================================================== */

.questions {
  @include clearfix;
}

.questions__list {
    width: 100%;
    padding: $gs-gutter/4 $gs-gutter $gs-gutter 0;
}


@include mq(tablet) {
    
    .joiner-section {
        padding: $gs-gutter*2;
    }

    .benefits-list {
        border: 1px solid #DFDFDF;
        height: gs-height(3);
        float: left;
        margin: $gs-gutter $gs-gutter $gs-gutter 0;
        width: 22%;
    }

    .form-primary-container {
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    .benefits-list--left-aligned {
        text-align: left;
    }

    .benefits-list__item {
        vertical-align: middle;
        display: table-cell;
    }

    .form-secondary-container {
        border-top: none;
        border-left: 1px solid #F1F1F1;
        padding: $gutter 0 0 $gutter*3;
        float: left;
        width: 50%;
    }

    .questions__list {
        width: 50%;
        float: left;
    }
}
