.l-row__item {
    @include mq(tablet) {
        @include rem((
            min-height: 170px
        ));
    }
}

.secondary-content {
    flex-basis: 16em;
    order: 2;
    @if $old-ie {
        float: left;
    }
}

