/* ==========================================================================
   Helpers
   ========================================================================== */

.is-hidden,
[hidden] {
    display: none !important;
}

.u-h {
    @include u-h;
}

.u-cf {
    @include clearfix;
}

.u-underline {
    text-decoration: underline;
}

// Remove margin and bullets from lists.
// TODO: Single class
.u-unstyled,
.u-unstyled-list {
    margin: 0;
    list-style: none;
}

.u-anchor {
    @include mq($until: mem-full) {
        position: absolute;
        right: $gs-gutter / 2;
        top: $gs-gutter / 2;
    }
}

.u-sticky-offset {
    padding-top: 0;

    @include mq(tablet) {
        padding-top: rem(($gs-baseline * 2) + 64px); // magic number, height of sections nav
    }
}

.u-divider {
    padding-top: $gs-baseline / 2;
    border-top: 1px solid $c-border-brand;
}
.u-divider-neutral {
    padding-top: $gs-baseline / 2;
    border-top: 1px solid $c-border-neutral;
}
.u-divider-dotted {
    padding-top: $gs-baseline / 2;
    border-top: 1px dotted $c-neutral3;
}

.u-button-reset {
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.u-parentheses {
    &:before { content: '('; }
    &:after { content: ')'; }
}

.supports-clippath-shapes {
    .u-thumbnail-clip {
        position: relative;

        &::after {
            @include clip-overlay();
        }
    }
    .u-thumbnail-clip--a::after,
    .u-thumbnail-clip--0::after {
        @include clip-path-shape('thumbnail-a');
    }
    .u-thumbnail-clip--b::after,
    .u-thumbnail-clip--1::after {
        @include clip-path-shape('thumbnail-b');
    }
    .u-thumbnail-clip--c::after,
    .u-thumbnail-clip--2::after {
        @include clip-path-shape('thumbnail-c');
    }
}


.case--lower {
    text-transform: lowercase;
}
.case--capitalize {
    text-transform: capitalize;
}
