/* ==========================================================================
   State - Responsive Utilities
   ========================================================================== */
.js-off .u-hidden-non-js {
    display: none !important;
}

 .js-on .u-hidden-js {
    display: none !important;
 }

// TODO: hidden-mobile and hidden-tablet are the same!
.hidden-mobile {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.hidden-mobile-portrait,
.u-hidden-until-mobileLandscape {
    @include mq($until: mobileLandscape) {
        display: none !important;
    }
}

.hidden-tablet,
.u-hidden-until-tablet {
    @include mq($until: tablet) {
        display: none !important;
    }
}
.hidden-desktop,
.u-hidden-until-desktop {
    @include mq($until: desktop) {
        display: none !important;
    }
}

.hidden-mem-full,
.u-hidden-until-mem-full {
    @include mq($until:mem-full) {
        display: none !important;
    }
}

.u-hidden-from-mem-full {
    @include mq($from:mem-full) {
        display:none !important;
    }
}


.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}

.until-desktop {
    @include mq($from: desktop) {
        display: none !important;
    }
}

.tablet-only {
    @include mq($until: tablet) {
        display: none !important;
    }
    @include mq($from: desktop) {
        display: none !important;
    }
}

.mobile-portrait-only {
    @include mq(mobileLandscape) {
        display: none !important;
    }
}
