@(
    pageInfo: model.PageInfo,
    events: model.RichEvent.EventGroup,
    featuredEvents: model.RichEvent.EventGroup,
    locations: Seq[model.RichEvent.FilterItem],
    selectedLocation: Option[String]
)

@import model.SVG.Logos

@eventsToShow = @{
    if(selectedLocation.isEmpty) {
        events.copy(events = events.events.diff(featuredEvents.events))
    } else events
}

@main("Events", pageInfo=pageInfo) {
    <main>
        <div class="l-constrained">
            @fragments.event.headerBar(
                title="Events, discussions, debates, interviews, keynote speeches and festivals exclusively for Guardian Members",
                logo=Logos.guardianLive
            )
            @fragments.event.remainingTickets("listing", Seq.empty)
        </div>

        @fragments.eventListings.eventsFilters(locations, events.events.length, selectedLocation)

        <div class="l-constrained">
            @if(selectedLocation.isEmpty) {
                @fragments.eventListings.features(featuredEvents)
            }
            @fragments.eventListings.listing(eventsToShow, "Sorry, no matching events were found.", isLead=true, isFilterable=false)
        </div>
    </main>

    @fragments.tier.joinListing()
}
