@(pageInfo: model.PageInfo, groupedEvents: model.CalendarMonthDayGroup)

@dateListing(date: org.joda.time.LocalDate, events: Seq[model.RichEvent.RichEvent], classes: Seq[String] = Nil) = {
    <section class="date-listing @classes.mkString(" ")">
        <div class="date-listing__lead-in">
            <h3 class="date-listing__title">@date.toString("d")</h3>
            <p class="date-listing__subtitle">@date.toString("EEEE")</p>
        </div>
        <div class="date-listing__content">
            <div class="o-flexgrid">
                @for(event <- events) {
                    @fragments.event.itemList(event, List("o-flexgrid__item"))
                }
            </div>
        </div>
    </section>
}

@main(pageInfo.title, pageInfo) {
    <main class="page-content l-constrained">
        @fragments.page.pageHeader("Past Events", None)
        @for((month, monthGroup) <- groupedEvents.list) {
            <h2 class="month-header">@month.toString("MMMM Y")</h2>
            @for((day, dayGroup) <- monthGroup) {
                @dateListing(day, dayGroup)
            }
        }
    </main>
}
