
@import com.gu.i18n.CountryGroup
@import views.support.PageInfo
@import com.gu.memsub.subsv2.Catalog
@import model.Header.LiveHeader
@import model.Footer.LiveFooter
@(
    catalog: Catalog,
    pageInfo: PageInfo,
    events: model.RichEvent.EventGroup,
    featuredEvents: model.RichEvent.EventGroup,
    locations: Seq[model.RichEvent.FilterItem],
    selectedLocation: Option[String]
)(implicit countryGroup: CountryGroup)

@import model.SVG.Logos

@eventsToShow = @{

    /**
     * Manual override to remove the Football Weekly Live tour events which have their own sale page on www
     */
    var candidateEvents = events.copy(events =
        events.events.filterNot(_.underlying.ebEvent.name.text.contains("Football Weekly Live tour"))
    )

    /**
     * - If no location is set exclude featured events from the main listing.
     * - If the user has an active filter, display all expected events in the main listing.
     *   Featured container is no longer shown.
     */
    if(selectedLocation.isEmpty) {
        candidateEvents.copy(events = candidateEvents.events.diff(featuredEvents.events))
    } else candidateEvents
}

    @main("Events", pageInfo = pageInfo, header = LiveHeader, footer = LiveFooter) {
    <main>
        <div class="l-constrained">
            <section class="header-bar">
                <h1 class="header-bar__title">Guardian Live brings you closer to the big stories, award-winning journalists, and leading thinkers in livestreamed and interactive events that you can access from wherever you are in the world. To stay informed, <a href="https://www.theguardian.com/guardian-masterclasses/2015/jan/19/sign-up-to-the-guardian-masterclasses-newsletter">sign up to our newsletter here</a>.</h1>
            </section>
        </div>

        @fragments.eventListings.eventsFilters(
            events.events.length,
            locations,
            selectedLocation,
            Some(routes.WhatsOn.calendar.url)
        )

        <div class="l-constrained">
            @if(selectedLocation.isEmpty) {
                @fragments.eventListings.features(featuredEvents)
            }

            @fragments.eventListings.listing(eventsToShow, Some("Sorry, no matching events were found."), isLead=true, isFilterable=false)
        </div>
    </main>
}
