@import views.support.PageInfo
@(pageInfo: PageInfo, event: model.RichEvent.RichEvent)

@import play.twirl.api.Html
@import scala.util.Random
@import model.RichEvent._
@import views.support.Dates._
@import views.support.Social

@main(pageInfo.title, pageInfo=pageInfo, header=event.header, footer = event.footer) {

    @* Event Name *@
    <div class="event-header">
        <div class="event-header__container">
            <div class="event-masthead u-cf">
                <div class="event-masthead__title section-header">
                    <a href="@event.metadata.eventListUrl" class="minimal-link">@event.metadata.shortTitle</a>
                </div>
                <h1 class="event-masthead__name qa-event-detail-name">@event.underlying.ebEvent.name.text</h1>
            </div>
        </div>
    </div>

    @* Event Pricing *@
    <div class="event-header event-header--pricing">
        <div class="event-header__container event-header__container--details">
            <div class="event-details">
                <div class="event-details__time">
                    @dateTimeRange(event.underlying.ebEvent.startAndEnd)
                </div>
                @for(addressDefaultLine <- event.underlying.ebEvent.venue.addressDefaultLine) {
                    <div class="event-details__location qa-event-detail-location">
                        @addressDefaultLine
                    </div>
                }
            </div>
            @for(internalTicketing <- event.underlying.internalTicketing) {
                <div class="event-ticket@if(internalTicketing.isFree) { event-ticket--free} u-cf">
                    @if(event.metadata.identifier == "masterclasses") {
                        <div class="event-ticket__item event-ticket__details">
                            @fragments.pricing.priceInfoEvent(event, isPrimary=true)
                        </div>
                    }
                    @if(event.underlying.isBookable) {
                        <div class="event-ticket__item event-ticket__action">
                            @fragments.event.ticketCta(event, List("qa-event-detail-booking-action"))
                        </div>
                        <div class="event-ticket__item event-ticket__terms copy">
                            @fragments.event.terms(event)
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    @if(event.underlying.isBookable && event.underlying.hasComplimentaryTickets && event.isInstanceOf[GuLiveEvent]) {
        @fragments.event.remainingTickets("event", List("l-constrained"))
    }

    @* Limited availability messaging *@
    @if(event.underlying.isBookable && event.underlying.isLimitedAvailability) {
        <div class="event-extra l-constrained">
            <div class="event-extra__item event-extra__message">@event.underlying.ebEvent.limitedAvailabilityText</div>
        </div>
    }

    @* Sold out & past events *@
    @if(!event.underlying.isBookable) {
        <div class="event-extra l-constrained">
            @for(statusText <- event.underlying.statusText) {
                <div class="event-extra__item event-extra__status">
                    @statusText
                </div>
            }
            <div class="event-extra__item event-extra__action">
                @if(event.underlying.ebEvent.isPastEvent) {
                    @for(highlight <- event.metadata.highlightsOpt) {
                        <a class="action action--external"
                           href="@highlight.url"
                        >
                           @highlight.title
                           @fragments.actionIcon("arrow-right")
                        </a>
                    }
                } else {
                    @if(event.underlying.isSoldOut) {
                        @fragments.event.waitlist(event)
                    }
                }
            </div>
        </div>
    }

    <div class="event-content">

        @for(img <- event.imgOpt if event.hasLargeImage) {
            <div class="event-image event-image--clippath-@Random.nextInt(2)">
                <img src="@img.defaultImage" srcset="@img.srcset" sizes="100vw" alt="@img.altText" class="responsive-img">
            </div>
            @for(imgMetadata <- img.metadata) {
                <div class="event-image__credit u-event-content-width">
                    <div class="event-image__credit__detail">
                        @fragments.inlineIcon("caption-camera")
                        @for(imgDescription <- imgMetadata.description) {
                            <span class="u-align-middle">@imgDescription</span>
                        }
                        <span class="u-align-middle">Photograph: @imgMetadata.photographer</span>
                    </div>
                </div>
            }
        }

        <div class="event-content__container u-cf">

            <div class="event-content__body">
                <div class="event__description copy qa-event-detail-description">
                    @Html(event.underlying.ebDescription.cleanHtml)
                </div>
                <div class="event__social">
                    <h5 class="event__social__title hidden-mobile">Share this</h5>
                    @fragments.social(Social.eventDetail(event))
                </div>
            </div>

            <div class="event-content__sidebar">
                @if(event.underlying.ebEvent.isPastEvent) {
                    @fragments.event.relatedEntry(event)
                }
                @if(!event.hasLargeImage) {
                    @for(img <- event.imgOpt) {
                        <div class="u-thumbnail-clip u-thumbnail-clip--@Random.nextInt(2)">
                            <img class="responsive-img hidden-mobile" src="@img.defaultImage" />
                        </div>
                    }
                }
                @if(!event.underlying.ebEvent.isPastEvent){
                    <div class="event-content__sticky js-sticky" data-sticky-sibling=".event-content__body">
                        @fragments.event.infoPanel(event)
                    </div>
                }
                @if(!event.underlying.isBookable) {
                    <a class="action action--secondary u-fullwidth" href="@event.metadata.eventListUrl">
                        Find other @event.metadata.pluralTitle
                        @fragments.actionIcon("arrow-right")
                    </a>
                }
            </div>
        </div>

    </div>

    @fragments.event.seriesDetails(event)

}
