@import views.support.PageInfo
@(pageInfo: PageInfo, groupedEvents: model.RichEvent.CalendarMonthDayGroup)

@main(pageInfo.title, pageInfo) {
    <main class="page-content l-constrained">
        @fragments.page.pageHeader(groupedEvents.title, None)
        @for((month, monthGroup) <- groupedEvents.list) {
            <h2 class="month-header">@month.toString("MMMM Y")</h2>
            @for((day, dayGroup) <- monthGroup) {
                @fragments.eventListings.dateListing(day, dayGroup)
            }
        }
    </main>
}
