@(eventPortfolio: model.EventPortfolio, pageInfo: model.PageInfo)

@main("Events", pageInfo=pageInfo) {
    <main role="main" class="l-constrained">
        @fragments.event.headerBar(
            title="Events, discussions, debates, interviews, keynote speeches and festivals exclusively for Guardian Members",
            toneClassOpt=Some("tone-trans-guardian-live"),
            logoOpt=Some("images/logos/guardian-live.svg"),
            Some("Partners &amp;<br>Patrons save 50%<br>on all Guardian Live<br>events booked by<br> 30 June")
        )

        @views.html.event.list(eventPortfolio, "Sorry, no matching events were found.", showPastEvents=true, hasRoundel=true)
    </main>
}
