@(eventPortfolio: model.EventPortfolio, pageInfo: model.PageInfo)

@main("Events", pageInfo=pageInfo) {
    <main role="main" class="l-constrained">
        @fragments.event.headerBar(
            title="Events, discussions, debates, interviews, keynote speeches and festivals exclusively for Guardian Members",
            toneClassOpt=Some("tone-trans-guardian-live"),
            logoOpt=Some("images/logos/guardian-live.svg")
        )
        @fragments.event.listing(eventPortfolio, "Sorry, no matching events were found.", showPastEvents=true)
        @fragments.tier.joinListing()
    </main>
}
