@(
    eventPortfolio: model.EventPortfolio,
    noResultsMessage: String,
    isFilterable: Boolean = false,
    showPastEvents: Boolean = false
)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import model.Benefits

<div class="event-blocks">

    @if(eventPortfolio.orderedEvents.nonEmpty) {
        <section class="listing listing--lead listing--padded">
            <div class="listing__lead-in">
                <h3 class="listing__title h-intro">Featured</h3>
            </div>
            <div class="listing__content">
                @for(heroEvent <- eventPortfolio.heroOpt) {
                    @fragments.event.itemHero(heroEvent)
                }
                </ul>
                <ul class="grid grid--3up grid--bordered grid--single-row">
                    @for(event <- eventPortfolio.priority) {
                        <li class="grid__item">
                            @fragments.event.item(event)
                        </li>
                    }
                </ul>
            </div>
        </section>
    }

    <section class="listing listing--padded">
        <div class="listing__lead-in">
            <h3 class="listing__title h-intro">What's on</h3>
        </div>
        <div class="listing__content">
            @if(eventPortfolio.normal.isEmpty) {
                <div class="listing__empty">@noResultsMessage</div>
            } else {
                @if(isFilterable) {
                    <div class="listing__no-results js-filter-empty">@noResultsMessage</div>
                }
                <ul class="grid grid--bordered grid--3up"@if(isFilterable){ id="js-filter-container"}>
                    @for(event <- eventPortfolio.normal) {
                        <li class="grid__item@if(isFilterable){ js-filter-item}">
                            @fragments.event.item(event)
                        </li>
                    }
                </ul>
            }
        </div>
    </section>

    @if(showPastEvents && eventPortfolio.pastEvents) {
        <section class="listing">
            <div class="listing__lead-in">
                <h3 class="listing__title h-intro">Past events</h3>
            </div>
            <div class="listing__content">
                @if(eventPortfolio.normal.isEmpty) {
                    <div class="listing__empty">@noResultsMessage</div>
                } else {
                    <ul class="grid grid--bordered grid--4up">
                        @for(event <- eventPortfolio.pastEvents.get.slice(0, 4)) {
                            <li class="grid__item">
                                @fragments.event.itemMinimal(event)
                            </li>
                        }
                    </ul>
                    <ul class="grid grid--bordered grid--2up" id="js-toggle-past-events" data-toggle-hidden>
                        @for(event <- eventPortfolio.pastEvents.get.slice(4, 26)) {
                            <li class="grid__item">
                                @fragments.event.itemMinimal(event, isCard=true)
                            </li>
                        }
                    </ul>
                }
                <button class="action action--secondary u-no-margin js-toggle" data-toggle="js-toggle-past-events" data-toggle-label="Less" data-toggle-icon="minus">
                    @fragments.actionIcon("plus", leftIcon=true)
                    <span class="action__label js-toggle-label">More past events</span>
                </button>
            </div>
        </section>
    }

</div>

@* ===== Join Today ===== *@
<section class="listing tone-tint">
    <div class="listing__lead-in">
        <h3 class="h-intro">Join membership today</h3>
    </div>
    <div class="listing__content">
        <ul class="grid grid--single-row grid--bordered grid--3up-stacked">
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Friend, isReversed=true)
            </li>
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Partner, isReversed=true)
            </li>
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Patron, isReversed=true)
            </li>
        </ul>
    </div>
</section>
