@(eventPortfolio: model.EventPortfolio, pageInfo: model.PageInfo, showPastEvents: Boolean = false)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import model.Benefits

<section class="event-blocks">

    @if(eventPortfolio.orderedEvents.nonEmpty) {
        <div class="event-block">
            <h4 class="event-block__header event-block__header__title case--lower">Featured</h4>
            <div class="event-block__events">
                <ul class="u-unstyled">
                @for(heroEvent <- eventPortfolio.heroOpt) {
                    @fragments.event.item(heroEvent, true)
                }
                </ul>
                <ul class="events-list events-list--items-3 events-list__hero-descendant u-unstyled">
                    @for(event <- eventPortfolio.priority) {
                        @fragments.event.item(event)
                    }
                </ul>
            </div>
        </div>
    }

    <div class="event-block">
        <div class="event-block__header">
            <h4 class="event-block__header__title case--lower">What's on</h4>
        </div>
        <div class="event-block__events">
            <ul class="events-list events-list--items-3 u-unstyled@if(eventPortfolio.normal.length == 0){ events-list--empty}" id="js-filter-container">
                @for(event <- eventPortfolio.normal) {
                    @fragments.event.item(event, false)
                }
            </ul>
        </div>
    </div>

    @if(showPastEvents && eventPortfolio.pastEvents) {
        <div class="event-block">
            <div class="event-block__header">
                <h4 class="event-block__header__title case--lower">Past events</h4>
            </div>
            <div class="event-block__events">
                <ul class="events-list hygrid hygrid--4 u-unstyled">
                    @for(event <- eventPortfolio.pastEvents.get.slice(0, 4)) {
                        @fragments.event.item(event, false, isMinimal=true)
                    }
                </ul>


                <ul class="events-list hygrid hygrid--wrapped hygrid--2 u-unstyled js-toggle-elm" id="js-toggle-past-events">
                    @for(event <- eventPortfolio.pastEvents.get.slice(4, 26)) {
                        @fragments.event.item(event, false, isMinimal=true, isCard=true)
                    }
                </ul>

                <button class="js-toggle action action--plus-left" data-toggle="js-toggle-past-events">More past events</button>

            </div>
        </div>
    }

</section>

@* ===== Join Today ===== *@


<div class="home-slice home-slice--join-today">
    <div class="home-slice__inner u-cf">
        <h2 class="home-slice__headline">Join membership today</h2>
        <div class="join-today__join-boxes package-list package-list--flex-box package-list--bordered">
            @fragments.tier.benefits(currentTier=None, tier=Tier.Friend, showBenefitDetails=false, mode="promo", showLearnMore=true)
            @fragments.tier.benefits(currentTier=None, tier=Tier.Partner, showBenefitDetails=false, mode="promo", showLearnMore=true)
            @fragments.tier.benefits(currentTier=None, tier=Tier.Patron, showBenefitDetails=false, mode="promo", showLearnMore=true)
        </div>
    </div>
</div>
