@(
    pageInfo: model.PageInfo,
    eventGroup: model.RichEvent.EventGroup,
    selectedTag: String = "",
    selectedSubTag: String = ""
)

@import model.SVG.Logos
@import model.RichEvent.MasterclassEvent._

@main("Masterclasses", pageInfo=pageInfo) {

    <main>

        <div class="l-constrained">
            @fragments.event.headerBar(
                title="Courses and workshops taught by award-winning professionals, with discounts for Partners and Patrons",
                logo=Logos.guardianMasterclasses
            )
        </div>

        <div class="event-filters tone-tint">
            <div class="event-filters__container l-constrained">
                <div class="event-filters__items">
                    <label class="event-filters__item">
                        Show:
                        <select class="select-minimal js-filter-category">
                            <option value="/masterclasses">All categories</option>
                            @for(category <- tags) {
                                <option value="/masterclasses/@encodeTag(category.categoryName)" @if(category.categoryName == selectedTag){ selected}>@category.categoryName</option>
                            }
                        </select>
                    </label>

                    @tags.filter(_.categoryName == selectedTag).map { category =>
                        @if(category.subCategories) {
                            <label class="event-filters__item">
                                Subcategory:
                                <select class="event-filters__category__select select-minimal js-filter-category">
                                    <option value="/masterclasses/@encodeTag(category.categoryName)">All</option>
                                    @for(subCategory <- category.subCategories) {
                                        <option value="/masterclasses/@encodeTag(category.categoryName)/@encodeTag(subCategory)" @if(subCategory == selectedSubTag){ selected}>@subCategory</option>
                                    }
                                </select>
                            </label>
                        }
                    }

                    <span class="event-filters__count">
                        <span class="js-filter-count">@eventGroup.events.length</span> masterclasses
                        @if(selectedTag.isEmpty) {
                            <span class="hidden-mobile">in @tags.length categories</span>
                        }
                    </span>
                </div>
                <div class="event-filters__search">
                    <label class="filter-search">
                        <input type="text" id="js-filter"
                               class="filter-search__input"
                               placeholder="Filter by title"
                               autocomplete="off"
                               data-filter-field="title"
                               data-metric-trigger="keyup"
                               data-metric-category="filter"
                               data-metric-action="search"
                        />
                        <span class="filter-search__icon">
                            @fragments.inlineIcon("search")
                        </span>
                        <button class="filter-search__cross is-hidden js-filter-clear">@fragments.inlineIcon("filter-clear")</button>
                    </label>
                </div>
            </div>
        </div>

        <div class="l-constrained">
            @fragments.eventListings.listing(eventGroup, Some("Sorry, no matching Masterclasses were found."), isLead=true, isFilterable=true)
        </div>

    </main>

    @fragments.tier.joinListing()
}
