@(event: model.RichEvent.RichEvent, pageInfo: model.PageInfo)

@import play.twirl.api.Html

@import views.support.Dates._
@import views.support.Social.eventDetail
@import views.support.Asset
@import model.Eventbrite._
@import model.RichEvent._
@import configuration.Config

@main("Event Detail | " + event.name.text, pageInfo=pageInfo, isBrochure = true, htmlClass = "js-event") {

    <div class="event-header tone-@event.metadata.identifier">
        <div class="event-header__container">
            <div class="event-masthead u-cf">
                <div class="event-masthead__title section-header case--lower">
                    <a href="@event.metadata.eventListUrl" class="minimal-link tone-text-@event.metadata.identifier">@event.metadata.shortTitle</a>
                </div>
                <h1 class="event-masthead__name">@event.name.text</h1>
            </div>
        </div>
    </div>

    <div class="event-header event-header--pricing tone-@event.metadata.identifier tone-accent-@event.metadata.identifier">
        <div class="event-header__container event-header__container--details">
            <div class="event-details">
                <div class="event-details__time">
                    @defining(dateRange(event.start, event.end)) { range =>
                        <span class="event-details__time__part">@range.start</span>
                        - <span class="event-details__time__part">@range.end</span>
                    }
                </div>
                <div class="event-details__location">
                    @fragments.event.addressSummary(event)
                </div>
            </div>
            @if(event.isSoldThruEventbrite) {
                @fragments.event.ticketDetails(event)
            }
            <img class="event-header__logo" src="@Asset.at("images/providers/" + event.providerOpt.getOrElse(event.metadata.identifier) + ".svg")">
        </div>

    </div>

    @if(!event.isBookable) {
        <div class="event-header event-header--unavailable">
            <div class="event-header__container event-header__container--details event-header__container--unavailable">
                <div class="event-ticket event-ticket--aligned">
                    <div class="event-ticket__details">
                        <span class="block-level event-ticket__details__status">
                            @event.statusText
                        </span>
                    </div>
                    <div class="event-ticket__action">
                        @if(event.isPastEvent) {
                            @for(highlightsUrl <- event.metadata.highlightsUrlOpt) {
                                <a class="action action--external u-no-margin" href="@highlightsUrl.url" data-link-name="Watch highlights">@highlightsUrl.title</a>
                            }
                        }
                        @if(event.isSoldOut && !event.isPastEvent) {
                            <a class="action action--external u-no-margin" href="@Config.eventbriteWaitlistUrl(event)" data-link-name="Join waitlist">
                                Add me to the waitlist
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="event-content" itemscope itemtype="http://schema.org/Event">

        @if(event.metadata.largeImg) {
            <div class="event-content__image" itemprop="image" content="@event.socialImgUrl">
                @fragments.event.image(event)
            </div>

            <div class="event-image-credit u-event-content-width">
                <div class="event-image-credit__detail">
                    @fragments.inlineIcon("caption-camera")
                    <span class="u-align-middle">@event.imageMetadata.flatMap(_.description)</span>
                    <span class="u-align-middle">Photograph: @event.imageMetadata.map(_.photographer)</span>
                </div>
            </div>
        }

        <div class="event-content__container u-cf">

            <div class="event-content__body">
                <div class="event__description copy" itemprop="description">@Html(event.description.getOrElse(EBRichText("foobar", "foobarhtml")).cleanHtml)</div>
                <div class="event__social">
                    <div class="h-aside hidden-mobile">Share this</div>
                    @fragments.social(eventDetail(event))
                </div>
            </div>


            <div class="event-content__sidebar">

                <h4 class="h-section h-section--secondary">More about this event</h4>
                @fragments.event.relatedEntry(event)

                @if(!event.metadata.largeImg) {
                    <img class="responsive-img hidden-mobile" src="@event.imgUrl" />
                }

                <div class="event-content__sticky js-sticky" data-sticky-sibling=".event-content__body">
                    @fragments.event.infoPanel(event)
                    @if(!event.isBookable) {
                        <a class="action action--secondary u-fullwidth" href="@event.metadata.eventListUrl">
                            Find other @event.metadata.pluralTitle
                            <i class="icon icon-arrow-right-blue action__icon action__icon--right"></i>
                        </a>
                    }
                </div>
            </div>
        </div>

        @fragments.event.seriesDetails(event)

    </div>

}
