@(event: model.Eventbrite.EBEvent, pageInfo: model.PageInfo)

@import views.support.Dates._
@import org.joda.time.Instant
@import model.Eventbrite._
@import model.Eventbrite.EBEventStatus._
@import com.gu.membership.salesforce.Tier
@import configuration.Config

@ticketCta = {
    @event.getStatus match {
        case Completed => { <button class='action action--disabled js-ticket-cta' disabled='disabled'>Past Event</button> }
        case SoldOut => { <button class='action action--disabled js-ticket-cta' disabled='disabled'>Sold Out</button> }
        case Cancelled => { <button class='action action--disabled js-ticket-cta' disabled='disabled'>Cancelled</button> }
        case PreLive => { <button class='action action--disabled js-ticket-cta js-opt-become-member' disabled='disabled'>Buy Tickets</button> }
        case _ => { <a class='action js-ticket-cta js-opt-become-member' href='/event/@event.id/buy'>Buy Tickets</a> }
    }
}

@dateOrNow(tier: Tier.Tier, salesDate: Instant) = {
    <time class="js-ticket-sale-start-@tier.toString.toLowerCase" datetime="@salesDate">@salesDate.pretty</time>
}

@ticketBookingDates(ticket: EBTickets) = {
    @defining(model.TicketSaleDates.datesFor(event.start, ticket)) { ticketSaleDates =>
        <h4 class="ticket-info__header">Ticket sales</h4>
        @for((tier, salesDate) <- ticketSaleDates) {
            <p class="ticket-info__item"><strong>@(tier + "s")</strong> @dateOrNow(tier, salesDate)</p>
        }
    }
}

@main("Event Detail | " + event.name.text, pageInfo=pageInfo) {

    <div class="event">
        <div class="event__content">
            <div class="event__image">
                <div class="delayed-image-load" data-src="@Config.eventImageUrlPath(event.id)/{width}{pixel_ratio}.jpg" data-alt="Please upload an event image"></div>
            </div>
            <div class="event__content__inner">
                <div class="event__content-body">
                    <div class="event__masthead">
                        <h1 class="event__name section-header page-header">@event.name.text</h1>
                    </div>
                </div>
            </div>
            <div class="event__content__inner event__content__inner--sub">
                <div class="event__content-body">
                    <div class="event__meta">
                        <div class="event__time">@prettyDateWithTime(event.start)</div>
                        <div class="event__location">
                            <span class="event__venue-name">@event.venue.name</span>,
                            <span class="event__address">
                                @event.eventAddressLine
                            </span>
                        </div>
                    </div>

                    @for(ticket <- event.ticketClassesHead) {

                        <div class="event__tickets">

                            <div class="ticket-info">
                                @ticketBookingDates(ticket)
                            </div>

                            <div class="event__sale-ends ticket-info">
                                <span class="js-datetime-enhance-note"><strong>Sales @if(event.getStatus == Completed){ended on}else{end on}</strong></span>
                                <time class="js-datetime-enhance-time" datetime="@event.ticketClassesHead.head.sales_end.getOrElse("")">
                                 @event.ticketClassesHead.flatMap(_.sales_end).fold("")(_.prettyWithTime)
                                </time>
                            </div>

                            @if(ticket.free) {
                                <div class="event__price">
                                    <span class="event__price-amount js-event-price">Free</span>
                                </div>
                            } else {
                                @for(pricing <- ticket.cost) {
                                    <div class="event__price">
                                        <span class="event__price-amount js-event-price">@pricing.formattedPrice</span>
                                        <span class="event__price-note js-event-price-note"> per ticket</span>
                                    </div>
                                    <div class="event__trail">
                                        <span class="event__trail-tag js-event-price-tag">Partners/Patrons </span>
                                        <span class="event__trail-upsell js-event-price-discount">@pricing.discountPrice</span>
                                        <span class="event__trail-saving js-event-price-saving"> (save @pricing.savingPrice)</span>
                                    </div>
                                }
                            }

                            @ticketCta

                            <p class="terms-info">By proceeding, you agree to the Guardian Live events
                                <a href="@Config.guardianLiveEventsTermsUrl" target="_blank">Terms and Conditions</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
            <div class="event__content-body">
                <div class="event__description">@Html(event.description.getOrElse(EBRichText("foobar", "foobarhtml")).cleanHtml)</div>
                @ticketCta
            </div>
        </div>
    </div>
}
