@(event: model.RichEvent.RichEvent, order: model.Eventbrite.EBOrder)

@import configuration.Config
@import views.support.Social.eventThankyou

@main("Event Thankyou - " + event.name.text + " (" + event.id + ")") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Thanks " + order.first_name + ", See you there!")

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">You're going to</h2>
            </div>
            <div class="page-section__content">
                @fragments.event.itemSnapshotOrder(event, order)
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Before the event</h2>
            </div>
            <div class="page-section__content copy">
                <p>Read related articles and what other members have to say at <a href="@Config.guardianMembershipUrl">theguardian.com/membership</a>. You'll also see all the latest news, highlights and ideas from our membership community.</p>
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Tell your friends</h2>
            </div>
            <div class="page-section__content">
                @fragments.social(eventThankyou(event))
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Find more events</h2>
            </div>
            <div class="page-section__content">
                <a class="action u-no-top-margin" href="@routes.Event.list">See all events</a>
            </div>
        </section>

        @fragments.analytics.eventConversion(event)

    </main>
}
