@()

@import configuration.Config
@import model.SVG.Logos

<div class="global-brandbar">
    <div class="global-brandbar__inner l-constrained">
        <div class="global-brandbar__top">
            @* Back to top *@
            <a class="control" href="#top">
                <span class="control__item">
                    <span class="control__icon icon-holder icon-holder--large">
                        @fragments.inlineIcon("arrow-up")
                    </span>
                </span>
                <span class="control__item">
                    <span class="control__info">back to top</span>
                </span>
            </a>
        </div>
        <a href="/" class="global-brandbar__logo">
            <span class="u-h">@Config.siteTitle</span>
            @fragments.common.inlineSvgImage(Logos.membersLogo, List("global-brandbar__logo__image"))
        </a>
    </div>
</div>
