@()

@import configuration.Config
@import views.support.Asset

<div class="global-brandbar">
    <div class="global-brandbar__inner l-constrained">
        <div class="global-brandbar__top">
            <a class="to-top" href="#top">
                <span class="to-top__item icon-holder icon-holder--large icon-holder--neutral">
                    @fragments.inlineIcon("arrow-up")
                </span>
                <span class="to-top__item to-top__label">Back to top</span>
            </a>
        </div>
        <a href="/" class="global-brandbar__logo">
            <span class="u-h">@Config.siteTitle</span>
            <img src="@Asset.at("images/logos/membership-logo.svg")" alt="@Config.siteTitle" class="global-brandbar__logo__image">
        </a>
    </div>
</div>
