@import model.SVG.Logos
@import views.support.PageInfo
@import com.gu.i18n.CountryGroup
@import configuration.Config

@(pageInfo: PageInfo, countryGroup: Option[CountryGroup])

<header class="global-header-bundles hidden-print js-header" role="banner">
	<div class="global-header__inner">
	    <div class="global-header__branding l-constrained">
	        <div class="global-header__primary">
	            @fragments.global.controlNavigation(pageInfo, countryGroup)
	        </div>
	        @* Branding *@
	        <div class="global-header__logo">
	        	<a href="//theguardian.com" class="global-header__logo__link" id="qa-header-logo">
                    <span class="u-h">@Config.siteTitle</span>
                    @fragments.common.inlineSvgImage(Logos.guardianLogo, List("global-header__logo__image"))
                </a>
            </div>
	    </div>
	</div>
</header>
