@(pageInfo: model.PageInfo)

@import configuration.Config

<ul class="nav-control u-cf" role="menubar">
    <li class="nav-control__item">
        <a href="@pageInfo.customSignInUrl.getOrElse(Config.idWebAppSigninUrl(""))"
           class="control js-identity-menu-toggle@if(pageInfo.customSignInUrl.isEmpty){ js-identity-menu-url}"
           id="qa-identity-control"
           title="Your account"
           role="menuitem"
        >
            <span class="control__item">
                <span class="control__icon icon-holder icon-holder--large icon-holder--neutral">
                    @fragments.inlineIcon("user")
                </span>
            </span>
            <span class="control__item hidden-mobile js-user-detail">
                <span class="control__info">
                    <span class="case--lower js-user-displayname">Sign in</span>
                    <span class="u-h u-parentheses js-user-tier"></span>
                </span>
            </span>
        </a>
        @* Identity / Account pop-up *@
        <nav role="navigation" class="nav-popup is-hidden js-identity-menu" aria-label="Profile menu">
            <ul class="nav-popup__list">
                <li class="nav-popup__item">
                    <a href="@Config.idWebAppUrl/user/id/" class="nav-popup__link js-identity-menu-comment-activity">Comment activity</a>
                </li>
                <li class="nav-popup__item">
                    <a class="nav-popup__link js-identity-menu-edit-profile"
                       id="qa-identity-nav-edit"
                       href="@Config.idWebAppUrl/public/edit"
                       data-member-href="@Config.idWebAppUrl/membership/edit">Edit profile</a>
                </li>
                <li class="nav-popup__item">
                    <a href="@Config.idWebAppUrl/email-prefs" class="nav-popup__link">Email preferences</a>
                </li>
                <li class="nav-popup__item">
                    <a href="@Config.idWebAppUrl/password/change" class="nav-popup__link">Change password</a>
                </li>
                <li class="nav-popup__item">
                    <a href="@Config.idWebAppUrl/signout" class="nav-popup__link">Sign out</a>
                </li>
            </ul>
        </nav>
    </li>
    <li class="nav-control__item nav-control__item--last hidden-mobile">
        <a class="control" href="@Config.guardianHost" role="menuitem">
            <span class="control__item">
                @fragments.inlineIcon("g-mark", List("icon-inline--large"))
            </span>
            <span class="control__item">
                <span class="control__info">the guardian</span>
            </span>
        </a>
    </li>
</ul>
