@import views.support.PageInfo
@import com.gu.i18n.CountryGroup
@import org.joda.time.DateTime
@import model.Nav

@(pageInfo: PageInfo, extraClass: Option[String] = None, countryGroup: Option[CountryGroup] = None)
@if(!pageInfo.url.startsWith("/bundles")) {
<footer class="global-footer hidden-print @extraClass.mkString" role="contentinfo">
} else {
<footer class="global-footer-bundles hidden-print @extraClass.mkString" role="contentinfo">
}
    @fragments.global.brandbar()

    <div class="global-footer__info">
        <div class="global-footer__info__inner l-constrained">
            <ul class="colophon">
                @for(item <- Nav.footerNavigation(countryGroup)) {
                    <li class="colophon__item">
                        <a class="colophon__link" id="qa-footer-link-@item.id" href="@item.href">@item.title</a>
                    </li>
                }
            </ul>
            <small class="global-footer__copyright">
                &copy; @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies.
                All rights reserved.
            </small>
        </div>
    </div>
</footer>
