@import model.SVG.Logos
@import views.support.PageInfo
@import com.gu.i18n.CountryGroup
@(pageInfo: PageInfo, countryGroup: Option[CountryGroup])

@url = {https://www.theguardian.com}

<header class="guardian-header hidden-print js-header" role="banner">
    <div class="guardian-header__inner l-constrained header-padding">
        <div class="guardian-header__logo">
            <a href="@url" class="guardian-header__logo-link guardian-header__title-height">
            @fragments.common.inlineSvgImage(Logos.guardianTitlePiece, List("guardian-header__title-height"))
            </a>
        </div>
    </div>
</header>

<script type="text/javascript">
    guardian.membership.guardianHeader = true; //used by setup.es6
</script>
