@(imgSrc: String, description: String)

@import views.support.Asset

<figure class="slideshow__element js-slideshow-item">
    <figcaption class="slideshow__detail">
        <div class="progress-indicator">
            <span class="progress-indicator__index js-slideshow-position"></span>
            <span class="progress-indicator__separator">/ </span>
            <span class="progress-indicator__count js-slideshow-total"></span>
        </div>
        <span class="slideshow__description">@description</span>
    </figcaption>
    <div data-src="@imgSrc" data-alt="@description" data-class="responsive-img slideshow__image" class="js-image-slideshow"></div>
</figure>
