@(imgGroup: model.ResponsiveImageGroup, descriptionOpt: Option[String])

<figure class="slideshow__element js-slideshow-item">
    <figcaption class="slideshow__detail">
        <div class="progress-indicator">
            <span class="progress-indicator__index js-slideshow-position"></span>
            <span class="progress-indicator__separator">/ </span>
            <span class="progress-indicator__count js-slideshow-total"></span>
        </div>
        @for(description <- descriptionOpt) {
            <div class="slideshow__description">@description</div>
        }
    </figcaption>
    <img
        alt="@imgGroup.altText"
        data-srcset="@imgGroup.srcset"
        sizes="100vw"
        class="responsive-img slideshow__image js-lazyload"
    />
</figure>
