@(events: Seq[model.RichEvent.RichEvent])

<div class="slideshow slideshow--events js-slideshow">
    <div class="slideshow__container">
        @for(event <- events if event.imgOpt.nonEmpty) {
            <figure class="slideshow__element js-slideshow-item">
                <a href="@event.detailsUrl" class="minimal-link no-underline">
                    <img class="responsive-img slideshow__image"
                         src="@event.imgOpt.map(_.defaultImage)"
                         alt="@event.imgOpt.map(_.metadataAltText)"
                         sizes="100vw"
                    />
                    <figcaption class="slideshow__title no-underline--override">
                        @event.name.text
                    </figcaption>
                </a>
            </figure>
        }
    </div>
    <div class="slideshow__footer">
        <div class="slideshow__footer__item slideshow__footer__meta">
            @fragments.media.slideshowProgress()
        </div>
        <div class="slideshow__footer__item slideshow__footer__controls">
            <button class="u-button-reset js-slideshow-prev" aria-label="Previous">
                <span class="icon-holder icon-holder--action icon-holder--large">
                @fragments.inlineIcon("chevron-left")
                </span>
            </button>
            <button class="u-button-reset js-slideshow-next" aria-label="Next">
                <span class="icon-holder icon-holder--action icon-holder--large">
                @fragments.inlineIcon("chevron-right")
                </span>
            </button>
        </div>
    </div>
</div>
