@(images: Seq[model.ResponsiveImageGroup], classes: Seq[String] = Seq.empty)

<div class="slideshow @classes.mkString(" ") js-slideshow">
    <div class="slideshow__container">
        @for(img <- images) {
            <figure class="slideshow__element js-slideshow-item">
                <img class="responsive-img slideshow__image"
                     src="@img.defaultImage"
                     srcset="@img.srcset"
                     alt="@img.altText"
                     sizes="100vw"/>

                @for(metadata <- img.metadata) {
                    <figcaption class="slideshow__detail">
                        <div class="slideshow__caption">
                            @fragments.media.imageCaption(metadata, isBlock=true)
                        </div>
                    </figcaption>
                }
            </figure>
        }
    </div>
    <div class="slideshow__footer">
        <div class="slideshow__footer__item slideshow__footer__meta">
            @fragments.media.slideshowProgress()
        </div>
        <div class="slideshow__footer__item slideshow__footer__controls">
            <button class="u-button-reset js-slideshow-prev" aria-label="Previous">
                <span class="icon-holder icon-holder--control icon-holder--large">
                    @fragments.inlineIcon("chevron-left")
                </span>
            </button>
            <button class="u-button-reset js-slideshow-next" aria-label="Next">
                <span class="icon-holder icon-holder--control icon-holder--large">
                    @fragments.inlineIcon("chevron-right")
                </span>
            </button>
        </div>
    </div>
</div>
