@import com.gu.membership.PaidMembershipPlans
@import com.gu.salesforce.PaidTier
@import com.gu.memsub.Current
@import views.support.Pricing._
@import com.gu.memsub.BillingPeriod._

@(plans: PaidMembershipPlans[Current, PaidTier])


<script type="text/javascript">
(function() {
    'use strict';

    function discountedPriceFormatted(price, discount) {
        return price * ((100 - discount) / 100);
    }

    function formattedDiscountedPrice(currency, amount, discount) {
        return checkoutForm.currencySymbols[currency] + discountedPriceFormatted(amount[currency], discount).toFixed(2).replace('.00','');
    }

    function formattedDiscountedCharge(currency, amount, discount) {
        return checkoutForm.currencyIdentifiers[currency] + discountedPriceFormatted(amount[currency], discount).toFixed(2);
    }

    var checkoutForm = guardian.membership.checkoutForm;

    checkoutForm.currencySymbols = {
        NULL: '' @for(pricing <- plans.allPricing) {, @pricing.currency: '@pricing.currency.glyph'}
    }

    checkoutForm.currencyIdentifiers = {
        NULL: '' @for(pricing <- plans.allPricing) {, @pricing.currency: '@pricing.currency.identifier'}
    }

    checkoutForm.billingPeriods = {
        annual: {
            amount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearly.amount }
            },
            yearlyMonthlyAmount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearlyMonthlyPrice.amount }
            },
            savingInfo: {
                'NULL':'' @for(pricing <- plans.allPricing) {, '@pricing.currency': '@pricing.savingInfo.getOrElse("")' }
            },
            generateChargeAmount: function() {
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, this.discount);
            },
            generateDisplayAmount: function() {
                return formattedDiscountedPrice(checkoutForm.currency, this.amount, this.discount);
            },
            noun: '@year.noun',
            discount: 0
        },
        monthly: {
            amount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.monthly.amount }
            },
            yearlyMonthlyAmount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearlyMonthlyPrice.amount }
            },
            generateChargeAmount: function() {
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, this.discount);
            },
            generateDisplayAmount: function() {
                return formattedDiscountedPrice(checkoutForm.currency, this.amount, this.discount);
            },
            noun: '@month.noun',
            discount: 0
        },
        choices: []
    };

    checkoutForm.billingPeriods.choices = [
        {
            classes: [],
            generateNotes: function() {
                var annual = checkoutForm.billingPeriods.annual,
                    currency = checkoutForm.currency,
                    notes = [];
                if (!this.promoted) {
                    notes.unshift(checkoutForm.billingPeriods.annual.savingInfo[currency]);
                }
                return notes;
            },
            generateDisplayAmount: function() {
                return checkoutForm.billingPeriods.annual.generateDisplayAmount();
            },
            headerSuffix: '/@year.noun',
            inputId: '@plans.year.productRatePlanId.get',
            inputValue: '@year.adjective',
            promoted: false
        },
        {
            classes: [],
            generateNotes: function() {
                var currency = checkoutForm.currency,
                    monthly = checkoutForm.billingPeriods.monthly;
                return [
                    formattedDiscountedPrice(currency, monthly.amount, monthly.discount) + ' per month (' +
                    formattedDiscountedPrice(currency, monthly.yearlyMonthlyAmount, monthly.discount) + ' per year)',
                    '1 year membership, pay in instalments over a year'
                ];
            },
            generateDisplayAmount: function() {
                return checkoutForm.billingPeriods.monthly.generateDisplayAmount();
            },
            headerSuffix: '/@month.noun',
            inputId: '@plans.month.productRatePlanId.get',
            inputValue: '@month.adjective',
            promoted: false
        }
    ];
}());
</script>
<div class="js-billing-period__container"></div>
