@import com.gu.membership.PaidMembershipPlans
@import com.gu.salesforce.PaidTier
@import com.gu.memsub.Current
@import views.support.Pricing
@import com.gu.memsub.BillingPeriod
@import com.gu.memsub.BillingPeriod._
@import com.gu.i18n.Currency

@(pricing: Pricing, plans: PaidMembershipPlans[Current, PaidTier])

@inputId(bp: BillingPeriod, currency: Currency) = {@{bp.adjective}-@currency}

<div data-currency="@pricing.currency.toString" class="is-hidden js-billing-period__container">
    <label class="label" for="@inputId(year, pricing.currency)">
        <input type="radio"
               class="is-hidden"
               name="payment.type"
               id="@inputId(year, pricing.currency)"
               value="@year.adjective"
               data-currency="@pricing.currency"
               checked="checked"/>

    <div class="pseudo-radio" id="@plans.year.productRatePlanId.get">
        <div class="pseudo-radio__header">Pay @pricing.yearly.pretty/year</div>
        @if(pricing.hasYearlySaving) {
            <p class="pseudo-radio__note">@pricing.yearly.pretty
                one off annual payment (save @pricing.yearlySaving.pretty per year)</p>
                @for(savingInfo <- pricing.savingInfo) {
                    <p class="pseudo-radio__note">@savingInfo</p>
                }
            } else {
                <p class="pseudo-radio__note">One-off annual payment</p>
            }
        </div>
    </label>

    <label class="label" for="@inputId(month, pricing.currency)">
        <input type="radio"
               class="is-hidden"
               name="payment.type"
               id="@inputId(month, pricing.currency)"
               data-currency="@pricing.currency"
               value="@month.adjective"/>

        <div class="pseudo-radio" id="@plans.month.productRatePlanId.get">
            <div class="pseudo-radio__header">Pay @pricing.monthly.pretty/month</div>
            <p class="pseudo-radio__note">@pricing.monthly.pretty per month (@pricing.yearlyMonthlyPrice.pretty per year)</p>
            <p class="pseudo-radio__note">1 year membership, pay in instalments over a year</p>
        </div>
    </label>
</div>
