@import com.gu.salesforce.PaidTier
@import views.support.Pricing._
@import com.gu.memsub.BillingPeriod._
@import com.gu.memsub.subsv2.PaidMembershipPlans

@import com.gu.memsub.Benefit.PaidMemberTier
@(plans: PaidMembershipPlans[PaidMemberTier])


<script type="text/javascript">
(function() {
    'use strict';

    function numberAsCurrencyString(num) {
        return (Math.round(num * 100) / 100).toFixed(2).replace('.00','');
    }

    function discountedPrice(price, discount) {
        return price * ((100 - discount) / 100);
    }

    function formattedDiscountedPrice(currency, amount, discount) {
        return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
    }

    function formattedDiscountedCharge(currency, amount, discount) {
        return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
    }

    var checkoutForm = guardian.membership.checkoutForm;

    checkoutForm.currencySymbols = {
        NULL: '' @for(pricing <- plans.allPricing) {, @pricing.currency: '@pricing.currency.glyph'}
    }

    checkoutForm.currencyIdentifiers = {
        NULL: '' @for(pricing <- plans.allPricing) {, @pricing.currency: '@pricing.currency.identifier'}
    }

    checkoutForm.billingPeriods = {
        annual: {
            amount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearly.amount }
            },
            yearlyMonthlyAmount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearlyMonthlyPrice.amount }
            },
            savingInfo: {
                'NULL':'' @for(pricing <- plans.allPricing) {, '@pricing.currency': '@pricing.savingInfo.getOrElse("")' }
            },
            generateChargeAmount: function() {
                var discountPercentageOfYear = (this.discountDurationMonths / 12) || 1;
                var yearProRatedDiscount = this.discount * discountPercentageOfYear;
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, yearProRatedDiscount);
            },
            getOriginalChargeAmount: function() {
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, 0);
            },
            generateDisplayAmount: function() {
                var percentageOfYear = (this.discountDurationMonths / 12) || 1;
                var yearProRatedDiscount = this.discount * percentageOfYear;
                return formattedDiscountedPrice(checkoutForm.currency, this.amount, yearProRatedDiscount);
            },
            noun: '@Year.noun',
            discount: 0,
            discountDurationMonths: 0
        },
        monthly: {
            amount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.monthly.amount }
            },
            yearlyMonthlyAmount: {
                'NULL': 0 @for(pricing <- plans.allPricing) {, '@pricing.currency': @pricing.yearlyMonthlyPrice.amount }
            },
            generateChargeAmount: function() {
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, this.discount);
            },
            getOriginalChargeAmount: function() {
                return formattedDiscountedCharge(checkoutForm.currency, this.amount, 0);
            },
            generateDisplayAmount: function() {
                return formattedDiscountedPrice(checkoutForm.currency, this.amount, this.discount);
            },
            noun: '@Month.noun',
            discount: 0,
            discountDurationMonths: 0
        },
        choices: []
    };

    checkoutForm.billingPeriods.choices = [
        {
            classes: [],
            generateNotes: function() { return []; },
            generateDisplayAmount: function() {
                var annual = checkoutForm.billingPeriods.annual,
                    suffix = '/year';
                if (this.promoted && annual.discountDurationMonths > 0) {
                    suffix = ' today';
                }
                return annual.generateDisplayAmount() + suffix;
            },
            inputId: '@plans.year.id.get',
            inputValue: '@Year.adjective',
            promoted: false
        },
        {
            classes: [],
            generateNotes: function() {
                var monthly = checkoutForm.billingPeriods.monthly,
                    currency = checkoutForm.currency,
                    discountPercentageOfYear = (monthly.discountDurationMonths / 12) || 1,
                    yearProRatedDiscount = monthly.discount * discountPercentageOfYear;
                return [
                    '(' + formattedDiscountedPrice(currency, monthly.yearlyMonthlyAmount, yearProRatedDiscount) + ' for a year of membership)'
                ];
            },
            generateDisplayAmount: function() {
                return checkoutForm.billingPeriods.monthly.generateDisplayAmount() + '/month';
            },
            inputId: '@plans.month.id.get',
            inputValue: '@Month.adjective',
            promoted: false
        }
    ];
}());
</script>
<div class="js-billing-period__container"></div>
