@(tier: com.gu.membership.salesforce.Tier)

@import model.Benefits
@import views.support.Prices._

@for(pricing <- Benefits.details(tier).pricing) {
    <table class="table table--offer">
        <thead>
            <tr>
                <td>Pay anually</td>
                <td>Pay monthly</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pay nothing for 6 months then pay @pricing.yearlyWith6MonthSaving.pretty</td>
                <td>Pay nothing for 6 months then pay @pricing.monthly.pretty/month</td>
            </tr>
        </tbody>
    </table>
}
