@import com.gu.i18n.Currency
@import com.gu.salesforce.PaidTier

@import com.gu.memsub.Current
@import views.support.Pricing._
@import views.support.MembershipCompat._
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@(
    plans: MonthYearPlans[PaidMember],
    currency: Currency,
    isReversible: Boolean = false,
    canFlex: Boolean = true,
    showCurrencyPrefix: Boolean = true
)
<div class="price-info@if(canFlex) { price-info--flex} @if(isReversible) { price-info--@plans.tier.slug}">
    @defining(plans.pricingByCurrencyOrGBP(currency)) { pricing =>
        <div class="price-info__item price-info__item--split">
            <div class="price-info__detail">
                <strong class="price-info__value">
                    @if(showCurrencyPrefix) { @pricing.yearly.pretty } else { @pricing.yearly.prettyWithoutCurrencyPrefix }
                </strong>
                <span class="price-info__date">/year</span>
            </div>
            @pricing.savingInfo.map { savingMsg =>
                <div class="price-info__saving">@savingMsg</div>
            }
        </div>
        <div class="price-info__item price-info__item--split price-info__item--last">
            <div class="price-info__detail price-info__detail--right">
                <strong class="price-info__value">
                    @if(showCurrencyPrefix) { @pricing.monthly.pretty } else { @pricing.monthly.prettyWithoutCurrencyPrefix }
                </strong>
                <span class="price-info__date">/month</span>
            </div>
        </div>
    }
</div>
