@(tier: com.gu.membership.salesforce.Tier, isReversible: Boolean = false, canFlex: Boolean = true)

@import model.Benefits

@defining(Benefits.details(tier)) { benefits =>
    <div class="price-info@if(canFlex){ price-info--flex}@if(isReversible){ price-info--@tier.slug}">
    @benefits.pricing.fold {
        <div class="price-info__item price-info__item--single">
            <div class="price-info__detail">
                <span class="price-info__value price-info__value--free">Free</span>
            </div>
        </div>
    } { pricing =>
        <div class="price-info__item price-info__item--split">
            <div class="price-info__detail">
                <strong class="price-info__value">£@pricing.yearly</strong>
                <span class="price-info__date">/year</span>
            </div>
            <div class="price-info__saving">Save £@pricing.yearlySaving/year</div>
        </div>
        <div class="price-info__item price-info__item--split price-info__item--last">
            <div class="price-info__detail price-info__detail--right">
                <strong class="price-info__value">£<span class="js-opt-monthly-value">@pricing.monthly</span></strong>
                <span class="price-info__date">/<span class="js-opt-monthly-label">month</span></span>
            </div>
        </div>
    }
    </div>
}
