@(event: model.Eventbrite.RichEvent)

<div class="price-info-inline">
    @for(ticket <- event.generalReleaseTicket) {
        @if(ticket.free) {
            <div class="price-info-inline__value">Free</div>
        } else {
            @for(pricing <- ticket.cost) {
                <div class="price-info-inline__value">@pricing.formattedPrice</div>
                <div class="price-info-inline__trail">
                    Partners/Patrons: @pricing.discountPrice
                </div>
            }
        }
    }
</div>
