@(returnUrl: String, tierOpt: Option[com.gu.membership.salesforce.Tier.Value])


@import configuration.Config
@import model.Benefits

@main("Sign in/Register", containerPadding = false, isBrochure = true) {

    <section class="section-signin">

        <header class="section__heading u-cf">
            <h1 class="section-headline section-headline--padding-left">Sign in / Register</h1>
        </header>

        @fragments.joiner.joinStepCounter(2, 3)

        <div class="signin__actions">
            <div class="signin__login">
                <h3 class="signin__action-prompt">Sign in to your Guardian account</h3>
                <a class="action" href="@Config.idWebAppSigninUrl(returnUrl)">Sign in</a>
            </div>
            <div class="signin__register">
                <h3 class="signin__action-prompt">New to the Guardian?</h3>
                <h4>Please take a few short moments to register</h4>
                <a class="action" href="@Config.idWebAppRegisterUrl(returnUrl)">Register Now</a>
            </div>
        </div>

        @for(tier <- tierOpt) {
            <p>@Benefits.details(tier).leadin</p>

            <ul class="package__list-benefits-element">
            @for(benefit <- Benefits.details(tier).leadBenefits) {
                <li class="benefits-title">@benefit.title</li>
                <li class="benefits-copy">@benefit.description</li>
            }
            </ul>

            <br/>
        }

    </section>

}
