@(currentTier: com.gu.membership.salesforce.Tier.Tier)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import com.gu.membership.salesforce.Tier
@import helper._

@main("Change Tier") {

    <main role="main">
        <div class="content__container">
            <section class="content__section">
                <h1 class="content__headline">Change your tier</h1>
                <a href="@Config.idWebAppUrl/membership/edit" class="action action--arrow-left action-cta--confirm">Edit profile</a>
            </section>
        </div>
        <div class="package-container">
            <h2 class="package-container__header">Choose the tier you would like to switch to:</h2>
            <div class="content__container">
                <section class="package-list">

                    @for(tier <- Tier.values.toSeq.sorted){
                        @if(tier >= Tier.Friend){ @fragments.tier.benefits(Some(currentTier), tier) }
                    }

                </section>
            </div>
            <div class="content__container content__container--border-dark content__footer">
                <ul class="inline-list">
                    <li class="inline-list__item"><a href="/help">Help</a></li>
                    <li class="inline-list__item">&#149;</li>
                    <li class="inline-list__item"><a id="qa-cancel-membership" href="/tier/cancel">Cancel Guardian membership</a></li>
                </ul>
            </div>
        </div>
  </main>

}
