@(currentTier: com.gu.membership.salesforce.Tier)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import com.gu.membership.salesforce.Tier
@import model.Benefits

@main("Change Tier") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Change tier")

        <section class="page-section">
            <div class="page-section__lead-in">
                <a href="@Config.idWebAppUrl/membership/edit" class="action action--secondary u-anchor u-no-top-margin">
                    @fragments.actionIcon("arrow-left", leftIcon=true)
                    <span class="action__label">Edit profile</span>
                </a>
            </div>
            <div class="page-section__content">

                <h1 class="h-section">Choose the tier you would like to switch to:</h1>

                @* Packages *@
                <ul class="grid grid--bordered grid--stretch grid--3up-stacked">
                    @for(tier <- Tier.allPublic) {
                        <li class="grid__item">

                            @fragments.tier.packageChanger(tier, currentTier)

                            @* Benefits *@
                            <div class="benefits-chooser">
                                <a class="mini-link until-desktop js-toggle" data-toggle="toggle-benefit-@tier.toString.toLowerCase" data-toggle-label="Hide what's included" data-toggle-icon="arrow-up">
                                    <span class="toggle-link__icon icon-holder icon-holder--small">
                                        @fragments.inlineIcon("arrow-down", List("inline-icon--small"))
                                    </span>
                                    <span class="js-toggle-label">Show what's included</span>
                                </a>
                                <div class="benefits-chooser__list" id="toggle-benefit-@tier.toString.toLowerCase">
                                    <ul class="list-stack">
                                        <li class="list-stack__title">
                                            What's included
                                        </li>
                                        @for(benefit <- Benefits.details(tier).list) {
                                            <li>@fragments.benefits.item(benefit)</li>
                                        }
                                    </ul>
                                    @if(tier != currentTier) {
                                        @* TODO: When paid-to-paid upgrades are enabled this check can be removed *@
                                        @if(currentTier == Tier.Friend || tier == Tier.Friend) {
                                            <a class="action"
                                               href="@routes.TierController.upgrade(tier)"
                                               data-metric-trigger="click"
                                               data-metric-category="changeTier"
                                               data-metric-action="@tier.toString.toLowerCase()"
                                            >
                                                <span class="action__label">Become a @tier</span>
                                            </a>
                                        } else {
                                            <span class="action is-disabled">
                                                <span class="action__label">Coming soon</span>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>

                        </li>
                    }
                </ul>

                @* Help & cancellation links *@
                <ul class="inline-list inline-list--bordered copy">
                    <li class="inline-list__item"><a href="/help">Help</a></li>
                    <li class="inline-list__item"><a href="/tier/cancel" id="qa-cancel-membership">Cancel Guardian membership</a></li>
                </ul>

            </div>
        </section>

  </main>

}
