@(ebIFrameDetail: Option[(String, Int)])

@main("Thankyou | Friend") {

    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border">
        @fragments.tickets.ticketsFunnel(4, StepOne = "", StepTwo = "", StepThree = "")
        <h1 class="section-sub-headline">Hello! Welcome to Guardian Membership</h1>
        @fragments.layout.welcomeUser()
    </section>

    @fragments.joiner.completePurchase(ebIFrameDetail)

    @fragments.analytics.googleJoinerConversion()
}
