@(ebIFrameDetail: Option[(String, Int)], userFields: model.PrivateFields, userEmail: String, event: Option[model.Eventbrite.EBEvent])

@main("Thankyou | Friend") {

    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border">
        @fragments.tickets.ticketsFunnel(4, StepOne = "", StepTwo = "", StepThree = "")
        @fragments.layout.welcomeUser(userFields, userEmail)
    </section>

    @fragments.joiner.completePurchase(ebIFrameDetail, event)

    @fragments.analytics.googleJoinerConversion()
}
