@(card: model.Stripe.Card, subscriptionDetails: model.Zuora.SubscriptionDetails, ebIFrameDetail: Option[(String, Int)], tier: com.gu.membership.salesforce.Tier.Tier, firstName: String, userEmail: String, event: Option[model.Eventbrite.EBEvent], upgrade: Boolean)

@import views.support.Dates._
@import views.support.Prices._

@title = @{
    if (upgrade) {
        "Change Tier Summary | " + subscriptionDetails.planName + " from Friend"
    } else {
        "Thankyou | " + subscriptionDetails.planName
    }
}

@main(title, containerPadding = false) {

    <section class="content__container content__container--slim">
        @fragments.layout.welcomeUser(firstName, userEmail)
    </section>

    <section class="content__container content__container--slim">
        <h2 class="content__headline">Your membership summary</h2>
        <table class="table table--responsive-font table--striped" role="grid">
            <tr role="row">
                <th role="rowheader">
                    Tier
                </th>
                <td>
                    @subscriptionDetails.planName
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Start date
                </th>
                <td>
                    @subscriptionDetails.startDate.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Amount paid today
                </th>
                <td>
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    @if(subscriptionDetails.annual){ Annual } else { Monthly } payment
                </th>
                <td>
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Next payment
                </th>
                <td>
                   @subscriptionDetails.endDate.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Card
                </th>
                <td>
                    <span>&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; @card.last4</span>
                </td>
            </tr>
        </table>
    </section>

    @fragments.joiner.completePurchase(ebIFrameDetail, event)

    @fragments.analytics.joinerConversion(tier)
}
