@(card: model.Stripe.Card, subscriptionDetails: model.Zuora.SubscriptionDetails, ebIFrameDetail: Option[(String, Int)], tier: com.gu.membership.salesforce.Tier.Tier, userFields: model.PrivateFields, userEmail: String, event: Option[model.Eventbrite.EBEvent])

@import views.support.Dates._
@import views.support.Prices._

@main("Thankyou | " + subscriptionDetails.planName) {

    <section class="content__container">
        @fragments.layout.welcomeUser(userFields, userEmail)
    </section>

    <section class="content__container content__container--border-blue">
        <h2 class="section-sub-headline">Your membership summary</h2>
        <table class="table table--responsive-font table--striped" role="grid">
            <tr role="row">
                <th role="rowheader">
                    Tier
                </th>
                <td>
                    @subscriptionDetails.planName
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Start Date
                </th>
                <td>
                    @subscriptionDetails.startDate.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Amount Paid Today
                </th>
                <td>
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    @if(subscriptionDetails.annual){ Annual } else { Monthly } Payment
                </th>
                <td>
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Next Payment
                </th>
                <td>
                   @subscriptionDetails.endDate.pretty
                </td>
            </tr>
            <tr role="row">
                <th role="rowheader">
                    Card
                </th>
                <td>
                    <span class="credit-card credit-card--inline-block icon-sprite @("icon-sprite-card-" + card.`type`.toLowerCase().replace(' ', '-'))"></span>
                    <span>&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; @card.last4</span>
                </td>
            </tr>
        </table>
    </section>

    @fragments.joiner.completePurchase(ebIFrameDetail, event)

    @fragments.analytics.googleJoinerConversion(tier)
}
