@(card: model.Stripe.Card, subscriptionDetails: model.Zuora.SubscriptionDetails, ebIFrameDetail: Option[(String, Int)], tier: com.gu.membership.salesforce.Tier.Tier, userFields: model.PrivateFields, userEmail: String, event: Option[model.Eventbrite.EBEvent])

@import views.support.Dates._
@import views.support.Prices._

@main("Thankyou | " + subscriptionDetails.planName) {

    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border">
        @fragments.tickets.ticketsFunnel(4, StepOne = "", StepTwo = "", StepThree = "")
        @fragments.layout.welcomeUser(userFields, userEmail)
    </section>

    <h2>Your membership summary</h2>
    <section class="joiner-section joiner-section--no-border">
        <table class="table table--responsive-font table--striped">
            <tr class="table__headline" role="row">
                <td class="summary-table__cell" role="scope">
                    Tier
                </td>
                <td class="summary-table__cell" role="scope">
                    @subscriptionDetails.planName
                </td>
            </tr>
            <tr class="summary-table__row" role="row">
                <td class="summary-table__cell">
                    Start Date
                </td>
                <td class="summary-table__cell">
                    @subscriptionDetails.startDate.pretty
                </td>
            </tr>
            <tr class="summary-table__row" role="row">
                <td class="summary-table__cell">
                    Amount Paid Today
                </td>
                <td class="summary-table__cell">
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr class="summary-table__row" role="row">
                <td class="summary-table__cell">
                    @if(subscriptionDetails.annual){ Annual } else { Monthly } Payment
                </td>
                <td class="summary-table__cell">
                    @subscriptionDetails.planAmount.pretty
                </td>
            </tr>
            <tr class="summary-table__row" role="row">
                <td class="summary-table__cell">
                    Next Payment
                </td>
                <td class="summary-table__cell">
                   @subscriptionDetails.endDate.pretty
                </td>
            </tr>
            <tr class="summary-table__row" role="row">
                <td class="summary-table__cell">
                    Card
                </td>
                <td class="summary-table__cell">
                    <span class="credit-card credit-card--inline-block icon-sprite @("icon-sprite-card-" + card.`type`.toLowerCase().replace(' ', '-'))"></span>
                    <span>&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; @card.last4</span>
                </td>
            </tr>
        </table>
    </section>

    @fragments.joiner.completePurchase(ebIFrameDetail, event)

    @fragments.analytics.googleJoinerConversion(tier)
}
