@import views.Crumb
@import views.Dates._

@main("Membership") {

<div class="page-inner-container">

    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border">
        <h1 class="section-headline u-text-hyphenate">Thank You</h1>
        <p>Nam eu purus eros. Sed tortor lectus, bibendum nec est et, interdum tristique magna. Aliquam erat volutpat. Curabitur faucibus a sem quis porttitor. Suspendisse semper dui libero, eu convallis sem pharetra nec.
        </p>
    </section>

    <section class="joiner-section joiner-section--no-border">
        <table class="table table--responsive-font table--striped">
            <tr class="table__headline">
                <td class="summary-table__cell">
                    Package
                </td>
                <td class="summary-table__cell">
                    Partner
                </td>
            </tr>
            <tr class="summary-table__row">
                <td class="summary-table__cell">
                    Start Date
                </td>
                <td class="summary-table__cell">
                    May 27th, 2014
                </td>
            </tr>
            <tr class="summary-table__row">
                <td class="summary-table__cell">
                    Amount Paid Today
                </td>
                <td class="summary-table__cell">
                    &#163;15
                </td>
            </tr>
            <tr class="summary-table__row">
                <td class="summary-table__cell">
                    Monthly Payment
                </td>
                <td class="summary-table__cell">
                    &#163;15
                </td>
            </tr>
            <tr class="summary-table__row">
                <td class="summary-table__cell">
                    Next Payment
                </td>
                <td class="summary-table__cell">
                    June 27th, 2014
                </td>
            </tr>
            <tr class="summary-table__row">
                <td class="summary-table__cell">
                    Card
                </td>
                <td class="summary-table__cell">
                    <img src="@routes.Assets.at("images/visa.png")" alt="" width="40" height="25" class="credit-card-provider"/>
                    <span>&#42;&#42;&#42;&#42;&nbsp;&#42;&#42;&#42;&#42;&nbsp;&#42;&#42;&#42;&#42;&nbsp;4242</span>
                </td>
            </tr>
        </table>
    </section>

    <section class="align-center">
        <a class="action action--inline-text action--join action--wide" href="/">Get Started</a>
    </section>

    <div class="separator"></div>
    <section class="joiner-section joiner-section--left-aligned joiner-section--no-border" id="whats-included">
        <h2 class="section-body-headline">Questions</h2>
        <ul class="questions u-unstyled">
            <li class="questions__list">
                <h3 class="section-sub-body-headline">What happens next?</h2>
                <p>Donec convallis sem non facilisis dapibus. Suspendisse tincidunt tellus at mattis porttitor. Donec nibh odio, hendrerit sed est in, fringilla imperdiet tellus. Vestibulum sapien urna, auctor nec eleifend nec, ornare eget nisi.</p>
            </li>
            <li class="questions__list">
                <h3 class="section-sub-body-headline">I haven't received an email?</h2>
                <p>In quis nunc tristique, aliquam lectus nec, hendrerit nibh. Fusce eleifend nunc vel ante vestibulum, in ultrices augue fermentum. Etiam laoreet mauris quis sem semper, at feugiat nisi commodo.</p>
            </li>
        </ul>
    </section>

</div>

}