</div>

@*<footer>*@
    @*<p class="copy">© 2014 Guardian News and Media Limited or its affiliated companies. All rights reserved.</p>*@
@*</footer>*@


<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    @*<div class="l-footer__primary">*@
        @*<div id="footer-nav">*@
            @*<div class="l-footer__banner u-cf">*@
                @*<div class="gs-container">*@
                    @*<a href="http://www.theguardian.com/uk" data-link-name="site logo" class="guardian-logo-footer hide-on-mobile">*@
                        @*<span class="u-h">The Guardian</span>*@
                        @*<i class="i i-guardian-logo-160"></i>*@
                    @*</a>*@
                    @*<a class="top top--footer" data-link-name="back to top" href="#top">Back to top<i class="i i-arrow-small-up"></i></a>*@
                @*</div>*@
            @*</div>*@
            @*<div class="gs-container l-footer__navigation-wrapper u-cf">*@
                @*<nav role="navigation" aria-label="Guardian sections" data-link-name="global navigation: footer : sections">*@
                    @*<ul class="nav nav--columns u-cf nav--additional-sections nav--top-border-off nav--footer">*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk" data-link-name="home" class="nav__link">*@
@*home*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk-news" data-link-name="UK" class="nav__link">*@
@*UK*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/world" data-link-name="world" class="nav__link">*@
@*world*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk/sport" data-link-name="sport" class="nav__link">*@
@*sport*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/football" data-link-name="football" class="nav__link">*@
@*football*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk/commentisfree" data-link-name="comment" class="nav__link">*@
@*comment*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk/culture" data-link-name="culture" class="nav__link">*@
@*culture*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk/business" data-link-name="economy" class="nav__link">*@
@*economy*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/lifeandstyle" data-link-name="life" class="nav__link">*@
@*life*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/environment" data-link-name="environment" class="nav__link">*@
@*environment*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/technology" data-link-name="tech" class="nav__link">*@
@*tech*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/uk/money" data-link-name="money" class="nav__link">*@
@*money*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/travel" data-link-name="travel" class="nav__link">*@
@*travel*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/fashion" data-link-name="fashion" class="nav__link">*@
@*fashion*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/science" data-link-name="science" class="nav__link">*@
@*science*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item">*@
                            @*<a href="http://www.theguardian.com/education" data-link-name="education" class="nav__link">*@
@*education*@
                            @*</a>*@
                        @*</li>*@
                        @*<li class="nav__item"><a class="nav__link" data-link-name="all sections" href="http://www.theguardian.com/sections">All sections</a></li>*@
                    @*</ul>*@
                    @*<ul class="nav nav--columns nav--guardian-services u-cf nav--footer">*@
                        @*<li class="nav__item"><a class="nav__link nav__link--faded" href="https://soulmates.theguardian.com/?INTCMP=NGW_NAVBAR_UK_GU_SOULMATES" target="_blank" data-link-name="Soulmates">Soulmates</a></li>*@
                        @*<li class="nav__item"><a class="nav__link nav__link--faded" href="http://jobs.theguardian.com/?INTCMP=NGW_NAVBAR_UK_GU_JOBS" target="_blank" data-link-name="Jobs">Jobs</a></li>*@
                    @*</ul>*@
                    @*<div class="navigation-aside">*@
                        @*<div class="switcher u-cf switcher--columns switcher--edition mobile-only">*@
                            @*<h2 class="switcher__label">Edition:</h2>*@
                            @*<ul class="u-unstyled switcher__options">*@
                                @*<li class="switcher__option switcher__option--active">*@
@*UK*@
                                @*</li>*@
                                @*<li class="switcher__option">*@
                                    @*<a data-edition="US" data-link-name="switch to US edition" href="http://www.theguardian.com/preference/edition/us">*@
@*US <span class="u-h">edition</span>*@
@*</a>*@
                                @*</li>*@
                                @*<li class="switcher__option">*@
                                    @*<a data-edition="AU" data-link-name="switch to AU edition" href="http://www.theguardian.com/preference/edition/au">*@
@*AU <span class="u-h">edition</span>*@
@*</a>*@
                                @*</li>*@
                            @*</ul>*@
                        @*</div>*@
                        @*<div class="switcher u-cf switcher--columns switcher--version">*@
                            @*<h2 class="switcher__label">View:</h2>*@
                            @*<ul class="u-unstyled switcher__options">*@
                                @*<li class="switcher__option switcher__option--active">*@
                                    @*<span class="hide-on-mobile-inline">*@
@*Beta*@
                                    @*</span>*@
                                    @*<span class="mobile-only">*@
@*Mobile*@
                                    @*</span>*@
                                @*</li>*@
                                @*<li class="switcher__option">*@
                                    @*<span class="hide-on-mobile-inline">*@
                                        @*<a class="js-main-site-link" rel="nofollow" href="http://www.theguardian.com/preference/platform/classic?page=http%3A%2F%2Fwww.theguardian.com%2Ftechnology%2F2014%2Fmay%2F12%2Fvideo-games-art-and-noise-tired-stereotypes-dominate-today-programme-debate%3Fview%3Dclassic" data-link-name="classic version UK">*@
@*Current version*@
                                        @*</a>*@
                                    @*</span>*@
                                    @*<span class="mobile-only">*@
                                        @*<a class="js-main-site-link" rel="nofollow" href="http://www.theguardian.com/preference/platform/classic?page=http%3A%2F%2Fwww.theguardian.com%2Ftechnology%2F2014%2Fmay%2F12%2Fvideo-games-art-and-noise-tired-stereotypes-dominate-today-programme-debate%3Fview%3Dclassic" data-link-name="classic version UK">*@
@*Desktop*@
                                        @*</a>*@
                                    @*</span>*@
                                @*</li>*@
                            @*</ul>*@
                        @*</div>*@
                    @*</div>*@
                @*</nav>*@
            @*</div>*@
        @*</div>*@
    @*</div>*@
    <div class="l-footer__secondary gs-container" role="contentinfo">
        <ul class="colophon u-cf">
            <li class="colophon__item"><a data-link-name="about" href="http://next.theguardian.com/blog/welcome-to-our-beta-site/">About this site</a></li>
            <li class="colophon__item"><a data-link-name="help" href="http://www.theguardian.com/help/2012/nov/26/guardian-mobile-site">Help</a></li>
            <li class="colophon__item"><a data-link-name="contact" href="http://www.theguardian.com/help/contact-us">Contact us</a></li>
            <li class="colophon__item"><a data-link-name="feedback" target="_blank" href="https://www.surveymonkey.com/s/theguardian-beta-feedback">Feedback</a></li>
            <li class="colophon__item"><a data-link-name="terms" href="http://www.theguardian.com/help/terms-of-service">Terms &amp; conditions</a></li>
            <li class="colophon__item"><a data-link-name="privacy" href="http://www.theguardian.com/help/privacy-policy">Privacy policy</a></li>
            <li class="colophon__item"><a data-link-name="cookie" href="http://www.theguardian.com/info/cookies">Cookie policy</a></li>
            <li class="colophon__item hide-on-mobile">
                <a class="js-main-site-link" rel="nofollow" href="http://www.theguardian.com/preference/platform/classic?page=http%3A%2F%2Fwww.theguardian.com%2Ftechnology%2F2014%2Fmay%2F12%2Fvideo-games-art-and-noise-tired-stereotypes-dominate-today-programme-debate%3Fview%3Dclassic" data-link-name="classic version UK">
Current version
                </a>
            </li>
        </ul>
        <div class="l-footer__misc">
            <div class="really-serious-copyright">© 2014 Guardian News and Media Limited or its affiliated companies. All&nbsp;rights&nbsp;reserved.</div>
        </div>
    </div>
</footer>