/* ==========================================================================
   Nav pop-up
   ========================================================================== */

.nav-popup {
    position: absolute;
    top: 0;
    z-index: 10;
    clear: both;
    padding: rem(($gs-baseline / 3) * 2) 0;
    list-style: none;
    margin-bottom: rem(-4px);
    background-color: darken($mem-brandBlue, 10%);
    width: 100%;
}

/* Small
   ========================================================================== */

.nav-popup--small {
    padding-top: rem(36px);
    padding-bottom: rem($gs-baseline);
    top: rem($mobilePopupOffset);
    min-height: rem(47px);

    @include mq(tablet) {
        position: absolute;
        top: rem(40px);
        left: rem(30px);
        padding-top: rem($gs-baseline / 3);
        width: rem(gs-span(4) + $gs-gutter * 2);
        @include box-sizing(border-box);
        background-color: $white;
        border: 1px solid $c-neutral4;

        .nav__link {
            padding: rem(10px) 0;
        }
    }
}

.nav-popup--sections {
    padding-bottom: 0;
    display: block;
    @include mq(tablet) {
        display: none;
    }
}

/* Identity Menu
   ========================================================================== */

.nav-popup--profile {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 4;
    background-color: $white;
    width: rem(175px);

    @include mq(tablet) {
        left: rem(30px);
        top: rem(44px);
        width: rem(gs-span(3));
    }

    &:after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $white;
        border-width: rem(6px);
        margin-left: rem(-6px);

        @include mq(desktop) {
            left: 18%;
            border-width: rem($gs-gutter / 2);
            margin-left: rem(-$gs-gutter / 2);
        }
    }

    .nav {
        padding-left: 0;
        padding-right: 0;

        > .nav__item {
            float: none;
            width: auto;
            display: block;
            border-right: 0;

            &:first-child .nav__link {
                @include mq(tablet) {
                    border-top: 0;
                }
            }
            &:last-child .nav__link {
                border-bottom: 0;
            }

            .nav__link {
                border-top: 0;
                border-bottom: 1px solid $c-neutral7;
                padding-left: 0;
                margin: 0 rem($gs-gutter / 2);

                @include mq(tablet) {
                    padding: rem(10px) 0;
                }
            }
        }
    }
}
