@(heading: String, note: String, formType: String, addressRequired: Boolean = true,
address1: Option[String], address2: Option[String], town: Option[String], postcode: Option[String],
county: Option[String], userCountry: Option[String])

@import model.Countries

<fieldset class="fieldset address-fieldset js-@(formType)-fieldset">

    <div class="address-fieldset__inner">

        <div class="fieldset__heading">
            <h2 class="form__heading">@heading</h2>
            <div class="form__note">@note</div>
        </div>

        <div class="fieldset__fields">

            <div class="form-field">
                <label class="label" for="address-line-one-@(formType)">Address line 1</label>
                <input type="text"
                       name="@(formType).lineOne"
                       value="@address1"
                       id="address-line-one-@(formType)"
                       class="text-input text-input--block js-address-line-one"
                       data-error-message="Please enter your @heading.toLowerCase() first line"
                       @if(addressRequired == true){data-validation="required"} />
            </div>

            <div class="form-field">
                <label class="label" for="address-line-two-@(formType)">Address line 2</label>
                <input type="text"
                       name="@(formType).lineTwo"
                       value="@address2"
                       id="address-line-two-@(formType)"
                       class="text-input text-input--block js-address-line-two"/>
            </div>

            <div class="form-field">
                <label class="label" for="town-@(formType)">Town</label>
                <input type="text"
                       name="@(formType).town"
                       value="@town"
                       id="town-@(formType)"
                       class="text-input text-input--block js-town"
                       data-error-message="Please enter your @heading.toLowerCase() town"
                       @if(addressRequired == true){data-validation="required"} />
            </div>

            <div class="form-field">
                <label class="label" for="postCode-@(formType)">Post code</label>
                <input type="text"
                       name="@(formType).postCode"
                       value="@postcode"
                       id="postCode-@(formType)"
                       class="text-input text-input--block js-post-code"
                       data-error-message="Please enter your @heading.toLowerCase() post code"
                       data-validation="required"/>
            </div>

            <div class="form-field">
                <label class="label" for="county-or-state-@(formType)">County or State</label>
                <input type="text"
                       name="@(formType).countyOrState"
                       value="@county"
                       id="county-or-state-@(formType)"
                       class="text-input text-input--block js-county-state"/>
            </div>

            <div class="form-field address-fieldset__country">
                <label class="label" for="country-@(formType)">Country</label>
                <div class="input">
                    <select name="@(formType).country" id="country-@(formType)">
                        @for(country <- Countries.all) {
                        <option value="@country" @if(userCountry.getOrElse("") == country){selected}>@country</option>
                        }
                    </select>
                </div>
            </div>

        </div>

    </div>

</fieldset>
