@(heading: String)

@pseudoRadio(title: String) = {
    <div class="psuedo-radio">
        <span class="billing-address-choice">@title</span>
    </div>
}

<fieldset class="fieldset u-h js-toggle-billing-address">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">@heading</h2>
    </div>

    <div class="fieldset__fields">

        <div class="form-field js-billing-input-container">

            <label class="label" for="use-delivery-address">
                <input class="is-hidden" type="radio" name="address.type" id="use-delivery-address" value="true" checked="checked"/>
                @pseudoRadio("Use delivery address")
            </label>

            <label class="label" for="use-billing-address">
                <input class="is-hidden js-use-billing-address" type="radio" name="address.type" id="use-billing-address" value="false"/>
                @pseudoRadio("Add a different billing address")
            </label>

        </div>

    </div>

</fieldset>
