@import com.gu.membership.salesforce.Tier
@import Tier.{Partner, Patron}
@import actions.AuthRequest
@import model.{FeatureChoice, FreeEventTickets}
@import utils.TestUsers.isTestUser
@(tier: Tier)(implicit request: AuthRequest[_])


@heading(headline: String, note: Option[String] = None) = {
  <div class="fieldset__heading">
      <h2 class="fieldset__headline">@headline</h2>
      @note.map { n => <div class="fieldset__note">@n</div> }
  </div>
}

@fieldset(tier: Tier)= {
  @tier match {
      case Partner => {
          @heading("Select your perks", Some("You can change your mind later on"))

          <div class="fieldset__fields">
          @for(choice <- FeatureChoice.all) {
                  <div class="form-field">
                      <label class="label" for="@choice.zuoraCode">
                          <input type="radio"
                          class="is-hidden"
                          name="featureChoice"
                          id="@choice.zuoraCode"
                          @if(choice == FreeEventTickets) { checked="checked" }
                          value="@choice.zuoraCode"
                          />

                          <div class="pseudo-radio">
                              <div class="pseudo-radio__header">@choice.label</div>
                              <p class="pseudo-radio__note">Longer description here </p>
                          </div>
                      </label>
                  </div>
          }
          </div>
      }
      case Patron => {
          @heading("Select your perks", Some("As a patron member you are entitled to both Books and Events"))
          <div class="fieldset__fields">
              <input type="hidden" name="featureChoice" value="@FeatureChoice.setToString(FeatureChoice.all)" />
          </div>
      }

      case _ =>  {}
  }
}
@if(isTestUser(request.user)) {
    @if(Seq(Patron, Partner).contains(tier)) {
        <fieldset class="fieldset js-feature-choice-container">
        @fieldset(tier)
        </fieldset>
    }
}
