@(tier: com.gu.salesforce.Tier)(implicit request: RequestHeader)

@import com.gu.salesforce.Tier.{Partner, Patron}
@import model.FeatureChoice
@import model.FreeEventTickets
@import configuration.Config

@partnerChoice() = {
    <section class="form-panel">
        <div class="form-panel__heading">
            <h2 class="form-panel__headline">Select benefit option</h2>
            <div class="form-panel__edit js-edit-benefits is-hidden">edit</div>
        </div>
        <div class="form-panel__content js-form-panel-benefits">
            <fieldset class="fieldset js-feature-choice-container">
                <div class="fieldset__fields">
                    <div class="form-field">
                        @for(choice <- FeatureChoice.all) {
                            <label class="label" for="@choice.zuoraCode.get">
                                <input type="radio" class="u-h" name="featureChoice"
                                    id="@choice.zuoraCode.get"
                                    @if(choice == FreeEventTickets) { checked="checked" }
                                    value="@choice.zuoraCode.get"
                                />
                                <div class="pseudo-radio">
                                    <div class="pseudo-radio__header">@choice.label</div>
                                    <div class="pseudo-radio__note">
                                      @choice.description
                                    </div>
                                </div>
                            </label>
                        }
                    </div>
                </div>
            </fieldset>
            <button class="action form-panel__continue js-continue-benefits" type="button">Continue</button>
        </div>
    </section>
}

@tier match {
    case Partner() => {
        @partnerChoice()
    }
    case Patron() => {
        <input type="hidden" name="featureChoice" value="@FeatureChoice.setToString(FeatureChoice.all)" />
    }
    case _ =>  {}
}
