@(marketingChoicesOpt: Option[com.gu.identity.play.StatusFields])
@marketingChoicesOpt match {
    case Some(marketingChoices) => {
        <fieldset class="u-h">
            <input type="hidden"
            name="marketingChoices.gnnMarketing"
            value="@marketingChoices.receiveGnmMarketing" />

            <input type="hidden"
            name="marketingChoices.thirdParty"
            value="@marketingChoices.receive3rdPartyMarketing" />
        </fieldset>
    }
    case None => {
        <div class="fieldset__fields">

            <div class="form-field js-billing-input-container">

                <label class="label" for="use-delivery-address">
                    <input type="checkbox" name="marketingChoices.gnnMarketing" id="receive-gnn-marketing" value="true"/>
                    Keep me up to date with offers from the Guardian
                </label>
            </div>

        </div>
    }
}


