@(privateFields: Option[com.gu.identity.play.PrivateFields])(implicit request: RequestHeader)

<fieldset class="fieldset">

    <div class="fieldset__fields">

        <div class="form-field">
            <label class="label" for="name-first">First name</label>
            <input type="text"
                   name="name.first"
                   id="name-first"
                   @*
                   * Zuora's PaymentMethod request imposes this size limit.
                   * Although in membership we don't send the name because it's a credit card payment,
                   * in subscriptions we do because it's a direct debit. So for consistency the
                   * same size limit is imposed here.
                   *@
                   maxlength="30"
                   value="@privateFields.flatMap(_.firstName)"
                   class="input-text js-name-first"
                   required
                   aria-required="true"/>
            @fragments.form.errorMessage("Please enter your first name")
        </div>

        <div class="form-field form-field--no-margin">
            <label class="label" for="name-last">Last name</label>
            <input type="text"
                   name="name.last"
                   id="name-last"
                   maxlength="50"
                   value="@privateFields.flatMap(_.secondName)"
                   class="input-text js-name-last"
                   required
                   aria-required="true"/>
            @fragments.form.errorMessage("Please enter your last name")
        </div>

    </div>

</fieldset>
