<fieldset class="fieldset address-fieldset">

    <div class="fieldset__heading">
        <h2 class="form__heading">Name</h2>
        <div class="form__note">All fields with <span class="required-marker"></span>required.</div>
    </div>

    <div class="fieldset__fields">

        <div class="form-field">
            <div class="form-field__half">
                <label class="label label--inline" for="name-first">First</label>
                <input type="text"
                       name="name.first"
                       id="name-first"
                       class="text-input text-input--block js-name-first"
                       data-error-message="Please enter your first name"
                       data-validation="required"/>
            </div>@*
            == Inline block whitespace ==
            *@<div class="form-field__half">
                <label class="label label--inline" for="name-last">Last</label>
                <input type="text"
                       name="name.last"
                       id="name-last"
                       class="text-input text-input--block js-name-last"
                       data-error-message="Please enter your last name"
                       data-validation="required"/>
            </div>
        </div>

    </div>

</fieldset>
