@(firstName: Option[String], lastName: Option[String])
@import utils.TestUsers.testUsers

@if(firstName.exists(testUsers.isValid)) {
    <!-- VALID TEST USER -->
}

<fieldset class="fieldset">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Name</h2>
    </div>

    <div class="fieldset__fields">

        <div class="form-field">
            <label class="label" for="name-first">First</label>
            <input type="text"
                   name="name.first"
                   id="name-first"
                   value="@firstName"
                   class="input-text js-name-first"
                   required
                   aria-required="true"/>
            @fragments.form.errorMessage("Please enter your first name")
        </div>

        <div class="form-field form-field--no-margin">
            <label class="label" for="name-last">Last</label>
            <input type="text"
                   name="name.last"
                   id="name-last"
                   value="@lastName"
                   class="input-text js-name-last"
                   required
                   aria-required="true"/>
            @fragments.form.errorMessage("Please enter your last name")
        </div>

    </div>

</fieldset>
