<fieldset class="fieldset">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Create password</h2>
        <div class="fieldset__note">Password required to keep your information secure.</div>
    </div>

    <div class="fieldset__fields js-password-container">

        <div class="form-field form-field--no-margin">
            <label class="label label--inline" for="user-password">Password</label>
            <span class="form-note">(between 6 and 20 characters)</span>
            <div class="form-note form-note--right mobile-only js-on">
                <a href="#toggle-password"
                   class="text-link js-toggle-password"
                   data-password-label="Show password"
                   data-text-label="Hide password">Show password</a>
            </div>
            <input class="input-text js-password-strength js-register-password"
                   type="password"
                   id="user-password"
                   name="password"
                   value=""
                   autocomplete="off"
                   autocapitalize="off"
                   autocorrect="off"
                   spellcheck="false"
                   minlength="6"
                   maxlength="20"
                   required/>
            @fragments.form.errorMessage("Please enter a password")
        </div>
        <div class="password-strength-indicator score-null is-off is-hidden js-on js-password-strength-indicator">
            <div class="form-note form-note--right form-note--underneath js-password-strength-label">
            Password strength
            </div>
        </div>

    </div>

</fieldset>
