<fieldset class="fieldset address-fieldset">

    <div class="fieldset__heading">
        <h2 class="form__heading">Create password</h2>
        <div class="form__note">Password required to keep your information secure.</div>
    </div>

    <div class="fieldset__fields js-password-container">

        <div class="form-field">
            <label class="label" for="user-password">Password</label>
            <div class="form-field__note form-field__note--left">Between 6 and 20 characters</div>
            <input class="text-input js-password-strength js-register-password"
                   type="password"
                   id="user-password"
                   name="user.password"
                   value=""
                   autocomplete="off"
                   autocapitalize="off"
                   autocorrect="off"
                   spellcheck="false"
                   maxlength="20"
                   data-error-message="Please enter a password"
                   data-validation="length"
                   data-arguments="[6, 20]"/>
        </div>

    </div>

</fieldset>
