@import com.gu.membership.PaidMembershipPlans
@import com.gu.salesforce.PaidTier
@import com.gu.memsub.Current
@import views.support.Pricing._

@(plans: PaidMembershipPlans[Current, PaidTier])

<fieldset class="fieldset js-payment-options-container">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Select payment option</h2>
        <div class="fieldset__note">Price includes VAT</div>
    </div>

    <div class="fieldset__fields">
        <div class="form-field">
            @for(pricing <- plans.allPricing) {
                @fragments.pricing.billingPeriodChoice(pricing)
            }
        </div>

    </div>
</fieldset>
