<fieldset class="fieldset js-subscriber-payment-options-container" hidden>

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Select payment option</h2>
        <div class="fieldset__note">Price includes VAT</div>
    </div>

    <div class="fieldset__fields">

        <div class="form-field">

            <label class="label" for="discountedAnnual">
                <input type="radio"
                       class="is-hidden"
                       name="payment.type"
                       id="discountedAnnual"
                       value="discountedAnnual"  />

                <div class="pseudo-radio">
                    <div class="pseudo-radio__header">Pay nothing for 6 months then £67.50</div>
                </div>

            </label>

            <label class="label" for="discountedMonthly">
                <input type="radio"
                       class="is-hidden"
                       name="payment.type"
                       id="discountedMonthly"
                       value="discountedMonthly" />

                <div class="pseudo-radio">
                    <div class="pseudo-radio__header">Pay nothing for 6 months then £15/month</div>
                </div>
            </label>
        </div>
    </div>
</fieldset>