@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@(plans: MonthYearPlans[PaidMember])

<fieldset class="fieldset js-payment-options-container">

    <div class="fieldset__heading fieldset__heading--no-border">
        <h2 class="fieldset__headline">Payment options</h2>
    </div>

    <div class="fieldset__fields">
        <div class="form-field period-choice">
            @fragments.pricing.billingPeriodChoicePayPal(plans)
        </div>
    </div>
</fieldset>
