@import com.gu.memsub.subsv2.PaidMembershipPlans
@import com.gu.memsub.Benefit.PaidMemberTier
@(plans: PaidMembershipPlans[PaidMemberTier])

<fieldset class="fieldset js-payment-options-container">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Select payment option</h2>
        <div class="fieldset__note">Price includes VAT</div>
    </div>

    <div class="fieldset__fields">
        <div class="form-field">
            @fragments.pricing.billingPeriodChoice(plans)
        </div>
    </div>
</fieldset>
