@import com.gu.memsub.promo.PromoCode
@import views.support.IdentityUser

@(idUser: IdentityUser, promoCode: Option[PromoCode])

@if(idUser.isTestUser) {
    <fieldset class="fieldset checkout-promo-code js-promo-code">
        <div class="fieldset__heading">
            <h2 class="fieldset__headline">Promo code</h2>
        </div>

        <div class="fieldset__fields">
            <div class="form-field">
                <input id="promo-code" name="promoCode" value="@promoCode.map(_.get).getOrElse("")" class="input-text js-input promo-code__input"/>
                <button type="button" class="action js-promo-code-validate">Apply</button>
                <span class="js-promo-feedback-container"></span>
            </div>
        </div>
    </fieldset>
}
