@(
    ctaTextPrepend: String,
    ctaTextAppend: String = "",
    tier: Option[com.gu.membership.salesforce.Tier] = None,
    membershipTermsAndConditions: Boolean = true,
    isSlim: Boolean = false
)

@import views.support.Asset
@import model.Benefits
@import configuration.Config

<fieldset class="fieldset fieldset--simple">
    <div class="fieldset__heading"></div>

    <div class="fieldset__fields fieldset__fields--no-padding">

    @if(membershipTermsAndConditions){
        <p class="ts-and-cs">By joining Guardian Membership, you are agreeing to our
            <a href="@Config.guardianMembershipTermsUrl" class="text-link" target="_blank">Terms and Conditions</a> and
            <a href="@Config.guardianPrivacyUrl" class="text-link" target="_blank">Privacy Policy</a>.
        </p>
    }

        <div class="actions js-waiting-container">
            <button type="submit" class="action js-submit-input">
            @Html(tier.fold(ctaTextPrepend)(tier =>
                ctaTextPrepend + " £<span class=\"js-submit-price-option\">" +
                    Benefits.details(tier).pricing.fold(0)(_.yearly) + "</span> " + ctaTextAppend
            ))
            </button>
            <div class="i-wait">
                <img class="i-wait__throbber" src="@Asset.at("images/wait.gif")" alt=""/>
                <span class="i-wait__message js-waiting-message"></span>
            </div>
        </div>

    </div>
</fieldset>
