@(ctaText: String)
@import views.support.Asset

<fieldset class="fieldset">
    <div class="fieldset__heading"></div>
    <div class="fieldset__fields">
        <div class="actions js-waiting-container">
            <button type="submit" class="submit-input action action--logged-in js-submit-input">@ctaText</button>
            <div class="i-wait">
                <img class="i-wait__throbber" src="@Asset.at("images/wait.gif")" alt=""/>
                <span class="i-wait__message js-waiting-message"></span>
            </div>
        </div>
    </div>
</fieldset>
