<fieldset class="fieldset">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Subscribers pay nothing for 6 months</h2>
    </div>


    <div class="fieldset__fields">

        <div class="form-field">
            <label class="label optional-marker" for="casId">Subscriber account number</label>
            <input type="text"
                   name="casId"
                   id="casId"
                   value=""
                   class="input-text js-subscriber-id-input" />
            <button class="action js-subscriber-id-submit"> Apply discount </button>
            @fragments.form.errorMessage("There has been an error supplying your subscriber ID.")
        </div>
    </div>

</fieldset>