@import configuration.Email

<fieldset class="fieldset">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Subscribers pay nothing<br /> for six months</h2>
        <div class="fieldset__note">
            <button class="u-button-reset js-toggle"
                    data-toggle-label="Hide"
                    data-toggle="js-sub-offer-help"
                    data-metric-trigger="click"
                    data-metric-category="registration"
                    data-metric-action="toggle-subscriber-help"
                    data-toggle-icon="triangle-up">
                @fragments.inlineIcon("triangle-down", Seq("u-align-right"))
                Need help redeeming this offer?
            </button>
            <div id="js-sub-offer-help" data-toggle-hidden>
                <p><strong>Email</strong> <a href="mailto:@Email.membershipSupport">@Email.membershipSupport</a></p>
                <p><strong>Call</strong> 0330 333 6898</p>
                <p>(Lines open 08:00 to 17:30 Mon - Fri, 08.30 to 12.30 weekends)</p>
            </div>
        </div>
    </div>


    <div class="fieldset__fields">

        <div class="form-field">
            <label class="label optional-marker" for="casId">Subscriber account number</label>
            <input type="text"
                   name="casId"
                   id="casId"
                   value=""
                   class="input-text js-subscriber-id-input" />
            <button class="action js-subscriber-id-submit l-pad-vertical"> Apply discount </button>
            @fragments.form.errorMessage("There was an error applying your discount, please try again.")
        </div>
    </div>

</fieldset>
