@import configuration.Links
@import com.gu.i18n.CountryGroup
@import configuration.CopyConfig.usLegalTerms

@(countryGroup: CountryGroup, monthlyContribution: Boolean = false)

<p class="ts-and-cs">@if(monthlyContribution){By proceeding,} else {By joining Guardian Members,} you are agreeing to our
    <a href="@if(monthlyContribution){@Links.monthlyContributionTerms}else{@Links.membershipTerms(Some(countryGroup))}" class="text-link" target="_blank">Terms and Conditions</a> and
    <a href="@Links.guardianPrivacyPolicy" class="text-link" target="_blank">Privacy Policy</a>.
</p>


@if(Seq("us","um","vi").contains(countryGroup.id.toLowerCase)) {
    <div class="us-legal">@usLegalTerms</div>
} else {
    <div class="us-legal is-hidden">@usLegalTerms</div>
}
