@import configuration.Links
@import com.gu.i18n.CountryGroup
@import configuration.CopyConfig.usLegalTerms

@(countryGroup: Option[CountryGroup] = None)

<p class="ts-and-cs">By joining Guardian Members, you are agreeing to our
    <a href="@Links.membershipTerms(countryGroup)" class="text-link" target="_blank">Terms and Conditions</a> and
    <a href="@Links.guardianPrivacyPolicy" class="text-link" target="_blank">Privacy Policy</a>.
</p>

@countryGroup.map{ cg =>
    @if(Seq("us","um","vi").contains(cg.id.toLowerCase)) {
        <div class="us-legal">@usLegalTerms</div>
    } else {
        <div class="us-legal is-hidden">@usLegalTerms</div>
    }
}
