// =============================================================================
// Mixins
// =============================================================================

@mixin disable-user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Vertical linear gradient with a plain fallback for older browsers
@mixin simple-gradient($from, $until) {
    // Fix for browsers not understanding transparent
    @if $from == transparent {
        $from: transparentize($until, 1);
    }

    @if $until == transparent {
        $until: transparentize($from, 1);
    }
    background-color: $from;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($until));
    background-image: -webkit-linear-gradient($from, $until);
    background-image: linear-gradient(to bottom, $from, $until);
}

@function aspect-ratio-height($x, $y, $startingWidth: 100%) {
    @return ($y / $x) * $startingWidth;
}

@mixin fix-aspect-ratio($x, $y, $startingWidth: 100%) {
    // To get this working, position the child element
    // to 'absolute' in the top left corner
    width: $startingWidth;
    padding-bottom: aspect-ratio-height($x, $y, $startingWidth);
    position: relative;
    overflow: hidden;
}

// Hide content visually, still readable by screen readers
@mixin u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

@mixin image-replacement {
    direction: ltr;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// Clamps a block of text to a certain number of lines,
// followed by an ellipsis in Webkit and Blink based browsers
// Reference: http://dropshado.ws/post/1015351370/webkit-line-clamp
@mixin text-clamp($lines: 2, $line-height: false) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;

    // Fallback for non-Webkit browsers
    // (won't show `…` at the end of the block)
    @if $line-height {
        max-height: rem($line-height * $lines);
    }
}

// icon button (circular element containing an offset/centered icon)
@mixin icon-button($buttonSize, $iconOffsetX, $iconOffsetY: null) {
    width: $buttonSize;
    height: $buttonSize;
    @include border-radius($buttonSize);
    position: relative;
    display: inline-block;

    .i {
        position: absolute;
        text-indent: rem(-9999px);
        top: 50%;
        left: 50%;
        margin-top: $iconOffsetX;
        margin-left: if(not $iconOffsetY, $iconOffsetX, $iconOffsetY);
    }
}

// Micro clearfix (http://nicolasgallagher.com/micro-clearfix-hack/)
@mixin clearfix {
    &:after,
    &:before {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
    @if $old-ie {
        zoom: 1;
    }
}

@mixin radio-circle($colour: $mem-brandBlue) {
    @include border-radius (50%);
    content: ' ';
    background-color: $colour;
    width: rem($gs-baseline + 4);
    height: rem($gs-baseline + 4);
    display: block;
    position: absolute;
    left: rem($gs-baseline);
    top: rem($gs-gutter + 1);
}
