@(twitterLink: String, showFormLink: Boolean)
<section class="header-bar">
    <h2 class="header-bar__title">
        For updates on future live and online events please follow us on
        @if(showFormLink) {
            <a href="@twitterLink">Twitter</a>,
            <a href="https://www.theguardian.com/guardian-masterclasses/2015/jan/19/sign-up-to-the-guardian-masterclasses-newsletter">sign up to our newsletter</a>,
            or express your interest in future events <a href="https://guardiannewsampampmedia.formstack.com/forms/masterclasses__express_your_interest_in_this_course">here</a>.
        } else {
            <a href="@twitterLink">Twitter</a> or
            <a href="https://www.theguardian.com/guardian-masterclasses/2015/jan/19/sign-up-to-the-guardian-masterclasses-newsletter">sign up to our newsletter</a>.
        }
    </h2>
</section>
