@(event: model.Eventbrite.EBEvent)
@import views.support.Dates._
@import model.Eventbrite.EBEventStatus._

<div class="events-list__item">
    <h1>I'm a hero event</h1>
    <div class="item item--has-image">
        <div class="item__container">
            <a href="/event/@event.id">
                <div class="item__media-wrapper">
                    <div class="item__image-container event-image-container">
                    @if(event.getStatus == SoldOut){
                        <span class="event-status event-status--sold-out">Sold Out</span>
                    }
                        <img src="@event.logoUrl" alt="Event Image">
                    </div>
                </div>
                <h2 class="item__title truncate">
                    @event.name.text
                </h2>
            </a>
            <div class="item__meta">
                <time class="item__timestamp js-item__timestamp">
                    <i class="i i-clock-light-grey"></i>
                    <div class="event__location"><span class="icon location--icon"></span>@event.venue.name</div>
                    <div class="event__time"><span class="icon time--icon"></span>@event.start.pretty</div>
                </time>
            </div>
        </div>
    </div>
</div>
