@(event: model.RichEvent.RichEvent)

@import com.gu.membership.salesforce.Tier
@import model.Eventbrite.EBTicketClass

<div class="event-info@if(event.isBookable && event.metadata.largeImg) { event-info--bordered tone-border-@event.metadata.identifier } @if(!event.isBookable) { event-info--unavailable}">

    @if(!event.isBookable) {
        <div class="status-panel">
            <div class="status-panel__header">
                @if(event.isPastEvent) { Past event } else { Sold out }
            </div>
            @if(!event.isPastEvent) {
                <div class="status-panel__content">
                    @fragments.event.waitlist(event, List("u-no-margin"))
                </div>
            }
        </div>
    }

    <div class="event-info__inner">

        <h4 class="event-info__name" itemprop="name">@event.name.text</h4>

        <div class="stats-listing">
            @fragments.event.stats(event)
            @* TODO: Make part of event stats *@
            @for(ticketing <- event.internalTicketing if event.isBookable) {
                @fragments.event.ticketSales(event, ticketing)
            }
        </div>

         @for(ticketing <- event.internalTicketing) {
            @fragments.pricing.priceInfoEvent(event)
            @if(event.isBookable) {
                @fragments.event.ticketCta(event)
                @fragments.event.terms(event, List("event-info__terms"))
                @if(ticketing.isCurrentlyAvailableToPaidMembersOnly) {
                    <a class="action js-member-cta" href="@routes.Joiner.tierList">Become a member</a>
                }
            }
        }
    </div>
</div>
