@(event: model.RichEvent.RichEvent)

<div class="event-info@if(event.isBookable && event.hasLargeImage) { event-info--bordered tone-border-@event.metadata.identifier } @if(!event.isBookable) { event-info--unavailable}">

    @if(!event.isBookable) {
        <div class="status-panel">
            <div class="status-panel__header">
                @if(event.isPastEvent) { Past event } else { Sold out }
            </div>
            @if(!event.isPastEvent) {
                <div class="status-panel__content">
                    @fragments.event.waitlist(event)
                </div>
            }
        </div>
    }

    <div class="event-info__inner">

        <h4 class="event-info__name">@event.name.text</h4>

        <div class="stats-listing">
            @fragments.event.stats(event, showTicketSales=true)
        </div>

         @for(ticketing <- event.internalTicketing) {
            @fragments.pricing.priceInfoEvent(event, showLimited=true)
            @if(event.isBookable) {
                <div class="l-pad-vertical">
                    @fragments.event.ticketCta(event)
                </div>
                <div class="event-info__terms copy">
                    @fragments.event.terms(event)
                </div>
            }
        }
    </div>
</div>
