@(event: model.Eventbrite.EBEvent)
@import views.support.Dates._
@import configuration.Config
@import model.Eventbrite._

<div class="event-summary">
    <div class="event-item__media">
        <div class="delayed-image-load" data-src="@Config.eventImageUrlPath(event.id)/{width}{pixel_ratio}.jpg" data-alt="@event.name.text" data-class="responsive-img"></div>
    </div>@*

        // Inline-block whitespace

     *@<div class="event-item__meta">
        <h2 class="event-item__title">
            @if(event.getStatus == SoldOut){
                <span class="event-status--sold-out">Sold Out</span>
            }
            @event.name.text
        </h2>

        <div class="event-item__time">
            <i class="icon-sprite icon-sprite-early_booking-grey"></i>
            <time datetime="@event.start">@prettyDateWithTimeAndDayName(event.start)</time>
        </div>

        <div class="event-item__location">
            <i class="icon-sprite icon-sprite-location"></i>
            @if(event.venue.name){
                <span class="event-item__location-name">@event.venue.name </span>
            }
            @for(address <- event.venue.address) {
                <span class="event-item__location-address">@address.address_1 </span>
                <span class="event-item__location-city">@address.city @address.postal_code </span>
            }
        </div>
    </div>
</div>
