@(event: model.RichEvent.RichEvent, isCard: Boolean = false)

@import model.SVG.ClipPath.randomThumbnailIndex

@sizesVal = @{ if(isCard) "10vw" else "(min-width: 739px) 25vw, (min-width: 479px) 50vw, 100vw"  }

<a href="@routes.Event.details(event.slug)" class="event-item event-item--clippath-@randomThumbnailIndex.toString @if(isCard){ event-item--card} else { event-item--minimal}">
    @for(img <- event.imgOpt) {
        <div class="event-item__media">
            @fragments.event.image(img, sizes=Some(sizesVal))
        </div>
    }
    <div class="event-item__content">
        <div class="event-item__meta">
            @fragments.event.itemMetaTitle(event)
        </div>
    </div>
</a>
