@(event: model.RichEvent.RichEvent, isFeatured: Boolean = false)

@import scala.util.Random
@import views.support.Dates.dateRange
@import views.support.RenderClasses

@itemMedia(sizes: Option[String]) = {
    @for(img <- event.imgOpt) {
        <div class="event-item__media">
            @fragments.event.image(img, sizes, !isFeatured)
        </div>
    }
}

@itemContent = {
    <div class="event-item__content">
        <div class="event-item__meta">
            @fragments.event.itemMetaTitle(event)
            <time class="event-item__time" datetime="@event.start">
                @dateRange(event.startAndEnd)
            </time>
            @for(addressShortLine <- event.venue.addressShortLine) {
                <div class="event-item__location">
                    @addressShortLine
                </div>
            }
            <div class="event-item__brand">@event.metadata.brand</div>
            @for(desc <- event.description if isFeatured) {
                <div class="event-item__description">
                    @desc.blurb
                </div>
            }
        </div>
    </div>
}

<a href="@routes.Event.details(event.slug).url" class="@RenderClasses(Map(
    ("event-item", true),
    ("event-item--hero", isFeatured),
    ("qa-available-event-item", event.isBookable),
    (s"event-item--clippath-${Random.nextInt(2)}", true)
))">
    @if(isFeatured) {
        @itemContent
        @itemMedia(Some("(min-width: 739px) 33.3vw, 100vw"))
    } else {
        @itemMedia(Some("(min-width: 739px) 33.3vw, (min-width: 479px) 50vw, 20vw"))
        @itemContent
    }
</a>
