@(event: model.RichEvent.RichEvent, classes: Seq[String] = Seq.empty)

<a href="@routes.Event.details(event.slug)"
   class="event-item event-item--list @if(event.isBookable){ qa-available-event-item} @classes.mkString(" ")">
    @for(img <- event.imgOpt) {
        <div class="event-item__media">
            <img src="@img.smallestImage" alt="@img.altText" class="responsive-img">
        </div>
    }
    <div class="event-item__content">
        @fragments.event.itemMetaTitle(event)
        @for(addressShortLine <- event.venue.addressShortLine) {
            <div class="event-item__meta">
                <div class="event-item__location">
                    @addressShortLine
                </div>
            </div>
        }
    </div>
</a>
