@(event: model.RichEvent.RichEvent)

@import views.support.Dates._

<a href="@routes.Event.details(event.slug)" class="event-item event-item--hero@if(event.isBookable){ qa-available-event-item}" itemscope itemtype="http://schema.org/Event">
    <meta itemprop="url" content="@event.memUrl">
    <div class="event-item__content">
        <div class="event-item__meta">
            @fragments.event.itemMetaTitle(event)
            <div class="event-item__time" itemprop="startDate" content="@event.start">@event.start.pretty</div>
            <div class="event-item__location" itemprop="location" itemscope itemtype="http://schema.org/Place">
                @fragments.event.addressSummary(event)
            </div>
            @for(desc <- event.description) {
                <div class="event-item__description" itemprop="description">
                    @desc.blurb
                </div>
            }
            <div class="event-item__footer">
                @fragments.pricing.priceInfoEvent(event)
                <span class="action-proceed event-item__action"></span>
            </div>
        </div>
    </div>
    <div class="event-item__media">
        @fragments.event.image(event, lazyLoad=false)
    </div>
</a>
