@(event: model.Eventbrite.EBEvent)
@import views.support.Dates._
@import configuration.Config
@import model.Eventbrite._

<div class="event-summary">
    <div class="event-item__media">
        <div class="delayed-image-load" data-src="@Config.eventImageUrlPath(event.id)/{width}{pixel_ratio}.jpg" data-alt="@event.name.text" data-class="responsive-img"></div>
    </div>
    <div class="event-item__meta">
        <h2 class="event-item__title">
            @if(event.isSoldOut){
                <span class="event-status--sold-out">Sold Out</span>
            }
            @event.name.text
        </h2>

        <div class="event-item__detail">
            <i class="icon-early_booking-grey event-item__icon"></i>
            <time datetime="@event.start">@prettyDateWithTimeAndDayName(event.start)</time>
        </div>

        <div class="event-item__detail">
            <i class="icon-location event-item__icon"></i>
            @if(event.venue.name){
                <span class="event-item__location-name">@event.venue.name </span>
            }
            @for(location <- event.venue.address) {
                <span class="event-item__location-detail">@location.address_1 </span>
                <span class="event-item__location-detail">@location.city @location.postal_code </span>
            }
        </div>
    </div>
</div>
