@(event: model.RichEvent.RichEvent)

@import scala.util.Random
@import views.support.Dates.dateRange

<a href="@routes.Event.details(event.slug)" class="event-item event-item--clippath-@Random.nextInt(2) event-item--hero@if(event.isBookable){ qa-available-event-item}">
    <div class="event-item__content">
        <div class="event-item__meta">
            @fragments.event.itemMetaTitle(event)
            <time class="event-item__time" datetime="@event.start">
                @dateRange(event.startAndEnd)
            </time>
            @for(addressDefaultLine <- event.venue.addressDefaultLine) {
                <div class="event-item__location">
                    @addressDefaultLine
                </div>
            }
            @for(desc <- event.description) {
                <div class="event-item__description">
                    @desc.blurb
                </div>
            }
        </div>
    </div>
    @for(img <- event.imgOpt) {
        <div class="event-item__media">
            @fragments.event.image(img, lazyLoad=false)
        </div>
    }
</a>
