@(event: model.RichEvent.RichEvent)

@import scala.util.Random
@import views.support.Dates.dateRange

<a href="@routes.Event.details(event.slug)" class="event-item event-item--clippath-@Random.nextInt(2).toString event-item--list @if(event.isBookable){ qa-available-event-item}">
    @for(img <- event.imgOpt) {
        <div class="event-item__media">
            @fragments.event.image(img, sizes=Some("(min-width: 739px) 33.3vw, (min-width: 479px) 50vw, 100vw"))
        </div>
    }
    <div class="event-item__content">
        @fragments.event.itemMetaTitle(event)
        <div class="event-item__meta">
            <time class="event-item__time" datetime="@event.start">
                @dateRange(event.startAndEnd)
            </time>
            <div class="event-item__location">
                @event.venueDescription
            </div>
        </div>
        @fragments.pricing.priceInfoEvent(event)
        <span class="event-item__action">
            @fragments.inlineIcon("arrow-circle", List("icon-inline--brand", "icon-inline--large"))
        </span>
    </div>
</a>
