@(title: String, events: Seq[model.RichEvent.RichEvent])
@import configuration.Config
@import model.Eventbrite.{ExternalTicketing, InternalTicketing}
@import model.RichEvent.{LocalEvent, GuLiveEvent, MasterclassEvent}

@eventTrait(text: String, identifier: String = "") = {
    <li class="event-trait@if(identifier){ @(s"event-trait--$identifier")}">
    @text
    </li>
}

@previewUrlSubCategory(eventOpt: Option[model.RichEvent.RichEvent]) = @{
    eventOpt.fold("") { event =>
        event match {
            case _: GuLiveEvent => "event"
            case _: MasterclassEvent => "masterclass"
            case _: LocalEvent => "local"
        }
    }
}

@defining(previewUrlSubCategory(events.headOption)) { previewSubCategory =>

    <section class="utils-page-section">
        <h2 class="utils-page-section-header">@title</h2>
        @if(events.isEmpty){
            <p>Sorry, no matching @title were found.</p>
        } else {
            <ul class="events-overview u-unstyled u-cf">
            @for(event <- events) {
                <li class="event-item">
                    <article class="event-detail">
                        <div>
                            <div class="event-detail_image">
                                <a href="/event/@event.id" target="_blank">
                                    @event.imgOpt.fold {
                                        <img
                                            src="data:image/gif;base64,R0lGODdhQAHAAIAAAMzMzJaWliwAAAAAQAHAAAAC/oSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gvH8kzX9o3n+s73/g8MCofEovGITCqXzKbzCY1Kp9Sq9YrNarfcrvcLDovH5LL5jE6r1+y2+w2Py+f0uv2Oz+v3/L7/DxgoOEhYaHiImKi4yNjo+AgZKTlJWWl5iZmpucnZ6fkJGio6SlpqeoqaqrrK2ur6ChsrO0tba3uLm6u7y9vr+wscLDxMXGx8jJysvMzc7PwMHS09TV1tfY2drb3N3e39DR4uPk5ebn6Onq6+zt7u/g4fLz9PX29/j5+vv8/f7/8PMKDAgQQLGjyIMKHChQwbOnwIMaLEiRQrWryIMaPGVI0cO3r8CDKkyJEkS5o8iTKlypUsW7p8CTOmzJk0a9q8iTOnzp08e/r8CTSo0KFEixo9ijSp0qVMmzp9CjWq1KlUq1q9ijWr1q1cu3r9Cjas2AkFAAA7"
                                            alt="@event.name.text" class="responsive-img"
                                        />
                                    } { img =>
                                        <img src="@img.defaultImage"" alt="@event.name.text" class="responsive-img"/>
                                    }
                                    <span class="pseudo-link event-detail-title">@event.name.text</span>
                                </a>
                            </div>
                            <div class="event-detail_info">
                                <a href="@(s"${Config.membershipUrl}/preview-${previewSubCategory}/${event.id}")"
                                   target="_blank"
                                   class="event-sub-detail">preview</a>
                                <a href="@(s"https://dashboard.ophan.co.uk/info?url=${event.memUrl}")"
                                   target="_blank"
                                   class="event-sub-detail">ophan</a>
                                <a href="@(s"${Config.eventbriteUrl}/myevent?eid=${event.id}")"
                                   target="_blank"
                                   class="event-sub-detail">eventbrite</a>
                            </div>
                        </div>
                        <ul class="event-trait-container u-unstyled">
                        @event.ticketing.collect {
                            case ExternalTicketing => {
                                @eventTrait("Not Sold though Eventbrite", "noteworthy")
                            }
                            case ticketing: InternalTicketing => {

                                @if(!ticketing.hasFreeMembersTickets && event.isInstanceOf[GuLiveEvent]) {
                                    @eventTrait("Member's ticket", "important")
                                }

                                @if(ticketing.isFree) {
                                    @eventTrait("Free Event", "moderate")
                                }

                                @if(ticketing.isPossiblyMissingDiscount) {
                                    @eventTrait("No Discount", "important")
                                }

                                @if(ticketing.isSoldOut) {
                                    @eventTrait("Sold out")
                                }

                                @for(discountTicketing <- ticketing.memberDiscountOpt) {
                                    @if(discountTicketing.nonStandardSaving) {
                                        @eventTrait(s"${discountTicketing.roundedSavingPercentage}% discount", "important")
                                    }
                                    @if(event.deficientGuardianMembersTickets) {
                                        @eventTrait("Fewer discount tickets than general", "important")
                                    }
                                }
                            }
                        }
                        </ul>
                    </article>
                </li>
            }
            </ul>
        }
    </section>
}
