@(event: model.RichEvent.RichEvent)

@import com.gu.contentapi.client.model.Asset

@for(content <- event.contentOpt) {
    <h4 class="h-section h-section--secondary">More about this event</h4>
    <div class="related-entry block-hover">
        <a href="@content.webUrl" class="minimal-link no-underline">
            <div class="related-entry__media block-hover__media">
                @for(image <- event.pastImageOpt) {
                    <img src="@image.file" alt="" class="responsive-img" />
                }
            </div>
            <div class="related-entry__content">
                <h3 class="related-entry__title">
                    @content.webTitle
                </h3>
            </div>
        </a>
    </div>
}
