@(event: model.RichEvent.RichEvent)

@for(content <- event.content) {
    <div class="related-entry block-hover">
        <a href="@content.webUrl" class="minimal-link no-underline">
            <div class="related-entry__media block-hover__media">
                <img src="http://placehold.it/600x360" alt="" class="responsive-img" />
            </div>
            <div class="related-entry__content">
                <h3 class="related-entry__title">
                    @content.webTitle
                </h3>
            </div>
        </a>
    </div>
}
