@(event: model.Eventbrite.RichEvent, showTime: Boolean = true, showLocation: Boolean = true)

@import views.support.Dates._

<div class="stats-listing">
    @if(showTime) {
        <div class="stat-item">
            <div class="stat-item__first">
                <i class="icon icon-early_booking"></i>
            </div>
            <div class="stat-item__second">
                <span itemprop="startDate" content="@event.start">@prettyDateWithTimeAndDayName(event.start)</span>
            </div>
        </div>
    }
    @if(showLocation) {
        <div class="stat-item">
            <div class="stat-item__first">
                <i class="icon icon-location"></i>
            </div>
            <div class="stat-item__second">
                @if(event.venue.name) { @event.venue.name }
                @for(location <- event.venue.address) {
                    @if(event.venue.name){, } @location.city, @location.postal_code
                }
            </div>
        </div>
    }
</div>
