@(event: model.RichEvent.RichEvent)

@import views.support.Dates._


<div class="stat-item">
    <div class="stat-item__first">
        @fragments.inlineIcon("time", List("icon-inline--medium", "icon-inline--top", "icon-inline--neutral"))
    </div>
    <div class="stat-item__second">
        <span itemprop="startDate" content="@event.start">@prettyDateWithTimeAndDayName(event.start)</span>
    </div>
</div>
<div class="stat-item">
    <div class="stat-item__first">
        @fragments.inlineIcon("location", List("icon-inline--medium", "icon-inline--top", "icon-inline--neutral"))
    </div>
    <div class="stat-item__second copy" itemprop="location" itemscope itemtype="http://schema.org/Place">
        @if(event.venue.name) {@event.venue.name}@if(event.venue.address){, }
        @for(location <- event.venue.address) {
            @location.city @location.postal_code
        }
        @for(googleMapsLink <- event.venue.googleMapsLink) {
            <div class="google-map">
                <a href="@googleMapsLink"
                   data-metric-trigger="click"
                   data-metric-category="events"
                   data-metric-action="map">Google map</a>
            </div>
        }
    </div>
</div>
