@(event: model.RichEvent.RichEvent, showTicketSales: Boolean = false)

@import views.support.Dates.dateTimeRange

@* Event start time *@
<div class="stat-item">
    <div class="stat-item__first">
        @fragments.inlineIcon("time", List("icon-inline--medium", "icon-inline--top", "icon-inline--neutral"))
    </div>
    <div class="stat-item__second">
        <span class="qa-event-detail-datetime">
            @dateTimeRange(event.underlying.ebEvent.startAndEnd)
        </span>
    </div>
</div>

@* Event locations *@
<div class="stat-item">
    <div class="stat-item__first">
        @fragments.inlineIcon("location", List("icon-inline--medium", "icon-inline--top", "icon-inline--neutral"))
    </div>
    <div class="stat-item__second copy">
        @for(addressDefaultLine <- event.underlying.ebEvent.venue.addressDefaultLine) {
            @addressDefaultLine
        }
        @for(googleMapsLink <- event.underlying.ebEvent.venue.googleMapsLink) {
            <div class="stat-item__supplementary copy">
                <a href="@googleMapsLink">Google map</a>
            </div>
        }
    </div>
</div>

@* Event ticket sale dates *@
@if(showTicketSales && event.canHavePriorityBooking) {
    @for(ticketing <- event.underlying.internalTicketing if event.underlying.isBookable) {
        <div class="stat-item">
            <div class="stat-item__first">
                @fragments.inlineIcon("tickets", List("icon-inline--medium", "icon-inline--top", "icon-inline--neutral"))
            </div>
            <div class="stat-item__second">
                @fragments.event.ticketSales(ticketing)
            </div>
        </div>
    }
}
