@(event: model.RichEvent.RichEvent, ticketing: model.Eventbrite.InternalTicketing)

@import views.support.Dates._
@import org.joda.time.Instant
@import model.RichEvent._
@import com.gu.membership.salesforce.Tier

@ticketDateForTier(tier: Tier, salesDate: Instant, needToDisplayTimes: Boolean) = @{
    Html(s"<time class='js-ticket-sale-start-${tier.slug}' datetime='$salesDate' itemprop='availabilityStarts' content='$salesDate'>${salesDate.pretty(needToDisplayTimes)}</time>")
}

@ticketEndSaleDate(endSalesDate: Instant, needToDisplayTimes: Boolean) = @{
    Html(s"<time datetime='$endSalesDate'>${endSalesDate.pretty(needToDisplayTimes)}</time>")
}

<div class="ticket-sales" itemprops="offers" itemscope itemtype="http://schema.org/AggregateOffer">
    <span class="ticket-sales__header">Ticket release dates</span>
    @if(ticketing.salesDates.anyoneCanBuyTicket) {
        <button class="ticket-sales__toggle u-button-reset u-align-right js-toggle"
                data-toggle-label="Hide"
                data-toggle="js-event-ticket-dates-@event.id">
            Show
        </button>
    }
    <ul class="ticket-sales__list u-unstyled"
        id="js-event-ticket-dates-@event.id"
        @if(ticketing.salesDates.anyoneCanBuyTicket) { data-toggle-hidden}
    >
        @for(tier <- Seq(Tier.Patron, Tier.Partner, Tier.Friend)) {
            <li class="ticket-sales__item" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="eligibleCustomerType" content="@tier">
                <meta itemprop="availabilityEnds" content="@ticketing.salesDates.datesByTier(tier)">
                <span class="ticket-sales__item__label">@(tier + "s")</span>
                <span class="ticket-sales__item__date">
                    @ticketDateForTier(tier, ticketing.salesDates.datesByTier(tier), ticketing.salesDates.needToDistinguishTimes)
                </span>
            </li>
        }
    </ul>
    <ul class="ticket-sales__list u-unstyled">
        <li class="ticket-sales__item">
            <span class="ticket-sales__item_label">Sale ends</span>
            <span class="ticket-sales__item__date">
                @ticketEndSaleDate(ticketing.salesEnd, ticketing.salesDates.needToDistinguishTimes)
            </span>
        </li>
    </ul>
</div>
