@(ticketing: model.Eventbrite.InternalTicketing)

@import org.joda.time.Instant
@import com.gu.membership.salesforce.Tier
@import views.support.Dates._

@ticketSalesItem(label: String)(content: Html) = {
    <li class="ticket-sales__item">
        <span class="ticket-sales__item__label">@label</span>
        <span class="ticket-sales__item__date">
            @content
        </span>
    </li>
}

@ticketDateForTier(tier: Tier, salesDate: Instant, needToDisplayTimes: Boolean) = {
    <time class="js-ticket-sale-start-@tier.slug" datetime="@salesDate">
        @salesDate.prettyWithoutYear(needToDisplayTimes)
    </time>
}

<div class="ticket-sales">
    <span class="ticket-sales__header">Tickets</span>

    <h1>BOO:         @ticketing.salesDates
    </h1>


    <ul class="ticket-sales__list u-unstyled">


        @ticketSalesItem("Partners & Patrons") {
            @ticketDateForTier(Tier.Patron, ticketing.salesDates.datesByTier(Tier.Patron), ticketing.salesDates.needToDistinguishTimes)
        }
        @ticketSalesItem("General release") {
            @ticketDateForTier(Tier.Friend, ticketing.salesDates.datesByTier(Tier.Friend), ticketing.salesDates.needToDistinguishTimes)
        }
        @ticketSalesItem("Sale ends") {
            <time class='qa-event-detail-sales-end' datetime="@ticketing.salesEnd">
                @ticketing.salesEnd.prettyWithoutYear(ticketing.salesDates.needToDistinguishTimes || ticketing.salesEnd.isContemporary())
            </time>
        }
    </ul>

</div>
