@import model.OrientatedImages
@import configuration.Videos

<div class="l-constrained elevated-closer-guardian-body">
    <div class="elevated-closer-guardian-body__col elevated-closer-guardian-body__video">
        <div class="video-preview video-preview--plain">
            <div class="video-preview__video ">
            @fragments.media.videoPlayer(Videos.supporters)
            </div>
        </div>
    </div><div class="elevated-closer-guardian-body__col">
        <div class="elevated-closer-guardian-body__content">
            <div class="elevated-closer-guardian-body__title">
	            <h1 class="elevated-closer-guardian-body__title__h1">Supporters get closer</h1>
	            <h1 class="elevated-closer-guardian-body__title__h1">to the Guardian</h1>
            </div>
            <div class="elevated-closer-guardian-body__list">As a Guardian Supporter, you’ll enjoy a number of benefits, including:
            <ul>
	            <li><strong>Exclusive emails from Guardian journalists</strong></li>
	            <li><strong>An ad-free experience on our mobile app</strong></li>
	            <li><strong>A weekly look "Inside the Guardian" for our Members</strong></li>
	            <li><strong>Joining the global Guardian Members community</strong></li>
	            <li><strong>A welcome gift</strong></li>
            </ul>
            Most importantly of all, you’ll appreciate every word that you read, in the knowledge that you’ve helped to bring it to the page.</div>
        </div>
	</div>
</div>
