@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@import com.gu.memsub.subsv2.MonthYearPlans
@import abtests.PayPalTestVariants
@import views.support.Asset
@import views.support.MembershipCompat._
@import views.support.Pricing._
@import com.gu.memsub.{ Month, Year}

@(  supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    dataLabel : String)

    @defining(supporterPlans.pricingByCurrencyOrGBP(countryGroup.currency)) { pricing =>
        <a class="elevated-button action action--no-icon"

            data-metric-trigger="click"
            data-metric-category="Supporter Landing Page @countryGroup.id"
            data-metric-action="cta click"
            data-metric-label="@dataLabel"

            href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier, countryGroup=countryGroup, paypalTest = Some(PayPalTestVariants.allocateVariant()))}">
            <div class="elevated-button__text ">
                Become a Supporter <br/>
                <span class="elevated-button--pricing-placeholder">for @pricing.getPhrase(Month())</span>
            </div>

            <div class="elevated-button__icon">
                <div class="elevated-button__icon__border">
                @for(icon <- Asset.inlineSvg("arrow-right-button")) {
                    @icon
                }
                </div>
            </div>
        </a>
    }
