@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@import com.gu.memsub.subsv2.MonthYearPlans
@import views.support.Asset
@import views.support.MembershipCompat._
@import views.support.Pricing._
@import com.gu.memsub.{BillingPeriod, Month, Year, Price}

@(  supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    dataLabel : String)

    @defining(supporterPlans.pricingByCurrencyOrGBP(countryGroup.currency)) { pricing =>
        <a class="elevated-button action action--no-icon"

            data-metric-trigger="click"
            data-metric-category="Supporter Landing Page @countryGroup.id"
            data-metric-action="cta click"
            data-metric-label="@dataLabel"

            href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier)}?countryGroup=@countryGroup.id">
            <div class="elevated-button__text ">
                Become a Supporter <br/>
                    <span class="elevated-button--pricing-placeholder" style="visibility:hidden">for
                    @{
                        pricing.monthly.pretty + " a " + Month().noun
                    }</span><span class="elevated-button--pricing-monthly" style="display:none">for
                    @{
                        pricing.monthly.pretty + " a " + Month().noun
                    }</span><span class="elevated-button--pricing-annual" style="display:none">for
                    @{
                        pricing.yearly.pretty + " a " + Year().noun
                    }
                    </span>
            </div>
            <div class="elevated-button__icon">
                <div class="elevated-button__icon__border">
                @for(icon <- Asset.inlineSvg("arrow-right-button")) {
                    @icon
                }
                </div>
            </div>
        </a>
    }
