@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@import model.OrientatedImages

@(  image: OrientatedImages,
	supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    showCurrencyPrefix: Boolean,
    title: Html,
    pricingType: Option[String]
)(body: Html)

<section class="elevated-why-support-section l-constrained">
    @fragments.page.elevatedWhySupportBody(image, title)(body)
    @fragments.page.elevatedFooterButton(supporterPlans, countryGroup, "Bottom Button", showCurrencyPrefix, pricingType= pricingType)
</section>

