@import model.OrientatedImages

@( image: OrientatedImages )

<div class="l-constrained elevated-why-support-body">
    <div class="elevated-why-support-body__title u-content-width--left">
        Why do we need<br>our Supporters?
    </div>
    <div class="elevated-why-support-body__col elevated-why-support-body__col--img u-content-width--right">
        <img class="elevated-why-support-body__col__img" src="@image.landscape.defaultImage" />
        <p class="elevated-why-support-body__caption">The Guardian newsroom during a busy afternoon</p>
    </div><div class="elevated-why-support-body__col u-content-width--left">    
        <p class="elevated-why-support-body__paragraph u-responsive-p">Like many other media organisations, the Guardian is operating in an incredibly challenging financial climate. Our advertising revenues are falling fast. We have huge numbers of readers, and we are increasingly reliant upon their financial support.</p>

        <p class="elevated-why-support-body__paragraph u-responsive-p">We don’t have a wealthy owner pulling the strings. No shareholders, advertisers or billionaire owners can edit our editor.</p>

        <p class="elevated-why-support-body__paragraph u-responsive-p">Our owner, the Scott Trust, safeguards our editorial independence from commercial or political interference. It reinvests revenue into our journalism, as opposed to into shareholders' pockets.</p>

        <p class="elevated-why-support-body__paragraph u-responsive-p">But while the Scott Trust ensures our independence, we need our Supporters, now more than ever before, to help secure our future.</p>
        
        <p class="elevated-why-support-body__paragraph--last u-responsive-p">We know that not everyone is in a position to become a Supporter. But if you can, you’ll be an integral part of our mission to make the world a better, fairer place, for everyone.</p>
    </div>    
</div>

