@import model.OrientatedImages
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@import com.gu.memsub.BillingPeriod
@(  image: OrientatedImages,
    supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    mainTitle:Html,
    tagLine: Html
)

<div class="elevated-banner l-constrained">
    <div class="elevated-banner__col u-content-width--left">
        <div class="elevated-banner__content">
            <h1 class="elevated-banner__title"><h1 class="elevated-banner__title__h1">@mainTitle</h1>

            <p class="elevated-banner__tagline">@tagLine</p>

            <div class="elevated-banner__button">
            	@fragments.page.elevatedButton(supporterPlans, countryGroup, "Top Button")
            </div>
        </div>
    </div><div class="elevated-banner__col elevated-banner__col--img">
        <img class="elevated-banner__col__img" src="@image.landscape.defaultImage" />
    </div>
</div>
