@import configuration.Videos

<div class="elevated-become-supporter-body">
    <div class="elevated-become-supporter-body__col u-content-width--left">
        <p class="elevated-become-supporter-body__p u-responsive-p">We want to make the world a better, fairer place. We want to keep the powerful honest. And we believe that doing so means keeping society informed by producing quality, independent journalism, which finds things out and tells readers the truth.</p>

        <p class="elevated-become-supporter-body__p">Reporting that uncovers the cover-ups. Journalism that tells the stories others won’t. Stories that stand up for the oppressed.</p>

        <p class="elevated-become-supporter-body__p">It’s essential for the functioning of democracy. And our unique ownership structure means no one can tell us to censor or drop a story.</p>

        <p class="elevated-become-supporter-body__p">But it’s difficult and expensive work. While more people are reading the Guardian than ever before, far fewer are paying for it. And advertising revenues are falling fast.</p>

        <p class="elevated-become-supporter-body__p">So if you read us, if you like us, if you share our values – then become a Supporter and help make our future more secure.</p>
    </div><div class="elevated-become-supporter-body__col elevated-become-supporter-body__video u-content-width--right">
        <div class="video-preview video-preview--plain">
            <div class="video-preview__video ">
            @fragments.media.videoPlayer(Videos.supporters)
            </div>
        </div>
        <p class="elevated-become-supporter-body__caption">A message from Katharine Viner, Editor-in-Chief</p>
    </div>    
</div>

