@import model.OrientatedImages
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@(  image: OrientatedImages,
    supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    showCurrencyPrefix: Boolean)

<section class="elevated-become-supporter-section l-constrained">
    @fragments.page.elevatedBanner(image,supporterPlans, countryGroup, showCurrencyPrefix)
    @fragments.page.elevatedBecomeSupporterBody()
    @fragments.page.elevatedFooterButton(supporterPlans, countryGroup, showCurrencyPrefix, "Middle Button 1")
</section>

