@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@(  supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    showCurrencyPrefix: Boolean,
    benefitsTitle: Html,
    lowMargin: Boolean = false)(body: Html)

<section class="elevated-close-guardian-section @if(lowMargin){elevated-close-guardian-section--low-margin}">
    @fragments.page.elevatedCloserGuardianBody(benefitsTitle)(body)
    @fragments.page.elevatedFooterButton(supporterPlans, countryGroup, "Middle Button 2", showCurrencyPrefix, showRightDiagonal = true)
</section>

