@import model.OrientatedImages
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@(  image: OrientatedImages,
    supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    showCurrencyPrefix: Boolean)

<div class="l-constrained elevated-banner">
    <div class="elevated-banner__col u-content-width">
        <div class="elevated-banner__content">
            <h1 class="elevated-banner__title">Become a Guardian&nbsp;Supporter</h1>

            <p class="elevated-banner__tagline">Be part of the Guardian's future, by helping to secure it</p>

            <div class="elevated-banner__button">
            	@fragments.page.elevatedButton(supporterPlans, countryGroup, showCurrencyPrefix)
            </div>
        </div>
    </div><div class="elevated-banner__col elevated-banner__col--img">
        <img class="elevated-banner__col__img" src="http://media.guim.co.uk/f0fbaea3d68853945e47374de8eb3fc9c91be6a4/0_0_1280_632/1280.png"/>
    </div>
</div>
