@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@import com.gu.memsub.BillingPeriod
@(	supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    dataLabel: String,
    showRightDiagonal: Boolean = false,
    pricingType: Option[BillingPeriod]
   )

<div class="l-constrained elevated-footer-button @if(showRightDiagonal){elevated-footer--right-diagonal}">
	<div class="elevated-footer-button__button u-content-width--left">
		@fragments.page.elevatedButton(supporterPlans, countryGroup, dataLabel, pricingType)
	</div>
</div>
