@import model.OrientatedImages
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@import com.gu.memsub.BillingPeriod
@(  image: OrientatedImages,
    supporterPlans: MonthYearPlans[PaidMember],
    countryGroup: CountryGroup,
    mainTitle: Html,
    tagLine: Html
)(body: Html)

<section class="elevated-become-supporter-section l-constrained">
    <div class="u-section-div">
	    @fragments.page.elevatedBanner(image,supporterPlans, countryGroup, mainTitle, tagLine)
	    @fragments.page.elevatedBecomeSupporterBody(body)
    </div>
    @fragments.page.elevatedFooterButton(supporterPlans, countryGroup, "Middle Button 1")
</section>

