@(imgSrc: String, description: String, anchorHref: String, isVideo: Boolean = false)

@import views.support.Asset

<div class="feature-panel">
    <a class="feature-panel__cta" href="@anchorHref">
        <div class="feature-panel__media">
            <img src="@Asset.at(imgSrc)" alt="@description" class="responsive-img" />
        </div>
        <h3 class="feature-panel__description">
            @if(isVideo) {
                @fragments.inlineIcon("video")
            }
            @Html(description)
        </h3>
    </a>
</div>
