@(liveEvents: Seq[model.RichEvent.RichEvent], draftEvents: Seq[model.RichEvent.RichEvent], path: String)

@eventOverview.template("Event Overview") {
    <main role="main" class="page-content">
        <section class="utils-page-section">
            <h1 class="page-headline">Guardian Masterclass Events Overview</h1>
            <p class="page-intro">A breakdown of Live and Draft Masterclass events associated with Membership</p>
        </section>
        @eventOverview.fragments.menu(path)
        @eventOverview.fragments.overviewSection("Live Events", liveEvents)
        @eventOverview.fragments.overviewSection("Draft Events", draftEvents)
    </main>
}
