@import views.support.PageInfo
@(
    title: String,
    pageInfo: PageInfo = views.support.PageInfo()
)(content: Html)

@import configuration.Config
@import views.support.Asset

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@(title + " | " + Config.siteTitle)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" media="all" href="@Asset.at("stylesheets/tools.css")">
    </head>
    <body>
        <div>
            @content
        </div>
    </body>
    <script>
        var curl = {
            apiName: 'require'
        };
    </script>
    <script src='@Asset.at("javascripts/lib/curl/curl.js")'></script>
    <script src="@Asset.at("javascripts/tools.js")"></script>
</html>
