node_modules
app/npm-debug.log
.DS_Store

logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
public/javascripts
public/stylesheets
common/app/assets/stylesheets/components
common/app/assets/javascripts/lib/bower-components/

.bundle
Gemfile.lock
dev