@import play.api.mvc.RequestHeader
@import play.filters.csrf
@import views.support.DisplayText._
@import views.support.PageInfo
@import views.support.CountryWithCurrency
@import com.gu.i18n.Currency
@(currentDetails: model.FreeTierDetails,
  targetDetails: model.PaidTierDetails,
  countriesWithCurrency: List[CountryWithCurrency],
  userFields: com.gu.identity.play.PrivateFields,
  pageInfo: PageInfo
)(implicit token: csrf.CSRF.Token, request: RequestHeader)

@import views.html.helper._

@main("Change Tier | " + targetDetails.tier.name + " from " + currentDetails.tier.name, pageInfo = pageInfo) {
      <main role="main" class="page-content l-constrained">
          <form action="@routes.TierController.upgrade(targetDetails.tier)" method="POST" id="payment-form"
          class="js-form" data-change-to-tier="@targetDetails.tier.name">
              @CSRF.formField

          <section class="page-header">
              <h1 class="page-headline">Become a @targetDetails.tier.name</h1>
              <p class="page-intro"> Join as an annual Partner or Patron Member by and get 2 months free</p>
          </section>

          <section class="form-section form-section--no-padding">
              <div class="form-section__content">
              @fragments.form.errorMessageDisplay()
              </div>
          </section>

          <section class="form-section">

              <div class="form-section__lead-in sign-in-required">
              @fragments.joiner.signedInAs(routes.FrontPage.index().url)
              </div>

              <div class="form-section__content">

                  <div class="form-group">
                      @fragments.form.benefitsFieldset(targetDetails.tier.benefits)
                      @fragments.form.featureChoiceFieldset(targetDetails.tier)
                  </div>

                  <div class="form-group">
                      <h2 class="form-group__title">Address</h2>
                      @fragments.form.addressDetail(
                          countriesWithCurrencies = countriesWithCurrency,
                          formType = "deliveryAddress",
                          heading = "Delivery address",
                          note = "Once you've joined Guardian Members we'll send you a welcome pack in the post.",
                          addressRequired = true,
                          address1 = userFields.address1,
                          address2 = userFields.address2,
                          town = userFields.address3,
                          postcode = userFields.postcode,
                          county = userFields.address4,
                          userCountry = userFields.country
                      )
                  </div>

                  <div class="form-group">
                      <h2 class="form-group__title">Billing</h2>
                      @fragments.form.paymentOptions(targetDetails)
                      @fragments.form.billingAddress("Billing address")
                      @fragments.form.addressDetail(
                          countriesWithCurrencies = countriesWithCurrency,
                          heading = "",
                          note = "",
                          formType = "billingAddress",
                          addressRequired = true,
                          address1 = userFields.billingAddress1,
                          address2 = userFields.billingAddress2,
                          town = userFields.billingAddress3,
                          postcode = userFields.billingPostcode,
                          county = userFields.billingAddress4,
                          userCountry = userFields.billingCountry
                      )
                      @fragments.form.cardDetail(targetDetails)
                  </div>

                  @fragments.form.submit(targetDetails)
              </div>
          </section>
          </form>
      </main>
}
