@import play.api.mvc.RequestHeader
@import play.filters.csrf
@import views.support.DisplayText._
@import views.support.PageInfo
@import views.support.CountryWithCurrency
@import com.gu.i18n.Currency
@import com.gu.membership.MembershipPlan
@import com.gu.salesforce.Tier.Friend
@import com.gu.salesforce.PaidTier
@import com.gu.memsub.{Status, Current}
@import com.gu.memsub.promo.PromoCode
@import views.support.PaidPlans
@import com.gu.memsub.subsv2.FreeBenefit
@import com.gu.memsub.subsv2.Catalog.PaidMember
@import com.gu.memsub.subsv2.MonthYearPlans
@import views.support.MembershipCompat._

@(currentPlan: MembershipPlan[FreeBenefit[Friend.type], Status],
  targetPlans: MonthYearPlans[PaidMember],
  countriesWithCurrency: List[CountryWithCurrency],
  userFields: com.gu.identity.play.PrivateFields,
  pageInfo: PageInfo,
  trackingPromoCode: Option[PromoCode],
  promoCodeToDisplay: Option[PromoCode]
)(implicit token: csrf.CSRF.Token, request: RequestHeader)

@import views.html.helper._

@main("Change Tier | " + targetPlans.tier.name + " from " + currentPlan.tier.name, pageInfo = pageInfo) {
      <main role="main" class="page-content l-constrained">
          <form action="@routes.TierController.upgrade(targetPlans.tier, None)" method="POST" id="payment-form"
          class="js-form" data-change-to-tier="@targetPlans.tier.name">
              @CSRF.formField
              <input type="hidden" name="tier" disabled value="@targetPlans.tier.slug"/>
          <section class="page-header">
              <h1 class="page-headline">Become a @targetPlans.tier.name</h1>
              <p class="page-intro">Support the independence of the Guardian and our award-winning journalism</p>
          </section>

          <section class="form-section form-section--no-padding">
              <div class="form-section__content">
              @fragments.form.errorMessageDisplay()
              </div>
          </section>

          <section class="form-section">

              <div class="form-section__lead-in sign-in-required">
              @fragments.joiner.signedInAs(routes.FrontPage.index().url)
              </div>

              <div class="form-section__content">

                  <div class="form-group">
                      @fragments.form.benefitsFieldset(targetPlans.tier.benefits)
                      @fragments.form.featureChoiceFieldset(targetPlans.tier)
                  </div>

                  <div class="form-group">
                      <h2 class="form-group__title">Address</h2>
                      @fragments.form.addressDetail(
                          countriesWithCurrencies = countriesWithCurrency,
                          formType = "deliveryAddress",
                          heading = "Delivery address",
                          note = "Once you've joined Guardian Members we'll send you a welcome pack in the post.",
                          addressRequired = true,
                          address1 = userFields.address1,
                          address2 = userFields.address2,
                          town = userFields.address3,
                          postcode = userFields.postcode,
                          county = userFields.address4
                      )
                  </div>

                  <div class="form-group">
                      <h2 class="form-group__title">Promotion</h2>
                      @fragments.form.promoCode(trackingPromoCode, promoCodeToDisplay)
                  </div>

                  <div class="form-group">
                      <h2 class="form-group__title">Billing</h2>
                      @fragments.form.billingAddress("Billing address")
                      @fragments.form.addressDetail(
                          countriesWithCurrencies = countriesWithCurrency,
                          heading = "",
                          note = "",
                          formType = "billingAddress",
                          addressRequired = true,
                          address1 = userFields.billingAddress1,
                          address2 = userFields.billingAddress2,
                          town = userFields.billingAddress3,
                          postcode = userFields.billingPostcode,
                          county = userFields.billingAddress4
                      )
                      @fragments.form.paymentOptions(targetPlans)
                      @fragments.form.cardDetail(targetPlans)
                  </div>

                  @fragments.form.submit(PaidPlans(targetPlans))
              </div>
          </section>
          </form>
      </main>
}
