@(
    currentTier: com.gu.membership.salesforce.Tier,
    targetTier: com.gu.membership.salesforce.Tier,
    userFields: model.PrivateFields,
    pageInfo: model.PageInfo,
    paidPreviewOpt: Option[model.Zuora.PaidPreview],
    currentSubscription: model.Zuora.SubscriptionDetails,
    flashMessage: Option[model.FlashMessage]
)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import org.joda.time.DateTime
@import views.html.helper._
@import views.support.Dates._
@import views.support.Prices._

@main("Upgrade to " + targetTier, pageInfo=pageInfo) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Great, glad to see you've decided to become a " + targetTier)

        @for(flashMsg <- flashMessage) {
            <section class="page-section page-section--no-padding">
                <div class="page-section__content">
                @fragments.notifications.flashMessage(flashMsg)
                </div>
            </section>
        }

        <div class="page-section">
            <div class="page-section__lead-in">
                <a href="@routes.TierController.change" class="action action--secondary u-no-top-margin">
                    @fragments.actionIcon("arrow-left", leftIcon=true)
                    <span class="action__label">Change Tier</span>
                </a>
            </div>
            <div class="page-section__content">
                <h2 class="h-section">What happens now</h2>
                <p>When you upgrade we want to make sure you are charged the right amount. We will charge for your <strong>@currentTier</strong> membership up until today and the amount remaining will be deducted from your first payment as a <strong>@targetTier</strong>.</p>
                <p><strong>@targetTier</strong> payments start today and will recur @{currentSubscription.paymentPeriodLabel}ly.</p>
            </div>
            <div class="page-section__supplementary">

            </div>
        </div>

        @* Current tier *@
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Current tier summary</h2>
            </div>
            <div class="page-section__content">
                <table class="table table--striped" role="grid">
                    <tr role="row">
                        <th role="rowheader">Tier</th>
                        <td id="qa-upgrade-current-tier">@currentSubscription.planName</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">Start date</th>
                        <td id="qa-upgrade-current-start-date">@prettyDate(currentSubscription.effectiveStartDate)</td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">@{currentSubscription.paymentPeriodLabel.capitalize}ly payment</th>
                        <td id="qa-upgrade-current-payment">@currentSubscription.planAmount.pretty</td>
                    </tr>
                       <tr role="row">
                        <th role="rowheader">End date</th>
                        <td id="qa-upgrade-current-end-date">@prettyDate(new DateTime())</td>
                    </tr>
                </table>
            </div>
        </section>

        @* New tier *@
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">New tier summary</h2>
            </div>
            <div class="page-section__content">
                @paidPreviewOpt.map { preview =>
                    <table class="table table--striped" role="grid">
                        <tr role="row">
                            <th role="rowheader">Tier</th>
                            <td id="qa-upgrade-new-tier">@targetTier</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">Start date</th>
                            <td id="qa-upgrade-new-start-date">@prettyDate(new DateTime())</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">First payment</th>
                            <td id="qa-upgrade-new-first-payment">@preview.totalPrice.pretty</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">@{currentSubscription.paymentPeriodLabel.capitalize}ly payment</th>
                            <td id="qa-upgrade-new-recurring-payment">@preview.futureSubscriptionInvoice.price.pretty</td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">Next payment due</th>
                            <td id="qa-upgrade-new-date">@prettyDate(preview.futureSubscriptionInvoice.renewalDate)</td>
                        </tr>
                    </table>
                }
            </div>
        </section>

        @* Delivery Address *@
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Delivery address</h2>
                <p class="text-note">We’ll send you a new welcome pack in the post.</p>
            </div>
            <div class="page-section__content">
                <address>@fragments.user.deliveryAddress(userFields)</address>
            </div>
        </section>

        @* Billing Address *@
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Billing address</h2>
            </div>
            <div class="page-section__content">
                <address>@fragments.user.billingAddress(userFields)</address>
            </div>
        </section>

        @* Payment Confirmation *@
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">
                    Card details
                    @fragments.form.securityNote()
                </h2>
            </div>
            <div class="page-section__content">
                @for(card <- paidPreviewOpt.map(_.card)) {
                    @fragments.user.cardSummary(card)
                }
                @paidPreviewOpt.map { preview =>

                    <p class="text-note">
                        <strong>First payment:</strong> Your first payment of <strong>@preview.totalPrice.pretty</strong>
                        will be taken today under the name Guardian Membership.
                    </p>
                    <p class="text-note">
                        <strong>Ongoing payments:</strong> Your card will be charged
                        <strong>@preview.futureSubscriptionInvoice.price.pretty</strong> every @currentSubscription.paymentPeriodLabel.
                        Payments will taken on or shortly after the @dayInMonthWithSuffixAndMonth(preview.futureSubscriptionInvoice.renewalDate)
                        each @currentSubscription.paymentPeriodLabel.
                    </p>
                }

                <form action="@routes.TierController.upgrade(targetTier)" method="POST" class="js-form" id="payment-form">
                    @CSRF.formField
                    <fieldset class="fieldset fieldset--simple">
                        <div class="fieldset__fields js-password-container">
                            @fragments.form.enterPassword("Re-enter your password")
                            <p class="copy l-pad-top">
                                <a href="@Config.idWebAppUrl/reset" class="text-note">Forgotten your password?</a>
                            </p>
                        </div>
                    </fieldset>

                    @paidPreviewOpt.map { preview =>

                        <div class="actions js-waiting-container">
                            <button type="submit" class="action js-submit-input" id="qa-upgrade-submit">Pay @preview.totalPrice.pretty Now</button>
                            <div class="loader js-loader"></div>
                        </div>
                    }
                </form>
            </div>
        </section>

    </main>
}
