@(targetTier: model.Tier.Tier)(implicit request: play.api.mvc.Request[_])

@import views.support.selectDates
@import views.support.Format._
@import model.Tier

@annualAmount = {
    @if(targetTier == Tier.Partner) {
        £135 one off payment (save £45 a year)
    } else {
        £540 one off payment (save £180 a year)
    }
}

@monthAmount = {
    @if(targetTier == Tier.Partner) {
        £15 per month (£180 per year)
    } else {
        £60 per month (£720 per year)
    }
}

@main("Upgrade Payment") {

<div class="page-container">

    <h1 class="section-headline">Payment</h1>

    <form action="" method="POST" id="payment-form" class="form form-primary-container--full-width js-stripe-form" data-change-to-tier="@targetTier">

        <div class="js-payment-errors form__error is-hidden"></div>

        @* =============== DELIVERY ADDRESS =============== *@

        @fragments.joiner.payment.addressForm("Delivery address", "Where we'll send your welcome pack", "deliveryAddress")

        @* =============== CARD DETAILS =============== *@

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Card details</h2>
                <div class="form__note">
                    <p>We accept all major cards</p>
                    <p><img src="@routes.Assets.at("images/padlock.png")" alt="" class="form-padlock"/> This form is secure</p></div>
            </div>

            <div class="fieldset__fields">
                <div class="form-field">
                    <label class="label" for="cc-num">Card Number </label>
                    <div class="input credit-card-container">
                        <i class="js-credit-card-image credit-card"></i>
                        <input type="tel" size="20" data-stripe="number" class="js-credit-card-number text-input" id="cc-num" placeholder="0000 0000 0000 0000" maxlength="19" autocomplete="off"/>
                    </div>
                </div>

                <div class="form-field">
                    <label class="label" for="cc-cvc">
                        <span>Security code</span>
                        <input type="tel" size="4" data-stripe="cvc" class="js-credit-card-cvc text-input text-input--small text-input--block" id="cc-cvc" placeholder="CVC" maxlength="4" autocomplete="off"/>
                    </label>
                </div>

                <div class="form-field">
                    <label class="label" for="cc-exp-month">
                        <span>Expiry</span>
                        <p>
                            <select data-stripe="exp-month" id="cc-exp-month" class="js-credit-card-exp-month">
                                <option selected="selected">Month</option>
                                @for(month <- selectDates.validCardMonths){
                                <option value="@month">@month</option>
                                }
                            </select>
                            <span> / </span>
                            <select data-stripe="exp-year" id="cc-exp-year" class="js-credit-card-exp-year">
                                <option selected="selected">Year</option>
                                @for((year, formattedYear) <- selectDates.validCardYears){
                                <option value="@year">@formattedYear</option>
                                }
                            </select>
                        </p>
                    </label>
                </div>

                <div class="form-field">
                    <button class="submit-input action--logged-in js-toggle-billing-address">Different billing address?</button>
                </div>

            </div>
        </fieldset>

        @* =============== DELIVERY ADDRESS =============== *@

        @fragments.joiner.payment.addressForm("Billing address", "The billing address for your card", "billingAddress")

        @* =============== PAYMENT OPTION =============== *@

        <fieldset class="fieldset">
            <div class="fieldset__heading">
                <h2 class="form__heading">Select payment option</h2>
                <div class="form__note">Price includes VAT</div>
            </div>
            <div class="fieldset__fields">
                <div class="form-field">
                    <label class="label upgrade__payment-label" for=annual>
                        <input type="radio" name="paymentType" id="annual" value="annual" checked="checked"/>
                        <span class="payment-label__title">Pay annually</span>
                        <span class="payment-label__amount">@annualAmount</span>
                        <span class="payment-label__note">1 year membership, 3 months free</span>
                    </label>
                    <label class="label upgrade__payment-label" for="monthly">
                        <input type="radio" name="paymentType" id="monthly" value="month"/>
                        <span class="payment-label__title">Pay monthly</span>
                        <span class="payment-label__amount">@monthAmount</span>
                        <span class="payment-label__note">No comittment, cancel at any time (if you can find the button)</span>
                    </label>
                </div>
            </div>
        </fieldset>

        @* =============== SUBMIT =============== *@

        <fieldset class="fieldset">
            <div class="fieldset__heading"></div>
            <div class="fieldset__fields">
                <div class="actions js-waiting-container">
                    <button type="submit" class="submit-input action--logged-in js-submit-input">Join now</button>
                    <div class="i-wait"><img src="@routes.Assets.at("images/wait.gif")" alt=""/></div>
                </div>
            </div>
        </fieldset>

    </form>

</div>

}