@(targetTier: com.gu.membership.salesforce.Tier.Tier, userFields: model.PrivateFields)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._

@main("Upgrade Payment") {

    @fragments.layout.sectionHeader("Payment")

    <form action="" method="POST" id="payment-form" class="form form-primary-container js-stripe-form" data-change-to-tier="@targetTier">
        @CSRF.formField
        @fragments.form.errorMessageDisplay()
        @fragments.form.addressDetail("Delivery address", "Where we'll send your welcome pack", "deliveryAddress", true,
        userFields.address1, userFields.address2, userFields.address3, userFields.postcode, userFields.address4, userFields.country)
        @fragments.form.cardDetail()
        @fragments.form.billingAddressCTA()
        @fragments.form.addressDetail("Billing address", "The billing address for your card", "billingAddress", true,
        userFields.billingAddress1, userFields.billingAddress2, userFields.billingAddress3, userFields.billingPostcode,
        userFields.billingAddress4, userFields.billingCountry)
        @fragments.form.paymentOptions(targetTier)
        @fragments.form.submit("Join now")

    </form>

    @fragments.tier.upgradeAside(targetTier)

}
