@(targetTier: com.gu.membership.salesforce.Tier.Tier, userFields: model.PrivateFields)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._

@main("Upgrade Payment") {

    @fragments.layout.sectionHeader("Payment")

    <form action="" method="POST" id="payment-form" class="form form-primary-container js-stripe-form" data-change-to-tier="@targetTier">
        @CSRF.formField
        @fragments.form.errorMessageDisplay()
        @fragments.form.addressDetail("Delivery address", "Where we'll send your welcome pack", "deliveryAddress", true, userFields.address1)
        @fragments.form.cardDetail()
        @fragments.form.billingAddressCTA()
        @fragments.form.addressDetail("Billing address", "The billing address for your card", "billingAddress", true, userFields.billingAddress1)
        @fragments.form.paymentOptions(targetTier)
        @fragments.form.submit("Join now")

    </form>

    @fragments.tier.upgradeAside(targetTier)

}
