@(event: model.EBEvent)
@import views.Crumb
@import views.Cost
@import views.Dates._

@main("Membership") {

    @partials.crumb(Seq(Crumb("Home", "/"), Crumb("Events", "/events"), Crumb(event.name.text, s"/events/${event.id}")))

    <div class="event u-cf">
        <div class="event__content container">
            <h1 class="event__name section-header page-header">@event.name.text</h1>

            <div class="event__tickets">
                <div class="js-datetime-enhance">
                    <span class="event__sale_ends_note js-datetime-enhance-note">Sales end at </span>
                    <span class="event__sale_ends_time js-datetime-enhance-time" datetime="@event.ticket_classes.head.sales_end">@event.ticket_classes.head.sales_end.pretty</span>
                </div>

                <span class="event__price">@event.ticket_classes.head.cost.getOrElse(model.EBPricing("GBP", "Free", 0)).display</span>
                <span class="event__price-note"> per ticket.</span>
            </div>

            <div class="event__image">
                <img src="@event.logo_url" alt="Event Image" />
            </div>

            <div class="event__meta">
                <p class="event__location">@event.venue.name</p>
                <p class="event__time">@event.start.pretty</p>

                <div class="event__description">@Html(event.description.html)</div>
            </div>

            <div class="actions">
                <a class="sign-in action" href="http://profile.theguardian.com/signin">Sign In to attend</a>
            </div>

        </div>

        <div class="event__related">
            <div class="event__related--content">
                related content placeholder
            </div>
        </div>
    </div>

}
