@( eventsList: Seq[model.EBEvent])
@import views.Crumb

@main("Membership") {

    @partials.crumb(Seq(Crumb("Home", "/"), Crumb("Events", "/events")))

    <div class="container--features">
        <section class="container container--people container--row-pattern">
            <div class="container__border tone-feature tone-accent-border"></div>
            <div class="container__header">
                <h2 class="container__title tone-feature tone-background">
                    <span class="container__title__label u-text-hyphenate">Current Events</span>
                </h2>
            </div>

        @partials.imgContainerHeader()

        @for((event, index) <- eventsList.zipWithIndex) {

            @if(index % 3 == 0){
                @partials.imgContainerFooter()
                @partials.imgContainerHeader()
            }

            @events.eventItem(event)
        }

        @partials.imgContainerFooter()

        </section>
    </div>

}