<section class="container container--people container--row-pattern" data-link-name="block | 8b5b-99a9-e8c3-ff49" data-id="8b5b-99a9-e8c3-ff49" data-type="people" data-component="blogs">
    <div class="container__border tone-feature tone-accent-border"></div>
    <div class="container__header">
        <h2 class="container__title tone-feature tone-background">
            <span class="container__title__label u-text-hyphenate">Blogs</span>
        </h2>
        <button class="container__toggle" data-link-name="Show"><i class="i i-arrow-white-large"></i><span class="container__toggle__text">Hide</span></button>
    </div>



    <div class="container__body container--rolled-up-hide">
        <div class="facia-slice-wrapper facia-slice-wrapper--position-1">
            <ul class="u-unstyled l-row l-row--items-3 collection">
                <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                    <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-id="/p/3p4en" data-discussion-closed="false" data-link-name="trail | 1">
                        <div class="item__container">
                            <a href="http://www.theguardian.com/environment/blog/2014/may/09/albino-snake-invaders-tributes-farley-mowat" class="item__link tone-accent-border" data-link-name="article">
                                <div class="item__media-wrapper">
                                    <div class="item__image-container u-responsive-ratio js-image-upgrade " data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/5/1399300751970/An-albino-king-snake-012.jpg?width={width}&amp;height=-&amp;quality=95">
                                        <img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/5/1399300751970/An-albino-king-snake-012.jpg?width=300&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div>
                                </div>
                                <h2 class="item__title">
                                    #ecobites: from albino snake invaders to tributes to Farley Mowat
                                </h2>
                            </a>
                            <div class="item__standfirst">The week's environment news in tweets, including the US National Climate Assessment, the Great Hamster of Alsace and new pollution stats</div>
                            <div class="item__meta">
                                <time class="item__timestamp js-item__timestamp" itemprop="datePublished" datetime="2014-05-09T11:47:24+0000" data-timestamp="1399636044000" data-relativeformat="short">
                                    <i class="i i-clock-light-grey"></i>
                                    <span class="timestamp__text" title="Published: 9 May 2014">2h</span>
                                </time>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                    <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 2">
                        <div class="item__container">
                            <a href="http://www.theguardian.com/environment/georgemonbiot/2014/may/09/why-we-couldnt-care-less-about-the-natural-world" class="item__link tone-accent-border" data-link-name="article">
                                <div class="item__media-wrapper">
                                    <div class="item__image-container u-responsive-ratio js-image-upgrade " data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/13/1392315989102/134eb09a-ac62-42a5-b61e-89af4bb77527-620x372.jpeg?width={width}&amp;height=-&amp;quality=95">
                                        <img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/13/1392315989102/134eb09a-ac62-42a5-b61e-89af4bb77527-620x372.jpeg?width=300&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div>
                                </div>
                                <h2 class="item__title">
                                    Why we couldn't care less about the natural world
                                </h2>
                            </a>
                            <div class="item__standfirst"><b>George Monbiot: </b>The richer we are and the more we consume, the more self-centred and careless of the lives of others we appear to become<br></div>
                            <div class="item__meta">
                                <time class="item__timestamp js-item__timestamp" itemprop="datePublished" datetime="2014-05-09T10:10:24+0000" data-timestamp="1399630224000" data-relativeformat="short">
                                    <i class="i i-clock-light-grey"></i>
                                    <span class="timestamp__text" title="Published: 9 May 2014">4h</span>
                                </time>
                                <span class="trail__count trail__count--commentcount"><a href="/environment/georgemonbiot/2014/may/09/why-we-couldnt-care-less-about-the-natural-world#comments" data-link-name="Comment count"><i class="i i-comment-light-grey"></i>223<span class="u-h"> comments</span></a></span></div>
                        </div>
                    </div>
                </li>
                <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                    <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-id="/p/3p3nt" data-discussion-closed="false" data-link-name="trail | 3">
                        <div class="item__container">
                            <a href="http://www.theguardian.com/environment/bike-blog/2014/may/09/the-rules-95-pedantic-shortcuts-to-cycling-enlightenment" class="item__link tone-accent-border" data-link-name="article">
                                <div class="item__media-wrapper">
                                    <div class="item__image-container u-responsive-ratio js-image-upgrade " data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/8/1399559910769/880d82a0-5205-4a45-a72a-e553d0febb2f-620x372.jpeg?width={width}&amp;height=-&amp;quality=95">
                                        <img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/8/1399559910769/880d82a0-5205-4a45-a72a-e553d0febb2f-620x372.jpeg?width=300&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div>
                                </div>
                                <h2 class="item__title">
                                    The Rules: 95 pedantic shortcuts to cycling enlightenment
                                </h2>
                            </a>
                            <div class="item__standfirst"><b>Peter Walker: </b>No cycling caps off the bike! Black shorts only! Why? Because the Velominati says so</div>
                            <div class="item__meta">
                                <time class="item__timestamp js-item__timestamp" itemprop="datePublished" datetime="2014-05-09T09:22:53+0000" data-timestamp="1399627373000" data-relativeformat="short">
                                    <i class="i i-clock-light-grey"></i>
                                    <span class="timestamp__text" title="Published: 9 May 2014">5h</span>
                                </time>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>









        <div class="linkslist-container tone-feature facia-slice-wrapper--ad">
            <ul class="l-columns linkslist features__columns">
                <li class="l-columns__item linkslist__item" data-link-name="trail | 4">
                    <a href="http://www.theguardian.com/environment/bike-blog/2014/may/08/womens-tour-race-female-cyclists" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/8/1399542312615/7b2578cb-757c-4d93-bec9-5e2a8f02d23f-140x84.jpeg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/8/1399542312615/7b2578cb-757c-4d93-bec9-5e2a8f02d23f-140x84.jpeg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        Will the Women's Tour race inspire a new generation of female cyclists?
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 5">
                    <a href="http://www.theguardian.com/environment/earth-insight/2014/may/07/henry-jackson-society-neocon-militarism-mideast-oil-gas-energy" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/8/30/1377885882778/Oil-pipelines-Abu-Dhabi-008.jpg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/8/30/1377885882778/Oil-pipelines-Abu-Dhabi-008.jpg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        Think tank behind Tory foreign policy promotes Arab world fossil fuel hegemony
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 6">
                    <a href="http://www.theguardian.com/environment/southern-crossroads/2014/may/07/australian-budget-2014-abbott-fossil-fuel-subsidies-diesel" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/20/1392891501792/Climate-Change-And-Global-006.jpg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/2/20/1392891501792/Climate-Change-And-Global-006.jpg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        The 2014 Australian budget is an opportunity to end fossil fuel subsidies, so why won't it happen?
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 7">
                    <a href="http://www.theguardian.com/environment/andes-to-the-amazon/2014/may/06/more-400-dams-amazon-headwaters" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/6/1399394426389/f119c5d2-dd64-4652-90e4-be01c503b339-140x84.jpeg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/6/1399394426389/f119c5d2-dd64-4652-90e4-be01c503b339-140x84.jpeg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        More than 400 dams planned for the Amazon and headwaters
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 8">
                    <a href="http://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/may/06/top-ten-global-warming-skeptic-arguments-debunked" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/12/21/1292934079630/Thermometer-007.jpg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/12/21/1292934079630/Thermometer-007.jpg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        The top ten global warming 'skeptic' arguments answered
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 9">
                    <a href="http://www.theguardian.com/environment/bike-blog/2014/may/05/sexual-assault-in-the-saddle-why-it-sucks-to-be-a-woman-cyclist-sometimes" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/5/1399287101663/2731402490_d17f838731_o-140x84.jpeg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/5/1399287101663/2731402490_d17f838731_o-140x84.jpeg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        Sexual assault in the saddle: why it sucks to be a woman cyclist sometimes
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 10">
                    <a href="http://www.theguardian.com/environment/blog/2014/may/02/what-do-britains-political-parties-say-about-wildlife-in-their-manifestos" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/2/1399035856463/b5d7da34-267e-4730-9e8f-d781ba25f8b8-140x84.jpeg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/5/2/1399035856463/b5d7da34-267e-4730-9e8f-d781ba25f8b8-140x84.jpeg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        What do Britain's political parties say about wildlife in their manifestos?
                    </a>
                </li>
                <li class="l-columns__item linkslist__item" data-link-name="trail | 11">
                    <a href="http://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/may/02/australian-quantum-theory-climate-denial" class="linkslist__action action--has-image" data-link-name="article">
                        <div class="linkslist__media-wrapper"><div class="linkslist__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/7/13/1310588654317/Rupert-Murdoch-007.jpg?width={width}&amp;height=-&amp;quality=95"><img src="http://i.guim.co.uk/sys-images/Guardian/Pix/pictures/2011/7/13/1310588654317/Rupert-Murdoch-007.jpg?width=140&amp;height=-&amp;quality=95" class="responsive-img" alt=""></div></div>
                        The Australian quantum theory of climate denial
                    </a>
                </li>
            </ul>
        </div>
        <div class="linkslist-container tone-feature show-more--hidden" data-tone="feature">
            <ul class="l-columns linkslist">
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 12">
                    <a href="http://www.theguardian.com/environment/bike-blog/2014/may/02/high-tech-visible-protected-blaze-fly6" class="linkslist__action" data-link-name="article">
                        The high-tech battle for cyclists to stay visible on the roads
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 13">
                    <a href="http://www.theguardian.com/environment/earth-insight/2014/may/01/treasury-economy-recovery-hype-growth-osborne-crash-risk" class="linkslist__action" data-link-name="article">
                        Ex-Treasury adviser: no real recovery - growth 'hype' masks crash risk
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 14">
                    <a href="http://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/apr/30/economics-clear-need-climate-action" class="linkslist__action" data-link-name="article">
                        Economics is clear on the need for climate action, now it's time to act
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 15">
                    <a href="http://www.theguardian.com/uk-news/the-northerner/2014/apr/30/do-you-know-this-numbskull" class="linkslist__action" data-link-name="article">
                        Do you know this numbskull?
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 16">
                    <a href="http://www.theguardian.com/environment/earth-insight/2014/apr/29/climate-denial-oil-addiction-xenophobia-neocons" class="linkslist__action" data-link-name="article">
                        What climate denial, oil addiction and xenophobia have in common: Neocons
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 17">
                    <a href="http://www.theguardian.com/environment/planet-oz/2014/apr/29/great-barrier-reef-dredging-ben-jerrys-ice-cream-climate-change" class="linkslist__action" data-link-name="article">
                        Great Barrier Reef: If the fossil fuel industry made ice cream
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 18">
                    <a href="http://www.theguardian.com/environment/chinas-choice/2014/apr/25/china-environment-law-fines-for-pollution" class="linkslist__action" data-link-name="article">
                        China's polluters to face large fines under law change
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 19">
                    <a href="http://www.theguardian.com/environment/climate-consensus-97-per-cent/2014/apr/24/global-warming-human-caused-not-stadium-wave" class="linkslist__action" data-link-name="article">
                        Wave goodbye to the stadium wave - global warming still caused by humans
                    </a>
                </li>
                <li class="l-columns__item linkslist__item show-more--hidden" data-link-name="trail | 20">
                    <a href="http://www.theguardian.com/environment/georgemonbiot/2014/apr/24/james-lovelocks-book-genius-defence" class="linkslist__action" data-link-name="article">
                        James Lovelock's book shows genius is no defence against being wrong
                    </a>
                </li>
            </ul>
        </div><button class="collection__show-more tone-background tone-feature" data-link-name="Show more | 0"><span class="collection__show-more__icon"><span class="i i-plus-white-mask"></span><span class="i i-plus-white"></span></span><span class="u-h">Show more</span></button>
    </div>
</section>