@import org.joda.time.DateTime
<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    <div class="l-footer__secondary gs-container" role="contentinfo">
        <ul class="colophon u-cf">
            <li class="colophon__item"><a data-link-name="help" href="/help">Help</a></li>
            <li class="colophon__item"><a data-link-name="contact" href="/help/contact-us">Contact us</a></li>
            <li class="colophon__item"><a data-link-name="feedback" href="/feedback">Feedback</a></li>
            <li class="colophon__item"><a data-link-name="terms" href="http://www.theguardian.com/help/terms-of-service">Terms &amp; conditions</a></li>
            <li class="colophon__item"><a data-link-name="privacy" href="http://www.theguardian.com/help/privacy-policy">Privacy policy</a></li>
            <li class="colophon__item"><a data-link-name="cookie" href="http://www.theguardian.com/info/cookies">Cookie policy</a></li>
        </ul>
        <div class="l-footer__misc">
            <div class="really-serious-copyright">© @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies. All rights reserved. Build #@app.BuildInfo.buildNumber</div>
        </div>
    </div>
</footer>