@import org.joda.time.DateTime
@import configuration.Config
<footer class="l-footer u-cf" data-link-name="footer" data-component="footer">
    <div class="l-footer__primary">
        <div id="footer-nav" class="gs-container">
            <div class="brand-bar u-cf">
                <a href="/" data-link-name="site logo" class="guardian-logo-footer hidden-mobile">
                    <span class="u-h">@Config.siteTitle</span>
                    <i class="icon-sprite icon-sprite-membership_beta_mobile"></i>
                </a>
                <a class="brand-bar__item brand-bar__item--action" data-link-name="back to top" href="#top">
                    <span class="control__icon-wrapper">
                        <span class="control__icon">
                            <i class="i icon-sprite-arrow-up-black"></i>
                        </span>
                    </span>
                    <span class="control__info case--lower">Back to top</span>
                </a>
            </div>
        </div>
    </div>
    <div class="l-footer__secondary gs-container" role="contentinfo">
        <ul class="colophon u-cf case--lower">
            <li class="colophon__item"><a data-link-name="help" href="/help">Help</a></li>
            <li class="colophon__item"><a data-link-name="contact" href="http://www.theguardian.com/help/contact-us">Contact us</a></li>
            <li class="colophon__item"><a data-link-name="feedback" href="/feedback">Feedback</a></li>
            <li class="colophon__item"><a data-link-name="terms" href="@Config.guardianMembershipTermsUrl">Terms &amp; conditions</a></li>
            <li class="colophon__item"><a data-link-name="privacy" href="@Config.guardianPrivacyUrl">Privacy policy</a></li>
            <li class="colophon__item"><a data-link-name="cookie" href="http://www.theguardian.com/info/cookies">Cookie policy</a></li>
        </ul>
        <div class="l-footer__misc">
            <div class="really-serious-copyright">© @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies. All rights reserved. Build #@app.BuildInfo.buildNumber</div>
            <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
        </div>
    </div>
</footer>
