@()

@import configuration.Config

<header class="header hidden-print js-header" role="banner">
    <div class="js-warning">
        <p>Please enable JavaScript &ndash; we use it to enhance behaviour for Guardian Membership. <a href="http://www.enable-javascript.com/">Click here for instructions to do so in your browser</a>.</p>
    </div>
    <div class="header__inner">
        <div class="header__branding l-constrained">
            <div class="header__primary">
                <nav>
                    <ul class="inline-list u-cf" role="menubar">
                        <li class="menu-item">
                            <a href="@Config.idWebAppSigninUrl("")" role="menuitem" class="control-container no-underline js-identity-icon" title="Your account" id="qa-identity-control">
                                <span class="control js-user-icon">
                                    <span class="control__icon">
                                        <i class="icon-user-black"></i>
                                    </span>
                                </span>
                                <span class="hidden-mobile js-user-detail">
                                    <span class="identity__notice control__info case--lower">Sign in</span>
                                    <span class="identity__account control__info u-h no-underline--override js-user-displayname"></span>
                                    <span class="identity__tier control__info u-h no-underline--override js-user-tier"></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item menu-item--last is-hidden js-header-join-us-cta">
                            <a href="/join" role="menuitem" class="no-underline hidden-mobile control-container" title="Join us">
                                <span class="control control--no-border"><i class="icon-g-black"></i></span>
                                <span class="control__info no-underline--override case--lower hidden-mobile">Join us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__secondary">
                <ul class="nav nav--external nav--brand hidden-tablet">
                    <li><a href="http://www.theguardian.com/" class="nav__link case--lower">The Guardian</a></li>
                    <li><a href="http://jobs.theguardian.com/" class="nav__link case--lower">Jobs</a></li>
                    <li><a href="https://soulmates.theguardian.com/" class="nav__link case--lower">Soulmates</a></li>
                </ul>
            </div>

            <div class="header__secondary header__logo">
                <span itemscope itemtype="http://schema.org/Organization">
                    <a href="/" itemprop="url" class="header__logo__link" id="qa-header-logo">
                        <span class="u-h" itemprop="name">@Config.siteTitle</span>
                        <i class="icon-membership_beta_mobile mobile-only"></i>
                        <i class="icon-logo-beta hidden-mobile"></i>
                    </a>
                </span>
            </div>

            <div class="header__inner header__inner--popup">
                <div class="nav-popup nav-popup--profile nav-popup--small is-hidden js-profile-nav-popup">
                    <nav role="navigation" aria-label="Profile menu">
                        <ul class="nav nav--columns">
                            <li class="nav__item">
                                <a href="@Config.idWebAppUrl/user/id/" class="nav__link js-comment-activity">Comment activity</a>
                            </li>
                            <li class="nav__item">
                                <a href="@Config.idWebAppUrl/public/edit" data-member-href="@Config.idWebAppUrl/membership/edit" class="nav__link js-edit-profile" id="qa-identity-nav-edit">Edit profile</a>
                            </li>
                            <li class="nav__item">
                                <a href="@Config.idWebAppUrl/email-prefs" class="nav__link">Email preferences</a>
                            </li>
                            <li class="nav__item">
                                <a href="@Config.idWebAppUrl/password/change" class="nav__link"
                                   data-link-name="Change password">Change password</a>
                            </li>
                            <li class="nav__item">
                                <a href="@Config.idWebAppUrl/signout" class="nav__link">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <button role="menuitem" class="mobile-menu mobile-only js-menu-icon" title="Menu">
            <span class="control__icon">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </button>
        @fragments.nav()
    </div>
</header>
