@import views.support.Asset
@import configuration.Config

@* Scripts that should be executed after CSS is loaded *@

<script>
    var curl = {
        apiName: 'require',
        paths: {
            zxcvbn: '@Asset.at("javascripts/lib/zxcvbn/zxcvbn.js")',
            omniture: '@Asset.at("javascripts/lib/omniture/omniture.js")',
            stripe: 'https://js.stripe.com/v2/stripe-dss3',
            uet: '@Asset.at("javascripts/lib/uet/uet.js")'
        }
    };
</script>
<script src='@Asset.at("javascripts/lib/curl/curl.js")'></script>
<noscript><img src="//bat.bing.com/action/0?ti=5039324&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
