@import views.support.PageInfo
@(pageInfo: PageInfo)

@import model.SVG.Logos
@import configuration.Config
@import views.support.Asset
@import views.support.PageInfo._

@import play.api.libs.json.Json

@* Critical scripts that should execute as soon as possible, preventing layout thrashing *@

<!--[if IE 9]>
<script src="@Asset.at("javascripts/lib/polyfills.min.js")"></script>
<![endif]-->
<script id="gu">
    var guardian = {
        isModernBrowser: (
            'querySelector' in document
            && 'addEventListener' in window
            && 'localStorage' in window
            && 'sessionStorage' in window
            && 'bind' in Function
            && (('XMLHttpRequest' in window && 'withCredentials' in new XMLHttpRequest())
              || 'XDomainRequest' in window)),
        css: {
            loaded: false
        },
        @for(stripePublicKey <- pageInfo.stripePublicKey) {
            stripePublicKey: '@stripePublicKey',
        }
        @for(payPalEnvironment <- pageInfo.payPalEnvironment) {
            payPalEnvironment: '@payPalEnvironment',
        }
        membership: {
            checkoutForm: @Html(Json.toJson(pageInfo.initialCheckoutForm).toString),
            buildNumber: '@app.BuildInfo.buildNumber',
            svgSprite: "@Asset.at("images/svg-sprite.svg")"
        },
        googleAnalytics: {
            trackingId: '@Config.googleAnalyticsTrackingId',
            cookieDomain: @if(Config.stage == "PROD") { 'auto' } else { 'none' }
        },
        analyticsEnabled: true,
        isDev: @(Config.stage == "DEV")
    };

    (function(isModern) {

        @* we want to add/remove classes to HTML ASAP to avoid FOUC *@
        var htmlClassNames = ['js-on']; // we know we have JS

        document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + ' ' + htmlClassNames.join(' ');

        if (!isModern) {
            // we add this class so it's off by default (avoiding FOUC)
            document.documentElement.className += ' js-ancient-browser';
        }

        var areClipPathShapesSupported = (function () {
            var base = 'clipPath',
                prefixes = [ 'webkit', 'moz', 'ms', 'o' ],
                properties = [ base ],
                testElement = document.createElement( 'testelement' ),
                attribute = 'polygon(50% 0%, 0% 100%, 100% 100%)';
            for ( var i = 0, l = prefixes.length; i < l; i++ ) {
                var prefixedProperty = prefixes[i] + base.charAt( 0 ).toUpperCase() + base.slice( 1 );
                properties.push( prefixedProperty );
            }
            for ( var i = 0, l = properties.length; i < l; i++ ) {
                var property = properties[i];
                if ( testElement.style[property] === '' ) {
                    testElement.style[property] = attribute;
                    if ( testElement.style[property] !== '' ) {
                        return true;
                    }
                }
            }
            return false;
        }());

        if(areClipPathShapesSupported) {
            document.documentElement.className += ' supports-clippath-shapes';
        }

        @* Disable lazySizes auto-init so we can control when it runs *@
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.init = false;

        @* Load SVG icon sprite, store in localStorage where possible *@
        @* Based on: https://github.com/guardian/frontend/blob/master/common/app/views/fragments/loadCss.scala.html *@

        /**
         * Simple XHR abstraction
         */
        function loadData( url, cb ) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    if (cb) { cb.call(this, xhr); }
                }
            }
            xhr.timeout = 5000;
            xhr.send();
        }
        /**
         * Add data to local storage, with buildNumber key
         * Break cache if buildNumber has changed.
         */
        function updateLocalStorage(prefix, data) {
            var expr = new RegExp('^' + prefix + '.', 'g');
            Object.keys(localStorage).forEach(function(key) {
                if (key.match(expr)) {
                    try {
                        localStorage.removeItem(key);
                    } catch(e) { }
                }
            });
            try {
                localStorage.setItem(prefix + '.' + guardian.membership.buildNumber, data);
            } catch(e) {}
        }

        /**
         * Insert SVG sprite into document
         */
        function inlineSvg(data) {
            var el = document.createElement('div');
            el.innerHTML = data;
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(el, ref);
        }

        function loadSvgIcons() {
            var data = !guardian.isDev && localStorage.getItem('icons.' + guardian.membership.buildNumber);
            if (data) {
                inlineSvg(data);
            } else {
                loadData(guardian.membership.svgSprite, function(xhr) {
                    inlineSvg(xhr.responseText);
                    updateLocalStorage('icons', xhr.responseText);
                });
            }
        }

        if (isModern) {
            loadSvgIcons();
        }
    })(guardian.isModernBrowser);
</script>
