@import configuration.Config
@import views.support.Asset

@* Critical scripts that should execute as soon as possible, preventing layout thrashing *@

<!--[if lt IE 9]>
<script src="@Asset.at("javascripts/lib/html5shiv/html5shiv.min.js")"></script>
<![endif]-->

<script id="gu">

    if (!Function.prototype.bind) {
        Function.prototype.bind = function (oThis) {
            if (typeof this !== "function") {
                // closest thing possible to the ECMAScript 5
                // internal IsCallable function
                throw new TypeError("Function.prototype.bind - what is trying to be bound is not callable");
            }

            var aArgs = Array.prototype.slice.call(arguments, 1),
                fToBind = this,
                fNOP = function () {},
                fBound = function () {
                    return fToBind.apply(this instanceof fNOP && oThis
                            ? this
                            : oThis,
                        aArgs.concat(Array.prototype.slice.call(arguments)));
                };

            fNOP.prototype = this.prototype;
            fBound.prototype = new fNOP();

            return fBound;
        };
    }

    var guardian = {
        isModernBrowser: (
            'querySelector' in document
            && 'addEventListener' in window
            && 'localStorage' in window
            && 'sessionStorage' in window
            && 'bind' in Function
            && (('XMLHttpRequest' in window && 'withCredentials' in new XMLHttpRequest())
              || 'XDomainRequest' in window)),
        css: {
            loaded: false
        },
        stripePublicKey: '@Config.touchpointBackendConfig.stripe.publicKey',
        membership: {
            buildNumber: '@app.BuildInfo.buildNumber',
            eventImages: {
                widths: [@Config.eventImageWidths.mkString(",")],
                ratios: [@Config.eventImageRatios.mkString(",")]
            }
        },
        googleAnalytics: {
            trackingId: '@Config.googleAnalyticsTrackingId',
            cookieDomain: @if(Config.stage == "PROD") { 'auto' } else { 'none' }
        },
        analyticsOff: false, // see analytics setup module
        isDev: @(Config.stage == "DEV")
    };

    (function(isModern) {

        @* we want to add/remove classes to HTML ASAP to avoid FOUC *@
        var htmlClassNames = ['js-on']; // we know we have JS

        document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + ' ' + htmlClassNames.join(' ');

        if (!isModern) {
            // we add this class so it's off by default (avoiding FOUC)
            document.documentElement.className += ' js-ancient-browser';
        }

    })(guardian.isModernBrowser);

</script>
