@(pageInfo: model.PageInfo)

@import model.Nav

@import configuration.Links

<nav role="navigation" class="nav nav--global nav--global--header js-global-nav">
    <div class="nav__scroll l-constrained">
        <ul class="nav__list inline-list">
            <li class="nav__item nav__item--home">
                <a href="/" class="nav__link">
                    @fragments.inlineIcon("home")
                    <span class="u-h">Home</span>
                </a>
            </li>
            @for(navItem <- Nav.navigation) {
                @if(!navItem.isPrivate) {
                    <li class="nav__item">
                        <a href="@navItem.href" class="nav__link" id="qa-nav-@navItem.id">@navItem.title</a>
                    </li>
                }
                @for(subNavItem <- navItem.subNav if !subNavItem.isPrivate) {
                    <li class="nav__item nav__item--sub">
                        <a href="@subNavItem.href" class="nav__link" id="qa-nav-@subNavItem.id">@subNavItem.title</a>
                    </li>
                }
            }
            <li class="nav__item nav__item--right">
                <a href="@Links.membershipFront" class="nav__link nav__link--last js-members-area is-hidden">Members' Area</a>
            </li>
        </ul>
    </div>
</nav>

@defining(Nav.fetchNav(pageInfo.url)) { subNav =>
    @for(navItem <- subNav if navItem.subNav.nonEmpty) {
        <nav role="navigation" class="nav-secondary l-side-margins u-hidden-until-tablet">
            <div class="nav-secondary__inner l-constrained">
                <ul class="nav-secondary__breadcrumb nav-secondary__list">
                    <li class="nav-secondary__breadcrumb__item nav-secondary__breadcrumb__trail nav-secondary__item">
                        <a class="nav-secondary__breadcrumb__link nav-secondary__link" href="/">Home</a>
                    </li>
                    <li class="nav-secondary__breadcrumb__item nav-secondary__item">
                        <a class="nav-secondary__breadcrumb__link nav-secondary__link" href="@navItem.href">@navItem.title</a>
                    </li>
                </ul>
                <ul class="nav-secondary__list">
                    @for(subNav <- navItem.subNav) {
                        <li class="nav-secondary__item">
                            <a href="@subNav.href" class="nav-secondary__link" id="qa-nav-@subNav.id">@subNav.title</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    }
}
