@import views.support.Asset

<div class="browser-upgrade-msg hidden-print">
    <img src="@Asset.at("images/logo-plain.png")" class="browser-upgrade-msg__logo" alt="" />
    <div class="browser-upgrade-msg__box">
        <h3 class="browser-upgrade-msg__header">Sorry, your browser is not supported</h3>
        <p class="browser-upgrade-msg__subheader">To use Guardian Membership we recommend using the latest version of <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.getfirefox.com">Firefox</a> or <a href="http://support.apple.com/downloads/#safari">Safari</a>.</p>
        <p>If none of those browsers are available then please contact our Customer Services Team.</p>
        <div class="browser-upgrade-msg__help">
            <div class="browser-upgrade-msg__help__item browser-upgrade-msg__help__item--divider">
                <strong>call</strong><br />
                084 5712 3456<br />
                <span class="browser-upgrade-msg__minor-text">08:00 – 20:00 GMT Mon-Fri</span>
            </div>
            <div class="browser-upgrade-msg__help__item">
                <strong>email</strong><br />
                CustomerHelpDesk@@guardianmembership.com
            </div>
        </div>
    </div>

    <h3 class="browser-upgrade-msg__header">About Guardian Membership</h3>
    <p class="browser-upgrade-msg__blurb">We believe the open exchange of information, ideas and opinions has the power to change the world for the better</p>
    <p class="browser-upgrade-msg__blurb">Guardian Membership is the community for those who share this ideal</p>
    <p class="browser-upgrade-msg__blurb">Guardian Membership brings you closer to the stories of the day, connects you to the conversations that matter and introduces you to fellow members who share your interests</p>
    <p class="browser-upgrade-msg__blurb">We bring together diverse, progressive minds, journalistic skills and the best of what others create to give you a richer understanding of the world and the opportunity of shaping it.</p>
</div>
