html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

.page-container {
    padding: gs-height(1) 0;
}

.page-inner-container {
    padding: $gutter $gutter/3;
    background-color: #FFFFFF;
    @include mq(tablet){
        padding: $gutter;
    }
}

body {
    margin-bottom: 100px;
}

.separator {
    border-top: 2px solid #4bc6df;
    margin: $gs-baseline 0 $gs-baseline/2;
}