html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

.page-container {
    padding: gs-height(1) 0;
}

.page-inner-container {
    padding: $gutter;
    background-color: #FFFFFF;
}

body {
    margin-bottom: 100px;
}

.section-header {
    display: inline-block;
    @include fs-headline(5);
    @include rem((
        margin-bottom: $gs-baseline*2,
        padding: $gs-baseline/3
    ));
    background-color: #FFFFFF;
}

.center-aligned {
    text-align: center;
}

.separator {
    @include rem((
        padding-top: $gs-baseline/2
    ));
    border-top: 1px solid #dfdfdf
}

