html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

.page-container {
    padding: gs-height(1) 0;
}

.page-inner-container {
    padding: $gutter $gutter/3;
    background-color: #FFFFFF;
    @include mq(tablet){
        padding: $gutter;
    }
}

body {
    margin-bottom: 100px;
}

.section-header {
    display: inline-block;
    @include fs-headline(7);
    @include rem((
        margin-bottom: $gs-baseline*2,
        padding: $gs-baseline/3
    ));

    background-color: #FFFFFF;
}

.separator {
    border-top: 2px solid #4bc6df;
    margin: $gs-baseline 0 $gs-baseline/2;
}