.content__headline {
    @include fs-headline(4);
    padding-bottom: rem($gs-baseline);
    padding-top: rem($gs-baseline / 2);

    @include mq(mobileLandscape) {
        @include fs-headline(6, true);
    }
    @include mq(tablet) {
        -webkit-font-smoothing: antialiased;
        @include fs-headline(7, true);
        border-top: 0;
    }
    a {
        &,
        &:hover,
        &:active,
        &:focus {
            color: $c-neutral1;
        }
    }
    em {
        font-style: normal;
    }
    strong {
        font-weight: normal;
    }
}

.content__container {
    margin-bottom: rem($gs-gutter);
}

.content__container--border {
    border-top: rem(1px) dotted $c-neutral5;
}

.content__container--border-dark {
    border-top: rem(1px) dotted #333333;
}

.content__footer {
    color: #1a4683;
    text-align: center;
    @include fs-bodyCopy(3);
}
