.content__headline {
    @include fs-headline(4);
    @include rem((
        padding-bottom: $gs-baseline,
        padding-top: $gs-baseline/2
    ));

    @include mq(mobileLandscape) {
        @include fs-headline(6, true);
    }
    @include mq(tablet) {
        -webkit-font-smoothing: antialiased;
        @include fs-headline(7, true);
        border-top: 0;
    }
    a {
        &,
        &:hover,
        &:active,
        &:focus {
            color: $c-neutral1;
        }
    }
    em {
        font-style: normal;
    }
    strong {
        font-weight: normal;
    }
}

.content__container {
    @include rem((
        margin-bottom: $gs-gutter
    ));
}

.content__container--border {
    border-top: 1px dotted guss-colour('neutral-5');
}

.content__container--border-dark {
    border-top: 1px dotted #333333;
}

.content__footer {
    color: #1a4683;
    text-align: center;
    @include fs-bodyCopy(3);
}
