// Misc
// =============================================================================

%mobile-expand-collapse {
    @extend %icon-arrow-white-small;
    @include border-radius(100%);
    background-position: 4px 10px!important;
    position: absolute;
    top: rem($gs-gutter / 2);
    right: rem($gs-gutter / 2);
    background-color: rgba(255, 255, 255, .29);
    padding: rem(14px);
    border: 0 none;
    display: block;
}
