.nav--global--header {
    overflow-x: hidden!important;
    @include side-margins-calc('padding-left');
    @include side-margins-calc('padding-right');
}

.events-list .events-list__item {
    margin: 0 0 $gs-gutter 0 !important;
}

.section-two-thirds {
    .two-thirds {
        @include mq(desktop) {
            float: left;
        }
    }

    .one-third {
        @include mq(desktop) {
            float: right;
        }
    }
}

.event-item--hero {
    .event-item__media {
        width: 60%;
        display: inline-block;
    }

    .event-item__meta {
        width: 40%;
        display: inline-block;
        .event-item__cta {
            position: static;
        }
    }
}

