.nav--global--header {
    overflow-x: hidden!important;
    @include side-margins-calc('padding-left');
    @include side-margins-calc('padding-right');
}

.icon-wrapper {
    display: inline;
}

.events-list .events-list__item {
    margin: 0 0 $gs-gutter 0 !important;
}

.section-two-thirds {
    .two-thirds {
        @include mq(desktop) {
            float: left;
        }
    }

    .one-third {
        @include mq(desktop) {
            float: right;
        }
    }
}

.event-content {
    padding-bottom: rem(70px)!important;
}


/* Tier ie9 fix
   ========================================================================== */

// About membership page - fix height of tier boxes
.about-membership {
    .package {
        @include mq(desktop) {
            height: rem(900px);
            margin-bottom: rem($gs-gutter * 2);
        }
    }
}

// Patron page - fix height of tier boxes
.patron-page {
    .package__inner {
        @include mq(desktop) {
            height: rem(125px);
        }
    }
}

// Join page - fix height of tier boxes
.join,
.change-tier {
    .package {
        @include mq(desktop) {
            height: rem(1400px);
            margin-bottom: rem($gs-gutter * 3);
        }

        @include mq(mem-full) {
            height: rem(1350px);
            margin-bottom: rem($gs-gutter * 3);
        }
    }
}

// Homepage & Patron page - fix height of tier boxes
.home-page,
.patron-page {
    .package {
        height: auto;
    }
}

// general page - fix height of tier boxes
.package {
    @include mq(desktop) {
        margin-bottom: rem($gs-gutter * 3);
    }

    @include mq(mem-full) {
        margin-bottom: rem($gs-gutter * 3);
    }
}

.content__footer {
    clear: both;
}

/* Hide progress indicator for home a-b test slide show as css animation does not work here
   ========================================================================== */

.progress-indicator {
    display: none;
}

/* Footer ie9 fix
   ========================================================================== */

.colophon {
    margin-bottom: rem($gs-gutter);
    overflow: hidden;

    @include mq(tablet) {
        width: rem(gs-span(8));
    }

    @include mq(desktop) {
        width: rem(gs-span(10));
    }

    li { 
        width: 50%;

        @include mq(tablet) {
            width: 33.333%; 
        }
    }

    .colophon__item {
        float: left;
        display: inline;
    }
}
