// =============================================================================
// Global variables
// =============================================================================

// Be careful of Sass variable scope
// Note: Sass 3.3.0 adds Local and local vars
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables

// Support
// =============================================================================

$old-ie: false !default;
$svg-support: true !default;
$browser-supports-columns: true !default;
$browser-supports-flexbox: true !default;

// Layout dimensions
// =============================================================================

$gutter: 16px;
$gutter-width-fluid: 2.5%;
$unitHeight: 36px;
$inArticleInlineImgWidth: 114px;
$trailblockImgWidth: 100%;
$trailblockImgWidthLarge: 140px;
$mobilePopupOffset: 43px;
$pageOffset: 36px;

// Guss defaults overrides
// =============================================================================

$guss-column-rule: none;

@import 'components/bower-components/guss-grid-system/grid-system';

// Breakpoints
// =============================================================================

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
// NB. If these change, please update dfp.js to match

$mq-breakpoints: (
    mobile: gs-span(4)  + $gs-gutter, // 320px
    tablet: gs-span(9)  + $gs-gutter*2, // 740px
    desktop: gs-span(12) + $gs-gutter*2, // 980px
    mem-full: gs-span(14) + $gs-gutter*2, // 1140px
    wide: gs-span(16) + $gs-gutter*2, // 1300px
    // Tweakpoints
    mobileLandscape: gs-span(6) + $gs-gutter, // 480px
);

// Fonts
// =============================================================================

$f-data: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif !default;
$f-serif-headline: 'Guardian Egyptian Web', Georgia, serif !default;
$f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-sans-serif-headline: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

// Font scale
// Usage:
// font-size (px) line-height (px) // level
$font-scale: (
    header: (
        1: (font-size: 16, line-height: 20),
        2: (font-size: 18, line-height: 24),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 22, line-height: 28),
        5: (font-size: 24, line-height: 28),
        6: (font-size: 26, line-height: 28),
    ),
    headline: (
        1: (font-size: 14, line-height: 18),
        2: (font-size: 16, line-height: 20),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 24, line-height: 28),
        5: (font-size: 28, line-height: 34),
        6: (font-size: 32, line-height: 36),
        7: (font-size: 36, line-height: 40),
        8: (font-size: 40, line-height: 44),
        9: (font-size: 44, line-height: 48),
    ),
    bodyHeading: (
        1: (font-size: 14, line-height: 20),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
        4: (font-size: 20, line-height: 28),
    ),
    bodyCopy: (
        1: (font-size: 14, line-height: 20),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
    ),
    data: (
        1: (font-size: 11, line-height: 14),
        2: (font-size: 12, line-height: 14),
        3: (font-size: 13, line-height: 16),
        4: (font-size: 14, line-height: 18),
        5: (font-size: 16, line-height: 20),
        6: (font-size: 18, line-height: 22),
    ),
    textSans: (
        1: (font-size: 12, line-height: 16),
        2: (font-size: 13, line-height: 18),
        3: (font-size: 14, line-height: 20),
        4: (font-size: 14, line-height: 22),
    )
) !default;

// Colours
// =============================================================================
// TODO - clean up the colours in this file, potentially abstract into own file and use guss-colour() mixin and
// TODO - new way of doing things
@import 'components/bower-components/guss-colours/_colours.scss';
@import 'components/bower-components/pasteup-palette/src/_palette';
@import 'components/bower-components/guss-colours/_colours.helpers.scss';

$error: guss-colour(error, $pasteup-palette);


$c-brandBlue: #214583;
$c-brandLightBlue: #94b1ca;
$c-error: #d61d00;

$c-body: #333333; // Changed from #545454
$c-body-transparent: rgba(51, 51, 51, .05);
$c-background: #ffffff;

$c-neutral1: #333333;
$c-neutral2: #767676;
// Enhance contrast of grey text on light grey background
$c-neutral2-contrasted: darken($c-neutral2, 3%);
$c-neutral3: #bdbdbd;
$c-neutral4: #dcdcdc;
$c-neutral5: guss-colour('neutral-5', $pasteup-palette);
$c-neutral6: #eaeaea;
$c-neutral7: #f1f1f1;
$c-neutral8: #f6f6f6;
$c-neutral9: #fdfdfd;

$c-live: #e81818;
$c-media-icon: #fbba0f;

// Tones
// =============================================================================

$c-newsDefault: #005689;
$c-newsAccent: #4bc6df;

$c-featureDefault: #951c55;
$c-featureAccent: #f66980;
$c-featuresVariant: #7d0068;

$c-commentDefault: #e6711b;
$c-commentAccent: #ffbb00;

// Zones
// =============================================================================

// Note: try to at least alphabetise these within sections

$articleOrange: #e47a39;
//Used for live-blogging
$businessBlue: #004179;
$commentBlue: #004179;
$culturePink: #d1008b;
$environmentGreen: #4a7801;
$lifeandstyleOrange: #ea721e;
$moneyPurple: #7d0068;
$newsRed: #d61d00;
$travelBlue: #066ec9;

// Football
// =============================================================================

$c-sportBright: #70d2e6;
$c-sportMid: #005689;
$c-sportDark: #003f64;

$c-sportHome: $c-sportBright;
$c-sportAway: $c-sportDark;

// Stati
// =============================================================================

$c-statusPositive: #6ca843;
$c-statusNeutral: $c-neutral2;
$c-statusNegative: #da1d1d;

// MPU
// =============================================================================

$mpu-original-width: 300px;
$mpu-original-height: 250px;
$mpu-align-offset: 20px;
// Align bottom of ad with text on desktop
$mpu-ad-label-height: 34px;

// Scale the ad down on tablet
$mpu-target-width: gs-span(3) + $gs-gutter/2;
$mpu-scale-ratio: $mpu-target-width/$mpu-original-width;
$mpu-resulting-height: ceil($mpu-original-height*$mpu-scale-ratio);

// Dimensions
// =============================================================================

$action-icon-width: 23px;
$action-icon-rightspace: 7px;

// Membership
// =============================================================================

$white: #ffffff;
$offWhite: #d6d6d6;
$black: #000000;
$offBlack: #666666;
$black-trans: rgba(0, 0, 0, .25);
$white-trans: rgba(255, 255, 255, .25);

$mem-brandOrange: #ce6f14;
$mem-brandBlue: #82c2d6;
$mem-brandGrey: #dcddda;
$mem-brandDarkBlue: $c-newsDefault;
$mem-brandLightblue: #02c7e1;
$mem-trans-white: rgba(255, 255, 255, .95);
$mem-trans-red: rgba(180, 24, 0, .95);
$mem-trans-green: rgba(170, 216, 1, .95);
$mem-black: #333333;
$mem-blue: #4bc6df;
$mem-green: #aad802;
$mem-buttonBlue: #197caa;
$mem-darkGrey: #999999;
$mem-button-confirm: #1a4683;
$mem-button-cancel: #b8b8b8;
$mem-blue-border: #6dcfe3;
$mem-header: rgba(0, 0, 0, .7);
$mem-sold-out: #cc2b12;

$mem-live-top: #b51800;
$mem-live-accent: #cc2b12;
$mem-mc-top: #ffbb00;
$mem-mc-accent: #fcdd03;

$mem-underline-white-trans: rgba(229, 208, 212, .5);
$mem-event-button-hover: rgba(0, 0, 0, .65);

$side-margins-top-magic-number: 114px;
$border-bottom-color: rgba(255, 255, 255, .29);

$flash-error-color: #d61d00;
$flash-error-border: #ff998a;
$flash-error-background: #fdf4f3;
$flash-success-color: #1c6326;
$flash-success-border: #33a22b;
$flash-success-background: #faffe5;

$transition-duration-short: .25s;
$transition-duration-medium: .5s;
$transition-duration-long: 1s;
