@charset 'UTF-8';
/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Vars.................Variables and settings
 * Mixins...............Useful mixins
 * Extends..............Placeholder classes used only for @extend
 *
 * BASE.................Global / element level rules
 * LAYOUT...............Layout rules. Layout helpers, global header / footer etc.
 * MODULE...............Individual components. One file per component,
 *                      The majority of all styles should be modules.
 * THEME................Theme style overrides / Tone colours.
 * STATE................Styles which augment & overrides all other styles
 */

/* ==========================================================================
   Settings & Tools
   ========================================================================== */

@import 'vars';
@import 'mixins/mixins-utils';
@import 'mixins/mixins-layout';
@import 'mixins/mixins-flexbox';
@import 'extends-only';

/* ==========================================================================
   Base
   ========================================================================== */

@import 'base/normalize';
@import 'base/base';
@import 'base/links';
@import 'base/lists';
@import 'base/forms';
@import 'base/tables';
@import 'base/images';
@import 'base/helpers';

/* ==========================================================================
   Icon Sprites
   ========================================================================== */

// Data-uri'd icon sprites and extends
@import 'icons';

/* ==========================================================================
   Layout
   ========================================================================== */

@include grid-system;
@include guss-row-utility;
@include guss-columns-utility;

@import 'layout/layout';
@import 'layout/footer';
@import 'layout/header';
// TODO: Remove when refactoring brochure pages
@import 'layout/homeslice';

/* ==========================================================================
   Module
   ========================================================================== */
// TODO: Move all `components` to `modules` and
// keep `components` for `bower-components` only.

@import 'components/icons';
@import 'components/text-helpers';
@import 'components/grid';
@import 'components/content';
@import 'components/from-content-api';
@import 'components/nav/nav';
@import 'components/nav/pop-up';
@import 'components/nav/control';
@import 'components/nav/brand-bar';
@import 'components/action';
@import 'components/page';
@import 'components/blocks';
@import 'components/asides';
@import 'components/benefits';
@import 'components/payment';
@import 'components/pricing';
@import 'components/stats';
@import 'components/tier';
@import 'components/user';
@import 'components/help';
@import 'components/modal';
@import 'components/loader';
@import 'components/social';
@import 'components/signpost';
@import 'components/slideshow';
@import 'components/features';
@import 'components/messages';
@import 'components/warnings';

// Dev modules:
// - Pattern library
@import 'components/patterns';

/* Pages
   ========================================================================== */
// TODO: These are conceptually no different to components (modules),
// gradually merge them into modules as you work on related styles.

@import 'pages/events-detail';
@import 'pages/events-summary';
@import 'pages/events-list';
@import 'pages/joiner';
@import 'pages/login';

/* ==========================================================================
   State
   ========================================================================== */

@import 'state/user';
@import 'state/responsive';

/* ==========================================================================
   Theme
   ========================================================================== */

@import 'theme/tones';

/* ==========================================================================
   Webfonts
   ========================================================================== */

@import 'webfonts';

/* ==========================================================================
   Print
   ========================================================================== */

@import 'print';
