@()

@main("About", containerPadding = false, htmlClass = "events-bg") {

    @fragments.layout.sectionHeader("About Membership")

    <p>Guardian membership bring together diverse, progressive minds, journalistic skills and the best of what others create to give you a richer understanding of the world and the opportunity of shaping it.</p> 
    <p>Join now as a Founding Partner or Patron and guarantee that the price you pay today will never rise.</p>
    <a class="action action--join" href="/join">Join today</a>

    <div class="benefits-container">
        <h2 class="about-block-title">what's included</h2>
        <ul class="benefits__list u-unstyled">
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-book_tickets"></i>
                <span class="benefits__list--header">Book tickets</span>
                <p>Book tickets to Guardian Live events</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-dig_digest"></i>
                <span class="benefits__list--header">Digital Digest email</span>
                <p>Receive weekly updates on the upcoming programme</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-video_highlights"></i>
                <span class="benefits__list--header">Video highlights</span>
                <p>Watch highlights of selected Guardian Live events</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-discount"></i>
                <span class="benefits__list--header">20% Discount</span>
                <p>20% discount on Guardian Live tickets</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-plus_1_guest"></i>
                <span class="benefits__list--header">+1 Guest</span>
                <p>Bring a guest to Guardian Live with the same discount and priority booking advantages</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-live_stream"></i>
                <span class="benefits__list--header">Live stream events</span>
                <p>Watch live streams of Flagship events</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-membership_card"></i>
                <span class="benefits__list--header">Membership card</span>
                <p>Unlock additional experiences</p>
            </li>
            <li class="benefits__list--items">
                <i class="icon-sprite icon-sprite-early_booking"></i>
                <span class="benefits__list--header">Early Booking</span>
                <p>Additional priority ticket booking (one week before friends)</p>
            </li>
        </ul>
    </div>

}
