@(pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Config
@import views.support.Asset
@import com.gu.membership.salesforce.Tier

@main("About", pageInfo=pageInfo) {

    @* ===== About Membership ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("About<br>Membership"), imageUrl="images/about/about-intro-1140.jpg", isLead=true) {
            <div class="text-feature">
                <p>Guardian Members are changing the idea of what a news organisation does today.</p>
                <p>Join the influential community of journalists, readers and contributors that is the Guardian, and connect to the conversations that matter.</p>
                <p>Become a Founding Partner or Patron today and the price you pay will not rise.</p>
            </div>
            <div class="action-group">
                <a class="action u-no-top-margin" href="@routes.Joiner.tierList">Join today</a>
                <a class="action action--secondary u-no-top-margin js-scroll-to" href="#whats-included">
                    What's included
                    @fragments.actionIcon("arrow-right")
                </a>
            </div>
        }
    </div>

    @* ===== Bring the Guardian to life ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Guardian Live: Experience the Guardian brought to life"), imageUrl="images/about/about-events-1140.jpg", stampImageOpt=Some("images/logos/guardian-live-reversed.svg"), toneClass=Some("tone-trans-guardian-live")) {
            <div class="text-feature">
                <p>Book tickets for our programme of discussions, debates, interviews, keynote speeches and festivals.</p>
            </div>
            <a class="action u-no-top-margin" href="@routes.Event.list">See our live events</a>
        }
    </div>

    @* ===== Guardian Masterclasses ===== *@
    <div class="page-slice page-slice--slim l-constrained">
        @fragments.promos.promoSecondary(Html("Guardian Masterclasses: Learn with the Guardian"), imageUrl="images/about/about-masterclasses-740.jpg", stampImageOpt=Some("images/logos/guardian-masterclasses-reversed.svg"), toneClass=Some("tone-masterclasses")) {
            <p class="text-feature">
                Guardian Masterclasses offer a broad range of short and long courses across a variety of disciplines with a 20% discount for Partners and Patrons.
            </p>
            <a class="action u-no-top-margin" href="@routes.Event.masterclasses">View all courses</a>
        }
    </div>

    @* ===== Founding Members ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Founding members: join us at the start"), imageUrl="images/about/about-founding-members-1140.jpg") {
            <div class="text-feature">
                <p>Guardian Membership is launching in beta. We have ambitious plans, and new features will be added regularly.
                Guardian membership will grow into a vibrant, self-organising community of free-thinkers.</p>
                <p>Help to build and shape this community by joining as a Founding Partner or Patron,
                with the guarantee that the price you pay today will not rise.</p>
            </div>
            <a class="action u-no-top-margin" href="@routes.Joiner.tierList" id="qa-join">Join today</a>
        }
    </div>

    @* ===== Big ideas ===== *@
    <div class="page-slice page-slice--slim l-constrained">
        @fragments.promos.promoSecondary(Html("A home for big ideas"), imageUrl="images/about/about-space-740.jpg", toneClass=Some("tone-guardian-live")) {
            <div class="text-feature">
                <p>In 2016, the Guardian will reopen the Midland Goods Shed at London’s King’s Cross to create a new kind of civic space.</p>
                <p>The building will be a hub for big ideas and stimulating conversations. It will host events,
                activities and courses from Guardian Live and institutions we admire, as well as being the home of Guardian Membership.</p>
            </div>
            <div class="action-group">
                <a class="action u-no-top-margin" target="_blank" href="@Config.guardianMembershipBuildingSpaceUrl">More about the building</a>
                <a class="action action--secondary u-no-top-margin" target="_blank" href="@Config.guardianMembershipBuildingBlogUrl">
                    Building progress blog
                    @fragments.actionIcon("arrow-right")
                </a>
            </div>
        }
    </div>

    @* ===== Become a Patron ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Become a Patron and support the Guardian's future"), imageUrl="images/about/about-patron-1140.jpg", toneClass=Some("tone-trans-brand-dark")) {
            <blockquote class="blockquote blockquote--feature">
                The only relationship our journalists have is with our readers. Membership gives the real possibility of deepening the intense bond between the producers and consumers of the Guardian.
                <cite class="blockquote__citation">Alan Rusbridger, editor-in-chief of the Guardian</cite>
            </blockquote>
            <div class="action-group">
                <a class="action u-no-top-margin" href="@routes.Info.patron">Become a Patron</a>
            </div>
        }
    </div>

    @* ===== What's Included ===== *@
    <div class="page-slice tone-tint l-side-margins l-constrained" id="whats-included">
        <h2 class="page-slice__headline">What's included in Membership</h2>
        <div class="page-slice__content">
            @fragments.tier.packageFeature(Tier.Friend, isReversed=true)
            @fragments.tier.packageFeature(Tier.Partner, isReversed=true)
            @fragments.tier.packageFeature(Tier.Patron, isReversed=true)
        </div>
    </div>

}
