@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.{CatalogPlan, MonthYearPlans}
@import views.support.PageInfo
@(  heroImage: model.OrientatedImages,
    supporterPlans: MonthYearPlans[CatalogPlan.Supporter],
    pageInfo: PageInfo,
    detailImage: model.OrientatedImages)(implicit token: play.filters.csrf.CSRF.Token, countryGroup: CountryGroup)

@main("Supporters", pageInfo=pageInfo, countryGroup=Some(countryGroup)) {

    <section class="elevated-supporter">
        @* ===== Become a Guardian Supporter ===== *@
        @fragments.page.elevatedBecomeSupporter(heroImage, supporterPlans, countryGroup, showCurrencyPrefix = false)

        @* ===== Supporters get closer to the Guardian ===== *@
        @fragments.page.elevatedCloserTheGuardian(supporterPlans, countryGroup, showCurrencyPrefix = false)

        @* ===== Why do we need our Supporters ===== *@
        @fragments.page.elevatedWhySupport(detailImage, supporterPlans, countryGroup, showCurrencyPrefix = false)
    </section>
}
