@(flashMsgOpt: Option[model.FlashMessage] = None)(implicit token: play.filters.csrf.CSRF.Token)

@import views.html.helper.CSRF

@main("Feedback") {

    <main role="main" class="page-content l-constrained">

        @for(flashMsg <- flashMsgOpt) {
            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                @fragments.notifications.flashMessage(flashMsg)
                </div>
            </section>
        }

        <section class="form-header">
            <h1 class="form-headline">Feedback</h1>
            <p class="form-intro">Help us improve your membership experience</p>
        </section>

        <section class="form-section form-section--no-padding">
            <div class="form-section__content copy">
                <div class="form-detail">
                    <p>Use the form below to send us your comments or suggestions on Guardian Members. We'd like to hear it.</p>
                    <p>We read all feedback carefully, but please note we cannot respond to all comments submitted.</p>
                    <p>If you’re having any problems please visit our <a href="@routes.Info.help">help section</a>.</p>
                </div>
            </div>
        </section>

        <section class="form-section form-section--no-padding">
            <div class="form-section__content">
            @fragments.form.errorMessageDisplay()
            </div>
        </section>

        <section class="form-section">

            <div class="form-section__content">

                <form action="@routes.Info.feedback" method="POST" id="feedback-form" class="js-form" novalidate>
                    @CSRF.formField
                    @fragments.form.feedback()
                    @fragments.form.errorMessageDisplay()
                    <fieldset class="fieldset fieldset--simple">
                        <div class="fieldset__heading"></div>
                        <div class="fieldset__fields fieldset__fields--no-padding">
                            <div class="actions">
                                <button type="submit" class="action js-submit-input">Send feedback now</button>
                                <div class="loader js-loader"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>

        </section>

    </main>
}
