@import configuration.Config

@main("Gifting") {
    <main role="main" class="page-content l-constrained">
        @fragments.page.pageHeader("Gifting")
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Gifting is coming soon</h2>
            </div>
            <div class="page-section__content copy">
                <p>If you'd like to register your interest in gifting a friend with Guardian Membership, or give feedback about how you'd like gifting to work, just
                    send us a message at <a href="mailto:@Config.membershipFeedback" class="u-underline">@Config.membershipFeedback</a>.</p>
            </div>
        </section>
    </main>
}
