@import model.Faq

@main("Help") {
    <main role="main" class="page-content l-constrained">
        @fragments.page.pageHeader("Frequently asked questions", Some("Common questions about Guardian Members"))
        <section class="page-section">
            <div class="page-section__content">
                @fragments.common.faqsections(Faq.help)
            </div>
            <div class="page-section__supplementary">
                <aside class="aside copy" role="complementary">
                    <p>If your question is not answered here then please <a href="@routes.Info.feedback.url" class="u-underline">get in touch</a>.</p>
                </aside>
            </div>
        </section>
    </main>
}
