@import configuration.Config
@import model.Faq

@main("Help", containerPadding=false) {

    <main class="page-container__inner" role="main">
        <section class="page-header">
            <h1 class="page-headline">FAQ</h1>
            <p class="page-intro">Common questions about Guardian Membership</p>
        </section>

        <section class="page-section">
            <div class="page-section__content">
                @fragments.faq.questions(Faq.help)
                @fragments.faq.answers(Faq.help)
            </div>
            <div class="page-section__supplementary">
                <aside class="aside copy" role="complementary">
                    <p>If your question is not answered here then please <a href="mailto:@Config.membershipSupport" class="u-underline">get in touch</a>.</p>
                </aside>
            </div>
        </section>
    </main>
}
