@import com.gu.i18n.CountryGroup
@import com.gu.membership.PaidMembershipPlans
@import com.gu.memsub.Current
@import views.support.{Asset, PageInfo, PaidPlans}
@import com.gu.salesforce.Tier
@import com.gu.memsub.subsv2.Catalog._

@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan
@(patronPlans: MonthYearPlans[CatalogPlan.Patron],
  supporterPlans: MonthYearPlans[CatalogPlan.Supporter],
  partnerPlans: MonthYearPlans[CatalogPlan.Partner],
  pageInfo: PageInfo,
  countryGroup: CountryGroup,
  pageImages: Seq[com.gu.memsub.images.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token)


@main("Patrons", pageInfo=pageInfo) {

    @* ===== About Patronage ===== *@
    @for(img <- pageImages.find(_.name.contains("intro"))) {
        <div class="page-slice l-constrained">
            @fragments.promos.promoPrimary(title="Patrons of the Guardian", img=img, isLead=true, toneClass=Some("tone-trans-white")) {
                <div class="text-feature">
                    <p>The Patron tier is for those who care deeply about the Guardian’s journalism and the impact it has on the world.</p>
                    <p>From campaigning on issues affecting the voices less heard to holding those in power to account, Patrons ensure the Guardian can continue to surface the information and ideas that shape the global conversation.</p>
                </div>
                @fragments.tier.packagePromoMinimal(patronPlans, countryGroup, showDescription = false, modifierClass = Some("package-promo--spread"))
                <div class="text-feature">
                    <p>The Guardian has no proprietor. Our editor has total independence.</p>
                    <p>The support of Patrons helps to ensure that the Guardian can stand witness to the world, without interference.</p>
                </div>
            }
        </div>
    }



    @* ===== Backstage Pass ===== *@
    @for(img <- pageImages.find(_.name.contains("backstage-pass"))) {
        <div class="page-slice page-slice--slim l-constrained">
            @fragments.promos.promoSecondary(Html("Backstage pass to the Guardian"), img=img, toneClass=Some("tone-trans-brand-supporting-2")) {
                <p class="text-feature">In return for your support, Patrons are given a behind-the-scenes view of how the Guardian operates.  For example, tour our newsroom, visit our printing presses or attend a campaign lecture.</p>
                <a class="action"
                    href="@routes.Joiner.enterPaidDetails(Tier.patron)"
                    data-metric-trigger="click"
                    data-metric-category="join"
                    data-metric-action="patron"
                >Become a Patron today</a>
            }
        </div>
    }

    @* ===== Get Involved ===== *@
    @for(img <- pageImages.find(_.name.contains("get-involved"))) {
        <div class="page-slice l-constrained">
            @fragments.promos.promoPrimary(title="Choose to get involved", img=img, toneClass=Some("tone-trans-white")) {
                <p class="text-feature">
                    Patrons are crucial to the future development of Membership, and there will be opportunities to get involved.  From hosting your own events to connecting members to one another, you will shape the future of the community.</p>
                @fragments.tier.packagePromoMinimal(patronPlans, countryGroup)
            }
        </div>
    }

    @* ===== Join Today ===== *@
    <div class="page-slice page-slice--split tone-tint">
        <div class="page-slice__inner l-constrained">
            <h2 class="page-slice__headline">Not ready to become a Patron yet? Join as a Supporter or a Partner</h2>
            <div class="page-slice__content">
                <ul class="grid grid--equal-heights grid--bordered grid--2up-stacked">
                    <li class="grid__item">
                    @fragments.tier.packagePromo(PaidPlans(supporterPlans), countryGroup, isReversed = true)
                    </li>
                    <li class="grid__item">
                    @fragments.tier.packagePromo(PaidPlans(partnerPlans), countryGroup, isReversed = true)
                    </li>
                </ul>
                @fragments.tier.friendTeaser()
            </div>
        </div>
    </div>

}
