@(pageImages: Seq[model.ResponsiveImageGroup])

@import model.Faq
@import com.gu.membership.salesforce.Tier
@import model.Benefits
@import views.support.Prices._
@import configuration.{Config, Videos}

@main("Exclusive offer for subscribers") {
    @defining(Benefits.details(Tier.Partner)) { benefits =>
        <main role="main">

            @for(img <- pageImages.find(_.name.contains("intro"))) {
                <div class="page-slice page-slice--slim l-constrained">
                    @fragments.promos.letterbox(img=img, titleOpt=Some("Exclusive offer for subscribers"))
                </div>
            }

            @* ===== Intro ===== *@
            <section class="page-slice l-inset l-constrained">
                <div class="page-section-spread">
                    <div class="page-section-spread__content">
                        <p class="text-feature">
                            As a valued subscriber we’d like to invite you to become a
                            Partner of the Guardian and enjoy your initial 6 months for free.
                        </p>
                        <a class="action" href="#whats-included">What’s included</a>
                    </div>
                </div>
            </section>

            @* ===== Pay nothing for 6 months ===== *@
            <section class="page-slice tone-tint l-inset l-constrained">
                <div class="page-section-spread">
                    <div class="page-section-spread__lead-in">
                        <h2 class="h-promo">Pay nothing for 6 months</h2>
                    </div>
                    <div class="page-section-spread__content">
                        <div class="copy text-feature">
                            <ul>
                                <li>50% saving on standard monthly or annual payment</li>
                                <li>You can cancel online at any time in the first 6 months</li>
                                <li>There is no obligation to continue Membership after the free 6 month period</li>
                                <li>Start enjoying your free Membership today</li>
                            </ul>
                        </div>
                        <a class="action" href="@routes.Joiner.enterDetails(Tier.Partner)">Join today for free</a>
                    </div>
                </div>
            </section>

            @* ===== Become a Member ===== *@
            @for(img <- pageImages.find(_.name.contains("guardian-live"))) {
                <div class="page-slice page-slice--slim l-constrained" id="what-is-membership-video">
                    @fragments.promos.promoAltVideo(
                        title="Introducing Guardian Membership",
                        video=Videos.whatIsMembership,
                        toneClassOpt=Some("tone-brand")
                    ) {
                        <p class="text-feature">
                            Guardian Members are changing the idea of what a news organisation does today,
                            playing a vital role in the influential community of readers, contributors
                            and journalists that is the Guardian.
                        </p>
                    }
                </div>
            }

            @* ===== Guardian Live ===== *@
            @for(img <- pageImages.find(_.name.contains("guardian-live"))) {
                <div class="page-slice page-slice--slim l-constrained">
                    @fragments.promos.promoAlt(
                        title="Experience the Guardian brought to life",
                        img=img,
                        toneClassOpt=Some("tone-guardian-live")
                    ) {
                        <p class="text-feature">
                            Get even closer to the Guardian’s award-winning journalism through
                            events, meet-ups and courses. We introduce you to some of the world’s
                            most influential thinkers. Not only our speakers, but the community of
                            members around you.
                        </p>
                    }
                </div>
            }

            @* ===== What's Included ===== *@
            <section class="page-slice tone-tint l-inset l-constrained" id="whats-included">
                <div class="page-section-spread">
                    <div class="page-section-spread__lead-in">
                        <h2 class="h-promo">What's included</h2>
                    </div>
                    <div class="page-section-spread__content">
                        <ul class="grid grid--3up">
                        @for(benefit <- benefits.list){
                            <li class="grid__item">
                                <div class="u-divider-dotted">@fragments.tier.benefitItem(benefit)</div>
                            </li>
                        }
                        </ul>

                        <p>Join the Guardian. Support open, independent journalism and experience it brought to life.</p>
                        <a class="action" href="@routes.Joiner.enterDetails(Tier.Partner)">Join today for free</a>
                    </div>
                </div>
            </section>

            @* ===== Terms ===== *@
            <section class="page-slice page-slice--legal l-inset l-constrained">
                <div class="page-section-spread">
                    <div class="page-section-spread__lead-in"></div>
                    <div class="page-section-spread__content text-caption">
                        <p>Offer available to active subscribers to Voucher, Home Delivery or Digital pack products. 6 months free is available on Partner tier membership only. Eligible Members will pay nothing for their initial 6 months, and then be charged £15 a month if selecting monthly payments, or £67.50 if selecting an annual payment.</p>
                        <p>Customers must become members by 31 Aug 2015 to be eligible for the offer. Offer subject to availability. GNM reserves the right to withdraw this promotion at any time for reasons beyond their reasonable control.</p>
                    </div>
                </div>
            </section>

            @* ===== Questions ===== *@
            <section class="page-slice l-inset l-constrained">
                <div class="page-section-spread">
                    <div class="page-section-spread__lead-in">
                        <h2 class="h-promo">Questions</h2>
                    </div>
                    <div class="page-section-spread__content">
                        @fragments.faq.answers(Faq.subscribers)
                    </div>
                </div>
            </section>

        </main>
    }
}
