@import views.support.PageInfo
@import com.gu.i18n.CountryGroup
@import com.gu.membership.PaidMembershipPlans
@import com.gu.memsub.Current
@import views.support.Asset
@import configuration.Videos
@import com.gu.memsub.subsv2.Catalog._
@import com.gu.memsub.subsv2.MonthYearPlans
@import views.support.MembershipCompat._

@(heroImage: model.OrientatedImages, supporterPlans: MonthYearPlans[Supporter],
  pageInfo: PageInfo,
  pageImages: Seq[com.gu.memsub.images.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token, countryGroup: CountryGroup)

@main("Supporters", pageInfo=pageInfo, countryGroup=Some(countryGroup)) {
    @* ===== About Supporters ===== *@
    @fragments.page.heroBanner(heroImage) {
        Become a Guardian&nbsp;Supporter
    } {
        Supporters keep our journalism fearless and free to tell the stories that matter
    }()
    @fragments.page.section(hasBorder = false) {
        @fragments.tier.packagePromoSupporter(supporterPlans, countryGroup)
    }
    @fragments.page.section("Support independent journalism", isNarrow = false, hasBottomPadding = false) {
        <div class="video-preview video-preview--plain">
            <div class="video-preview__video">
            @fragments.media.videoPlayer(Videos.supportersAU)
            </div>
            <div class="video-preview__header">
                @fragments.inlineIcon("video", List("icon-inline--scale"))
                Watch our journalists explain why the Guardian’s unique approach to journalism is worth defending
            </div>
        </div>
    }

    @fragments.page.section(hasBorder = false, hasBottomPadding = false){
        <div class="listing__text">
            <p>The Guardian shines a light on critical, under-reported stories across Australia and the globe.</p>
            <p>We’ve revealed the reality of <a href="https://www.theguardian.com/australia-news/2016/jun/20/the-worst-ive-seen-trauma-expert-lifts-lid-on-atrocity-of-australias-detention-regime">Australia’s offshore detention regime</a>, and in our committed coverage of climate change, our <a href="http://www.theguardian.com/australia-news/series/reef-on-the-brink">Reef on the brink</a> series exposed the mass coral bleaching on the Great Barrier Reef.</p>

        </div>
    }

    @* ===== Ensuring our independence ===== *@
    @for(img <- pageImages.find(_.name.contains("coral"))) {
        @fragments.page.sectionCardStack(img, topPadding = false) {
            <div class="listing__text">
                <p>We've led the way on discussion of <a href="https://www.theguardian.com/commentisfree/2015/jul/30/i-can-tell-you-how-adam-goodes-feels-every-indigenous-person-has-felt-it">discrimination against Indigenous people</a>. In our fearless politics coverage, we've reported scoops that have <a href="https://www.theguardian.com/world/2013/nov/18/australia-tried-to-monitor-indonesian-presidents-phone">dominated national debate</a>. We've also told the story <a href="https://www.theguardian.com/society/2015/sep/28/im-not-a-hypochondriac-i-have-a-disease-all-these-things-that-are-wrong-with-me-are-real-they-are-endometriosis">of the suffering of millions of women living with endometriosis</a>.</p>
                <p>Our independence allows us to produce award-winning journalism free from outside influence. Your support is invaluable for us to maintain this.</p>
                <p>
                    <a class="action" href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier)}?countryGroup=@countryGroup.id">Become a Supporter</a>
                </p>
            </div>
        }
    }
    @* ===== Join The Guardian and support The Guardian ===== *@
    @fragments.page.section("If you read the Guardian, join the Guardian",contentHasTopPadding = false) {
        @fragments.promos.promoQuote(
            Asset.at("images/common/lenore-taylor-cutout.png"),
            "Lenore Taylor, Editor, Guardian Australia"
        ) {
            <blockquote class="blockquote">
                By becoming a Guardian Australia Member you join the community of readers who support our independent, fearless journalism and help us continue to cover the important stories, the ones that make a difference but so often don't get told.
                <cite class="blockquote__citation">Lenore Taylor, Editor, Guardian Australia</cite>
            </blockquote>
        }
    }

    @* ===== Join Today ===== *@
    @fragments.page.section("What's included") {
        @fragments.tier.packagePromoSupporter(supporterPlans, countryGroup)
    }
}
