@import com.gu.i18n.CountryGroup.US
@import com.gu.memsub.Current
@import com.gu.salesforce.Tier.Supporter
@import com.gu.membership.PaidMembershipPlans
@import views.support.PageInfo
@(supporterPlans: PaidMembershipPlans[Current, Supporter],
  pageInfo: PageInfo,
  pageImages: Seq[model.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token)

@import configuration.Videos
@import views.support.Asset
@main("Supporters", pageInfo=pageInfo) {
    @fragments.page.heroBanner("hero-banner--us-supporter") {
        Become a Guardian&nbsp;Supporter
    } {
        Supporters keep our journalism fearless and free to tell the stories other news organizations won’t.
        <span class="text-pale">Plus, join today and $1 will be donated to the Guardian Charity Appeal.</span>
    }()

    @fragments.page.section(hasBorder = false) {
        @fragments.tier.packagePromoSupporter(supporterPlans, US)
    }

    @*
     * This section doesn't use the template above because the following
     * section has no lead-in so we need this section to have no bottom padding.
     * Rather than add some arbitrary parameters to the template, we use some custom HTML.
     *@
    <section>
        <div class="l-constrained">
            <div class="listing listing--no-bottom-padding listing--bordered">
                <div class="listing__lead-in">
                    <h3 class="h-intro">Support open, independent journalism</h3>
                </div>
                <div class="listing__content">
                    <div class="video-preview video-preview--plain">
                        <div class="video-preview__video">
                        @fragments.media.videoPlayer(Videos.supporters)
                        </div>
                        <div class="video-preview__header">
                            @fragments.inlineIcon("video", List("icon-inline--scale"))
                            Watch Guardian journalists explain why the Guardian’s unique approach to journalism is worth defending
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @for(img <- pageImages.find(_.name.contains("fearless"))) {
        @fragments.page.sectionCardStack(img) {
            <div class="listing__text">
                <p>The Guardian shines a light on critical, underreported stories across the US and the globe.</p>
                <p>Without a paywall, our journalism is open to everyone.</p>
                <p>
                    <a class="action" href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier)}?countryGroup=@US.id">Become a Supporter</a>
                </p>
            </div>
        }
    }

    @fragments.page.section("If you read the Guardian, join the Guardian") {
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote blockquote--feature">
                With Guardian Members we have a profound opportunity to
                defend the Guardian's independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    }

    @fragments.page.section("What's included") {
        @fragments.tier.packagePromoSupporter(supporterPlans, US)
    }
}
