@(pricing: model.TierPricing,
  pageInfo: model.PageInfo,
  pageImages: Seq[model.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier.Supporter
@import configuration.Videos
@import views.support.Asset

@main("Supporters", pageInfo=pageInfo) {

    @* ===== About Supporters ===== *@
    @for(img <- pageImages.find(_.name.contains("intro"))) {
        <div class="page-slice l-constrained">
            @fragments.promos.promoPrimary(title="Become a Guardian Supporter", img=img, showImageCaption=true, isLead=true, toneClass=Some("tone-trans-white")) {
                <div class="text-feature">
                    <p>Supporters keep our journalism fearless, open and free from&nbsp;interference.</p>
                </div>
                @fragments.tier.packagePromoUSASupporter(pricing, isReversed=false)
            }
        </div>
    }

    @* ===== Support open, independent journalism ===== *@
    <div id="supporter-video" class="page-slice page-slice--slim l-constrained">
        @fragments.promos.promoVideoSecondary(
            "Support open, independent journalism",
            video=Videos.supporters,
            toneClass=Some("tone-trans-brand-supporting-2")){
            <div class="text-feature">
                <p>Watch Guardian journalists explain why the Guardian’s unique approach to journalism is worth defending.</p>
            </div>
        }
    </div>

    @* ===== Ensuring our independence ===== *@
    @for(img <- pageImages.find(_.name.contains("fearless"))) {
        <div class="page-slice l-constrained">
            @fragments.promos.promoPrimary(title="Fearless, progressive and free from interference", img=img, showImageCaption=true, toneClass=Some("tone-trans-white")) {
                <div class="text-feature">
                    <p>The Guardian publishes the stories that others keep hidden.</p>
                    <p>We have become the most read, serious English-language newspaper in the world, visited by 120 million unique browsers each month. Our journalism is for everyone. The Guardian is open, without a paywall, and we remain true to our 200-year old progressive values.</p>
                    <p>Become a Supporter to ensure the whole picture is available to everyone.</p>
                </div>
                <div class="action-group">
                    <a class="action" href="@routes.Joiner.enterDetails(Supporter)">Become a Supporter</a>
                </div>
            }
        </div>
    }

    @* ===== Join The Guardian and support The Guardian ===== *@
    <div class="page-slice page-slice--padded l-constrained">
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote blockquote--feature">
                With Guardian Members we have a profound opportunity to
                defend the Guardian's independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    </div>

    @* ===== Join Today ===== *@
    <div class="page-slice tone-tint" id="whats-included">
        <div class="l-constrained">
            <h2 class="page-slice__headline">What's included</h2>
            <div class="page-slice__content">
                @fragments.tier.packageFeature(pricing.supporterBenefits, isReversed=true)
            </div>
        </div>
    </div>

}
