@(pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import model.Benefits

@main("Supporters", pageInfo=pageInfo) {

    @* ===== About Supporters ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Be part of the Guardian"), imageBasePath="https://media.guim.co.uk/d8f51bea15bf046df4d166cfd60771b9c24a631f/0_0_1140_683", isLead=true) {
            <div class="text-feature">
                <p>Supporters protect our editorial freedom and help us seek out those stories that people are determined to keep hidden.</p>
            </div>
            @fragments.tier.packagePromo(Tier.Supporter, showDescription=false, modifierClass=Some("package-promo--spread"))
        }
    </div>

    @* ===== Ensuring our independence ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Ensuring our independance"), imageBasePath="https://media.guim.co.uk/e6459f638392c8176e277733f6f0802953100fa4/0_0_1140_683", toneClass=Some("tone-trans-brand-dark")) {
            <div class="text-feature">
                <p>The Guardian has no proprietor. Our editor answers to nobody. Supporters ensure that the Guardian remains an independent voice standing witness to issues that matter without interference.</p>
            </div>
        }
    </div>

    @* ===== Fuel our journalism ===== *@
    <div class="page-slice l-constrained l-side-margins">
        @fragments.promos.promoPrimary(title=Html("Fuel our journalism"), imageBasePath="https://media.guim.co.uk/8caacf301dd036a2bbb1b458cf68b637d3c55e48/0_0_1140_683", toneClass=Some("tone-trans-brand")) {
            <blockquote class="blockquote blockquote--feature">
                The only relationship our journalists have is with our readers. Membership gives the real possibility of deepening the intense bond between the producers and consumers of the Guardian.
                <cite class="blockquote__citation">Alan Rusbridger, editor-in-chief of the Guardian</cite>
            </blockquote>
            <div class="action-group">
                <a class="action u-no-top-margin" href="@routes.Joiner.enterDetails(Tier.Partner)">Become a Supporter</a>
            </div>
        }
    </div>

    @* ===== Join Today ===== *@
    <div class="page-slice page-slice--split tone-tint l-constrained">
        <div class="page-slice__inner">
            <h2 class="page-slice__headline">What's included</h2>
            <div class="page-slice__content">
                <ul class="grid grid--2up">
                    @for(benefit <- Benefits.details(Tier.Supporter).list) {
                        <li class="grid__item">
                        @fragments.benefits.item(
                            benefit=benefit,
                            iconClasses=Seq("tone-color-supporter"),
                            componentClasses=Seq("u-divider-dotted")
                        )
                        </li>
                    }
                </ul>
                @fragments.tier.packagePromo(Tier.Supporter, showDescription=false, isReversed=true, modifierClass=Some("package-promo--spread"))
            </div>
        </div>
    </div>

}
