@(
    title: String,
    description: String,
    events: Seq[model.RichEvent.RichEvent],
    extraLinkOpt: Option[views.support.Links.BasicLink]
)

<div class="brand-panel">
    <div class="brand-panel__header">
        <h3 class="brand-panel__title">@title</h3>
        <div class="brand-panel__description copy">@description</div>
    </div>
    @if(events.nonEmpty) {
        <div class="brand-panel__media">
            @fragments.media.slideshowEvents(events)
        </div>
    }
</div>

@for(extraLink <- extraLinkOpt) {
    <a class="mini-link" href="@extraLink.href">
        <span class="icon-holder icon-holder--small icon-holder--fill">
            @fragments.inlineIcon("arrow-right", List("inline-icon--small tone-fill-@toneSlug"))
        </span>
        @extraLink.title
    </a>
}
