@(
    title: Html,
    video: model.Video,
    toneClass: Option[String] = None
)(content: Html)

<div class="promo-secondary promo-secondary--padded">
    <div class="promo-secondary__media @toneClass.mkString(" ")">
        <div class="promo-secondary__header">
            <h2 class="promo-secondary__title h-promo">@title</h2>
        </div>
        <div class="promo-secondary__video">
            @fragments.media.videoPlayer(video)
        </div>
    </div>
    <div class="promo-secondary__description">
        @content
    </div>
</div>
