@(
    title: Html,
    imageBasePath: String,
    stampImageOpt: Option[String] = None,
    toneClass: Option[String] = None
)(content: Html)

@import views.support.Asset

<div class="promo-secondary">
    <div class="promo-secondary__media @toneClass.mkString(" ")">
        <div class="promo-secondary__header">
            <h2 class="promo-secondary__title h-promo">@title</h2>
        </div>
        <div class="promo-secondary__image@if(stampImageOpt){ stamped-image}">
            <div class="js-imager-loaded-image" data-src="@imageBasePath/{width}.jpg" data-available-widths="1000,500,140" data-alt="@title" data-class="responsive-img"></div>
            @for(url <- stampImageOpt) {
                <div class="stamped-image__container">
                    <img src="@Asset.at(url)" alt="" class="stamped-image__stamp">
                </div>
            }
        </div>
    </div>
    <div class="promo-secondary__description">
        @content
    </div>
</div>
