@(
    title: Html,
    imageUrl: String,
    stampImageOpt: Option[String] = None,
    isLead: Boolean = false,
    toneClass: Option[String] = None
)(content: Html)

@import views.support.Asset

<div class="promo-primary@if(isLead){ promo-primary--lead}">
    <div class="promo-primary__header @toneClass.mkString(" ")">
        <h2 class="promo-primary__title h-promo@if(isLead){ h-promo--primary}">@title</h2>
    </div>
    <div class="promo-primary__media@if(stampImageOpt){ stamped-image}">
        <div class="promo-primary__image">
            <img src="@Asset.at(imageUrl)" alt="@title" class="responsive-img">
        </div>
        @for(url <- stampImageOpt) {
            <div class="stamped-image__container">
                <img src="@Asset.at(url)" alt="" class="stamped-image__stamp">
            </div>
        }
    </div>
    <div class="promo-primary__content">
        @content
    </div>
</div>
