@(
    title: Html,
    img: model.ResponsiveImageGroup,
    showImageCaption: Boolean = false,
    stampImageOpt: Option[String] = None,
    toneClass: Option[String] = None
)(content: Html)

@import views.support.Asset

<div class="promo-secondary">
    <div class="promo-secondary__media @toneClass.mkString(" ")">
        <div class="promo-secondary__header">
            <h2 class="promo-secondary__title h-promo">@title</h2>
        </div>
        <div class="promo-secondary__image@if(stampImageOpt){ stamped-image}@if(showImageCaption) { captioned-image}">
            <img src="@img.defaultImage" srcset="@img.srcset" sizes="100vw" alt="@img.metadata.map(_.description).orElse(img.altText).getOrElse("")" class="responsive-img" />
            @for(url <- stampImageOpt) {
                <div class="stamped-image__container">
                    <img src="@Asset.at(url)" alt="" class="stamped-image__stamp">
                </div>
            }
            @for(metadata <- img.metadata if metadata.description.nonEmpty && showImageCaption) {
                <figcaption class="captioned-image__detail">
                    <div class="captioned-image__caption">
                        @for(byline <- metadata.byline) {
                            <div class="captioned-image__byline">@byline</div>
                        }
                        @metadata.description.get
                    </div>
                </figcaption>
            }
        </div>
    </div>
    <div class="promo-secondary__description">
        @content
    </div>
</div>
