@(
    title: String,
    img: model.ResponsiveImageGroup,
    showImageCaption: Boolean = false,
    stampImageOpt: Option[String] = None,
    isLead: Boolean = false,
    toneClass: Option[String] = None
)(content: Html)

@import views.support.Asset

@imageExtraClasses = {
    @if(stampImageOpt.nonEmpty){ stamped-image}
    @if(showImageCaption) { captioned-image}
}

<div class="promo-primary@if(isLead){ promo-primary--lead}">
    <div class="promo-primary__header @toneClass.mkString(" ")">
        <h2 class="promo-primary__title h-promo@if(isLead){ h-promo--primary}">@title</h2>
    </div>
    <figure class="promo-primary__media">
        <div class="promo-primary__image @imageExtraClasses">
            <img src="@img.defaultImage" srcset="@img.srcset" sizes="100vw" alt="@img.metadataAltText.getOrElse("")" class="responsive-img" />
        </div>
        @for(url <- stampImageOpt) {
            <div class="stamped-image__container">
                <img src="@Asset.at(url)" alt="" class="stamped-image__stamp">
            </div>
        }
        @for(description <- img.metadata.map(_.description) if showImageCaption) {
            <figcaption class="captioned-image__detail">
                <div class="captioned-image__caption">
                    @for(byline <- img.metadata.map(_.byline)) {
                        <div class="captioned-image__byline">@byline</div>
                    }
                    @description
                </div>
            </figcaption>
        }
    </figure>
    <div class="promo-primary__content">
        @content
    </div>
</div>
