@(
    title: String,
    video: model.Video,
    toneClassOpt: Option[String] = None
)(content: Html)

<div class="promo-alt">
    <div class="promo-alt__panel @toneClassOpt.mkString(" ")">
        <div class="promo-alt__header">
            <h2 class="promo-alt__title h-promo">
                @fragments.inlineIcon("video", List("icon-inline--scale"))
                @title
            </h2>
        </div>
        <div class="promo-alt__media">
            @fragments.media.videoPlayer(video)
        </div>
    </div>
    <div class="promo-alt__description">
        @content
    </div>
</div>


