@(currentTier: com.gu.membership.salesforce.Tier.Tier)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import model.Benefits
@import helper._

@main("Cancel Tier") {

    <section>

        @fragments.layout.sectionHeader("We don't like goodbyes&hellip;")

        <p>
                &hellip;so instead we're going to try and tempt you to stay by reminding you of all the good things
            you get from Guardian Membership
        </p>

        <h2 class="section-sub-headline">Sure you want to cancel?</h2>

        <div class="package-container">
            <div class="package-list">
                <div class="package package--current">
                    <div class="package__current-indicator">This is what you'll be missing</div>
                    <div class="package__inner">
                        <h2 class="package__title">@currentTier</h2>
                        <p>@Benefits.details(currentTier).leadin</p>
                        <ul class="package__list-element">
                        @for((header, body) <- Benefits.details(currentTier).list) {
                            <li>@header</li>
                            <li>@body</li>
                        }
                        </ul>
                        <div>
                            <span class="package__price">
                                @Benefits.details(currentTier).priceText
                                @if(currentTier > Tier.Friend){
                                    <span class="package__pcm">pcm</span>
                                }
                            </span>
                        </div>
                    </div>
                </div>

                @if(currentTier != Tier.Friend) {
                    <div class="package package--current">
                        <div class="package__current-indicator">Can we still be Friends?</div>
                        <div class="package__inner">

                            <h2 class="package__title">Still not convinced?</h2>
                            <p>
                                As a friend you can book tickets to any of our events. We will keep you in the
                                know about events coming up in your area
                            </p>

                            <span class="package__price">
                                &pound;FREE
                            </span>

                            <form style="float: right" action="/tier/change/friend" method="POST">
                                @CSRF.formField
                                <button class="action-cta action-cta--confirm action-cta--full-width-mobile">Become a friend</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>

        <h2 class="section-sub-headline">How can we make Guardian Membership better? Tell us what you think.</h2>

        <form method="POST" action="/tier/cancel/confirm">
            @CSRF.formField
            <fieldset class="fieldset">
                <div class="form-field">
                    <p>What is the main reason you are leaving Guardian Membership?</p>
                    <select name="leavingReason">
                        <option>Please select</option>
                        <option>Too many emails</option>
                        <option>Too expensive</option>
                        <option>Going on holiday</option>
                        <option>No events in my area</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-field">
                    <p>How likely is it that you would recommend Guardian Membership to a friend?</p>
                    <select name="recommend">
                        <option>Please select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
                <button class="action-cta action-cta--confirm action-cta--full-width-mobile">Cancel membership account</button>
            </fieldset>
        </form>

    </section>
}
