@(currentTier: com.gu.membership.salesforce.Tier)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import helper._
@import views.support.Asset

@main("Cancel Tier") {

    <main role="main" class="page-content page-content--padded l-constrained">

        @fragments.layout.sectionHeader("We don't like goodbyes&hellip;")

        <p>&hellip;so instead we're going to try and tempt you to stay by reminding you of all the good things
            you get from Guardian Membership</p>

        <div class="package-container">
            <div class="package-list package-list--flex-box">
                @fragments.tier.benefits(currentTier=Some(currentTier), tier=currentTier, mode="cancel")
                @if(currentTier != Tier.Friend) {
                    @fragments.tier.benefits(currentTier=Some(currentTier), tier=Tier.Friend, mode="cancel")
                }
            </div>
        </div>

        <form method="POST" action="/tier/cancel/confirm" class="js-processing-form">
            @CSRF.formField
            <div class="u-align-right">
                <button id="qa-confirm-cancel" class="action js-processing-form-submit" type="submit">Cancel membership</button>
                <div class="is-hidden js-loader-container">
                    <img src="@Asset.at("images/wait.gif")" alt="Loading..."/>
                    <span class="loader-message">Processing...</span>
                </div>
            </div>
        </form>

    </main>
}
