@(subscriptionDetailsOpt: Option[model.Zuora.SubscriptionDetails])

@import configuration.Config
@import views.support.Dates._

@main("Cancel Tier summary") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Sorry to see you go…", subscriptionDetailsOpt.map("You will continue to receive all the great Membership benefits until " + _.endDate.pretty))

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Current Membership summary</h2>
            </div>
            <div class="page-section__content">

                @for(subscriptionDetails <- subscriptionDetailsOpt) {
                    @fragments.tier.summary(subscriptionDetails)
                }

                @if(subscriptionDetailsOpt.isEmpty) {
                    <p>We are processing your cancellation and will send a confirmation email shortly.</p>
                }

                <p>Your Guardian profile will remain active so you can continue to participate in the Guardian community.</p>

                <a href="@Config.idWebAppUrl/membership/edit" class="action action-cta">My Profile</a>
            </div>
        </section>

    </main>
}
