@(paymentDetailsOpt: Option[model.Stripe.PaymentDetails])

@import configuration.Config
@import views.support.Dates._

@main("Cancel Tier summary") {

    <section>

        @fragments.layout.sectionHeader("Sorry to see you go&hellip;")

        @for(paymentDetails <- paymentDetailsOpt) {
            <p>You will continue to receive all the great Membership Benefits until @paymentDetails.subscription.current_period_end.pretty</p>
        }

        <h2 class="section-sub-headline">Current Package Summary</h2>

        <section class="joiner-section joiner-section--no-border">
            @for(paymentDetails <- paymentDetailsOpt) {
                @fragments.tier.summary(paymentDetails.subscription)
            }
        </section>

        <p>Your Guardian profile will remain active so you can continue to participate in the Guardian community</p>

        <div class="content__container right-align">
            <a href="">Profile FAQ's</a>
            <a href="@Config.idWebAppUrl/membership/edit" class="action-cta action-cta--confirm">My Profile</a>
        </div>

    </section>
}
