<section class="joiner-section joiner-section--no-border">
    <table class="table table--responsive-font table--striped">
        <tr class="table__headline">
            <td class="summary-table__cell">
                Package
            </td>
            <td class="summary-table__cell">
                Partner
            </td>
        </tr>
        <tr class="summary-table__row">
            <td class="summary-table__cell">
                Start Date
            </td>
            <td class="summary-table__cell">
                May 27th, 2014
            </td>
        </tr>
        <tr class="summary-table__row">
            <td class="summary-table__cell">
                Amount Paid Today
            </td>
            <td class="summary-table__cell">
                &#163;15
            </td>
        </tr>
        <tr class="summary-table__row">
            <td class="summary-table__cell">
                Monthly Payment
            </td>
            <td class="summary-table__cell">
                &#163;15
            </td>
        </tr>
        <tr class="summary-table__row">
            <td class="summary-table__cell">
                Next Payment
            </td>
            <td class="summary-table__cell">
                June 27th, 2014
            </td>
        </tr>
        <tr class="summary-table__row">
            <td class="summary-table__cell">
                Card
            </td>
            <td class="summary-table__cell">
                <img src="@routes.Assets.at("images/visa.png")" alt="" width="40" height="25" class="credit-card-provider"/>
                <span>&#42;&#42;&#42;&#42;&nbsp;&#42;&#42;&#42;&#42;&nbsp;&#42;&#42;&#42;&#42;&nbsp;4242</span>
            </td>
        </tr>
    </table>
</section>