@import com.gu.i18n.CountryGroup
@import com.gu.memsub.Current
@import com.gu.salesforce.Tier.Partner
@import com.gu.membership.PaidMembershipPlans
@import views.support.PageInfo
@(partnerPlans: PaidMembershipPlans[Current, Partner],
    pageInfo: PageInfo,
    pageImages: Seq[model.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token, countryGroup: CountryGroup)

@import views.support.Asset
@main("English Heritage Promotion", pageInfo=pageInfo, countryGroup=Some(countryGroup)) {
    @fragments.promos.englishHeritageRoundel()
    @fragments.page.heroBanner("hero-banner--eng-heritage") {
        Become a Guardian Partner
    } {

        Support the independence of the Guardian and our award-winning journalism, plus enjoy a host of benefits.
    }()

    @fragments.page.section(hasBorder = false) {
        @fragments.tier.packagePromo(partnerPlans, countryGroup, promoCode = Some("EH2016"))
    }

    @for(img <- pageImages.find(_.name.contains("stonehenge"))) {
        @fragments.page.sectionCardStack(img,Some("Free annual English Heritage membership")) {
            <div class="listing__text">
                <p>There are over 400 historic places to visit with an English Heritage membership, from prehistoric sites to medieval castles, Cold War bunkers to Roman Forts.</p>
                <p>Become a Guardian Partner and enjoy the following with your free English Heritage membership:</p>
                <ul class="o-bulleted-list">
                    <li>Unlimited access to all English Heritage sites</li>
                    <li>Free entry to the site of your choice for up to 6 accompanying children (under 19 years and within the family group)</li>
                    <li>A free handbook that’s worth £10.95</li>
                    <li>An exclusive Members’ Magazine - four times a year</li>
                    <li>Plus money off other associated attractions</li>
                </ul>
            </div>
        }
    }

    @fragments.page.section("If you read the Guardian, join the Guardian") {
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote blockquote--feature">
                With Guardian Members we have a profound opportunity to
                defend the Guardian’s independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    }

    @fragments.page.section("What's included") {
        @fragments.tier.packagePromo(partnerPlans, countryGroup, promoCode = Some("EH2016"))
    }
}
