@import com.gu.i18n.CountryGroup
@import com.gu.memsub.Current
@import com.gu.salesforce.Tier.Partner
@import com.gu.membership.PaidMembershipPlans
@import views.support.PageInfo
@(partnerPlans: PaidMembershipPlans[Current, Partner],
    pageInfo: PageInfo,
    pageImages: Seq[model.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token, countryGroup: CountryGroup)

@import configuration.Videos
@import views.support.Asset
@main("Partners", pageInfo=pageInfo, countryGroup=Some(countryGroup)) {
    @fragments.page.heroBanner("hero-banner--eng-heritage") {
        Free English Heritage membership worth £88
    } {
        When you become a Partner or Patron Member.
    }()

    @fragments.page.section(hasBorder = false) {
        @fragments.tier.packagePromo(partnerPlans, countryGroup, promoCode = Some("EH2016"))
    }

    @for(img <- pageImages.find(_.name.contains("stonehenge"))) {
        @fragments.page.sectionCardStack(img) {
            <div class="listing__text">
                <p>English Heritage Promo Text 1</p>
                <p>English Heritage Promo Text 2</p>
                <p>English Heritage Promo Text 3</p>
            </div>
        }
    }

    @fragments.page.section("If you read the Guardian, join the Guardian") {
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote blockquote--feature">
                With Guardian Members we have a profound opportunity to
                defend the Guardian’s independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    }

    @fragments.page.section("What's included") {
        @fragments.tier.packagePromo(partnerPlans, countryGroup)
    }
}
