@import com.gu.i18n.CountryGroup
@import com.gu.membership.PaidMembershipPlan
@import com.gu.memsub.Month
@import com.gu.memsub.Year
@import com.gu.memsub.Status
@import com.gu.memsub.BillingPeriod
@import com.gu.memsub.Current
@import com.gu.memsub.Price
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.PercentDiscount
@import com.gu.memsub.promo.Promotion
@import com.gu.memsub.promo.Promotion._
@import com.gu.salesforce.Tier.Supporter
@import com.gu.membership.PaidMembershipPlans
@import views.support.PageInfo
@import model.Highlights
@import model.PackagePromo.CtaButton
@import com.gu.memsub.images.ResponsiveImageGroup
@import com.netaporter.uri.dsl._
@import views.model.Roundel
@import com.gu.salesforce.PaidTier
@import views.model.Roundel
@import views.support.PageInfo
@import views.support.Asset
@import scalaz.Id._

@import com.gu.memsub.promo.MembershipLandingPage
@(  heroImages: model.OrientatedImages,
    pricePlan: PaidMembershipPlan[Status, PaidTier, BillingPeriod],
    pricePlans: PaidMembershipPlans[Current, PaidTier],
    pageInfo: PageInfo,
    promotionImage: ResponsiveImageGroup,
    promoCode: PromoCode,
    promotion: Promotion[PercentDiscount, Id, MembershipLandingPage],
    originalPrice: Price,
    discountedPrice: Price
)(implicit countryGroup: CountryGroup)

@discountDuration = @{
    pricePlan.billingPeriod match {
        case Year() => promotion.promotionType.durationMonths.fold("year")(d => "first year")
        case Month() => promotion.promotionType.durationMonths.fold("month")(d => s"first $d months")
        case bp:BillingPeriod => bp.noun
    }
}

@main(pageInfo.title, pageInfo=pageInfo, countryGroup=Some(countryGroup)) {

    @fragments.promotions.roundel(promotion.landingPage.roundelHtml, classModifier = Some("alt"))

    @fragments.page.heroBanner(heroImages, modifierClass = "hero-banner--alt-accent") {
        @promotion.landingPage.title.getOrElse(promotion.name)
    } {
        Support the independence of the Guardian and our award-winning journalism, plus enjoy a host of benefits
    }()

    @fragments.page.section(hasBorder = false) {
        @fragments.tier.packagePromo(
            pricePlans,
            countryGroup,
            promoCode = Some(promoCode.get),
            modifierClass = Some("package-promo--clean"),
            customPrice = Some(fragments.promos.discountedPrice(originalPrice, discountedPrice, discountDuration)),
            secondaryButton = if (pricePlan.tier != Supporter()) Some(CtaButton("Find out more", "/", Map.empty)) else None
        )
    }

    @fragments.page.section("Introducing Guardian Members", isNarrow = false) {
        @fragments.listing.introducingMembers()
    }

    @fragments.page.sectionCardStack(promotionImage) {
        <div class="listing__text">
            <p>@Html(promotion.landingPage.description.getOrElse(promotion.description))</p>
            <p>
                <a class="action" href="@{routes.Joiner.enterPaidDetails(pricePlan.tier)}?countryGroup=@countryGroup.id">Become a @pricePlan.tier.name</a>
            </p>
        </div>
    }

    @fragments.page.section("If you read the Guardian, join the Guardian") {
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote">
                With Guardian Members we have a profound opportunity to
                defend the Guardian’s independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    }

    @fragments.page.section("What's included") {
        @fragments.tier.packagePromo(
            pricePlans,
            countryGroup,
            promoCode = Some(promoCode.get),
            modifierClass = Some("package-promo--clean"),
            customPrice = Some(fragments.promos.discountedPrice(originalPrice, discountedPrice, discountDuration))
        )
    }
}
