/* ==========================================================================
   Objects: Text
   ========================================================================== */

.text-body {
    @include fs-bodyCopy(2);
    font-weight: normal;
}
.text-feature {
    @include fs-headline(3);

    @include mq(tablet) {
        @include fs-headline(4, $size-only: true);
    }
}
.text-lead {
    @include fs-header(3);
}
.text-trail {
    @include fs-headline(2);
}
.text-intro {
    @include fs-headline(2);
    margin-bottom: $gs-gutter;

    @include mq(phablet) {
        @include fs-headline(3, $size-only: true);
    }
}
.text-note {
    @include fs-data(3);
    color: $c-neutral2;
    margin-bottom: rem($gs-baseline / 2);
}
.o-counter {
    font-weight: bold;
    color: $c-neutral3;

    &:after {
        content: ' / ';
        color: $c-neutral4;
    }
}

/* ==========================================================================
   Objects: Text - Headings
   ========================================================================== */

.h-intro {
    @include fs-header(3);
    margin-bottom: 0;

    @include mq(tablet) {
        @include fs-header(4, $size-only: true);
    }
}
.h-intro--brand {
    @include fs-header(3);
    color: color(brand-main);
    margin-bottom: $gs-baseline / 4;

    @include mq(tablet) {
        @include fs-header(4, $size-only: true);
    }
}
.h-intro--section {
    border-top: 1px solid $c-border-neutral;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
}

.h-section,
.h-section--inline,
.h-section--lead {
    @include fs-header(2);
    padding: rem($gs-baseline / 2) 0 rem($gs-gutter);
    border: solid $c-border-neutral;
    border-width: 1px 0 0 0;

    @include mq(tablet) {
        @include fs-header(3, $size-only: true );
    }
}
.h-section--inline {
    padding-bottom: 0;
}
.h-section--lead {
    padding-top: 0;
    border-width: 0;

    @include mq(mem-full) {
        padding-top: rem($gs-baseline / 2);
        border-width: 1px 0 0 0;
    }
}

.h-stack {
    @include fs-headline(2);
    font-weight: 500;
    padding-top: rem($gs-baseline / 2);
    margin-bottom: rem($gs-baseline);
    border-top: 1px solid $c-border-neutral;
}

/* ==========================================================================
   Objects: Text - Quotes
   ========================================================================== */

blockquote,
.blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0;
    margin-bottom: $gs-baseline;

    &:before {
        content: '';
        display: block;
        float: left;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNCIgaGVpZ2h0PSIyMCI+PHBhdGggZmlsbD0iI2JiM2E3ZiIgZD0iTTI2LjU1OCA1Ljk5OGMtMi4wMjMgMC0zLjg0NS44Ni01LjEyNCAyLjIzMi0uMDc3LS40Ny0uMTE4LS45NTctLjExOC0xLjQ2IDAtMy41MDYgMi40NS02LjM1IDYuMDU1LTYuMzUgMS42MTYgMCAzLjEzLjU4OCA0LjI2OCAxLjUzMmguNTEyYy0xLjYyMS0xLjM0NC0yLjcyNC0xLjg2NS01LjIwMy0xLjk0Ny01LjY3LS4xODctOS41OTUgNC40NzYtOS41OTUgOS45OTdzMy4zNzcgOS45OTggOS4wNSA5Ljk5OHYtLjAwNGwuMTU1LjAwNGMzLjg2NyAwIDctMy4xMzUgNy03IC4wMDItMy44NjgtMy4xMzMtNy4wMDItNy03LjAwMnptLTE3LjM1NCAwYy0yLjAyMyAwLTMuODQ1Ljg2LTUuMTIzIDIuMjMyLS4wNzctLjQ3LS4xMTctLjk1Ny0uMTE3LTEuNDYgMC0zLjUwNiAyLjQ1LTYuMzUgNi4wNTYtNi4zNSAxLjYxNCAwIDMuMTI2LjU4OCA0LjI2NiAxLjUzMmguNTEyYy0xLjYyLTEuMzQ0LTIuNzIyLTEuODY1LTUuMi0xLjk0Ny01LjY3My0uMTg3LTkuNTk4IDQuNDc1LTkuNTk4IDkuOTk3czMuMzc2IDkuOTk4IDkuMDUgOS45OTh2LS4wMDRsLjE1NC4wMDRjMy44NjcgMCA3LjAwMi0zLjEzNSA3LjAwMi03IDAtMy44NjgtMy4xMzUtNy4wMDItNy4wMDItNy4wMDJ6Ii8+PC9zdmc+);
        background-repeat: no-repeat;
        width: 34px; height: 20px;
        margin-right: $gs-baseline / 2;
    }
}
.blockquote__citation {
    @include fs-data(4);
    font-style: normal;
    margin-top: $gs-baseline / 2;
    display: block;
}

.blockquote--feature {
    font-style: normal;
    @include fs-headline(2);

    .blockquote__citation {
        font: inherit;
        color: $c-neutral2;
        margin: 0;
    }

    @include mq(tablet) {
        @include fs-headline(3);
    }
}
