/* ==========================================================================
   Objects: Text
   ========================================================================== */

.text-body {
    @include fs-bodyCopy(2);
    font-weight: normal;
}
.text-feature {
    @include fs-headline(3);

    @include mq(tablet) {
        @include fs-headline(4, $size-only: true);
    }
}
.text-lead {
    @include fs-header(3);
}
.text-trail {
    @include fs-headline(2);
}
.text-intro {
    @include fs-headline(2);
    margin-bottom: $gs-gutter;

    @include mq(phablet) {
        @include fs-headline(3, $size-only: true);
    }
}
.text-note {
    @include fs-data(3);
    color: $c-neutral2;
    margin-bottom: rem($gs-baseline / 2);
}
.o-counter {
    font-weight: bold;
    color: $c-neutral3;

    &:after {
        content: ' / ';
        color: $c-neutral4;
    }
}

/* ==========================================================================
   Objects: Text - Headings
   ========================================================================== */

.h-intro {
    @include fs-header(3);
    margin-bottom: 0;

    @include mq(tablet) {
        @include fs-header(4, $size-only: true);
    }
}
.h-intro--brand {
    @include fs-header(3);
    color: color(brand-main);
    margin-bottom: $gs-baseline / 4;

    @include mq(tablet) {
        @include fs-header(4, $size-only: true);
    }
}
.h-intro--section {
    border-top: 1px solid $c-border-neutral;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
}

.h-section,
.h-section--inline,
.h-section--lead {
    @include fs-header(2);
    padding: rem($gs-baseline / 2) 0 rem($gs-gutter);
    border: solid $c-border-neutral;
    border-width: 1px 0 0 0;

    @include mq(tablet) {
        @include fs-header(3, $size-only: true );
    }
}
.h-section--inline {
    padding-bottom: 0;
}
.h-section--lead {
    padding-top: 0;
    border-width: 0;

    @include mq(mem-full) {
        padding-top: rem($gs-baseline / 2);
        border-width: 1px 0 0 0;
    }
}

.h-stack {
    @include fs-headline(2);
    font-weight: 500;
    padding-top: rem($gs-baseline / 2);
    margin-bottom: rem($gs-baseline);
    border-top: 1px solid $c-border-neutral;
}

/* ==========================================================================
   Objects: Text - Quotes
   ========================================================================== */

blockquote,
.blockquote {
    @include fs-bodyCopy(2);
    line-height: 20px;
    color: $c-neutral1;

    margin: 0;
    margin-bottom: $gs-baseline;

    @include mq(tablet){
        @include f-bodyCopy;
        font-size: 20px;
        line-height: 24px;
    }

    &:before {
        content: '';
        display: block;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="32" height="19.394" viewBox="1.003 0 32 19.394"><path fill="#333" d="M9.73 19.393c3.734.066 6.722-3.01 6.788-6.78.066-3.775-3.054-6.728-6.787-6.794-1.954-.037-3.48.67-4.74 1.99-.067-.467-.117-1.01-.108-1.507C4.944 2.88 8.192.91 11.672.97l-.97-.97c-5.84 0-9.605 4.312-9.697 9.702-.095 5.388 3.248 9.592 8.726 9.69zm16.485 0c3.732.066 6.72-3.01 6.787-6.78.066-3.775-3.055-6.728-6.787-6.794-1.955-.036-3.48.672-4.74 1.99-.067-.465-.118-1.008-.11-1.506C21.43 2.88 24.678.91 28.156.97L27.188 0c-5.84 0-9.604 4.312-9.697 9.702-.094 5.388 3.248 9.592 8.728 9.69h-.003z"/></svg>');
        background-repeat: no-repeat;
        width: 34px; height: 20px;
        margin-right: $gs-baseline / 2;
    }
    &:after {
        content: '';
        display: block;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="32" height="19.394" viewBox="53.003 0 32 19.394"><path fill="#333" d="M76.275 0c-3.733-.065-6.722 3.01-6.787 6.782-.066 3.774 3.054 6.727 6.787 6.794 1.955.035 3.48-.674 4.74-1.99.066.465.117 1.008.108 1.505-.062 3.424-3.31 5.395-6.79 5.334l.97.97c5.84 0 9.604-4.312 9.697-9.702.095-5.388-3.25-9.592-8.728-9.69h.003zM59.79 0c-3.73-.065-6.72 3.01-6.786 6.782-.066 3.774 3.055 6.727 6.787 6.794 1.956.035 3.482-.674 4.74-1.99.068.465.12 1.008.11 1.505-.062 3.424-3.31 5.395-6.79 5.334l.97.97c5.838 0 9.603-4.312 9.696-9.702C68.61 4.304 65.268.1 59.788.002h.003z"/></svg>');
        background-repeat: no-repeat;
        width: 34px; height: 20px;
        margin-right: $gs-baseline / 2;
    }
}
.blockquote__citation {
    @include fs-data(4);
    font-weight: 900;
    font-style: normal;
    color: color(brand-main);
    display: block;
    @include mq(tablet) {
        @include fs-bodyCopy(2);
        line-height: 20px;
    }
}

