@(userString: String)

@import configuration.Config
@import utils.TestUsers.ValidityPeriod
@import views.support.Dates._

@main("Test Users") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Test Users")

        <section class="page-section">
            <div class="page-section__content">
                <div class="copy">
                    <h2>New Test User key: <strong>@userString</strong></h2>
                    <div class="text-intro">
                        <p>
                            Your user will be valid for the next @ValidityPeriod.pretty.
                            When registering please populate the following fields with your new test user key.
                        </p>
                    </div>
                </div>
                <div class="aside aside--panel">
                    <ul class="u-unstyled">
                        <li>First Name: <strong>@userString</strong></li>
                        <li>Username: <strong>@userString</strong></li>
                        <li>Email: <strong>@userString@@gu.com</strong></li>
                    </ul>
                </div>
                <div class="action-group">
                    <a class="action" href="@Config.idWebAppRegisterUrl("/")" target="_blank">Register Now</a>
                </div>
                <p class="text-note">(Opens in new window)</p>
            </div>
        </section>

    </main>
}
