@(userString: String)

@import configuration.Config

@main("Test Users") {

    @fragments.layout.sectionHeader("Test Users")

    <div class="info-container">

        <h2 class="section-body-headline">New Test User key: <strong>@userString</strong>
            <button class="clipboard-button icon-sprite-copy-to-clipboard js-copy-to-clipboard-button" data-clipboard-text="@userString"></button>
        </h2>

        <section class="user-detail-intro">
            <p>Your user will be valid for the next half hour. </p>
            <p>When registering please populate the following fields with your new test user key.</p>
        </section>

        <ul class="user-detail-list u-unstyled">
            <li class="user-detail-list-item">First Name: <strong>@userString</strong></li>
            <li class="user-detail-list-item">Username: <strong>@userString</strong></li>
            <li class="user-detail-list-item">Email: <strong>@userString@@gu.com</strong></li>
        </ul>

        <div class="signin__actions">
            <div class="signin__register">
                <a class="action action--no-bottom-margin" href="@Config.idWebAppRegisterUrl("/")" target="_blank">Register Now</a>
                <i class="info">(Opens in new window)</i>
            </div>

        </div>

    </div>
}
