@(userString: String)

@import configuration.Config
@import utils.TestUsers.ValidityPeriod
@import views.support.Dates._
@import views.support.Asset

@main("Test Users") {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Test Users")

        <section class="page-section">
            <div class="page-section__content">
                <div class="copy">
                    <h2>New Test User key: <strong>@userString</strong></h2>
                    <div class="text-intro">
                        <p>
                            Your user will be valid for the next @ValidityPeriod.toString.stripPrefix("PT").
                            When registering please populate the following fields with your new test user key.
                        </p>
                    </div>
                </div>
                <div class="aside aside--panel">
                    <ul class="u-unstyled">
                        <li>First Name: <strong>@userString</strong></li>
                        <li>Username: <strong>@userString</strong></li>
                        <li>Email: <strong>@userString@@gu.com</strong></li>
                    </ul>
                </div>
                <div class="copy">
                    <p>
                        Here are some bookmarklets to help with the registration process. (In Chrome you can drag a link to the bookmarks bar to bookmark it.)
                    </p>
                    <ul>
                        <li>
                            <a href="javascript:
                            (function() {
                                if (!document.getElementById('register_field_username')) {
                                    alert('Element with id register_field_username not found. Are you on the right page?');
                                    return;
                                }
                                var username = prompt('Test User key (first name, last name, username and password will be set to this value):');
                                if (!username) return;
                                ['firstname', 'lastname', 'username', 'password', 'email'].forEach(function(field) {
                                    document.getElementById('register_field_'+field).value = field === 'email' ? username + '@@gu.com' : username;
                                });
                                document.querySelector('#register_submit').click();
                            })();
                        ">
                                @if(Config.stageDev){Dev } New Identity Signup</a>.
                            Clicking this on the <em>new</em> identity sign-up page will prompt you for the Test User key, then fill out fields appropriately and submit the form. Unless you're a <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=866522">Firefox user</a>.
                        </li>
                        <li>
                            <a href="javascript:
                            (function() {
                                var s = document.createElement('script');
                                s.src = '@Asset.bookmarklet("identity-signup.js")';
                                s.type = 'text/javascript';
                                document.head.appendChild(s);
                            })();">
                                @if(Config.stageDev){Dev }Identity Signup</a>.
                            Clicking this on the identity sign-up page will prompt you for the Test User key, then fill out fields appropriately and submit the form.
                        </li>
                        <li>
                            <a href="javascript:
                            (function() {
                                var s = document.createElement('script');
                                s.src = '@Asset.bookmarklet("mem-signup.js")';
                                s.type = 'text/javascript';
                                document.head.appendChild(s);
                            })();">
                                @if(Config.stageDev){Dev }Membership Signup</a>.
                            Clicking this on the membership sign-up page will fill in the address & card details and submit.
                            It assumes first name & last name are auto-populated with the test user key
                            (which will be the case if coming back from identity signup).
                        </li>
                    </ul>
                    <p>
                    </p>

                </div>
                <div class="action-group">
                    <a class="action" href="@Config.idWebAppRegisterUrl("/")" target="_blank">Register Now</a>
                </div>
                <p class="text-note">(Opens in new window)</p>
            </div>
        </section>

    </main>
}
