@(tier: com.gu.membership.salesforce.Tier.Tier = com.gu.membership.salesforce.Tier.Friend)

@import com.gu.membership.salesforce.Tier

@label = @{
    tier match {
        case Tier.Patron => "8OIRCKrKtFYQ-fOZzQM"
        case Tier.Partner => "967SCKD1tFYQ-fOZzQM"
        case Tier.Friend => "2Am1CLrttFYQ-fOZzQM"
    }
}

<script type="text/javascript">
	var google_conversion_id = 967211513;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "@label";
	var google_remarketing_only = false;
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967211513/?label=@label&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>
