@import configuration.Config

@if(Config.stage == "PROD") {
    <!-- BEGIN Krux Control Tag for "Membership" -->
    <!-- Source: /snippet/controltag?confid=JglooLwn&site=Membership&edit=1 -->
    <script class="kxct" data-id="JglooLwn" data-timing="async" data-version="1.9" type="text/javascript">
      window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
      (function(){
        var k=document.createElement('script');k.type='text/javascript';k.async=true;
        var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
        k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
          (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=JglooLwn"
      ;
        var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
      }());

    </script>
    <!-- END Krux Controltag -->
}
