@import configuration.Config.sessionCamCookieName

@()
<!-- SessionCam Client Integration v6.0 -->
<script type="text/javascript">
    //<![CDATA[
    (function (){
        var cookieNameSubString = '@sessionCamCookieName=';
        if (document.cookie.indexOf(cookieNameSubString) > -1) {
            var scRec=document.createElement('SCRIPT');
            scRec.type='text/javascript';
            scRec.src="//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";
            document.getElementsByTagName('head')[0].appendChild(scRec);
        }
    })();
    //]]>
</script>
<!-- End SessionCam -->
