.clipboard-button {
    text-align: center;
    border-radius: rem(4px);
    border: 0;
    background-color: $white;
    vertical-align: top;
}

.clipboard-button.zeroclipboard-is-hover {
    background-color: $white;
}

.clipboard-button.zeroclipboard-is-active {
    background-color: $white;
}

.user-detail-intro {
    margin: rem($gs-baseline * 2) 0 rem($gs-baseline * 3);
}

.user-detail-list {
    background-color: $c-neutral6;
    border-radius: rem($gs-baseline / 3);
    padding: rem($gs-baseline * 2);
    margin-bottom: rem($gs-baseline * 2);

    @include mq(tablet) {
        width: 60%;
    }
}

.user-detail-list-item {
    padding: rem($gs-baseline / 3) 0 rem($gs-baseline);
}

.info {
    color: $c-neutral3;
    @include fs-data(2);
    display: block;
    margin-left: rem($gs-baseline);
}
