.hidden-mobile {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}

/**
 * User state
 */

.id--signed-out .sign-in-required {
    display: none;
}

.id--signed-in .sign-in-hidden {
    display: none !important;
}

.tier-required {
    display: none !important;
}

.member--has-tier .tier-required {
    display: block !important;
}

.member--has-tier .tier-hidden {
    display: none !important;
}
