.js-warning {
    background-color: #e9e939;
    padding: 5px;
    font-size: 1.4rem;
    text-align: center;
    opacity: .8;
}

.js-warning p {
    margin: 0;
}

// hide JS warning messages by default
.js-warning {
    display: none;
}

// show the container if any JS requirement fails
.js-off .js-warning {
    display: block;
}
