/* ==========================================================================
   Layout dimensions
   ========================================================================== */
$gutter: 20px !default;
$baseline: 12px !default;
$gutter-width-fluid: 2%;

/* ==========================================================================
   Animation Settings
   ========================================================================== */
$transition-duration-medium: .5s;

/* ==========================================================================
   Breakpoints
   ========================================================================== */
$mq-breakpoints: (
    mobile: 320px,
    mobileLandscape: 480px,
    tablet: 740px,
    desktop: 980px,
    mem-full: 1140px,
    wide: 1300px,
);

/* ==========================================================================
   Fonts
   ========================================================================== */
$f-data: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif !default;
$f-serif-headline: 'Guardian Egyptian Web', Georgia, serif !default;
$f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$f-sans-serif-headline: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

$font-scale: (
    header: (
        1: (font-size: 16, line-height: 20),
        2: (font-size: 18, line-height: 22),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 22, line-height: 26),
        5: (font-size: 24, line-height: 28),
        6: (font-size: 26, line-height: 28),
    ),
    headline: (
        1: (font-size: 14, line-height: 18),
        2: (font-size: 16, line-height: 20),
        3: (font-size: 20, line-height: 24),
        4: (font-size: 24, line-height: 28),
        5: (font-size: 28, line-height: 32),
        6: (font-size: 32, line-height: 36),
        7: (font-size: 36, line-height: 40),
        8: (font-size: 40, line-height: 44),
        9: (font-size: 44, line-height: 48),
    ),
    bodyHeading: (
        1: (font-size: 14, line-height: 20),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
        4: (font-size: 20, line-height: 28),
    ),
    bodyCopy: (
        1: (font-size: 14, line-height: 20),
        2: (font-size: 16, line-height: 24),
        3: (font-size: 18, line-height: 28),
    ),
    data: (
        1: (font-size: 11, line-height: 14),
        2: (font-size: 12, line-height: 14),
        3: (font-size: 13, line-height: 16),
        4: (font-size: 14, line-height: 18),
        5: (font-size: 16, line-height: 20),
        6: (font-size: 18, line-height: 22),
    ),
    textSans: (
        1: (font-size: 12, line-height: 16),
        2: (font-size: 13, line-height: 18),
        3: (font-size: 14, line-height: 20),
        4: (font-size: 14, line-height: 22),
        5: (font-size: 16, line-height: 22),
    )
) !default;

/* ==========================================================================
   Colours
   ========================================================================== */
$white: #ffffff;
$black: #000000;
$c-brand: #4bc6df;
$news-main-1: #005689;

$c-neutral1: #333333;
$c-neutral2: #767676;
$c-neutral3: #bdbdbd;
$c-neutral4: #dcdcdc;
$c-neutral5: #dfdfdf;
$c-neutral6: #eaeaea;
$c-neutral7: #f1f1f1;
$c-neutral8: #f6f6f6;
