@(subscription: model.Stripe.Subscription, card: model.Stripe.Card )

@import views.support.Dates._
@import views.support.Format._

<section class="joiner-section joiner-section--no-border">
    <table class="table table--responsive-font table--striped">
        <tr class="table__headline" role="row">
            <td class="summary-table__cell" role="scope">
                Package
            </td>
            <td class="summary-table__cell" role="scope">
                @subscription.plan.name
            </td>
        </tr>
        <tr class="summary-table__row" role="row">
            <td class="summary-table__cell">
                Start Date
            </td>
            <td class="summary-table__cell">
                @subscription.start.pretty
            </td>
        </tr>
        <tr class="summary-table__row" role="row">
            <td class="summary-table__cell">
                Amount Paid Today
            </td>
            <td class="summary-table__cell">
                @formatPence(subscription.plan.amount)
            </td>
        </tr>
        <tr class="summary-table__row" role="row">
            <td class="summary-table__cell">
                @if(subscription.plan.interval == "year") {
                    Yearly payment
                } else {
                    Monthly Payment
                }
            </td>
            <td class="summary-table__cell">
                @formatPence(subscription.plan.amount)
            </td>
        </tr>
        <tr class="summary-table__row" role="row">
            <td class="summary-table__cell">
                Next Payment
            </td>
            <td class="summary-table__cell">
                @subscription.current_period_end.pretty
            </td>
        </tr>
        <tr class="summary-table__row" role="row">
            <td class="summary-table__cell">
                Card
            </td>
            <td class="summary-table__cell">
                <span class="credit-card credit-card--inline-block @("credit-card--" + card.`type`.toLowerCase().replace(' ', '-'))"></span>
                <span>&bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; &bullet;&bullet;&bullet;&bullet; @card.last4</span>
            </td>
        </tr>
    </table>
</section>