@import com.gu.i18n.CountryGroup
@import com.gu.i18n.CountryGroup._
@import com.gu.salesforce.Tier._
@import model.FlashMessage
@import configuration.Videos
@import views.support.Asset
@import views.support.Pricing._
@import com.gu.membership.MembershipCatalog
@import com.gu.i18n.GBP
@import com.gu.salesforce.Tier
@import views.support.TierPlans._
@import com.gu.memsub.subsv2.Catalog

@(catalog: Catalog,
  events: Seq[model.RichEvent.RichEvent],
  pageImages: Seq[com.gu.memsub.images.ResponsiveImageGroup])(implicit token: play.filters.csrf.CSRF.Token, countryGroup: CountryGroup)

@pattern(title: String, description: String = "", removeClearFix: Boolean = false)(content: Html) = {
    <div class="pattern js-pattern-item@if(!removeClearFix){ u-cf}" data-pattern-label="@title">
        <div class="pattern__header">
            <h2 class="pattern__title">@title</h2>
            @if(description) {
                <p class="pattern__description">@description</p>
            }
        </div>
        <div class="pattern__body">
            @content
        </div>
    </div>
}

@main("Pattern Library") {

    <main class="page-content l-constrained">

    <div class="pattern-nav js-pattern-nav"></div>

    <h1>Pattern Library</h1>

    @pattern("Icons") {
        <div class="js-icon-grid pattern-icon-grid"></div>
    }

    @pattern("Helpers - Text") {
        <p class="text-feature">This is some feature text using the .text-feature helper class</p>
        <p class="text-lead">This is a lead paragraph using the .text-lead helper class</p>
        <p class="text-highlight">This is some highlighted text using the .text-highlight helper class</p>
        <p class="text-note">This note using the .text-note helper class</p>
    }

    @pattern("Base - Inline Text Elements") {
        <div class="copy">
            <p><a href="#">This is a text link</a></p>
            <p><strong>Strong is used to indicate strong importance</strong></p>
            <p><em>This text has added emphasis</em></p>
            <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
            <p><s>This text has a strikethrough</s></p>
            <p>Superscript<sup>®</sup></p>
            <p>Subscript for things like H<sub>2</sub>O</p>
            <p><small>This small text is small for for fine print, etc.</small></p>
            <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
            <p>Keybord input: <kbd>Cmd</kbd></p>
            <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
            <p><cite>This is a citation</cite>
            </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>
            <p>The <mark>mark element</mark> indicates a highlight</p>
        </div>
    }

    @pattern("Base - Example Body Copy") {
        <div class="copy">
            <h2>This is a second level heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, delectus. Optio sequi, aperiam obcaecati sunt minima dicta, quidem molestias adipisci deserunt consequuntur ad nostrum. Nihil voluptates aut, dolorem quidem minus!</p>
            <ol>
                <li>This is an ordered list.</li>
                <li>This is the second item, which contains a sub list
                    <ol>
                        <li>This is the sub list, which is also ordered.</li>
                        <li>It has two items.</li>
                    </ol>
                </li>
                <li>This is the final item on this list.</li>
            </ol>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            </blockquote>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam repellat modi architecto iure unde possimus aliquam soluta provident commodi, eos, dicta magnam ad vero cum, labore amet odit tenetur consequatur.</em></p>
            <h2>This is an inline second level heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam repellat modi architecto iure unde possimus aliquam soluta provident commodi, eos, dicta magnam ad vero cum, labore amet odit tenetur consequatur.</em></p>
            <h3>This is a third level heading</h3>
            <p>Single level list:</p>
            <ul>
                <li>England</li>
                <li>Scotland</li>
                <li>Wales</li>
                <li>Northern Ireland</li>
            </ul>
            <h4>This is a fourth level heading</h4>
            <p>Multi-level list:</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</li>
                <li>
                    United Kingdom of Great Britain and Northern Ireland:
                    <ul>
                        <li>England</li>
                        <li>Scotland</li>
                        <li>Wales</li>
                        <li>Northern Ireland</li>
                    </ul>
                </li>
                <li>Republic of Ireland</li>
                <li>Isle of Man</li>
                <li>
                    Channel Islands:
                    <ul>
                        <li>Bailiwick of Guernsey</li>
                        <li>Bailiwick of Jersey</li>
                    </ul>
                </li>
            </ul>
            <h5>This is a fifth level heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <h6>This is a sixth level heading</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
        </div>
    }

    @pattern("Base - Tables") {
        <table class="table table--striped" role="grid">
            <tbody>
                <tr role="row">
                    <th role="rowheader">Tier</th>
                    <td>Partner</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">End Date</th>
                    <td>10 December 2015</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">Annual Payment</th>
                    <td>£135.00</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">Last Payment</th>
                    <td>10 December 2014</td>
                </tr>
            </tbody>
        </table>
    }

    @pattern("Actions") {
        <p><button class="action">Action</button></p>
        <p><a class="action action--snap" href="#">
            <span class="action__label">
                Snap Action
            </span>
        </a></p>
        <p><button class="action u-fullwidth">Action w/ full-width modifier</button></p>
        <p><button class="action" disabled>Disabled Action</button></p>
        <p><button class="action action--secondary">Secondary Action</button></p>
        <p><button class="action action--secondary">
            Secondary Action + Icon
            @fragments.actionIcon("arrow-right")
        </button></p>
        <p><button class="action action--secondary js-toggle" data-toggle-label="Show less" data-toggle-icon="minus">
            @fragments.actionIcon("plus", leftIcon=true)
            <span class="action__label js-toggle-label">Show more</span>
        </button></p>
        <div class="u-inset tone-guardian-live">
            <button class="action action--external">
                External Action
                @fragments.actionIcon("arrow-right")
            </button>
        </div>
    }

    @pattern("Toggle Component - Button", "JS toggle component") {
        <button class="action action--secondary js-toggle" data-toggle="foo" data-toggle-label="Show less" data-toggle-icon="minus">
            @fragments.actionIcon("plus", leftIcon=true)
            <span class="action__label js-toggle-label">Show more</span>
        </button>

        <div id="foo" data-toggle-hidden>This is initially hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum consequatur quod inventore, itaque adipisci ut quibusdam illum, deleniti molestiae vel, repudiandae, sunt est eum dolores odit sint deserunt velit!</div>
    }

    @pattern("Toggle Component - Button (inverted)", "JS toggle component – off by default") {
        <button class="action action--secondary js-toggle is-toggled" data-toggle="foo-inverted" data-toggle-label="Show more" data-toggle-icon="plus">
            @fragments.actionIcon("minus", leftIcon=true)
            <span class="action__label js-toggle-label">Show less</span>
        </button>
        <div id="foo-inverted">This is a really boring sentence, you should hide it right now.</div>
    }

    @pattern("Toggle Component - Link", "JS toggle component can be used on any element, not just buttons") {
        <a class="js-toggle" data-toggle="bar" data-toggle-label="Show less"><span class="js-toggle-label">Show more</span></a>
        <div id="bar" data-toggle-hidden>This is initially hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum consequatur quod inventore, itaque adipisci ut quibusdam illum, deleniti molestiae vel, repudiandae, sunt est eum dolores odit sint deserunt velit!</div>
    }

    @pattern("Modal Component", "A modal window to provide friction to actions", removeClearFix = true) {
        <div class="modal-container u-cf">
            @fragments.modal.staffChangeEmail("exampleMail@mailprovider.com", "staffEmail@guardian.co.uk")
            <form action="@routes.PatternLibrary.patterns">
                <button class="action u-no-bottom-margin js-modal-cta" data-modal="js-change-email-modal" type="submit">Change email for me</button>
            </form>
        </div>
    }

    @pattern("Lists - Inline List") {
        <ul class="o-inline-list o-inline-list--bordered">
            <li class="o-inline-list__item"><a href="#">Item 1</a></li>
            <li class="o-inline-list__item"><a href="#">Item 2</a></li>
            <li class="o-inline-list__item"><a href="#">Item 3</a></li>
        </ul>
    }

    @pattern("Page Header") {
        @fragments.page.pageHeader("This a page headline", Some("This is a page header with a headline and intro text"))
    }

    @pattern("Page Section - All", "Page section with all options") {
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">This is a section headline</h2>
            </div>
            <div class="page-section__content">
                <p>This is a page section with a lead in, main content, and supplementary content</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="page-section__supplementary">
                <div class="aside aside--pull">
                    <p>This is some supplementary content</p>
                </div>
            </div>
        </section>
    }

    @pattern("Page Section - All with no borders", "Page section with no borders") {
        <section class="page-section">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">This is a section headline</h2>
            </div>
            <div class="page-section__content">
                <p>This is a page section with a lead in, main content, and supplementary content</p>
            </div>
            <div class="page-section__supplementary">
                <div class="aside">
                    <p>This is some supplementary content</p>
                </div>
            </div>
        </section>
    }

    @pattern("Page Section - Content only", "Page section with content only") {
        <section class="page-section page-section--bordered">
            <div class="page-section__content">
                <p>This is a page section with content only</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>
    }

    @pattern("Header Bar - Guardian Live", "Header bar with guardian live tone applied") {
        @fragments.event.headerBar(
            title="Events, discussions, debates, interviews, keynote speeches and festivals exclusively for Guardian Members",
            logo=model.SVG.Logos.guardianLive
        )
    }

    @pattern("Header Bar - Masterclasses", "Header bar with masterclasses tone applied") {
        @fragments.event.headerBar(
            title="Courses and workshops taught by award-winning professionals, with discounts for Partners and Patrons",
            logo=model.SVG.Logos.guardianMasterclasses
        )
    }

    @pattern("Series Detail") {
        @for(event <- events.headOption) {
            @fragments.event.seriesDetails(event)
        }
    }

    @for(img <- pageImages.find(_.name.contains("sample-1"))) {
        @pattern("Promo - Primary") {
            @fragments.promos.promoPrimary("Primary Promo", img=img, toneClass=Some("tone-trans-guardian-live")) {
                <p class="text-feature">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, error hic temporibus. Aliquam nemo delectus possimus repudiandae ut, aut fugit. Pariatur dolorem, explicabo, ducimus deserunt perspiciatis voluptates commodi debitis exercitationem.</p>
            }
        }
    }

    @for(img <- pageImages.find(_.name.contains("sample-2"))) {
        @pattern("Promo - Secondary") {
            @fragments.promos.promoSecondary(Html("Secondary Promo"), img=img, toneClass=Some("tone-brand")) {
                <p class="text-feature">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, error hic temporibus. Aliquam nemo delectus possimus repudiandae ut, aut fugit. Pariatur dolorem, explicabo, ducimus deserunt perspiciatis voluptates commodi debitis exercitationem.</p>
            }
        }
    }

    @pattern("Promo - Quote") {
        @fragments.promos.promoQuote(
            Asset.at("images/common/katharine-viner-cutout.png"),
            "Katharine Viner, editor-in-chief of the Guardian"
        ) {
            <blockquote class="blockquote">
                With Guardian Members we have a profound opportunity to
                defend the Guardian's independent journalism and collaborate
                together on a better, more informed future.
                <cite class="blockquote__citation">Katharine Viner, editor-in-chief of the Guardian</cite>
            </blockquote>
        }
    }

    @pattern("Video Player", "Video with poster image overlay") {
        @fragments.media.videoPlayer(Videos.whatIsMembership)
    }

    @pattern("Event Item") {
        <ul class="grid grid--3up">
            @for(event <- events.take(3)) {
                <li class="grid__item">
                    @fragments.event.item(event)
                </li>
            }
        </ul>
    }

    @pattern("Event Item: Featured", "Used to highlight a single event at the top of the /events listing") {
        @for(event <- events.headOption) {
            @fragments.event.item(event, isFeatured=true)
        }
    }

    @pattern("Event – Info Panel", "Panel shown in the sidebar on event detail pages") {
        @for(event <- events.headOption) {
            @fragments.event.infoPanel(event)
        }
    }

    @pattern("Event – Snapshot", "Simple snapshot of event information") {
        @for(event <- events.headOption) {
            @fragments.event.itemSnapshot(event)
        }
    }

    @pattern("Event – Stats", "Key stats for an event") {
        @for(event <- events.headOption) {
            @fragments.event.stats(event)
        }
    }

    @pattern("Pricing Info", "Single pricing info item which flexes to fill available width (up to maximum)") {
        @fragments.pricing.freePriceInfo()
    }

    @pattern("Pricing Info - Fixed", "Fixed version which only expands to fill width on large screens (canFlex=false)") {
        @fragments.pricing.paidPriceInfo(catalog.partner, GBP, canFlex=false)
    }

    @pattern("Pricing Info - Event", "Simple inline version of price info for events") {
        @for(event <- events.headOption) {
            @fragments.pricing.priceInfoEvent(event)
        }
    }

    @pattern("Tier Trail - Caption", "Tier name with caption") {
        @fragments.tier.tierTrail(partner)
    }

    @pattern("Tier Trail - No Caption", "Tier name with no caption") {
        @fragments.tier.tierTrail(partner, showCaption=false)
    }

    @pattern("Package: Promo") {
        <ul class="grid grid--3up-stacked">
            <li class="grid__item">
                @fragments.tier.packagePromo(catalog.partner, UK)
            </li>
            <li class="grid__item">
                @fragments.tier.packagePromo(catalog.patron, UK)
            </li>
        </ul>
    }

    @pattern("Package: Stack") {
        @fragments.tier.packageStack(partner)
    }

    @pattern("Flash Message: Success") {
        @fragments.notifications.flashMessage(FlashMessage.success("A successful Message!"))
    }

    @pattern("Flash Message: Failure") {
        @fragments.notifications.flashMessage(FlashMessage.error("An error Message!"))
    }

    @pattern("FAQ", "FAQ answers") {
        @fragments.common.faqs(model.Faq.help.take(4))
    }

    @pattern("Forms: Create password") {
        <form action="" class="js-form">
            @fragments.form.createPassword()
        </form>
    }

    </main>

}
