@(eventPortfolio: model.EventPortfolio)(implicit token: play.filters.csrf.CSRF.Token)
@import helper._
@import model.Benefits
@import com.gu.membership.salesforce.Tier
@import model.FlashMessage

@pattern(title: String, description: String = "", removeClearFix: Boolean = false)(content: Html) = {
    <div class="pattern js-pattern-item@if(!removeClearFix){ u-cf}" data-pattern-label="@title">
        <div class="pattern__header">
            <h2 class="pattern__title">@title</h2>
            @if(description) {
                <p class="pattern__description">@description</p>
            }
        </div>
        <div class="pattern__body">
            @content
        </div>
    </div>
}

@main("Pattern Library") {

    <main class="page-content l-constrained">

    <div class="pattern-nav js-pattern-nav"></div>

    <h1>Pattern Library</h1>

    @pattern("Icons") {
        <div class="js-icon-grid pattern-icon-grid"></div>
    }

    @pattern("Helpers - Text") {
        <p class="text-feature">This is some feature text using the .text-feature helper class</p>
        <p class="text-lead">This is a lead paragraph using the .text-lead helper class</p>
        <p class="text-highlight">This is some highlighted text using the .text-highlight helper class</p>
        <p class="text-note">This note using the .text-note helper class</p>
        <p class="text-caption">This is some caption text using the .text-caption helper class</p>
    }

    @pattern("Base - Inline Text Elements") {
        <div class="copy">
            <p><a href="#">This is a text link</a></p>
            <p><strong>Strong is used to indicate strong importance</strong></p>
            <p><em>This text has added emphasis</em></p>
            <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
            <p><s>This text has a strikethrough</s></p>
            <p>Superscript<sup>®</sup></p>
            <p>Subscript for things like H<sub>2</sub>O</p>
            <p><small>This small text is small for for fine print, etc.</small></p>
            <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
            <p>Keybord input: <kbd>Cmd</kbd></p>
            <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
            <p><cite>This is a citation</cite>
            </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>
            <p>The <mark>mark element</mark> indicates a highlight</p>
        </div>
    }

    @pattern("Base - Example Body Copy") {
        <div class="copy">
            <h2>This is a second level heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, delectus. Optio sequi, aperiam obcaecati sunt minima dicta, quidem molestias adipisci deserunt consequuntur ad nostrum. Nihil voluptates aut, dolorem quidem minus!</p>
            <ol>
                <li>This is an ordered list.</li>
                <li>This is the second item, which contains a sub list
                    <ol>
                        <li>This is the sub list, which is also ordered.</li>
                        <li>It has two items.</li>
                    </ol>
                </li>
                <li>This is the final item on this list.</li>
            </ol>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            </blockquote>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam repellat modi architecto iure unde possimus aliquam soluta provident commodi, eos, dicta magnam ad vero cum, labore amet odit tenetur consequatur.</em></p>
            <h2>This is an inline second level heading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam repellat modi architecto iure unde possimus aliquam soluta provident commodi, eos, dicta magnam ad vero cum, labore amet odit tenetur consequatur.</em></p>
            <h3>This is a third level heading</h3>
            <p>Single level list:</p>
            <ul>
                <li>England</li>
                <li>Scotland</li>
                <li>Wales</li>
                <li>Northern Ireland</li>
            </ul>
            <h4>This is a fourth level heading</h4>
            <p>Multi-level list:</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</li>
                <li>
                    United Kingdom of Great Britain and Northern Ireland:
                    <ul>
                        <li>England</li>
                        <li>Scotland</li>
                        <li>Wales</li>
                        <li>Northern Ireland</li>
                    </ul>
                </li>
                <li>Republic of Ireland</li>
                <li>Isle of Man</li>
                <li>
                    Channel Islands:
                    <ul>
                        <li>Bailiwick of Guernsey</li>
                        <li>Bailiwick of Jersey</li>
                    </ul>
                </li>
            </ul>
            <h5>This is a fifth level heading</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
            <h6>This is a sixth level heading</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Inline link</a>. Tempore iusto quam incidunt, ullam exercitationem provident beatae consectetur enim odio cum sint, praesentium nemo? Suscipit quidem explicabo quaerat, possimus eaque ipsa.</p>
        </div>
    }

    @pattern("Base - Tables") {
        <table class="table table--responsive-font table--striped" role="grid">
            <tbody>
                <tr role="row">
                    <th role="rowheader">Tier</th>
                    <td>Partner</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">End Date</th>
                    <td>10 December 2015</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">Annual Payment</th>
                    <td>£135.00</td>
                </tr>
                <tr role="row">
                    <th role="rowheader">Last Payment</th>
                    <td>10 December 2014</td>
                </tr>
            </tbody>
        </table>
    }

    @pattern("Actions") {
        <p><button class="action">Action</button></p>
        <p><a class="action action--snap" href="#">
            <span class="action__label">
                Snap Action
            </span>
        </a></p>
        <p><button class="action u-fullwidth">Action w/ full-width modifier</button></p>
        <p><button class="action" disabled>Disabled Action</button></p>
        <p><button class="action action--secondary">Secondary Action</button></p>
        <p><button class="action action--secondary">
            Secondary Action + Icon
            @fragments.actionIcon("arrow-right")
        </button></p>
        <p><button class="action action--secondary js-toggle" data-toggle-label="Show less" data-toggle-icon="minus">
            @fragments.actionIcon("plus", leftIcon=true)
            <span class="action__label js-toggle-label">Show more</span>
        </button></p>
        <p><a class="action-proceed" href="#">Proceed</a></p>
        <p><button class="action action--booking">Booking Action</button></p>
        <div class="l-inset tone-guardian-live">
            <button class="action action--external u-no-margin">External Action</button>
        </div>
    }

    @pattern("Toggle Component - Button", "JS toggle component") {
        <button class="action action--secondary js-toggle" data-toggle="foo" data-toggle-label="Show less" data-toggle-icon="minus">
            @fragments.actionIcon("plus", leftIcon=true)
            <span class="action__label js-toggle-label">Show more</span>
        </button>

        <div id="foo" data-toggle-hidden>This is initially hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum consequatur quod inventore, itaque adipisci ut quibusdam illum, deleniti molestiae vel, repudiandae, sunt est eum dolores odit sint deserunt velit!</div>
    }

    @pattern("Toggle Component - Button (inverted)", "JS toggle component – off by default") {
        <button class="action action--secondary js-toggle is-toggled" data-toggle="foo-inverted" data-toggle-label="Show more" data-toggle-icon="plus">
            @fragments.actionIcon("minus", leftIcon=true)
            <span class="action__label js-toggle-label">Show less</span>
        </button>
        <div id="foo-inverted">This is a really boring sentence, you should hide it right now.</div>
    }

    @pattern("Toggle Component - Link", "JS toggle component can be used on any element, not just buttons") {
        <a class="js-toggle" data-toggle="bar" data-toggle-label="Show less"><span class="js-toggle-label">Show more</span></a>
        <div id="bar" data-toggle-hidden>This is initially hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cum consequatur quod inventore, itaque adipisci ut quibusdam illum, deleniti molestiae vel, repudiandae, sunt est eum dolores odit sint deserunt velit!</div>
    }

    @pattern("Modal Component", "A modal window to provide friction to actions", true) {
        <div class="modal-container u-cf">
            @fragments.modal.staffChangeEmail("exampleMail@mailprovider.com", "staffEmail@guardian.co.uk")
            <form action="@routes.PatternLibrary.patterns">
                <button class="action u-no-bottom-margin js-modal-cta" data-modal="js-change-email-modal" type="submit">Change email for me</button>
            </form>
        </div>
    }

    @pattern("Lists - Inline List") {
        <ul class="inline-list inline-list--bordered">
            <li class="inline-list__item"><a href="#">Item 1</a></li>
            <li class="inline-list__item"><a href="#">Item 2</a></li>
            <li class="inline-list__item"><a href="#">Item 3</a></li>
        </ul>
    }

    @pattern("Page Header") {
        @fragments.page.pageHeader("This a page headline", Some("This is a page header with a headline and intro text"))
    }

    @pattern("Page Section - All", "Page section with all options") {
        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">This is a section headline</h2>
            </div>
            <div class="page-section__content">
                <p>This is a page section with a lead in, main content, and supplementary content</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="page-section__supplementary">
                <div class="aside aside--pull">
                    <p>This is some supplementary content</p>
                </div>
            </div>
        </section>
    }

    @pattern("Page Section - All with no borders", "Page section with no borders") {
        <section class="page-section">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">This is a section headline</h2>
            </div>
            <div class="page-section__content">
                <p>This is a page section with a lead in, main content, and supplementary content</p>
            </div>
            <div class="page-section__supplementary">
                <div class="aside">
                    <p>This is some supplementary content</p>
                </div>
            </div>
        </section>
    }

    @pattern("Page Section - Content only", "Page section with content only") {
        <section class="page-section page-section--bordered">
            <div class="page-section__content">
                <p>This is a page section with content only</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>
    }

    @pattern("Header Bar - Guardian Live", "Header bar with guardian live tone applied") {
        @fragments.event.headerBar(
            "Events, discussions, debates, interviews, keynote speeches and festivals exclusively for Guardian Members",
            "guardian-live"
        )
    }

    @pattern("Header Bar - Masterclasses", "Header bar with masterclasses tone applied") {
        @fragments.event.headerBar(
            "Courses and workshops taught by award-winning professionals, with discounts for Partners and Patrons",
            "masterclasses"
        )
    }

    @pattern("Series Detail") {
        @fragments.event.seriesDetails(eventPortfolio.orderedEvents.head)
    }

    @pattern("Promo - Primary") {
        @fragments.promos.promoPrimary(Html("Primary Promo"), imageUrl="images/about/about-events-1140.jpg", toneClass=Some("tone-trans-guardian-live")) {
            <p class="text-feature">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, error hic temporibus. Aliquam nemo delectus possimus repudiandae ut, aut fugit. Pariatur dolorem, explicabo, ducimus deserunt perspiciatis voluptates commodi debitis exercitationem.</p>
        }
    }

    @pattern("Promo - Secondary") {
        @fragments.promos.promoSecondary(Html("Secondary Promo"), imageUrl="images/about/about-masterclasses-740.jpg", toneClass=Some("tone-guardian-live")) {
            <p class="text-feature">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, error hic temporibus. Aliquam nemo delectus possimus repudiandae ut, aut fugit. Pariatur dolorem, explicabo, ducimus deserunt perspiciatis voluptates commodi debitis exercitationem.</p>
        }
    }

    @pattern("Promo - Image", "Image with a letter box crop and call out") {
        @fragments.promos.letterbox(
            "images/offer/subscriptions/audience-1140.jpg",
            "Guardian Live Audience",
            Some("Call out text inserted here"),
            Seq("tone-trans-brand"))
    }

    @pattern("Offer - Option", "Image with a letter box crop and call out") {
        @fragments.offer.option(
            "Pay annually",
            s"Pay nothing for 6 months then pay £00",
            s"£00.00/year"
        )
    }

    @pattern("Event – Hero", "Used to highlight a single event at the top of the /events listing") {
        @fragments.event.itemHero(eventPortfolio.orderedEvents.head)
    }

    @pattern("Event – Full", "A standard event, used in a number of places") {
        <ul class="grid grid--3up">
            @for(event <- eventPortfolio.normal.slice(0, 3)) {
                <li class="grid__item">
                    @fragments.event.item(event)
                </li>
            }
        </ul>
    }

    @pattern("Event – Minimal", "Used currently to list recent past events, where pricing/dates info is redundant") {
        <ul class="grid grid--3up">
            @for(event <- eventPortfolio.normal.slice(0, 3)) {
                <li class="grid__item">
                    @fragments.event.itemMinimal(event)
                </li>
            }
        </ul>
    }

    @pattern("Event – Minimal & Card", "An even more minimal theme which splits the photo and event title") {
        <ul class="grid grid--2up">
            @for(event <- eventPortfolio.normal.slice(0, 3)) {
                <li class="grid__item">
                    @fragments.event.itemMinimal(event, isCard=true)
                </li>
            }
        </ul>
    }

    @pattern("Event – Info Panel", "Panel shown in the sidebar on event detail pages") {
        @fragments.event.infoPanel(eventPortfolio.orderedEvents.head)
    }

    @pattern("Event – Snapshot", "Simple snapshot of event information") {
        @fragments.event.itemSnapshot(eventPortfolio.orderedEvents.head)
    }

    @pattern("Event – Stats", "Key stats for an event (location and time), used in Event Snapshot.") {
        @fragments.event.stats(eventPortfolio.orderedEvents.head)
    }

    @pattern("Pricing Info", "Single pricing info item which flexes to fill available width (up to maximum)") {
        @fragments.pricing.priceInfo(Tier.Partner)
    }

    @pattern("Pricing Info - Fixed", "Fixed version which only expands to fill width on large screens (canFlex=false)") {
        @fragments.pricing.priceInfo(Tier.Partner, canFlex=false)
    }

    @pattern("Pricing Info - Event", "Simple inline version of price info for events") {
        @fragments.pricing.priceInfoEvent(eventPortfolio.normal.head)
    }

    @pattern("Benefit Item", "Single benefit item") {
        @fragments.benefits.item(benefit=Benefits.benefitsFilter("book_tickets").head)
    }

    @pattern("Tier Trail - Caption", "Tier name with caption") {
        @fragments.tier.tierTrail(Tier.Partner)
    }

    @pattern("Tier Trail - No Caption", "Tier name with no caption") {
        @fragments.tier.tierTrail(Tier.Partner, showCaption=false)
    }

    @pattern("Package - Promo") {
        <ul class="grid grid--3up-stacked">
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Friend)
            </li>
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Partner)
            </li>
            <li class="grid__item">
                @fragments.tier.packagePromo(Tier.Patron)
            </li>
        </ul>
    }

    @pattern("Package - Feature") {
        @fragments.tier.packageFeature(Tier.Patron)
    }

    @pattern("Package - Stack") {
        @fragments.tier.packageStack(Tier.Partner)
    }

    @pattern("Flash Message - Success") {
        @fragments.notifications.flashMessage(FlashMessage.success("A successful Message!"))
    }

    @pattern("Flash Message - Failure") {
        @fragments.notifications.flashMessage(FlashMessage.error("An error Message!"))
    }

    @pattern("FAQ - Questions", "Fragment for FAQ questions with internal link") {
        @fragments.faq.questions(model.Faq.help.take(4))
    }

    @pattern("FAQ - Answers", "Fragment for FAQ answers with matching internal link id") {
        @fragments.faq.answers(model.Faq.help.take(4))
    }

    @pattern("FAQ - Answers without internal link", "Fragment for FAQ answers without link. This is used where the length of questions does not warrant the use of internal links") {
        @fragments.faq.answers(model.Faq.staff.take(4))
    }

    @pattern("Form - Payment", "An example of the payment form") {
        <main role="main" class="page-content">

            <section class="form-header">
                <h1 class="form-headline">Address & billing</h1>
                @fragments.joiner.signedInAs(routes.Joiner.enterDetails(Tier.Partner).url)
            </section>

            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                @fragments.form.errorMessageDisplay()
                </div>
            </section>

            <section class="form-section">

                <div class="form-section__lead-in">
                @fragments.joiner.joinStepCounter(3, 3)
                </div>

                <div class="form-section__content">
                    <form action="" method="POST" id="payment-form" class="form js-form" noValidate>
                        @fragments.form.nameDetail(None, None)
                        @fragments.form.addressDetail(
                            heading = "Delivery address",
                            note = "Once you've joined Guardian Membership we'll send you a welcome pack in the post.",
                            formType = "deliveryAddress",
                            addressRequired = true,
                            address1 = None,
                            address2 = None,
                            town = None,
                            postcode = None,
                            county = None,
                            userCountry = None
                        )
                        @fragments.form.passwordDetail()

                        @fragments.form.paymentOptions(Tier.Partner)
                        @fragments.form.billingAddress("Billing address")
                        @fragments.form.addressDetail(
                            formType = "billingAddress",
                            addressRequired = true,
                            address1 = None,
                            address2 = None,
                            town = None,
                            postcode = None,
                            county = None,
                            userCountry = None
                        )
                        @fragments.form.cardDetail(Tier.Partner)
                        @fragments.form.errorMessageDisplay()
                        @fragments.form.submit("Pay", "now", Some(Tier.Partner))
                    </form>

                </div>

            </section>

        </main>
    }

    </main>

}
