@(eventOpt: Option[model.RichEvent.RichEvent], pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier

@main("Join Choose Tier", pageInfo=pageInfo) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader(eventOpt.fold("Choose a membership tier")(_.metadata.chooseTier.title))

        <section class="page-section page-section--no-padding">
            <div class="page-section__lead-in">
                @fragments.joiner.joinStepCounter(1, 3)
            </div>
            <div class="page-section__content">
                <h2 class="h-section h-section--lead">@eventOpt.fold("Choose a membership tier to continue with your booking")(_.metadata.chooseTier.sectionTitle)</h2>
                <ul class="grid grid--single-row grid--bordered grid--3up-stacked">
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Friend, Some("#package-benefits-friend"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Partner, Some("#package-benefits-partner"))
                    </li>
                    <li class="grid__item">
                        @fragments.tier.packagePromo(Tier.Patron, Some("#package-benefits-patron"))
                    </li>
                </ul>
            </div>
            @for(event <- eventOpt) {
                <div class="page-section__supplementary">
                    <div class="aside aside--section">
                        <h4 class="aside__intro">You're buying tickets for:</h4>
                        @fragments.event.itemSnapshot(event, isStacked=true)
                    </div>
                </div>
            }
        </section>

        <section class="page-section">
            <div class="page-section__content">
                <h3 class="h-section">What's included</h3>
                <div id="package-benefits-friend">
                    @fragments.tier.packageStack(Tier.Friend)
                </div>
                <div id="package-benefits-partner">
                    @fragments.tier.packageStack(Tier.Partner)
                </div>
                <div id="package-benefits-patron">
                    @fragments.tier.packageStack(Tier.Patron)
                </div>
            </div>
        </section>

    </main>
}
