@(eventOpt: Option[model.Eventbrite.EBEvent], pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import views.support.Dates._
@import configuration.Config

@main("Join Choose Tier", pageInfo=pageInfo, containerPadding = false, isBrochure = true, htmlClass = "join-choose-tier") {

    <section class="section-two-thirds u-cf">

        @fragments.form.sectionHeading("Choose a membership tier")

        <div class="l-row">
            @fragments.joiner.joinStepCounter(1, 3)
            <section class="two-thirds js-benefit-container">
                <div class="package-list">
                    @fragments.tier.benefits(currentTier=None, tier=Tier.Friend, showBenefitDetails=true, mode="promo", showChooseDetails=true)
                    @fragments.tier.benefits(currentTier=None, tier=Tier.Partner, showBenefitDetails=true, mode="promo", showChooseDetails=true)
                    @fragments.tier.benefits(currentTier=None, tier=Tier.Patron, showBenefitDetails=true, mode="promo", showChooseDetails=true)
                </div>
            </section>
            <section class="one-third">

            @for(event <- eventOpt) {
                <h2 class="section-sub-headline section-sub-headline--top-border">You're buying tickets for:</h2>

                <div class="event-content__info event-content__info--no-padding">
                    <div class="event-item__media">
                        <div class="delayed-image-load" data-src="@Config.eventImageUrlPath(event.id)/{width}{pixel_ratio}.jpg" data-alt="Please upload an event image" data-class="responsive-img"></div>
                    </div>
                    <h2 class="event-content__name">
                        @if(event.isSoldOut){
                            <span class="event-status--sold-out">Sold Out</span>
                        }
                        @event.name.text
                    </h2>

                    <div class="event-item__time event-content--line-divider u-cf">
                        <div class="event-content__first">
                            <i class="icon-large-early_booking icon--small"></i>
                        </div>
                        <div class="event-content__second" itemprop="startDate" content="@event.start">@prettyDateWithTimeAndDayName(event.start)</div>
                    </div>

                    <div class="event-item__location event-content--line-divider u-cf">
                        <div class="event-content__first">
                            <i class="icon-location icon--small"></i>
                        </div>
                        <div class="event-content__second">
                            @if(event.venue.name){
                                <span class="event-item__location-name">@event.venue.name</span>
                            }
                            @for(location <- event.venue.address) {
                                <span class="event-item__location-detail">@if(event.venue.name){, } @location.city, @location.postal_code</span>
                            }
                        </div>
                    </div>

                    <div class="event-item__price">
                        @for(ticket <- event.generalReleaseTicket) {
                            @for(pricing <- ticket.cost) {
                                <div class="event-content__price event-content--line-divider">@pricing.formattedPrice</div>
                                <div class="event-content__trail">
                                    <div class="event-item__price-amount-discount">Partners/Patrons: @pricing.discountPrice</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            </section>
        </div>
    </section>
}
