@(eventOpt: Option[model.Eventbrite.RichEvent], pageInfo: model.PageInfo)(implicit token: play.filters.csrf.CSRF.Token)

@import com.gu.membership.salesforce.Tier
@import views.support.Dates._
@import configuration.Config

@main("Join Choose Tier", pageInfo=pageInfo) {

    <main role="main" class="page-content">
        @fragments.page.pageHeader("Guardian Live events are exclusively for Guardian members")

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                @fragments.joiner.joinStepCounter(1, 3)
            </div>
            <div class="page-section__content page-section__content--full">
                <p class="text-lead">Choose a membership tier to continue with your booking</p>
                <div class="package-list">
                    <ul class="grid grid--bordered grid--3up-stacked">
                        <li class="grid__item">
                            @fragments.tier.benefitsPromo(Tier.Friend)
                        </li>
                        <li class="grid__item">
                            @fragments.tier.benefitsPromo(Tier.Partner)
                        </li>
                        <li class="grid__item">
                            @fragments.tier.benefitsPromo(Tier.Patron)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-section__supplementary">
                <div class="aside aside--pull">
                    @for(event <- eventOpt) {
                        <p>You're buying tickets for:</p>
                        <div class="event-snapshot">
                            <div class="event-snapshot__media">
                                <div class="delayed-image-load" data-src="@event.imgUrl" data-alt="Please upload an event image" data-class="responsive-img"></div>
                            </div>

                            <h2 class="event-snapshot__title">
                                @if(event.isSoldOut){
                                    <span class="event-status event-status--sold-out">Sold out</span>
                                }
                                @event.name.text
                            </h2>
                        </div>
                        @fragments.event.stats(event)
                        @fragments.pricing.priceInfoEvent(event)
                    }
                </div>
            </div>
        </section>

    </main>
}
