@import com.gu.memsub.subsv2._
@import com.gu.salesforce.Tier.{Staff => SFStaff}
@import views.support.{CountryWithCurrency, FreePlan, IdentityUser}
@import com.gu.i18n.Currency.GBP

@(staffPlan: CatalogPlan.Staff,
  idUser: IdentityUser,
  flashMessage: Option[model.FlashMessage]
)(implicit token: play.filters.csrf.CSRF.Token)

@import views.html.helper._

@main("Enter Details | Staff") {

    <main role="main" class="page-content l-constrained">

        <section class="form-header">
            <h1 class="form-headline">Address</h1>
        </section>

        @for(flashMsg <- flashMessage) {
            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                    @fragments.notifications.flashMessage(flashMsg)
                </div>
            </section>
        }

        <section class="form-section form-section--no-padding">
            <div class="form-section__content">
                @fragments.form.errorMessageDisplay()
            </div>
        </section>

        <section class="form-section">

            <div class="form-section__content">

                <form action="@routes.Joiner.joinStaff" method="POST" id="payment-form" class="form js-form" novalidate>
                    @CSRF.formField
                    @fragments.form.nameDetail(idUser.privateFields.firstName, idUser.privateFields.secondName, heading = "Name")
                    @fragments.form.addressDetail(
                        countriesWithCurrencies = CountryWithCurrency.withCurrency(GBP),
                        heading = "Delivery address",
                        note = "Once you've joined Guardian Members we'll send you a welcome pack in the post.",
                        formType = "deliveryAddress",
                        addressRequired = true,
                        address1 = idUser.privateFields.address1,
                        address2 = idUser.privateFields.address2,
                        town = idUser.privateFields.address3,
                        postcode = idUser.privateFields.postcode,
                        county = idUser.privateFields.address4
                    )
                    @fragments.form.marketingChoices(
                        idUser.marketingChoices.receiveGnmMarketing,
                        idUser.marketingChoices.receive3rdPartyMarketing
                    )

                    @if(!idUser.passwordExists) {
                        @fragments.form.createPassword()
                    }

                    @fragments.form.errorMessageDisplay()
                    @fragments.form.submit(FreePlan(staffPlan))
                </form>

            </div>

        </section>

    </main>
}
