@(
    userFields: model.PrivateFields,
    marketingChoices: model.StatusFields,
    passwordExists: Boolean,
    flashMessage: Option[model.FlashMessage]
)(implicit token: play.filters.csrf.CSRF.Token)

@import helper._

@main("Enter Details | Staff") {

    <main role="main" class="page-content l-constrained">

        <section class="form-header">
            <h1 class="form-headline">Address</h1>
        </section>

        @for(flashMsg <- flashMessage) {
            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                    @fragments.notifications.flashMessage(flashMsg)
                </div>
            </section>
        }

        <section class="form-section form-section--no-padding">
            <div class="form-section__content">
                @fragments.form.errorMessageDisplay()
            </div>
        </section>

        <section class="form-section">

            <div class="form-section__content">

                <form action="@routes.Joiner.joinStaff" method="POST" id="payment-form" class="form js-form" novalidate>
                    @CSRF.formField
                    @fragments.form.nameDetail(userFields.firstName, userFields.secondName)
                    @fragments.form.addressDetail(
                        heading = "Delivery address",
                        note = "Once you've joined Guardian Membership we'll send you a welcome pack in the post.",
                        formType = "deliveryAddress",
                        addressRequired = true,
                        address1 = userFields.address1,
                        address2 = userFields.address2,
                        town = userFields.address3,
                        postcode = userFields.postcode,
                        county = userFields.address4,
                        userCountry = userFields.country
                    )
                    @fragments.form.marketingChoices(
                        marketingChoices.receiveGnmMarketing,
                        marketingChoices.receive3rdPartyMarketing
                    )

                    @if(!passwordExists) {
                        @fragments.form.passwordDetail()
                    }

                    @fragments.form.errorMessageDisplay()
                    @fragments.form.submit("Join")
                </form>

            </div>

        </section>

    </main>
}
