@import com.gu.i18n.Currency.GBP
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.subsv2._
@import views.html.helper._
@import views.support.DisplayText._
@import views.support.{CountryWithCurrency, FreePlan, IdentityUser, PageInfo}

@(friendPlan: CatalogPlan.Friend,
  idUser: IdentityUser,
  pageInfo: PageInfo,
  trackingPromoCode: Option[PromoCode]
)(implicit token: play.filters.csrf.CSRF.Token)

@main("Become a Friend", pageInfo) {

    <main role="main" class="page-content l-constrained">

        <form action="@routes.Joiner.joinFriend" method="POST" id="payment-form" class="js-form js-friend-form" novalidate>
            @CSRF.formField

            <section class="form-header">
                <h1 class="form-headline">Become a Friend</h1>
            </section>

            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                    @fragments.form.errorMessageDisplay()
                </div>
            </section>

            <section class="form-section">

                <div class="form-section__lead-in sign-in-required">
                    @fragments.joiner.signedInAs(routes.Joiner.enterFriendDetails().url)
                </div>

                <div class="form-section__content">

                    <div class="form-group">
                        @fragments.form.benefitsFieldset(com.gu.salesforce.Tier.friend.benefits)
                    </div>

                    <div class="form-group">
                        <h2 class="form-group__title">Address</h2>

                        @fragments.form.nameDetail(idUser.privateFields.firstName, idUser.privateFields.secondName, heading = "Name")
                        @fragments.form.addressDetail(
                            countriesWithCurrencies = CountryWithCurrency.withCurrency(GBP),
                            heading = "Address",
                            note = "Tell us where you live and we'll keep you posted on events happening in your local community.",
                            formType = "deliveryAddress",
                            addressRequired = false,
                            address1 = idUser.privateFields.address1,
                            address2 = idUser.privateFields.address2,
                            town = idUser.privateFields.address3,
                            postcode = idUser.privateFields.postcode,
                            county = idUser.privateFields.address4
                        )
                        @fragments.form.marketingChoices(idUser.marketingChoices.receiveGnmMarketing, idUser.marketingChoices.receive3rdPartyMarketing)
                        @fragments.form.trackingPromoCode(trackingPromoCode)

                        @if(!idUser.passwordExists) {
                            @fragments.form.createPassword()
                        }
                    </div>

                    @fragments.form.errorMessageDisplay()
                    @fragments.form.submit(FreePlan(friendPlan))
                </div>
            </section>
        </form>
    </main>
}
