@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.Contributor
@import model.Header.SimpleHeader
@import views.html.helper._
@import views.support.{IdentityUser, PageInfo}
@(plans: Contributor,
    idUser: IdentityUser,
    pageInfo: PageInfo,
    countryGroup: Option[CountryGroup],
    touchpointBackendResolution: services.TouchpointBackend.Resolution,
    contributionValue: String)(implicit token: play.filters.csrf.CSRF.Token, request: actions.AuthRequest[_])

@main("", pageInfo = pageInfo, titleOverride = Some("Become a contributor"), header = SimpleHeader, margins = false, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {
    <script>
        (function() {
            'use strict';

            function numberAsCurrencyString(num) {
                return (Math.round(num * 100) / 100).toFixed(2).replace('.00','');
            }
            function discountedPrice(price, discount) {
                return price * ((100 - discount) / 100);
            }
            function formattedDiscountedPrice(currency, amount, discount) {
                return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
            }
            function formattedDiscountedCharge(currency, amount, discount) {
                return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
            }
            var checkoutForm = guardian.membership.checkoutForm;
            checkoutForm.billingPeriod = "month";
            checkoutForm.isMonthlyContributorCheckout = true;

            checkoutForm.currencySymbols = {
                GBP : "£"
            };
            checkoutForm.currencyIdentifiers = {
                GBP : "£"
            };
            checkoutForm.billingPeriods = {
                month: {
                    amount: 6.5,
                    generateChargeAmount: function() {
                        return formattedDiscountedCharge(checkoutForm.currency, this.amount, this.discount);
                    },
                    getOriginalChargeAmount: function() {
                        return formattedDiscountedCharge(checkoutForm.currency, this.amount, 0);
                    },
                    generateDisplayAmount: function() {
                        return formattedDiscountedPrice(checkoutForm.currency, this.amount, this.discount);
                    },
                    noun: 'month',
                    discount: 0,
                    discountDurationMonths: 0
                },
                choices: []
            };
        }());
    </script>

    <main class="page-content skin-checkout-b skin-checkout-paypal skin-monthly-contribution">

        <!-- FORM TITLE -->
        <section class="checkout-header">
            <h1 class="checkout-headline">Make a monthly contribution</h1>
        </section>

            <!-- CHECKOUT FORM -->
        <form action="@routes.Contributor.joinMonthlyContribution()" method="POST" id="payment-form" class="js-form" novalidate>
            @CSRF.formField
            <section class="form-content">
                <!-- ACCORDION SECTION - NAME -->
                <section class="form-panel sub-heading">
                    <div class="form-panel__heading">
                        <div class="sign-in-required js-sign-in-note">
                        @fragments.joiner.signedInAs(request.uri, inline = true)
                        </div>
                    </div><div class="form-panel__content js-form-panel-name-address"><!-- Name -->
                        <div class="form-section__name-detail">
                        @fragments.form.nameDetailFields(
                            Some(idUser.privateFields)
                        )
                        </div>

                        @fragments.form.marketingChoices(Some(idUser.marketingChoices))

                        @if(!idUser.passwordExists) {
                            @fragments.form.createPassword()
                        }
                    </div>
                </section>
                <section class="form-panel form-group--little-padding">

                    <div class="form-panel__heading"></div>
                    <input type="hidden" name="country" id="monthly-contribution-country" value="GB"/>
                    <input type="email" name="email" id="email" maxlength="80" value="@idUser.email" class="input-text is-hidden"/>

                    <div class="form-panel__content">
                        <div class="fieldset__fields  js-form-panel-payment form-panel--no-margin">

                            <div class="form-field monthly-contribution__section">
                                <label class="label" for="monthly-contribution">Your monthly contribution</label>
                                <input type="hidden" name="payment.amount" id="monthly-contribution" value="@contributionValue" data-validation="validContributionValue"/>
                                <span class="monthly-contribution__amount">£@contributionValue</span><span class="monthly-contribution__edit"><a class="text-link">Edit</a></span>
                                @fragments.form.errorMessage("The minimum monthly contribution is £5.")
                            </div>

                            <!-- Payment Options -->
                            <fieldset class="fieldset js-payment-methods form-panel__payment">
                                <div class="fieldset__heading">
                                    <h2 class="fieldset__headline fieldset__headline--payment">Payment methods</h2>
                                    <p class="security-note">@fragments.inlineIcon("lock", List("icon-inline--small", "icon-inline--top")) Secure</p>
                                </div>

                                <div class="flash-message flash-message--error is-hidden js-payment-errors qa-form-error">This form has errors (see above)</div>

                                <div class="fieldset__fields">
                                    <div class="form-field">
                                        <div class="loader js-payment-processing">Processing.</div>
                                    </div>
                                    <div class="form-field js-payment-type">
                                    @fragments.form.stripeCheckout(Some(idUser))
                                    </div>
                                    <div class="form-field js-payment-type">
                                        <div id="paypal-button-checkout"></div>
                                    </div>
                                </div>
                                <div class="js-payment-error flash-message flash-message--error is-hidden">Sorry, we weren't able to process your payment this time around. Please try again.</div>
                            </fieldset>
                        </div>
                    </div>
                </section>
                @fragments.form.terms(countryGroup, monthlyContribution = true)
            </section>
        </form>
    </main>
}

