@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.Contributor
@import model.Header.SimpleHeader
@import views.html.helper._
@import views.support.{IdentityUser, PageInfo}
@(plans: Contributor,
    idUser: IdentityUser,
    pageInfo: PageInfo,
    countryGroup: Option[CountryGroup],
    touchpointBackendResolution: services.TouchpointBackend.Resolution,
    contributionValue: Int)(implicit token: play.filters.csrf.CSRF.Token, request: actions.AuthRequest[_])

@main("Become a contributor", pageInfo=pageInfo, header = SimpleHeader, margins=false, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {
    <script>
        (function() {
            'use strict';

            function numberAsCurrencyString(num) {
                return (Math.round(num * 100) / 100).toFixed(2).replace('.00','');
            }
            function discountedPrice(price, discount) {
                return price * ((100 - discount) / 100);
            }
            function formattedDiscountedPrice(currency, amount, discount) {
                return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
            }
            function formattedDiscountedCharge(currency, amount, discount) {
                return checkoutForm.currencyIdentifiers[currency] + numberAsCurrencyString(discountedPrice(amount[currency], discount));
            }
            var checkoutForm = guardian.membership.checkoutForm;
            checkoutForm.billingPeriod = "month";

            checkoutForm.currencySymbols = {
                GBP : "£"
            }
            checkoutForm.currencyIdentifiers = {
                GBP : "£"
            }
            checkoutForm.billingPeriods = {
                month: {
                    amount: 6.5,
                    generateChargeAmount: function() {
                        return formattedDiscountedCharge(checkoutForm.currency, this.amount, this.discount);
                    },
                    getOriginalChargeAmount: function() {
                        return formattedDiscountedCharge(checkoutForm.currency, this.amount, 0);
                    },
                    generateDisplayAmount: function() {
                        return formattedDiscountedPrice(checkoutForm.currency, this.amount, this.discount);
                    },
                    noun: 'month',
                    discount: 0,
                    discountDurationMonths: 0
                },
                choices: []
            };
        }());
    </script>

    <main class="page-content skin-checkout-b skin-checkout-paypal">

        <!-- FORM TITLE -->
        <section class="checkout-header">
            <h1 class="checkout-headline">Become a monthly Contributor</h1>
        </section>

            <!-- CHECKOUT FORM -->
        <form action="@routes.Contributor.joinMonthlyContribution()" method="POST" id="payment-form" class="js-form" novalidate>
            @CSRF.formField

            <section class="form-content">


                <!-- ACCORDION SECTION - NAME AND ADDRESS -->
                <section class="form-panel sub-heading">

                    <div class="form-panel__heading">
                        <h2 class="form-panel__headline">Name and address</h2>
                        <div class="form-panel__edit js-edit-name-address is-hidden">edit</div>
                        <div class="sign-in-required js-sign-in-note">
                        @fragments.joiner.signedInAs(request.uri, inline = true)
                        </div>
                    </div>

                    <div class="form-panel__content js-form-panel-name-address">
                        <!-- Name -->
                        <div class="form-section__name-detail">
                        @fragments.form.nameDetailFields(
                            Some(idUser.privateFields)
                        )
                        </div>

                        @fragments.form.marketingChoices(Some(idUser.marketingChoices))

                        @if(!idUser.passwordExists) {
                            @fragments.form.createPassword()
                        }
                    </div>

                </section>
                <section class="form-panel form-group--little-padding">

                    <div class="form-panel__heading">
                        <h2 class="form-panel__headline">Payment</h2>
                        <p class="text-note">Prices include VAT</p>
                    </div>


                    <input type="hidden" name="country" id="monthly-contribution-country" value="GB"/>
                    <input type="email" name="email" id="email" maxlength="80" value="@idUser.email" class="input-text is-hidden"/>

                    <div class="fieldset__fields form-panel__content js-form-panel-payment form-panel--no-margin">

                        <div class="js-monthly-contribution">
                            <div class="form-field js-monthly-contribution-section">
                                <label class="label" for="monthly-contribution">Your monthly contribution</label>
                                <input type="text"
                                name="payment.amount"
                                id="monthly-contribution"
                                class="input-text js-monthly-contribution"
                                value="@contributionValue"/>
                            </div>
                        </div>
                        <!-- Payment Options -->
                        <fieldset class="fieldset js-payment-methods">
                            <div class="fieldset__heading">
                                <h2 class="fieldset__headline fieldset__headline--payment">Payment methods</h2>
                                <p class="security-note">@fragments.inlineIcon("lock", List("icon-inline--small", "icon-inline--top")) Secure</p>
                            </div>

                            <div class="fieldset__fields">
                                <div class="form-field">
                                    <div class="loader js-payment-processing">Processing.</div>
                                </div>
                                <div class="form-field js-payment-type">
                                @fragments.form.stripeCheckout(Some(idUser))
                                </div>
                            </div>
                            <div class="js-payment-error flash-message flash-message--error is-hidden">Sorry, we weren't able to process your payment this time around. Please try again.</div>
                        </fieldset>
                    </div>
                </section>
                @fragments.form.terms(countryGroup)
            </section>
        </form>
    </main>
}

