@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.salesforce.Tier.{Supporter, Partner}
@import views.html.helper._
@import views.support.DisplayText._
@import views.support.MembershipCompat._
@import views.support.{CountryWithCurrency, IdentityUser, PageInfo, PaidPlans}
@import tracking.AppnexusPixel

@import abtests.PayPalTestVariants
@(plans: MonthYearPlans[PaidMember],
    countriesWithCurrencies: List[CountryWithCurrency],
    idUser: IdentityUser,
    pageInfo: PageInfo,
    countryGroup: Option[CountryGroup],
    paypalTestVariant: String
    )(implicit token: play.filters.csrf.CSRF.Token, request: actions.AuthRequest[_])

@main(plans.tier.cta, pageInfo=pageInfo, simpleHeader=true, margins=false) {

    <main class="page-content skin-checkout-b skin-checkout-paypal">

        @fragments.analytics.appNexusPixel("add", AppnexusPixel.checkoutPageids(plans.tier))

        <!-- FORM TITLE -->
        <section class="checkout-header">
            <h1 class="checkout-headline">@fragments.form.formCta(plans.tier)</h1>
        </section>

        <!-- CHECKOUT FORM -->
        <form action="@routes.Joiner.joinPaid(plans.tier)" method="POST" id="payment-form" class="js-form" novalidate>
            @CSRF.formField
            <input type="hidden" name="tier" value="@plans.tier.slug"/>

            <section class="form-content">

                <!-- PARTNER/PATRON BENEFITS LIST -->
                @if(plans.tier != Supporter()){
                    <!-- List of benefits -->
                    @fragments.form.benefitsFieldsetPayPal(plans.tier.benefits)

                    <!-- ACCORDION SECTION - BENEFITS CHOICE -->
                    @fragments.form.featureChoicePanelPayPal(plans.tier)
                }

                <!-- ACCORDION SECTION - NAME AND ADDRESS -->
                <section class="form-panel sub-heading">

                    <div class="form-panel__heading">
                        <h2 class="form-panel__headline">Name and address</h2>
                        <div class="form-panel__edit js-edit-name-address is-hidden">edit</div>
                        <div class="sign-in-required js-sign-in-note @if(plans.tier == Partner()){is-hidden}">
                            @fragments.joiner.signedInAs(request.uri, inline = true)
                        </div>
                    </div>

                    <div class="form-panel__content js-form-panel-name-address @if(plans.tier == Partner()){is-hidden}">
                        <!-- Name -->
                        <div class="form-section__name-detail">
                            @fragments.form.nameDetailPayPal(
                                idUser.privateFields.firstName,
                                idUser.privateFields.secondName
                            )
                        </div>

                        <!-- Address -->
                        @fragments.form.addressDetailPayPal(
                            countriesWithCurrencies = countriesWithCurrencies,
                            heading = "Delivery address",
                            note = "We need your address to send you a welcome pack",
                            formType = "deliveryAddress",
                            addressRequired = true,
                            address1 = idUser.privateFields.address1,
                            address2 = idUser.privateFields.address2,
                            town = idUser.privateFields.address3,
                            postcode = idUser.privateFields.postcode,
                            county = idUser.privateFields.address4
                        )
                        <!-- Billing Address -->
                        @fragments.form.billingAddressPayPal("Billing address")
                        @fragments.form.addressDetailPayPal(
                            countriesWithCurrencies = countriesWithCurrencies,
                            formType = "billingAddress",
                            addressRequired = true,
                            address1 = idUser.privateFields.billingAddress1,
                            address2 = idUser.privateFields.billingAddress2,
                            town = idUser.privateFields.billingAddress3,
                            postcode = idUser.privateFields.billingPostcode,
                            county = idUser.privateFields.billingAddress4,
                            showHeading = false
                        )

                        @fragments.form.marketingChoices(idUser.marketingChoices.receiveGnmMarketing, idUser.marketingChoices.receive3rdPartyMarketing)

                        @if(!idUser.passwordExists) {
                            @fragments.form.createPassword()
                        }

                        <button class="action form-panel__continue js-continue-name-address" type="button">Continue</button>
                        <div class="flash-message flash-message--error is-hidden js-payment-errors qa-form-error">This form has errors (see above)</div>
                    </div>

                </section>

                <!-- ACCORDION SECTION - BILLING AND PAYMENT -->
                <section class="form-panel form-group--little-padding">

                    <div class="form-panel__heading">
                        <h2 class="form-panel__headline">Payment</h2>
                        <p class="text-note">Prices include VAT</p>
                    </div>

                    <div class="form-panel__content js-form-panel-payment form-panel--no-margin is-hidden">

                        <!-- Payment Options -->
                        @fragments.form.paymentOptionsPayPal(plans)
                        <fieldset class="fieldset js-payment-methods">

                            <div class="fieldset__heading">
                                <h2 class="fieldset__headline fieldset__headline--payment">Payment methods</h2>
                                <p class="security-note">@fragments.inlineIcon("lock", List("icon-inline--small", "icon-inline--top")) Secure</p>
                            </div>

                            <div class="fieldset__fields">
                                <div class="form-field">
                                    <div class="loader js-payment-processing">Processing.</div>
                                </div>
                                <div class="form-field js-payment-type">
                                    @fragments.form.stripeCheckout(idUser)
                                </div>
                                @if(paypalTestVariant == PayPalTestVariants.withPayPal){
                                    <div class="form-field js-payment-type">
                                        <div id="paypal-button-checkout"></div>
                                    </div>
                                }
                            </div>
                            <div class="js-payment-error flash-message flash-message--error is-hidden">Sorry, we weren't able to process your payment this time around. Please try again.</div>
                        </fieldset>

                    </div>
                </section>

                @fragments.form.termsPayPal(countryGroup)
            </section>
        </form>
    </main>
}
