@(
    tier: com.gu.membership.salesforce.Tier,
    userFields: com.gu.identity.play.PrivateFields,
    marketingChoices: com.gu.identity.play.StatusFields,
    passwordExists: Boolean,
    pageInfo: model.PageInfo
)(implicit token: play.filters.csrf.CSRF.Token, request: actions.AuthRequest[_])

@import com.gu.membership.salesforce.Tier
@import views.html.helper._

@main(s"Become a ${tier.name.capitalize}", pageInfo=pageInfo) {

    <main class="page-content l-constrained">
        <form action="@routes.Joiner.joinPaid(tier)" method="POST" id="payment-form" class="js-form" novalidate>
            @CSRF.formField
            <input type="hidden" name="tier" value="@tier.slug"/>

            <section class="form-header">
                <h1 class="form-headline">Become a @tier.name.capitalize</h1>
                <p class="page-intro"> Join as an annual Partner or Patron Member by 31 October and get 3 months free</p>
            </section>

            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                @fragments.form.errorMessageDisplay()
                </div>
            </section>

            <section class="form-section">
                <div class="form-section__lead-in sign-in-required">
                    @fragments.joiner.signedInAs(routes.Joiner.enterDetails(tier).url)
                </div>

                <div class="form-section__content">

                    <div class="form-group">
                        @fragments.form.benefitsFieldset(tier)
                        @fragments.form.featureChoiceFieldset(tier)
                    </div>

                    <div class="form-group">
                        <h2 class="form-group__title">Address</h2>

                        @fragments.form.nameDetail(userFields.firstName, userFields.secondName)
                        @fragments.form.addressDetail(
                            heading = "Delivery address",
                            note = "Once you've joined Guardian Members we'll send you a welcome pack in the post.",
                            formType = "deliveryAddress",
                            addressRequired = true,
                            address1 = userFields.address1,
                            address2 = userFields.address2,
                            town = userFields.address3,
                            postcode = userFields.postcode,
                            county = userFields.address4,
                            userCountry = userFields.country
                        )
                        @fragments.form.marketingChoices(marketingChoices.receiveGnmMarketing, marketingChoices.receive3rdPartyMarketing)

                        @if(!passwordExists) {
                            @fragments.form.createPassword()
                        }
                    </div>

                    <div class="form-group">
                        <h2 class="form-group__title">Billing</h2>
                        @fragments.form.paymentOptions(tier)

                        @fragments.form.billingAddress("Billing address")
                        @fragments.form.addressDetail(
                            formType = "billingAddress",
                            addressRequired = true,
                            address1 = userFields.billingAddress1,
                            address2 = userFields.billingAddress2,
                            town = userFields.billingAddress3,
                            postcode = userFields.billingPostcode,
                            county = userFields.billingAddress4,
                            userCountry = userFields.billingCountry
                        )
                        @fragments.form.cardDetail(tier)
                    </div>

                    @fragments.form.errorMessageDisplay()
                    @fragments.form.submit("Pay", "now", Some(tier))

                </div>
            </section>
        </form>
    </main>
}
