@import views.html.helper._
@import views.support.DisplayText._
@import views.support.PageInfo
@import views.support.CountryWithCurrency
@import views.support.IdentityUser

@import com.gu.memsub.Current
@import com.gu.salesforce.PaidTier
@import com.gu.salesforce.Tier.Supporter
@import com.gu.memsub.promo.PromoCode
@import views.support.PaidPlans
@import views.support.MembershipCompat._
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@import com.gu.i18n.CountryGroup


@(plans: MonthYearPlans[PaidMember],
    countriesWithCurrencies: List[CountryWithCurrency],
    idUser: IdentityUser,
    pageInfo: PageInfo,
    trackingPromoCode: Option[PromoCode],
    promoCodeToDisplay: Option[PromoCode],
    countryGroup: Option[CountryGroup]
    )(implicit token: play.filters.csrf.CSRF.Token, request: actions.AuthRequest[_])

@main(plans.tier.cta, pageInfo=pageInfo, simpleHeader=true) {

    <main class="page-content skin-checkout-b">

        <form action="@routes.Joiner.joinPaid(plans.tier)" method="POST" id="payment-form" class="js-form" novalidate>
            @CSRF.formField
            <input type="hidden" name="tier" value="@plans.tier.slug"/>

            <section class="form-header">
                <h1 class="form-headline">@plans.tier.cta</h1>
            </section>


            <section class="form-section form-section--no-padding">
                <div class="form-section__content">
                @fragments.form.errorMessageDisplay()
                </div>
            </section>

            <section class="form-section form-section--no-padding">

                <div class="form-section__content">
                    @if(plans.tier != Supporter()){
                        <div class="form-group">
                            @fragments.form.benefitsFieldset(plans.tier.benefits)
                            @fragments.form.featureChoiceFieldset(plans.tier)
                        </div>}

                    <div class="form-group sub-heading">
                        <h2 class="form-group__title">Name and address</h2>

                        <div class="form-section__lead-in sign-in-required">
                        @fragments.joiner.signedInAs(request.uri, inline = true)
                        </div>

                        <div class="form-section__name-detail">
                        @fragments.form.nameDetail(idUser.privateFields.firstName, idUser.privateFields.secondName, heading = "")
                        </div>
                        @fragments.form.addressDetail(
                            countriesWithCurrencies = countriesWithCurrencies,
                            heading = "Delivery address",
                            note = "We need your address to send you .",
                            formType = "deliveryAddress",
                            addressRequired = true,
                            address1 = idUser.privateFields.address1,
                            address2 = idUser.privateFields.address2,
                            town = idUser.privateFields.address3,
                            postcode = idUser.privateFields.postcode,
                            county = idUser.privateFields.address4
                        )
                        @fragments.form.marketingChoices(idUser.marketingChoices.receiveGnmMarketing, idUser.marketingChoices.receive3rdPartyMarketing)

                        @if(!idUser.passwordExists) {
                            @fragments.form.createPassword()
                        }
                    </div>

                    @if(plans.tier != Supporter()) {
                        <div class="form-group form-section__promotion">
                            <h2 class="form-group__title">Promotion</h2>
                            @fragments.form.promoCode(trackingPromoCode, promoCodeToDisplay)
                        </div>
                    }

                    <div class="form-group form-group--little-padding">
                        <div class="form-section__billing">
                            <h2 class="form-group__title">Billing</h2>
                            @fragments.form.billingAddress("Billing address")
                            @fragments.form.addressDetail(
                                countriesWithCurrencies = countriesWithCurrencies,
                                formType = "billingAddress",
                                addressRequired = true,
                                address1 = idUser.privateFields.billingAddress1,
                                address2 = idUser.privateFields.billingAddress2,
                                town = idUser.privateFields.billingAddress3,
                                postcode = idUser.privateFields.billingPostcode,
                                county = idUser.privateFields.billingAddress4
                            )
                        </div>
                        @fragments.form.paymentOptions(plans)
                        @fragments.form.cardDetail(plans)
                    </div>
                    @fragments.form.terms(countryGroup)
                    @fragments.form.errorMessageDisplay()
                    @fragments.form.submit(PaidPlans(plans), membershipTermsAndConditions = false, countryGroup = countryGroup, dataCategory = Some("checkout page"), dataLabel = Some("payment b-annual"))
                </div>
            </section>
        </form>
    </main>
}
