/* ==========================================================================
   Tools
   ========================================================================== */

.tool-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tool-list__pane {
    overflow: hidden;
    flex-grow: 1;
    // flex-basis: 33%;
    margin-bottom: 15px;
}
.tool-list__pane--menu {
    flex-shrink: 0;
    flex-basis: auto;
}
.tool-list__pane:last-child {
    margin-bottom: 0;
}


.event-list {
    list-style-type: square;
    padding-left: 15px;
    margin-bottom: 10px;
}
.event-list__item {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
}

.event-list--scroll {
    overflow: scroll;
    max-height: 20vh;
}
