/* ==========================================================================
   navigation
   ========================================================================== */

.nav {
    list-style: none;
    padding-left: 0;
}
.nav__item a {
    display: block;
    padding: 10px;
    background-color: #0a2c35;
    color: #bddfe7;
    text-decoration: none;
    border-bottom: 1px solid #143f4c;
    border-top: 1px solid #051f25;
    font-weight: bold;
    border-left: 6px solid #1f5768;

}
.nav__item--selected a {
    border-left-color: #bddfe7;
    background-color: #28697a;
    color: #ffffff;
}
.nav__item a:hover {
    border-left-color: #80b2be;
    background-color: #154e5d;
    color: #ffffff;
}
.nav__item--selected a:after {
    content: '▶';
    float: right;
    opacity: .5;
}
.nav__item:first-child a {
    border-top: 0;
}
.nav__item:last-child a {
    border-bottom: 0;
}
