/* ==========================================================================
   Branding
   ========================================================================== */

.logo {
    max-width: 100%;
    padding: 0 1rem 0 1rem;
}
.tagline {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 9px;
    opacity: 0.5
}
