/* ==========================================================================
   buttons
   ========================================================================== */

.cta {
    display: inline-block;
    border: 2px solid #419fb7;
    margin-bottom: .5rem;
    padding: 7px 15px;
    border-radius: 6px;
    background-color: #bcdfe8;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 0px 2px 5px #0b5061;

}
.cta:hover {
    background-color: #8cc1cf;
    border-color: #2a8ea8;
    color: #093b48;
}

.cta--primary {
    background-color: #2dad60;
    border-color: #4bb977;
    color: #ffffff;
}

.cta--primary,
.cta--secondary {
    box-shadow: 0px 2px 2px #29616f;
}

.cta--primary:hover {
    background-color: #53cc83;
    color: #1d3b0e;
    border-color: #62dd93;
}

.cta--secondary {
    background-color: #e6dc6e;
    border-color: #f2e98c;
    color: #1c1e01;
}

.cta--secondary:hover {
    background-color: #c8bb26;
    border-color: #dbce3b;
    color: #3d4109;
}
