@(identityEmail: String, staffGoogleEmail: String)

<div class="modal is-hidden js-modal js-change-email-modal" role="alertdialog" aria-describedby="dialog-description">
    <div id="dialog-description" class="modal-content">
        <h2 class="modal-content__header">Allow Guardian Membership to change the email address on your profile</h2>
        <p>You will no longer be able to sign in to <strong>theguardian.com</strong> using <strong>@identityEmail</strong>.</p>
        <p>You must use <strong>@staffGoogleEmail</strong> to sign in from now.</p>
        <div class="modal-cta-container action-group">
            <button class="action u-no-vertical-margin js-modal-confirm">Change email address</button>
            <button class="action action--secondary u-no-vertical-margin js-modal-cancel">Cancel</button>
        </div>
    </div>
    <div class="modal__supplementary">
        <button class="u-button-reset js-modal-cancel">
            <span class="icon-holder icon-holder--large">
                @fragments.inlineIcon("cross")
            </span>
        </button>
    </div>
</div>
