%action {
    margin: $gs-baseline 0;
    display: inline-block;
    cursor: pointer;
    border: 0;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    @include fs-textSans(4);
    width: 100%;
    max-width: rem($gs-gutter * 15);
    padding: rem(8px) rem(8px) rem(8px) rem(18px);
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    @include border-radius(50%);
    vertical-align: bottom;
    outline: none;

    @include mq(mobileLandscape){
        width: auto;
        min-width: rem(80px);
        max-width: none;
    }
}

.action {
    background-color: $mem-buttonBlue;
    color: $white;
    @extend %action;

    &:visited,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #ffffff;
    }

    &:focus,
    &:active,
    &:hover {
        background-color: darken($mem-buttonBlue, 10%);
    }

    &:after {
        @extend .icon-arrow-right-white;
        &.action--secondary-button {
            @extend .icon-arrow-right-black;
        }
        content: '';
        float: right;
        margin: rem(2px) 0 0 rem(30px);
    }
}

// this variant moves the arrow to the other side
// and hides the one on the right
.action.action--arrow-left {
    &:before {
        @extend .icon-arrow-left-white;
        &.action--secondary-button {
            @extend .icon-arrow-left-black;
        }
        content: '';
        float: left;
        margin: rem(2px) rem(18px) 0 0;
    }
    &:after {
        display: none;
    }
}


.action--toggle {
    &:before {
        @extend .icon-plus;
        content: '';
        float: left;
        margin: rem(2px) rem(18px) 0 0;
    }

    &:after {
        display: none;
    }

    &.is-toggled,
    .action--toggle--toggled {
        &:before {
            @extend .icon-minus;
        }
    }
}

.action--disabled {
    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        background-color: #cccccc;
        color: #ffffff;
    }
    border: 0;
    cursor: default;
}

.action--buy-event-ticket-details {
  background-color: $black;

  @include mq(tablet) {
    float: left;
    margin: rem(6px $gs-gutter 0 0);
    min-width: 0;
  }

  &:hover {
    background-color: transparentize($black, 0.35);
  }
}

.action--fullwidth {
    width: 100%;
}

.action--external {
    background-color: transparent;
    border: 1px solid transparentize($white, 0.5);
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        border-color: $white;
    }

    @include mq($until: tablet) {
        margin-top: rem($gs-baseline);
        margin-bottom: 0;
    }

    @include mq(tablet) {
        width: auto;
    }
}

.action--search {
    .theme--guardian-live & {
        background-color: $mem-live-top;
        color: $white;
        &:hover,
        &:focus,
        &:active {
            background-color: $mem-live-accent;
        }
    }

    .theme--masterclass & {
        background-color: $mem-mc-top;
        color: $c-neutral1;
        &:hover,
        &:focus,
        &:active {
            background-color: $mem-mc-accent;
        }
    }

}

.action--sold-out-event-ticket-details {
  background-color: $black;
  padding-right: rem(18px);

  @include mq(tablet) {
    float: left;
    margin: rem(6px $gs-gutter 0 0);
    min-width: 0;
  }

  &:hover {
    background-color: $black;
    cursor: default;
  }

  &:after {
    display: none;
  }
}

.action--buy-event-content-sidebar {
  min-width: 100%;

  .theme--guardian-live & {
    background-color: $mem-live-top;

    &:hover {
      background-color: darken($mem-live-top, 5%);
    }
  }

  .theme--masterclass & {
    color: $c-neutral1;
    background-color: $mem-mc-top;
    &:hover {
      background-color: darken($mem-mc-top, 5%);
    }
    &:after {
      @extend .icon-arrow-right-black;
    }
  }
}

.action--sold-out-event-content-sidebar {
  min-width: 100%;

  .theme--guardian-live & {
    background-color: $mem-live-top;
  }

  .theme--masterclass & {
    background-color: $mem-mc-top;
  }

  &:hover {
    cursor: default;
  }
  &:after {
    display: none;
  }
}

.action--join,
.action--logged-in {
    text-align: left;
    background-color: $mem-buttonBlue;
    color: $white;
    padding: rem(8px) rem(8px) rem(8px) rem(18px);

    &:visited,
    &:active,
    &:focus {
        background-color: $mem-buttonBlue;
        color: $white;
    }
    &:hover {
        background-color: darken($mem-buttonBlue, 15%);
    }
    i {
        float: right;
        margin-top: rem(2px);
    }
}

.action--secondary-button {
    background-color: $offWhite;
    color: $black;
    padding: rem(8px) rem(8px) rem(8px) rem(18px);

    &:visited,
    &:active,
    &:focus {
        background-color: $offWhite;
        color: $black;
    }
    &:hover {
        background-color: darken($offWhite, 15%);
        color: $black;
    }
}

.action-secondary-small {
    color: $mem-buttonBlue;
    border: 1px solid rgba(24, 104, 153, .25);
    background-color: $white;
    @extend %action;

    &:hover {
        border: 1px solid $mem-buttonBlue;
    }
}

.action-secondary-small--modal {
    @include mq(mobileLandscape) {
        margin-left: rem($gs-gutter / 2);
    }
}

.i-wait {
    display: none;
}

.action-secondary-small--no-margin,
.action--no-margin {
    margin-bottom: 0;
}
.action--no-top-margin {
    margin-top: 0;
}
.action--no-bottom-margin {
    margin-bottom: 0;
}

.actions.js-waiting {

    .i-wait {
        display: inline-block;
        vertical-align: middle;

        .i-wait__throbber {
            vertical-align: middle;
            width: rem(21px);
            height: rem(21px);
        }

        .i-wait__message {
            vertical-align: middle;
            @include fs-bodyCopy(1);
            color: $c-neutral2;
            margin-left: rem(2px);
        }
    }
}

.action-cta {
    color: #ffffff;
    border: 0;
    display: inline-block;
    cursor: pointer;
    min-width: rem($gs-baseline * 6);
    line-height: rem($gs-gutter);
}

.action-cta--confirm {
    background-color: $mem-buttonBlue;
}

.action-cta--cancel {
    &,
    &:hover {
      background-color: $mem-button-cancel;
    }
}

.action-cta--disabled {
    cursor: default;
}

.action-cta--full-width-mobile {
    width: 100%;
    vertical-align: middle;
    @include mq(tablet) {
        width: auto;
        float: right;
    }
}
