/* ==========================================================================
   Actions
   ========================================================================== */

/* Action Group
   ========================================================================== */

/**
 * Used to group a colleciton of icons,
 * adds appropriate spacing between actions.
 */
.action-group {
    clear: both;
}
.action-group > .action {
    margin-right: rem($gs-gutter / 2);
    margin-bottom: rem($gs-gutter / 2);
}

/* Action
   ========================================================================== */

.action {

    @include font-smoothing();
    @include fs-textSans(4);

    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
    outline: none;

    color: $white;
    background-color: $c-button;
    padding: rem(8px) rem($gs-gutter);
    border: 1px solid $c-button;
    @include circular;

    &:focus,
    &:active,
    &:hover {
        color: $white;
        background-color: darken($c-button, 10%);
        border-color: darken($c-button, 10%);
        text-decoration: none;
    }

    /**
     * TODO: Temporary inlining to help with removal of old icon sprite
     * This should move to being an inline SVG. Requires a template refactor to get there.
     */
    &:after {
        content: '';

        display: inline-block;
        background-repeat: no-repeat;
        width: 20px;
        height: 18px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDIwIDE3Ljg5NSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjAgMTcuODk1Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjAgOS4zNTJsLTkuMDg0IDguNTQzLS44Ni0uODEgNi41NDItNy4zMWgtMTYuNTk4di0xLjY1NWgxNi41OThsLTYuNTQyLTcuMzEuODYtLjgxIDkuMDg0IDguNTA4di44NDR6Ii8+PC9zdmc+);

        float: right;
        margin: rem(2px) rem(-$gs-gutter / 2) 0 rem($gs-gutter);
    }

    .action__icon {
        width: 21px; height: 21px;
    }
    .action__icon--left {
        float: left;
        margin-left: rem(-$gs-gutter / 2);
        margin-right: rem($gs-gutter / 2);
    }
    .action__icon--right {
        float: right;
        margin-right: rem(-$gs-gutter / 2);
        margin-left: rem($gs-gutter / 2);
    }

}

/**
 * TODO: Remove background image from base icon and use inlined icon sprites
 */
.action--no-icon {
    &:after {
        content: none;
        display: none;
    }
}

/* Action Modifiers
   ========================================================================== */

/**
 * Secondary modifier
 */
.action--secondary {

   color: $c-button;
   background-color: transparent;
   border: 1px solid transparentize($c-button, 0.5);

   &:focus,
   &:active,
   &:hover {
       color: $c-button;
       background-color: transparent;
   }

   &:hover,
   &:active {
       border-color: $c-button;
   }

   &:after {
       display: none;
   }

}

/**
 * Booking modifier
 *
 * Primary booking link on event pages.
 */
.action--booking {
    color: $white;
    background-color: $black;
    border: none;

    &:hover {
        background-color: lighten($black, 15%);
    }
}


/**
 * External link modifier
 * e.g. "Watch higlights link for past events"
 *
 * Transparent background so expected usage is
 * on a solid tone background.
 */
.action--external {
   background-color: transparent;
   border: 1px solid transparentize($white, 0.5);
   width: 100%;

   &:hover,
   &:focus,
   &:active {
       border-color: $white;
       background-color: transparent;
   }

   &:after {
       display: none;
   }

   @include mq(tablet) {
       width: auto;
   }
}


/**
 * Snap modifier
 *
 * Small screens: Circular button w/ no label
 * Large screens: Full button w/ text label
 *
 * e.g.: Join page (/join)
 */
.action--snap {
    min-width: 0;
    width: rem(40px);
    height: rem(40px);
    margin: 0;
    &:after {
        margin-top: 3px;
    }
    .action__label {
        display: none;
    }
    @include mq(tablet) {
        height: auto;
        width: auto;
        max-width: rem(gs-span(3));
        &:after {
            margin-top: 2px;
        }
        .action__label {
            display: inline-block;
        }
    }
}

/* Action Jump
   ========================================================================== */

.action-jump {
    display: block;
}
.action-jump:link,
.action-jump:visited,
.action-jump:hover,
.action-jump:active {
    text-decoration: none;
}
.action-jump:hover .icon-holder {
    background-color: darken($c-button, 10%);
    border-color: darken($c-button, 10%);
}
.action-jump__label {
    @include fs-data(4);
    color: $c-neutral2;
    vertical-align: middle;
    padding-left: .2em;
}
.action-jump--block {
    margin: rem($gs-baseline * 2) 0;
}
.action-jump--reversed {
    .action-jump__label {
        color: $white;
    }
    .icon-holder {
        color: color(brand-dark);
        background-color: $white;
        border-color: $white;
    }
    &:hover .icon-holder {
        background-color: darken($white, 15%);
        border-color: darken($white, 15%);
    }
}

/* Actions - Disabled
   ========================================================================== */

/**
 * Disabled state
 */
.action.is-disabled,
.action[disabled],
.action[disabled]:hover {
    background-color: $c-neutral5;
    border-color: $c-neutral5;
}

/**
 * Disabled state for booking actions
 */
.action--booking.is-disabled,
.action--booking[disabled],
.action--booking[disabled]:hover {
    opacity: 0.2;
    color: $white;
    background-color: $black;
    border-color: $black;
}
