/* ==========================================================================
   Actions
   ========================================================================== */

/**
 * Used to group a colleciton of icons,
 * adds appropriate spacing between actions.
 */
.action-group > .action {
    margin-right: rem($gs-gutter / 2);
}

%action {
    @include fs-textSans(4);
    font-weight: bold;
    text-decoration: none;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    margin: $gs-baseline 0;
    display: inline-block;
    cursor: pointer;
    border: 0;
    text-align: left;
    width: 100%;
    max-width: rem($gs-gutter * 15);
    padding: rem(8px) rem($gs-gutter);
    @include border-radius(50%);
    vertical-align: bottom;
    outline: none;

    @include mq(mobileLandscape) {
        width: auto;
        min-width: rem(80px);
        max-width: none;
    }
}

.action {
    @extend %action;
    color: $white;
    background-color: $c-button;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
        background-color: darken($c-button, 10%);
    }

    &:after {
        @extend .icon-arrow-right-white;
        &.action--secondary-button {
            @extend .icon-arrow-right-black;
        }
        content: '';
        float: right;
        margin: rem(2px) rem(-$gs-gutter / 2) 0 rem(30px);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: $c-neutral5;
    }

    .action__icon {
        margin-top: rem(2px);
    }
    .action__icon--left {
        float: left;
        margin-left: rem(-$gs-gutter / 2);
        margin-right: rem($gs-gutter / 2);
    }
    .action__icon--right {
        float: right;
        margin-right: rem(-$gs-gutter / 2);
        margin-left: rem($gs-gutter / 2);
    }

}

// TODO: Specificy issues
// this variant moves the arrow to the other side
// and hides the one on the right
// Only used on change tier / downgrade
.action.action--arrow-left {
    &:before {
        @extend .icon-arrow-left-white;
        &.action--secondary-button {
            @extend .icon-arrow-left-black;
        }
        content: '';
        float: left;
        margin: rem(2px) rem(18px) 0 0;
    }
    &:after {
        display: none;
    }
}

.action-secondary,
.action-toggle {
    @extend %action;

    color: $c-button;
    background-color: transparent;
    border: 1px solid transparentize($c-button, 0.5);

    &:focus,
    &:active,
    &:hover {
        background-color: transparent;
    }

    &:hover {
        border-color: $c-button;
    }

}

.action-toggle {
   margin-bottom: $gutter-width-fluid;
   &:before {
       @extend .icon-plus;
       content: '';
       float: left;
       margin: 0 rem($gs-baseline) 0 0;
   }
   &:after {
       display: none;
   }

   &.is-toggled,
   .action--toggle--toggled {
       &:before {
           @extend .icon-minus;
       }
   }
}

.action-proceed {
    @include image-replacement();
    width: rem(36px);
    height: rem(36px);
    padding: 0 rem(8px) 0 0;
    background-color: transparent;
    @extend .icon-arrow-right-blue;
    background-position: center center;
    @include border-radius(50px);
    border: 1px solid $c-button;

    &:focus {
        outline: 0;
    }
}

/* Action Modifiers
   ========================================================================== */

.action--external {
   background-color: transparent;
   border: 1px solid transparentize($white, 0.5);
   width: 100%;

   &:hover,
   &:focus,
   &:active {
       border-color: $white;
   }

   @include mq($until: tablet) {
       margin-top: rem($gs-baseline);
       margin-bottom: 0;
   }

   @include mq(tablet) {
       width: auto;
   }
}

// TODO: Refactor to not need theme classes
// Currently not styled when used outside of a theme
.action--search {
   .theme--guardian-live & {
       background-color: $c-tone-live;
       color: $white;
       &:hover,
       &:focus,
       &:active {
           background-color: $c-tone-live-accent;
       }
   }
   .theme--masterclasses & {
       background-color: $c-tone-masterclass;
       color: $c-neutral1;
       &:hover,
       &:focus,
       &:active {
           background-color: $c-tone-masterclass-accent;
       }
   }
}

// TODO: Only used in cta.js.
// Refactor to add disabled attribute
.action--disabled {
    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        background-color: #cccccc;
        color: #ffffff;
    }
    border: 0;
    cursor: default;
}

.action--snap {
    min-width: 0;
    width: rem(40px);
    height: rem(40px);
    margin: 0;
    &:after {
        margin-top: 3px;
    }
    .action__label {
        display: none;
    }
    @include mq(tablet) {
        height: auto;
        width: 100%;
        max-width: rem(gs-span(3));
        &:after {
            margin-top: 2px;
        }
        .action__label {
            display: inline-block;
        }
    }
}

.action-proceed {

    @include image-replacement();

    width: rem(36px);
    height: rem(36px);
    padding: 0 rem(8px) 0 0;
    background-color: transparent;
    @extend .icon-arrow-right-blue;
    background-position: center center;

    @include border-radius(50px);
    border: 1px solid $c-button;

    &:focus {
        outline: 0;
    }

}

/* Actions - Secondary Modifiers
   ========================================================================== */

.action--secondary,
.action--toggle {
    color: $c-button;
    background-color: $white;
    border: 1px solid transparentize($c-button, 0.5);

    &:focus,
    &:active,
    &:hover {
        background-color: transparent;
    }

    &:hover {
        border-color: $c-button;
    }

}

.action--secondary {
    &:after {
        display: none;
    }
}

.action--toggle {
   margin-bottom: $gutter-width-fluid;
   &:before {
       @extend .icon-plus;
       content: '';
       float: left;
       margin: 0 rem($gs-baseline) 0 0;
   }
   &:after {
       display: none;
   }

   &.is-toggled,
   .action--toggle--toggled {
       &:before {
           @extend .icon-minus;
       }
   }
}

// TODO: Deprecated
// Replace with .action-secondary
.action--secondary-button {
    &,
    &:visited,
    &:active,
    &:focus {
        color: $black;
        background-color: $c-neutral4;
    }
    &:hover {
        color: $black;
        background-color: darken($c-neutral4, 15%);
    }
}

/* Actions - Booking Modifiers
   ========================================================================== */

.action--booking {
    background-color: $black;
    &:hover {
        background-color: transparentize($black, 0.35);
    }
}

/* Actions - CTA
   ========================================================================== */
// TODO: Document usage here, can these be replaced with common actions?

.action-cta {
    color: $white;
    border: 0;
    display: inline-block;
    cursor: pointer;
    min-width: rem($gs-baseline * 6);
    line-height: rem($gs-gutter);
}

.action-cta--confirm {
    background-color: $c-button;
}

.action-cta--cancel {
    &,
    &:hover {
      background-color: $c-button-cancel;
    }
}

.action-cta--disabled {
    cursor: default;
}

.action-cta--full-width-mobile {
    width: 100%;
    vertical-align: middle;
    @include mq(tablet) {
        width: auto;
        float: right;
    }
}

/* Actions - Utility Modifiers
   ========================================================================== */

.action--external {
    background-color: transparent;
    border: 1px solid transparentize($white, 0.5);
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        border-color: $white;
    }

    @include mq($until: tablet) {
        margin-top: rem($gs-baseline);
        margin-bottom: 0;
    }

    @include mq(tablet) {
        width: auto;
    }
}

/* Wait
   ========================================================================== */
// TODO: Document how this is used. i- suggests an icon prefix?
// TODO benW has new designs for the loader coming soon

.i-wait {
    display: none;
}
.actions.js-waiting {
    .i-wait {
        display: inline-block;
        padding: 0 0 rem($gs-gutter) rem($gs-baseline / 2);

        .i-wait__throbber {
            vertical-align: middle;
            width: rem(21px);
            height: rem(21px);
        }

        .i-wait__message {
            vertical-align: middle;
            @include fs-bodyCopy(1);
            color: $c-neutral2;
            margin-left: rem(2px);
        }
    }
}
