.action {
    background-color: #0096C9;
    margin: $gs-baseline 0;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    position: relative;
    @include fs-textsans(4);
    @include rem((
        min-width: 100%,
        padding: 8px 8px 8px 18px
    ));
    @include border-radius(50%);

    &:visited,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    &:hover {
        background-color: darken(#0096C9, 10%);
    }

    &:after {
        content: '';
        @extend .icon-sprite-arrow-right-white;
        fill: #000000;
        float: right;
        @include rem((
            margin: 2px 0 0 30px
        ));
    }

    @include mq(tablet){
        @include rem((
            min-width: 220px
        ));
    }
}

.action--disabled {
    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        background-color: #cccccc;
        color: #ffffff;
    }
    border: 0;
    cursor: default;
}

.action--wide {
    min-width: 12em;
}

.action--inline-text {
    margin: $gs-baseline;
}

.action--join,
.action--logged-out,
.action--logged-in {
    text-align: left;
    background-color: $mem-buttonBlue;
    @include rem((
        padding: 8px 8px 8px 18px
    ));

    &:visited,
    &:active,
    &:focus {
        background-color: $mem-buttonBlue;
    }
    &:hover {
        background-color: darken($mem-buttonBlue, 15%);
    }
    i {
        float: right;
        @include rem((
            margin-top: 2px
        ));
    }
}

.action--secondary-button {
    text-align: left;
    background-color: $offWhite;
    color: $black;
    @include rem((
        padding: 8px 8px 8px 18px,
        width: 220px
    ));

    &:visited,
    &:active,
    &:focus {
        background-color: $offWhite;
    }
    &:hover {
        background-color: darken($offWhite, 15%);
    }
    i {
        float: right;
        @include rem((
            margin-top: 2px
        ));
    }
}

.i-wait {
    display: none;
    img {
        margin-top: 9px;
    }
}

.actions.js-waiting .i-wait {
    display: inline-block;
    vertical-align: top;
}

.action--ticket-button {
    position: relative;
    z-index: 1;
    &:before, &:after {
        content: ' ';
        position: absolute;
        z-index: 2;
        height: 10px;
        width: 10px;
        display: block;
        border-radius: 50px;
        background-color: #ffffff;
        top: 50%;
        margin-top: -5px;
    }

    &:before {
        left: -5px;
    }

    &:after {
        right: -5px;
    }
}

.action--ticket-button--grey {
    margin: 40px 0 5px;
    &:before, &:after {
        background-color: #e1e1e1;
    }
}

.action-cta {
    color: #ffffff;
    border: 0;
    padding: $gs-gutter / 2;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    @include rem((
        min-width: $gs-baseline * 6,
        line-height: $gs-gutter
    ));
}

.action-cta--confirm {
    background-color: $mem-button-confirm;
}

.action-cta--cancel {
    background-color: $mem-button-cancel;
}

.action-cta--full-width-mobile {
    width: 100%;
    vertical-align: middle;
    @include mq(tablet) {
        width: auto;
        float: right;
    }
}

// Heading/Text with an action button inline next to it
.action-inline-combo {
    margin-bottom: $gs-baseline;
    &.action-inline-combo--nomargin {
        margin: 0;
    }
    > * {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
        margin-bottom: 0;

    }
}

