/* ==========================================================================
   Articles
   ========================================================================== */

.article-snapshot {
    width: 100%;
    display: table;
    margin-bottom: rem($gs-baseline);
}
.article-snapshot__title {
    @include fs-textSans(3);
    font-weight: bold;
    margin-bottom: rem($gs-baseline / 4);

    @include mq(mobileLandscape) {
        @include fs-header(2);
    }
}
.article-snapshot__trail {
    @include fs-data(4);
    color: $c-neutral2;
}
.article-snapshot__media,
.article-snapshot__content {
    display: table-cell;
    vertical-align: top;
}
.article-snapshot__content {
    border-top: 1px solid $c-border-neutral;
    padding-top: rem($gs-baseline / 2);

    @include mq(tablet) {
        border: 0 none;
        padding-top: 0;
    }
}
.article-snapshot__media {
    width: 30%;
    padding-right: $gutter-width-fluid;
}

/* ==========================================================================
   Articles: Front
   See /offers-competitions
   ========================================================================== */


.article-front {
    @include clearfix;
    background-color: $c-neutral7;
    transition: background-color $transition-duration-medium ease;
    position: relative;
    display: block;
    height: auto;

    &,
    &:active,
    &:hover,
    &:focus {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        background-color: $c-neutral5;

        .article-front__media {
            background-color: $black;
            img {
                opacity: .8;
            }
        }
    }
    @include mq(mobileLandscape) {
        height: rem(320px);
    }
}
.article-front__content {
    @include mq(mobileLandscape) {
        height: 100%;
    }
}
.article-front__media {
    background-color: $c-neutral4;
    transition: background-color $transition-duration-medium ease;

    img {
        transition: opacity $transition-duration-medium ease;
        @include no-flicker();
    }

    .supports-clippath-shapes & {
        position: relative;
    }
    .supports-clippath-shapes &::after {
        @include clip-overlay();
        @include clip-path-shape('thumbnail-a');
    }
}
.article-front__meta {
    padding: rem($gs-gutter / 4);
    padding-top: rem(($gs-gutter / 4) - 1px);
}
.article-front__title {
    @include fs-headline(3);
    margin-bottom: rem($gs-baseline);
    font-weight: 500;
}

/* ==========================================================================
   Related Content
   ========================================================================== */

.related-entry {
    display: table;
    width: 100%;
    background-color: $c-neutral8;
    border-top: 1px solid $c-border-neutral;
    padding: rem($gs-gutter / 4);
    margin-bottom: rem($gs-baseline * 3);

    @include mq(tablet) {
        display: block;
        border: 0;
        padding: 0;
    }
}
.related-entry__media,
.related-entry__content {
    display: table-cell;
    vertical-align: top;

    @include mq(tablet) {
        display: block;
    }
}
.related-entry__media {
    width: $trailblock-img-width;

    @include mq(tablet) {
        width: 100%;
    }
}
.related-entry__content {
    padding-left: rem($gs-gutter / 4);

    @include mq(tablet) {
        padding: rem($gs-gutter / 4);
    }
}
.related-entry__title {
    @include fs-headline(2);
    font-weight: 500;
    padding-bottom: rem($gs-baseline * 3);

    @include mq(tablet) {
        @include fs-headline(3, true);
    }
}
