//TODO start of splitting benefits work into one set of styles where it makes sense

.benefits-title {
	border-top: 1px solid $c-neutral3;
    @include fs-bodyHeading(2);
    @include rem((
        padding: 7px 0 $gs-baseline/6 0
    ));
}

.benefits-copy {
    @include fs-bodyCopy(1);
    @include rem((
        padding: 0 0 $gs-baseline 45px
    ));
}
