/* ==========================================================================
   Benefits
   ========================================================================== */

.benefit {
    @include clearfix();
    display: table;
    width: 100%;
}
.benefit__icon,
.benefit__details {
    display: table-cell;
    vertical-align: top;
}
.benefit__icon {
    color: $c-neutral2;
    width: rem($gs-gutter * 2);
}
.benefit__title {
    @include fs-headline(2);
    font-weight: 500;
    padding: 0;
}
.benefit__copy {
    @include fs-textSans(3);
    color: $c-neutral2;
}
