@mixin main-left-padding() {
    padding-left: 100px;
}

@mixin secondary-left-padding() {
    padding-left: 20px;
}

@mixin main-right-padding() {
    padding-right: 20px;
}

@mixin secondary-right-padding() {

}

@mixin text-title() {
    @include fs-header(5);
    color: #ffffff;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    //guss-colour(guardian-brand-dark);
}

@mixin text-tag-line() {
    @include fs-headline(4);
    font-weight: 400;
    color: guss-colour(neutral-1);
}

@mixin text-paragraph() {
    @include fs-bodyCopy(3);
    line-height: 22px;
    color: guss-colour(neutral-1);
}

@mixin text-offering-title() {
    @include fs-headline(7);
    color: guss-colour(news-support-2);
}

/* Bundle's Columns Style */
.bundle-column--left-wide {
    width: gs-span(8.25);
    display: inline-block;
    vertical-align: top;
    @include main-left-padding;
    @include secondary-right-padding;
}

.bundle-column--right-narrow {
    width: gs-span(6.5);
    display: inline-block;
    vertical-align: top;
    @include main-right-padding;
}

.bundle-column--left-narrow {
    width: gs-span(6.5);
    display: inline-block;
    vertical-align: top;
    @include main-left-padding;
    @include secondary-right-padding;
}

.bundle-column--right-wide {
    width: gs-span(8.25);
    display: inline-block;
    vertical-align: top;
    @include main-right-padding;
}

.bundle-column--left-narrow--secondary-padding {
    width: gs-span(6.5);
    display: inline-block;
    vertical-align: top;
    @include secondary-left-padding;
    @include secondary-right-padding;
}
