.bundle-thankyou__explainer-content {
    padding-right: 60px;
    @include mq($until: desktop) {
        padding-left: $gs-gutter;
    }
    @include mq($from: desktop, $until: mem-full) {
        padding-left: $gs-gutter * 2;
    }
    @include mq($from: mem-full) {
        padding-left: 100px;
    }

    > p {
        @include fs-headline(2);
        font-size: 18px;
        line-height: 22px;
        margin-bottom: $gs-baseline * 2;
        padding: 8px $gs-gutter/2 0;
    }

    > ul {
        list-style: none;
    }

    > ul li {
        @include fs-headline(2);
        font-size: 18px;
        line-height: 22px;
        margin-bottom: $gs-baseline * 2;
        padding: 0 $gs-gutter * 2;
    }
}

.bundle-thankyou__email-form {

    margin-top: 24px;

    .fsBody {
        padding: 0;
    }

    .fsForm {
        margin-top: 0 !important;
        padding-top: 0 !important;
        .fsRow,
        .fsSubmit {
            margin-left: -70px;
        }
    }

    .fsSubmit {
        text-align: left;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    label {
        font-size: 18px !important;
        margin-left: $gs-gutter * 3 !important;
        @include text-paragraph();
        color: guss-colour(neutral-1) !important;
    }

    input[type=email] {
        @include mq($until: mobileLandscape) {
            width: 310px !important;
        }
        @include mq($from: mobileLandscape) {
            width: 460px !important;
        }
        height: $gs-baseline * 3;
        margin-left: $gs-gutter * 3;
        border-radius: 18px !important;
    }

    input[type=submit] {
        width: 100px !important;
        height: $gs-baseline * 3;
        margin-left: $gs-gutter * 3;
        border-radius: 18px !important;

        font-family: "Guardian Text Sans Web" !important;
        font-size: 14px !important;
        font-weight: 900 !important;
        background-color: guss-colour(guardian-brand) !important;

    }

    textarea {
        border-radius: 18px !important;
        @include mq($until: mobileLandscape) {
            width: 310px !important;
        }
        @include mq($from: mobileLandscape) {
            width: 460px !important;
        }
        margin-left: $gs-gutter * 3;
    }
}

.bundle-button {
    margin-top: $gs-baseline;
    margin-bottom: $gs-baseline;
    margin-left: $gs-gutter * 5;
}
