/* Give */
.bundle-offering-a__give {
    @include bundle-column-narrow();
    padding-left: $gs-gutter * 5;
}

.bundle-offering-a__give__content {
    margin-top: $gs-baseline * 3;
    max-width: gs-span(4.75);

    >h1 {
        margin-top: 36px;
        padding-top: 2px;
        @include text-offering-title();
        border-top: 1px guss-colour(news-main-2) solid;
    }
}

.bundle-offering-a__give__content__body {
    background-color: guss-colour(comment-support-2);
    margin-top: $gs-baseline * 2;

    >p {
        padding-top: 8px;
        padding-left: $gs-gutter / 2;
        padding-right: $gs-gutter / 2;
        @include fs-headline(3);
        font-weight: 900;
    }

    .bundle-button__content {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.bundle-offering-a__give__content__body__list{
    list-style-type: none;
}

.bundle-offering-a__give__content__body__list__item {
    padding-left: 28px;

    >h1 {
        @include fs-header(1);
        color: guss-colour(neutral-1);
    }

    >p {
        @include fs-textSans(4);
        color: guss-colour(news-support-6);
        padding-bottom: 0;
        line-height: 18px;
    }
}

/* Subscribe */

.bundle-offering-a__subscribe {
    @include bundle-column-wide();
    padding-right: $gs-gutter;

    >h1 {
        margin-top: $gs-baseline * 3;
        padding-top: 2px;
        @include text-offering-title();
        border-top: 1px guss-colour(news-main-2) solid;
    }

    div:first-of-type {
        margin-right: $gs-gutter;
    }
}

.bundle-offering-a__subscribe__offer {
    width: gs-span(4);
    display: inline-block;
    vertical-align: top;

    margin-top: $gs-baseline * 2;

    .bundle-button__content {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.bundle-offering-a__subscribe__offer__content {
    background-color: #d4ebf8;

    >h2 {
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        @include fs-headline(3);
        font-weight: 900;
    }
}

.bundle-offering-a__subscribe__offer__price-description {
    padding-left: $gs-gutter / 2;
    @include fs-textSans(2);
    line-height: 24px;
    font-weight: 900;
    color: guss-colour(news-support-6);

    >span {
        @include fs-headline(3);
        font-weight: 900;
        color: guss-colour(neutral-1);
    }
}

.bundle-offering-a__subscribe__offer__list {
    list-style-type: none;
}

.bundle-offering-a__subscribe__offer__list__item {
    padding-left: 28px;

    >h1 {
        @include fs-header(1);
        color: guss-colour(neutral-1);
    }

    >p {
        @include fs-textSans(4);
        color: guss-colour(news-support-6);
        padding-bottom: 0;
        line-height: 18px;
    }
}
