.bundle-support__main__img {
    @include bundle-column-narrow();
    padding-left: 20px;

    >img {
        position: absolute;
        margin-top: $gs-baseline * 4;
        width: 460px;
        height: 650px;
    }

}

.bundle-support__line {
    border-top: 1px guss-colour(news-main-2) solid;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

    max-width: gs-span(1.5);
    margin: $gs-baseline * 4 auto 0 0;

}

.bundle-support__main__title {
    @include bundle-column-wide();
    padding-right: $gs-gutter;

    >h1 {
        padding-top: 2px;
        @include text-offering-title();
        border-top: 1px guss-colour(news-main-2) solid;
        margin-top: $gs-baseline * 4;
        margin-bottom: $gs-baseline * 2;
    }
}

.bundle-support__main__title--b-variant {
    @include bundle-column-wide();
    padding-right: $gs-gutter;

    >h1 {
        padding-top: 5px;
        @include text-offering-title-b();
        margin-bottom: $gs-baseline * 2;
    }
}

.bundle-support__content {
    background: guss-colour(comment-support-2);
    margin-bottom: 78px;
}

.bundle-support__content__body {
    @include bundle-column-wide();
}

.bundle-support__content__img-space,
.bundle-support__one-off__img-space {
    @include bundle-column-narrow();
}

.bundle-support__content__body__text {
    @include text-paragraph();
    padding-top: 8px;
    max-width: gs-span(6);
    color: guss-colour(neutral-1);

    >p {
        margin-bottom: $gs-baseline;
    }

}
