
/* Header */
/* Green Part of the Header */
.bundle-header--main-header {
    background: lightgreen;
}

/* White Part of the Header */
.bundle-header--secondary-header {

}

.bundle-a__title {
    color: white;
    font-size: 74px;
}

.bundle-a__tagline {

}
