/* ==========================================================================
   Comparison Table
   ========================================================================== */

$_table-tier-height: 150px;

.comparison-table {
    margin-bottom: $gs-baseline * 3;

    @include mq(mobileLandscape) {
        margin-top: -($gs-gutter * 2);
    }
}
.comparison-table__row {
    border-top: 1px solid $c-neutral4;
}
.comparison-table__description {
    @include fs-header(1);
    font-weight: normal;
}
.comparison-table__description__inner {
    padding: ($gs-baseline / 2) ($gs-baseline / 2) 0;
}
.comparison-table__header {
    width: gs-span(1);
    position: relative;

    @include mq(mobileLandscape) {
        text-align: center;
    }
}
.comparison-table__header__name,
.comparison-table__tier__inner,
.comparison-table__trail__inner {
    display: block;
    background-color: $c-neutral7;
    margin-left: 3px;

    @include mq(tablet) {
        width: gs-span(3) + ($gs-gutter / 4);
        margin-left: $gs-gutter;
    }

    @include mq(desktop) {
        width: gs-span(3);
    }
}
.comparison-table__header__name {
    height: $_table-tier-height + $gs-gutter;
    border-top: 5px solid;

    @include mq(tablet) {
        height: 100%;
        padding: ($gs-baseline / 2);
    }
}
.comparison-table__header__name .tier-trail {
    @include mq($until:tablet) {
        transform: rotate(-90deg) translate(50%, -43px);
        display: block;
        width: $_table-tier-height;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.comparison-table__tier {
    text-align: center;
    position: relative
}
.comparison-table__tier__inner {
    padding: ($gs-baseline / 2);
    padding-bottom: $gs-gutter * 2;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .checkmark {
        @include vertically-center();
        position: absolute;
        margin: 0 auto;
        left: 50%;
        margin-left: -12px;
    }

    @include mq(tablet) {
        padding: ($gs-baseline / 2);
        padding-bottom: $gs-gutter;
    }
}
.comparison-table__trail__inner {
    padding: ($gs-baseline / 2);
}
.comparison-table__trail__pricing {
    padding-bottom: $gs-baseline;
    border-bottom: 1px solid $c-neutral4;
}
.comparison-table__trail__action {
    margin: $gs-baseline 0;
}

.comparison-table__footer {
    border-top: 1px solid $c-neutral4;

    @include mq($until: tablet) {
        display: none;
    }
}
.comparison-table__extra {
    margin: $gs-gutter 0;

    @include mq($from: tablet) {
        clear: both;
        float: right;
        width: gs-span(6);
    }
}
