/* ==========================================================================
   Comparison Table
   ========================================================================== */

$_description-col-width: 29%;
$_tiers-col-width: 100% - $_description-col-width;
$_num-tiers: 3;
$_tier-col-width: 100% / $_num-tiers;
$_table-tier-height: 150px;
$_table-gutter: $gs-gutter / 2;

$_border-color: $c-neutral3;
$_background-color: $c-neutral7;

.comparison-table {
    margin-bottom: $gs-baseline * 3;

    @include mq(mobileLandscape) {
        margin-top: -($gs-gutter * 2);
    }
}

// Highlight hovered and active tiers
// Because the table isn't structured in columns, we have no one container
// for the parts of the table which should change color on hover and click.
// Hence this rule is a bit more complicated than it should be.
.comparison-table__checkmark__inner,
.comparison-table__tier__name,
.comparison-table__tier__pricing,
.comparison-table__trail__inner {
    @include mq(desktop) {
        transition: background-color 0.3s ease;
        cursor: pointer;
        opacity: 0.9;

        .is-active & {
            background-color: $c-neutral5;
            opacity: 1;
        }

        .is-hover & {
            background-color: $c-neutral5;
            opacity: 1;
        }
    }
}
.comparison-table__trail__action {
    .is-active & {
        visibility: visible;
    }
}


/**
 * Header
 */
.comparison-table__header {
    @include clearfix();
    padding-left: 60%;

    @include mq(desktop) {
        padding-left: $_description-col-width;
    }
}
.comparison-table__tier {
    width: $_tier-col-width;
    float: left;
    text-align: center;
    position: relative;
    border-left: $_table-gutter solid $white;
}
.comparison-table__tier__name {
    display: block;
    background-color: $_background-color;
    height: $_table-tier-height + $gs-gutter;
    border-top: 5px solid;

    @include mq(desktop) {
        height: auto;
        padding: ($gs-baseline / 2);
    }

    .tier-trail {
        @include mq($until:desktop) {
            transform: rotate(-90deg) translate(50%, -50px);
            display: block;
            width: $_table-tier-height;
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
.comparison-table__tier__pricing {
    background-color: $_background-color;
    padding-left: ($gs-baseline / 2);
    padding-bottom: $gs-baseline;
    border-top: 1px solid $_border-color;

    @include mq($until: desktop) {
        display: none;
    }
}

/**
 * Body
 */
.comparison-table__row {
    @include clearfix();
    border-top: 1px solid $_border-color;
}
.comparison-table__description,
.comparison-table__checkmark {
    float: left;
}

.comparison-table__description {
    @include fs-data(3);
    width: 60%;

    @include mq(desktop) {
        @include fs-header(1);
        font-weight: normal;
        width: $_description-col-width;
    }
}
.comparison-table__description__inner {
    padding: ($gs-baseline / 2) ($gs-baseline / 2) 0;
}
.comparison-table__checkmarks {
    float: right;
    width: 40%;

    @include mq(desktop) {
        width: $_tiers-col-width;
    }
}
.comparison-table__checkmark {
    text-align: center;
    position: relative;
    border-left: $_table-gutter solid $white;
    height: $_table-tier-height - $_table-gutter;
    width: $_tier-col-width;
}
.comparison-table__checkmark__inner {
    background-color: $_background-color;
    padding: ($gs-baseline / 2);
    padding-bottom: $gs-gutter * 2;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .checkmark {
        @include vertically-center();
        position: absolute;
        margin: 0 auto;
        left: 50%;
        margin-left: -12px;
    }

    @include mq(desktop) {
        padding: ($gs-baseline / 2);
        padding-bottom: $gs-gutter;
    }
}


/**
 * Footer
 */
.comparison-table__footer {
    @include clearfix();
    border-top: 1px solid $_border-color;
    padding-left: 60%;

    @include mq(desktop) {
        padding-left: $_description-col-width;
    }
}
.comparison-table__trail {
    float: left;
    width: $_tier-col-width;
}
.comparison-table__trail__inner {
    background-color: $_background-color;
    padding: ($gs-baseline / 2);
    border-left: $_table-gutter solid $white;
}
.comparison-table__trail__action {
    text-align: center;
    margin: $gs-baseline 0;

    @include mq($until: desktop) {
        .action {
            @include circular();
            display: inline-block;
            vertical-align: middle;
            padding: 0; margin: 0;
            width: 30px; height: 30px;

            @include mq(tablet) {
                width: 50px; height: 50px;
            }

            .action__icon {
                @include vertically-center();
                position: relative;
                width: 14px; height: 14px;
                float: none;
            }

            .action__label {
                display: none;
            }
        }
    }
}


/**
 * Extra
 */
.comparison-table__extra {
    margin: $gs-gutter 0;

    @include mq($from: desktop) {
        clear: both;
        float: right;
        width: $_tiers-col-width;
        padding-left: $_table-gutter;
    }
}
