/* ==========================================================================
   Comparison Table
   ========================================================================== */

$_table-tier-height: 150px;
$_table-gutter: $gs-gutter / 2;

.comparison-table {
    margin-bottom: $gs-baseline * 3;

    @include mq(mobileLandscape) {
        margin-top: -($gs-gutter * 2);
    }
}

/**
 * Header
 */
.comparison-table__header {
    @include clearfix();
    padding-left: 60%;

    @include mq(desktop) {
        padding-left: 50%;
    }
}
.comparison-table__tier {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    border-left: $_table-gutter solid $white;
}
.comparison-table__tier__name {
    display: block;
    background-color: $c-neutral7;
    height: $_table-tier-height + $gs-gutter;
    border-top: 5px solid;

    @include mq(desktop) {
        height: auto;
        padding: ($gs-baseline / 2);
    }

    .tier-trail {
        @include mq($until:desktop) {
            transform: rotate(-90deg) translate(50%, -50px);
            display: block;
            width: $_table-tier-height;
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

/**
 * Body
 */
.comparison-table__row {
    @include clearfix();
    border-top: 1px solid $c-neutral4;
}
.comparison-table__description,
.comparison-table__checkmark {
    float: left;
}

.comparison-table__description {
    @include fs-data(3);
    width: 60%;

    @include mq(desktop) {
        @include fs-header(1);
        font-weight: normal;
        width: 50%;
    }
}
.comparison-table__description__inner {
    padding: ($gs-baseline / 2) ($gs-baseline / 2) 0;
}
.comparison-table__checkmark {
    text-align: center;
    position: relative;
    border-left: $_table-gutter solid $white;
    height: 120px;
    width: 20%;

    @include mq(desktop) {
        width: 25%;
    }
}
.comparison-table__checkmark__inner {
    background-color: $c-neutral7;
    padding: ($gs-baseline / 2);
    padding-bottom: $gs-gutter * 2;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    .checkmark {
        @include vertically-center();
        position: absolute;
        margin: 0 auto;
        left: 50%;
        margin-left: -12px;
    }

    @include mq(desktop) {
        padding: ($gs-baseline / 2);
        padding-bottom: $gs-gutter;
    }
}


/**
 * Footer
 */
.comparison-table__footer {
    @include clearfix();
    border-top: 1px solid $c-neutral4;
    padding-left: 50%;

    @include mq($until: desktop) {
        display: none;

    }
}
.comparison-table__trail {
    width: 50%;
    float: left;
}
.comparison-table__trail__inner {
    background-color: $c-neutral7;
    padding: ($gs-baseline / 2);
    border-left: $_table-gutter solid $white;
}
.comparison-table__trail__pricing {
    padding-bottom: $gs-baseline;
    border-bottom: 1px solid $c-neutral4;
}
.comparison-table__trail__action {
    margin: $gs-baseline 0;
}


/**
 * Extra
 */
.comparison-table__extra {
    margin: $gs-gutter 0;

    @include mq($from: desktop) {
        clear: both;
        float: right;
        width: 50%;
        padding-left: $_table-gutter;
    }
}
