/* ==========================================================================
   Controls
   ========================================================================== */
.control {
    color: $black;
    display: table;
    width: 100%;
}
.control__item {
    display: table-cell;
    vertical-align: middle;
    padding-right: rem($gs-gutter / 4);
}
.control__info {
    @include disable-user-select();
    @include fs-bodyHeading(1);
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    max-width: rem($gs-gutter * 10);
}
.control__icon {
    color: $black;
}

/**
 * Control, hover & active state
 */
.control:hover,
.control.is-active {
    color: $white;

    .control__icon {
        border-color: $white;
    }
    .control__info,
    .control__icon {
        color: $white;
    }
}
