//TODO - once the functional pattern has been implemented across all pages this entire file looks like it can go
.content__headline {
    @include fs-headline(4);
    padding-bottom: rem($gs-baseline);
    padding-top: rem($gs-baseline / 2);

    @include mq(mobileLandscape) {
        @include fs-headline(6, true);
    }
    @include mq(tablet) {
        -webkit-font-smoothing: antialiased;
        @include fs-headline(7, true);
        border-top: 0;
    }
    a {
        &,
        &:hover,
        &:active,
        &:focus {
            color: $c-neutral1;
        }
    }
    em {
        font-style: normal;
    }
    strong {
        font-weight: normal;
    }
}

.content__container {
    margin-bottom: rem($gs-gutter);
}

.content__container--slim {
    margin: 0 auto rem($gs-gutter * 1.5);
    max-width: rem(gs-span(8));

    .content__headline {
        border-top: 1px solid $mem-brandBlue;
        margin-bottom: rem($gs-baseline);
        padding-top: rem($gs-baseline / 2 - 1px);
    }
}

.content__container--border {
    border-top: 1px dotted $c-neutral5;
}

.content__container--border-dark {
    border-top: 1px dotted #333333;
}

.content__footer {
    color: #1a4683;
    text-align: center;
    @include fs-bodyCopy(3);
    clear: both;
}
