$gu-cta-height: 42px;

.component-consent-banner-consent-banner {
    z-index: 99;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: none; /* hide by default */

    padding: ($gs-baseline / 2) 0 $gs-baseline * 2;
    background: $c-neutral1;

    a {
        color: $white;
        text-decoration: none !important;
        border-bottom: 0.0625rem solid $white;
        transition: border-color .15s ease-out;
    }
}


.component-consent-banner-consent-banner__copy {
    position: relative;
    margin: 0 $gs-gutter/2;

    @include mq($from: (gs-span(10) +gs-span(1) + $gs-gutter/2)) {
        margin: auto;
        max-width: gs-span(10);
        padding-left: gs-span(1) + $gs-gutter;
    }

    @include mq($from: desktop) {
        .component-consent-banner-consent-banner__roundel {
            display: block;
        }
        max-width: gs-span(11);
        padding-left: gs-span(1) + $gs-gutter;
    }

    @include mq($from: mem-full) {
        max-width: gs-span(13);
        padding-left: gs-span(1) + $gs-gutter;
    }

    @include mq($from: wide) {
        max-width: gs-span(14);
        padding-left: gs-span(2) + $gs-gutter;
    }
}

.component-consent-banner-consent-banner__roundel {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.component-consent-banner-consent-banner__text {
    max-width: gs-span(8);
}

.component-consent-banner-consent-banner__copy, .component-consent-banner-consent-banner__text {
    color: $white;
}

.component-consent-banner-consent-banner__actions {
    margin-top: $gs-baseline * 2;
    @include fs-textSans(4);
    font-weight: bold;
}

.component-consent-banner-consent-banner__actions a {
    color: currentColor;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,.5);
}

.component-consent-banner-consent-banner__actions button {
    margin-right: $gs-gutter/2;
}

.component-button {
    @include fs-textSans(4);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    height: $gu-cta-height;
    min-height: $gu-cta-height;
    padding: 0 ($gu-cta-height / 2);
    border: none;
    border-radius: $gu-cta-height / 2;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    &:hover, &:focus {
        outline: 0;
    }

    &[disabled], &[data-disabled] {
        background-color: $white;
        opacity: .5;
        pointer-events: none;
    }
}

.component-button--primary {
    background-color: #FFE500;
    color: #121212;
    &:hover, &:focus {
        background-color: #FFBB50;
    }
}

.component-button--hasicon-left {
    flex-direction: row-reverse;

    svg {
        margin: 0 ($gu-cta-height / 4) 0 (-$gu-cta-height / 8);
    }
}
