.elevated-quote-section {
    /* !important is being used here because we cannot override the default css classes without it.
	These css classes were imported after this file so this propersty (without the !important) is
	being override. */
    margin-top: 12px !important;
    margin-bottom: 36px !important;
}

.elevated-quote-body {
    background: guss-colour(neutral-8);
    padding-bottom: 18px;

    @include mq($from: tablet) {
        padding-bottom: 36px;
    }
}

.elevated-quote-body__title {
    @include fs-header(5);
    color: guss-colour(news-main-1);
    font-weight: 500;
    line-height: 26px;
    padding-top: 6px;

    @include mq($from: tablet) {
        @include fs-headline(6);
        font-weight: 500;
        line-height: 34px;
    }

    @include mq($from: desktop) {
        width:100%;
    }
}

.elevated-quote-body__col {
    @include mq(tablet) {
        width: 60%;
    }
}

/* ==========================================================================
   Promos: Quote
   ========================================================================== */

.elevated-quote {
    @include fs-bodyCopy(2);
    line-height: 20px;

    margin: $gs-baseline 0 0;

    @include mq(tablet){
        @include f-bodyCopy;
        font-size: 20px;
        line-height: 24px;
    }

    &:before {
        content: '';
        display: block;
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="32" height="19.394" viewBox="1.003 0 32 19.394"><path fill="#4bc6df" d="M9.73 19.393c3.734.066 6.722-3.01 6.788-6.78.066-3.775-3.054-6.728-6.787-6.794-1.954-.037-3.48.67-4.74 1.99-.067-.467-.117-1.01-.108-1.507C4.944 2.88 8.192.91 11.672.97l-.97-.97c-5.84 0-9.605 4.312-9.697 9.702-.095 5.388 3.248 9.592 8.726 9.69zm16.485 0c3.732.066 6.72-3.01 6.787-6.78.066-3.775-3.055-6.728-6.787-6.794-1.955-.036-3.48.672-4.74 1.99-.067-.465-.118-1.008-.11-1.506C21.43 2.88 24.678.91 28.156.97L27.188 0c-5.84 0-9.604 4.312-9.697 9.702-.094 5.388 3.248 9.592 8.728 9.69h-.003z"/></svg>');
        background-repeat: no-repeat;
        width: 68px; height: 40px;
        margin-right: $gs-baseline / 2;
    }
}
.elevated-quote__citation {
    @include fs-data(4);
    font-weight: 900;
    font-style: normal;
    color: color(brand-main);
    display: block;
    @include mq(tablet) {
        @include fs-bodyCopy(2);
        line-height: 20px;
    }
}

.elevated-quote__cutout {
    height: gs-height(4);
    @include mq(tablet) {
        height:  gs-height(6);
    }
    @include mq(mem-full) {
        height: gs-height(6);
    }
}


