/* ==========================================================================
   Elevated become supporter body
   ========================================================================== */
.elevated-closer-guardian-body {     
    
    background: guss-colour(neutral-8);
    padding-bottom: 18px;
    
    @include mq(tablet){
        padding-bottom: 36px;
    }
}

.elevated-closer-guardian-body__title {
    padding-top: 6px;
    padding-bottom: 18px;

    @include mq($from: tablet) {   
        padding-top: 10px;
        padding-bottom: 36px;
    }    
}

.elevated-closer-guardian-body__title__h1 {
    @include fs-header(5);
    font-weight: 500;
    line-height: 26px;
    color : guss-colour(news-main-1);

    @include mq($from: tablet) {   
        @include fs-headline(6);
        line-height: 34px;
        font-weight: 500;
    }    
}

.elevated-closer-guardian-body__col {
	/* Mobile First */
    width: 100%;

    @include mq($from: desktop) {   
        width: 50%;
        margin-top: 24px;
        display: inline-block;
        vertical-align: middle;
    }    
}

.elevated-closer-guardian-body__video {
	vertical-align: top;
    @include mq($from: desktop, $until: mem-full){
        float: left;
    }
}

/*.elevated-closer-guardian-body__caption {
    @include fs-textSans(1);
    color : guss-colour(neutral-2);
    margin-top: -20px;

    @include mq($from: tablet, $until: desktop) {
        width: 460px;
        margin-right: auto;
        margin-left: auto;
    }
}*/

.elevated-closer-guardian-body__text {
    @include mq(mem-full){
        float: right;
    }
}

.elevated-closer-guardian-body__list {
    
}

.elevated-closer-guardian-body__ul {
    list-style-type: none;
}

.elevated-closer-guardian-body__list_dot {
    background-color: #4CC6DE;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    vertical-align: middle;
    width: 7px;
    
    @include mq(tablet){
        height: 14px;
        width: 14px;
    }
}

.elevated-closer-guardian-body__list_p {
    @include mq(tablet) {   
        margin-bottom: 0;
    }    
}

.elevated-closer-guardian-body__list_item {
    @include fs-header(1);
    color : guss-colour(neutral-1);

    @include mq(tablet){
        @include fs-header(3);
    }
}

.elevated-closer-guardian-body__list_line {
    border: none;
    border-top:1px dotted #333;
    color: #333;
    height: 1px;
    width: 80px;
}

