/* ==========================================================================
   Elevated become supporter section
   ========================================================================== */

.elevated-become-supporter-section {     
    background: guss-colour(neutral-6);

    margin-top: 12px !important;

    @supports (clip-path : polygon(0% 97%, 0% 0%, 100% 0%, 100% 100%)) {
        clip-path : polygon(0% 97%, 0% 0%, 100% 0%, 100% 100%);
    }

    @include mq(desktop) {
    	@supports (clip-path : polygon(0% 96%, 0% 0%, 100% 0%, 100% 100%)) {
        	clip-path : polygon(0% 96%, 0% 0%, 100% 0%, 100% 100%);
    	}
    }

    @include mq(wide) {
        max-width : 1300px;
    }
}
