/* ==========================================================================
   Elevated why support
   ========================================================================== */
.elevated-why-support-body {     
    background: guss-colour(neutral-6);
}

.elevated-why-support-body__col {
	/* Mobile First */
    margin-top: 24px;
    width: 100%;

    @include mq($from: desktop) {   
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }    
}

.elevated-why-support-body__col--img {
    
    @include mq($from: desktop) {   
        float: right;
    }    
}

.elevated-why-support-body__title {
    padding-top: 6px;

    @include mq(desktop){
        width:100%;
    }
}

.elevated-why-support-body__title__h1 {
    @include fs-header(5);
    line-height: 26px;
    font-weight: 500;
    color:guss-colour(news-main-1);

    @include mq($from: tablet) {   
        @include fs-headline(6);
        line-height: 34px;
        font-weight: 500;
    }    
}

.elevated-why-support-body__p {
    padding-right: 5%;
    margin-bottom: 0px;
    padding-bottom: 16px;
}

.elevated-why-support-body__col__img {
	width: 100%;
}

.elevated-why-support-body__caption {
    @include fs-textSans(1);
    color : guss-colour(neutral-2);
    margin-top: -5px;
}



