/* ==========================================================================
   Elevated become supporter body
   ========================================================================== */
.elevated-become-supporter-body { 
    padding-top: 12px;
    background: guss-colour(neutral-6);
}

.elevated-become-supporter-body__col {
	/* Mobile First */
    background: guss-colour(neutral-6);
    width: 100%;

    @include mq(tablet){
        margin-top: 18px;   
    }

    @include mq($from: desktop) {
        width: 50%;
        margin-top: 24px;
        display: inline-block;
        vertical-align: middle;
    }    
}

.elevated-become-supporter-body__video {
    @include mq($from: desktop) {   
        padding-left: 10px;
    }
}

.elevated-become-supporter-body__caption {
    @include fs-textSans(1);
    color : guss-colour(neutral-2);
    margin-top : -20px;
    margin-bottom : 0px;
    padding-bottom : 16px;

    @include mq(tablet, desktop) {
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
}

