.elevated-footer-button {
    background: #4bc6df;

    @supports (clip-path : polygon(0% 82.2%, 0% 0%, 100% 0%, 100% 100%)) {
        clip-path : polygon(0% 82.2%, 0% 0%, 100% 0%, 100% 100%);
    }
    
    @include mq(tablet) {   /*740px*/
      @supports (clip-path : polygon(0% 67.3%, 0% 0%, 100% 0%, 100% 100%)) {
        clip-path : polygon(0% 67.3%, 0% 0%, 100% 0%, 100% 100%);
      }
    }

    @include mq(desktop) { /*980px*/
    }

    @include mq(mem-full) { /*1140px*/
    }

    @include mq(wide) { /*1300px*/
    }
    
    
}

.elevated-footer--right-diagonal {

    @supports (clip-path : polygon(0% 100%, 0% 0%, 100% 0%, 100% 82.2%)) {
        clip-path : polygon(0% 100%, 0% 0%, 100% 0%, 100% 82.2%);
    }
    
    
    @include mq(tablet) {   /*740px*/
      @supports (clip-path : polygon(0% 100%, 0% 0%, 100% 0%, 100% 67.3%)) {
        clip-path : polygon(0% 100%, 0% 0%, 100% 0%, 100% 67.3%);
      }
    }

    @include mq(desktop) { /*980px*/
        padding-left: 480px;
    }

    @include mq(mem-full) { /*1140px*/
        padding-left: 560px;
    }

    @include mq(wide) { /*1300px*/
    }
}

.elevated-footer-button__button {
	padding-top: 12px;
	padding-bottom: 28px;

  @include mq(tablet) {  
    padding-bottom: 48px;
  }
}
