/* ==========================================================================
   Elevated become supporter body
   ========================================================================== */
.elevated-become-supporter-body {     
    background: guss-colour(neutral-6);
    
    @include mq(desktop) {
        padding-left:  100px;
        padding-right: 100px;
    }
}

.elevated-become-supporter-body__col {
	/* Mobile First */
    
    width: 100%;

    @include mq($from: desktop) {   
        width: 48%;
        margin-top: 24px;
        display: block;
    }    
}

.elevated-become-supporter-body__video {
	vertical-align: top;
}

.elevated-become-supporter-body__p {
	@include fs-header(1);
    font-weight: normal;
	color : guss-colour(neutral-1);

    @include mq($from: desktop) {   
        @include fs-header(3);
        font-weight: normal;
        color : guss-colour(neutral-1);
    }    
}

