/* ==========================================================================
   Elevated Banner
   ========================================================================== */
.elevated-banner {
    @supports (clip-path : polygon(0% 98%, 0% 0%, 100% 0%, 100% 87%)) {
        clip-path : polygon(0% 98%, 0% 0%, 100% 0%, 100% 95%);
    }   
    
    @include mq(tablet) {   /*740px*/
    }

    @include mq(desktop) { /*980px*/
        @supports (clip-path : polygon(0% 98%, 0% 0%, 100% 0%, 100% 87%)) {
            clip-path : polygon(0% 96%, 0% 0%, 100% 0%, 100% 87%);
        }
    }

    @include mq(mem-full) { /*1140px*/
    }

    @include mq(wide) { /*1300px*/
    }
}

.elevated-banner__col {
    /* In mobile the width of the columns is 100% */
    width: 100%;
    background: #4bc6df;
    
    @include mq($from: desktop) {   
        width: 50%;
        display: inline-block;
        float:left;
    } 
}

.elevated-banner__content {
    margin-top: 3px;
    padding-left: 5px;
    @include mq(desktop) {
        margin-top: 6px;
        padding-left: 100px;
    }
}

.elevated-banner__title {
    
    @include fs-header(5);
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;

    @include mq(desktop){
        font-size: 48px;
        line-height: 47px;
    }

}
 
.elevated-banner__tagline {
    @include fs-header(5);
    line-height: 26px;
    font-weight: 500;
    color : guss-colour(guardian-brand-dark);
    margin-top: 5px;

    @include mq(desktop){
        line-height: 34px;
    }
}

.elevated-banner__button {
    margin-top: 30px;
    padding-bottom: 34px;

    @include mq(desktop) {
        margin-top: 35px;
    }
}


.elevated-banner__col--img {
    /*In mobile we do not show the hero image*/
    display: none;   

    @include mq($from: desktop) {   
        display: inline-block;           
        overflow: hidden;
    }
}

.elevated-banner__col__img {
    @include mq($from: desktop) {   
        height: 316px;
    }
}
