/* ==========================================================================
   Elevated closer to the guardian body
   ========================================================================== */
.elevated-closer-guardian-body {
    background: guss-colour(neutral-8);
    padding-bottom: 18px;

    @include mq($from: tablet) {
        padding-bottom: 36px;
    }
}

.elevated-closer-guardian-body__title {
    padding-top: 6px;
    padding-bottom: 18px;

    @include fs-header(5);
    font-weight: 500;
    line-height: 26px;
    color : guss-colour(news-main-1);

    @include mq($from: tablet) {
        padding-top: 10px;
        padding-bottom: 36px;

        @include fs-headline(6);
        line-height: 34px;
        font-weight: 500;
    }
}

.au-closer-guardian-body,
.us-closer-guardian-body {
    @include mq($from: mem-full) {
        padding-bottom: 70px;
    }
}

.elevated-closer-guardian-body__list {
    p {
        @include mq($from: tablet) {
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: none;
    }
}

.elevated-closer-guardian-body__col {
    width: 100%;

    @include mq($from: desktop) {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
}

.elevated-closer-guardian-body__video {
	vertical-align: top;

    @include mq($from: desktop) {
        float: left;
    }
}

.elevated-closer-guardian-body__text {
    margin-top: -8px;

    @include mq($from: tablet) {
        margin-top: -6px;
    }

    @include mq($from: desktop) {
        margin-top: 0;
    }
}

.elevated-closer-guardian-body__list_item {
    @include fs-header(1);
    color: guss-colour(neutral-1);
    margin-bottom: 18px;

    @include mq($from: tablet) {
        @include fs-header(3);
    }
}

.elevated-closer-guardian-body__list_item::before{
    content: "";
    background-color: #4cc6de;
    border-radius: 50%;
    display: inline-block;
    height: 11px;
    vertical-align: baseline;
    width: 11px;
    
    @include mq($from: tablet) {
        height: 14px;
        width: 14px;
    }
}

.elevated-closer-guardian-body__list_item::after {
    content: "";
    display: block;
    width: 80px;
    margin-top: 8px;
    position: absolute;
    border-top: 1px dotted #333333;
}

.elevated-closer-guardian-body__list > p:last-child {
    margin-bottom: 0;
}

.elevated-closer-guardian-body__list_line {
    border: none;
    border-top: 1px dotted #333333;
    color: #333333;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 80px;

    @include mq($from: tablet) {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}
