/* ==========================================================================
   Elevated Banner
   ========================================================================== */
.elevated-supporter {
    background-color: rgba(255,255,255, 0.9);
}



// TODO: Replace l- with u- prefix
.elevated-supporter {
    &:before,
    &:after {
        background: white;
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        height: 100%;
        width: 0;
        @include side-margins-calc('width');
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.elevated-banner {

    background: #4bc6df;
    margin-top: 12px !important;
    height: 316px;
    
    @include mq(tablet) {   /*740px*/
    }

    @include mq(desktop) { /*980px*/
    }

    @include mq(mem-full) { /*1140px*/
    }

    @include mq(wide) { /*1300px*/
    }
    
    @supports (clip-path : polygon(0% 98%, 0% 0%, 100% 0%, 100% 87%)) {
        clip-path : polygon(0% 98%, 0% 0%, 100% 0%, 100% 87%);
    }
}

.elevated-banner__col {
    /* Mobile First */
    width: 100%;

    
    @include mq($from: desktop) {   
        width: 50%;
        display: block;
        float : left;
    } 
}

.elevated-banner__col--img {
    display: none;   

    @include mq($from: desktop) {   
        display: inline-block;
    }
}

.elevated-banner__col__img {
    height: 316px;
}

.elevated-banner__content {
    margin-top: 6px;
    padding-left: 15px;
    @include mq(desktop) {
        margin-top: 6px;
        padding-left: 100px;
    }
}

.elevated-banner__button {
    @include mq(desktop) {
        margin-top: 35px;    
    }
}

.elevated-banner__title {
    
    @include fs-header(5);

    font-size: 48px;
    line-height: 47px;
    color: #ffffff;
}
 
.elevated-banner__tagline {
    @include fs-header(5);
    line-height: 34px;
    font-weight: 500;
    color : guss-colour(guardian-brand-dark);
}