/* ==========================================================================
   Elevated why support us
   ========================================================================== */
.elevated-why-support-body {     
    background: guss-colour(neutral-8);

    @include mq($from: tablet) {
        padding-bottom: 36px;
    }
}

.elevated-why-support-body__col {
    margin-top: 24px;
    width: 100%;

    @include mq($from: desktop) {   
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }    
}

.elevated-why-support-body__title {
    @include fs-header(5);
    color: guss-colour(news-main-1);
    font-weight: 500;
    line-height: 26px;
    padding-top: 6px;
    
    @include mq($from: tablet) {   
        @include fs-headline(6);
        font-weight: 500;
        line-height: 34px;
    }

    @include mq($from: desktop) {
        width:100%;
    }
}

.elevated-why-support-body__paragraph {
    padding-right: 5%;
    padding-bottom: 16px;
    margin-bottom: 0px;
}

.elevated-why-support-body__col--img {
    @include mq($from: desktop) {   
        float: right;
    }    
}

.elevated-why-support-body__col__img {
	width: 100%;
}

.elevated-why-support-body__paragraph--last {
    margin-bottom: 0;
}

.elevated-why-support-body__caption {
    @include fs-textSans(1);
    color : guss-colour(neutral-2);
}
