/* ==========================================================================
   Elevated Supporter
   ========================================================================== */

.elevated-supporter {
    background-color: rgba(255,255,255, 0.9);
    margin-left : 10px;
    margin-right: 10px;

    @include mq(mobileLandscape){  /*from: 480px*/
        margin-left : 20px;
        margin-right: 20px;
    }
    
    @include mq(phablet){  /*from: 660px*/
        margin-left : 20px;
        margin-right: 20px;
    }

    @include mq(tablet){
        /*from: 740px
        The margin are variable*/
        margin-left : auto; 
        margin-right: auto;
    }
}

// TODO: Replace l- with u- prefix
.elevated-supporter {
    &:before,
    &:after {
        background: white;
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 0;
        @include side-margins-calc('width');
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}


.u-content-width--left {
    /*Paddings*/
    padding-left: 5px;
    padding-right: 5px;


    @include mq(phablet){
        padding-left: 80px;
        padding-right: 80px;
    }

    @include mq(tablet){
        padding-left: 100px;
        padding-right: 100px;
    }

    @include mq(desktop){
        padding-left: 20px;
        padding-right: 10px;
    }
}

.u-content-width--right {
    /*Paddings*/
    padding-left: 5px;
    padding-right: 5px;


    @include mq(phablet){
        padding-left: 80px;
        padding-right: 80px;
    }

    @include mq(tablet){
        padding-left: 100px;
        padding-right: 100px;
    }

    @include mq(desktop){
        padding-left: 10px;
        padding-right: 20px;
    }
}

.u-responsive-p {
    @include fs-header(1);
    font-weight: normal;
    color : guss-colour(neutral-1);

    @include mq(tablet) {   
        @include fs-header(3);
        font-weight: normal;
        color : guss-colour(neutral-1);
    }
}