/* ==========================================================================
   Event Filters
   ========================================================================== */

.event-filters {
    background-color: $white;
}

.event-filters__container {
    @include clearfix;
    padding: ($gs-gutter / 2);

    @include mq(mem-full) {
        padding-left: gs-span(2.5);
    }
}

.event-filters__items {
    @include mq(desktop) {
        float: left;
    }
}
.event-filters__item,
.event-filters__count {
    @include fs-textSans(2);
    display: inline-block;
    padding: ($gs-gutter / 4) 0;
    @include mq(mobileLandscape) {
        padding: ($gs-gutter / 2) 0;
    }
}
.event-filters__item {
    padding-right: ($gs-gutter);
    @include mq(desktop) {
        margin-right: ($gs-gutter);
        border-right: 1px solid $c-neutral4;
    }
}
.event-filters__count {
    color: $c-neutral2;
    white-space: nowrap;
    float: right;
}
.event-filters__search {
    position: relative;
    overflow: hidden;
    clear: right;

    @include mq(desktop) {
        width: auto;
        display: block;
        float: right;
        clear: none;
    }
}

/* Filter Search
   ========================================================================== */

$filter-icon-size: 18px;

.filter-search {
    display: block;
}
.filter-search__input {
    @include circular();
    @include fs-textSans(2);
    padding: ($gs-gutter / 2) ($gs-gutter + $filter-icon-size);
    border: 1px solid $c-neutral3;
    width: 100%;
    outline: 0;

    @include mq(desktop) {
        width: auto;
    }
}
.filter-search__icon,
.filter-search__cross {
    position: absolute;
    top: 50%;
    line-height: 1;
    margin-top: rem(-$filter-icon-size / 2);
    border: 0;
    color: $c-neutral3;
    background-color: transparent;
}
.filter-search__icon {
    left: $gs-gutter / 2;
}
.filter-search__cross {
    transform: translateY(-55%);
    margin: 0; padding: 0;
    right: rem($gs-gutter / 2);
}

/* Filter Bar
   ========================================================================== */

.filter-bar {
    text-align: right;
    margin-top: -(rem($gs-gutter));
    margin-bottom: rem($gs-baseline);
}
