/* ==========================================================================
   Event Filters
   ========================================================================== */

.event-filters {
    background-color: $c-neutral7;
    margin-bottom: $gs-gutter / 2;
}
.event-filters__container {
    @include clearfix();
    padding: $gs-gutter / 2;

    @include mq(mem-full) {
        padding-left: gs-span(2.5);
        padding-right: $gs-gutter;
    }
}
.event-filters__items {
    float: left;
}
.event-filters__switch {
    float: right;

    @include mq(tablet) {
        padding-top: $gs-gutter / 4;
    }
}
.event-filters__item,
.event-filters__count {
    @include fs-textSans(2);
    display: inline-block;
    padding: ($gs-gutter / 4) 0;

    @include mq(tablet) {
        padding: ($gs-gutter / 2) 0;
    }
}
.event-filters__item {
    padding-right: $gs-gutter / 2;

    @include mq(tablet) {
        border-right: 1px solid $c-neutral4;
        margin-right: $gs-gutter / 2;
    }
}
.event-filters__count {
    color: $c-neutral2;
    white-space: nowrap;
    display: none;

    @include mq(tablet) {
        display: inline-block;
    }
}
.event-filters__search {
    position: relative;
    overflow: hidden;
    clear: both;

    @include mq(tablet) {
        width: auto;
        display: block;
        float: right;
        clear: none;
    }
}

/* ==========================================================================
   Event Filters: Live search
   ========================================================================== */

$filter-icon-size: 18px;

.filter-search {
    display: block;
}
.filter-search__input {
    @include circular();
    @include fs-textSans(2);
    padding: ($gs-gutter / 2) ($gs-gutter + $filter-icon-size);
    border: 1px solid $c-neutral3;
    width: 100%;
    outline: 0;

    @include mq(desktop) {
        width: auto;
    }
}
.filter-search__icon,
.filter-search__cross {
    position: absolute;
    top: 50%;
    line-height: 1;
    margin-top: -($filter-icon-size / 2);
    border: 0;
    color: $c-neutral3;
    background-color: transparent;
}
.filter-search__icon {
    left: $gs-gutter / 2;
}
.filter-search__cross {
    transform: translateY(-55%);
    margin: 0; padding: 0;
    right: $gs-gutter / 2;
}
