/* ==========================================================================
   Event Listings
   ========================================================================== */

/* ==========================================================================
   Event Listings - Header Bar
   ========================================================================== */

.header-bar {
    position: relative;
    padding-left: rem($gs-gutter / 2);
    padding-right: rem($gs-gutter / 2);

    @include mq(tablet) {
        min-height: rem(132px);
        padding-left: rem($gs-gutter);
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter * 2); // 180
    }
}
    .header-bar__title {
        @include fs-headline(4);
        padding: rem($gs-gutter / 2) 0 rem($gs-baseline);
        max-width: rem(gs-span(8));

        @include mq(tablet) {
            @include fs-headline(6);
        }

        @include mq(mem-full) {
            @include fs-headline(7);
        }
    }
    .header-bar__logo {
        position: absolute;
        right: rem($gs-gutter / 2);
        bottom: rem($gs-gutter / 2);

        height: rem(44px);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;

        @include mq(tablet) {
            right: rem($gs-gutter);
            bottom: rem($gs-baseline);
            height: rem(87px);
        }
    }

/* ==========================================================================
   Event Listings - Event blocks (sections)
   ========================================================================== */

.event-block {
    clear: both;
    position: relative;
    background-color: $white;
    padding: rem($gs-gutter / 2) 0;
    overflow: hidden;
    border-bottom: rem(1px) solid $mem-live-accent;

    @include mq(tablet) {
        padding: rem($gs-gutter) 0;
    }
    @include mq(desktop) {
        padding: rem($gs-gutter) rem($gs-gutter) 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.event-block__header,
.event-block__footer {
    padding: 0 rem($gs-gutter/2) rem($gs-baseline);

    @include mq(desktop) {
        padding-left: 0;
    }
}

.event-block__header {
    @include mq(mem-full) {
        float: left;
        width: rem(gs-span(2));
        margin-right: $gs-gutter;
        padding: 0;
    }
}
.event-block__header__title {
    @include fs-header(4);
}

.event-block__events {
    overflow: hidden;

    @include mq(mem-full) {
        width: rem(gs-span(12));
    }
}

.event-block__empty,
.event-block__no-results {
    margin-bottom: rem($gs-gutter * 2);
}
.event-block__no-results {
    display: none;
    &.is-shown {
        display: block;
    }
}

.event-block__footer {
    @include mq(mem-full) {
        margin-left: rem(gs-span(2) + $gs-gutter);
    }
}
