/* ==========================================================================
   Event Items
   ========================================================================== */

.event-item {
    @include clearfix;
    background-color: $c-neutral7;
    transition: background-color $transition-duration-medium ease;

    &:hover,
    *:hover {
        text-decoration: none;
    }
    &:hover {
        background-color: $c-neutral5;
        .event-item__title {
            text-decoration: underline;
        }
        .event-item__media a {
            background-color: $black;
        }
        .event-item__media img {
            opacity: .8;
        }
    }
}
.event-item__container {
    position: relative;
    @include mq(mobileLandscape) {
        height: rem(450px);
    }
}
.event-item__media {
    a, img {
        // Remove descenders
        vertical-align: text-bottom;
        display: block;
        transition: opacity $transition-duration-medium ease, background-color $transition-duration-medium ease;
    }
    img {
        // Prevent flicker on hover in WebKit
        -webkit-backface-visibility: hidden;
    }
}
.event-item__meta {
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-baseline) rem($gs-gutter / 2);
        height: auto;
    }
    @include mq(desktop) {
        padding: rem($gs-gutter);
    }
}
.event-item__title {
    color: $black;
    margin-bottom: rem($gs-baseline);
    position: relative;

    @include fs-headline(3);
    font-weight: 500;
}
.event-item__time {
    @include fs-data(4);
    color: $black;
}
.event-item__description {
    @include fs-bodyCopy(1);
    padding: rem($gs-baseline) 0 0;
    color: $black;

    @include mq(desktop) {
        @include fs-headline(2);
        padding: rem($gs-baseline * 2) 0 0;
    }
}
.event-item__cta {
    width: 100%;
    padding: $gs-baseline 0 0;

    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 rem($gs-gutter / 2) rem($gs-gutter / 2);
    }

    @include mq(desktop) {
        padding: 0 rem($gs-gutter) rem($gs-gutter);
    }
}
.event-item__price-amount {
    display: block;
    @include fs-header(4);
    color: $black;
}
.event-item__price-amount-discount {
    display: block;
    @include fs-data(3);
    color: $c-neutral2;
}
// the buy button
// TODO: Refactor out into an action
.event-item__action {
    position: absolute;
    bottom: rem($gs-gutter / 2);
    right: rem($gs-gutter / 2);
    width: rem(36px);
    height: rem(36px);
    padding: 0 rem(8px) 0 0;
    background-color: $mem-live-top;
    @include border-radius(50px);
    border: 0;

    @include mq(desktop) {
        bottom: rem($gs-gutter);
        right: rem($gs-gutter);
    }

    &:focus {
        outline: 0;
    }

    &:after {
        @extend .icon-arrow-right-white;
        content: '';
        fill: $black;
        float: right;
    }

    .theme--masterclasses & {
        background-color: $mem-mc-top;
        &:after {
            @extend .icon-arrow-right-black;
        }
    }
}

/* Event Location Summary
   ========================================================================== */

.event-location {
    // Remove space between inline block elements
    font-size: 0;
    line-height: 1;
    color: $c-neutral2;
}
.event-location--reversed {
    color: $white;
}
.event-location__detail {
    @include fs-data(4);
}

/* Event Status
   ========================================================================== */

.event-status {
    display: inline-block;

    &:after {
        content: '/';
        color: fade-out($c-neutral1, .8);
        display: inline-block;
        font-weight: normal;
        margin-left: .2em;
    }
    &:hover:after {
        text-decoration: none;
    }
}
.event-status--sold-out {
    color: $mem-sold-out;
}

/* ==========================================================================
   Event item (Hero modifier)
   ========================================================================== */

.event-item--hero {
    width: 100%;
    height: auto;
    margin-bottom: rem($gs-baseline);

    .event-item__container {
        @include clearfix;
        height: auto;
    }

    .event-item__cta {
        position: static;
        padding: rem($gs-gutter) 0 0;
    }

    @include mq(tablet) {
        display: table;

        .event-item__media,
        .event-item__meta {
            width: auto;
            display: table-cell;
            vertical-align: top;
        }
        .event-item__media {
            padding-right: $gutter-width-fluid / 2;
        }
        .event-item__meta {
            position: relative;
            width: 33.3%;
        }
        .event-item__cta {
            position: absolute;
            padding: rem($gs-gutter);
        }
        .event-item__description {
            display: none;
        }
    }

    @include mq(desktop) {
        .event-item__title {
            @include fs-headline(4);
            font-weight: 500;
        }
        .event-item__time {
            @include fs-headline(2);
        }
        .event-item__description {
            display: block;
        }
    }

}

/* ==========================================================================
   Event Item (Minimal modifier)
   ========================================================================== */

// use a shorter box for minimal theme
.event-item--minimal {
    .event-item__title {
        @include fs-headline(2);
        font-weight: 500;
    }

    @include mq(mobileLandscape) {
        .event-item__container {
            height: rem(280px);
        }
    }
}

/* ==========================================================================
   Event Item (Card modifier)
   ========================================================================== */

.event-item--card {
    .event-item__title {
        @include fs-headline(2);
        font-weight: 500;
    }

    @include mq(tablet) {
        .event-item__container {
            height: auto;
            overflow: hidden;
        }
        .event-item__media {
            width: $trailblockImgWidthLarge;
            float: left;
            margin-right: rem($gs-baseline);
        }
        .event-item__meta {
            padding-bottom: 0;
        }
    }
}

/* ==========================================================================
   Event Snapshot
   ========================================================================== */
// Event summary w/location and timing details (e.g. /choose-tier)

.event-snapshot {
    width: 100%;
    display: table;
    margin-bottom: rem($gs-baseline);

    @include mq(tablet) {
        display: block;
    }
}
.event-snapshot__media,
.event-snapshot__title {
    margin-bottom: rem($gs-baseline / 2);
}
.event-snapshot__title {
    @include fs-textSans(3);
    font-weight: bold;

    @include mq(mobileLandscape) {
        @include fs-header(1);
    }
}
.event-snapshot__media,
.event-snapshot__content {
    display: table-cell;
    vertical-align: top;

    @include mq(tablet) {
        display: block;
    }
}
.event-snapshot__content {
    border-top: 1px solid $c-border-neutral;
    padding-top: rem($gs-baseline / 2);

    @include mq(tablet) {
        border: 0 none;
        padding-top: 0;
    }
}
.event-snapshot__media {
    width: 30%;
    padding-right: $gutter-width-fluid;

    @include mq(tablet) {
        width: auto;
        padding-right: 0;
    }
}

/* ==========================================================================
   Event Summary
   ========================================================================== */
// TODO: Can this be removed? event/itemSummary fragment not used,
// only used on thank-you page. Replace with event-snapshot?

.event-summary {
    @include clearfix;
    margin: rem($gs-baseline * 2) 0;

    .event-item__media {
        @include mq(tablet) {
            float: left;
            width: rem(gs-span(3));
        }
    }

    .event-item__title {
        @include f-header;
        @include font-size(rem(18px), rem(22px));
        margin-bottom: rem($gs-baseline * 2);
    }

    .event-status--sold-out {
        display: inline-block;
        color: $white;
        background-color: $mem-live-accent;
        @include fs-data(2);
        position: relative;
        top: rem(-3px);
        padding: rem(1px) rem(3px);
        margin-right: rem(4px);
    }

    .event-item__meta {
        @include f-data;
        @include font-size(rem(14px), rem(22px));

        @include mq(tablet) {
            border-top: rem(1px) dotted $c-neutral3;
            margin-left: rem(gs-span(3) + $gs-gutter);
            padding-top: rem($gs-baseline / 2);
        }
    }

    .event-item__detail {
        border-top: rem(1px) dotted $c-neutral3;
        padding: rem($gs-baseline / 2) 0 rem($gs-baseline / 2) rem($gs-gutter * 2);

        &:last-child,
        p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .event-item__location {
        line-height: rem(18px);
    }

    .event-item__location-detail {
        display: block;
    }

    .event-item__icon {
        background-size: rem(25px);
        float: left;
        margin-left: rem(-$gs-gutter * 2);
        height: rem(25px);
        width: rem(25px);
    }

    .icon-eventbrite {
        margin-top: rem(3px);
    }

    .icon-early_booking-grey {
        margin-top: rem(-2px);
    }
}
