/* ==========================================================================
   Event Detail
   ========================================================================== */

.event-header {
    @include clearfix;
}
.event-header--unavailable {
    color: $white;
    background-color: $c-neutral1;
}

.event-header__container {
    background-color: transparent;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2) rem($gs-baseline);
    margin: 0 auto;

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-baseline * 3);
    }

    @include mq(desktop) {
        width: rem(map-get($max-widths, max-tablet) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(map-get($max-widths, max-desktop) + $gs-gutter * 2);
    }
}

.event-header__container--details {
    padding: rem($gs-gutter / 2);
    position: relative;
    min-height: rem(75px);

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter) rem($gs-baseline);
        min-height: rem(120px);
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + ($gs-gutter * 2));
    }
}

.event-header__container--unavailable {
    min-height: 0;
    overflow: auto;
}

.event-header__logo {
    float: right;
    margin: rem($gs-baseline) 0;
    max-height: 40px;

    @include mq(mobileLandscape) {
        position: absolute;
        bottom: rem($gs-baseline);
        right: rem($gs-baseline);
        margin: 0;
    }

    @include mq(desktop) {
        max-height: none;
    }
}


.event-masthead {
    position: relative;

    .event-masthead__name {
        max-width: rem(gs-span(8));
        @include fs-headline(5);
        padding-top: rem($gs-baseline / 2);


        @include mq(tablet) {
            padding-top: rem($gs-baseline);
            @include fs-headline(7);
        }

        @include mq(mem-full) {
            float: left;
            padding-top: 0;
        }
    }
    .event-masthead__title {
        @include fs-header(1);
        border-bottom: 1px dotted rgba(255, 255, 255, .29);
        padding-bottom: rem($gs-gutter / 4);

        @include mq(tablet) {
            @include fs-header(3);
        }

        @include mq(mem-full) {
            width: rem(gs-span(2));
            margin-right: rem($gs-gutter);
            border-bottom: 0;
            float: left;
        }
    }
}

.event-details {

    margin-bottom: rem($gs-baseline / 2);

    @include mq(tablet) {
        margin-bottom: rem($gs-gutter);
    }

    .event-details__time {
        max-width: rem(gs-span(8));
        @include fs-headline(2);

        @include mq(tablet) {
            @include fs-headline(4);
        }
    }

    .event-details__time__part {
        white-space: nowrap;
    }

    .event-details__location {
        @include fs-data(4);

        .event-location {
            color: inherit;
        }
    }
}


/* ==========================================================================
   Event Location Summary
   ========================================================================== */
.event-location {
    // Remove space between inline block elements
    font-size: 0;
    line-height: 1;
    color: $c-neutral2;
}
.event-location--reversed {
    color: $white;
}
.event-location__detail {
    @include fs-data(4);
}

/* ==========================================================================
   Event Status
   ========================================================================== */

.event-status {
    display: inline-block;

    &:after {
        content: '/';
        color: fade-out($c-neutral1, .8);
        display: inline-block;
        font-weight: normal;
        margin-left: .2em;
    }
    &:hover:after {
        text-decoration: none;
    }
}
.event-status--sold-out {
    color: $c-soldOut;
}

/* ==========================================================================
   Event Ticket
   ========================================================================== */

.event-ticket {
    padding-top: rem($gs-gutter);
    @include mq(tablet) {
        display: table;
    }
}
.event-ticket__details,
.event-ticket__action {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: bottom;
    }
}
.event-ticket__details {
    @include mq(tablet) {
        padding-right: rem($gs-gutter);
        padding-bottom: rem(3px); // Tweak for optical alignment (over actual alignment)
    }
}
.event-ticket__action {
    .action {
        margin: rem($gs-baseline) 0;
        @include mq(tablet) {
            margin: 0 rem($gs-gutter) 0 0;
        }
    }
}

.event-ticket--aligned {
    padding-top: 0;
    .event-ticket__details {
        padding-bottom: rem($gs-baseline / 2);
    }
    @include mq(tablet) {
        .event-ticket__details,
        .event-ticket__action {
            vertical-align: middle;
        }
        .event-ticket__details {
            padding-bottom: 0;
        }
    }
}

// Free event modifier
.event-ticket--free {
    @include mq(tablet) {
        .event-ticket__details,
        .event-ticket__action {
            vertical-align: middle;
        }
        .event-ticket__details {
            padding-bottom: 0;
        }
    }
}

/* Status extras
   ========================================================================== */
// TODO: Document and refactor

.event-ticket__details__status {
    @include fs-textSans(1);
    font-weight: bold;

    @include mq(tablet) {
        @include fs-header(5);
        -webkit-font-smoothing: antialiased;
    }
}

.event-ticket__price-amount {
    @include fs-header(5);
    -webkit-font-smoothing: antialiased;
}

.event-ticket__trail {
    @include fs-textSans(1);
}

// TODO: This has too much layout / colour code in for a root component
.terms-info {
    @include fs-textSans(1);

    @include mq(tablet) {
        max-width: rem(gs-span(3) + $gs-gutter * 2);
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: inherit;
        padding-bottom: rem(2px);
        border-bottom: 1px solid;
        border-color: inherit;
    }
}


.event__picture-byline {
    clear: both;
    @include fs-textSans(1);
    color: $c-neutral2;
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        padding: rem(8px) rem($gs-gutter) rem($gs-gutter * 2 - 4) rem(gs-span(2) + $gs-gutter * 2);
        margin-bottom: 0;
    }
}

.event-content {
    padding: 0;
    background-color: $white;

    @include mq(desktop) {
        background-color: transparent;
    }
}

.event-content__image {
    margin: 0 auto;

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }

    img {
        width: 100%;
    }
}

.event-image-credit {
    background-color: $white;
    padding: rem(5px) rem($gs-gutter / 2) 0;

    @include mq(tablet) {
        padding-left: 0;
        margin: 0 auto;
    }

    @include mq(desktop) {
        padding-left: rem($gs-gutter);
    }

    @include mq(mem-full) {
        padding: rem($gs-baseline) 0 0 rem(gs-span(2) + ($gs-gutter * 2));
    }
}

.event-image-credit__detail {
    color: $c-neutral2;
    @include fs-textSans(1);

    @include mq(tablet) {
        width: rem(gs-span(5) + $gs-gutter * 3);
    }

    @include mq(desktop) {
        width: rem(gs-span(8) - $gs-gutter);
    }
}

.event-content__container {
    background-color: $white;
    padding: rem($gs-gutter) rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-gutter * 3) 0;
    }
}

.u-event-content-width,
.event-content__container,
.event-content__sticky.is-sticky {
    @include mq(tablet) {
        width: rem(gs-span(9) + $gs-gutter * 2);
        margin: 0 auto;
    }

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }
}

@mixin event-content__body-width($property) {
    @include mq(tablet) {
        #{$property}: rem(gs-span(5) + $gs-gutter * 3);
    }

    @include mq(desktop) {
        #{$property}: rem(gs-span(8) + $gs-gutter * 2);
    }

    @include mq(mem-full) {
        #{$property}: rem(gs-span(10) + $gs-gutter * 2);
    }
}
.event-content__body {
    position: relative;

    @include mq(tablet) {
        float: left;
        padding: 0 rem($gs-gutter) 0 0;
    }

    @include mq(desktop) {
        padding: 0 rem($gs-gutter);
    }

    @include event-content__body-width('width');
}

.event__price-note,
.event__sale_ends_note,
.event__sale_ends_time {
    @include fs-textSans(4);
    display: inline-block;
}

.event__description {
    margin-bottom: rem($gs-gutter * 2);

    @include mq(mem-full) {
        float: right;
        width: rem(gs-span(8));
    }

    img {
        max-width: 100%;
    }
}

.event__social {
    width: rem(gs-span(2));
    margin-bottom: rem($gs-gutter * 2);

    @include mq(tablet) {
        float: left;
    }
}

.event-content__sidebar {
    margin-bottom: rem($gs-gutter);

    @include mq(tablet) {
        float: left;
        width: gs-span(4);
    }
}


/* Event Info Panel
   ========================================================================== */

.event-info {
    @include clearfix();
    @include fs-textSans(3);
    background-color: $c-neutral7;
}
    .event-info__inner {
        @include clearfix;
        padding: rem($gs-gutter / 4);
        padding-bottom: rem($gs-baseline);
    }
    .event-info__name {
        @include fs-header(2);
        padding-bottom: rem($gs-baseline * 2);
    }
    // TODO: Refactor out into stat-item
    .event-info__tickets {
        border-bottom: 1px dotted $c-neutral3;
        padding-bottom: rem($gs-gutter / 4);
        margin-bottom: rem($gs-baseline / 4);
    }
    .event-info__sale-dates {
        .sale-dates__header {
            @include fs-textSans(3);
            font-weight: bold;
            display: inline;
        }
        .sale-dates__list:last-child {
            padding-bottom: rem(5px);
        }
        .sale-dates__item {
            @include fs-textSans(3);
            text-align: right;
            .sale-dates__item--left {
                float: left;
            }
        }
    }
    .event-info__first {
        float: left;
        width: rem($gs-gutter * 2);
    }
    .event-info__second {
        float: left;
        width: rem(240px);
        position: relative;
    }
    .event-info__price {
        padding-bottom: 0;
        @include fs-header(5);
    }
    .event-info__trail {
        @include fs-textSans(1);
        display: block;
    }
    .event-info__terms {
        @include fs-textSans(1);
        display: block;
        padding-top: rem($gs-baseline/2);
    }

.event-info--bordered {
    border-top: 1px solid;
}
.event-info--unavailable {
    .event-info__inner {
        opacity: 0.6;
    }
}

/**
 * Sticky event info
 */
.event-content__sticky.is-sticky {
    @include mq(tablet) {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;

        .sticky-hidden {
            display: none;
        }
    }

    @include mq(desktop) {
        padding-right: rem($gs-gutter);
    }

    @include event-content__body-width('padding-left');
}

.sales-dates-toggle {
    padding: rem($gs-baseline/2) rem($gs-baseline);
    margin-top: -#{rem($gs-baseline/2)};
    margin-right: -#{rem($gs-baseline)};
    right: 0;
    position: absolute;
}

/* Status Panel
   ========================================================================== */

.status-panel {
   color: $white;
   background-color: $c-neutral1;
   padding: rem($gs-baseline);
}
.status-panel__header {
   @include fs-header(2);
}
.status-panel__content {
   margin-top: rem($gs-baseline / 2);
}
