/* ==========================================================================
   Event Items
   ========================================================================== */

.event-item {
    @include clearfix;
    background-color: $c-neutral7;
    transition: background-color $transition-duration-medium ease;
    position: relative;
    display: block;

    @include mq(mobileLandscape) {
        height: rem(400px);
    }

    &,
    &:active,
    &:hover,
    &:focus {
        color: $black;
        text-decoration: none;
    }

    &:hover {
        background-color: $c-neutral5;

        .event-item__media {
            background-color: $black;
            img { opacity: 0.8; }
        }
    }
}
.event-item__media {
    transition: background-color $transition-duration-medium ease;
    img {
        @include no-flicker();
        transition: opacity $transition-duration-medium ease;
    }
}
.event-item__meta {
    padding: rem($gs-gutter / 4);
    padding-top: rem(($gs-gutter / 4) - 1px);
}
.event-item__title {
    @include fs-headline(3);
    margin-bottom: rem($gs-baseline);
    font-weight: 500;
}
.event-item__time {
    @include fs-data(4);
}
.event-item__location {
    color: $c-neutral2;
    @include fs-data(4);
}
.event-item__description {
    @include fs-bodyCopy(1);
    padding: rem($gs-baseline) 0 0;

    @include mq(desktop) {
        @include fs-headline(2);
        padding: rem($gs-baseline * 2) 0 0;
    }
}
.event-item__footer {
    width: 100%;
    padding-top: rem($gs-gutter / 4);

    @include mq(mobileLandscape) {
        padding: rem($gs-gutter / 4);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.event-item__action {
    position: absolute;
    bottom: rem($gs-gutter / 4 + 1px);
    right: rem(($gs-gutter / 4));
}
.event-item__price-amount {
    @include fs-header(4);
}
.event-item__price-amount-discount {
    @include fs-data(3);
    color: $c-neutral2;
}

// Event Item (Shallow Modifier)
.event-item--shallow {
    @include mq(mobileLandscape) {
        height: rem(320px);
    }
}

.event-item--clippath-0,
.event-item--clippath-1,
.event-item--clippath-2 {
    .event-item__media {
        .svgclippaths & {
            position: relative;
        }
        .svgclippaths &::after {
            @include clip-overlay();
        }
    }
}
.event-item--clippath-0 {
    .event-item__media {
        .svgclippaths &::after {
            clip-path: url("#clipPathThumbnailA");
        }
    }
}
.event-item--clippath-1 {
    .event-item__media {
        .svgclippaths &::after {
            clip-path: url("#clipPathThumbnailB");
        }
    }
}
.event-item--clippath-2 {
    .event-item__media {
        .svgclippaths &::after {
            clip-path: url("#clipPathThumbnailC");
        }
    }
}

/* ==========================================================================
   Event item (Hero modifier)
   ========================================================================== */

.event-item--hero {
    width: 100%;
    height: auto;
    margin-bottom: rem($gs-baseline);

    .event-item__media {
        display: table-header-group;
    }
    .event-item__content {
        display: table-footer-group;
    }
    .event-item__footer {
        position: static;
    }

    @include mq(tablet) {
        display: table;

        .event-item__media,
        .event-item__content {
            width: auto;
            display: table-cell;
            vertical-align: top;
        }
        .event-item__content {
            position: relative;
            width: (33.3% + ($gutter-width-fluid / 2));
        }
        .event-item__footer {
            position: absolute;
        }
        .event-item__description {
            display: none;
        }
    }

    @include mq(desktop) {
        .event-item__title {
            @include fs-headline(4);
            font-weight: 500;
        }
        .event-item__time {
            @include fs-headline(2);
        }
        .event-item__description {
            display: block;
        }
    }

}

/* ==========================================================================
   Event Item (List modifier)
   ========================================================================== */

.event-item--list {

    display: table;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: rem($gs-gutter);
    border-top: 1px solid $c-border-neutral;

    .event-item__media,
    .event-item__content {
        display: table-cell;
        vertical-align: top;
    }
    .event-item__content {
        position: relative;
        padding: rem($gs-gutter / 4);
        padding-top: rem(($gs-gutter / 4) - 1px);
    }
    .event-item__media {
        width: $trailblock-img-width;
        margin-right: rem($gs-baseline);
    }
    .event-item__meta {
        padding: 0;
        margin-bottom: rem($gs-baseline);
    }
    .event-item__title {
        @include fs-headline(2, true);
    }

    @include mq(tablet) {
        .event-item__title {
            @include fs-headline(3, true);
        }
    }

    @include mq($until: tablet) {
        .event-item__action {
            display: none;
        }
    }

    &:hover, &:hover .event-item__media {
        background-color: $c-neutral5;
    }
}

/* ==========================================================================
   Event Item (Minimal & Card modifier)
   ========================================================================== */

.event-item--minimal,
.event-item--card {
    .event-item__title {
        @include fs-headline(2);
        font-weight: 500;
    }
    display: table;
    width: 100%;
    height: auto;
    overflow: hidden;

    .event-item__media,
    .event-item__content {
        display: table-cell;
        vertical-align: top;
    }
    .event-item__media {
        width: $trailblock-img-width;
        margin-right: rem($gs-baseline);
    }
    .event-item__title {
        @include fs-headline(2);
        font-weight: 500;
    }
}

.event-item--minimal {
    @include mq(mobileLandscape) {
        height: rem(280px);

        .event-item__media,
        .event-item__content {
            display: block;
            width: 100%
        }
    }
}

.event-item--card {
    @include mq($from: mobileLandscape, $until: tablet) {
        height: rem(280px);

        .event-item__media,
        .event-item__content {
            display: block;
            width: 100%
        }
    }
}

/* ==========================================================================
   Event Snapshot
   ========================================================================== */
// Event summary w/location and timing details (e.g. /choose-tier)

.event-snapshot {
    width: 100%;
    display: table;
    margin-bottom: rem($gs-baseline);
}
    .event-snapshot__media,
    .event-snapshot__title {
        margin-bottom: rem($gs-baseline / 2);
    }
    .event-snapshot__title {
        @include fs-textSans(3);
        font-weight: bold;

        @include mq(mobileLandscape) {
            @include fs-header(2);
            margin-bottom: rem($gs-baseline);
        }
    }
    .event-snapshot__media,
    .event-snapshot__content {
        display: table-cell;
        vertical-align: top;
    }
    .event-snapshot__content {
        border-top: 1px solid $c-border-neutral;
        padding-top: rem($gs-baseline / 2);

        @include mq(tablet) {
            border: 0 none;
            padding-top: 0;
        }
    }
    .event-snapshot__media {
        width: 30%;
        padding-right: $gutter-width-fluid;
    }

.event-snapshot--stack {
    @include mq(tablet) {
        display: block;

        .event-snapshot__media,
        .event-snapshot__content {
            display: block;
        }
        .event-snapshot__media {
            width: auto;
            padding-right: 0;
        }
    }
}

/* ==========================================================================
   Event Status
   = Status label/prefix on event items
   ========================================================================== */

.event-status {
    display: inline-block;

    &:after {
        content: '/';
        color: fade-out($c-neutral1, .8);
        display: inline-block;
        font-weight: normal;
        margin-left: .2em;
    }
    &:hover:after {
        text-decoration: none;
    }
}
.event-status--sold-out {
    color: $c-soldOut;
}
