/* ==========================================================================
   FAQs
   ========================================================================== */

.faq-list {
    border-top: 1px solid $c-brand;
    margin-bottom: rem($gs-baseline);
}
.faq-list__item {
    background-color: $c-neutral8;
    padding: rem($gs-baseline);
    border-bottom: 1px dotted $c-neutral3;
}

.faq-question {
    display: table;
    width: 100%;
}
.faq-question__icon,
.faq-question__text {
    display: table-cell;
    vertical-align: top;
}
.faq-question__icon {
    width: rem($gs-gutter * 2);
}
.faq-question__text {
    color: $c-body;
}

.faq-answer {
    padding-bottom: rem($gs-gutter);
}
.faq-answer__headline {
    @include fs-headline(3);
    margin-bottom: 0;
    font-weight: bold;
}
