/* ==========================================================================
   Feature Panels
   ========================================================================== */

.section-features {
    clear: both;
    margin-bottom: rem($gs-baseline * 2);

    @include mq(tablet) {
        margin-top: rem($gs-baseline * 3);
    }
}

.feature-panel {
    display: table;
    @include mq(mobileLandscape) {
        display: block;
    }
}
.feature-panel__media,
.feature-panel__description {
    display: table-cell;
    vertical-align: middle;

    @include mq(mobileLandscape) {
        display: block;
    }
}
.feature-panel__media  {
    width: rem(gs-span(2));
    padding-right: rem($gs-gutter/2);
    float: left;

    @include mq(mobileLandscape) {
        width: auto;
        float: none;
        padding-right: 0;
    }
}
.feature-panel__description {
    color: $black;
    @include fs-headline(2);
    font-weight: 500;
    margin-top: rem($gs-gutter / 2);
    border-top: 1px solid $c-neutral5;
    padding-top: rem($gs-gutter / 4);

    @include mq(mobileLandscape) {
        border-top: none;
        padding-top: 0;
    }
    @include mq(desktop) {
        font-size: get-font-size(headline, 3);
        line-height: get-line-height(headline, 3);
    }
}
.feature-panel__cta {
    display: block;
}
