.flash-message {
    @include fs-data(4);
    margin-top: rem($gs-baseline / 2);
    padding: rem(7px) rem(($gs-baseline / 3) * 2);
}

.flash-message--error {
    background-color: $flash-message-error;
    border-bottom: rem(1px) solid lighten($newsRed, 35%);
    border-top: rem(1px) solid lighten($newsRed, 35%);
    color: $newsRed;
}
