/* ==========================================================================
   Opt-in typographic styles
   From Content API
   ========================================================================== */
// These are for styling HTML that we get from external sources
// and may contain more specific selectors than we would usually like.
// Similar in goal to _from-content-api.scss from next-gen.
//
// Opt-in typography
// Particularly useful when copy come from a third-party (e.g., eventbrite/evently)
// See:
//     http://css-tricks.com/opt-in-typography/
//     http://dbushell.com/2012/04/18/scoping-typography-css/
//     http://anthonyshort.me/global-typographic-styles-suck/

.copy {

    > p,
    ul,
    ol,
    address {
        padding: 0;
        margin: 0 0 $gs-baseline;

        @include mq(tablet) {
            margin-bottom: ($gs-baseline * 1.3333);
        }
    }

    h2 {
        @include fs-header(2);

        @include mq(tablet) {
            margin-bottom: 1px;
            @include fs-header(3, true);
        }
    }
    h2 + h2, p + h2, ol + h2, ul + h2 {
        margin-top: ($gs-gutter * 1.3);
    }
    h3 {
        @include fs-bodyHeading(3);
    }
    p + h3, ol + h3, ul + h3 {
        margin-top: $gs-baseline;
    }
    h4 {
        @include fs-bodyHeading(2);
    }
    h5, h6 {
        @include fs-bodyHeading(1);
    }
    h6 {
        font-weight: normal;
        font-style: italic;
    }

    a {
        color: guss-colour(guardian-brand);
        text-decoration: none;
        border-bottom: 1px solid $c-neutral3;

        &:hover,
        &:focus {
            text-decoration: none;
            border-color: $c-neutral2;
        }
    }

    li > ol,
    li > ul {
        margin-bottom: 0;
    }

    ul,
    ol {
        list-style: none;
        margin-left: $gs-gutter;
    }

    ul > li {
        list-style-position: outside;
        list-style-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMiAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgNi44NTdjMCAxLjA4OS0uMjY4IDIuMDkzLS44MDUgMy4wMTEtLjUzNy45MTktMS4yNjUgMS42NDctMi4xODQgMi4xODQtLjkxOS41MzctMS45MjMuODA2LTMuMDExLjgwNS0xLjA4OC0uMDAxLTIuMDkyLS4yNjktMy4wMTEtLjgwNXMtMS42NDctMS4yNjQtMi4xODQtMi4xODRjLS41MzctLjkyLS44MDUtMS45MjQtLjgwNS0zLjAxMSAwLTEuMDg3LjI2OC0yLjA5MS44MDUtMy4wMTEuNTM3LS45MiAxLjI2NS0xLjY0OCAyLjE4NC0yLjE4NC45MTktLjUzNiAxLjkyMy0uODA0IDMuMDExLS44MDUgMS4wODgtLjAwMSAyLjA5Mi4yNjggMy4wMTEuODA1czEuNjQ3IDEuMjY1IDIuMTg0IDIuMTg0Yy41MzcuOTE5LjgwNSAxLjkyMi44MDUgMy4wMTF6IiBmaWxsPSIjQkRCREJEIi8+PC9zdmc+);
    }

    ol {
        counter-reset: li;
    }
    ol > ol,
    ol > ul {
        margin-left: ($gs-gutter * 2);
    }
    ol > li {
        list-style-position: outside;
        text-indent: -($gs-gutter);
    }
    ol > li:before {
        content: counter(li)'.';
        counter-increment: li;
        @include fs-header(1);
        margin-right: ($gs-baseline / 2);

        @include mq(tablet) {
            @include fs-header(2, true);
        }
    }

    .no-style-list {
        list-style: none;
    }

    blockquote {
        padding-left: 14px;
        border-left: 2px solid color(brand-main);
        font-style: italic;
        margin: 0 0 16px;
    }

    blockquote p {
        margin: 0;
    }

}

.text-link {
    text-decoration: none;
    border-bottom: 1px solid $c-neutral3;

    &:hover,
    &:focus {
        text-decoration: none;
        border-color: $c-neutral2;
    }
}
