/* ==========================================================================
   Global Header
   ========================================================================== */

.global-header {
    background-color: color(brand-supporting-2);
    position: relative;
    z-index: 3;
}
.global-header__inner {
    background: color(brand-main) url(/assets/images/common/bg-masthead.png) no-repeat;
    background-position: 45% 60%;

    @include mq(tablet) {
        padding-bottom: $gs-gutter;
        background-position: 50% 0%;
    }
}
.global-header__branding {
    @include clearfix();
    padding: ($gs-gutter / 2);
    padding-bottom: $gs-gutter;

    @include mq(tablet) {
        padding: ($gs-gutter / 2) $gs-gutter;
    }
}
.global-header__primary {
    float: left;
    padding-right: ($gs-gutter / 2);
}
.global-header__logo {
    float: right;
    width: auto;

    @include mq(tablet) {
        margin-right: -20px;
    }
}
.global-header__logo__image {
    width: auto;
    height: 50px;

    @include mq(tablet) {
        height: 90px;
    }
}
.js-on .global-header__logo__image img {
    visibility: hidden;
}
.global-header__logo__image img.is-loaded {
    visibility: visible;
}
.global-header__logo__link {
    display: block;
}

/* Header - In App
   ========================================================================== */

body.in-app {
    .global-header {
        display: none;
    }
}
