/* ==========================================================================
   Grid
   ========================================================================== */

/* Grid base
   ========================================================================== */

.grid {
    @include clearfix;
}
.grid__item {
    margin-bottom: rem($gs-gutter);
}

/* Grid 2up
   ========================================================================== */

.grid--2up {
    @include mq(mobileLandscape) {
        width: 100% + $gutter-width-fluid; // 100% + gutter width from .benefit
        margin-left: -$gutter-width-fluid; // - gutter width from .benefit
    }
    .grid__item {
        @include mq(mobileLandscape) {
            float: left;
            margin-left: $gutter-width-fluid;
            margin-bottom: $gutter-width-fluid;
            width: 50% - $gutter-width-fluid;
            &:nth-of-type(2n+1) { clear: left; }
        }
    }
}

/* Grid 3up (3 > 2 > 1)
   ========================================================================== */

.grid--3up {
    @include mq(mobileLandscape) {
        width: 100% + $gutter-width-fluid; // 100% + gutter width from .benefit
        margin-left: -$gutter-width-fluid; // - gutter width from .benefit
    }
    .grid__item {
        @include mq(mobileLandscape) {
            float: left;
            margin-left: $gutter-width-fluid;
            margin-bottom: $gutter-width-fluid;
            width: 50% - $gutter-width-fluid;
            &:nth-of-type(2n+1) { clear: left; }
        }
        @include mq(tablet) {
            width: 33.3% - $gutter-width-fluid;
            &:nth-of-type(2n+1) { clear: none; }
            &:nth-of-type(3n+1) { clear: left; }
        }
    }
}

/* Grid 3up stacked (3 > 1)
   ========================================================================== */

.grid--3up-stacked {
    @include mq(desktop) {
        width: 100% + $gutter-width-fluid; // 100% + gutter width from .benefit
        margin-left: -$gutter-width-fluid; // - gutter width from .benefit
    }
    .grid__item {
        @include mq(desktop) {
            float: left;
            margin-left: $gutter-width-fluid;
            margin-bottom: $gutter-width-fluid;
            width: 33.3% - $gutter-width-fluid;
            &:nth-of-type(3n+1) { clear: left; }
        }
    }
}

/* Grid 4up (4 > 2 > 1)
   ========================================================================== */

.grid--4up {
    .grid__item {
        @include mq(mobileLandscape) {
            float: left;
            margin-left: $gutter-width-fluid;
            margin-bottom: $gutter-width-fluid;
            width: 50% - $gutter-width-fluid;
            &:nth-of-type(2n+1) { clear: left; }
        }
        @include mq(tablet) {
            width: 25% - $gutter-width-fluid;
            &:nth-of-type(2n+1) { clear: none; }
            &:nth-of-type(4n+1) { clear: left; }
        }
    }
}
