/* ==========================================================================
   Guardian Header
   ========================================================================== */

.guardian-header {
    display: block;
    background-color: $blue;
    position: relative;
    z-index: 3;
}

.guardian-header__inner {
    @include clearfix();
    padding: 6px 10px 12px 10px;

    @include mq($from: tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

.guardian-header__logo {
    float: right;
    clear: both;
}

.guardian-header__logo-link {
    display: block;
}

.guardian-header__title-height {
    height: 32px;
    @include mq($from: mobile-wider) {
        height: 42px;
    }
    @include mq($from: mobileLandscape) {
        height: 49px;
    }
    @include mq($from: tablet) {
        height: 68px;
    }
}


/* Header - In App
   ========================================================================== */

body.in-app {
    .guardian-header {
        display: none;
    }
}
