/* ==========================================================================
   Header Bar
   ========================================================================== */

.header-bar {
    @include clearfix;
    position: relative;
    padding-left: ($gs-gutter / 2);
    padding-right: ($gs-gutter / 2);

    @include mq(tablet) {
        padding-left: $gs-gutter;
    }

    @include mq(mem-full) {
        padding-left: (gs-span(2) + $gs-gutter * 2);
    }
}
.header-bar__title {
    @include fs-headline(4);
    padding: ($gs-gutter / 2) 0 0;

    @include mq(tablet) {
        @include fs-headline(6, true);
        max-width: gs-span(8);
        padding-bottom: $gs-baseline * 2;
    }

    @include mq(mem-full) {
        @include fs-headline(7, true);
    }
}
.header-bar__logo {
    float: right;
    margin-bottom: ($gs-gutter / 2);

    @include mq(tablet) {
        position: absolute;
        right: $gs-gutter;
        bottom: $gs-baseline;
        margin-bottom: 0;
    }
}
/**
 * Note:
 * Image heights are
 * magic numbers.
 */
.header-bar__logo__image {
    height: 44px;

    @include mq(tablet) {
        height: 87px;
    }
}
