/* ==========================================================================
   Hero Banner
   ========================================================================== */
/**
 * Requires background image to be set on
 * hero-banner element in the template
 * See index.scala.html
 */
.hero-banner {
    color: $white;
    height: 60vh;
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 200% auto;

    @include mq(phablet) {
        background-size: 140% auto;
    }

    @include mq(tablet) {
        background-size: 100% auto;
    }
}
.hero-banner__inner {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
}
.hero-banner__content {
    padding: ($gs-gutter / 2);
    position: absolute;
    bottom: 0;
    color: $black;
    background-color: rgba(255,255,255,0.85);

    @include clip-path('top-slice') {
        padding-top: $gs-gutter * 2;
    }

    @include mq(tablet) {
        max-width: gs-span(12);
        padding: $gs-gutter ($gs-gutter * 2);
        padding-left: (gs-span(2) + ($gs-gutter * 2));
    }
}
.hero-banner__title {
    @include fs-headline(4);
    font-weight: guss-font-weight(ultrablack);

    @include mq(tablet) {
        @include fs-headline(7, $size-only: true);
        line-height: 1;
        padding-top: $gs-baseline * 2;
    }
}
.hero-banner__description {
    @include fs-headline(3);
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        @include fs-headline(5, $size-only: true);
    }
}

