/* ==========================================================================
   Hero Banner
   ========================================================================== */
.hero-banner {
    background: no-repeat top -90px center;
    background-size: cover;

    // All iOS devices and at least some other mobile devices ignore
    // background-attachment: fixed.
    // https://twitter.com/paul_irish/status/306818591196602368
    //
    // Worse than this, on iOS devices the combination of background-size: cover
    // and background-attachment: fixed causes the browser to calculate the background size
    // relative to the height of the entire page rather than the height of the viewport,
    // resulting in a grossly oversized image.
    // See 'Known Issues' on http://caniuse.com/#feat=background-attachment
    //
    // So what we want is to set background-attachment: fixed on desktop devices regardless of width,
    // and to leave background-attachment to its default value (scroll) on all mobile/tablet devices,
    // also regardless of width. So I've used min-device-width in this particular case.
    @media (min-device-width: 800px) {
        background-attachment: fixed;
    }
    height: 70vh;

    @include mq(mobileLandscape) {
        background-position: center center;
        height: 74vh;
    }

    @include mq(tablet) {
        height: 460px;
        background-position: center top -100px;
    }

    //noinspection ALL
    @include mq(desktop) {
        background-position: center top -13px;
    }

    @include mq(mem-full) {
        background-position: center top -113px;
    }
}
//Slightly more performant background:fixed for desktop users.
@mixin fixed-desktop-background($url, $height, $position){
    @include mq(mem-full) {
        background: unset;
        overflow: hidden; // added for pseudo-element
        position: relative; // added for pseudo-element

        // Fixed-position background image thanks to: http://fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property
        &::before {
            content: ' ';
            position: fixed; // instead of background-attachment
            width: 100%;
            height: $height;
            top: 0;
            left: 0;
            background-position: $position;
            background-size: cover;
            will-change: transform; // creates a new paint layer
            z-index: -1;
            background-image: $url;
        }
    }
}
.hero-banner--uk-supporter {
    background-attachment: unset;
    background-image: url(https://media.guim.co.uk/17d84a219397dc81ec8d456ff0e97bf326d74015/0_127_4094_2457/1000.jpg);

    @include fixed-desktop-background(url(https://media.guim.co.uk/17d84a219397dc81ec8d456ff0e97bf326d74015/0_127_4094_2457/2000.jpg),70vh, center);
}
.hero-banner--homepage {
    background-image: url(/assets/images/join-challenger/hm_hero01_980x980.jpg);
    @include mq(desktop) {
        background-image: url(/assets/images/join-challenger/hm_hero01_1280x800.jpg);
    }
}

.hero-banner--us-supporter {
    background-image: url(/assets/images/join-challenger/s_US_hero01_980x980.jpg);
    @include mq(desktop) {
        background-image: url(https://media.guim.co.uk/8eea3b3bd80eb2f8826b1cef75799d27a11e56e5/0_203_3500_2100/1000.jpg);
    }
    @include fixed-desktop-background(url(https://media.guim.co.uk/8eea3b3bd80eb2f8826b1cef75799d27a11e56e5/0_203_3500_2100/2000.jpg),78vh,bottom);
}
.hero-banner--eu-supporter {
    background-image: url(/assets/images/join-challenger/s_EU_hero01_980x980.jpg);
    @include mq(desktop) {
        background-image: url(/assets/images/join-challenger/s_EU_hero01_1280x800.jpg);
    }
}
// rest of world
.hero-banner--row-supporter {
    background-image: url(/assets/images/join-challenger/s_ROW_hero01_980x980.jpg);
    @include mq(desktop) {
        background-image: url(/assets/images/join-challenger/s_ROW_hero01_1280x800.jpg);
    }
}
// english heritage promo
.hero-banner--eng-heritage {
    background-attachment: unset;
    background-image: url(https://media.guim.co.uk/b490b12fd4212e8762c27d9fe3ce433dcc215d43/0_0_5616_3370/1000.jpg);

    @include fixed-desktop-background(url(https://media.guim.co.uk/b490b12fd4212e8762c27d9fe3ce433dcc215d43/0_0_5616_3370/2000.jpg),70vh,bottom);
}
.hero-banner__inner {
    position: relative;
    height: 100%;
}
.hero-banner__sections {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;

    @include mq(tablet) {
        margin-left: $gs-gutter;
        right: auto;
        left: auto;
    }
    @include mq(mem-full) {
        margin-left: 0;
    }
}
.hero-banner__accent {
    position: absolute;
    top: -5px;
    right: 0;
    left: -15px;
    bottom: 0;
    background: color(brand-main);
    opacity: 0.5;
    display: none;

    @include clip-path('accent-top-slice') {
        display: block;
        padding-top: $gs-gutter * 2;
    }
    @include mq(tablet) {
        display: block;
        padding: $gs-gutter ($gs-gutter * 2);
        clip-path: none !important;
        transform: rotate(-6deg);
        height: 190px;
        width: 605px;
        top: 2px;
    }
    @include mq(mem-full) {
        left: 163px;
    }
}
.hero-banner__secondary_accent {
    position: absolute;
    bottom: 0;
    top: 86px;
    right: -26px;
    background: $white;
    opacity: 0.6;
    width:50px;
    display:none;
    transform: rotate(9deg);

    @include mq(tablet) {
        display: block;
    }
}
.hero-banner__content {
    padding: ($gs-gutter / 2);
    padding-bottom: 12px;
    color: $black;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;

    @include clip-path('top-slice') {
        padding-top: 24px;
    }

    @include mq(tablet) {
        @include clip-path('top-slice') {
            padding-top: 45px;
        }
        margin-left: 0;
        width: 620px;
        padding: $gs-gutter;
        padding-right: 50px;
    }

    @include mq(mem-full) {
        margin-left: gs-span(2.5);
    }
}
.hero-banner__title {
    @include fs-header(5);
    line-height: 26px;

    @include mq(tablet) {
        font-size: 36px;
        line-height: 38px;
    }
}
.hero-banner__description {
    @include fs-headline(2);
    margin-bottom: $gs-baseline / 2;

    @include mq(tablet) {
        font-size: 22px;
        line-height: 26px;
    }
}
.hero-banner__action {
    .action-jump {
        margin: 0;
    }
}
