/* ==========================================================================
   Hero Banner
   ========================================================================== */
.hero-banner {
    background: url(/assets/images/join-challenger/hm_hero01_980x980.jpg) no-repeat top center;
    background-size: auto 82%;
    background-attachment: fixed;
    height: 69vh;

    @include mq(mobileLandscape) {
        background-size: 100% auto;
        background-position: center center;
        height: 74vh;
    }

    @include mq(tablet) {
        height: 460px;
    }

    //noinspection ALL
    @include mq(desktop) {
        background-position: center center;
    }

    @include mq(wide) {
        background-image: url(/assets/images/join-challenger/hm_hero01_1280x800.jpg);
        background-size: 100% auto;
    }
}
.hero-banner__inner {
    position: relative;
    height: 100%;
}
.hero-banner__sections {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;

    @include mq(tablet) {
        right: auto;
        left: auto;
    }
}
.hero-banner__accent {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: color(brand-main);
    z-index: 2;
    opacity: 0.6;
    left: 0;

    @include clip-path('accent-top-slice') {
        padding-top: $gs-gutter * 2;
    }
    @include mq(tablet) {
        padding: $gs-gutter ($gs-gutter * 2);
    }

    @include mq(mem-full) {
        clip-path: none !important;
        transform: rotate(-6deg);
        height: 230px;
        left: 163px;
        width: 620px;
    }
}
.hero-banner__secondary_accent {
    position: absolute;
    bottom: 0;
    top: 110px;
    right: -30px;
    background: $white;
    z-index: 1;
    opacity: 0.6;
    width:50px;
    display:none;
    transform: rotate(7deg);

    @include mq(mem-full) {
        display: block;
    }
}
.hero-banner__content {
    padding: ($gs-gutter / 2);
    padding-bottom: 12px;
    color: $black;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;

    @include clip-path('top-slice') {
        padding-top: 31px;
    }

    @include mq(tablet) {
        @include clip-path('top-slice') {
            padding-top: 45px;
        }
        margin-left: 0;
        width: 620px;
        padding: $gs-gutter;
        padding-right: 50px;
    }

    @include mq(mem-full) {
        margin-left: gs-span(2.5);
    }
}
.hero-banner__title {
    @include fs-header(5);
    line-height: 26px;

    @include mq(tablet) {
        font-size: 36px;
        line-height: 38px;
    }
}
.hero-banner__description {
    @include fs-headline(2);
    margin-bottom: $gs-baseline / 2;

    @include mq(tablet) {
        font-size: 22px;
        line-height: 26px;
    }
}
.hero-banner__action {
    .action-jump {
        margin: 0;
    }
}

