.icon-wrapper {
    display: block;
}

.icon--faq {
    background-size: 18px;
    width: 18px; height: 18px;
}

.icon--benefits {
    background-size: rem($gs-gutter + 5) rem($gs-gutter + 5);
    width: rem($gs-gutter + 5);
    height: rem($gs-gutter + 5);
    margin: 0 rem($gs-gutter) rem(-7px) 0;
}

.icon--info {
    background-size: rem($gs-gutter) auto;
    width: rem($gs-gutter);
    height: rem($gs-gutter);
}

.icon--featured {
    width: 25px; height: 25px;
    background-size: 25px;
    @include mq(tablet) {
        width: 48px; height: 48px;
        background-size: 48px;
    }
}

.icon--margin-right {
    margin-right: rem($gs-gutter / 2);
}
