.icon-wrapper {
    display: block;
}

.icon--faq {
    background-size: rem($gs-baseline * 1.5) rem($gs-baseline * 1.5);
    width: rem($gs-baseline * 1.5);
    height: rem($gs-baseline * 1.5);
}

.icon--benefits {
    background-size: rem($gs-gutter + 5) rem($gs-gutter + 5);
    width: rem($gs-gutter + 5);
    height: rem($gs-gutter + 5);
    margin: 0 rem($gs-gutter) rem(-7px) 0;
}

.icon--info {
    background-size: rem($gs-gutter) auto;
    width: rem($gs-gutter);
    height: rem($gs-gutter);
}

.icon--margin-right {
    margin-right: rem($gs-gutter / 2);
}
