/* ==========================================================================
   Letterbox image crop
   ========================================================================== */

.letterbox {
    position: relative;

    @include mq(desktop) {
        max-height: rem(gs-height(10));
        overflow: hidden;
    }
}
.letterbox__crop {
    @include mq(desktop) {
        position: relative;
        top: -(rem(gs-height(2)));
    }
}
.letterbox__header {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    color: $white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, transparent 100%);
    padding: rem(gs-height(3)) rem($gs-gutter) rem($gs-gutter);

    @include mq(tablet) {
        padding-left: 30%;
        padding-bottom: rem($gs-gutter * 2);
    }
}
.letterbox__title {
    @include fs-headline(6);
    font-weight: 500;

    @include mq(mobileLandscape) {
        @include fs-headline(7, true);
    }

    @include mq(tablet) {
        @include fs-headline(9, true);
        max-width: 60%;
    }
}
