/* ==========================================================================
   Listings
   ========================================================================== */

.listing-header {
    background-color: $c-background;
    padding: rem($gs-gutter / 2);

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + ($gs-gutter * 2));
        padding-bottom: rem($gs-gutter * 4);
    }
}

.listing-headline {
    @include fs-headline(4);

    @include mq(tablet) {
        @include fs-headline(5);
    }
    @include mq(desktop) {
        @include fs-headline(7);
    }
}

.listing {
    @include clearfix;
    clear: both;
    position: relative;
    background-color: $white;
    border-top: 1px solid $c-border-brand;
    padding-bottom: rem($gs-baseline * 2);
}
    .listing__lead-in {
        padding: rem($gs-gutter / 2);

        @include mq(mem-full) {
            float: left;
            width: rem(gs-span(2));
            padding: rem($gs-baseline / 2) 0 rem($gs-baseline * 3);
            margin-right: rem($gs-gutter);
            margin-left: rem($gs-gutter);
        }
    }
    .listing__content {
        padding: 0 rem($gs-gutter / 2);
        @include mq(mem-full) {
            float: left;
            width: rem(gs-span(12));
            padding: rem($gs-gutter / 2) 0 0 0;
        }
    }
    .listing__empty,
    .listing__no-results {
        margin-bottom: rem($gs-baseline);
        margin-left: rem($gs-gutter / 2);

        @include mq(tablet) {
            margin-left: 0
        }
    }
    .listing__no-results {
        display: none;
        &.is-shown {
            display: block;
        }
    }

/**
 * Page listing - Lead
 */
.listing--lead {
    border-top: 0 none;

    .listing__lead-in {
        @include mq(mem-full) {
            padding-top: rem($gs-baseline);
        }
    }
    .listing__title {
        @include mq(mem-full) {
            padding-top: rem($gs-baseline / 2);
            border-top: 1px solid $c-border-brand;
        }
    }
}
