/* ==========================================================================
   Listings
   ========================================================================== */

.listing-header {
    background-color: $c-background;
    padding: rem($gs-gutter / 2);

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + ($gs-gutter * 2));
        padding-bottom: rem($gs-gutter * 4);
    }
}

.listing-headline {
    @include fs-headline(4);

    @include mq(tablet) {
        @include fs-headline(5, true);
    }
    @include mq(desktop) {
        @include fs-headline(7, true);
    }
}

.listing {
    @include clearfix;
    clear: both;
    position: relative;
    background-color: $white;
    border-top: 1px solid $c-border-brand;
    padding-bottom: rem($gs-baseline * 2);
}
    .listing__lead-in {
        padding: rem($gs-gutter / 2);

        @include mq(mem-full) {
            float: left;
            width: rem(gs-span(2));
            padding: rem($gs-baseline / 2) 0 rem($gs-baseline * 3);
            margin-right: rem($gs-gutter);
            margin-left: rem($gs-gutter);
        }
    }
    .listing__content {
        padding: 0 rem($gs-gutter / 2);
        @include mq(mem-full) {
            float: right;
            width: rem(gs-span(12));
            padding: rem($gs-gutter / 2) 0 0 0;
            margin-right: rem($gs-gutter);
        }
    }
    .listing__empty,
    .listing__no-results {
        margin-bottom: rem($gs-baseline);
        margin-left: rem($gs-gutter / 2);

        @include mq(tablet) {
            margin-left: 0
        }
    }
    .listing__no-results {
        display: none;
        &.is-shown {
            display: block;
        }
    }

/**
 * Page listing - Lead
 */
.listing--lead {
    border-top: 0 none;

    .listing__lead-in {
        @include mq(mem-full) {
            padding-top: rem($gs-baseline);
        }
    }
    .listing__title {
        @include mq(mem-full) {
            padding-top: rem($gs-baseline / 2);
            border-top: 1px solid $c-border-brand;
        }
    }

}

.listing--basic {
    border-top: 0 none;
}
.listing--transparent {
    background: transparent;
}

.listing--roundel {
    @include mq($until: tablet) {
        padding-top: 70px;
    }
}

/* Date Listing
   ========================================================================== */

.month-header {
    @include fs-header(3);
    border-top: 1px solid $c-border-brand;
    padding-top: rem($gs-baseline / 2);
    padding-bottom: rem($gs-baseline * 2);

    width:  100%;
    position: sticky;
    top: 5px;
    z-index: 100;
}

.date-listing {
    @include clearfix;
}
.date-listing__lead-in {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;

    @include mq(tablet) {
        width: 15% - $gutter-width-fluid;
        margin-right: $gutter-width-fluid;
        float: left;
    }
}
.date-listing__content {
    @include mq(tablet) {
        float: left;
        width: 85%;
    }
}
.date-listing__title {
    @include fs-header(3);
}
.date-listing__subtitle {
    @include fs-headline(2);
    font-weight: normal;
    color: $c-neutral2;
}

.date-listing--lead {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;

    .date-listing__lead-in {
        border-top: 0 none;
        padding-top: 0;
    }
}
