/* ==========================================================================
   Messages
   ========================================================================== */

/* ==========================================================================
   Message: Status Bar
   ========================================================================== */

.status-bar {
    @include fs-data(4);
    color: color(neutral-2);
    background-color: color(neutral-5);
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s ease-in;
}
.status-bar__inner {
    margin: ($gs-baseline / 2) $gs-gutter;
}
.status-bar.is-active {
    max-height: 100px;
}
.status-bar--listing .status-bar__inner {
    @include mq(desktop) {
        margin-left: gs-span(2.5);
    }
}

/* ==========================================================================
   Messages: Flash message
   ========================================================================== */

.flash-message {
    @include fs-data(4);
    margin-top: rem(12px);
    padding: rem(7px) rem(($gs-baseline / 3) * 2);
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: rem($gs-baseline);

    @include mq(tablet) {
        margin-bottom: 0;
    }
}

.flash-message--error {
    background-color: $c-flash-error-background;
    border-color: $c-flash-error-border;
    color: $c-flash-error;
}

.flash-message--success {
    background-color: $c-flash-success-background;
    border-color: $c-flash-success-border;
    color: $c-flash-success;
}
