.flash-message {
    @include fs-data(4);
    margin-top: 12px;
    padding: 7px (($gs-baseline / 3) * 2);
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        margin-bottom: 0;
    }
}

.flash-message--error {
    background-color: $c-flash-error-background;
    border-color: $c-flash-error-border;
    color: $c-flash-error;
}

.flash-message--success {
    background-color: $c-flash-success-background;
    border-color: $c-flash-success-border;
    color: $c-flash-success;
}
