/* ==========================================================================
   Nav object
   ========================================================================== */

// TODO: Deprecated, prefer standalone components
// for navigation rather than sprawling modifiers
.nav {
    @include unstyled-list();
}

/* ==========================================================================
   Nav - Global Navigation
   ========================================================================== */

// Height of toggle link.
$global-nav-height: 36px;

.nav--global {

    @include unstyled-list();

    @include clearfix();
    clear: both;
    display: block;
    height: auto;
    padding: 0;

    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    @include mq(desktop) {
        overflow-x: hidden;
    }

    @include fs-headline(2);
    font-weight: normal;
    @include font-smoothing();

    background-color: darken($mem-brandBlue, 12%);

    &::-webkit-scrollbar {
        display: none;
    }

    .nav__scroll {
        display: table;
        white-space: nowrap;
        width: auto;
        vertical-align: middle;
        height: rem($global-nav-height);
        padding: 0 rem($global-nav-height * 2) 0 rem($gs-gutter / 2);
        background-color: darken($mem-brandBlue, 10%);

        @include mq(tablet) {
            padding: 0 rem($gs-gutter);
            display: block;
        }
        @include mq(desktop) {
            width: 100%;
        }
    }
    .nav__list {
        display: table-row;

        @include mq(desktop) {
            display: block;
        }
    }
    .nav__item {
        display: table-cell;
        vertical-align: middle;
        text-transform: lowercase;

        @include mq(desktop) {
            display: block;
            float: left;
        }
    }

    .nav__item--sub {
        display: none;
        padding-left: rem($gs-gutter);
    }

    .nav__item--right {
        @include mq(desktop) {
            float: right;
        }
    }
    .nav__link {
        color: $black;
        position: relative;
        margin: 0 rem($gs-gutter) 0 0;
        padding: 0;

        &:focus,
        &:active {
            text-decoration: underline;
        }

        @include mq(tablet) {
            display: block;
            padding: rem(8px) 0 rem(6px);
            &, &:active {
                text-decoration: none;
                color: $black;
            }
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .nav__link--last {
        margin-right: 0;
    }
    .icon-home {
        vertical-align: top;
    }
}

@include mq($until: tablet) {
    .nav--global.is-active {

        display: block;
        height: auto;
        padding: 0;
        padding-top: rem($global-nav-height);
        position: absolute;
        z-index: 2;
        top: 100%;
        width: 100%;
        background: darken($mem-brandBlue, 10%);

        .nav__scroll,
        .nav__list,
        .nav__item {
            display: block;
            height: auto;
            padding: 0;
        }

        .nav__item {
            width: 100%;
        }
        .nav__item--home {
            display: none;
        }

        .nav__item--sub {
            display: block;
        }

        .nav__link {
            @include fs-bodyHeading(1);
            margin: 0;
            border-top: 1px solid lighten($mem-brandBlue, 5%);
            display: block;
            background-color: transparent;
            -webkit-font-smoothing: subpixel-antialiased;
            text-decoration: none;
            padding: rem($gs-baseline / 2) 0 rem($gs-baseline) rem($gs-baseline);

            &,
            &:active,
            &:focus {
                color: $black;
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }

            @include mq(desktop) {
                border-top: 0;
            }
        }
    }
}

/* ==========================================================================
   Secondary Navigation
   ========================================================================== */

.nav-secondary {
    @include unstyled-list();
    background-color: $c-neutral5;
    position: relative;
}
.nav-secondary__inner {
    @include clearfix();
    padding: 0 rem($gs-gutter);
}
.nav-secondary__list,
.nav-secondary__item {
    display: block;
    float: left;
}
.nav-secondary__list {
    margin: 0;
    overflow: auto;
    list-style: none;
}
.nav-secondary__item {
    margin-right: rem($gs-gutter / 2);
}
.nav-secondary__link {
    @include fs-headline(2);
    @include font-smoothing();
    line-height: 1;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-transform: lowercase;
    color: $black;
    padding: rem($gs-gutter / 2) 0;
}
.nav-secondary__breadcrumb {
    border-right: 1px solid $white;
    margin-right: rem($gs-gutter);
    padding-right: rem($gs-gutter / 2);
}
.nav-secondary__breadcrumb__trail::after {
    content: "›";
    display: inline-block;
    vertical-align: middle;
    margin-left: rem($gs-gutter / 2);
}

/* ==========================================================================
   Nav - Control Navigation
   ========================================================================== */

.nav-control {
    @include unstyled-list();

    > li,
    > li > a {
        vertical-align: top;
    }
}
.nav-control__item {
    margin-right: rem($gs-baseline);
    position: relative;

    @include mq(tablet) {
        padding-top: rem(3px);
    }
}
.nav-control__item--last {
    margin-right: 0;
}

/* ==========================================================================
   Nav - Brand Navigation
   ========================================================================== */

.nav--brand {
    @include fs-bodyHeading(1);
    padding-top: rem($gs-gutter / 2);
    text-align: right;

    .nav__link {
        color: $black;
        position: relative;
        display: block;
        margin-left: rem($gs-gutter);
        padding: 0;

        &:focus,
        &:active {
            text-decoration: underline;
        }

        @include mq(desktop) {
            &:link, &:active {
                text-decoration: none;
                color: $black;
            }
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* ==========================================================================
   Nav - Sections
   ========================================================================== */

.nav-sections {
    @include unstyled-list();
    overflow: auto;
    color: $black;
    background-color: $mem-brandBlue;
    position: relative;
}
.nav-sections.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    will-change: auto;
}
.nav-sections__list,
.nav-sections__item {
    display: block;
    float: left;
}
.nav-sections__list {
    margin: 0;
    overflow: auto;
    list-style: none;
    counter-reset: nav-sections;
}
.nav-sections__item {
    counter-increment: nav-sections;
}
.nav-sections__link {
    @include font-smoothing();
    @include fs-data(2);
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: $c-neutral1;
    padding: rem($gs-baseline) rem($gs-baseline / 2);

    @include mq(tablet) {
        min-width: rem(gs-span(3));
        @include fs-headline(2);
        font-weight: bold;
        border-right: 1px solid $white;
        padding: rem($gs-baseline) rem($gs-gutter);
    }
}
.nav-sections__link:hover {
    text-decoration: none;
}
.nav-sections__link.is-active {
    background-color: lighten($mem-brandBlue, 10%);
}
@include mq(tablet) {
    .nav-sections__link::before {
        color: $white;
        content: counter(nav-sections) ". ";
        display: block;
        margin-bottom: .2em;
    }
}

/* ==========================================================================
   Nav - Popup
   ========================================================================== */

.nav-popup {

    @include unstyled-list();

    position: absolute;
    top: 0;
    z-index: 10;

    clear: both;
    list-style: none;
    box-sizing: border-box;
    margin-bottom: rem(-4px);
    background-color: $white;
    padding: 0 rem($gs-gutter / 2);

    top: rem($mobilePopupOffset);
    min-height: rem(47px);
    width: rem(175px);

    @include mq(tablet) {
        position: absolute;
        top: rem(40px);
        left: rem(30px);
        width: rem(220px);
        border: 1px solid $c-neutral4;
    }
}
.nav-popup:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $white;
    border-width: rem(6px);
    margin-left: rem(-6px);

    @include mq(desktop) {
        left: 18%;
        border-width: rem($gs-gutter / 2);
        margin-left: rem(-$gs-gutter / 2);
    }
}
.nav-popup__list {
    padding-left: 0;
    padding-right: 0;
}
.nav-popup__item {
    float: none;
    width: 100%;
    display: block;
    border-right: 0;
    box-sizing: border-box;
}
.nav-popup__link {

    @include fs-bodyHeading(1);
    @include font-smoothing();

    display: block;
    border-bottom: 1px solid $c-neutral7;
    text-decoration: none;
    padding: rem($gs-baseline / 2) 0 rem($gs-baseline);

    @include mq(tablet) {
        padding: rem($gs-gutter / 2) 0;
    }

    &,
    &:active,
    &:focus {
        color: $black;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
.nav-popup__item:last-child  .nav-popup__link {
    border-bottom: 0 none;
}

/* Mobile Menu (Toggle link)
   ========================================================================== */

.mobile-menu {

    position: absolute;
    right: 0;
    z-index: 3;

    color: $white;
    display: block;
    height: rem($global-nav-height);
    border: 0 none;
    padding: rem(3px) rem(9px) rem(9px);
    box-shadow: rem(-3px) 0 rem(4px) 0 rgba(50, 50, 50, .30);
    background-color: lighten($black, 20%);
    text-decoration: none;

    i {
        border-top: rem(2px) solid rgba(255, 255, 255, .9);
        display: block;
        width: rem(20px);
        margin-top: rem(3px);
        transform-origin: 60%;
        -webkit-transition: opacity .1s, -webkit-transform .1s ease-in;
        transition: opacity .1s, transform .1s ease-in;
    }

    &.is-active {
        top: 100%;
        i {
            transform-origin: 43%;

            &:nth-child(1) {
                transform: translateY(rem(4px)) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(rem(-4px)) rotate(-45deg);
            }
        }
    }
}
.mobile-menu__icon {
    display: block;
    text-align: center;
    height: rem($gs-baseline * 2);
    padding-top: rem($gs-baseline / 2);
}
