/* ==========================================================================
   Navigation
   ========================================================================== */
/* ==========================================================================
   Navigation: Global Navigation
   ========================================================================== */

.global-navigation {

    @include clearfix();
    @include unstyled-list();
    @include overflow-scroll-x();
    @include fs-headline(2);
    @include font-smoothing();
    font-weight: guss-font-weight(medium);

    clear: both;
    display: block;
    height: auto;
    padding: 0;
    background-color: color(neutral-1);

    &::-webkit-scrollbar {
        display: none;
    }

    @include mq(tablet) {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    @include mq(desktop) {
        overflow-x: hidden;
    }

    .icon-home {
        vertical-align: top;
    }


}
.global-navigation__scroll {
    display: table;
    white-space: nowrap;
    width: auto;
    vertical-align: middle;
    height: $global-toggle-height;
    padding: 0 ($global-toggle-height * 2) 0 ($gs-gutter / 2);

    @include mq(tablet) {
        padding: 0 $gs-gutter;
        display: block;
    }
    @include mq(desktop) {
        width: 100%;
    }
}
.global-navigation__list {
    margin: 0;
    list-style: none;
    display: table-row;

    @include mq(desktop) {
        display: block;
    }
}
.global-navigation__item {
    display: table-cell;
    vertical-align: middle;
    text-transform: lowercase;

    @include mq(desktop) {
        display: block;
        float: left;
    }
}
.global-navigation__item--sub {
    display: none;
    padding-left: $gs-gutter;
}
.global-navigation__item--right {
    @include mq(desktop) {
        float: right;
    }
}
.global-navigation__link {
    position: relative;
    margin: 0 $gs-gutter 0 0;
    padding: 0;

    &, &:active {
        color: $white;
        text-decoration: none;
    }
    &:focus,
    &:active {
        text-decoration: underline;
    }

    @include mq(tablet) {
        display: block;
        padding: 8px 0 6px;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}
.global-navigation__link--last {
    margin-right: 0;
}

@include mq($until: tablet) {
    .global-navigation.is-active {

        display: block;
        height: auto;
        padding: 0;
        padding-top: $global-toggle-height;
        position: absolute;
        z-index: 2;
        top: 100%;
        width: 100%;
        background: color(neutral-1);

        .global-navigation__scroll,
        .global-navigation__list,
        .global-navigation__item {
            display: block;
            height: auto;
            padding: 0;
        }

        .global-navigation__item {
            width: 100%;
        }
        .global-navigation__item--home {
            display: none;
        }
        .global-navigation__item--sub {
            display: block;
        }

        .global-navigation__link {
            @include font-smoothing();
            @include fs-bodyHeading(1);
            font-weight: normal;
            display: block;
            background-color: transparent;
            border-bottom: 1px solid lighten(color(neutral-1), 10%);
            text-decoration: none;
            padding: ($gs-baseline / 2) 0 $gs-baseline $gs-baseline;
            margin: 0;

            &,
            &:active,
            &:focus {
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* ==========================================================================
   Navigation: Secondary Navigation
   ========================================================================== */

.nav-secondary {
    @include unstyled-list();
    background-color: color(neutral-7);
    position: relative;
}
.nav-secondary__inner {
    @include clearfix();
    padding: 0 ($gs-gutter / 2);

    @include mq(tablet) {
        padding: 0 $gs-gutter;
    }
}
.nav-secondary__list,
.nav-secondary__item {
    display: block;
    float: left;
}
.nav-secondary__list {
    margin: 0;
    overflow: auto;
    list-style: none;
}
.nav-secondary__item {
    margin-right: $gs-gutter;
}
.nav-secondary__link {
    @include fs-headline(2);
    line-height: 1;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-transform: lowercase;
    color: $black;
    padding: rem($gs-gutter / 2) 0;
}
.nav-secondary__breadcrumb {
    border-right: 1px solid $white;
    margin-right: rem($gs-gutter);
    padding-right: rem($gs-gutter / 2);
}
.nav-secondary__breadcrumb__item {
    margin-right: $gs-gutter / 2;
}
.nav-secondary__breadcrumb__trail::after {
    content: "›";
    display: inline-block;
    vertical-align: middle;
    margin-left: rem($gs-gutter / 2);
}

/* ==========================================================================
   Navigation: Control Navigation
   ========================================================================== */

.nav-control {
    @include unstyled-list();

    > li,
    > li > a {
        vertical-align: top;
    }
}
.nav-control__item {
    margin-right: rem($gs-baseline);
    position: relative;
}
.nav-control__item--last {
    margin-right: 0;
}

/* ==========================================================================
   Navigation: Popup
   ========================================================================== */

.nav-popup {

    @include unstyled-list();

    position: absolute;
    top: 43px;
    min-height: 47px;
    width: 175px;
    z-index: 10;

    clear: both;
    list-style: none;
    box-sizing: border-box;
    margin-bottom: rem(-4px);
    background-color: $white;
    padding: 0 rem($gs-gutter / 2);


    @include mq(tablet) {
        position: absolute;
        top: 40px;
        left: 30px;
        width: 220px;
        border: 1px solid $c-neutral4;
    }
}
.nav-popup:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $white;
    border-width: rem(6px);
    margin-left: rem(-6px);

    @include mq(desktop) {
        left: 18%;
        border-width: rem($gs-gutter / 2);
        margin-left: rem(-$gs-gutter / 2);
    }
}
.nav-popup__list {
    padding-left: 0;
    padding-right: 0;
}
.nav-popup__item {
    float: none;
    width: 100%;
    display: block;
    border-right: 0;
    box-sizing: border-box;
}
.nav-popup__link {

    @include fs-bodyHeading(1);
    @include font-smoothing();

    display: block;
    border-bottom: 1px solid $c-neutral7;
    text-decoration: none;
    padding: rem($gs-baseline / 2) 0 rem($gs-baseline);

    @include mq(tablet) {
        padding: rem($gs-gutter / 2) 0;
    }

    &,
    &:active,
    &:focus {
        color: $black;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
.nav-popup__item:last-child  .nav-popup__link {
    border-bottom: 0 none;
}

/* Mobile Menu (Toggle link)
   ========================================================================== */

.mobile-menu {

    position: absolute;
    right: 0;
    z-index: 3;
    display: block;
    height: $global-toggle-height;
    border: 0 none;
    padding: 3px 9px 9px;
    text-decoration: none;
    color: $white;
    background-color: $black;

    i {
        border-top: 2px solid rgba(255, 255, 255, .9);
        display: block;
        width: 20px;
        margin-top: 3px;
        transform-origin: 60%;
        transition: opacity .1s, transform .1s ease-in;
    }

    &.is-active {
        top: 100%;
        i {
            transform-origin: 43%;

            &:nth-child(1) {
                transform: translateY(rem(4px)) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(rem(-4px)) rotate(-45deg);
            }
        }
    }
}
.mobile-menu__icon {
    display: block;
    text-align: center;
    height: ($gs-baseline * 2);
    padding-top: ($gs-baseline / 2);
}

/* Nav Sections
   ========================================================================== */

.nav-sections {
    @include unstyled-list();
    overflow: hidden;
    color: $c-neutral1;
    background-color: $c-neutral7;
    position: relative;
}
.nav-sections--sticky {
    @include mq(tablet) {
        will-change: transform;
        position: absolute;
        top: 0;
        z-index: 3;
        width: 100%;
    }
}
.nav-sections.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav-sections__list,
.nav-sections__item {
    display: block;
    float: left;
}
.nav-sections__list {
    margin: 0;
    width: 100%;
    overflow: auto;
    list-style: none;

    @include mq(tablet) {
        margin-left: $gs-gutter;
        border-left: 1px solid color(brand-main);
    }

    @include mq(mem-full) {
        margin-left: gs-span(2.5);
    }
}
.nav-sections__item,
.nav-sections__link {
    height: 50px;
    @include mq(tablet) {
        height: 60px;
    }
}
.nav-sections__item {
    @include mq($until: tablet) {
        width: 28%;
        .nav-sections__list &:first-child {
            width: 44%;
        }
    }
}
.nav-sections__link {
    @include font-smoothing();
    @include fs-data(3, true);
    @include f-textSans;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: $gs-gutter / 2;
    color: $c-neutral2;
    border-right: 1px solid color(brand-main);

    @include mq($until: tablet) {
        width: 100%;
    }

    @include mq(tablet) {
        @include fs-data(4, true);
        @include f-textSans;
        font-weight: bold;
        width: 207px;
        padding: 9px $gs-gutter;
        .nav-sections__list .nav-sections__item:first-child & {
            width: 205px;
        }
    }
}
.nav-sections__link:hover,
.nav-sections__link:active,
.nav-sections__link.is-active {
    text-decoration: none;
    color: $white;
    background-color: color(brand-main);
}
@include mq($until: tablet) {
    .nav-sections__item:last-child .nav-sections__link {
        border-right: none;
    }
}
