/* ==========================================================================
   Packages
   ========================================================================== */

/* ==========================================================================
   Package Promo
   - Main package panel used across the site
   ========================================================================== */

// This is the height of the actions block that contains the price & call-to-action button
$_package-promo__actions_height: 117px;

@mixin package-promo-base() {
    border-top: 5px solid;
    background-color: $c-neutral7;
    padding: rem($gs-gutter / 4);

    .package-promo__header {
        margin-bottom: rem($gs-gutter / 2);
    }
    .package-promo__content {
        padding: 0;
    }
    .package-promo__description {
        @include fs-headline(2);
        margin-bottom: rem($gs-gutter / 2);
        p { margin-bottom: 0; }
    }
    .package-promo__actions {
        margin: rem($gs-gutter / 2) 0;
    }
    .package-promo__actions__pricing {
        margin-bottom: rem($gs-gutter);
        border-top: 1px solid $c-border-neutral;
    }
    .package-promo__tier {
        @include clearfix;
    }
}

// Title, description, price, button simply stacked vertically
@mixin package-promo-narrow() {
    @include package-promo-base();

    // To ensure whitespace appears after the description in equal-height columns
    @include mq(desktop) {
        position: relative;

        .package-promo__description {
            // Make space for this absolutely positioned element
            padding-bottom: $_package-promo__actions_height;
        }

        .package-promo__actions {
            position: absolute;
            bottom: 0;
            left: $gs-gutter / 4;
            right: $gs-gutter / 4;
        }
    }
}

// Price & button pulled off to the right
@mixin package-promo-wide() {
    @include package-promo-base();

    .package-promo__content {
        display: table;
        padding-bottom: $gs-gutter / 2;
    }

    .package-promo__description {
        padding-right: $gs-gutter * 2;
        display: table-cell;
        vertical-align: top;
        width: 100%;
    }

    .package-promo__actions {
        margin-top: 0;
        display: table-cell;
        vertical-align: top;
        width: auto;
        min-width: 205px;
        max-width: 350px;
    }
}

// Narrow -> wide -> narrow
.package-promo--default {
    @include mq($from: mobile, $until: tablet) {
        @include package-promo-narrow();
    }
    @include mq($from: tablet, $until: desktop) {
        @include package-promo-wide();
    }
    @include mq($from: desktop) {
        @include package-promo-narrow();
    }
}

// Narrow -> narrow -> narrow
.package-promo--always-narrow {
    @include package-promo-narrow();
}

// Narrow -> wide -> wide
.package-promo--homepage {
    @include mq($from: mobile, $until: tablet) {
        @include package-promo-narrow();
    }
    @include mq($from: tablet) {
        @include package-promo-wide();

        .package-promo__actions {
            min-width: 270px;
        }
    }
}

// This is basically the old mobile view. No description
.package-promo--minimal {
    position: relative;
    border-top: 5px solid;
    background-color: $c-neutral7;

    .package-promo__header {
        padding: rem($gs-gutter / 4);
    }
    .package-promo__content {
        padding: 0;
    }
    .package-promo__actions {
        position: absolute;
        bottom: rem($gs-baseline / 2);
        right: rem($gs-baseline / 2);
    }
    .package-promo__tier {
        @include clearfix;
        position: relative;
        min-height: rem(gs-span(1.5));
    }
    .package-promo__tier__pricing {
        position: absolute;
        bottom: rem($gs-baseline / 2);
        border: solid $c-border-neutral;
        border-width: 0;
    }

    @include mq(tablet) {
        .package-promo__description {
            display: inline-block;
            vertical-align: top;
            margin-bottom: rem($gs-baseline);
        }
        .package-promo__content {
            margin-left: 35%;
            padding: 0 rem($gs-gutter / 4) rem($gs-baseline / 2) 0;
        }
        .package-promo__actions {
            position: static;
            padding-top: rem($gs-gutter / 4);
            padding-bottom: rem($gs-gutter / 4);
        }
        .package-promo__tier {
            min-height: 0;
        }
        .package-promo__tier__title {
            float: left;
            width: 35%;
        }
        .package-promo__tier__pricing {
            position: static;
            float: left;
            width: 65%;
            border-width: 0 0 1px 0;
            margin-top: -(rem($gs-gutter / 4));
        }
        margin-bottom: rem($gs-gutter);
    }
}

.package-promo--reversed {
    background-color: $white;
}

/* ==========================================================================
   Package Feature
   - Package features grid (See /supporter)
   ========================================================================== */

.package-feature {
    @include clearfix;
    position: relative;
    margin-bottom: rem($gs-gutter);
}
.package-feature__promo {
    @include mq(tablet) {
        float: left;
        width: (45% - $gutter-width-fluid);
        margin-right: $gutter-width-fluid;
    }
    @include mq(desktop) {
        width: 35%;
        margin-right: 0;
    }
}
.package-feature__benefits {
    @include mq(tablet) {
        float: right;
        width: 55%;
    }
    @include mq(desktop) {
        width: 65%;
        padding-left: rem($gs-gutter);
    }
}
.package-feature__leadin {
    @include fs-headline(2);
    font-weight: 500;
    padding: rem($gs-baseline / 2) 0 rem($gs-baseline);

    @include mq(tablet) {
        border-top: 5px solid;
    }
}

/* ==========================================================================
   Package Stack
   - Package benefits stack (See /choose-tier)
   ========================================================================== */

.package-stack {
    @include clearfix;
    border-top: 1px solid $c-border-neutral;
    padding-top: rem($gs-baseline / 2);
    margin-bottom: rem($gs-gutter);
}
    .package-stack__header {
        border-bottom: 1px dotted $c-border-neutral;
        padding-bottom: rem($gs-baseline / 2);
        margin-bottom: rem($gs-baseline / 2);

        @include mq(tablet) {
            width: 35%;
            float: left;
            border-bottom: 0 none;
        }
    }
    .package-stack__content {
        margin-left: rem($gs-gutter * 2);

        @include mq(tablet) {
            width: 65%;
            float: left;
            margin-left: 0;
        }
    }

/* ==========================================================================
   Package Teaser
   ========================================================================== */

.package-teaser {
    border-top: 1px solid $c-neutral5;
    margin-bottom: rem($gs-gutter);
}
.package-teaser__title {
    @include fs-header(2);
    font-weight: bold;
    margin: 0 0 rem($gs-baseline / 4) 0;
    padding-top: rem($gs-baseline / 2);
}
.package-teaser__description {
    @include fs-headline(2);
    font-weight: normal;
    margin-bottom: rem($gs-baseline / 2);
}
