/* ==========================================================================
   Page
   ========================================================================== */

$_page-offset: rem(gs-span(2) + $gs-gutter);

/* ==========================================================================
   Brochure Page Layout Components
   ========================================================================== */

/* Page Slice
   - Used on brochure style pages, full-width page segments
   ========================================================================== */

.page-slice {
    @include clearfix;
    background-color: $white;
    padding-bottom: rem($gs-gutter * 3);
}
.page-slice__inner {
    width: 100%;

    @include mq(desktop) {
        width: rem(gs-span(12) + $gs-gutter * 2);
        margin: 0 auto;
    }

    @include mq(mem-full) {
        width: rem(gs-span(14) + $gs-gutter * 2);
    }
}
.page-slice__headline {
    @include fs-headline(6);
    padding: rem($gs-gutter/2);
    border-top: 2px solid $c-neutral6;
    @include mq(tablet) {
        @include fs-headline(7);
        padding: rem($gs-baseline) rem($gs-gutter);
    }
}

/* Page Slice Content
   - Inner content for a page slice (pushed to right)
   ========================================================================== */

.page-slice-content {

    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-gutter);
    }
    @include mq(mem-full) {
        padding-left: rem($gs-gutter * 9);
    }
}


/* ==========================================================================
   Functional Page Layout Components
   ========================================================================== */

/* Page Header
   ========================================================================== */

/**
 * Page header is the container,
 * typically combined with page-headline and page-intro
 */
.page-header {
    padding: rem($gs-gutter / 2) 0 rem($gs-baseline * 3);

    @include mq(tablet) {
        padding-bottom: rem($gs-baseline * 4);
    }

    @include mq(mem-full) {
        width: rem(gs-span(11));
        padding-right: rem($gs-gutter);
        padding-left: $_page-offset;
    }
}

/**
 * Main page headline for functional pages
 */
.page-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(7);
    }
}

/**
 * Optional page intro for functional pages
 */
.page-intro {
    color: $c-neutral2;
    @include fs-headline(2);

    @include mq(tablet) {
        @include fs-headline(3);
    }
}

/* Page Section
   ========================================================================== */

/**
 * Example usage:
 * <div class="page-section page-section--bordered">
 *     <div class="page-section__leadin">
 *         <h2 class="page-section__headline">Headline</h2>
 *     </div>
 *     <div class="page-section__content">[...]</div>
 *     <div class="page-section__supplementary">(Optional)</div>
 * </div>
 *
 * Only .page-section and .page-section__content are required
 */
.page-section {
    @include clearfix;
    position: relative;
    padding-bottom: rem($gs-baseline * 3);

    @include mq(desktop) {
        width: auto;
    }
}
.page-section--no-padding {
    padding-bottom: 0;
}
.page-section__lead-in {
    @include mq(mem-full) {
        width: rem(gs-span(2));
        position: absolute;
        left: 0;
    }
}
.page-section__headline {
    @include fs-header(3);
    padding-bottom: rem($gs-gutter * 1.6);
}
.page-section__content {
    @include mq(desktop) {
        float: left;
        width: rem(gs-span(8));
    }
    @include mq(mem-full) {
        width: rem(gs-span(11));
        padding-left: $_page-offset;
    }
}
.page-section__supplementary {
    clear: both;
    @include mq(desktop) {
        clear: none;
        float: right;
        width: rem(gs-span(4));
    }
    @include mq(mem-full) {
        width: rem(gs-span(3));
    }
}

/* Page Section - Bordered (Modifier)
   ========================================================================== */

/**
 * Example usage:
 * <div class="page-section page-section--bordered">
 *     <div class="page-section__content">[...]</div>
 * </div>
 */
.page-section--bordered {

    .page-section__lead-in,
    .page-section__content,
    .page-section__supplementary {
        padding-top: rem($gs-gutter/2);
    }

    .page-section__lead-in {
        border-top: 1px solid $mem-blue;
    }

    @include mq(desktop) {
        .page-section__lead-in {
            border-top: none;
        }
        .page-section__content {
            border-top: 1px solid $mem-blue;
        }
    }
}
