/* ==========================================================================
   Panels
   ========================================================================== */

/* Panel (Basic)
   ========================================================================== */

.panel {
    @include clearfix();
}
.panel__media {
    margin-bottom: rem($gs-baseline / 2);

    @include mq($until: tablet) {
        display: none;
    }
}
.panel__title {
    @include fs-header(2);
    margin: 0 0 ($gs-baseline / 3) 0;
}
.panel__description {
    @include fs-header(1);
    font-weight: normal;
}

/* Brand Panel
   ========================================================================== */

.brand-panel {
    @include clearfix();
    position: relative;
    background-color: $white;
    border-top: 1px solid $c-neutral6;
    margin-bottom: $gs-baseline / 2;
}
.brand-panel__header {
    padding: $gs-gutter / 4;

    @include mq(tablet) {
        height: 140px;
    }
}
.brand-panel__media {
    background-color: color(brand-supporting-2);
}
.brand-panel__title {
    @include fs-header(4);
}
.brand-panel__description {
    @include fs-header(1);
    font-weight: normal;
    margin-bottom: $gs-baseline;
}

/* ==========================================================================
   Asides
   ========================================================================== */

.aside {
    border: solid $c-border-brand;
    border-width: 1px 0 0 0;
    padding-top: rem($gs-baseline/2);
    margin-bottom: rem($gs-gutter);
}
    .aside__intro {
        @include fs-header(2);
        padding-bottom: rem($gs-gutter);

        @include mq(tablet) {
            @include fs-headline(2);
        }
    }

.aside--pull {
    @include mq(desktop) {
        margin-top: -(rem($gs-baseline/2));
    }
}

.aside--section {
    border-width: 1px 0 0 0;
    padding-top: rem($gs-baseline/2);

    @include mq(tablet) {
        margin-top: rem(45px);
        padding-top: rem($gs-baseline/2);
        border-width: 1px 0 0 0;
    }
    @include mq(mem-full) {
        margin-top: 0;
    }
}

.aside--panel {
    border: 0 none;
    background-color: $c-neutral6;
    border-radius: rem($gs-baseline / 3);
    padding: rem($gs-baseline * 2);
    margin-bottom: rem($gs-baseline * 2);
}
