/* ==========================================================================
   Patterns
   ========================================================================== */

    .pattern {
        margin-top: rem($gs-gutter * 2);
        border-top: 1px solid $c-neutral6;
    }
        .pattern__description {
            color: $c-neutral2;
            margin-bottom: rem($gs-gutter);
        }
