/* ==========================================================================
   Patterns
   ========================================================================== */

    .pattern {
        margin-top: rem($gs-gutter * 2);
        border-top: 1px solid $c-neutral6;
        overflow: hidden;
    }
        .pattern__description {
            color: $c-neutral2;
            margin-bottom: rem($gs-gutter);
        }

    .pattern-nav {
        position: fixed;
        bottom: 0; right: 0;
        width: 100%;
        z-index: 10000;
        padding: .5em 1em;
        background: $mem-trans-white;
        text-align: center;
    }
