/* ==========================================================================
   Patterns
   ========================================================================== */

.pattern {
    margin-top: rem($gs-gutter * 2);
}
    .pattern__header {
        margin-bottom: rem($gs-gutter);
        border-top: 1px solid $c-neutral6;
        padding-top: rem($gs-baseline / 2);
    }
    .pattern__title {
        @include fs-data(6);
    }
    .pattern__description {
        @include fs-data(4);
        color: $c-neutral2;
    }

.pattern-nav {
    position: fixed;
    bottom: 0; right: 0;
    width: 100%;
    z-index: 10000;
    padding: .3em 1em;
    background: transparentize($white, .3);
    text-align: center;
}

.pattern-icon-grid > svg {
    margin-right: rem($gs-gutter / 2);
    width: 24px; height: 24px;
}
