.skin-checkout-b {
    background: #fff;

    .form-header,
    .form-section__content {
        float: none;
        margin-right: 10px; 
        margin-left: 10px;
        padding: 0;
        
        
        @include mq($from: mobileLandscape) {
            max-width: 440px;
            margin: 0 auto;
        }

        @include mq($from: tablet) {
            max-width: 700px;
            margin: 0 auto;
        }
    }

    .form-headline {

    }

    .form-group__title {
        margin-top: 4px;
    }

    .form-section__progress-bar {
        padding-bottom: 10px;
        border-bottom: solid guss-colour(news-support-1) 1px;
    }
}

.skin-checkout-b::before,
.skin-checkout-b::after {
    background: #fff;
}
