.skin-checkout-paypal {

    /* ==========================================================================
       Form Header & Content
       ========================================================================== */

    .checkout-header, .form-content {
        border-bottom: none;
        float: none;
        width: auto;
        margin: 0 10px;

        @include mq($from: mobileLandscape) {
            max-width: 440px;
            margin-left: auto;
            margin-right: auto;
        }

        @include mq($from: tablet) {
            max-width: rem(gs-span(9));
        }
    }

    .checkout-header {
        padding-bottom: 36px;
        padding-top: 10px;
    }

    .checkout-headline {
        @include fs-headline(7);
    }

    .form-content {
        counter-reset: panel;
    }

    .app-nexus-pixel {
        display: block;
    }

    /* ==========================================================================
       Forms: Panels
       ========================================================================== */

    .form-panel {
        display: table;
        background-color: guss-colour(comment-support-2);
        border-top: 1px solid guss-colour(news-main-2);
        width: 100%;
    }

    .form-panel__heading {
        padding: ($gs-baseline / 3) ($gs-gutter / 2) ($gs-baseline * 2);

        @include mq(tablet) {
            display: table-cell;
            min-width: gs-span(4) + $gs-gutter;
        }
    }

    .form-panel__headline::before {
        counter-increment: panel;
        content: counter(panel) " ";
        color: guss-colour(news-main-2);
        padding-right: 5px;
    }

    .form-panel__headline {
        display: inline-block;
    }

    .form-panel__headline, .benefits__headline {
        @include fs-headline(3);
        font-weight: 900;
        font-family: $f-serif-headline;
    }

    .form-panel__content {
        vertical-align: top;
        padding: 0 ($gs-gutter / 2) 0;
        margin-bottom: $gs-baseline * 2;

        @include mq(tablet) {
            display: table-cell;
            min-width: gs-span(5);
            padding: 0;
            padding-top: $gs-baseline / 3;
        }
    }

    .form-section__name-detail {
        margin-top: 0;
    }

    .form-panel--no-margin {
        margin-bottom: 0;
    }

    .form-panel__edit {
        @include fs-textSans(1);
        @include text-link();
        float: right;
        cursor: pointer;
    }

    /* ==========================================================================
       Forms: Fieldset
       ========================================================================== */

    .fieldset {
        border: none;
        display: block;
        background-color: inherit;
    }

    .fieldset__heading {
        border-top: 1px dotted guss-colour(neutral-3);
        padding: ($gs-baseline / 4) 0 0;
        width: 100%;
    }

    .fieldset__heading--no-border {
        @include mq(tablet) {
            padding-top: 0;
            border: none;            
        }
    }

    .fieldset__heading, .fieldset__fields {
        display: block;
        margin: 0 0 ($gs-baseline * 2);

        @include mq(tablet) {
            display: block;
        }
    }

    .fieldset__fields {
        padding: 0;
        margin-bottom: $gs-baseline * 2;
        width: 100%;

        @include mq(tablet) {
            padding-right: $gs-gutter / 2;
        }
    }

    .fieldset__headline {
        @include fs-bodyHeading(2);
    }

    .fieldset__headline--payment {
        display: inline-block;
    }

    /* ==========================================================================
       Forms: Benefits
       ========================================================================== */

    .benefits {
        border: 0;
        padding: 0;
        margin: 0;
        display: table;
        border-top: 1px solid guss-colour(news-main-2);
    }

    .benefits__heading {
        padding: ($gs-baseline / 3) 0 ($gs-baseline * 2);

        @include mq(tablet) {
            display: table-cell;
            width: gs-span(4) + $gs-gutter;
        }
    }

    .benefits__headline {
        margin: 0;
    }

    .benefits__list {
        vertical-align: top;
        padding: 0;
        padding-bottom: $gs-baseline * 2;

        @include mq(tablet) {
            display: table-cell;
            width: gs-span(5);
            padding-top: $gs-baseline / 3;
        }
    }

    .benefits__list ul {
        margin-bottom: 0;
    }

    .benefits__list li {
        fill: guss-colour(news-main-2);
        list-style-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiI+PHN0eWxlPi5zdDB7ZmlsbDojNTRDMURBO308L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjYiIGN5PSI2IiByPSI2Ii8+PC9zdmc+);
    }

    /* ==========================================================================
       Forms: Fields
       ========================================================================== */

    .label {
        color: inherit;
    }

    .input-text {
        border: none;
    }

    .pseudo-radio {
        border: none;
        padding: 0;
        padding-left: 22px;
    }

    .pseudo-radio::before {
        background-color: #fff;
        top: 2px;
        margin-left: -12px;
    }

    .pseudo-radio__header {
        @include fs-bodyHeading(2);
        margin-bottom: 0;
    }

    input[type=radio]:checked ~ .pseudo-radio:before  {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjgiIGZpbGw9Im5vbmUiLz48Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNCIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==);
        background-color: #fff;
    }

    .select {
        border-radius: 650px;
        padding: 8px 8px 7px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNyAxNC4xMyI+PHN0eWxlPi5zdDB7ZmlsbDojMzMzMzMzO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0uNTUgMy44NEwwIDMuMjkgMy4yOCAwaC40NUw3IDMuMjlsLS41NS41NS0yLjMxLTEuNzd2My43MUgyLjg2VjIuMDdMLjU1IDMuODR6TTcgMTAuODVsLTMuMjggMy4yOGgtLjQ0TDAgMTAuODVsLjU1LS41OCAyLjMxIDEuNzdWOC4zNWgxLjI4djMuNjlsMi4zMS0xLjc3LjU1LjU4eiIvPjwvc3ZnPg==);
        background-repeat: no-repeat;
        background-position: right 13px top 10px;
        background-size: 7px;
        border: none;
        appearance: none;
        outline: none;
    }

    .input-text:focus, .select:focus {
        box-shadow: inset 0 0 0 3px rgba(guss-colour(comment-support-1), 0.3);
    }

    // Fix for IE10+, hides the dropdown arrow.
    .select::-ms-expand {
        display: none;
    }

    .billing-choice .pseudo-radio:before {
        top: 2px;
    }

    .period-choice .pseudo-radio__note {
        @include fs-data(3);
    }

    /* ==========================================================================
       Forms: Buttons
       ========================================================================== */

    .form-panel__continue {
        background-color: guss-colour(guardian-brand);
        border-color: guss-colour(guardian-brand);
        border-radius: 650px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxMC40MXB4IiB2aWV3Qm94PSIwIDAgMjAgMTAuNDEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDEwLjQxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iMTkuMTEsMCAxMC4wMDEsNy42NzEgMC44OSwwIDAsMC44NjYgOS41NDQsMTAuNDEgMTAuNDU3LDEwLjQxIDIwLDAuODY2ICIvPg0KPC9zdmc+DQo=) center right no-repeat;
        background-position: right 9px top 15px;
        background-color: guss-colour(guardian-brand);
        padding-right: 40px;

        @include mq(tablet) {
            margin-bottom: $gs-baseline * 2;
        }
    }

    .form-panel__continue:after, .choose-payment-method:after {
        display: none;
    }

    .choose-payment-method {
        height: gs-height(1);
        background-color: guss-colour(guardian-brand);
        width: 227px;
        border-color: guss-colour(guardian-brand);
        text-align: center;
    }

    .choose-payment-method, .form-panel__continue {
        &:hover {
            background-color: darken(guss-colour(guardian-brand), 10);
        }
    }

    /* ==========================================================================
       Forms: Notes
       ========================================================================== */

    .text-note {
        margin-left: $gs-gutter;
    }

    .text-note, .fieldset-note, .security-note, .optional-marker:after, .pseudo-radio__note {
        color: rgba(guss-colour(neutral-1), 0.75);
    }

    .pseudo-radio__note {
        @include fs-bodyCopy(2);
        margin-bottom: $gs-baseline;
    }

    .security-note {
        @include fs-data(2);
        float: right;

        @include mq(tablet) {
            padding-right: $gs-gutter / 2;
        }
    }

    .ts-and-cs {
        @include fs-textSans(2);
    }

    /* ==========================================================================
       Forms: Errors
       ========================================================================== */

    .flash-message--error {
        padding: ($gs-baseline / 2) ($gs-gutter / 4);
        color: guss-colour(live-main-2);
        border-color: guss-colour(live-main-2);
        margin: ($gs-baseline * 2) 0;
        font-size: 13px;
        line-height: 17px;
        background-color: #fae9e7;

        @include mq(tablet) {
            margin-right: $gs-gutter / 2;
        }
    }

    .form-field--error .input-text, .form-field--error .select {
        border: 2px solid guss-colour(live-main-2);
    }

    .form-field__error-message {
        margin-top: $gs-baseline / 4;
        color: guss-colour(live-main-2);
    }

    .qa-form-error {
        @include mq(tablet) {
            margin-top: 0;
        }
    }

}
