/* ==========================================================================
   Pricing
   ========================================================================== */

/* Price Info
   ========================================================================== */

.price-info {
    position: relative;
    display: table;
    width: 100%;
    border-spacing: 0;
    max-width: rem(gs-span(4) - $gs-gutter);

    @include mq(mobileLandscape) {
        max-width: rem(gs-span(4) - $gs-gutter * 2);
    }
}
.price-info__item {
    text-align: left;
    display: table-cell;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding-right: $gutter-width-fluid;
    border-right: 1px solid $black-trans;
}
.price-info__item--last {
    text-align: right;
    padding-right: 0;
    padding-left: $gutter-width-fluid;
    border-right: 0 none;
}
.price-info__detail {
    // Remove spacing between inline-block elements
    font-size: 0;
}
.price-info__value,
.price-info__date {
    display: inline-block;
}
.price-info__value {
    @include fs-header(4);
}
.price-info__value--free {
    font-weight: normal;
}
.price-info__date {
    @include fs-headline(2);
}
.price-info__saving {
    @include fs-textSans(1);
    display: block;
    text-align: left;

    @include mq(tablet) {
        margin-top: -3px;
    }
}

// Reversed colour modifiers
.price-info--friend,
.price-info--patron {
    color: $white;
    .price-info__item--split {
        border-color: $white-trans;
    }
}

/* Price Info - Inline
   ========================================================================== */
// Miminal inline version of price info component

.price-info-inline {
    padding-bottom: rem($gs-baseline);
}
.price-info-inline__value {
    padding-bottom: 0;
    @include fs-header(4);
}
.price-info-inline__trail {
    @include fs-data(3);
    color: $c-neutral2;
}
