/* ==========================================================================
   Pricing
   ========================================================================== */

/* Price Info
   ========================================================================== */

.price-info {
    position: relative;
    max-width: rem(gs-span(4));

    @include mq(tablet) {
        display: table;
        width: 100%;
        border-spacing: 0;
    }

    @include mq(desktop) {
        min-height: rem($gs-gutter * 3);
    }

}
    .price-info__item {
        display: inline-block;
        vertical-align: top;
        padding: rem($gs-baseline / 2) 0;
    }
    .price-info__item--split {
        border-right: 1px solid lighten($c-border-neutral, 10%);
        padding-right: rem($gs-gutter / 2);
    }
    .price-info__item--last {
        padding-right: 0;
        padding-left: rem($gs-gutter / 2);
        border-right: 0 none;
    }
    .price-info__detail {
        /* Remove spacing between inline-block elements */
        font-size: 0;
    }
    .price-info__value,
    .price-info__date {
        display: inline-block;
    }
    .price-info__value {
        @include fs-header(4);
    }
    .price-info__value--free {
        font-weight: 500;
    }
    .price-info__date {
        @include fs-headline(2);
    }
    .price-info__saving {
        @include fs-textSans(1);
        color: $c-neutral2;
        display: block;
        text-align: left;
        margin-top: -3px;
    }

/**
 * Price info Layout
 *
 * Default pricing info components stretch to fill the available width on desktop only
 * if canFlex / price-info--flex is added, fill width at all times.
 *
 * Mixin to share repeated styles.
 */
@mixin pricing-flex() {
    display: table;
    width: 100%;
    border-spacing: 0;

    .price-info__item {
        display: table-cell;
        vertical-align: top;
        text-align: left;
        width: 50%;
        height: 100%;
        padding-right: $gutter-width-fluid;

    }
    .price-info__item--single,
    .price-info__item--last {
        text-align: right;
    }
    .price-info__item--single {
        padding-right: 0;
    }
    .price-info__item--last {
        padding-right: 0;
        padding-left: $gutter-width-fluid;
    }
}

.price-info {
     @include mq(desktop) {
        @include pricing-flex();
    }
}

.price-info--flex {
    min-height: 0;
    .price-info__item {
        padding-top: 0;
        padding-bottom: 0;
    }
    .price-info__item--split {
        border-color: $black-trans;
    }
    .price-info__saving {
        color: $c-body;
    }

    @include pricing-flex();

}

// Reversed colour modifiers
.price-info--friend,
.price-info--patron {
    color: $white;
    .price-info__saving {
        color: $white;
    }
    .price-info__item--split {
        border-color: $white-trans;
    }
}


/* Price Info - Inline
   ========================================================================== */
/* Miminal inline version of price info component */

.price-info-inline {
    @include clearfix;
    color: inherit;
}
.price-info-inline__value {
    padding-bottom: 0;
    @include fs-textSans(3);
    font-weight: bold;

    @include mq(mobileLandscape) {
        @include fs-header(4);
    }
}
.price-info-inline__trail {
    color: $c-neutral2;
    @include fs-data(2);

    @include mq(mobileLandscape) {
        @include fs-data(3, true);
    }
}

.price-info-inline--primary {
    .price-info-inline__value {
        @include fs-header(4);
        font-weight: bold;

        @include mq(mobileLandscape) {
            @include fs-header(4, true);
        }
        @include mq(tablet) {
            @include fs-header(6, true);
        }
    }
    .price-info-inline__trail {
        color: inherit;
    }
}
