/* ==========================================================================
   P R O M O   C O D E S
   ========================================================================== */


.promo__image {
    width: 100px;
    margin-bottom: 50px;
    margin-right: 10px;
    float: left;
}

.promo__congrats {
    margin-top: 10px;
}

