/* ==========================================================================
   P R O M O  C O D E S
   ========================================================================== */

.promo-code {
    overflow: hidden;
}

.promo-code__field {
    float: left;
    width: 60%;
}
.promo-code__apply {
    float: left;
    margin-top: 1px;
    margin-left: $gs-baseline;
}

.promotion {

}

.promotion__congrats {
    margin-top: $gs-baseline;
}

.promotion__congrats__tick {
    color: $c-flash-success-border;
}

.promotion__description {

}

input[type="radio"]:checked ~ .pseudo-radio--promotion {
    border-color: $c-flash-success-border;
    &:before {
        background-color: $c-flash-success-border;
    }
}
