/* ==========================================================================
   Promos
   ========================================================================== */

.promo-primary,
.promo-secondary {
    clear: both;
    overflow: hidden;
}

/* ==========================================================================
   Promo Primary
   ========================================================================== */

.promo-primary {
    background-color: $white;
}
.promo-primary,
.promo-primary__media {
    position: relative;
}
.promo-primary__header {
    color: $black;
    background-color: transparentize(color(brand-main), .1);
    min-height: rem(gs-height(2));
    padding: rem($gs-baseline) rem($gs-gutter / 2);
    padding-bottom: rem($gs-baseline * 3);
    width: 100%;

    @include mq(tablet) {
        position: absolute;
        z-index: 1;
        left: 0; top: rem($gs-baseline * 2);
        padding: rem($gs-baseline) rem($gs-gutter);
        padding-bottom: rem($gs-baseline * 4);
        min-height: rem(gs-height(3));
        width: auto;
        min-width: rem(gs-span(4));
    }

    @include mq(desktop) {
        width: 100%;
        max-width: rem(gs-span(6));
    }
}
.promo-primary__media {
    @include mq(desktop) {
        max-height: rem(gs-height(10));
        overflow: hidden;
    }
}
.promo-primary__image {
    @include mq(desktop) {
        position: relative;
        top: -(rem(gs-height(2)));
    }
}
.promo-primary__content {
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: $gs-gutter;
    }

    @include mq(desktop) {
        width: rem(gs-span(9) - $gs-gutter);
        float: right;
        position: relative;
        z-index: 2;
        margin-top: -(gs-height(2) + $gs-gutter);
        background-color: $white;
        padding-bottom: 0;
    }
}

/**
 * Promo primary lead (modifier)
 */
.promo-primary--lead {
    .promo-primary__header {
        @include mq(tablet) {
            top: 30%;
        }
        @include mq(desktop) {
            top: rem(gs-height(4.5));
        }
    }
}

/* ==========================================================================
   Promo Secondary
   ========================================================================== */

.promo-secondary {
    @include mq(tablet) {
        padding: rem($gs-gutter);
    }
}
.promo-secondary__media {
    @include clearfix();
    background-color: $c-neutral5;
    margin-bottom: rem($gs-baseline);
}
.promo-secondary__header {
    min-height: rem(gs-height(2));
    padding: rem($gs-baseline) rem($gs-gutter / 2);
    padding-bottom: rem($gs-baseline * 3);

    @include mq(tablet) {
        padding-left: rem($gs-gutter);
        padding-right: rem($gs-gutter);
        width: 35%;
        float: right;
    }
}
.promo-secondary__video,
.promo-secondary__image {
    display: block;
    position: relative;

    @include mq(tablet) {
        width: 65%;
        float: left;
    }
}
.promo-secondary__description {
    clear: both;
    padding: rem($gs-baseline / 2) rem($gs-gutter / 2);
    padding-bottom: rem($gs-baseline * 2);

    @include mq(tablet) {
        max-width: 65%;
        padding-left: 0;
    }
    @include mq(desktop) {
        padding-left: rem($gs-gutter * 3);
    }
}

.promo-secondary--padded {
    padding-bottom: rem($gs-baseline * 3);

    .promo-secondary__description {
        padding-bottom: 0;
    }
}

/* ==========================================================================
   Promo Tertiary
   ========================================================================== */

.promo-tertiary {
    @include clearfix();
    color: $white;
    background-color: color(brand-dark);
    margin-bottom: rem($gs-baseline);

    @include mq(tablet) {
        display: table;
        width: 100%;
    }
}
.promo-tertiary__header,
.promo-tertiary__media {
    display: table-cell;
    vertical-align: top;
}
.promo-tertiary__header {
    min-height: rem(gs-height(2));
    padding: rem($gs-baseline) rem($gs-gutter / 2);

    @include mq(tablet) {
        padding-bottom: rem($gs-baseline * 3);
    }

    @include mq(tablet) {
        padding-left: rem($gs-gutter);
        padding-right: rem($gs-gutter);
        width: rem(gs-span(6));
        position: relative;
    }
}
.promo-tertiary__media {
    display: block;
    position: relative;
}
.promo-tertiary__title {
    @include fs-header(3);
    margin-bottom: rem($gs-baseline);

    @include mq(tablet) {
        @include fs-header(4, true);
    }
}
.promo-tertiary__description {
    @include fs-header(1);
    font-weight: normal;
    margin-bottom: rem($gs-baseline);

    @include mq(tablet) {
        @include fs-header(2, true);
    }
}
.promo-tertiary__action {
    @include mq(tablet) {
        position: absolute;
        bottom: rem($gs-baseline);
        left: rem($gs-baseline);
    }
}

/* ==========================================================================
   Promo Alt
   ========================================================================== */

.promo-alt {
    margin-bottom: rem($gs-baseline);
}
.promo-alt__panel {
    @include clearfix();
    margin-bottom: rem($gs-baseline);
    background-color: $c-neutral5;
}
.promo-alt__header {

    color: $c-neutral1;
    background-color: $white;
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        color: inherit;
        background-color: transparent;
        padding: rem($gs-baseline) rem($gs-gutter);
    }

    @include mq(desktop) {
        width: 30%;
        float: left;
        padding: rem($gs-baseline);
    }
}
.promo-alt__title {

    width: calc(100% + #{rem($gs-gutter)});
    margin-left: -#{rem($gs-gutter / 2)};
    padding-left: rem($gs-gutter / 2);
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-neutral;

    @include mq(tablet) {
        border-top: none;
        padding: 0;
        width: auto;
        margin-left: 0;

        width: 65%;
        padding-bottom: rem($gs-gutter * 3);
    }

    @include mq(desktop) {
        width: auto;
        padding-bottom: 0;
    }
}
.promo-alt__media {
    display: block;
    position: relative;

    @include mq(desktop) {
        width: 70%;
        float: left;
    }
}
.promo-alt__description {
    clear: both;
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        padding: rem($gs-baseline / 2) rem($gs-gutter);
        padding-bottom: rem($gs-baseline);
        max-width: 85%;
    }

    @include mq(desktop) {
        padding-left: 30%;
    }
}
