.progress-bar-mem {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
        width:33.33%;
        background-color: #f6f6f6;
        @include fs-textSans(1);
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border-right: 0.1rem solid #aad8f1;
        display: inline-block;
        padding-right: 1rem;
        text-align: center;
    }

    .active {
        background-color: guss-colour(news-support-1);
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="10" height="28" viewBox="0 0 10 28"><path fill="#F6F6F6" d="M0 0h10v28H0z"/><path fill="#AAD8F1" d="M0 0l9 14-9 14"/></svg>');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 15%;
        border-right: 0;
    }

    .step {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="10" height="28" viewBox="0 0 10 28"><path fill="#AAD8F1" d="M0 0h10v28H0z"/><path fill="#F6F6F6" d="M0 0l9 14-9 14"/></svg>');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 15%;
        border-right: 0;
    }

    .last-step {
        border-right: 0;
    }
}
