/* ==========================================================================
   Promos: Quote
   ========================================================================== */

.promo-quote {
    margin-bottom: $gs-baseline * 2;
}


.promo-quote__body {
    @include clip-path('quote-mobile') {
        padding-bottom: 168 - $gs-gutter * 2 - $gs-baseline;
    }

    @include clearfix();
    background-color: color(neutral-7);
    padding: $gs-baseline ($gs-gutter / 2) 0;
    @include mq($from:tablet){
        @include clip-path('quote') {
            padding-bottom: 84 - $gs-gutter * 2 - $gs-baseline;
        }
    }

}

.promo-quote__text {

    float:right;
}

.promo-quote__cutout {
    height:  gs-height(4);
    clear: both;



    position: absolute;
    right: 30px;
    bottom: -1.5em;
    @include mq($from:tablet){
        left: 30px;
        //right: unset;
        height:  gs-height(6);
    }


}


