/* ==========================================================================
   Roundel
   ========================================================================== */

.roundel {
    display: inline-block;
    color: $white;
    line-height: 1;
    text-align: center;
    border-radius: 100%;
    background-color: $c-neutral1;
    margin: rem($gs-baseline / 2) 0;
    padding: 7px; // Semi-magic number
    width: 80px;
    height: 80px;

    @include mq(mobileLandscape) {
        width: 100px;
        height: 100px;
    }
}
.roundel__title {
    @include fs-data(2);
    @include vertically-center();
    position: relative;

    @include mq(mobileLandscape) {
        @include fs-data(3, true);
    }
}

/* Roundel Group
 * See: /subscriber-offer
 * Pair title with roundel, positioned badge
 * ========================================================================== */

.roundel-group {
    position: relative;
}
.roundel-group__title,
.roundel-group__roundel {
    float: left;
}
.roundel-group__title {
    width: 63%;
    margin-right: 2%;
}
.roundel-group__roundel {
    width: 35%;
    text-align: right;
    margin-top: -#{rem($gs-baseline * 2)};

    @include mq(mobileLandscape) {
        margin-top: -#{rem($gs-gutter * 2)};
    }
}

.roundel-group--snap {
    @include mq(desktop) {
        .roundel-group__title,
        .roundel-group__roundel {
            float: none;
            width: auto;
            margin: 0;
            text-align: left;
        }
    }
}
