/* ==========================================================================
   Series
   ========================================================================== */

.series-detail {
    @include clearfix();
    padding: $gs-baseline ($gs-gutter / 2);
    padding-top: ($gs-baseline / 2);

    @include mq(desktop) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
        padding-bottom: ($gs-baseline * 3);
    }
}
    .series-detail__content {
        @include mq(desktop) {
            float: left;
            width: gs-span(10);
            padding-left: (gs-span(2) + $gs-gutter);
        }
    }
    .series-detail__logo {
        max-height: 40px;
        float: right;
        margin: ($gs-baseline / 2) 0;

        @include mq(desktop) {
            margin: 0;
            max-height: 60px;
        }
    }
    .series-detail__title {
        @include fs-header(3);
    }
