.signpost {
    margin-top: rem($gs-baseline * 1.5);
    position: relative;
    display: table;
}

.signpost-item {
    @include mq(tablet) {
        display: table-cell;
        padding-top: rem($gs-baseline / 2);
    }
}

.signpost-item__description {
    @include mq(tablet) {
        min-height: rem($gs-gutter * 4);
    }
}

.signpost-item--sign {
    vertical-align: bottom;
    border-top: 1px dotted $c-neutral3;

    @include mq(tablet) {
        width: 41%;
    }
}

.signpost-item--divider {
    vertical-align: top;
    width: rem($gs-gutter * 5);
    margin: rem($gs-baseline / 2) 0;
    font-weight: bold;

    @include mq(tablet) {
        text-align: center;
    }
}
