.signpost {
    margin-top: rem($gs-baseline * 1.5);
    position: relative;
}

.signpost-item {
    vertical-align: top;
    @include mq(tablet) {
        display: inline-block;
    }
}

.signpost-item--sign {
    border-top: 1px dotted $c-neutral3;
    padding-top: rem(7px);

    @include mq(tablet) {
        width: 41%;
    }
}

.signpost-item--divider {
    width: rem(100px);
    margin: rem(8px) 0;
    font-weight: bold;

    @include mq(tablet) {
        text-align: center;
    }
}

.signpost__cta {
    @include mq(tablet) {
        position: absolute;
        bottom: 0;
    }
}
