/* ==========================================================================
   Simple Header
   ========================================================================== */

$simple-header-height: 72px;

.simple-header {

    // we need to know the exact header height
    // hence using the variable to enforce it
    height: $simple-header-height;

    background-color: color(brand-supporting-2);
    position: relative;
    z-index: 3;
}
.simple-header__inner {
    background: color(brand-main) url(/assets/images/common/bg-masthead-short.png) no-repeat;
    background-position: 45% 60%;

    @include mq(tablet) {
        background-position: 50% 0%;
    }

    @include mq(tablet, desktop) {
        height : 100%;
    }
}
.simple-header__branding {
    @include clearfix();
    padding: ($gs-gutter / 2);
    padding-bottom: $gs-gutter;

    @include mq(tablet) {
        padding: ($gs-gutter / 2) $gs-gutter;
    }
}
.simple-header__primary {
    float: left;
    padding-right: ($gs-gutter / 2);

    @include mq(tablet) {
        margin-right: -25px;
    }

}
.simple-header__logo {
    float: right;
    width: auto;

    @include mq(tablet) {
        margin-right: -20px;
    }
}
.simple-header__logo__image,
.simple-header__logo__link {
    height: 52px;
}
.simple-header__logo__image {
    width: auto;
}
.simple-header__logo__link {
    display: block;
}

/* Header - In App
   ========================================================================== */

body.in-app {
    .simple-header {
        display: none;
    }
}
