/* ==========================================================================
   Slideshow
   ========================================================================== */

$slideshow-height-tablet: 440px;
$slideshow-height-desktop: 460px;

.slideshow {
    position: relative;
    overflow: hidden;
    background-color: $c-neutral4;

    @include mq(tablet) {
        min-height: rem($slideshow-height-tablet);
    }
    @include mq(desktop) {
        min-height: rem($slideshow-height-desktop);
    }
}
.slideshow__element {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity .5s ease-in;
    opacity: 0;

    @include mq(tablet) {
        max-height: rem($slideshow-height-tablet);
    }
    @include mq(desktop) {
        max-height: rem($slideshow-height-desktop);
    }

    &.is-current {
        opacity: 1;
        position: relative;
    }

    .svgclippaths &::after {
        @include clip-overlay();
        clip-path: url("#clipPathSlideshow");

        @include mq(tablet) {
            max-height: rem($slideshow-height-tablet);
        }
        @include mq(desktop) {
            max-height: rem($slideshow-height-desktop);
        }
    }
}
.slideshow__element
.slideshow__image {
    position: relative;
    @include mq(desktop) {
        top: rem(-$gs-gutter * 4);
    }
}
.slideshow__detail {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: $white;
    padding: rem($gs-gutter / 2);
    padding-top: rem($gs-gutter * 2);
    @include simple-gradient(transparent, rgba(0, 0, 0, .8));

    @include mq(mobileLandscape) {
        padding: rem($gs-gutter * 2) rem($gs-gutter) rem($gs-baseline * 1.5);
    }
}
.slideshow__description {
    @include fs-textSans(1);
    font-weight: normal;

    @include mq(tablet) {
        max-width: 50%;
        padding-right: rem($gs-gutter);
    }
}

.progress-indicator {
    font-size: 0;
}
.progress-indicator__separator,
.progress-indicator__index {
    @include fs-textSans(1);
}
.progress-indicator__index {
    width: rem(10px);
    display: inline-block;
}
.progress-indicator__count {
    @include fs-textSans(1);
}
