/* ==========================================================================
   Slideshow
   ========================================================================== */

.slideshow {
    position: relative;
    overflow: hidden;
}
.slideshow__element {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    transition: opacity .5s ease-in;
    opacity: 0;

    @include mq(tablet) {
        max-height: rem(460px);
    }

    &.is-current {
        opacity: 1;
        position: relative;
    }
}
.slideshow__image {
    position: relative;
    @include mq(desktop) {
        top: rem(-$gs-gutter * 4);
    }
}
.slideshow__detail {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: $white;
    padding: rem($gs-gutter / 2);
    padding-top: rem($gs-gutter * 2);
    @include simple-gradient(transparent, rgba(0, 0, 0, .8));

    @include mq(mobileLandscape) {
        padding: rem($gs-gutter);
        padding-top: rem($gs-gutter * 2);
    }
}
.slideshow__description {
    @include fs-textSans(1);
    font-weight: normal;

    @include mq(tablet) {
        max-width: 50%;
    }
}

.progress-indicator {
    font-size: 0;
}
.progress-indicator__separator,
.progress-indicator__index {
    @include fs-textSans(1);
}
.progress-indicator__index {
    width: rem(10px);
    display: inline-block;
}
.progress-indicator__count {
    @include fs-textSans(1);
}
