/* ==========================================================================
   Social
   ========================================================================== */

.social-list {
    @include clearfix();
    margin: 0;
    list-style: none;
}
    .social-list__item {
        float: left;
        margin-right: rem($gs-gutter / 4);
    }
    .social-list__item:last-child {
        margin-right: 0;
    }

/* Social Actions
   ========================================================================== */

.social-action {
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
    width: 36px; height: 36px;
    border-radius: 1000px;
    background-color: $c-neutral2;
    color: $white;

    &:hover {
        background-color: darken($c-neutral2, 10%);
    }

    .icon-inline {
        @include vertically-center();
        position: relative;
        width: 20px; height: 20px;
    }
}
.social-action--twitter {
    background-color: $c-thirdparty-twitter;

    &:hover {
        background-color: darken($c-thirdparty-twitter, 10%);
    }
}
.social-action--facebook {
    background-color: $c-thirdparty-facebook;

    &:hover {
        background-color: darken($c-thirdparty-facebook, 10%);
    }
}
