/* ==========================================================================
   Stats
   ========================================================================== */

.stats-listing {
    border-top: 1px dotted $c-neutral3;
    padding-top: rem($gs-baseline / 2);
}

.stat-item {
    @include clearfix;
    @include fs-data(2);
    border-bottom: 1px dotted $c-neutral3;
    padding-bottom: rem($gs-baseline / 2);
    margin-bottom: rem($gs-baseline / 2);

    @include mq(mobileLandscape) {
        @include fs-data(4);
    }

    @include mq(desktop) {
        display: table;
        width: 100%;
    }
}
.stat-item__first,
.stat-item__second {
    @include mq(desktop) {
        display: table-cell;
        vertical-align: top;
    }
}
.stat-item__first {
    display: none;
    @include mq(desktop) {
        display: table-cell;
        width: rem($gs-gutter * 2);
    }
}
.stat-item__second {
    position: relative;
}

.stat-item--last {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
