/* ==========================================================================
   Text Helpers
   ========================================================================== */

/* Text Helpers - Copy
   ========================================================================== */

.text-body {
    @include fs-bodyCopy(2);
    font-weight: normal;
}

.text-caption {
    @include fs-textSans(2);
}

.text-feature {
    @include fs-headline(3);

    @include mq(tablet) {
        @include fs-headline(4, true);
    }
}

.text-lead {
    @include fs-header(3);
}

.text-trail {
    @include fs-headline(2);
}

.text-note {
    @include fs-data(3);
    color: $c-neutral2;
    margin-bottom: rem($gs-baseline / 2);
}

.text-highlight {
    color: color(brand-dark);
}

.text-caption {
    @include fs-textSans(1);
    font-weight: normal;
}

/* Text Helpers - Case
   ========================================================================== */

.case--lower {
    text-transform: lowercase;
}

.case--capitalize {
    text-transform: capitalize;
}

/* Text Helpers - Headings
   ========================================================================== */

.h-intro {
    @include fs-header(4);
    text-transform: lowercase;
    margin-bottom: 0;
}
.h-intro--capitalize {
    text-transform: none;
}

.h-section,
.h-section--inline,
.h-section--lead {
    @include fs-header(2);
    padding: rem($gs-baseline / 2) 0 rem($gs-gutter);
    border: solid $c-border-neutral;
    border-width: 1px 0 0 0;

    @include mq(tablet) {
        font-size: get-font-size(header, 3);
    }
}
.h-section--inline {
    padding-bottom: 0;
}
.h-section--lead {
    padding-top: 0;
    border-width: 0;

    @include mq(mem-full) {
        padding-top: rem($gs-baseline / 2);
        border-width: 1px 0 0 0;
    }
}

.h-promo,
.h-promo--primary {
    @include fs-headline(4);
    font-weight: 500;

    @include mq(tablet) {
        @include fs-headline(6, true);
    }
}

.h-promo--primary {
    @include mq(tablet) {
        @include fs-headline(7, true);
    }
}

.h-stack {
    @include fs-headline(2);
    font-weight: 500;
    padding-top: rem($gs-baseline / 2);
    margin-bottom: rem($gs-baseline);
    border-top: 1px solid $c-border-neutral;
}

.h-aside {
    @include fs-textSans(1);
    border-top: 1px solid $c-neutral7;
    padding: rem($gs-baseline / 2) 0;
}
