/* ==========================================================================
   Text Helpers
   ========================================================================== */

/* Text Helpers - Copy
   ========================================================================== */

.text-body {
    @include fs-bodyCopy(2);
    font-weight: normal;
}

.text-caption {
    @include fs-textSans(2);
}

.text-intro {
    margin: rem($gs-baseline * 2) 0 rem($gs-baseline * 3);
}

.text-feature {
    @include fs-headline(2);

    @include mq(mobileLandscape) {
        @include fs-headline(3);
    }
    @include mq(tablet) {
        @include fs-headline(4);
    }
}

.text-lead {
    @include fs-header(3);
}

.text-note {
    @include fs-data(3);
    color: $c-neutral2;
    margin-bottom: rem($gs-baseline / 2);
}
.text-note--block {
    margin: rem($gs-baseline) 0;
    display: block;
}

.text-highlight {
    color: $mem-brandBlueDark;
}

/* Text Helpers - Case
   ========================================================================== */

.case--lower {
    text-transform: lowercase;
}

.case--capitalize {
    text-transform: capitalize;
}

/* Text Helpers - Headings
   ========================================================================== */

.h-intro {
    @include fs-header(4);
    text-transform: lowercase;
    margin-bottom: 0;
}

.h-section,
.h-section--inline,
.h-section--lead {
    @include fs-header(2);
    padding: rem($gs-baseline / 2) 0 rem($gs-gutter);
    border: solid $c-border-brand;
    border-width: 1px 0 0 0;

    @include mq(tablet) {
        font-size: get-font-size(header, 3);
    }
}
.h-section--inline {
    padding-bottom: 0;
}
.h-section--lead {
    padding-top: 0;
    border-width: 0;
    @include mq(mem-full) {
        padding-top: rem($gs-baseline / 2);
        border-width: 1px 0 0 0;
    }
}
.h-feature {
    @include fs-headline(5);
    font-weight: 500;

    @include mq(desktop) {
        @include fs-headline(6, true);
    }
}
.h-offer {
    @include fs-headline(4);
    padding-bottom: rem($gs-baseline*2);
    font-weight: 500;
}
.h-sub {
    @include fs-headline(2);
}
.h-promo,
.h-promo--primary {
    @include fs-headline(4);

    @include mq(tablet) {
        @include fs-headline(6, true);
    }
}

.h-promo--primary {
    @include mq(tablet) {
        @include fs-headline(7, true);
    }
}

.h-aside {
    @include fs-textSans(1);
    border-top: 1px solid $c-neutral7;
    padding: rem($gs-baseline / 2) 0;
}

/* Text Helpers - Headings
   ========================================================================== */


.section-headline {
    @include fs-headline(5);

    @include mq(desktop) {
        @include fs-headline(7);
    }

    display: inline-block;
    padding-top: rem($gs-baseline - 2);
    margin-bottom: rem($gs-baseline * 4);
}

.section-headline--no-margin {
    padding-top: rem(4px);
    border-top: 0;
    margin-bottom: 0;
}

.section-headline--padding-left {
    border-top: 0;

    @include mq(desktop) {
        padding-left: rem(gs-span(2));
    }

    @include mq(mem-full) {
        padding-left: rem(gs-span(2) + $gs-gutter);
    }
}

.section-intro {
    @include fs-bodyCopy(2);

    @include mq(desktop) {
        @include fs-bodyCopy(3);
    }
}

.section-body-headline {
    @include fs-headline(4);
    background-color: $white;
}
