/* ==========================================================================
   Tiers
   ========================================================================== */

/* ==========================================================================
   Tiers - Tier Trail
   ========================================================================== */

.tier-trail {
    margin-bottom: rem($gs-baseline / 2);
}
    .tier-trail__name {
        @include fs-header(4);
        font-weight: 500;
    }
    .tier-trail__caption {
        @include fs-data(4);
    }

/* ==========================================================================
   Tiers - Tier Headers
   ========================================================================== */

.tier-header {
    color: $white;
    overflow: auto;
    position: relative;
    padding: rem($gs-gutter / 2);
    border-spacing: 0;
    @include mq(mobileLandscape) {
        display: table;
        width: 100%;
        height: rem($gs-gutter * 4);
        padding: rem($gs-gutter - 5px) rem($gs-gutter);
    }
}
    .tier-header__title,
    .tier-header__pricing {
        @include mq(mobileLandscape) {
            display: table-cell;
            vertical-align: top;
        }
    }
    .tier-header__pricing {
        float: right;
        width: 100%;
        max-width: rem(gs-span(4) - $gs-gutter);

        @include mq(mobileLandscape) {
            max-width: rem(gs-span(4) - $gs-gutter * 2);
        }
    }
    .tier-header__title {
        @include fs-headline(5);
        line-height: 1;
        color: inherit;
        vertical-align: top;
        word-wrap: break-word;
        position: relative;
    }
    .tier-header__pricing {
        text-align: right;
    }

// Tier header colour modifiers
.tier-header--friend {
    background-color: $c-neutral1;
}
.tier-header--partner {
    color: $black;
    background-color: tone('partner');
}
.tier-header--patron {
    background-color: tone('patron');
}

/**
 * Tier Header - Stacked modifier
 */
.tier-header--stacked {

    min-height: rem(144px);

    @include mq($from: tablet, $until: desktop) {
        min-height: 0;
    }

    .tier-header__title {
        display: block;
        float: left;
        @include mq(desktop) {
            float: none;
        }
    }
    .tier-header__pricing {
        padding-top: rem($gs-gutter * 2);
    }
}
