/* ==========================================================================
   Video Player
   ========================================================================== */

.video-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-player__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.video-player__overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s opacity ease 300ms;
}
.video-player__overlay__action {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.video-player.is-playing {
    .video-player__iframe {
        opacity: 1;
    }
    .video-player__overlay {
        opacity: 0;
    }
}

.playback {
    color: $white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100%;
    border: 0 none;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    position: relative;
    transition: background-color .5s ease;
}
.playback__icon {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 32px; height: 32px;
}

.playback:hover,
.video-player__overlay:hover .playback {
    background-color: color(brand-main);
}

/* Video Preview
   ========================================================================== */

.video-preview {
    @include clearfix();
    clear: both;
    color: $c-neutral1;
    margin-bottom: rem($gs-gutter);

    @include mq(tablet) {
        display: table;
        width: 100%;
    }
}
// No yellow background once header becomes a right-hand column
.video-preview--plain {
    @include mq(tablet) {
        .video-preview__header {
            background: none;
            padding-top: 0;
        }
    }
}
.video-preview__video {
    display: block;
    position: relative;

    @include mq(tablet) {
        width: 460px;
    }
    @include mq(desktop) {
        width: 620px;
    }
}
.video-preview__header {
    @include fs-headline(2);
    padding: 6px 5px 48px 5px;
    background: color(brand-supporting-2) url(/assets/images/common/videocard_layers_mb.png) no-repeat bottom right;

    @include mq(tablet) {
        @include fs-headline(3);
        width: 240px;
        padding: $gs-gutter / 2;
        background: color(brand-supporting-2) url(/assets/images/common/videocard_layers_tb.png) no-repeat bottom right;
    }

    @include mq(desktop) {
        width: 320px;
    }
}
.video-preview__header,
.video-preview__video {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
