/* ==========================================================================
   Warnings
   ========================================================================== */

.warning-message {
    font-size: 1.4rem;
    padding: rem($gs-baseline / 2);
    background-color: $c-warning;
    text-align: center;
    opacity: 0.8;
}

.browser-warning {
    display: none;
}
.js-ancient-browser .browser-warning {
    display: block;
}
