/* ==========================================================================
   Warnings
   ========================================================================== */

.warning-message {
    background-color: #e9e939;
    padding: rem(5px);
    font-size: 1.4rem;
    text-align: center;
    opacity: .8;
}

.javascript-warning {
   display: none;
}

.js-off .javascript-warning {
   display: block;
}

.browser-warning {
    display: none;
}
.js-ancient-browser .browser-warning {
    display: block;
}
