@import views.support.PageInfo
@import views.support.Asset
@import configuration.Links

@(pageInfo: PageInfo, img: model.ResponsiveImageGroup)

@giraffeMain("Contribute", pageInfo = pageInfo) {
    <div class="l-constrained">
        <div class="promo-primary__image promo-primary__image--giraffe">
            <div class="promo-primary__image--overlay"></div>
            <div class="primary__heading">
                <h1 class="primary__heading--main">Support the independence<br/> of the Guardian<br/> and our award-winning<br/> journalism</h1>
                <h2 class="primary__heading--sub">Contribute today</h2>
                <p class="primary__heading--text">
                    By making a contribution, you’ll be supporting investigative journalism that speaks truth to power.                </p>
            </div>

            <img src="@img.defaultImage" srcset="@img.srcset" sizes="100vw" alt="@img.metadataAltText.getOrElse("")" class="responsive-img" />
        </div>
    </div>

    <div class="support-wrapper page-slice l-constrained">

        <form id="form" class="form js-form" role="main" method="POST" autocomplete="on" novalidate action="@routes.Giraffe.pay()">
            <div class="form__column">
                <h3 class="form__column-heading form__column-heading--first headline-text--bolder"><span class="num">1</span>
                    Your details</h3>
                <ul class="u-unstyled">
                    <li class="form-field">
                        <label for="name" class="label">Full name</label>
                        <div class="input">
                            <input type="text" id="name" class="input-text js-name" name="name" tabindex="1" aria-required="true" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="Full name">
                        </div>
                    </li>
                    <li id="email_field" class="form-field">
                        <label for="email" class="label">Email address</label>
                        <div class="input">
                            <input type="email" id="email" class="input-text js-email" name="email" tabindex="1" aria-required="true" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="Email address">
                        </div>
                    </li>
                    <div class="giraffe-checkbox">
                        <input id="guardian-opt-in" type="checkbox" name="guardian-opt-in" checked="checked" value="true">
                        <label for="guardian-opt-in">
                            Keep me up to date with offers from the Guardian
                        </label>
                    </div>
                </ul>
            </div>

            <div class="form__column">
                <h3 class="form__column-heading headline-text--bolder"><span class="num">2</span> Your amount</h3>
                <ul class="u-unstyled">
                    <li id="currency_field" class="form-field">
                        <label for="currency" class="label u-h">Currency</label>
                        <div class="input">
                            <div class="button-group u-cf">
                                <button type="button" tabindex="2" class="js-currency-switcher option-button active" data-currency="gbp" data-symbol="&pound;">&pound;&nbsp;GBP</button>
                                <button type="button" tabindex="3" class="js-currency-switcher option-button" data-currency="usd" data-symbol="&#36;">&#36;&nbsp;USD</button>
                                <button type="button" tabindex="4" class="js-currency-switcher option-button" data-currency="aud" data-symbol="&#36;">&#36;&nbsp;CAD</button>
                                <button type="button" tabindex="5" class="js-currency-switcher option-button" data-currency="eur" data-symbol="&euro;">&euro;&nbsp;EUR</button>
                            </div>
                            <input type="hidden" id="currency" name="currency" class="js-currency-field" value="gbp">
                        </div>
                    </li>

                    <li id="amount_field" class="form-field">
                        <label for="amount" class="label u-h">Amount</label>
                        <div class="input">
                            <div class="button-group u-cf">
                                <button type="button" tabindex="6" class="option-button option-button--bold active" data-amount="5"><span class="currency js-currency">&pound;</span>
                                    5</button>
                                <button type="button" tabindex="7" class="option-button option-button--bold" data-amount="10"><span class="currency js-currency">&pound;</span>
                                    10</button>
                                <button type="button" tabindex="8" class="option-button option-button--bold" data-amount="25"><span class="currency js-currency">&pound;</span>
                                    25</button>
                                <button type="button" tabindex="10" class="option-button option-button--bold" data-amount="50"><span class="currency js-currency">&pound;</span>
                                    50</button>
                            </div>
                            <div id="other_amount_field">
                                <div class="other_amount_currency headline-text--bolder js-currency">&pound;</div>
                                <input type="tel" id="other_amount" class="input-text js-amount js-amount-field" name="amount" maxlength="6" tabindex="14" value="50" data-validation="lessThanFifty" pattern="(\d{1,2}\.\d{2}|\d{1,2})">
                                @fragments.form.errorMessage("NEED VALIDATION COPY!")
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="security-note">We are presently only able to accept contributions of <span class="currency js-currency">&pound;</span>50 or less</div>
                    </li>
                </ul>
            </div>

            <div class="form__column">
                <h3 class="form__column-heading headline-text--bolder"><span class="num">3</span> Your payment</h3>
                @fragments.form.securityNote()
                <ul class="u-unstyled">
                    <li id="card_number_field" class="form-field">
                        <label for="cc-num">Card number</label>
                        <div class="credit-card-container">
                            <i class="credit-card--input-visualisation sprite-card sprite-card--unknown js-credit-card-image"></i>
                            <input type="text" pattern="[0-9]*"
                            size="20"
                            data-stripe="number"
                            class="input-text credit-card-input js-credit-card-number"
                            id="cc-num"
                            placeholder="0000 0000 0000 0000"
                            maxlength="19"
                            autocomplete="off"
                            data-validation="validCreditCardNumber"/>
                            @fragments.form.errorMessage("Sorry, the card number that you have entered is incorrect. Please check and retype.")
                        </div>
                    </li>

                    <li id="card_expiry_field" class="form-field">
                        <label class="label">Expires</label>
                        <div class="input">
                            <label for="card_expiry_month" class="u-h form-field__note form-field__note--sub">Month</label>
                            <select id="card_expiry_month" data-stripe="exp-month" tabindex="16" aria-required="true" class="js-credit-card-exp-month" data-validation="validCreditCardMonth">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <span>/</span>
                            <label for="card_expiry_year" class="u-h form-field__note form-field__note--sub">Year</label>
                            <select id="card_expiry_year" data-stripe="exp-year" tabindex="17" aria-required="true" class="js-credit-card-exp-year" data-validation="validCreditCardYear">
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                        </div>
                        @fragments.form.errorMessage("Sorry, the expiry date that you have entered is invalid. Please check and re-enter.")
                    </li>

                    <li id="card_cvc_field" class="form-field">
                        <label for="card_cvc" class="label">Security code</label>
                        <div class="input">
                            <input type="tel" id="card_cvc" class="input-text js-credit-card-cvc" data-stripe="cvc" tabindex="18" aria-required="true" maxlength="4" x-autocompletetype="cc-csc" pattern="\d*" autocomplete="off" placeholder="CVC" data-validation="validCVC">
                            <div class="form-field__note form-field__note--below form-field__note--right">
                                <a class="cvc-cta text-link js-toggle" data-toggle="js-cvc-image-container" href="#">What's this?</a>
                            </div>
                        </div>
                        @fragments.form.errorMessage("Sorry, the security code that you have entered is incorrect. Please check and retype.")
                    </li>

                    <div id="js-cvc-image-container" class="cvc u-cf" data-toggle-hidden>
                        <div class="u-cf">
                            <div class="cvc__image">
                                <img src="@Asset.at("images/form/cvc-card.png")" alt="CVC explanation"/>
                            </div>
                            <div class="cvc__detail">
                                <h3 class="cvc__heading">Visa, Mastercard</h3>
                                <p class="cvc__body">
                                    The last 3 digits printed on the back within the signature strip
                                </p>
                            </div>
                        </div>
                        <div class="u-cf">
                            <div class="cvc__image">
                                <img src="@Asset.at("images/form/cvc-card-american-express.png")" alt="CVC explanation American Express"/>
                            </div>
                            <div class="cvc__detail">
                                <h3 class="cvc__heading">American Express</h3>
                                <p class="cvc__body">
                                    The 4 digits printed on the front above the card number
                                </p>
                            </div>
                        </div>
                    </div>

                    <li id="postcode" class="form-field">
                        <label for="email" class="label">Postcode</label>
                        <div class="input">
                            <input type="text" id="postcode" class="input-text" name="postcode" tabindex="1" aria-required="true" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="Postcode">
                        </div>
                    </li>

                    <li id="submit_field" class="form-field">
                        <button class="action action--contribute js-submit-input" type="submit" tabindex="19">Pay <span class="js-currency">&pound;</span><span class="js-amount">50</span></button>
                        <span class="js-loader"></span>
                    </li>

                    <div class="fieldset__note">
                        <p>By proceeding, you are agreeing to our
                            <a href="@Links.membershipTerms" class="text-link" target="_blank">Terms and Conditions</a> and
                            <a href="@Links.guardianPrivacyPolicy" class="text-link" target="_blank">Privacy Policy</a>.
                        </p>
                    </div>
                </ul>
            </div>
        </form>
    </div>

    <div class="feedback l-constrained">
        If you have any questions about contributing to the Guardian, please <a href="https://mem.thegulocal.com/feedback?page=support" class="support-thanks__link">contact us here</a>.
    </div>
}
