@import views.support.PageInfo

@import views.support.Social
@(pageInfo: PageInfo, reference: String, social: Set[Social])
@giraffeMain("Support", pageInfo = pageInfo) {
    <div class="support-wrapper page-slice l-constrained support-thanks">
        <h1 class="support-thanks__title">Thank you for supporting the Guardian.</h1>
            <p class="support-thanks__message">
                Your contribution is much appreciated, and will help us to maintain our independent, award-winning journalism.
            </p>

            @fragments.social(social)
        <p></p>
        <p class="support-thanks__message">
            If you’d like to enjoy more of the Guardian’s journalism from breaking investigations to politics, sport, culture and more, why not download our app or sign up for the Guardian’s daily email?
        </p>
        <div class="support-thanks__row blue-border u-cf">
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Get the app </h3>
                <p>Up-to-the-minute coverage, personalised alerts, off​line​ reading and more. <br><a href="https://itunes.apple.com/gb/app/the-guardian/id409128287?mt=8" class="support-thanks__link">iPhone and iPad app</a> <br><a href="https://play.google.com/store/apps/details?id=com.guardian" class="support-thanks__link">Android app</a></p>
            </div>
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Subscribe to daily email</h3>
                <p><a href="https://www.theguardian.com/info/2015/dec/08/daily-email-uk?CMP=contribution_thankyou" class="support-thanks__link">Get the must-read stories</a> delivered straight to your inbox each morning in one handy email</p>
            </div>
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Follow on Facebook</h3>
                <p><a href="https://www.facebook.com/theguardian" class="support-thanks__link">Follow the Guardian’s daily reporting</a>, features and investigative journalism</p>
            </div>
        </div>

        <div class="support-thanks__feedback">
            If you have any questions about contributing to the Guardian, please <a href="https://mem.thegulocal.com/feedback?page=support" class="support-thanks__link">contact us here</a>.
        </div>
    </div>
}
