@import views.support.PageInfo

@import views.support.Social
@(pageInfo: PageInfo, reference: String, social: Set[Social])
@giraffeMain("Support", pageInfo = pageInfo) {
    <div class="support-wrapper page-slice l-constrained support-thanks">
        <h1 class="support-thanks__title">Thank you for supporting the Guardian.</h1>
            <p class="support-thanks__message">
                Your contribution is much appreciated, and will help us to maintain our independent, award-winning journalism.
            </p>
            @fragments.social(social)

        <div class="support-thanks__row blue-border u-cf">
            <h2 class="support-thanks__subtitle headline-text--bolder">What happens next?</h2>
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Lorem ipsum?</h3>
                <p>This is appropriate dummy text that is being employed in order to
                    ascertain an approximate length because the.</p>
                <p><a href="#" class="support-thanks__link">Dixit unum</a></p>
            </div>
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Lorem ipsum?</h3>
                <p>This is appropriate dummy text that is being employed in order to
                    ascertain an approximate length because the.</p>
                <p><a href="#" class="support-thanks__link">Dixit unum</a></p>
            </div>
            <div class="support-thanks__one-col">
                <h3 class="support-thanks__sub-subtitle headline-text--bolder">Lorem ipsum?</h3>
                <p>This is appropriate dummy text that is being employed in order to
                    ascertain an approximate length because the.</p>
                <p><a href="#" class="support-thanks__link">Dixit unum</a></p>
            </div>
        </div>

        <div class="support-thanks__feedback">
            <p>Feedback lorem ipsum appropriate dummy text</p>
        </div>
    </div>
}
