@(currentTier: com.gu.membership.salesforce.Tier.Tier, tier: com.gu.membership.salesforce.Tier.Tier)

@import model.Benefits
@import com.gu.membership.salesforce.Tier

@defining(currentTier == tier) { isCurrentPackage =>
    <div class="package@if(isCurrentPackage){ package--current}">
        @if(isCurrentPackage) {
            <div class="package__current-indicator">Your Current Package</div>
        }
        <div class="package__inner">
            <h2 class="package__title">@tier</h2>
                <div class="package__price">
                    @fragments.benefits.priceInfo(Benefits.details(tier))
                </div>
                <div class="u-cf">
                @if(!isCurrentPackage) {
                    @if(currentTier == Tier.Friend || tier == Tier.Friend) {
                        <a href="/tier/change/@tier.toString.toLowerCase" class="action action-cta--confirm">
                            @Benefits.details(tier).cta
                        </a>
                    } else {
                        <span class="action action-cta--cancel">
                            Coming soon
                        </span>
                    }
                }
                </div>
                <p class="package__leadin">@Benefits.details(tier).leadin</p>
                <ul class="package__list-element">
                    @for((header, body) <- Benefits.details(tier).list) {
                    <li class="benefits-title">@header</li>
                    <li class="benefits-copy">@body</li>
                    }
                </ul>
        </div>
    </div>
}
