@(currentTier: com.gu.membership.salesforce.Tier.Tier, tier: com.gu.membership.salesforce.Tier.Tier)

@import model.Benefits
@import com.gu.membership.salesforce.Tier

@defining(currentTier == tier) { isCurrentPackage =>
    <div class="package@if(isCurrentPackage){ package--current}">
        @if(isCurrentPackage) {
            <div class="package__current-indicator">Your Current Package</div>
        }
        <div class="package__inner">

            @fragments.tier.details(tier)
            @if(!isCurrentPackage) {
                @if(currentTier == Tier.Friend || tier == Tier.Friend) {
                    <a href="/tier/change/@tier.toString.toLowerCase" class="action action-cta--confirm">
                        @Benefits.details(tier).cta
                    </a>
                } else {
                    <span class="action action-cta--cancel action-cta--disabled">
                        Coming soon
                    </span>
                }
            }
        </div>
    </div>
}
