@(tier: com.gu.membership.salesforce.Tier.Tier)

@import model.Benefits

@defining(Benefits.details(tier)) { benefits =>
    <div class="package-benefits">
        <p class="package-benefits__leadin">@benefits.leadin</p>
        <ul class="u-unstyled">
        @for(benefit <- benefits.list) {
            <li class="benefits-title">
                <i class="icon-@benefit.identifier icon--small"></i> @benefit.title
            </li>
            <li class="benefits-copy">@benefit.description</li>
        }
        </ul>
    </div>
}
