@import views.support.DisplayText._
@import com.gu.i18n.CountryGroup
@import com.gu.i18n.Currency
@import model.Benefit
@import com.gu.salesforce.Tier._
@import com.gu.salesforce.Tier
@import com.gu.membership.MembershipCatalog
@import views.support.Pricing._
@import com.gu.salesforce.PaidTier
@(catalog: MembershipCatalog)(implicit countryGroup: CountryGroup)


@comparisonHeader(tier: PaidTier, currency: Currency, isActive: Boolean = false) = {
    <div class="comparison-table__tier js-clickable@if(isActive){ is-active}" data-tier="@tier.slug">
        <div class="comparison-table__tier__name tone-border-@tier.slug" data-tier="@tier.slug">
        @fragments.tier.tierTrail(tier, showCaption = false)
        </div>
        <div class="comparison-table__tier__pricing" data-tier="@tier.slug">
        @fragments.pricing.paidPriceInfo(catalog.findPaid(tier), currency, canFlex=false)
        </div>
    </div>
}

@comparisonDetails(benefits: Seq[Benefit]) = {
    <div class="comparison-table__description">
        <div class="comparison-table__description__inner">
            <ul class="o-bulleted-list">
            @for(benefit <- benefits) {
                <li>
                    @if(benefit.isNew) {
                        @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                    }
                    @benefit.title
                </li>
            }
            </ul>
        </div>
    </div>
}

@comparisonCheckmark(tier: Tier, checkmark: Boolean, isActive: Boolean = false) = {
    <div class="comparison-table__checkmark js-clickable@if(isActive){ is-active}" data-tier="@tier.slug">
        <div class="comparison-table__checkmark__inner">
        @fragments.common.checkmark(checkmark)
        </div>
    </div>
}

@comparisonPricing(tier: PaidTier, isActive: Boolean = false) = {
    <div class="comparison-table__trail js-clickable@if(isActive){ is-active}" data-tier="@tier.slug">
        <div class="comparison-table__trail__inner">
            <div class="comparison-table__trail__action">
                <a class="action action--no-icon js-clickable qa-comparison-@tier.slug"
                    href="@routes.Joiner.enterPaidDetails(tier)"
                    data-metric-trigger="click"
                    data-metric-category="join"
                    data-metric-action="@tier.slug"
                    data-tier="@tier.slug"
                 >
                    <span class="action__label">
                        Join now
                    </span>
                    @fragments.actionIcon("arrow-right")
                </a>
            </div>
        </div>
    </div>
}

<div class="comparison-table">
    <div class="comparison-table__header">
        @comparisonHeader(supporter, countryGroup.currency)
        @comparisonHeader(partner, countryGroup.currency, isActive = true)
        @comparisonHeader(patron, countryGroup.currency)
    </div>
    <div class="comparison-table__body">
        <div class="comparison-table__row">
            @comparisonDetails(catalog.supporter.tier.detailsLimited())
            <div class="comparison-table__checkmarks">
                @comparisonCheckmark(supporter, checkmark = true)
                @comparisonCheckmark(partner, checkmark = true, isActive = true)
                @comparisonCheckmark(patron, checkmark = true)
            </div>
        </div>
        <div class="comparison-table__row">
            @comparisonDetails(catalog.partner.tier.detailsLimited())
            <div class="comparison-table__checkmarks">
                    @comparisonCheckmark(supporter, checkmark = false)
                    @comparisonCheckmark(partner, checkmark = true, isActive = true)
                    @comparisonCheckmark(patron, checkmark = true)
                </div>
            </div>
            <div class="comparison-table__row">
            @comparisonDetails(catalog.patron.tier.detailsLimited())
            <div class="comparison-table__checkmarks">
                @comparisonCheckmark(supporter, checkmark = false)
                @comparisonCheckmark(partner, checkmark = false, isActive = true)
                @comparisonCheckmark(patron, checkmark = true)
            </div>
        </div>
    </div>
    <div class="comparison-table__footer">
        @comparisonPricing(supporter)
        @comparisonPricing(partner, isActive = true)
        @comparisonPricing(patron)
    </div>
    <div class="comparison-table__extra">
    @fragments.tier.friendTeaser()
</div>
</div>
