@()

@import com.gu.membership.salesforce.Tier
@import com.gu.membership.salesforce.Tier._
@import model.Benefits
@import model.Benefits.BenefitItem

@comparisonHeader(tier: Tier) = {
    <div class="comparison-table__tier">
        <div class="comparison-table__tier__name tone-border-@tier.name.toLowerCase">
        @fragments.tier.tierTrail(tier, showCaption = false)
        </div>
        <div class="comparison-table__tier__pricing">
        @fragments.pricing.priceInfo(tier, canFlex=false)
        </div>
    </div>
}

@comparisonDetails(benefits: Seq[BenefitItem]) = {
    <div class="comparison-table__description">
        <div class="comparison-table__description__inner">
            <ul class="o-bulleted-list">
            @for(benefit <- benefits) {
                <li>
                    @if(benefit.isNew) {
                        @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                    }
                    @benefit.title
                </li>
            }
            </ul>
        </div>
    </div>
}

@comparisonCheckmark(checkmark: Boolean) = {
    <div class="comparison-table__checkmark">
        <div class="comparison-table__checkmark__inner">
        @fragments.common.checkmark(checkmark)
        </div>
    </div>
}

@comparisonPricing(tier: Tier) = {
    <div class="comparison-table__trail">
        <div class="comparison-table__trail__inner">
            <div class="comparison-table__trail__action">
                <a class="action action--no-icon qa-comparison-@tier.toString.toLowerCase"
                href="@routes.Joiner.enterDetails(tier)"
                data-metric-trigger="click"
                data-metric-category="join"
                data-metric-action="@tier.toString.toLowerCase"
                >
                    <span class="action__label">
                        Join now
                    </span>
                    @fragments.actionIcon("arrow-right")
                </a>
            </div>
        </div>
    </div>
}

<div class="comparison-table">
    <div class="comparison-table__header">
        @comparisonHeader(Supporter)
        @comparisonHeader(Partner)
        @comparisonHeader(Patron)
    </div>
    <div class="comparison-table__body">
        <div class="comparison-table__row">
            @comparisonDetails(Benefits.detailsLimited(Tier.Supporter))
            <div class="comparison-table__checkmarks">
                @comparisonCheckmark(checkmark = true)
                @comparisonCheckmark(checkmark = true)
                @comparisonCheckmark(checkmark = true)
            </div>
        </div>
        <div class="comparison-table__row">
            @comparisonDetails(Benefits.detailsLimited(Tier.Partner))
            <div class="comparison-table__checkmarks">
                @comparisonCheckmark(checkmark = false)
                @comparisonCheckmark(checkmark = true)
                @comparisonCheckmark(checkmark = true)
            </div>
        </div>
        <div class="comparison-table__row">
            @comparisonDetails(Benefits.detailsLimited(Tier.Patron))
            <div class="comparison-table__checkmarks">
                @comparisonCheckmark(checkmark = false)
                @comparisonCheckmark(checkmark = false)
                @comparisonCheckmark(checkmark = true)
            </div>
        </div>
    </div>
    <div class="comparison-table__footer">
        @comparisonPricing(Supporter)
        @comparisonPricing(Partner)
        @comparisonPricing(Patron)
    </div>
    <div class="comparison-table__extra">
    @fragments.tier.friendTeaser()
    </div>
</div>
