@(
    currentTier: com.gu.membership.salesforce.Tier,
    showBenefitDetails: Boolean = true,
    showBenefitCopy: Boolean = true
)

@import model.Benefits
@import model.Benefits.BenefitItem
@import com.gu.membership.salesforce.Tier

@benefitListing(benefits: Seq[BenefitItem]) = {
    @for(benefit <- benefits) {
        <div class="benefits-item">
            <div class="benefits-item__inner">
                <li class="benefits-title">
                    <div class="benefits-title__first">
                        @fragments.inlineIcon(benefit.icon, List("icon-inline--medium", "icon-inline--top"))
                    </div>
                    <div class="benefits-title__second">@benefit.title</div>
                </li>
                @if(showBenefitCopy) {
                    <li class="benefits-copy">@benefit.description</li>
                }
            </div>
        </div>
    }
}

<p class="package__description">@Benefits.details(currentTier).desc</p>
@if(showBenefitDetails) {
    <div class="package__title">What's included</div>
    <div class="package-benefits">
        <ul class="package-benefits__list u-unstyled">
            @benefitListing(Benefits.details(currentTier).list)
        </ul>
    </div>
}
