@(
    tier: com.gu.membership.salesforce.Tier.Tier,
    subtitle: String = ""
)(action: HTML)(implicit token: play.filters.csrf.CSRF.Token)

@import model.Benefits
@import helper._

<div class="package-feature">
    <div class="package-feature__intro u-cf">
        <div class="package-feature__header">
            <h3 class="package-feature__title">@tier</h3>
            @if(subtitle){
                <span class="package-feature__subtitle">@subtitle</span>
            }
        </div>
        <div class="package-feature__pricing">
            @fragments.benefits.priceInfo(tier)
        </div>
    </div>
    <div class="package-feature__content">
        @fragments.benefits.featured(tier)
    </div>
    @if(action){
        <div class="package-feature__action">
            @action
        </div>
    }
</div>
