@import model.MembershipCatalog
@(catalog: MembershipCatalog)

@import views.support.DisplayText._

<div class="package-teaser">
    <h4 class="package-teaser__title">Alternatively, join for free</h4>

    @for(highlight <- catalog.friend.tier.highlights().headOption) {
        <div class="package-teaser__description copy">
        @highlight.description
        </div>
    }
    <div class="package-teaser__action">
        <a href="@routes.Joiner.enterFriendDetails().url"
            class="action action--secondary qa-friend-join"
            aria-title="Join as a Friend for free"
            data-metric-trigger="click"
            data-metric-category="join"
            data-metric-action="friend"
            data-metric-label="Join for free">
            Become a Friend
            @fragments.actionIcon("arrow-right")
        </a>
    </div>
</div>
