@import model.MembershipCatalog
@import com.gu.i18n.Currency
@(catalog: MembershipCatalog)(implicit currency: Currency)

<section class="listing listing--basic tone-tint">
    <div class="l-constrained">
        <div class="listing__lead-in">
            <h3 class="h-intro">Join membership today</h3>
        </div>
        <div class="listing__content">
            <ul class="grid grid--equal-heights grid--bordered grid--3up-stacked">
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.supporter, currency, isReversed=true)
                </li>
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.partner, currency, isReversed=true)
                </li>
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.patron, currency, isReversed=true)
                </li>
            </ul>
            @fragments.tier.friendTeaser(catalog)
        </div>
    </div>
</section>
