@import com.gu.memsub.subsv2.Catalog
@import views.support.MembershipCompat._
@import com.gu.salesforce.PaidTier
@import com.gu.i18n.CountryGroup

@(catalog: Catalog)(implicit countryGroup: CountryGroup)

<section class="listing listing--basic tone-tint">
    <div class="l-constrained">
        <div class="listing__lead-in">
            <h3 class="h-intro">Join membership today</h3>
        </div>
        <div class="listing__content">
            <ul class="grid grid--equal-heights grid--bordered grid--3up-stacked">
                @for(tier <- PaidTier.all) {
                    <li class="grid__item">
                        @fragments.tier.packagePromo(catalog.findPaid(tier), countryGroup, isReversed = true)
                    </li>
                }
            </ul>
            @fragments.tier.friendTeaser()
        </div>
    </div>
</section>
