@import model.MembershipCatalog
@import com.gu.i18n.CountryGroup
@(catalog: MembershipCatalog)(implicit countryGroup: CountryGroup)

<section class="listing listing--basic tone-tint">
    <div class="l-constrained">
        <div class="listing__lead-in">
            <h3 class="h-intro">Join membership today</h3>
        </div>
        <div class="listing__content">
            <ul class="grid grid--equal-heights grid--bordered grid--3up-stacked">
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.supporter, countryGroup, isReversed=true)
                </li>
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.partner, countryGroup, isReversed=true)
                </li>
                <li class="grid__item">
                @fragments.tier.packagePromo(catalog.patron, countryGroup, isReversed=true)
                </li>
            </ul>
            @fragments.tier.friendTeaser(catalog)
        </div>
    </div>
</section>
