@(benefits: model.Benefits,
  showDescription: Boolean = true,
  descriptionAnchor: Option[String] = None,
  modifierClass: Option[String] = None,
  extraClasses: Seq[String] = Seq.empty,
  isReversed: Boolean = false)

@actionAttrs = {
    href="@routes.Joiner.enterDetails(benefits.tier)"
    data-metric-trigger="click"
    data-metric-category="join"
    data-metric-action="@benefits.tier.slug"
}

<div class="package-promo--minimal tone-border-@benefits.tier.slug">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                @fragments.tier.tierTrail(benefits, showCaption=false)
                </div>
                <div class="package-promo__tier__pricing">
                @fragments.pricing.priceInfo(benefits, canFlex=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__actions">
            <a class="action action--snap u-no-bottom-margin qa-package-@benefits.tier.slug" @actionAttrs>
                <span class="action__label">
                    Become a @benefits.tier.name
                </span>
            </a>
        </div>
    </div>
</div>
