@import com.gu.i18n.CountryGroup.US
@import views.support.Pricing
@(pricing: Pricing, isReversed: Boolean)

@import com.gu.membership.salesforce.Tier._

@actionAttrs = {
    href="@{routes.Joiner.enterPaidDetails(Supporter)}?countryGroup=@US.id"
    data-metric-trigger="click"
    data-metric-category="join"
    data-metric-action="@Supporter.toString.toLowerCase"
}

<div class="package-promo @if(isReversed){ package-promo--reversed} package-promo--spread tone-border-@Supporter">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(Supporter, showCaption=false)
                </div>
                <div class="package-promo__tier__pricing">

                    <div class="price-info">
                        <div class="price-info__item price-info__item--split">
                            <div class="price-info__detail">
                                <strong class="price-info__value">@pricing.yearly.pretty</strong>
                                <span class="price-info__date">/year</span>
                            </div>
                            <div class="price-info__saving">about @pricing.yearlySaving.pretty</div>
                        </div>
                        <div class="price-info__item price-info__item--split price-info__item--last">
                            <div class="price-info__detail price-info__detail--right">
                                <strong class="price-info__value">@pricing.monthly.pretty</strong>
                                <span class="price-info__date">/month</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__actions">
            <a class="action action--snap u-no-bottom-margin qa-package-@Supporter.toString.toLowerCase" @actionAttrs>
                <span class="action__label">
                    Become a Supporter
                </span>
            </a>
        </div>
    </div>
</div>
