@(tier: com.gu.membership.salesforce.Tier, isReversed: Boolean = false)(implicit token: play.filters.csrf.CSRF.Token)

@import model.Benefits
@import com.gu.membership.salesforce.Tier

<div class="package-feature">
    <div class="package-feature__promo">
        @fragments.tier.packagePromo(tier, isReversed=isReversed, modifierClass=Some("package-promo--simple"))
    </div>
    <div class="package-feature__benefits">
        <div class="package-feature__leadin tone-border-@tier.slug">
            @Benefits.details(tier).leadin
        </div>
        <ul class="list-stack list-stack--bordered">
            @for(benefit <- Benefits.detailsLimited(tier)) {
                <li>@fragments.benefits.item(benefit, iconClasses=List("tone-color-" + tier.slug))</li>
            }
        </ul>
    </div>
</div>
