@import com.gu.memsub.Status
@import com.gu.memsub.subsv2._
@import com.gu.salesforce._
@import views.support.DisplayText._
@import views.support.{FreePlan, PaidPlans, TierPlans}
@import com.gu.i18n.CountryGroup
@import scalaz.NonEmptyList
@import views.support.PackagePromo._
@import model.PackagePromo
@import model.PackagePromo.CtaButton
@import views.support.MembershipCompat._
@(plans: TierPlans,
  cg: CountryGroup,
  showDescription: Boolean = true,
  descriptionAnchor: Option[String] = None,
  modifierClass: Option[String] = None,
  extraClasses: Seq[String] = Seq.empty,
  highlightOverrides: Option[NonEmptyList[Highlight]] = None,
  isReversed: Boolean = false,
  chooseTier: Boolean = false,
  promoCode: Option[String] = None,
  button: Option[CtaButton] = None,
  secondaryButton: Option[CtaButton] = None,
  customPrice: Option[Html] = None
)
@tier = @{

}
@promoButton = @{
    button.getOrElse(forCountryTier(plans.tier, cg, promoCode))
}

<div class="@if(isReversed){ package-promo--reversed} @modifierClass.getOrElse("package-promo--default") @extraClasses.mkString("") tone-border-@plans.tier.slug">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" href="@promoButton.to" @promoButton.attributes.html>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(plans.tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        @if(showDescription) {
            <div class="package-promo__description copy">
                <ul class="o-bulleted-list">
                    @for(highlight <- if(chooseTier && plans.tier == Tier.patron) plans.tier.chooseTierPatron else highlightOverrides.fold(plans.tier.highlights(cg))(_.list) ) {
                        <li>
                            @if(highlight.isNew) {
                                @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                            }
                            @highlight.description
                        </li>
                    }
                </ul>
                @if(descriptionAnchor) {
                    <p class="o-caption tablet-only"><a href="@descriptionAnchor">What's included</a></p>
                }
            </div>
        }

            <div class="package-promo__actions @if(secondaryButton.isDefined){package-promo__actions--multiple}">
                <div class="package-promo__actions__pricing">
                @plans match {
                    case _ if customPrice.isDefined => {
                        @customPrice.get
                    }
                    case FreePlan(_) => {
                        @fragments.pricing.freePriceInfo()
                    }
                    case PaidPlans(p) => {
                        @fragments.pricing.paidPriceInfo(p, cg.currency)
                    }
                }
                </div>
                <a class="action qa-package-@plans.tier.slug  @if(!secondaryButton.isDefined){u-no-bottom-margin}" href="@promoButton.to" @promoButton.attributes.html>
                    @promoButton.text
                </a>
                @for(button <- secondaryButton){

                    <a class="action action--no-icon action--secondary " href="@button.to" @button.attributes.html>
                        @button.text
                        <svg class="icon-inline action__icon action__icon--right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                }
            </div>

    </div>
</div>
