@import com.gu.i18n.Currency
@import com.gu.memsub.Current
@import com.gu.salesforce.Tier.Supporter
@import com.gu.membership.PaidMembershipPlans
@import com.gu.i18n.CountryGroup
@(supporterPlans: PaidMembershipPlans[Current, Supporter], cg: CountryGroup)

@import com.gu.salesforce.Tier._

@actionAttrs = {
    href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier)}?countryGroup=@cg.id"
    data-metric-trigger="click"
    data-metric-category="join"
    data-metric-action="@Supporter.toString.toLowerCase"
}

<div class="package-promo package-promo--homepage tone-border-supporter">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(supporterPlans.tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__description copy">
            <p>Support our journalism and keep theguardian.com free of charge for all</p>
            <h4 class="u-margin-top">Benefits:</h4>
            <ul class="o-bulleted-list">
                <li>Welcome pack, card and gift</li>
                <li>Regular Members updates</li>
            </ul>
        </div>
        <div class="package-promo__actions">
            <div class="package-promo__actions__pricing">
                @fragments.pricing.paidPriceInfo(supporterPlans, cg.currency, showCurrencyPrefix = false)
            </div>
            <a class="action action--no-icon u-no-bottom-margin qa-package-@supporter.slug" @actionAttrs>
                <span class="action__label">
                    Become a Supporter
                </span>
                @fragments.actionIcon("arrow-right")
            </a>
        </div>
    </div>
</div>
