@(benefit: model.Benefits, isReversed: Boolean = false)

<div class="package-feature">
    <div class="package-feature__promo">
        @fragments.tier.packagePromo(benefit, isReversed=isReversed, modifierClass=Some("package-promo--simple"))
    </div>
    <div class="package-feature__benefits copy">
        <div class="package-feature__leadin tone-border-@benefit.tier.slug">
            @benefit.leadin
        </div>
        <ul>
            @for(benefit <- benefit.detailsLimited) {
                <li>@benefit.title</li>
            }
        </ul>
    </div>
</div>
