@(tier: com.gu.membership.salesforce.Tier, isReversed: Boolean = false)

@import model.Benefits

<div class="package-feature">
    <div class="package-feature__promo">
        @fragments.tier.packagePromo(tier, isReversed=isReversed, modifierClass=Some("package-promo--simple"))
    </div>
    <div class="package-feature__benefits copy">
        <div class="package-feature__leadin tone-border-@tier.slug">
            @Benefits.details(tier).leadin
        </div>
        <ul>
            @for(benefit <- Benefits.detailsLimited(tier)) {
                <li>@benefit.title</li>
            }
        </ul>
    </div>
</div>
