@(tier: com.gu.membership.salesforce.Tier)(implicit token: play.filters.csrf.CSRF.Token)

@import model.Benefits

@actionAttrs = {
    href="@routes.TierController.upgrade(tier)"
    data-metric-trigger="click"
    data-metric-category="changeTier"
    data-metric-action="@tier.toString.toLowerCase"
}

<div class="package-promo--default tone-border-@tier.toString.toLowerCase">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__description copy">
            <ul class="o-bulleted-list">
                @for(highlight <- Benefits.details(tier).highlights) {
                    <li>
                        @if(highlight.isNew) {
                            @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                        }
                        @highlight.description
                    </li>
                }
            </ul>
        </div>
        <div class="package-promo__actions">
            <div class="package-promo__actions__pricing">
            @fragments.pricing.priceInfo(tier, canFlex=false)
            </div>
            <a class="action u-no-bottom-margin" id="qa-change-tier-@tier.slug" @actionAttrs>
                <span class="action__label">Become a @tier</span>
            </a>
        </div>
    </div>
</div>
