@import model.Benefits
@import com.gu.memsub.Current
@import com.gu.salesforce.Tier.Supporter

@import views.support.MembershipCompat._
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember
@(supporterPlans: MonthYearPlans[PaidMember], cg: CountryGroup, metricLabel: String)

@import com.gu.salesforce.Tier._

@actionAttrs = {
    href="@{routes.Joiner.enterPaidDetails(supporterPlans.tier)}?countryGroup=@cg.id"
    data-metric-trigger="click"
    data-metric-category="Supporter Landing Page @cg.id"
    data-metric-action="cta click"
    data-metric-label="@metricLabel"
}

<div class="package-promo package-promo--landing-page tone-border-supporter">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(supporterPlans.tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__description copy">
            <p>Support the independence of the Guardian and our award-winning journalism</p>
            <h4 class="u-margin-top">Benefits:</h4>
            <ul class="o-bulleted-list">
                @for(benefit <- Benefits.promoForCountry(cg)){
                    <li>@benefit.title</li>
                }
            </ul>
        </div>
        <div class="package-promo__actions">
            <div class="package-promo__actions__pricing">
                @fragments.pricing.paidPriceInfo(supporterPlans, cg.currency, showCurrencyPrefix = false)
            </div>
            <a class="action action--no-icon u-no-bottom-margin qa-package-@supporter.slug" @actionAttrs>
                Become a Supporter
                <svg class="icon-inline action__icon action__icon--right u-no-float">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
