@import com.gu.i18n.Currency
@import model.{TierDetails,PaidTierDetails, FreeTierDetails}
@import views.support.DisplayText._

@(details: TierDetails)(implicit token: play.filters.csrf.CSRF.Token, currency: Currency)

@actionPath = {
  @details match {
      case paid: PaidTierDetails => { @routes.TierController.upgrade(paid.tier) }
      case free: FreeTierDetails => { @routes.TierController.downgradeToFriend() }
  }
}

<div class="package-promo--default tone-border-@details.tier.slug">
    <div class="package-promo__header">
        <a class="no-underline minimal-link">
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(details.tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__description copy">
            <ul class="o-bulleted-list">
                @for(highlight <- details.tier.highlights) {
                    <li>
                        @if(highlight.isNew) {
                            @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                        }
                        @highlight.description
                    </li>
                }
            </ul>
        </div>
        <div class="package-promo__actions">
            <div class="package-promo__actions__pricing">
            @fragments.pricing.priceInfo(details, currency, canFlex=false)
            </div>
            <a class="action u-no-bottom-margin"
            id="qa-change-tier-@details.tier.slug"
            href="@actionPath"
            data-metric-trigger="click"
            data-metric-category="changeTier"
            data-metric-action="@details.tier.slug">
                <span class="action__label">Become a @details.tier.name</span>
            </a>
        </div>
    </div>
</div>
