@import com.gu.salesforce.PaidTier
@import com.gu.i18n.CountryGroup
@import com.gu.membership.PaidMembershipPlans
@import com.gu.memsub.Current
@import views.support.Pricing._
@import views.support.MembershipCompat._
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.Catalog.PaidMember
@(paidPlan: MonthYearPlans[PaidMember],
  cg: CountryGroup,
  showDescription: Boolean = true,
  descriptionAnchor: Option[String] = None,
  modifierClass: Option[String] = None,
  extraClasses: Seq[String] = Seq.empty,
  isReversed: Boolean = false)

@actionAttrs = {
    href="@routes.Joiner.enterPaidDetails(paidPlan.tier)"
    data-metric-trigger="click"
    data-metric-category="join"
    data-metric-action="@paidPlan.tier.slug"
}

<div class="package-promo--minimal tone-border-@paidPlan.tier.slug">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                @fragments.tier.tierTrail(paidPlan.tier, showCaption=false)
                </div>
                <div class="package-promo__tier__pricing">
                @fragments.pricing.paidPriceInfo(paidPlan, cg.currency, canFlex=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        <div class="package-promo__actions">
            <a class="action action--snap u-no-bottom-margin qa-package-@paidPlan.tier.slug" @actionAttrs>
                <span class="action__label">
                    Become a @paidPlan.tier.name
                </span>
            </a>
        </div>
    </div>
</div>
