@(currentSubscription: model.Zuora.SubscriptionDetails)

@import views.support.Dates._
@import views.support.Prices._

<table class="table table--striped" role="grid">
    <tr role="row">
        <th role="rowheader">
            Tier
        </th>
        <td id="qa-tier-summary-tier">
            @currentSubscription.planName
        </td>
    </tr>
    <tr role="row">
        <th role="rowheader">
            End date
        </th>
        <td id="qa-tier-summary-end">
            @currentSubscription.endDate.pretty
        </td>
    </tr>
    @if(!currentSubscription.startDate.isAfterNow()) {
        <tr role="row">
        <th role="rowheader">
            @if(currentSubscription.annual){ Annual } else { Monthly } Payment
        </th>
        <td id="qa-tier-summary-recurring">
            @currentSubscription.planAmount.pretty
        </td>
        </tr>
        <tr role="row">
            <th role="rowheader">
            Last payment
            </th>
            <td id="qa-tier-summary-start">
            @currentSubscription.startDate.pretty
            </td>
        </tr>
    }
</table>
