@(currentSubscription: model.Zuora.SubscriptionDetails)

@import views.support.Dates._
@import views.support.Prices._

<table class="table table--responsive-font table--striped">
    <tr class="table__headline" role="row">
        <td class="summary-table__cell" role="scope">
            Package
        </td>
        <td class="summary-table__cell" role="scope">
            @currentSubscription.planName
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            End Date
        </td>
        <td class="summary-table__cell">
            @currentSubscription.endDate.pretty
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Monthly Payment
        </td>
        <td class="summary-table__cell">
            @currentSubscription.planAmount.pretty
        </td>
    </tr>
    <tr class="summary-table__row" role="row">
        <td class="summary-table__cell">
            Last Payment
        </td>
        <td class="summary-table__cell">
            @currentSubscription.startDate.pretty
        </td>
    </tr>
</table>
