@(subscription: model.Stripe.Subscription, card: model.Stripe.Card)(implicit request: play.api.mvc.Request[_])

@import configuration.Config

@main("Membership - Down Grade Tier Summary") {

<div class="page-container">
    <main role="main">
        <div class="content__container content__container--border">
            <section class="l-row l-row--items-2 content__section">
                <div class="l-row__item"></div>
                <article class="l-row__item l-row__item--boost-2 secondary-content">
                    <h1 class="content__headline">Sorry to see you go...</h1>
                    <p>You will continue to receive all the great Membership Benefits until <span style="color:red; font-weight:bold; font-size: 2em;">DATE HERE</span></p>
                </article>
            </section>
        </div>
        <div class="content__container content__container--border">
            <section class="l-row l-row--items-2">
                <div class="l-row__item">
                    <h2>Current Package Summary</h2>
                </div>
                <div class="l-row__item l-row__item--boost-2 secondary-content">
                    @partials.tier.summary(subscription, card)
                </div>
            </section>
        </div>
        <div class="content__container content__container--border">
            <section class="l-row l-row--items-2">
                <div class="l-row__item">
                    <h2>New Package Summary</h2>
                </div>
                <div class="l-row__item l-row__item--boost-2 secondary-content">
                    @partials.tier.summary(subscription, card)
                </div>
            </section>
        </div>
        <section class="content__container right-align">
            <a href="@Config.idWebAppUrl/account/edit" class="form-action form-action--confirm">My Profile</a>
        </section>
    </main>
</div>

}