@(currentSubscription: model.Zuora.SubscriptionDetails, futureSubscription: model.Zuora.SubscriptionDetails)

@import configuration.Config
@import views.support.Dates._
@import views.support.Prices._

@main("Change Tier Summary | " + futureSubscription.planName + " from " + currentSubscription.planName) {

    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Sorry to see you go…", Some("You will continue to receive all the great Membership benefits until " + currentSubscription.endDate.pretty))

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">Current Membership summary</h2>
            </div>
            <div class="page-section__content">
                @fragments.tier.summary(currentSubscription)
            </div>
        </section>

        <section class="page-section page-section--bordered">
            <div class="page-section__lead-in">
                <h2 class="page-section__headline">New Membership summary</h2>
            </div>
            <div class="page-section__content">
                <table class="table table--responsive-font table--striped" role="grid">
                    <tr role="row">
                        <th role="rowheader">
                            Tier
                        </th>
                        <td id="qa-downgrade-summary-tier">
                            Friend
                        </td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">
                            Start date
                        </th>
                        <td id="qa-downgrade-summary-start">
                            @futureSubscription.startDate.pretty
                        </td>
                    </tr>
                    <tr role="row">
                        <th role="rowheader">
                            @if(futureSubscription.annual){ Annual } else { Monthly } payment
                        </th>
                        <td>
                            @futureSubscription.planAmount.pretty
                        </td>
                    </tr>
                </table>

                <a href="@Config.idWebAppUrl/membership/edit" class="action u-align-right" id="qa-downgrade-profile-link">My profile</a>
            </div>
        </section>

    </main>

}
