@(currentSubscription: model.Zuora.SubscriptionDetails, futureSubscription: model.Zuora.SubscriptionDetails)

@import configuration.Config
@import views.support.Dates._
@import views.support.Prices._

@main("Change Tier Summary | " + futureSubscription.planName + " from " + currentSubscription.planName) {

    <main role="main" class="page-content">
        <div class="content__container">
            <section>
                @fragments.layout.sectionHeader("Sorry to see you go&hellip;")
                <p>You will continue to receive all the great Membership benefits until @currentSubscription.endDate.pretty</p>
            </section>
        </div>
        <div class="content__container content__container--border">
            <section class="l-row l-row--items-2">
                <div class="l-row__item">
                    <h2 class="content__headline">Current Membership Summary</h2>
                </div>
                <div class="l-row__item l-row__item--boost-2 secondary-content">
                    @fragments.tier.summary(currentSubscription)
                </div>
            </section>
        </div>
        <div class="content__container content__container--border">
            <section class="l-row l-row--items-2">
                <div class="l-row__item">
                    <h2 class="content__headline">New Membership Summary</h2>
                </div>
                <div class="l-row__item l-row__item--boost-2 secondary-content">
                    <table class="table table--responsive-font table--striped" role="grid">
                        <tr role="row">
                            <th role="rowheader">
                                Tier
                            </th>
                            <td id="qa-downgrade-summary-tier">
                                Friend
                            </td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">
                                Start Date
                            </th>
                            <td id="qa-downgrade-summary-start">
                                @futureSubscription.startDate.pretty
                            </td>
                        </tr>
                        <tr role="row">
                            <th role="rowheader">
                                @if(futureSubscription.annual){ Annual } else { Monthly } Payment
                            </th>
                            <td>
                                @futureSubscription.planAmount.pretty
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <section class="content__container u-align-right">
            <a href="@Config.idWebAppUrl/membership/edit" class="action action-cta action-cta--confirm" id="qa-downgrade-profile-link">My Profile</a>
        </section>
    </main>

}
