@(  Step: Int,
    StepOne: String = "Join us",
    StepTwo: String = "Sign in or Register",
    StepThree: String = "Address & Billing",
    StepFour: String = "Confirm membership")

<div class="funnel">
    <ul class="funnel__rail inline-list">
        <li class="funnel__step @if(Step == 1){active}">
            <span class="funnel__point"></span>
            <span class="funnel__text hidden-mobile">@StepOne</span>
        </li>
        <li class="funnel__step @if(Step == 2){active}">
            <span class="funnel__point"></span>
            <span class="funnel__text hidden-mobile">@StepTwo</span>
        </li>
        <li class="funnel__step @if(Step == 3){active}">
            <span class="funnel__point"></span>
            <span class="funnel__text hidden-mobile">@StepThree</span>
        </li>
        <li class="funnel__step @if(Step == 4){active}">
            <span class="funnel__point"></span>
            <span class="funnel__text hidden-mobile">@StepFour</span>
        </li>
        <li class="funnel-stretch"></li>
    </ul>
</div>
