@import com.gu.salesforce.Tier.Partner

@main("PayPal Error") {

	<main role="main" class="page-content l-constrained">
		<div class="paypal-error-page">
	        <p>Sorry, there was a problem completing your PayPal payment. Please try again:</p>
	        <a class="paypal-error-page__signup-link" href="@routes.Info.supporterRedirect(None)"><button class="action">Become a Supporter</button></a>
	        <a class="paypal-error-page__signup-link" href="@routes.Joiner.enterPaidDetails(Partner())"><button class="action">Become a Partner</button></a>
	        <a class="paypal-error-page__signup-link" href="@routes.Info.patron"><button class="action">Become a Patron</button></a>
        </div>
	</main>

}
