@(
    totalItems: Int,
    locations: Seq[model.RichEvent.FilterItem],
    currentSelectionOpt: Option[String],
    switchToOpt: Option[String]
)

<div class="event-filters">
    <div class="event-filters__container l-constrained">
        <div class="event-filters__items">
            <form action="" method="get" id="js-filter-form">
                <label class="event-filters__item">
                            Show:
                    <select name="location" class="select-minimal js-facet">
                        <option value="">All cities</option>
                        @for(location <- locations if location.count > 0) {
                            <option value="@location.slug" @if(currentSelectionOpt.contains(location.slug)) { selected}>
                            @location.name.capitalize
                            (@location.count)
                            </option>
                        }
                    </select>
                </label>
                <span class="event-filters__count">
                    <span class="js-filter-count">@totalItems</span>
                    @if(totalItems > 1) { events } else { event }
                    @if(currentSelectionOpt.isEmpty) {
                        in @locations.length cities
                    }
                </span>
                <input type="submit" value="Filter" class="action action--primary u-hidden-js">
            </form>
        </div>
    </div>
</div>
