@(
    eventGroup: model.RichEvent.EventGroup,
    noResultsMessageOpt: Option[String],
    isLead: Boolean = false,
    isFilterable: Boolean = false
)
@if(eventGroup.events.nonEmpty) {
    <section class="listing listing--bordered @if(isLead){listing--lead}">
        <div class="listing__lead-in">
            <h3 class="listing__title h-intro">@eventGroup.sequenceTitle</h3>
        </div>
        <div class="listing__content">
            @if(eventGroup.events.nonEmpty) {
                @for(noResultsMessage <- noResultsMessageOpt if isFilterable) {
                    <div class="listing__no-results js-filter-empty">@noResultsMessage</div>
                }
                <ul class="grid grid--bordered grid--3up"@if(isFilterable){ id="js-filter-container"}>
                    @for(event <- eventGroup.events) {
                        <li class="grid__item@if(isFilterable){ js-filter-item}">
                            @fragments.event.item(event)
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
}
