@(event: model.EventbriteEvent.EBEvent)

    <li class="event">
        <div class="event__image">
            <a href="/event/@event.id">
                <img src="@event.logo_url" alt="Event Image" height="220"/>
            </a>
        </div>
        <div class="event__meta">
            <h2 class="event__name">
                <a href="/event/@event.id">@event.name.text</a>
            </h2>
            <span class="event__location">@event.venue.name</span>
            <span class="event__time">@event.start.local</span>
        </div>
    </li>


