header {
    @include rem((
        height: 42px
    ));
    border-bottom: 1px solid $c-neutral6;
    background: $c-neutral8;

    .header__logo {
        display: block;
        @include rem((
            height: 42px
        ));
//        position: absolute;
//        right: $gs-gutter;
//        top: gs-height(1)/2;
        float: right;
    }

    .header__identity {
        width: 100%;
        height: 42px;
        display: block;
        background-color: #FFFFFF;
        padding: 0 0 0 6px;

        .i-action {
            border: 1px solid #333;
            padding: 0;
            -webkit-border-radius: 100rem;
            border-radius: 100rem;
            width: 30px;
            height: 30px;
            padding-top: 5px;
        }

        .i-profile {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTguOTg0IDcuNmguMDFjLjgyNC4wMDMgMS41OTgtLjI4OCAyLjE0Ni0uODY0LjU0OS0uNTczLjg2LTEuNDA4Ljg1OS0yLjQ0Ny4wMDEtMS4wMDQtLjI5Mi0xLjgyOC0uODI5LTIuNDA1LS41MzUtLjU3OS0xLjMxMi0uODg3LTIuMTY2LS44ODMtLjgyLS4wMDUtMS41OTYuMjgzLTIuMTQ2Ljg1Ny0uNTQ3LjU3MS0uODYgMS40MDEtLjg1OCAyLjQzOCAwIDEuMDA2LjI5MiAxLjgzMy44MjcgMi40MTUuNTMzLjU3OSAxLjMwNi44ODkgMi4xNTcuODg5em01LjUxNiAyLjA1M2gtLjAwMmMtMi45NTctMS44MDEtOC4wMzctMS44MDEtMTAuOTkyIDBoLS4wMDZ2LjAxOGwtLjUgNS41MDMuNzQxLjgyN2gxMC41MTlsLjc0LS44MjctLjUtNS41MjF6IiBmaWxsPSIjMzMzIi8+PC9zdmc+);
            background-position: 0 0;
            background-repeat: no-repeat;
            height: 18px;
            width: 18px;
            margin: 0 auto;
        }

        span {
            @include fs-data(2);
            display: block;
        }

        > span {
            vertical-align: top;
            display: inline-block;
            padding: 6px 0;
            margin: 6px 6px 6px 0;
        }
    }

    @include mq(mobile) {
        @include rem((
            height: 108px
        ));
        .header__logo {
            background: url('/assets/images/membership_tab.png');
            height: 66px;
            width: 221px;
            position: absolute;
            top: 42px;
            right: 0;
            img {
                display: none;
            }
        }
    }

    @include mq(tablet) {
        @include rem((
            height: 134px
        ));

        .header__logo {
            background: url('/assets/images/membership.png');
            height: 90px;
            width: 301px;
        }

        .header__identity {
            position: absolute;
            top: gs-height(1)/2;
            left: 0;
            background: none;
            span {
                @include fs-data(4);
            }
        }
    }
}