%section-header {
    @include rem((
        margin-bottom: $gs-baseline*2,
        padding: $gs-baseline/3
    ));

    background-color: #FFFFFF;
}


.section-headline {
    @extend %section-header;
    @include fs-headline(7);
}

.section-sub-headline {
    @extend %section-header;
    @include fs-headline(4);
}

.section-body-heading {
    @extend %section-header;
<<<<<<< Updated upstream
    @include fs-bodyHeading(4);
=======
    @include fs-headline(2);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
>>>>>>> Stashed changes
}