html {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
}

body {
    margin-bottom: 198px;
}

.page-container {
    padding-bottom: 16px;
    background-color: #FFFFFF;
    @include clearfix;
    position: relative;
    margin: 0 auto;
    @include rem((
        max-width: 1140px
    ));
}

.separator {
    border-top: 2px solid $c-newsAccent;
    margin: $gs-baseline 0 $gs-baseline/2;
}

.align-center {
    text-align: center;
}