html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
}

body {
    @include rem((
        margin-bottom: 198px
    ));
}

.header {
    position: relative;
    z-index: 999;
    @include rem((
        margin: 0 0 $headerMargin 0
    ));
}

.page-container__background-image {
    position: absolute;
    background: #ffffff url("/assets/images/crowd.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    @include rem((
        height: $headerHeight+$headerMargin+$pageImageIndent,
        top: 0
    ));
}

.page-container {
    min-height: $pageImageIndent;
    @include rem((
        padding: $gs-gutter/4 $gs-gutter/4 0 $gs-gutter/4
    ));
    background-color: #FFFFFF;
    @include clearfix;
    position: relative;
    margin: 0 auto;
    @include rem((
        max-width: 1140px
    ));
    @include mq(tablet){
        @include rem((
            padding: $gs-gutter $gs-gutter 0 $gs-gutter
        ));
    }
}

.separator {
    border-top: 2px solid $c-newsAccent;
    margin: $gs-baseline 0 $gs-baseline/2;
}

.align-center {
    text-align: center;
}

.l-row__item {
    @include rem((
        padding-bottom: $gs-gutter * 2
    ));
}