@import views.support.Catalog.Diagnostic
@(diagnostic: Diagnostic)

@main("Catalog diagnostic") {
  <main role="main" class="page-content l-constrained">
    <section>
      @diagnostic.comparisonTable.map { table =>
        <header><h1>Valid plans</h1></header>
        <table class="table--striped table">
          <thead>
            <tr>
              <th>RATE PLAN</th>
              <th>ENVIRONMENT</th>
              <th>ID</th>
              <th>PRICES/CURRENCIES</th>
            </tr>
          </thead>
          <tbody>
            @table.rows.map { cat =>
              <tr>
                <td>@cat.name</td>
                <td>@cat.env</td>
                <td>@cat.productRatePlanId.get</td>
                <td>@cat.prices</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </section>
    @if(diagnostic.errorTables.nonEmpty) {
      <section>
        <header><h1>Invalid plans</h1></header>
        @diagnostic.errorTables.map { t =>
          <h2>@t.env.capitalize</h2>
          <table class="table--striped table">
            <thead>
              <tr>
                <th>RATE PLAN</th>
                <th>ERRORS</th>
              </tr>
            </thead>
            <tbody>
            @t.rows.list.map { cat =>
              <tr>
                <td>@cat.name</td>
                <td>@cat.errorMsg</td>
              </tr>
            }
            </tbody>
          </table>
        }
      </section>
    }
  </main>
}
