@(events: Seq[model.RichEvent.RichEvent])

@import model.RichEvent._
@import configuration.Config
@import views.support.Event

@eventTrait(title: String, hasTrait: Boolean, isLast: Boolean = false) = {
    <li class="event-trait@if(isLast){ event-trait--last}">
        <h4 class="event-trait_header">@title</h4>
        <div class="event-trait_detail@if(hasTrait){ has-trait}"></div>
    </li>
}

@mainBasic("Event Overview") {

    <main role="main" class="page-content">

        <section class="utils-page-header l-constrained">
            <h1 class="page-headline">Events Overview</h1>
            <p class="page-intro">A breakdown of Live events currently displayed on Membership</p>
        </section>

        <section class="l-constrained">

            @for(event <- events) {
                @defining(Event.eventDetail(event)) { eventDetail =>

                    <div class="event-detail-container">

                        <div class="event-detail u-cf">

                            <div class="event-detail_image">
                                <a href="/event/@event.id" target="_blank">
                                @fragments.event.image(event)
                                </a>
                            </div>

                            <div class="event-detail_info copy">
                                <a href="/event/@event.id" target="_blank">@event.name.text</a>
                                <div>
                                    <a href="@(s"${Config.membershipUrl}/preview-event/${event.id}")"
                                    target="_blank"
                                    class="event-sub-detail">Preview</a>
                                </div>
                                <div>
                                    <a href="@(s"https://dashboard.ophan.co.uk/info?url=${Config.membershipUrl}/event/${event.id}")"
                                    target="_blank"
                                    class="event-sub-detail">Ophan</a>
                                </div>
                            </div>
                        </div>

                        <ul class="event-trait-container u-unstyled">
                            @eventTrait("Free", eventDetail.isFree)
                            @eventTrait("Discounted", eventDetail.isDiscounted)
                            @eventTrait("noTicketEvent", eventDetail.isNoTicketEvent)
                            @eventTrait("Sold out", eventDetail.isSoldOut)
                            @eventTrait("Member Ticket", eventDetail.hasMemberTicket, true)
                        </ul>

                    </div>
                }
            }

        </section>

    </main>
}
