@(liveEvents: Seq[model.RichEvent.RichEvent], draftEvents: Seq[model.RichEvent.RichEvent])

@import configuration.Config

@eventTrait(text: String, displayTrait: Boolean, identifier: String = "") = {
    <li class="event-trait@if(identifier){ @(s"event-trait--$identifier")}@if(!displayTrait){ is-hidden}">
        @text
    </li>
}

@eventOverviewSection(title: String, events: Seq[model.RichEvent.RichEvent]) = {

    <section class="utils-page-section">
        <h2 class="utils-page-section-header">@title</h2>

        <ul class="events-overview u-unstyled u-cf">
        @for(event <- events) {
            <li class="event-item">
                <article class="event-detail">
                    <div>
                        <div class="event-detail_image">
                            <a href="/event/@event.id" class="" target="_blank">
                                <img src="@event.socialImgUrl" alt="" class="responsive-img"/>
                                <span class="pseudo-link event-detail-title">@event.name.text</span>
                            </a>
                        </div>
                        <div class="event-detail_info copy">
                            <a href="@(s"${Config.membershipUrl}/preview-event/${event.id}")"
                               target="_blank"
                               class="event-sub-detail">preview</a>
                            <a href="@(s"https://dashboard.ophan.co.uk/info?url=${Config.membershipUrl}/event/${event.id}")"
                               target="_blank"
                               class="event-sub-detail">ophan</a>
                            <a href="@(s"${Config.eventbriteUrl}/myevent?eid=${event.id}")"
                               target="_blank"
                               class="event-sub-detail">eventbrite</a>
                        </div>
                    </div>
                    <ul class="event-trait-container u-unstyled">

                        @if(event.isFree) {
                            @eventTrait("Free Event", event.isFree, "moderate")
                        }

                        @if(event.possiblyMissingDiscount) {
                            @eventTrait("No Discount", event.possiblyMissingDiscount, "important")
                        }

                        @if(!event.isSoldThruEventbrite) {
                            @eventTrait("Not Sold though Eventbrite", !event.isSoldThruEventbrite, "noteworthy")
                        }

                        @if(event.isSoldOut) {
                            @eventTrait("Sold out", event.isSoldOut)
                        }
                    </ul>
                </article>
            </li>
        }
        </ul>
    </section>
}

@tools("Event Overview") {

    <main role="main" class="page-content">

        <section class="utils-page-section">
            <h1 class="page-headline">Events Overview</h1>
            <p class="page-intro">A breakdown of Live events and Draft events associated with Membership</p>
        </section>

        @eventOverviewSection("Live Events", liveEvents)
        @eventOverviewSection("Draft Events", draftEvents)

    </main>
}
