@(errorOpt: Option[String] = None)

@main("Staff login", containerPadding=false) {

    <main class="page-container__inner">
        <section class="page-header">
            <h1 class="page-headline">Guardian Staff Membership</h1>
        </section>

        <section class="page-section">
            <div class="page-section__content">
                <p>
                @for(error <- errorOpt) {
                    @error
                }
                </p>
            </div>
        </section>
    </main>
}
