@(errorOpt: Option[String] = None, errorTemplateOpt: Option[String] = None, staffEmail: String = "")

@import configuration.Config

@main("Unauthorised Staff") {

    <main class="page-content">
        <section class="page-header">
            <h1 class="page-headline">No Access</h1>
        </section>

        <section class="page-section">
            <div class="page-section__content">
                @for(error <- errorOpt) {
                    <p>@error</p>
                }

                @for(errorTemplate <- errorTemplateOpt) {
                    @Html(errorTemplate)
                }

                @if(staffEmail) {
                    <p>You are currently signed in as <strong>@staffEmail</strong>.</p>
                }
            </div>
        </section>
    </main>
}
