@(flashMessageOpt: Option[model.FlashMessage], errorTemplateOpt: Option[String] = None, staffEmail: String = "")

@import configuration.Config

@main("Unauthorised Staff") {

    <main class="page-content">

        @fragments.page.pageHeader("No Access")

        <section class="page-section">
            <div class="page-section__content">
                @for(flashMessage <- flashMessageOpt) {
                    <p>@flashMessage.message</p>
                }

                @for(errorTemplate <- errorTemplateOpt) {
                    @Html(errorTemplate)
                }

                @if(staffEmail) {
                    <p>You are currently signed in as <strong>@staffEmail</strong>.</p>
                }
            </div>
        </section>
    </main>
}
