.button {
    margin: $gs-row-height 0 $gs-row-height 0;
    display: inline-block;
}

.sign-in {
    background-color: $mem-brandBlue;
    color: #FFFFFF;
    padding: $gutter/2;
    &:hover {
        background-color: darken($mem-brandBlue, 15%);
    }
}

.sign-in--logged-in {
    background-color: $mem-brandOrange;
    &:hover {
        background-color: darken($mem-brandOrange, 15%);
    }
}

.join {
    background-color: $mem-brandBlue;
    color: #FFFFFF;
    padding: $gutter;
    &:hover {
        background-color: darken($mem-brandBlue, 15%);
    }
}