/*.button-text {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
    color: #fff;
    display: inline-block;
    min-width: 8em;
    padding: .8em;
    text-align: center;
    cursor: pointer;
    letter-spacing: .05em;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.button-text:hover,
.button-text:active,
.button-text:focus {
    text-decoration: none;
}

.button-blue {
    background-color: #548eca;
    border: 1px solid #3f9fcc;
}

.button-blue:hover,
.button-blue:active,
.button-blue:focus {
    background-color: #36bdd1;
    border: 1px solid #36bdd1;
}

.button-green {
    background-color: #91ca54;
    border: 1px solid #88cc3f;
}

.button-green:hover,
.button-green:active,
.button-green:focus {
    background-color: #a0d760;
    border: 1px solid #a0d760;
}

.button-small {
    min-width: 5em;
    padding: .5em;
}

.button-large {
    min-width: 10em;
    padding: 1em;
}

.button-registration {
    margin: 0 2em 1em;
    display: block;
}*/














.action {
    margin: $gs-baseline 0;
    display: inline-block;
    text-align: center;
    padding: $gutter/2 $gutter;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.action-inline {
    margin: $gs-baseline;
}

.action--join,
.action--logged-out {
    background-color: $mem-brandBlue;
    &:visited,
    &:active,
    &:focus {
        background-color: $mem-brandBlue;
    }
    &:hover {
        background-color: darken($mem-brandBlue, 15%);
    }
}

.action--logged-in {
    background-color: $mem-brandOrange;
    &:visited,
    &:active,
    &:focus {
        background-color: $mem-brandOrange;
    }
    &:hover {
        background-color: darken($mem-brandOrange, 15%);
    }
}







.i-wait {
    display: none;
    img {
        margin-top: 9px;
    }
}

.actions {
    &.js-waiting .i-wait {
        display: inline-block;
        vertical-align: top;
    }
}