@import views.Crumb

@main("Membership") {

@partials.crumb(Seq(Crumb("Home", "/"), Crumb("Become a member", "/join"), Crumb("Become a Partner", "/join/partner")))


<div class="page-inner-container">

    <section class="tier-section tier-section--left-aligned tier-section--no-border ">
        <h1 class="section-headline u-text-hyphenate">Purpose/Value</h1>
        <h2 class="section-sub-headline u-text-hyphenate">Partner £15</h2>
        <p><a class="action action--inline-text action--join" href="/join/partner/payment">Join</a><a href="#whats-included" class="whats-included">Whats Included</a></p>
    </section>

    <section class="tier-navigation">
        <ul class="u-unstyled">
            <li class="tier-navigation__tab inline-list__item">
                <a href="#digital" class="tier-navigation__btn">Digital</a>
            </li>
            <li class="tier-navigation__tab inline-list__item">
                <a href="#community" class="tier-navigation__btn">Community</a>
            </li>
            <li class="tier-navigation__tab inline-list__item">
                <a href="#live" class="tier-navigation__btn">Live</a>
            </li>
        </ul>
    </section>

    <div class="separator"></div>
    <section id="digital" class="tier-section">
        <h2 class="section-body-heading">Digital Benefits</h2>
    </section>

    <section id="community" class="tier-section">
        <h2 class="section-body-heading">Community Benefits</h2>
    </section>

    <section id="live" class="tier-section tier-section--no-border">
        <h2 class="section-body-heading">Live Benefits</h2>
    </section>

    <div class="separator"></div>
    <section id="whats-included">
        <h2>Whats Included</h2>
        <ul class="benefits u-unstyled">
            <li class="benefits-list">
                <span class="benefits-list__item">Digital</span>
            </li>
            <li class="benefits-list">
                <span class="benefits-list__item">Community</span>
            </li>
            <li class="benefits-list">
                <span class="benefits-list__item">Live</span>
            </li>
            <li class="benefits-list benefits-list--left-aligned">
                <span class="benefits-list__item">Partner £15
                    <a class="action action--join" href="/join/partner/payment">Join</a>
                </span>
            </li>
        </ul>
    </section>

</div>

}