@import configuration.Config

<p>Unfortunately your email address has not been added to the approved staff list. This is probably for one of the following reasons:</p>

<h2>1. You are not a permanent employee or fixed term contractor</h2>

<h2>2. You have joined the Guardian in the last month</h2>

<p>We use a Google group to authenticate email addresses. The group is managed by HR and updated once a month.</p>
<p>If you've recently joined the Guardian as a permanent employee or fixed term contractor then please try and register again at the beginning of next month.</p>
<p>If you have been a permanent employee or fixed term contractor for more than six weeks please email <a href="mailto:hr.admin@@theguardian.com">hr.admin@@theguardian.com</a> and ask to be added to the staff google group - Once this is done you will be able to join.</p>

<p><strong>If you have been added to the staff google group and are still having problems please email <a href="mailto:@Config.membershipSupportStaffEmail">@Config.membershipSupportStaffEmail</a>.</strong></p>
