/* ==========================================================================
   Join Challenger
   ========================================================================== */
/**
 * TODO: A/B test challenger for Good Growth test
 * If the test is successfull these styles should be refactored into more
 * modular components.
 */

/**
 * Sections navigation
 */
.nav-sections {
    @include unstyled-list();
    overflow: auto;
    color: $black;
    background-color: color(brand-main);
    position: relative;
}
.nav-sections--sticky {
    @include mq(tablet) {
        will-change: transform;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
    }
}
.nav-sections.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav-sections__list,
.nav-sections__item {
    display: block;
    float: left;
}
.nav-sections__list {
    margin: 0;
    overflow: auto;
    list-style: none;
    counter-reset: nav-sections;

    @include mq(tablet) {
        border-left: 1px solid $white;
        margin-left: rem(gs-span(2.5));
    }
}
.nav-sections__item {
    counter-increment: nav-sections;
}
.nav-sections__link {
    @include font-smoothing();
    @include fs-data(2);
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $c-neutral1;
    padding: rem($gs-baseline) rem($gs-baseline / 2);

    @include mq(tablet) {
        min-width: rem(gs-span(3));
        @include fs-headline(2);
        font-weight: bold;
        border-right: 1px solid $white;
        padding: rem($gs-baseline) rem($gs-gutter);
    }
}
.nav-sections__link:hover,
.nav-sections__link.is-active {
    text-decoration: none;
    background-color: lighten(color(brand-main), 10%);
}
@include mq(tablet) {
    .nav-sections__link::before {
        color: $white;
        content: counter(nav-sections);
        display: block;
    }
}


.join-text-intro {
    @include fs-headline(3);
    color: color(brand-dark);

    @include mq(tablet) {
        @include fs-headline(4, true);
    }
}
.join-text-intro--block {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;

    @include mq(tablet) {
        padding-right: rem(gs-span(3));
    }
}

/* Banner
   ========================================================================== */

.hero-banner {
    color: $white;
    background-image: url(/assets/images/join-challenger/event-grid.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;

    @media screen and (min-width: map-get($mq-breakpoints, tablet)) and(min-height: 640px) {
        height: 60vh;
    }
}
.hero-banner__inner {
    position: relative;
    background-color: rgba(0,0,0,0.6);

    @include mq(tablet) {
        height: 100%;
    }
}
.hero-banner__content {
    max-width: gs-span(12);
    min-height: gs-height(6);
    padding: rem($gs-gutter / 2);

    @include mq(tablet) {
        position:  absolute;
        @include vertically-center();
        padding: rem($gs-gutter / 2) 0;
        padding-left: rem(gs-span(2) + ($gs-gutter * 2));
        max-width: 45em;
    }
}
.hero-banner__title {
    @include fs-headline(5);
    font-weight: 900;
    margin: 0 0 rem($gs-baseline / 2) 0;

    @include mq(tablet) {
        font-size: 3.5em;
        line-height: 1;
    }
}
.hero-banner__description {
    @include fs-headline(5);
    margin-bottom: rem($gs-gutter * 2);
}

/* What are members & Why Join
   ========================================================================== */

.section-what,
.section-big-ideas,
.section-why {
    position: relative;
    padding-top: rem($gs-baseline * 2);
    padding-bottom: 0;

    .listing {
        padding-bottom: 0;
    }
}
.section-what {
    padding-top: 0;
    @include mq(tablet) {
        padding-top: rem(($gs-baseline * 2) + 64px); // magic number, height of sections nav
    }
}

.what-intro,
.why-intro {
    display: block;

    @include mq(tablet) {
        width: 66%;
        margin-bottom: rem($gs-gutter);
    }
}

/* Home for big ideas
   ========================================================================== */

.big-ideas-intro {
    border-top: 1px solid $c-border-brand;
    padding-top: rem($gs-baseline / 2);
}
.big-ideas-intro__title {
    @include fs-header(4);
    margin: 0 0 rem($gs-baseline) 0;
}
.big-ideas-intro__content {
    @include fs-header(2);
    font-weight: normal;
}

/* Become a member
   ========================================================================== */

.section-join {
    @include mq(tablet) {
        padding-bottom: 0;
    }
}

.become-intro {
    display: block;

    @include mq(tablet) {
        width: 33.3%;
        margin-bottom: rem($gs-gutter);
    }
}

/* Comparison Table
   ========================================================================== */

$_table-header-width: 50px;
$_table-tier-height: 150px;

.comparison-table {
    border-bottom: 1px solid $c-neutral4;
    margin-bottom: $gs-baseline * 3;
}
.comparison-table__row {
    border-top: 1px solid $c-neutral4;
}
.comparison-table__description {
    @include fs-data(4);

    @include mq(tablet) {
        @include fs-header(2);
        font-weight: normal;
    }
}

.comparison-table__header {
    width: gs-span(1);
    position: relative;

    @include mq(mobileLandscape) {
        text-align: center;
    }
}
.comparison-table__header__name,
.comparison-table__tier__inner {
    display: block;
    background-color: $white;
    margin-left: 3px;

    @include mq(tablet) {
        width: gs-span(3) + ($gs-gutter / 4);
        margin-left: $gs-gutter;
    }

    @include mq(desktop) {
        width: gs-span(3);
    }
}
.comparison-table__header__name {
    height: $_table-tier-height + $gs-gutter;
    border-top: 5px solid;

    @include mq(tablet) {
        height: 100%;
        padding: ($gs-baseline / 2);
    }
}
.comparison-table__header__name .tier-trail {
    @include mq($until:tablet) {
        transform: rotate(-90deg) translate(50%, -43px);
        display: block;
        width: $_table-tier-height;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.comparison-table__tier {
    text-align: center;
}
.comparison-table__description__inner,
.comparison-table__tier__inner {
    padding: ($gs-baseline / 2);
    padding-bottom: $gs-gutter;
}




.checkmark,
.checkmark--true {
    @include circular();
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
    width: 24px; height: 24px;
    color: $white;
    background-color: #1f6e04;

    .icon-inline {
        @include vertically-center();
        position: relative;
        width: 14px; height: 14px;
    }
}
.checkmark--false {
    background-color: $c-neutral4;
}

