/* ==========================================================================
   Join Challenger
   ========================================================================== */
/**
 * TODO: A/B test challenger for Good Growth test
 * If the test is successfull these styles should be refactored into more
 * modular components.
 */

/**
 * Sections navigation
 */
.nav-sections {
    @include unstyled-list();
    overflow: auto;
    color: $white;
    background-color: $c-neutral1;
    position: relative;
}
.nav-sections--sticky {
    @include mq(tablet) {
        will-change: transform;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
    }
}
.nav-sections.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav-sections__list,
.nav-sections__item {
    display: block;
    float: left;
}
.nav-sections__list {
    margin: 0;
    overflow: auto;
    list-style: none;
    counter-reset: nav-sections;

    @include mq(desktop) {
        border-left: 1px solid $c-neutral2;
        margin-left: gs-span(2.5);
    }
}
.nav-sections__item {
    counter-increment: nav-sections;
}
.nav-sections__link {
    @include font-smoothing();
    @include fs-data(2);
    line-height: 1;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $white;
    padding: $gs-baseline ($gs-baseline / 2);

    @include mq(tablet) {
        min-width: rem(gs-span(3));
        @include fs-headline(2);
        font-weight: bold;
        border-right: 1px solid $c-neutral2;
        padding: ($gs-gutter / 2) $gs-gutter;
    }
}
.nav-sections__link:hover,
.nav-sections__link.is-active {
    text-decoration: none;
    background-color: $c-neutral2;
}
@include mq(tablet) {
    .nav-sections__link::before {
        color: $white;
        content: counter(nav-sections);
        display: block;
    }
}


.join-text-intro {
    @include fs-headline(3);

    @include mq(tablet) {
        @include fs-headline(4, $size-only: true);
    }
}
.join-text-intro--block {
    padding-top: rem($gs-baseline / 2);
    border-top: 1px solid $c-border-brand;

    @include mq(tablet) {
        padding-right: rem(gs-span(3));
    }
}

/* Banner
   ========================================================================== */

.hero-banner {
    color: $white;
    background-image: url(/assets/images/join-challenger/event-grid.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 60vh;
}
.hero-banner__inner {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
}
.hero-banner__content {
    padding: ($gs-gutter / 2);
    position: absolute;
    bottom: 0;
    color: $black;
    background-color: rgba(255,255,255,0.85);

    @include clip-path('top-slice') {
        padding-top: $gs-gutter * 2;
    }

    @include mq(tablet) {
        max-width: gs-span(10);
        padding: $gs-gutter ($gs-gutter * 2);
        padding-left: (gs-span(2) + ($gs-gutter * 2));
    }
}
.hero-banner__title {
    @include fs-headline(5);
    font-weight: 900;
    margin: 0 0 rem($gs-baseline / 2) 0;

    @include mq(tablet) {
        font-size: 3em;
        line-height: 1;
    }
}
.hero-banner__description {
    @include fs-headline(3);
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        @include fs-headline(5, $size-only: true);
    }
}

/* What are members & Why Join
   ========================================================================== */

.section-what,
.section-big-ideas,
.section-why {
    position: relative;
    padding-top: rem($gs-baseline * 2);
    padding-bottom: 0;

    .listing {
        padding-bottom: 0;
    }
}
.section-what {
    padding-top: 0;
    @include mq(tablet) {
        padding-top: rem(($gs-baseline * 2) + 64px); // magic number, height of sections nav
    }
}

.what-intro,
.why-intro {
    display: block;

    @include mq(tablet) {
        width: 66%;
        margin-bottom: rem($gs-gutter);
    }
}

/* Home for big ideas
   ========================================================================== */

.big-ideas-intro {
    border-top: 1px solid $c-border-brand;
    padding-top: rem($gs-baseline / 2);
}
.big-ideas-intro__title {
    @include fs-header(4);
    margin: 0 0 rem($gs-baseline) 0;
}
.big-ideas-intro__content {
    @include fs-header(2);
    font-weight: normal;
}

/* Become a member
   ========================================================================== */

.section-join {
    @include mq(tablet) {
        padding-bottom: 0;
    }
}

$_comparisonWidth: gs-span(6);

.become-intro {
    display: block;

    @include mq(tablet) {
        width: 33.3%;
        margin-bottom: rem($gs-gutter);
    }
}

.comparison-group {
    overflow: scroll;
    margin-bottom: rem($gs-baseline);
    @include mq(tablet) {
        overflow: auto;
    }
}
.comparison-group__bookend {
    @include clearfix();
    margin-left: rem($_comparisonWidth);
}
.comparison-group__bookend__column {
    float: left;
    width: 220px;
    margin-left: $gs-gutter;
}

.comparison-header {
    position: relative;
    border-top: 5px solid;
    background-color: $white;
    border-color: $c-neutral4;
}
.comparison-header__inner {
    padding: rem($gs-gutter / 4);
    padding-bottom: 0;
}
.comparison-header__tier__title {
    padding-bottom: rem($gs-gutter);
}
.comparison-header__tier__pricing {
    border-top: 1px solid $c-neutral4;
}

.comparison-table {
    border-bottom: 1px solid $c-neutral4;
}
.comparison-table__row {
    border-top: 1px solid $c-neutral4;
}
.comparison-table__description {
    @include fs-header(2);
    font-weight: normal;
    width: rem($_comparisonWidth);
}
.comparison-table__tier {
    text-align: center;
}
.comparison-table__tier__inner {
    display: block;
    background-color: $white;
    margin-left: rem($gs-gutter);
}
.comparison-table__description__inner,
.comparison-table__tier__inner {
    padding: rem($gs-baseline / 2) 0 rem($gs-gutter);
}
.comparison-group__bookend__trail {
    clear: both;
    margin-left: rem($gs-gutter);
    padding: rem($gs-gutter) 0 0;
}

.comparison-action {
    background-color: $white;
    padding: rem($gs-gutter) rem($gs-baseline / 2) rem($gs-gutter / 2);
}

.checkmark,
.checkmark--true {
    @include circular();
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
    width: 26px; height: 26px;
    color: $white;
    background-color: #1f6e04;

    .icon-inline {
        @include vertically-center();
        position: relative;
        width: 14px; height: 14px;
    }
}
.checkmark--false {
    background-color: $c-neutral4;
}
