/* ==========================================================================
   Tones
   ========================================================================== */

.tone-masterclasses {
    background-color: $c-tone-masterclass;

    a {
        border-bottom-color: transparentize($c-neutral3, .5);
    }
    a:hover {
        border-bottom-color: $c-neutral1;
    }
}
.tone-guardian-live {
    color: $white;
    background-color: $c-tone-live;

    a {
        border-bottom-color: transparentize($white, .5);
    }
    a:hover {
        border-bottom-color: $white;
    }
}

.tone-masterclasses--accent {
    background-color: $c-tone-masterclass-accent;
}
.tone-guardian-live--accent {
    color: $white;
    background-color: $c-tone-live-accent;
}

.tone-masterclasses--border {
    border-color: $c-tone-masterclass;
}
.tone-guardian-live--border {
    border-color: $c-tone-live;
}

.tone-masterclasses--trans {
    background-color: transparentize($c-tone-masterclass, .1);
}
.tone-guardian-live--trans {
    color: $white;
    background-color: transparentize($c-tone-live, .1);
}

.tone-friend {
    color: $white;
    background-color: $c-tone-friend;
}
.tone-partner {
    background-color: $c-tone-partner;
}
.tone-patron {
    background-color: $c-tone-patron;
}

.tone-friend--border {
    border-color: $c-tone-friend;
}
.tone-partner--border {
    border-color: $c-tone-partner;
}
.tone-patron--border {
    border-color: $c-tone-patron;
}

.tone-friend--fill {
    fill: $c-tone-friend;
}
.tone-partner--fill {
    fill: $c-tone-partner;
}
.tone-patron--fill {
    fill: $c-tone-patron;
}

.tone-tint {
    background-color: $c-tone-tint;
}
