/* ==========================================================================
   Tones
   ========================================================================== */

/* Brand
   ========================================================================== */

.tone-brand,
.tone-trans-brand {
    color: $c-neutral1;
    background-color: $mem-brandBlue;
}
.tone-trans-brand {
    background-color: transparentize($mem-brandBlue, .1);
}

/* Dark variant */
.tone-brand-dark,
.tone-trans-brand-dark {
    color: $white;
    background-color: $mem-brandBlueDark;
    a {
        border-bottom-color: transparentize($white, .5);
    }
    a:hover {
        border-bottom-color: $white;
    }
}
.tone-trans-brand-dark {
    background-color: transparentize(darken($mem-brandBlueDark, 10%), .1);
}

/* Live
   ========================================================================== */

.tone-guardian-live,
.tone-accent-guardian-live,
.tone-trans-guardian-live {
    color: $white;
    background-color: tone('live');
    a {
        border-bottom-color: transparentize($white, .5);
    }
    a:hover {
        border-bottom-color: $white;
    }
}
.tone-accent-guardian-live {
    background-color: tone('live', 'accent');
}
.tone-trans-guardian-live {
    background-color: transparentize(tone('live'), .1);
}
.tone-border-guardian-live {
    border-color: tone('live');
}
.tone-action-guardian-live {
    color: $white;
    background-color: tone('live');
    &:hover, &:focus, &:active {
        background-color: darken(tone('live'), 5%);
    }
}

/* Masterclasses
   ========================================================================== */

.tone-masterclasses,
.tone-accent-masterclasses,
.tone-trans-masterclasses {
    color: $c-neutral1;
    background-color: tone('masterclass');
    a {
        border-bottom-color: transparentize($c-neutral3, .5);
    }
    a:hover, a:active {
        border-bottom-color: $c-neutral1;
    }
}
.tone-accent-masterclasses {
    background-color: tone('masterclass', 'accent');
}
.tone-trans-masterclasses {
    background-color: transparentize(tone('masterclass'), .1);
}
.tone-border-masterclasses {
    border-color: tone('masterclass');
}
.tone-action-masterclasses {
    color: $c-neutral1;
    background-color: tone('masterclass');
    &:hover, &:focus, &:active {
        background-color: darken(tone('masterclass'), 5%);
    }
}

/* Discover
   ========================================================================== */

.tone-discover,
.tone-accent-discover,
.tone-trans-discover {
    color: $white;
    background-color: tone('discover');
    a {
        border-bottom-color: transparentize($white, .5);
    }
    a:hover {
        border-bottom-color: $white;
    }
}
.tone-accent-discover {
    background-color: tone('discover', 'accent');
}
.tone-trans-discover {
    background-color: transparentize(tone('discover'), .1);
}
.tone-border-discover {
    border-color: tone('discover');
}
.tone-action-discover {
    color: $white;
    background-color: tone('discover');
    &:hover, &:focus, &:active {
        background-color: darken(tone('discover'), 5%);
    }
}
.tone-text-discover {
    color: tone('discover', 'contrast');
    &:active {
        color: $white;
    }
}

/* Tiers
   ========================================================================== */

.tone-friend {
    color: $white;
    background-color: tone('friend');
}
.tone-color-friend {
    color: tone('friend');
}
.tone-border-friend {
    border-color: tone('friend');
}
.tone-fill-friend {
    fill: tone('friend');
}

.tone-partner {
    background-color: tone('partner');
}
.tone-color-partner {
    color: tone('partner');
}
.tone-border-partner {
    border-color: tone('partner');
}
.tone-fill-partner {
    fill: tone('partner');
}

.tone-patron {
    background-color: tone('patron');
}
.tone-color-patron {
    color: tone('patron');
}
.tone-border-patron {
    border-color: tone('patron');
}
.tone-fill-patron {
    fill: tone('patron');
}

/* Neutral
   ========================================================================== */

.tone-white {
    background-color: $white;
}
.tone-tint {
    background-color: $c-neutral7;
}
