.container {
    position: relative;
    overflow: hidden;
    margin-top: rem($gs-baseline);

    @include mq(tablet) {
        margin-top: rem($gs-baseline * 2);
    }
}

.container__header {
    position: relative;
}

.container__toggle,
.item__live-indicator,
.item__meta,
.collection__show-more {
    @include f-data;
}

.item {
    padding-bottom: rem($gs-gutter);
    position: relative;
    @include mq(tablet) {
        padding-left: rem($gs-gutter / 2);
        padding-right: rem($gs-gutter / 2);
        padding-bottom: rem(18px);
        display: inline-block;
        vertical-align: top;
        @include vertical-item-separator;
    }
}

.item__link--no-border {
    border-width: 0;
}

.item__image-container {
    margin-top: rem(4px);

    .js-off & {
        display: none;
    }
}

.item__title {
    position: relative;
    padding-bottom: rem($gs-baseline);
    @include fs-headline(1, true);
    word-wrap: break-word;
    @include f-headline;
}

.item__list-element {
    @include fs-bodyCopy(1);
    list-style: none;
    > li {
        margin: $gs-baseline 0;
        @include faux-bullet-point(#333333, $right-space: 4px);
    }
}

.item__byline {
    @include fs-headline(2);
    margin-bottom: rem($gs-baseline / 3);
}

.item__standfirst,
.item__meta {
    color: $c-neutral2;
}

.item__meta {
    position: absolute;
    bottom: 0;
    @include fs-data(2, $size-only: true);

    @include mq(tablet) {
        @include fs-data(3, $size-only: true);
    }

    .item__timestamp,
    .trail__count {
        position: relative;
        float: left;

        i {
            margin: 0;
            position: absolute;
        }
    }
    .item__timestamp {
        min-width: rem(50px - $gs-gutter / 2 - 14px);
        padding-right: rem($gs-gutter / 2);
        padding-left: rem(14px);

        i {
            left: 0;
            top: rem(3px);

            @include mq(tablet) {
                top: rem(2px);
            }
        }
    }
    .trail__count {
        padding-left: rem(18px);
        top: 0;

        a {
            line-height: inherit;
            color: inherit;
        }
        i {
            top: rem(3px);
            left: 0;
        }
    }
}
