/* ==========================================================================
   State - Responsive Utilities
   ========================================================================== */

.hidden-mobile {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.hidden-mobile-portrait {
    @include mq($until: mobileLandscape) {
        display: none !important;
    }
}

.hidden-tablet {
    @include mq($until: tablet) {
        display: none !important;
    }
}
.hidden-desktop {
    @include mq($until: desktop) {
        display: none !important;
    }
}

.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}

.until-desktop {
    @include mq($from: desktop) {
        display: none !important;
    }
}

.tablet-only {
    @include mq($until: tablet) {
        display: none !important;
    }
    @include mq($from: desktop) {
        display: none !important;
    }
}

.mobile-portrait-only {
    @include mq(mobileLandscape) {
        display: none !important;
    }
}
