<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <% include partials/header %>

        <ul>
            <li>
                <a href="/stripe">Stripe proto</a>
            </li>
        </ul>
    </body>
</html>
