<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <% include partials/css %>

    </head>
    <body>

        <% include partials/header %>

        <ul>
            <li>
                <a href="/stripe">Stripe proto</a>
            </li>
            <li>
                <a href="/subscribe">Go Cardless subscribe</a>
            </li>
            <li>
                <a href="/bill">Go Cardless bill</a>
            </li>
        </ul>

        <% include partials/footer %>

    </body>
</html>
