<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/lib/require.js" data-main="javascripts/stripe-main"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> integration</p>
  </body>
</html>
