@main("Welcome to Play") {

    <h1>Stripe integration</h1>

    <p class="user"></p>

    <form action="" method="POST" id="payment-form" class="form">
        <span class="payment-errors"></span>

        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number" class="cc-num" placeholder="xxxx xxxx xxxx xxxx"/>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc" class="cc-cvc" placeholder="CVC"/>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" data-stripe="exp-month" class="cc-exp-month" placeholder="MM"/>
            </label>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year" class="cc-exp-year" placeholder="YYYY"/>
        </div>

        <button type="submit">Submit Payment</button>
    </form>

}
