<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <h1><%= title %></h1>
    <p><%= title %> integration</p>
    <p><%= message %></p>

    <form action="/subscribe" method="POST">
        <label for="email">Enter your email to subscribe
            <input type="email" name="email" id="email" placeholder="email address">
        </label>
        <button>Submit</button>
    </form>
    </form>
    <% include partials/footer %>
  </body>
</html>
