<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% include partials/header %>
        <h2><%= message %></h2>
        <% include partials/footer %>
    </body>
</html>
