@import abtests.BundleVariant
@import views.support.Asset

@(bundleVariant: BundleVariant)
<section class="bundle-section">
    <div class="bundle-offering-b l-constrained">
        <div class="bundle-offering-b__subscribe">
            <div class="bundle-offering-b__line"></div>
            <h1>Choose your Digital or Print package</h1>
            <p>Enjor a richer Guardian experience, knowing you've helped to bring every word to the page</p>
            <div class="bundle-offering-b__subscribe__offer">
                <div class="bundle-offering-b__subscribe__offer__content">
                    <h2>Supporter</h2>
                    <span class="bundle-offering-b__subscribe__offer__price-description">£7.50/month</span>
                    <ul class="bundle-offering-b__subscribe__offer__list">
                        <li class="bundle-offering-b__subscribe__offer__list__item">
                            <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                            @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                                @icon
                            }
                            </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                            <h1>Ad-free</h1>
                            <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                        </div>
                        </li>
                        <li class="bundle-offering-b__subscribe__offer__list__item">
                            <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                            @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                                @icon
                            }
                            </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                                <h1>Commenting</h1>
                                <p>Discussion threads on articles are restricted to those who become Supporters</p>
                            </div>
                        </li>
                    </ul>
                    @fragments.bundle.bundleButton("Find out more", routes.Bundle.thankYou(bundleVariant, "Digital Subscription").url,"")
                </div>
            </div><div class="bundle-offering-b__subscribe__offer">
            <div class="bundle-offering-b__subscribe__offer__content">
                <h2>Digital Supporter</h2>
                <span class="bundle-offering-b__subscribe__offer__price-description">£14.00/month</span>
                <ul class="bundle-offering-b__subscribe__offer__list">

                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Ad-free</h1>
                        <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Commenting</h1>
                        <p>Discussion threads on articles are restricted to those who become Supporters</p>
                    </div>
                    </li>

                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-tabletedition")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Tablet edition</h1>
                        <p>Your daily newspaper optimised for tablet</p>
                    </div>
                    </li>
                </ul>
                @fragments.bundle.bundleButton("Find out more", routes.Bundle.thankYou(bundleVariant, "Digital Subscription").url,"")
            </div>
        </div><div class="bundle-offering-b__subscribe__offer">
        <div class="bundle-offering-b__subscribe__offer__content">
            <h2>Print&Digital Supporter</h2>
            <span class="bundle-offering-b__subscribe__offer__price-description">from £23.40/month</span>
            <ul class="bundle-offering-b__subscribe__offer__list">
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Ad-free</h1>
                    <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Commenting</h1>
                    <p>Discussion threads on articles are restricted to those who become Supporters</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-tabletedition")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Tablet edition</h1>
                    <p>Your daily newspaper optimised for tablet</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-newspaper")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Print</h1>
                    <p>Pick the package you want: Saturday, Sunday, Weekly, Weekend or Everyday.  Save up to 36% on the Guardian and Observer newspapers</p>
                </div>
                </li>
            </ul>
            @fragments.bundle.bundleButton("See options","#","", chevron = true)
            <div class="bundle-offering-b__subscribe__offer__print-options">
                <ul>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option bundle-offering-b__subscribe_option--selected">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Saturday</h1>
                            <p></p>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £23.40/month
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>The Guardian Weekly</h1>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £23.40/month
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Weekend</h1>
                            <p>Saturday & Sunday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £26.00/month
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Saturday & The&nbsp;Guardian Weekly</h1>
                            <p></p>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £28.60/month
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Sixday</h1>
                            <p>Monday - Saturday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £88.88/month
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Everyday</h1>
                            <p>Monday - Sunday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                                    £99.99/month
                    </div>
                    </li>
                </ul>
                @fragments.bundle.bundleButton("£23.40/month","#","")
            </div>
        </div>
        </div>
    </div>
    <div class="bundle-offering-b__give">
        <div class="bundle-offering-b__line"></div>
        <div class="bundle-offering-b__give__content">
                <h1>Choose to support us with a one-off contribution</h1>
                <div class="bundle-offering-b__give__content__body">
                    <p class="bundle-offering-b__give__content__body__description">Fund our journalism on your own terms, with a one-off payment. Every penny goes to supporting our fearless, in depth reporting</p>
                    <div class="bundle-offering-b__give__one-off-button">
                        @fragments.bundle.bundleButton("Contribute now","#","", secondary = true)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


