@import abtests.BundleVariant

@(bundleVariant: BundleVariant)
<section class="bundle-section">
    <div class="bundle-offering-a l-constrained">
        <div class="bundle-offering-a__give">
            <div class="bundle-offering-a__give__content">
                <h1>Give</h1>
                <div class="bundle-offering-a__give__content__body">
                    <p class="bundle-offering-a__give__content__body__description">On your terms by making a monthly&nbsp;contribution</p>
                    <ul class="bundle-offering-a__give__content__body__list">
                        <li class="bundle-offering-a__give__content__body__list__item">
                            <h1>Support guardian journalism</h1>
                            <p>If you value our independent journalism, please help to fund it by becoming a Supporter</p>
                        </li>
                    </ul>
                    @fragments.bundle.bundleButton("Choose an amount","#","")
                </div>
            </div>
        </div><div class="bundle-offering-a__subscribe">
            <h1>Subscribe</h1>
            <div class="bundle-offering-a__subscribe__offer">
                <div class="bundle-offering-a__subscribe__offer__content">
                    <h2>Digital subscription</h2>
                    <span class="bundle-offering-a__subscribe__offer__price-description"><span>£14.00</span>/month</span>

                    <ul class="bundle-offering-a__subscribe__offer__list">
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Ad-free</h1>
                            <p>Experience our website and apps without adverts</p>
                        </li>
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Commenting</h1>
                            <p>To take part in debates we now ask you to become a supporter</p>
                        </li>
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Tablet edition</h1>
                            <p>Your daily newspaper optimised for tablet and downloaded every morning</p>
                        </li>
                    </ul>
                    @fragments.bundle.bundleButton("Find out more", "/bundles/thankyou?intcmp="+ bundleVariant.testId,"")
                </div>
            </div><div class="bundle-offering-a__subscribe__offer">
                <div class="bundle-offering-a__subscribe__offer__content">
                    <h2>Print + Digital subscription</h2>
                    <span class="bundle-offering-a__subscribe__offer__price-description">from <span>£23.40</span>/month</span>
                    <ul class="bundle-offering-a__subscribe__offer__list">
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Ad-free</h1>
                            <p>Experience our website and apps without adverts</p>
                        </li>
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Commenting</h1>
                            <p>To take part in debates we now ask you to become a supporter</p>
                        </li>
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Tablet edition</h1>
                            <p>Your daily newspaper optimised for tablet and downloaded every morning</p>
                        </li>
                        <li class="bundle-offering-a__subscribe__offer__list__item">
                            <h1>Print</h1>
                            <p>Pick the package you want: Saturday, Sunday, Weekly, Weekend or Everyday. Save up to 36% on the Guardian and Observer newspapers</p>
                        </li>
                    </ul>
                    @fragments.bundle.bundleButton("See options","#","")
                </div>
            </div>
        </div>
    </div>
</section>


