@import model.OrientatedImages
@import com.gu.i18n.CountryGroup
@import com.gu.memsub.subsv2.MonthYearPlans
@import com.gu.memsub.subsv2.CatalogPlan.PaidMember

@(image: OrientatedImages, mainTitle: Html, tagLine: Html, paragraph: Html)

<section class="bundle-section">
    <div class="bundle-header__main">
        <div class="l-constrained">
            <div class="bundle-header__main__content">
                <h1>@mainTitle</h1>
                <p>@tagLine</p>
            </div><div class="bundle-header__main__img">
                <img src="@image.landscape.defaultImage">
            </div>
        </div>
    </div>
    <div class="l-constrained">
        <div class="bundle-header__secondary">
            <div class="bundle-header__secondary__content">
                <p>@paragraph</p>
            </div>
        </div>
    </div>
</section>

