@(  whySupportImage: model.OrientatedImages,
    whySupportText: Html,
    contributionText: Html
)(implicit token: play.filters.csrf.CSRF.Token)

<section class="bundle-section">
    <div class="bundle-row-c">
        <div class="l-constrained">
            <div class="bundle-column--left-narrow--secondary-padding">
                <img class="support-us__img" src="http://placehold.it/440x650">
            </div><div class="bundle-column--right-wide">
                <h1 class="support-us__title">Why do we need Supporters?</h1>
            </div>
        </div>
        <div class="support-us__body">
            <div class="l-constrained">
                <div class="bundle-column--left-narrow"></div><div class="bundle-column--right-wide">
                <div class="support-us__text">
                    @whySupportText
                    </div>
                </div>
            </div>
        </div>
        <div class="l-constrained bundle-row-b">
            <div class="bundle-column--left-narrow"></div><div class="bundle-column--right-wide">
                <div class="support-us__one-off">
                    <h1>Make a one-off contribution</h1>
                    <div class="support-us__one-off__text">
                        @contributionText
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
