@import abtests.BundleVariant

@(bundleVariant: BundleVariant)
<section class="bundle-section">
    <div class="l-constrained">
        <div class="bundle-column--left-narrow">
            <div class="give-offering">
                <h1 class="offering__title">Give</h1>
                <div class="give__body">
                    <p class="give__description">On your terms by making a monthly&nbsp;contribution</p>
                    <ul class="offering__features-list">
                        <li class="offering__feature">
                            <h1>Support guardian journlism</h1>
                            <p>If you value our independent journalism, please help to fund it by becoming a Supporter</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div><div class="bundle-column--right-wide">
            <h1 class="offering__title">Subscribe</h1>
            <div class="offering-column--left-column">
                <h2 class="option__title">Digital subscription</h2>
                <span class="offering__price-description"><span class="offering__price">£14.00</span>/month</span>
                <ul class="offering__features-list">
                    <li class="offering__feature">
                        <h1>Ad-free</h1>
                        <p>Experience our website and apps without adverts</p>
                    </li>
                    <li class="offering__feature">
                        <h1>Commenting</h1>
                        <p>To take part in debates we now ask you to beocome a supporter</p>
                    </li>
                    <li class="offering__feature">
                        <h1>Table edition</h1>
                        <p>Your daily newspaper optimised for tablet and downloaded every morning</p>
                    </li>
                </ul>
            </div><div class="offering-column">
                <h2 class="option__title">Print + Digital subscription</h2>
                <span class="offering__price-description">from <span class="offering__price">£23.40</span>/month</span>
                <ul class="offering__features-list">
                    <li class="offering__feature">
                        <h1>Ad-free</h1>
                        <p>Experience our website and apps without adverts</p>
                    </li>
                    <li class="offering__feature">
                        <h1>Commenting</h1>
                        <p>To take part in debates we now ask you to beocome a supporter</p>
                    </li>
                    <li class="offering__feature">
                        <h1>Table edition</h1>
                        <p>Your daily newspaper optimised for tablet and downloaded every morning</p>
                    </li>
                    <li class="offering__feature">
                        <h1>Print</h1>
                        <p>Pick teh package you want: Saturday, Sunday, Weekly, Weekend or Everyday. Save up to 36% on the Guardian and Observer newspaper</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


