@import abtests.BundleVariant
@import views.support.Asset
@import abtests.BundleTier._

@(bundleVariant: BundleVariant)
<section class="bundle-section">
    <div class="bundle-offering-b l-constrained">
        <div class="bundle-offering-b__subscribe">
            <hr class="bundle-offering-b__line">
            <h1 class="bundle-offering-b__subscribe__header">Choose your Digital or Print package</h1>
            <p class="bundle-offering-b__subscribe__description">Enjoy a richer Guardian experience, knowing you've helped to bring every word to the page</p>
            <div class="bundle-offering-b__subscribe__offer">
                <div class="bundle-offering-b__subscribe__offer__content">
                    <h2>Supporter</h2>
                    <span class="bundle-offering-b__subscribe__offer__price-description">@bundleVariant.prettyMonthlyPrice(Supporter)</span>
                    <ul class="bundle-offering-b__subscribe__offer__list">
                        <li class="bundle-offering-b__subscribe__offer__list__item">
                            <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                            @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                                @icon
                            }
                            </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                            <h1>Ad-free</h1>
                            <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                        </div>
                        </li>
                        <li class="bundle-offering-b__subscribe__offer__list__item">
                            <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                            @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                                @icon
                            }
                            </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                                <h1>Commenting</h1>
                                <p>Discussion threads on articles are restricted to those who become Supporters</p>
                            </div>
                        </li>
                    </ul>
                    @fragments.bundle.bundleButton("Find out more", routes.Bundle.thankYou(bundleVariant, "[B Design] Supporter").url)
                </div>
            </div><div class="bundle-offering-b__subscribe__offer">
            <div class="bundle-offering-b__subscribe__offer__content">
                <h2>Digital Supporter</h2>
                <span class="bundle-offering-b__subscribe__offer__price-description">@bundleVariant.prettyMonthlyPrice(DigitalPack)</span>
                <ul class="bundle-offering-b__subscribe__offer__list">

                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Ad-free</h1>
                        <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Commenting</h1>
                        <p>Discussion threads on articles are restricted to those who become Supporters</p>
                    </div>
                    </li>

                    <li class="bundle-offering-b__subscribe__offer__list__item">
                        <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                        @for(icon <- Asset.inlineSvg("bundle-tabletedition")) {
                            @icon
                        }
                        </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                        <h1>Tablet edition</h1>
                        <p>Your daily newspaper optimised for tablet</p>
                    </div>
                    </li>
                </ul>
                @fragments.bundle.bundleButton("Find out more", routes.Bundle.thankYou(bundleVariant, "[B Design] Digital Subscription").url)
            </div>
        </div><div class="bundle-offering-b__subscribe__offer">
        <div class="bundle-offering-b__subscribe__offer__content">
            <h2>Print&amp;Digital Supporter</h2>
            <span class="bundle-offering-b__subscribe__offer__price-description">from @bundleVariant.prettyMonthlyPrice(Saturday)</span>
            <ul class="bundle-offering-b__subscribe__offer__list">
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-adfree")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Ad-free</h1>
                    <p>Faster-loading pages and a clearer reading experience on our website and app</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-commenting")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Commenting</h1>
                    <p>Discussion threads on articles are restricted to those who become Supporters</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-tabletedition")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Tablet edition</h1>
                    <p>Your daily newspaper optimised for tablet</p>
                </div>
                </li>
                <li class="bundle-offering-b__subscribe__offer__list__item">
                    <div class="bundle-offering-b__subscribe__offer__list__item__icon">
                    @for(icon <- Asset.inlineSvg("bundle-newspaper")) {
                        @icon
                    }
                    </div><div class="bundle-offering-b__subscribe__offer__list__item__content">
                    <h1>Print</h1>
                    <p>Pick the package you want: Saturday, Sunday, Weekly, Weekend or Everyday. Save up to 36% on the Guardian and Observer newspapers</p>
                </div>
                </li>
            </ul>
            @fragments.bundle.bundleButton("See options","#", Option("js-see-more-button"), chevron = true)
            <div class="bundle-offering-b__subscribe__offer__print-options">
                <ul>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option subscribe_option--selected">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Saturday</h1>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(Saturday)
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>The Guardian Weekly</h1>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(GuardianWeekly)
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Weekend</h1>
                            <p>Saturday &amp; Sunday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(Weekend)
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Saturday &amp; The&nbsp;Guardian Weekly</h1>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(SatGW)
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Sixday</h1>
                            <p>Monday - Saturday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(SixDay)
                    </div>
                    </li>
                    <li class="bundle-offering-b__subscribe__offer__print-options__option">
                        <div class="bundle-offering-b__print-option__description">
                            <h1>Everyday</h1>
                            <p>Monday - Sunday</p>
                        </div><div class="bundle-offering-b__print-option__price">
                            @bundleVariant.prettyMonthlyPrice(SevenDay)
                    </div>
                    </li>
                </ul>
                @fragments.bundle.bundleButton(bundleVariant.prettyMonthlyPrice(Supporter), routes.Bundle.thankYou(bundleVariant, "[B Design] Print Digital Subscription-Saturday").url, Option("js-print-button"))
            </div>
        </div>
        </div>
    </div>
        <div class="bundle-offering-b__give">
            <hr class="bundle-offering-b__line">
            <h1 class="bundle-offering-b__give__heading">Choose to support us with a one-off contribution</h1>
            <p class="bundle-offering-b__give__description">Fund our journalism on your own terms, with a one-off payment. Every penny goes to supporting our fearless, in depth reporting</p>
            @fragments.bundle.bundleButton("Contribute now",s"https://contribute.theguardian.com?INTCMP=${bundleVariant.testId}", secondary = true)
        </div>
    </div>
</section>


