@import views.support.Asset
@import abtests.BundleVariant

@(bundleVariant: BundleVariant, selectedOption: String, className: Option[String] = None, chevron: Boolean = false, secondary: Boolean = false, returnUrl: Option[String] = None)

<div class="bundle-thankyou__explainer-content">
    <p>We are currently evaluating different ways in which we allow readers to support the Guardian.
        As a visitor to the Guardian homepage, you were selected to take part in one of these tests.
        If you have any feedback on the product you were shown today, do let us know below.
    </p>
    <div class="bundle-thankyou__email-form  bundle-thankyou-js">
        <script type="text/javascript" src="https://guardiannewsampampmedia.formstack.com/forms/js.php/membership_team__feedback_form?bundle_variant=@bundleVariant.testId&selected_option=@selectedOption"></script><noscript><a href="https://guardiannewsampampmedia.formstack.com/forms/membership_team__feedback_form?bundle_variant=@bundleVariant.testId&selected_option=@selectedOption" title="Online Form">Online Form - Membership team - feedback form</a></noscript><div style="display:none; text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,2583327" title="Web Form Generator">Web Form Generator</a></div>
    </div>
    <p>You can also support the Guardian right now by:</p>
    <ul>
        <li>
            <p><a href="/uk?INTCMP=@bundleVariant.testId">Subscribing to our current digital pack</a></p>
        </li>
        <li>
            <p><a href="/uk?INTCMP=@bundleVariant.testId">Making a contribution</a></p>
        </li>
    </ul>
    <p>Or you can <a href="https://www.theguardian.com">return to the front page to continue reading</a></p>
</div>


