@import views.support.Asset
@import abtests.BundleVariant

@(bundleVariant: BundleVariant, className: Option[String] = None, chevron: Boolean = false, secondary: Boolean = false, returnUrl: Option[String] = None)

<div class="bundle-thankyou__explainer-content">
    <p>Don't worry, nothing has broken.</p>
    <p>We have a number of tests underway that help us determine which products our readers may enjoy, and you were selected to participate in one of these tests.</p>
    <p>The digital subscription product you selected is not yet available but your interest in it has been recorded. From here you can:</p>
    <ul>
        <li>
            <a href="https://support.theguardian.com/uk?INTCMP=@bundleVariant.testId">Find out more about the subscription products that are currently available</a>
        </li>
        <li>
            <a href="https://support.theguardian.com/uk?INTCMP=@bundleVariant.testId">Make a one-off, or a recurring financial contribution</a>
        </li>
        <li>
            <a href="https://www.theguardian.com?INTCMP=@bundleVariant.testId">Continue reading the guardian</a>
        </li>
    </ul>
    <p>
        Thank you for your participation. We hope to be able to provide the features you are interested in soon.
    </p>
</div>


