@import views.support.Links.BasicLink
@(navItems: Seq[BasicLink] = List(
    BasicLink("https://theguardian.com/uk", "news"),
    BasicLink("https://theguardian.com/uk/commentisfree", "opinion"),
    BasicLink("https://theguardian.com/uk/sport", "sport"),
    BasicLink("https://theguardian.com/uk/culture", "arts"),
    BasicLink("https://theguardian.com/uk/lifeandstyle", "life")
))
<div class="guardian-header__navigation">
    <ul class="u-unstyled guardian-header__navigation-list">
        @for(navItem <- navItems) {
            <li><a href="@navItem.href">@navItem.title</a></li>
        }
    </ul>
</div>
