@(path: String)

<nav>
    <ul class="menu">
        @for((href, text) <- Seq((routes.Staff.eventOverview, "Guardian Live Events"),
            (routes.Staff.localOverview, "Local Events"),
            (routes.Staff.masterclassOverview, "Masterclass Courses"),
            (routes.Staff.eventDetails, "Event Details"))) {

            <li class="menu__tabs@if(path == href.toString) { menu-highlight}">
                <a href="@href" class="menu__link">@text</a>
            </li>
        }
    </ul>
    <div class="menu-separator"></div>
</nav>
